<h2 id="login-title">{{account_login_page_title}}</h2>

<div class="container login">
    <div class="row-fluid">
        <div class="span6 login-tuleap">
            <h3>{{account_login_login_with_tuleap}}</h3>
            <form action="/account/login.php" method="post" name="form_login" autocomplete="off">
                <input type="hidden" name="return_to" value="{{{return_to}}}">
                <input type="hidden" name="pv" value="{{pv}}">

                <div class="control-group">
                    <label class="control-label" for="form_loginname">{{account_login_name}}</label>
                    <div class="controls">
                        <input type="text" id="form_loginname" name="form_loginname" value="{{form_loginname}}">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="form_pw">{{account_login_password}}</label>
                    <div class="controls">
                        <input type="password" id="form_pw" name="form_pw" value="">
                    </div>
                </div>

                {{#toggle_ssl}}
                <label>
                <input type="checkbox" name="stay_in_ssl" value="1" checked="checked" />
                {{{stay_in_ssl}}}
                </label>
                {{/toggle_ssl}}

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="login" value="{{account_login_login_btn}}" class="btn btn-primary">
                    </div>
                </div>

                {{#allow_password_recovery}}
                <p class="row-fluid">
                    <a href="lostpw.php">{{account_login_lost_pw}}</a>
                </p>
                {{/allow_password_recovery}}
            </form>
        </div>

        <div class="span6">
            {{> openid_selectors }}
        </div>
    </div>

    <p id="login-footer">
        <span class="highlight"><strong>{{cookies}}</strong></span>
        <br/><br/>
        <span>{{{help}}}</span>
    </p>
</div>


<script type="text/javascript">
<!--
    document.form_login.form_loginname.focus();
//-->
</script>