<div>
    <h3>{{account_login_login_with_openid}}</h3>

    <a href="{{{openid_google}}}" class="openid-provider" id="login-google"></a>
    <a href="{{{openid_yahoo}}}" class="openid-provider" id="login-yahoo"></a>
    <a href="#" class="openid-provider" id="login-openid"></a>
    <div id="login-openid-field">
        <input id="login-openid-input" type="text">
        <a class="btn" href="#">{{openid_submit}}</a>
    </div>
</div>
