<h2 id="login-title">{{account_login_pair_openid_title}}</h2>

<div class="container login">
    <div class="row-fluid">
        <div class="span12">
            {{> openid_selectors }}
        </div>
    </div>
</div>