<h1>{{# dgettext }} tuleap-botmattermost | Bot Mattermost configuration {{/ dgettext }}</h1>
<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title"><i class="tlp-pane-title-icon fa fa-list"></i> {{# dgettext }} tuleap-botmattermost | Bots list {{/ dgettext }}</h1>
        </div>
        <section class="tlp-pane-section">
            <div class="tlp-table-actions">
                <button id="button-modal-add-bot" type="button" data-target="modal-add-bot" data-test="add-bot" class="tlp-button-primary">
                    <i class="fa fa-plus tlp-button-icon"></i> {{# dgettext }} tuleap-botmattermost | Add bot {{/ dgettext }}
                </button>
                {{> modals/modal-add-bot }}
            </div>
            <table id="bot_list" data-test="bot-list" class="tlp-table">
                <thead>
                <tr>
                    <th>{{# dgettext }} tuleap-botmattermost | Name {{/ dgettext }}</th>
                    <th>{{# dgettext }} tuleap-botmattermost | Webhook URL {{/ dgettext }}</th>
                    <th></th>
                </tr>
                </thead>
                {{# has_bots }}
                    <tbody>
                    {{# bots }}
                        <tr>
                            <td class="bot-name">
                                {{# avatar_url }}<img class="bot-avatar" src="{{ avatar_url }}">{{/ avatar_url }}
                                {{ bot_name }}
                            </td>
                            <td>{{ webhook_url }}</td>
                            <td class="tlp-table-cell-actions">
                                <button id="button-modal-edit-bot-{{ bot_id }}" type="button"
                                        class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline"
                                        data-modal-id="modal-edit-bot-{{ bot_id }}">
                                    <i class="fa fa-pencil tlp-button-icon"></i> {{# dgettext }} tuleap-botmattermost | Edit {{/ dgettext }}
                                </button>
                                {{> modals/modal-edit-bot }}
                                <button id="button-modal-delete-bot-{{ bot_id }}" type="submit"
                                        data-test="delete-bot"
                                        class="tlp-table-cell-actions-button tlp-button-small tlp-button-danger tlp-button-outline"
                                        data-modal-id="modal-delete-bot-{{ bot_id }}">
                                    <i class="fa fa-trash-o tlp-button-icon"></i> {{# dgettext }} tuleap-botmattermost | Delete {{/ dgettext }}
                                </button>
                                {{> modals/modal-delete-bot }}
                            </td>
                        </tr>
                    {{/ bots }}
                    </tbody>
                {{/ has_bots }}
                {{^ has_bots }}
                    <tbody>
                    <tr>
                        <td colspan="2" class="tlp-table-cell-empty">
                            {{# dgettext }} tuleap-botmattermost | No bot defined {{/ dgettext }}
                        </td>
                    </tr>
                    </tbody>
                {{/ has_bots }}
            </table>
        </section>
    </div>
</section>
