<div class="tlp-framed-vertically">

    {{> siteadmin-config/site-admin-navbar }}

    <div id="siteadmin-config" class="tlp-framed-horizontally">
        {{# new_interface }}
            {{> siteadmin-config/new-interface }}
        {{/ new_interface }}

        {{# types }}
            {{> siteadmin-config/types }}
        {{/ types }}
    </div>
</div>
