<h2>{{ title }}</h2>

{{# sections }}
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ emailgateway_url }}">{{ emailgateway }}</a>
        </li>
        <li>
            <a href="{{ natures_url }}">{{ natures }}</a>
        </li>
        <li class="active">
            <a href="{{ deprecation_url }}">{{ deprecation_panel }}</a>
        </li>
    </ul>
{{/ sections }}

<p class="alert alert-warning">
{{ warning_deprecation }}
</p>

<table class="tracker-deprecated-fields table table-striped table-bordered">
    <thead>
        <tr>
            <th>{{ project_title }}</th>
            <th>{{ tracker_title }}</th>
            <th>{{ incremented_files_title }}</th>
        </tr>
    </thead>
    <tbody>
    {{# getDeprecatedFields }}
        <tr>
            <td>
                <a href="{{ getBaseUrl }}/project/?group_id={{ project_id }}">{{ project_name }}</a>
            </td>
            <td>
                <a href="{{ getBaseUrl }}/plugins/tracker/?group_id={{ project_id }}&tracker={{ tracker_id }}">{{ tracker_name }}</a>
            </td>
            <td>
                <a href="{{ getBaseUrl }}/plugins/tracker/?group_id={{ project_id }}&tracker={{ tracker_id }}&func=admin-formElements">{{ field_name }}</a>
            </td>
        </tr>
    {{/ getDeprecatedFields }}
    </tbody>
</table>
