<h1 class="framed-horizontally">{{ title }}</h1>

{{# sections }}
    <nav class="tlp-tabs">
        <a class="tlp-tab" href="{{ emailgateway_url }}">{{ emailgateway }}</a>
        <a class="tlp-tab" href="{{ natures_url }}">{{ natures }}</a>
        <a class="tlp-tab tlp-tab-active" href="{{ deprecation_url }}">{{ deprecation_panel }}</a>
    </nav>
{{/ sections }}

<div class="framed-horizontally">
    <p class="alert alert-warning">
        {{ warning_deprecation }}
    </p>

    <table class="tracker-deprecated-fields tlp-table">
        <thead>
            <tr>
                <th>{{ project_title }}</th>
                <th>{{ tracker_title }}</th>
                <th>{{ incremented_files_title }}</th>
            </tr>
        </thead>
        <tbody>
        {{# getDeprecatedFields }}
            <tr>
                <td>
                    <a href="{{ getBaseUrl }}/project/?group_id={{ project_id }}">{{ project_name }}</a>
                </td>
                <td>
                    <a href="{{ getBaseUrl }}/plugins/tracker/?group_id={{ project_id }}&tracker={{ tracker_id }}">{{ tracker_name }}</a>
                </td>
                <td>
                    <a href="{{ getBaseUrl }}/plugins/tracker/?group_id={{ project_id }}&tracker={{ tracker_id }}&func=admin-formElements">{{ field_name }}</a>
                </td>
            </tr>
        {{/ getDeprecatedFields }}
        </tbody>
    </table>
</div>
