<form action="?action=delete-type" id="siteadmin-config-types-modal-delete-{{ shortname }}-form" method="post">
    <div id="siteadmin-config-types-modal-delete-{{ shortname }}"
        class="tlp-modal tlp-modal-danger siteadmin-config-types-modal-delete"
        role="dialog"
        aria-labelledby="siteadmin-config-types-modal-delete-{{ shortname }}-label"
        data-test="link-type-delete-modal"
    >
        <div class="tlp-modal-header">
            <h1 class="tlp-modal-title" id="modal-danger-label">
                {{ delete_modal_title }}
            </h1>
            <button class="tlp-modal-close" type="button" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times tlp-modal-close-icon" aria-hidden="true"></i>
            </button>
        </div>
        <div class="tlp-modal-body">
            {{# csrf_token }}
                {{> csrf_token_input }}
            {{/ csrf_token }}
            <input type="hidden" name="shortname" value="{{ shortname }}">

            <p>{{{ delete_modal_content }}}</p>
        </div>
        <div class="tlp-modal-footer">
            <button type="button" class="tlp-button-danger tlp-button-outline tlp-modal-action" data-dismiss="modal">{{ btn_close }}</button>
            <button type="submit" form="siteadmin-config-types-modal-delete-{{ shortname }}-form" class="tlp-button-danger tlp-modal-action" data-test="confirm-delete-link-type-button">
                <i class="far fa-trash-alt tlp-button-icon"></i> {{ delete_modal_submit }}
            </button>
        </div>
    </div>
</form>
