<?php // -*-html-*- ?>
<!-- $Id: savepage.tmpl,v 1.10 2004/12/10 03:05:58 rurban Exp $ -->
<?php if (!empty($LOCK_CHANGED_MSG)) { ?>
  <p><?=$LOCK_CHANGED_MSG?></p>
<?php } ?>

<hr noshade="noshade" />
<?= Template('browse') ?>
