Cette note donne quelques indications pour bien démarrer:

* L'unité de base est le Projet
* C'est un espace de travail dans lequel vous trouverez divers outils appelés Services (ex. git, documentation, outils de suivi).
* Votre prochaine étape est probablement de rejoindre un Projet existant ou d'en créer un nouveau.

Si vous êtes perdu, vous pouvez obtenir de l'aide dans la [Documentation](/doc/fr/index.html) ou via la [Communauté](https://www.tuleap.org/tuleap-community).
Vous pouvez également vous reposer sur un [Support Pro](https://www.tuleap.org/tuleap-community/professional-partners).

{{# site_name_is_not_tuleap }}
{{ site_name }} est le nom interne de Tuleap chez {{ sys_long_org_name }} .
{{/ site_name_is_not_tuleap }}
