Bienvenue sur {{ site_name }}
==============================

Cette note donne quelques indications pour bien démarrer:

* L'unité de base est le Projet
* C'est un espace de travail dans lequel vous trouverez divers outils appelés Services (ex. git, documentation, outils de suivi).
* Votre prochaine étape est probablement de rejoindre un Projet existant ou d'en créer un nouveau.

Si vous êtes perdu, vous pouvez obtenir de l'aide dans la [Documentation](/doc/fr/index.html) ou via la [Communauté](https://www.tuleap.org/get-help).
Vous pouvez également vous reposer sur un [Support Pro](https://www.tuleap.org/community/professional-partners).


Que dois-je configurer ?
------------------------

Vous pouvez adapter votre configuration via l'interface d'administration (lien ADMINISTRATION dans la barre de navigation
ci-dessus) ainsi que dans le fichier `/etc/tuleap/conf/local.inc` sur le système de fichiers.

Vous devrez probablement aussi configurer la passerelle de messagerie. Tuleap pré-installe `postfix` mais il vous faudra
ajuster les paramètres dans `/etc/postfix/main.cf`.

Vous pouvez également configurer l'identification LDAP via le plugin correspondant.
