<h2>{{ title }}</h2>

<form action=""
    method="POST"
    id="admin-anonymous"
    data-current-access-mode="{{ current_access_mode }}"
    data-nb-restricted-users="{{ nb_restricted_users }}"
    data-ugroup_authenticated_users="{{ ugroup_authenticated_users }}"
    data-ugroup_registered_users="{{ ugroup_registered_users }}"
>
    {{{ csrf_token }}}

    {{# is_localinc_obsolete }}
    <div class="alert alert-error">
        {{{ localinc_obsolete_message }}}
    </div>
    {{/ is_localinc_obsolete }}

    <legend>{{ who_can_access }}</legend>
    <label class="radio">
        <input type="radio"
            name="access_mode"
            value="anonymous"
            {{# access_anonymous }}checked{{/ access_anonymous }}
        />
        {{ access_anonymous_label }}
    </label>
    <p class="help">
        {{ access_anonymous_desc }}
    </p>
    <label class="radio">
        <input type="radio"
            name="access_mode"
            value="regular"
            {{# access_regular }}checked{{/ access_regular }}
        />
        {{ access_regular_label }}
    </label>
    <p class="help">
        {{ access_regular_desc }}
    </p>
    <label class="radio">
        <input type="radio"
            name="access_mode"
            value="restricted"
            {{# access_restricted }}checked{{/ access_restricted }}
        />
        {{ access_restricted_label }}
    </label>
    <p class="help">
        {{ access_restricted_desc }}
    </p>

    <div id="customize-ugroup-labels">
        <p>{{ customize_ugroups_label_info }}</p>
        <label>
            {{ ugroup_authenticated_users_label }}
            <input type="text" name="ugroup_authenticated_users" value="{{ ugroup_authenticated_users }}" placeholder="{{ ugroup_authenticated_users_placeholder }}" />
        </label>
        <label>
            {{ ugroup_registered_users_label }}
            <input type="text" name="ugroup_registered_users" value="{{ ugroup_registered_users }}" placeholder="{{ ugroup_registered_users_placeholder }}" />
        </label>
    </div>

    <legend>{{ projects_visibility }}</legend>
    <section>
        <label class="checkbox">
            <input type="hidden"   name="project_admin_can_choose_visibility" value="0" />
            <input type="checkbox" name="project_admin_can_choose_visibility" value="1" {{# project_admin_can_choose }}checked{{/ project_admin_can_choose }} />
            {{ projects_visibility_label }}
        </label>
        <p class="help">
            {{ projects_visibility_help }}
        </p>
    </section>
    <div id="submit-panel">
        {{# access_restricted }}
            {{# nb_restricted_users }}
                <div id="submit-panel-message">
                    {{{ current_restricted_users_message }}}
                </div>
            {{/ nb_restricted_users }}
        {{/ access_restricted }}
        <button type="submit" class="tlp-button-primary" name="update" value="1" disabled>{{ btn_submit }}</button>
    </div>
</form>
