$table-header-color: darken($main-color, 5%);

.table {
    > thead > tr > th {
        font-weight: 600;
        color: $table-header-color;
        border-bottom: 2px solid $main-color;
    }

    &.table-hover > tbody > tr:hover {
        background-color: fade($main-color, 6%);
    }

    &.table-columns-reorderable > thead > tr > th {
        > i.table-grip {
            float: left;
            width: 20px;
            height: 20px;
            position: relative;
            left: -3px;
            background: url('/guidelines/_assets/drag.png') no-repeat center center;
            cursor: move;
        }
    }

    &.table-sortable > thead > tr > th {
        padding: 0;

        > a {
            padding: 8px;
            display: block;
            color: $table-header-color;

            &:hover {
                text-decoration: none;
                background-color: fade($main-color, 6%);
            }

            > i[class*="fa-caret-"] {
                float: right;
                position: relative;
                top: 3px;
                color: #666;
            }

            > i.table-grip {
                top: 15px;
            }
        }
    }

    &.table-columns-reorderable.table-sortable > thead > tr > th {
        a {
            padding: 8px 8px 8px 28px;
        }

        > i.table-grip {
            left: 5px;
            top: 8px;
        }
    }
}