@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
@import "../colors/colors";

@mixin definitions($main-color, $main-accent-color) {
    /* Tuleap Guidelines */

    #under-construction {
        padding: 25px;
        background: #333333;
        text-align: center;

        p {
            margin: 0 0 20px;
            font-family: "Open Sans";
            font-size: 18px;
            color: #DDD;
            text-transform: uppercase;
        }
    }

    #content {
        font-family: "Open Sans";
        padding: 25px;

        #preview-ui {
            display: block;
            width: 383px;
            margin: 50px auto 150px;

            #svg-preview {
                #svg-navbar {
                    fill: $main-color;
                }

                #svg-table-row-header {
                    fill: $main-color;
                }

                .svg-btn {
                    stroke: $main-color;
                    stroke-width: 1;
                }

                #svg-btn-primary {
                    fill: $main-accent-color;
                }
            }
        }

        #guidelines {
            #color-switcher {
                padding: 0;
                margin: 0;

                > li {
                    position: relative;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    margin: 0 2px 2px 0;
                    border-radius: 2px;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.56);
                    }

                    &.active:before {
                        content: '\f00c';
                        font-family: FontAwesome;
                        position: absolute;
                        top: -1px;
                        font-size: 10px;
                        left: 2px;
                        color: #FFFFFF;
                    }

                    &.fp-orange {
                        background-color: $color-theme-orange;
                    }
                    &.fp-dark-orange {
                        background-color: $color-theme-dark-orange;
                    }
                    &.fp-blue {
                        background-color: $color-theme-blue;
                    }
                    &.fp-green {
                        background-color: $color-theme-green;
                    }
                    &.fp-bluegrey {
                        background-color: $color-theme-bluegrey;
                    }
                    &.fp-purple {
                        background-color: $color-theme-purple;
                    }
                    &.fp-red {
                        background-color: $color-theme-red;
                    }
                }
            }

            .nav {
                > li {
                    word-wrap: break-word;

                    > a {
                        font-size: 13px;
                        font-weight: 600;
                        color: #666666;

                        &:hover {
                            background: none;
                            color: $main-color;
                            box-shadow: inset 4px 0 0 $main-color;
                        }
                    }

                    > .nav {
                        display: none;
                    }

                    &.active {
                        > a {
                            background: none;
                            color: $main-color;
                            box-shadow: inset 4px 0 0 $main-color;
                        }

                        > .nav {
                            display: block;

                            > li {
                                > a {
                                    padding: 5px 25px;
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: #666666;

                                    &:hover {
                                        background: none;
                                        color: $main-color;
                                        box-shadow: none;
                                    }
                                }

                                &.active > a {
                                    background: none;
                                    color: $main-color;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }

            section {
                margin: 0 0 100px;

                > h1 {
                    border-bottom: 1px solid #EEEEEE;
                    padding: 10px 0;
                }

                .guideline {
                    margin: 0 0 40px;

                    .col-md-6, .col-md-12 {
                        padding-left: 0;
                    }

                    .rule {
                        margin: 0 0 20px;
                    }

                    > .code, > .javascript {
                        $code-color: #7ACCE4;

                        box-sizing: border-box;
                        min-height: 46px;
                        background: fade($code-color, 8%);
                        border-left: 5px solid fade($code-color, 20%);
                        word-break: break-all;
                        word-wrap: break-word;
                        white-space: pre-wrap;

                        @media (max-width: 992px) {
                            margin: 20px 0 0;
                        }

                        pre {
                            margin: 0;
                            background: none;
                            border: none;

                            code {
                                background: none;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
}

body {
    $main-color: $color-theme-orange;
    $main-accent-color: $color-theme-accent-orange;
    @import "../avatars/avatars";
    @import "../typography/typography";
    @import "../buttons/buttons";
    @import "../tables/tables";
    @import "../tooltips/tooltips";
    @import "../forms/forms";

    @include definitions($main-color, $main-accent-color);

    &.fp-dark-orange {
        $main-color: $color-theme-dark-orange;
        $main-accent-color: $color-theme-accent-dark-orange;
        @include definitions($main-color, $main-accent-color);
    }

    &.fp-blue {
        $main-color: $color-theme-blue;
        $main-accent-color: $color-theme-accent-blue;
        @include definitions($main-color, $main-accent-color);
    }

    &.fp-green {
        $main-color: $color-theme-green;
        $main-accent-color: $color-theme-accent-green;
        @include definitions($main-color, $main-accent-color);
    }

    &.fp-bluegrey {
        $main-color: $color-theme-bluegrey;
        $main-accent-color: $color-theme-accent-bluegrey;
        @include definitions($main-color, $main-accent-color);
    }

    &.fp-purple {
        $main-color: $color-theme-purple;
        $main-accent-color: $color-theme-accent-purple;
        @include definitions($main-color, $main-accent-color);
    }

    &.fp-red {
        $main-color: $color-theme-red;
        $main-accent-color: $color-theme-accent-red;
        @include definitions($main-color, $main-accent-color);
    }
}