#dashboard-header {
    padding: 25px 15px;
    margin: 0 0 30px;
    background: #F7F7F7;
    border-top: 2px solid #AAA;

    > h2 {
        display: inline-block;
        margin: 0;
    }

    > .ui-select-container {
        display: inline-block;
        position: relative;
        top: -4px;
        left: 10px;

        .ui-select-toggle {
            width: 100%;
            box-sizing: border-box;
            padding-right: 25px;
        }

        .id {
            color: #AAA;
            margin: 0 5px 0 0;
        }

        .title {
            margin: 0 5px 0 0;
        }

        .source-dest {
            border: 1px solid #f79514;
            border-radius: 3px;
            color: #f79514;
            padding: 2px 2px;
            margin: 0 5px 0 0;
        }

        .creation-date {
            color: #AAA;
            margin: 0 5px 0 0;
        }

        &.ui-select-bootstrap > .ui-select-choices {
            margin-top: -20px;
            width: 800px;

            .ui-select-choices-row.active > a {
                .id {
                    color: #DDD;
                }
            }
        }
    }

    > .loading {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 0 0 15px;
        background: url('loader-mini.gif') no-repeat center center;
    }
}
