.dashboard {
    padding: 25px 15px;
    margin: 0 0 30px;
    background: #F7F7F7;
    border-top: 2px solid #AAA;

    @import 'pull-request-summary/pull-request-summary';

    > h2 {
        display: inline-block;
        margin: 0;
    }

    .pull-requests-list {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content:  flex-start;
    }

    .pull-request-list-item {
        list-style: none;
        margin: 5px 0 0 0;
    }

    > .loading {
        height: 16px;
        background: url('loader-mini.gif') no-repeat center center;
    }
}
