.dashboard {
    @import 'pull-request-summary/pull-request-summary';

    > h2 {
        display: block;
        margin: 0;
        padding: 15px;
        background: #f7f7f7;
        border-top: 2px solid #aaaaaa;
    }

    .pull-requests-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: flex-start;
        margin: 0;
        padding: 25px 15px;
    }

    .pull-request-list-item {
        list-style: none;
        margin: 0 0 10px;
        background: #ffffff;

        &.closed {
            background: #efefef;
        }
    }

    > .loading {
        height: 16px;
        margin: 20px 0 0;
        background: url('loader-mini.gif') no-repeat center center;
    }

    .pull-request-list-load {
        margin-top: 20px;
        text-align: center;

        .load-closed-pull-requests,
        .hide-closed-pull-requests {
            cursor: pointer;
        }
    }

    > .no-pull-requests {
        color: #AAA;
        font-size: 0.9em;
        margin: 50px 0 100px;
        padding: 110px 0 0;
        text-align: center;
    }
}
