.dashboard {
    padding: 25px 15px;
    margin: 0 0 30px;
    background: #F7F7F7;
    border-top: 2px solid #AAA;

    @import 'pull-request-summary/pull-request-summary';

    > h2 {
        display: inline-block;
        margin: 0;
    }

    .pull-requests-list {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content:  flex-start;
    }

    .pull-request-list-item {
        list-style: none;
        margin: 5px 0 0 0;
    }

    > .loading {
        height: 16px;
        background: url('loader-mini.gif') no-repeat center center;
    }

    .pull-request-list-load {
        margin-top: 50px;
        text-align: center;

        .load-closed-pull-requests,
        .hide-closed-pull-requests {
            cursor: pointer;
        }
    }

    > .no-pull-requests {
        color: #AAA;
        font-size: 0.9em;
        margin: 50px 0 100px;
        padding: 110px 0 0;
        text-align: center;
    }
}
