<form action="permission_delegation.php?action=delete-group"
      method="post"
      id="siteadmin-permission-delegation-delete-group-modal"
      class="tlp-modal tlp-modal-danger"
      role="dialog"
>
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title">
            <i class="fa fa-trash-o tlp-modal-title-icon"></i>
            {{ group_title_delete }}
        </h1>
        <div class="tlp-modal-close" tabindex="0" role="button" data-dismiss="modal" aria-label="Close">
            &times;
        </div>
    </div>
    <div class="tlp-modal-body">
        <p>{{{ purified_group_delete_confirmation }}}</p>
        <input type="hidden" name="id" value="{{ id }}" />
    </div>
    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-danger tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{ group_cancel_delete }}
        </button>
        <button type="submit" class="tlp-button-danger tlp-modal-action">
            <i class="fa fa-trash tlp-button-icon"></i> {{ group_submit_delete }}
        </button>
    </div>
</form>
