<div id="add-group-modal" class="modal hide fade">
    <form action="permission_delegation.php?action=update-group" method="post">
        <div class="modal-header">
            <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
            <h3>{{ group_title }}</h3>
        </div>

        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="name">{{ name_label }}</label>
                <div class="controls">
                    <input type="text" id="name" name="name" placeholder="{{ name_label }}" value="{{ name }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">{{ description_label }}</label>
                <div class="controls">
                    <textarea id="description" name="description" placeholder="{{ description_label }}">{{ description }}</textarea>
                </div>
            </div>
            {{^ is_new }}
                <input type="hidden" name="id" value="{{ id }}" />
            {{/ is_new }}
        </div>

        <div class="modal-footer">
            <a class="btn tlp-button-secondary" data-dismiss="modal">{{ group_cancel }}</a>
            <input type="submit" class="btn btn-primary tlp-button-primary" value="{{ group_submit }}" />
        </div>
    </form>
</div>