<div id="permission-delegation">
    <h1>{{ page_title }}</h1>
    <p>{{ page_description }}</p>

    {{# has_groups }}
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                {{# groups }}
                    <li {{# is_current }}class="active"{{/ is_current }}>
                        <a href="permission_delegation.php?id={{ id }}">{{ name }}</a>
                    </li>
                {{/ groups }}

                <li>
                    <button id="add-group" class="tlp-button-secondary"><i class="icon-plus"></i> {{ group_action_add }}</button>
                </li>
            </ul>

            <div class="tab-content">
                {{# current_group }}
                <div class="row-fluid">
                    <div class="span12">
                        <h2>
                            {{ title }}
                            <button id="edit-group" class="tlp-button-secondary tlp-button-small" data-group-id="{{ id }}"><i class="icon-pencil"></i> {{ group_action_edit }}</button>
                            <button id="delete-group" class="tlp-button-danger tlp-button-small" data-group-id="{{ id }}"><i class="icon-trash"></i> {{ group_action_delete }}</button>
                        </h2>
                        {{# has_description }}
                            <p class="description">{{ description }}</p>
                        {{/ has_description }}
                    </div>
                </div>
                <div class="row-fluid">
                    {{> permissions_list }}

                    {{> users_list }}
                </div>
                {{/ current_group }}
            </div>
        </div>
    {{/ has_groups }}
    {{^ has_groups }}
        <p class="no-group">{{ no_group }} <button id="add-group" class="tlp-button-primary"><i class="icon-plus"></i> {{ group_action_add }}</button></p>
    {{/ has_groups }}
</div>