<div class="span6">
    <h3>{{ users_title }}</h3>

    {{# has_users }}
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>{{ users_list_title }}</th>
            </tr>
        </thead>
        <tbody>
            {{# users }}
            <tr>
                <td><input type="checkbox" name="users" class="user" value="{{ getId }}" /></td>
                <td><img src="{{ getAvatarUrl }}" /> {{ getRealName }} ({{ getUsername }})</td>
            </tr>
            {{/ users }}
        </tbody>
    </table>
    {{/ has_users }}
    {{^ has_users }}
        <p class="no-user">{{ no_user }}</p>
    {{/ has_users }}

    <div class="table-actions">
        <div class="left-actions">
            <div class="input-append">
                <input type="text" name="user" id="add-user">
                <button class="btn btn-primary"><i class="icon-plus"></i> {{ users_action_add }}</button>
            </div>
        </div>
        <div class="right-actions">
            {{# has_users }}
                <button id="delete-users" class="btn btn-danger" disabled="disabled"><i class="icon-trash"></i> {{ users_action_delete }}</button>
            {{/ has_users }}
        </div>
        <div style="clear: both"></div>
    </div>
</div>