<h1>{{ title }}</h1>
<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title"><i class="tlp-pane-title-icon fa fa-list"></i> {{ table_title }}</h1>
        </div>
        <section class="tlp-pane-section">
            <div class="tlp-table-actions">
                <button id="button-modal-add-bot" type="button" data-target="modal-add-bot" class="tlp-button-primary">
                    <i class="fa fa-plus tlp-button-icon"></i> {{ button_add_bot }}
                </button>
                {{> modal-add-bot }}
            </div>
            <table id="bot_list" class="tlp-table">
                <thead>
                <tr>
                    <th>{{ table_col_name }}</th>
                    <th>{{ table_col_webhook_url }}</th>
                    <th></th>
                </tr>
                </thead>
                {{# has_bots }}
                    <tbody>
                    {{# bots }}
                        <tr>
                            <td class="bot-name">
                                {{# getAvatarUrl }}<img class="bot-avatar" src="{{ getAvatarUrl }}">{{/ getAvatarUrl }}
                                {{ getName }}
                            </td>
                            <td>{{ getWebhookUrl }}</td>
                            <td class="tlp-table-cell-actions">
                                <button id="button-modal-edit-bot-{{ getId }}" type="button"
                                        class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline"
                                        data-modal-id="modal-edit-bot-{{ getId }}">
                                    <i class="fa fa-pencil tlp-button-icon"></i> {{ button_edit }}
                                </button>
                                {{> modal-edit-bot }}
                                <button id="button-modal-delete-bot-{{ getId }}" type="submit"
                                        class="tlp-table-cell-actions-button tlp-button-small tlp-button-danger tlp-button-outline"
                                        data-modal-id="modal-delete-bot-{{ getId }}">
                                    <i class="fa fa-trash-o tlp-button-icon"></i> {{ button_delete }}
                                </button>
                                {{> modal-delete-bot }}
                            </td>
                        </tr>
                    {{/ bots }}
                    </tbody>
                {{/ has_bots }}
                {{^ has_bots }}
                    <tbody>
                    <tr>
                        <td colspan="6" class="tlp-table-cell-empty">
                            {{ empty_bot_list }}
                        </td>
                    </tr>
                    </tbody>
                {{/ has_bots }}
            </table>
        </section>
    </div>
</section>