<h1>{{ title }}</h1>
<div>
    <table class="table table-bordered table-striped" id="bot_list">
        {{# has_bots }}
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ table_col_avatar }}</th>
                    <th>{{ table_col_name }}</th>
                    <th>{{ table_col_webhook_url }}</th>
                    <th>{{ table_col_channels }}</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            {{# bots }}
                <tr>
                    <td>{{ getId }}</td>
                    <td>{{# getAvatarUrl }}<img src="{{ getAvatarUrl }}" class="img-circle" width="30" height="30">{{/ getAvatarUrl }}</td>
                    <td>{{ getName }}</td>
                    <td>{{ getWebhookUrl }}</td>
                    <td>{{ getChannelsNamesInOneRow }}</td>
                    <td>
                        <button class="btn btn-link" data-toggle="modal" href="#admin-config-bot-edit-{{ getId }}">
                            <i class="icon-edit"></i> {{ button_edit }}
                        </button>
                        {{> modal-edit-bot }}
                        <button class="btn btn-link" data-toggle="modal" href="#admin-config-bot-delete-{{ getId }}">
                            <i class="icon-trash"></i> {{ button_delete }}
                        </button>
                        {{> modal-delete-bot }}
                    </td>
                </tr>
            {{/ bots }}
            </tbody>
        {{/ has_bots }}
        {{^ has_bots }}
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ empty_bot_list }}</td>
                </tr>
            </tbody>
        {{/ has_bots }}
    </table>
</div>
<button class="btn btn-primary" data-toggle="modal" href="#admin-config-bot-add">
    <i class="icon-plus"></i> {{ button_add_bot }}
</button>
{{> modal-add-bot }}