<div id="admin-config-bot-delete-{{ getId }}"
    class="modal hide fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="admin-config-bot-delete-title"
    aria-hidden="true"
>

    <div class="modal-header">
        <a role="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
        <h3 id="modal-repository-delete-title">{{ modal_delete_title }}</h3>
    </div>

    <div class="modal-body">
        <p>{{ modal_delete_bot_content }}</p>
    </div>

    <div class="modal-footer">
        <form method="POST" action="?action=delete_bot">
            {{{ csrf_input }}}

            <input type="hidden" name="bot_id" value="{{ getId }}">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ button_close }}</button>
            <button type="submit" class="btn btn-danger">
                <i class="icon-trash"></i> {{ button_delete }}
            </button>
        </form>
    </div>

</div>