<form id="modal-add-bot" class="tlp-modal" role="dialog" aria-labelledby="modal-big-content-label" method="POST"
      action="?action=add_bot">
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="modal-big-content-label">
            <i class="fa fa-plus tlp-modal-title-icon"></i> {{ modal_add_title }}
        </h1>
        <div class="tlp-modal-close" data-dismiss="modal" aria-label="Close">
            &times;
        </div>
    </div>
    <div class="tlp-modal-body">
        <div class="tlp-form-element">
            <label class="tlp-label" for="bot-mattermost-name">
                {{ label_bot_name }} <i class="fa fa-asterisk"></i>
            </label>
            <input id="bot-mattermost-name" type="text" class="tlp-input" name="bot_name"
                   placeholder="{{ input_bot_name }}" required>
        </div>
        <div class="tlp-form-element">
            <label class="tlp-label" for="bot-mattermost-webhook-url">
                {{ label_hook_url }} <i class="fa fa-asterisk"></i>
            </label>
            <input id="bot-mattermost-webhook-url" type="url" class="tlp-input" name="webhook_url"
                   placeholder="{{ input_url }}" required pattern="{{ pattern_url }}">
        </div>
        <div class="tlp-form-element">
            <label class="tlp-label" for="bot-mattermost-avatar-url">{{ label_avatar_url }}</label>
            <input id="bot-mattermost-avatar-url" type="url" class="tlp-input" name="avatar_url"
                   placeholder="{{ input_url }}" pattern="{{ pattern_url }}">
        </div>
    </div>
    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{ button_close }}
        </button>
        <button type="submit" class="tlp-button-primary tlp-modal-action">
            <i class="fa fa-plus tlp-button-icon"></i> {{ button_add_bot }}
        </button>
    </div>
</form>