<div id="admin-config-bot-edit-{{ id }}"
    class="modal hide fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="admin-config-bot-edit-title"
    aria-hidden="true"
>

    <div class="modal-header">
        <a role="button" class="close" data-dismiss="modal">×</a>
        <h3 id="configuration-edit-bot-title" class="modal-configuration-bot-title">
            <i class="fa fa-pencil-square-o"></i> {{ modal_edit_title }}</h3>
    </div>

    <form method="POST" action="/plugins/botmattermost_agiledashboard/?action=edit_bot" >
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        <input type="hidden" name="group_id" value="{{ project_id }}">
        <input type="hidden" name="bot_id" value="{{ id }}">

        <div class="modal-body">
            <div class="form-group">
                <label class="control-label" for="bot-mattermost-channels-names">{{ label_channels_handles }}</label>
                <input name="channels"
                       class="input_channels form-control"
                       value="{{ channels }}"
                       placeholder="{{ input_channels_handles }}"
                       hidden
                       multiple
                />
                <p class="text-info"><i class="fa fa-info-circle"></i> {{{ purified_info_channels_handles }}}</p>
            </div>
            <div id="field-bot-mattermost-agiledashboard-send-time" class="form-group">
                <label class="control-label" for="bot-mattermost-agiledashboard-send-time">{{ label_send_time }}</label>
                <div id="bot-mattermost-agiledashboard-send-time" class="input-append">
                        <span class="bot-mattermost-agiledashboard-field-time">
                            <input required
                                   name="send_time"
                                   class="input-small form-control"
                                   data-format="hh:mm"
                                   type="text"
                                {{# bot_assigned }}
                                   value="{{ send_time }}"
                                {{/ bot_assigned }}
                            />
                            <span class="add-on">
                                <i class="fa fa-clock-o"></i>
                            </span>
                        </span>
                </div>
                <p class="text-warning"><i class="fa fa-exclamation-triangle"></i> {{ alert_time_warning }}</p>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ button_close }}</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> {{ button_edit }}</button>
        </div>
    </form>

</div>
