<h2>{{# gettext }}Edit license agreement{{/ gettext }}</h2>
<div class="row-fluid">
    <div class="span6">
        <form action="{{ save_url }}" method="post">
            {{# csrf_token }}
                {{> csrf_token_input }}
            {{/ csrf_token }}
            {{# is_update }}
                <input type="hidden" name="id" value="{{ id }}" />
            {{/ is_update }}
            <label for="license-agreement-title">{{# gettext }}Title{{/ gettext }}</label>
            <input id="license-agreement-title" type="text" name="title" value="{{ title }}" />
            <label for="license-agreement-content">{{# gettext }}Content{{/ gettext }}</label>
            <textarea id="license-agreement-content" name="content">{{ content }}</textarea>
            <button type="submit" class="btn btn-primary" name="save">{{# gettext }}Save{{/ gettext }}</button>
            {{# can_be_deleted }}
            <button type="submit" class="btn btn-danger" name="delete">{{# gettext }}Delete{{/ gettext }}</button>
            {{/ can_be_deleted }}
            <a href="{{ list_url }}" class="btn">{{# gettext }}Cancel{{/ gettext }}</a>
        </form>
    </div>
    {{# is_used_by }}
        <div class="span6">
            <p>{{# gettext }}This license agreement cannot be deleted because it's used by following packages: {{/ gettext }}</p>
            <ul>
                {{# used_by }}
                    <li><a href="{{ url }}">{{ name }}</a></li>
                {{/ used_by }}
            </ul>
        </div>
    {{/ is_used_by }}
</div>
