<h2>{{# gettext }}Default license agreement{{/ gettext }}</h2>

<div class="row-fluid">
    <div class="span6">
        <p>{{# gettext }}You are about to download software from this site. Software re-use and sharing <b>inside</b> %s is subject to the <a href="%s"><b>Code eXchange Corporate Policy</b></a>.| {{ organisation_name }} | {{ exchange_policy_url }}{{/ gettext }}</p>
        <p>{{# gettext }}By downloading this software you implicitly recognize that you have <a href="%s"><b>read the Policy</b></a> and agree with the terms and conditions.| {{ exchange_policy_url }} {{/ gettext }}</p>
        <p>{{# gettext }}To proceed with the file download, click on '<b>I accept</b>'. If you do not want to download the file click on '<b>I decline</b>' and <a href="mailto:%s"><b>contact us</b></a> if you need clarification or want to explain why you declined the agreement.| {{ contact_email }} {{/ gettext }}</p>
        <p><a href="{{ list_url }}" class="btn">{{# gettext }}Back{{/ gettext }}</a></p>
    </div>
</div>
