<div class="configure-roadmap-widget-mount-point"
     data-widget-id="{{ widget_id }}"
     data-title="{{ title }}"
     data-trackers="{{ json_encoded_trackers }}"
     data-selected-tracker-id="{{ selected_tracker_id }}"
     data-selected-lvl1-iteration-tracker-id="{{ selected_lvl1_iteration_tracker_id }}"
     data-selected-lvl2-iteration-tracker-id="{{ selected_lvl2_iteration_tracker_id }}"
></div>
