<div class="configure-roadmap-widget-mount-point"
     data-widget-id="{{ widget_id }}"
     data-title="{{ title }}"
     data-trackers="{{ json_encoded_trackers }}"
     data-default-timescale="{{ selected_default_timescale }}"
     data-selected-tracker-ids="{{ selected_tracker_ids }}"
     data-selected-filter-report-id="{{ selected_filter_report_id }}"
     data-selected-lvl1-iteration-tracker-id="{{ selected_lvl1_iteration_tracker_id }}"
     data-selected-lvl2-iteration-tracker-id="{{ selected_lvl2_iteration_tracker_id }}"
></div>
