<div class="tlp-property">
    <svg
        width="309"
        height="286"
        viewBox="0 0 309 286"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        id="user-preferences-section-appearance-preview"
        data-test="user-preferences-section-appearance-preview"
        class="
            user-preferences-section-appearance-preview-{{ current_color }}
            {{^ is_accessibility_enabled }}
                user-preferences-section-appearance-preview-without-accessibility
            {{/ is_accessibility_enabled }}
        "
    >
        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="309" height="286">
            <path d="M0 3C0 1.34315 1.34315 0 3 0H309V286H3.00001C1.34315 286 0 284.657 0 283V3Z" fill="#E3E5ED"/>
        </mask>
        <g mask="url(#mask0)">
            <g opacity="0.1" filter="url(#filter0_f)">
                <rect x="10.5" y="254.5" width="321" height="22" fill="#293E45"/>
            </g>
            <rect width="354" height="275" rx="3" fill="#EEEFF2"/>
            <path d="M0.5 15.5H353.5V272C353.5 273.381 352.381 274.5 351 274.5H3C1.61929 274.5 0.5 273.381 0.5 272V15.5Z" fill="#F3F4FA" stroke="#E3E5ED" class="user-preferences-section-appearance-preview-background" />
            <text x="72" y="52" class="user-preferences-section-appearance-preview-text" fill="#293E45">{{# gettext }} This is a preview {{/ gettext }}</text>
            <g filter="url(#filter1_d)">
                <path d="M1 15H353V32H1V15Z" fill="white"/>
            </g>
            <path d="M0 15H62V32H0V15Z" class="user-preferences-section-appearance-preview-color-fill" fill="#1593C4"/>
            <path d="M0 32H62V275H3C1.34315 275 0 273.657 0 272V32Z" class="user-preferences-section-appearance-preview-sidebar" fill="#293E45"/>
            <rect x="71.5" y="63.5" width="273" height="128" rx="2.5" fill="white" stroke="#E3E5ED"/>
            <path d="M71.5 204C71.5 202.619 72.6193 201.5 74 201.5H342C343.381 201.5 344.5 202.619 344.5 204V264C344.5 265.381 343.381 266.5 342 266.5H74C72.6193 266.5 71.5 265.381 71.5 264V204Z" fill="white" stroke="#E3E5ED"/>


            <path opacity="0.9" d="M85 216.465C85 215.437 84.7461 214.25 83.7227 214.25C83.4063 214.559 82.9766 214.75 82.5 214.75C82.0234 214.75 81.5938 214.559 81.2773 214.25C80.2539 214.25 80 215.437 80 216.465C80 217.035 80.375 217.5 80.832 217.5H84.168C84.625 217.5 85 217.035 85 216.465ZM84 213C84 212.172 83.3281 211.5 82.5 211.5C81.6719 211.5 81 212.172 81 213C81 213.828 81.6719 214.5 82.5 214.5C83.3281 214.5 84 213.828 84 213Z" fill="#687A7C"/>
            <text opacity="0.9" x="89" y="217" fill="#687A7C" class="user-preferences-section-appearance-preview-user-and-date-text">{{# gettext }} User and date {{/ gettext }}</text>


            <text opacity="0.9" x="79" y="239" class="user-preferences-section-appearance-preview-property-label" fill="#687A7C">{{# gettext }} Username {{/ gettext }}</text>
            <g id="user-preferences-section-appearance-usernames-display-preview">
                <g data-usernames-display-option-value="{{ username_display_value_realname_login }}" class="user-preference-appearance-section-usernames-display-preview-option {{# is_realname_login }}shown{{/ is_realname_login }}">
                    <text opacity="0.9" x="79" y="252" class="user-preferences-section-appearance-preview-property-value" fill="#293E45">John Doe (jdoe)</text>
                </g>
                <g data-usernames-display-option-value="{{ username_display_value_login_realname }}" class="user-preference-appearance-section-usernames-display-preview-option {{# is_login_realname }}shown{{/ is_login_realname }}">
                    <text opacity="0.9" x="79" y="252" class="user-preferences-section-appearance-preview-property-value" fill="#293E45">jdoe (John Doe)</text>
                </g>
                <g data-usernames-display-option-value="{{ username_display_value_login }}" class="user-preference-appearance-section-usernames-display-preview-option {{# is_login }}shown{{/ is_login }}">
                    <text opacity="0.9" x="79" y="252" class="user-preferences-section-appearance-preview-property-value" fill="#293E45">jdoe</text>
                </g>
                <g data-usernames-display-option-value="{{ username_display_value_realname }}" class="user-preference-appearance-section-usernames-display-preview-option {{# is_realname }}shown{{/ is_realname }}">
                    <text opacity="0.9" x="79" y="252" class="user-preferences-section-appearance-preview-property-value" fill="#293E45">John Doe</text>
                </g>
            </g>

            <text opacity="0.9" x="195" y="239" class="user-preferences-section-appearance-preview-property-label" fill="#687A7C">{{# gettext }} Date {{/ gettext }}</text>
            {{# relative_dates_display_preference_sb_presenter }}
                <g id="user-preferences-section-appearance-relative-dates-preview">
                    <g data-relative-date-option-name="relative_first-absolute_shown" class="user-preferences-section-appearance-relative-dates-preview-option {{# is_relative_first_absolute_shown }}shown{{/ is_relative_first_absolute_shown }}">
                        <text opacity="0.9" x="195" y="252" class="user-preferences-section-appearance-preview-property-value" fill="#293E45">{{# gettext }} 5 days ago {{/ gettext }}</text>
                        <text opacity="0.9" x="245" y="252" class="user-preferences-section-appearance-preview-property-label" fill="#687A7C">{{ date_for_preview }}</text>
                    </g>
                    <g data-relative-date-option-name="absolute_first-relative_shown" class="user-preferences-section-appearance-relative-dates-preview-option {{# is_absolute_first_relative_shown }}shown{{/ is_absolute_first_relative_shown }}">
                        <text opacity="0.9" x="195" y="252" class="user-preferences-section-appearance-preview-property-value" fill="#293E45">{{ date_for_preview }}</text>
                        <text opacity="0.9" x="245" y="252" class="user-preferences-section-appearance-preview-property-label" fill="#687A7C">{{# gettext }} 5 days ago {{/ gettext }}</text>
                    </g>
                    <g data-relative-date-option-name="relative_first-absolute_tooltip" class="user-preferences-section-appearance-relative-dates-preview-option {{# is_relative_first_absolute_tooltip }}shown{{/ is_relative_first_absolute_tooltip }}">
                        <text opacity="0.9" x="195" y="252" class="user-preferences-section-appearance-preview-property-value" fill="#293E45">{{# gettext }} 5 days ago {{/ gettext }}</text>
                    </g>
                    <g data-relative-date-option-name="absolute_first-relative_tooltip" class="user-preferences-section-appearance-relative-dates-preview-option {{# is_absolute_first_relative_tooltip }}shown{{/ is_absolute_first_relative_tooltip }}">
                        <text opacity="0.9" x="195" y="252" class="user-preferences-section-appearance-preview-property-value" fill="#293E45">{{ date_for_preview }}</text>
                    </g>
                </g>
            {{/ relative_dates_display_preference_sb_presenter }}


            <path d="M163 63L163 191" stroke="#E3E5ED"/>
            <line x1="252.5" y1="64" x2="251.5" y2="192" stroke="#E3E5ED"/>
            <line x1="71" y1="82.9513" x2="345" y2="82.9513" stroke="#1593C4" class="user-preferences-section-appearance-preview-color-stroke" stroke-width="2"/>
            <g opacity="0.5">
                <rect x="81.5" y="91.5" width="70" height="40" rx="2.5" fill="#F8FBF3" stroke="#6ABF1D"/>
                <g class="user-preferences-section-appearance-preview-accessibility">
                    <path d="M143 91.625L139 98.25L143 104.875L139 111.5L143 118.125L139 124.75L143 131.375" stroke="#6ABF1D" stroke-width="1.35714"/>
                    <path d="M145.625 91.625L141.625 98.25L145.625 104.875L141.625 111.5L145.625 118.125L141.625 124.75L145.625 131.375" stroke="#6ABF1D" stroke-width="1.35714"/>
                    <path d="M148.25 91.625L144.25 98.25L148.25 104.875L144.25 111.5L148.25 118.125L144.25 124.75L148.25 131.375" stroke="#6ABF1D" stroke-width="1.35714"/>
                </g>
            </g>
            <g opacity="0.5">
                <rect x="81.5" y="142.5" width="70" height="41" rx="2.5" fill="#FFF1F6" stroke="#E560B2"/>
                <g class="user-preferences-section-appearance-preview-accessibility">
                    <rect x="139" y="143" width="4" height="4" fill="#E560B2"/>
                    <rect x="139" y="149" width="4" height="4" fill="#E560B2"/>
                    <rect x="139" y="155" width="4" height="4" fill="#E560B2"/>
                    <rect x="139" y="161" width="4" height="4" fill="#E560B2"/>
                    <rect x="139" y="167" width="4" height="4" fill="#E560B2"/>
                    <rect x="139" y="173" width="4" height="4" fill="#E560B2"/>
                    <rect x="139" y="179" width="4" height="4" fill="#E560B2"/>
                    <path d="M145 143H149V147H145V143Z" fill="#E560B2"/>
                    <rect x="145" y="149" width="4" height="4" fill="#E560B2"/>
                    <rect x="145" y="155" width="4" height="4" fill="#E560B2"/>
                    <rect x="145" y="161" width="4" height="4" fill="#E560B2"/>
                    <rect x="145" y="167" width="4" height="4" fill="#E560B2"/>
                    <path d="M145 173H149V177H145V173Z" fill="#E560B2"/>
                    <path d="M145 179H149V183H145V179Z" fill="#E560B2"/>
                </g>
            </g>
            <g opacity="0.5">
                <rect x="172.5" y="91.5" width="70" height="40" rx="2.5" fill="#FFFBE7" stroke="#FFD300"/>
                <g class="user-preferences-section-appearance-preview-accessibility">
                    <line x1="228" y1="93.5" x2="241" y2="94.5" stroke="#FFD300"/>
                    <line x1="228" y1="96.5" x2="241" y2="97.5" stroke="#FFD300"/>
                    <line x1="228" y1="99.5" x2="241" y2="100.5" stroke="#FFD300"/>
                    <line x1="228" y1="102.5" x2="241" y2="103.5" stroke="#FFD300"/>
                    <line x1="228" y1="105.5" x2="241" y2="106.5" stroke="#FFD300"/>
                    <line x1="228" y1="108.5" x2="241" y2="109.5" stroke="#FFD300"/>
                    <line x1="228" y1="111.5" x2="241" y2="112.5" stroke="#FFD300"/>
                    <line x1="228" y1="114.5" x2="241" y2="115.5" stroke="#FFD300"/>
                    <line x1="228" y1="117.5" x2="241" y2="118.5" stroke="#FFD300"/>
                    <line x1="228" y1="120.5" x2="241" y2="121.5" stroke="#FFD300"/>
                    <line x1="228" y1="123.5" x2="241" y2="124.5" stroke="#FFD300"/>
                    <line x1="228" y1="126.5" x2="241" y2="127.5" stroke="#FFD300"/>
                    <line x1="228" y1="129.5" x2="241" y2="130.5" stroke="#FFD300"/>
                </g>
            </g>
            <text opacity="0.7" font-size="10" font-weight="600" x="168" y="10" fill="#687A7C">{{# gettext }}Preview{{/ gettext }}</text>
            <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.0926 8.24527C12.0926 9.7632 10.8621 10.9937 9.34415 10.9937C7.82622 10.9937 6.5957 9.7632 6.5957 8.24527C6.5957 6.72735 7.82622 5.49683 9.34415 5.49683C10.8621 5.49683 12.0926 6.72735 12.0926 8.24527ZM20.8877 8.24529C20.8877 9.76322 19.6572 10.9937 18.1392 10.9937C16.6213 10.9937 15.3908 9.76322 15.3908 8.24529C15.3908 6.72736 16.6213 5.49684 18.1392 5.49684C19.6572 5.49684 20.8877 6.72736 20.8877 8.24529ZM26.9342 10.9937C28.4521 10.9937 29.6826 9.76322 29.6826 8.24529C29.6826 6.72736 28.4521 5.49684 26.9342 5.49684C25.4163 5.49684 24.1857 6.72736 24.1857 8.24529C24.1857 9.76322 25.4163 10.9937 26.9342 10.9937Z" fill="#687A7C"/>
        </g>
        <defs>
            <filter id="filter0_f" x="6.5" y="250.5" width="329" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur"/>
            </filter>
            <filter id="filter1_d" x="1" y="15" width="352" height="18" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset dy="1"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0.890196 0 0 0 0 0.898039 0 0 0 0 0.929412 0 0 0 1 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
        </defs>
    </svg>
</div>
