<div class="btn-group button_dropdowns" id="{{ id }}">
    <a class="btn {{# class_names }}{{ . }} {{/ class_names }}dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="{{ icon }}"></i> {{ label }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right">
        {{# options }}
            {{# divider }}
            <li class="divider"></li>
            {{/ divider }}
            {{^ divider }}
            <li {{# li_parameters }} {{ parameter }}="{{ value }}"{{/ li_parameters }}>
                <a href="{{ url }}" id="{{ id }}" data-toggle="{{ data_toggle }}">{{# selected }}<i class="icon-ok"></i>{{/ selected }} {{ label }}</a>
            </li>
            {{/ divider }}
        {{/ options }}
    </ul>
</div>
