<div id="nav-dropdown-content-user-history-loading" class="shown"></div>
<div id="nav-dropdown-content-user-history-empty">
    <i class="fa fa-history empty-history-icon"></i>
    <p class="empty-history-description">{{ empty_history }}</p>
</div>
<div id="nav-dropdown-content-user-history-error-message-fetch">
    <div class="tlp-alert-danger">{{ error_fetch }}</div>
</div>
<div id="nav-dropdown-content-user-history-error-message-clear">
    <div class="tlp-alert-danger">{{ error_clear }}</div>
</div>
<div id="nav-dropdown-content-user-history-content" data-user-id="{{ current_user_id }}">
    <script id="history-item-placeholder" type="x-tmpl-mustache">
        {{=<% %>=}}
        {{# entries }}
            <a href="{{ html_url }}" class="history-item {{ color_name }}">
                <div class="history-item-icon history-item-icon-{{ color_name }}">{{{ icon }}}</div>
                <div class="history-item-content">
                    <div class="history-item-content-description">
                        <div class="history-item-content-description-info">
                            <span class="history-item-content-description-info-badge badge tlp-badge-outline tlp-badge-{{ color_name }}">
                                {{ xref }}
                            </span>
                            <span class="history-item-content-description-info-title">{{ title }}</span>
                        </div>
                        <div class="history-item-content-description-links">
                            {{# quick_links }}
                                <span class="history-item-extra-link history-item-content-description-link" data-href="{{ html_url }}">
                                    <i class="history-item-content-description-link-icon fa fa-long-arrow-right"></i>{{ name }}
                                </span>
                            {{/ quick_links }}
                        </div>
                    </div>
                    <span data-href="/projects/{{ project.shortname }}/" class="history-item-extra-link history-item-content-project">
                        <%{ project_icon }%>
                        <span class="history-item-content-project-name">{{ project.label }}</span>
                    </span>
                </div>
            </a>
        {{/ entries }}
        <%={{ }}=%>
    </script>
</div>
<div id="nav-dropdown-content-user-history-clear">
    <button type="button" class="btn btn-large btn-primary tlp-button-primary" id="nav-dropdown-content-user-history-clear-button">
        <i class="fa fa-trash-o tlp-button-icon"></i>
        {{ clear_history }}
    </button>
</div>
