<div class="empty-page">
    {{> svg-suspended-project }}

    <div class="empty-page-text">
        {{ error_message }}
        <div class="empty-page-small-text">
            {{ custom_message }}
        </div>
    </div>

    <div>
        <a class="tlp-button-primary tlp-button-outline error-back-to-homepage" href="/my/">
            <i class="fa fa-fw fa-reply"></i> {{# gettext }}Go to my home page{{/ gettext }}
        </a>
    </div>
</div>
