<table class="tlp-table table">
    <thead>
        <tr>
            <th>{{# gettext }}Shortcut{{/ gettext }}</th>
            <th class="help-modal-shortcuts-action">{{# gettext }}Action{{/ gettext }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>?</code></td>
            <td>{{# gettext }}Open this window{{/ gettext }}</td>
        </tr>
        <tr>
            <td><code>c</code></td>
            <td>{{# gettext }}Open "+ New" dropdown{{/ gettext }}</td>
        </tr>
        <tr>
            <td><code>d</code></td>
            <td>{{# gettext }}Go to personal dashboard{{/ gettext }}</td>
        </tr>
        <tr>
            <td><code>/</code> or <code>s</code></td>
            <td>{{# gettext }}Switch to...{{/gettext}}</td>
        </tr>
    </tbody>
</table>
