{{# anonymous_user }}
    {{ deprecation_message }}
{{/ anonymous_user }}
{{^ anonymous_user }}
    <form method="post" action="/account/disable_legacy_browser_warning">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        {{ deprecation_message }}
        <button type="submit" class="btn btn-small btn-inverse">
            {{# gettext }}Ok, got it. Remind me later.{{/ gettext }}
       </button>
    </form>
{{/ anonymous_user }}
