<h1 class="agiledashboard-administration-title">
    {{# dgettext }} tuleap-agiledashboard | Configuration {{/ dgettext }}
</h1>

<div class="main-project-tabs">
    <nav class="tlp-tabs">
        <a class="tlp-tab"
           href="?group_id={{ project_id }}&action=admin&pane=scrum">
        {{# dgettext }} tuleap-agiledashboard | Scrum {{/ dgettext }}
        </a>
        <a class="tlp-tab tlp-tab-active"
           href="?group_id={{ project_id }}&action=admin&pane=charts">
        {{# dgettext }} tuleap-agiledashboard | Charts {{/ dgettext }}
        </a>
    </nav>
</div>

<div class="tlp-framed">
    <form action="?group_id={{ project_id }}&action=updateConfiguration" method="POST">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    <i class="fa-solid fa-chart-area" aria-hidden="true"></i>
                    {{# dgettext }} tuleap-agiledashboard | Charts configuration {{/ dgettext }}
                </h1>
            </div>

            <section class="tlp-pane-section">
                {{# csrf_token }}
                    {{> csrf_token_input }}
                {{/ csrf_token }}
                <input type="hidden" name="burnup-count-mode" value="0">

                <div class="tlp-form-element">
                    <label class="tlp-label tlp-checkbox">
                        <input type="checkbox"
                               name="burnup-count-mode"
                               value="1" {{# is_burnup_count_mode_activated }}
                               checked {{/ is_burnup_count_mode_activated }}
                               data-test="burnup-count-mode"
                        >
                        {{# dgettext }}
                            tuleap-agiledashboard | Activate count elements mode for burnup chart{{/ dgettext }}
                    </label>
                    <p class="tlp-text-info">
                        <i class="fa-solid fa-circle-info" aria-hidden="true"></i> {{# dgettext }}
                        tuleap-agiledashboard | This option will display all the burnup charts in the project with
                        elements progression instead of effort progression.{{/ dgettext }}
                    </p>
                </div>
            </section>

            <section class="tlp-pane-section tlp-pane-section-submit">
                <button type="submit" class="tlp-button-primary" id="ad-service-submit"
                        data-test="backlog-save-chart-configuration">
                    <i class="fa-solid fa-save tlp-button-icon" aria-hidden="true"></i>
                    {{# dgettext }} tuleap-agiledashboard | Save {{/ dgettext }}
                </button>
            </section>
        </div>
    </section>
    </form>
</div>
