<h2>{{adminTitle}}</h2>

<ul class="unstyled">
    <li>
        <a href="/plugins/agiledashboard/?group_id={{ group_id }}&amp;action=import-form" id="template_import">
            <img border="0" alt="add" src="/themes/Tuleap/images/ic/add.png" style="vertical-align:middle">
            {{ importTemplate }}
        </a>
    </li>
    <li>
        <a href="" id="template_export">
            <img border="0" alt="add" src="/themes/Tuleap/images/ic/add.png" style="vertical-align:middle">
            {{ exportTemplate }}
        </a>
    </li>
    {{#can_create_planning}}
        <li>
            <a href="/plugins/agiledashboard/?group_id={{group_id}}&amp;action=new" id="planning_create">
                <img border="0" alt="add" src="/themes/Tuleap/images/ic/add.png" style="vertical-align:middle">
                {{createPlanning}}
            </a>
        </li>
    {{/can_create_planning}}
    {{^can_create_planning}}
        <div class="alert alert-info">
           {{cannot_create_planning}}
           <ul>
               <li>{{cannot_create_planning_no_trackers}}</li>
               <li>{{cannot_create_planning_hierarchy}}</li>
           </ul>
           {{{cannot_create_planning_config}}}
        </div>
    {{/can_create_planning}}
</ul>
{{#has_plannings}}
<ul>
    {{#plannings}}
    <li class="{{li_class}}">
        <a href="{{edit_url}}">
            {{name}}
        </a>
        <a href="{{edit_url}}">
            <img src="{{edit_icon_path}}" alt="{{edit_action_label}}" />
        </a>
        <a href="{{delete_url}}">
            <img src="{{delete_icon_path}}" alt="delete" />
        </a>
        {{extra_message}}
    </li>
    {{/plannings}}
</ul>
{{/has_plannings}}
