<h1 class="almost-tlp-title project-header-title">{{# dgettext }} tuleap-agiledashboard | Agile Dashboard administration {{/ dgettext }}</h1>
<div class="main-project-tabs">
    <ul class="nav nav-tabs">
        {{# is_scrum_accessible }}
            <li>
                <a href="?group_id={{ group_id }}&action=admin&pane=scrum">{{# dgettext }} tuleap-agiledashboard | Scrum {{/ dgettext }}</a>
            </li>
        {{/ is_scrum_accessible }}
        <li class="active">
            <a href="?group_id={{ group_id }}&action=admin&pane=kanban">{{# dgettext }} tuleap-agiledashboard | Kanban {{/ dgettext }}</a>
        </li>
        {{# is_scrum_accessible }}
            <li>
                <a href="?group_id={{ group_id }}&action=admin&pane=charts">{{# dgettext }} tuleap-agiledashboard | Charts {{/ dgettext }}</a>
            </li>
        {{/ is_scrum_accessible }}
    </ul>
</div>
<div class="agiledashboard-admin-kanban agiledashboard-content">
    <form action="?group_id={{ group_id }}&action=updateConfiguration" method="POST">
        {{# kanban_activated }}
            <div class="alert alert-success">
                <i class="far fa-check-circle"></i> {{ kanban_activated_label }}
            </div>
        {{/ kanban_activated }}
        {{^ kanban_activated }}
            <div class="alert alert-warning admin-kanban-not-activated">
                <i class="fa fa-power-off"></i> {{ kanban_not_activated_label }}
                {{^ has_kanban }}
                <p> {{ first_kanban_will_be_created }} </p>
                {{/ has_kanban }}
            </div>
        {{/ kanban_activated }}


        <div class="agiledashboard-admin-section">
            <section>
                <h3><i class="fa fa-cogs"></i> {{ general_settings_section }}</h3>
                <div class="agiledashboard-section-details">
                    <input type="hidden" name="activate-kanban" value="0">
                    <label class="checkbox active-kanban">
                        <input type="checkbox" name="activate-kanban" value="1" {{# kanban_activated }} checked {{/ kanban_activated }} data-test="admin-kanban-activate-checkbox">
                        {{ activate_kanban_label }}
                    </label>
                    {{{ token }}}
                    <button type="submit" class="btn btn-primary" id="ad-service-submit" data-test="ad-service-submit">{{ config_submit_label }}</button>
                </div>
            </section>
        </div>

    </form>
</div>
