<div class="agiledashboard-admin-kanban">
    <h1>{{ config_title }}</h1>

    <ul class="nav nav-tabs">
        <li>
            <a href="?group_id={{ project_id }}&action=admin&pane=scrum">{{ scrum_label }}</a>
        </li>
        <li>
            <a href="?group_id={{ project_id }}&action=admin&pane=kanban">{{ kanban_label }}</a>
        </li>
        {{# additional_panes }}
            <li {{# activated }} class="active" {{/ activated }}>
                <a href="?group_id={{ project_id }}&action=admin&pane={{ name }}">{{ title }}</a>
            </li>
        {{/ additional_panes }}
    </ul>

    {{# additional_content }}
        {{{ additional_content }}}
    {{/ additional_content }}
    {{^ additional_content }}
        <div class="alert alert-info">{{ no_content }}</div>
    {{/ additional_content }}
</div>