<div class="backlog-actions">
    <div class="dropdown" id="backlog-menu">
        <a href="#backlog-menu" class="dropdown-toggle" data-toggle="dropdown">{{addLabel}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {{#planning}}
                {{#getBacklogTrackers}}
                    {{#userCanView}}
                        <li>
                            <a href="/plugins/tracker/?tracker={{getId}}&func=new-artifact&{{planning_redirect_parameter}}">{{getAddNewLabel}}</a>
                        </li>
                    {{/userCanView}}
                {{/getBacklogTrackers}}
            {{/planning}}
        </ul>
    </div>
</div>
