<div class="backlog">
    <div class="backlog-actions">
        <a id="backlog-menu_handle" href="#">{{addLabel}} <span class="caret"></span></a>
        <table class="dropdown_panel" id="backlog-menu">
            <tbody>
                <tr>
                    <td>
                        <ul>
                            {{#planning}}
                                {{#getBacklogTrackers}}
                                    {{#userCanView}}
                                        <li>
                                            <a href="/plugins/tracker/?tracker={{getId}}&func=new-artifact&{{planning_redirect_parameter}}">{{getAddNewLabel}}</a>
                                        </li>
                                    {{/userCanView}}
                                {{/getBacklogTrackers}}
                            {{/planning}}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="backlog-content">
        {{> cards}}
    </div>
</div>
