{{#getData}}
<li class="card planning-draggable" id="art-{{id}}">
    <div class="card-link">{{{link}}</div>
    <div class="tracker_artifact_title">{{title}}</div>
    {{#hasChildren}}
        {{> cards}}
    {{/hasChildren}}
</li>
{{/getData}}
