<h2>Manage planning</h2>
<form method="post" action="/plugins/agiledashboard/?group_id={{group_id}}&amp;planning_id={{getPlanningId}}&amp;action=update">
    <p>
        <label for="planning_name">Name</label>
        <input type="text" name="planning_name" value="{{getPlanningName}}"/>
    </p>
    <p>
        This planning allows assignment of
        <select multiple="multiple" name="backlog_tracker_ids[]" style="vertical-align: top;">
            {{#available_trackers}}                
                <option value="{{getId}}" {{selectedIfBacklogTracker}}>{{getName}}</option>
            {{/available_trackers}}
        </select>
        to
        <select name="planning_tracker_id">
            <option value=""/>
            {{#available_trackers}}
                <option value="{{getId}}" {{selectedIfPlanningTracker}}>{{getName}}</option>
            {{/available_trackers}}
        </select>
    </p>
    <p>
        <input type="submit" value="Update"/>
    </p>
</form>
