<div class="empty-home">
    <p>{{{ nothing_set_up }}}</p>

    {{^ is_user_admin }}
        <p class="later">{{ come_back_later }}</p>
    {{/ is_user_admin }}
    {{# is_user_admin }}
        {{# is_using_kanban_service }}
            {{# is_start_scrum_possible }}
                <a href="{{ create_scrum_url }}" class="btn btn-large" data-test="start-scrum">{{ start_scrum }}</a>
            {{/ is_start_scrum_possible }}
        {{/ is_using_kanban_service }}
        {{^ is_using_kanban_service }}
            <p class="description">{{{ nothing_set_up_admin_description }}}</p>
            <p class="actions">
                {{# is_start_scrum_possible }}
                    <a href="{{ create_scrum_url }}" class="btn btn-large" data-test="start-scrum">{{ start_scrum }}</a>
                    <span>or</span>
                {{/ is_start_scrum_possible }}
                <a href="{{ activate_kanban_url }}" class="btn btn-large" data-test="start-kanban">{{ start_kanban }}</a>
            </p>
        {{/ is_using_kanban_service }}
    {{/ is_user_admin }}
</div>
