<div class="empty-home">
    <p>{{{ nothing_set_up }}}</p>

    {{^ is_user_admin }}
        <p class="later">{{ come_back_later }}</p>
    {{/ is_user_admin }}
    {{# is_user_admin }}
        <p class="description">{{{ nothing_set_up_admin_description }}}</p>
        <p class="actions">
            {{^ is_mono_milestone_enabled }}
                <a href="{{ create_scrum_url }}" class="btn btn-large" data-test="start-scrum">{{ start_scrum }}</a>
                <span>or</span>
            {{/is_mono_milestone_enabled}}
            <a href="{{ create_kanban_url }}" class="btn btn-large" data-test="start-kanban">{{ start_kanban }}</a>
        </p>
    {{/ is_user_admin }}
</div>
