{{#hasShortAccess}}
<ul class="ad_index_plannings">
    {{#getShortAccess}}
    <li class="ad_index_planning">
        <h2>{{#planning}}{{getName}}{{/planning}}</h2>
        <ul>
            {{#getLastTenOpenArtifacts}}
            <li>
                <a href="{{getUri}}">{{getTitle}}{{^getTitle}}{{getXRef}}{{/getTitle}}</a>
                {{#additionalPanes}}
                    <a href="{{getUri}}&pane={{getIdentifier}}"><img src ="{{getIcon}}"></a>
                {{/additionalPanes}}
                
            </li>
            {{/getLastTenOpenArtifacts}}
        </ul>
        <br />
        <span><a href="/plugins/tracker/?tracker={{planningTrackerId}}&func=new-artifact-link&id=0&immediate=1">{{createNewItemToPlan}}</a></span>
    </li>
    {{#getCurrentArtifact}}
      
            {{#additionalPanes}}
                
            {{/additionalPanes}}
 
    {{/getCurrentArtifact}}
    {{/getShortAccess}}
</ul>


{{/hasShortAccess}}
{{^hasShortAccess}}
<p>
    <em>Nothing has been setup yet. Please come again later!</em>
</p>
{{/hasShortAccess}}
