{{#hasShortAccess}}
    {{#use_lab}}
        <center>
            <h2><a href ="?action=show-top&group_id={{project_id}}&pane={{get_default_top_pane}}">top planning</a></h2>
        </center>
    {{/use_lab}}
<ul class="ad_index_plannings">
    {{#getShortAccess}}
    <li class="ad_index_planning">
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <h2>{{#planning}}{{getName}}{{/planning}} <b class="caret"></b></h2>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/plugins/tracker/?tracker={{planningTrackerId}}&func=new-artifact-link&id=0&immediate=1&{{planningRedirectToNew}}">
                        {{createNewItemToPlan}}
                    </a>
                </li>
            </ul>
        </div>
        <ul>
            {{#getLastOpenMilestones}}
            <li class="{{#is_active}}active{{/is_active}}">
                <div class="ad_index_planning_icons">
                    {{#getQuickLinkIconList}}
                        <a href="{{uri}}"><img title="{{title}}" src="{{icon}}"></a>
                    {{/getQuickLinkIconList}}
                </div>
                {{getTitle}}{{^getTitle}}{{getXRef}}{{/getTitle}}
            </li>
            {{/getLastOpenMilestones}}
            {{#hasMoreMilestone}}
            <li>...</li>
            {{/hasMoreMilestone}}
        </ul>
    </li>
    {{/getShortAccess}}
</ul>

{{#getLatestLeafMilestone}}
    {{{getContent}}}
{{/getLatestLeafMilestone}}

{{/hasShortAccess}}
{{^hasShortAccess}}
<p>
    <em>Nothing has been setup yet. Please come again later!</em>
</p>
{{/hasShortAccess}}
