{{#hasShortAccess}}
<center>
    <ul class="ad_index_plannings">
        <li class="ad_index_planning" style ="padding-left:10px;padding-right: 10px; height: auto">
            <h2>
                <a href ="?action=show-top&group_id={{project_id}}&pane={{get_default_top_pane}}">
                    {{top_planning}}
                </a>
            </h2>
        </li>
    </ul>
</center>
<ul class="ad_index_plannings">
    {{#getShortAccess}}
    <li class="ad_index_planning">
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <h2>{{#planning}}{{getName}}{{/planning}} <b class="caret"></b></h2>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/plugins/tracker/?tracker={{planningTrackerId}}&func=new-artifact-link&id=0&immediate=1&{{planningRedirectToNew}}">
                        {{createNewItemToPlan}}
                    </a>
                </li>
            </ul>
        </div>
        <ul>
            {{#getLastOpenMilestones}}
            <li class="{{#is_active}}active{{/is_active}}">
                <div class="ad_index_planning_icons">
                    {{#getQuickLinkIconList}}
                        <a href="{{uri}}"><img title="{{title}}" src="{{icon}}"></a>
                    {{/getQuickLinkIconList}}
                </div>
                {{getTitle}}{{^getTitle}}{{getXRef}}{{/getTitle}}
            </li>
            {{/getLastOpenMilestones}}
            {{#hasMoreMilestone}}
            <li><a
                href="?group_id={{project_id}}&planning_id={{planning_id}}&action=get-more-milestones&offset={{next_offset}}"
                title="{{more_title}}" class="ad_index_load_more_milestones">{{more}}</a>
            </li>
            {{/hasMoreMilestone}}
        </ul>
    </li>
    {{/getShortAccess}}
</ul>

{{#getLatestLeafMilestone}}
    {{{getContent}}}
{{/getLatestLeafMilestone}}

{{/hasShortAccess}}
{{^hasShortAccess}}
<p>
    <em>{{{ nothing_set_up }}}</em>
</p>
{{/hasShortAccess}}
