<div
    ng-app="kanban"
    ng-controller="MainCtrl"
    ng-init="init(
        {{ kanban_representation }},
        {{ user_id }},
        {{ user_is_kanban_admin }},
        '{{ language }}',
        {{ project_id }},
        '{{ view_mode }}',
        '{{ nodejs_server }}'
    )"
>
    <ui-view class="kanban"></ui-view>
</div>
