{{#has_something}}
    {{#has_something_done}}
        <h3 class="closed-items-title">{{closed_items_title}}</h3>
        <p>{{closed_items_intro}}</p>
        <div class="row-fluid">
            <input type="text" class="content-filter closed" placeholder="Backlog element…">
        </div>
        <div class="row-fluid">
            <div class="span10 agiledasboard-content-closed-items">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>{{type}}</th>
                            <th>{{title}}</th>
                            <th>{{parent}}</th>
                        </tr>
                    </thead>
                    <tbody class="milestone-content-closed">
                        {{#done_collection}}
                            <tr data-artifact-id="{{id}}">
                                <td><a href="{{url}}" class="backlog-item-link" data-artifact-id="{{id}}">{{id}}</a></td>
                                <td><span class="{{ color }} xref-in-title label">{{type}}</span></td>
                                <td class="milestone-element-title">{{title}}</td>
                                <td class="milestone-element-parent"><a href="{{parent_url}}" class="backlog-item-link" data-artifact-id="{{parent_id}}">{{parent_title}}</a></td>
                            </tr>
                        {{/done_collection}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/has_something_done}}
{{/has_something}}
