{{=<% %>=}}

<link href="/plugins/agiledashboard/angular/vendor/angular-ui-tree/dist/angular-ui-tree.min.css" media="all" rel="stylesheet" type="text/css">
<link href="/plugins/agiledashboard/angular/bin/assets/tuleap.planning-0.0.1.css" media="all" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/plugins/agiledashboard/angular/bin/assets/tuleap.planning-0.0.1.js"></script>

<div ng-app="tuleap.planningApp" class="row-fluid" ng-cloak>
    <div ng-controller="SortCtrl">
        <div class="backlog span6" ng-controller="MilestoneCtrl" ng-init="init(<% milestone_id %>)" ui-tree="treeOptions" data-drag-delay="150">
            <div class="backlog-header">
                <h2>To be planned <input type="text" placeholder="filter" class="input-small" ng-model="query.label"/></h2>
            </div>
            <div scrollable>
                <ul class="backlog-content" ui-tree-nodes="" ng-model="toBePlanneds" infinite-scroll="loadMore()" infinite-scroll-distance="2">
                    <li class="backlog-item story" ng-repeat="backlogItem in toBePlanneds | filter:query:strict" ui-tree-node>
                        <div ng-controller="BacklogItemCtrl" ng-init="init(backlogItem.id)" ng-include="template">
                        </div>
                    </li>
                </ul>
                <div ng-show="busy">Loading data…</div>
            </div>
        </div>

        <div class="plan span6" ng-controller="SubmilestonesCtrl" ng-init="init(<% milestone_id %>)">
            <div class="plan-header">
                <h2>Sprints in Release 7.0
                    <button class="btn btn-small">add sprint</button>
                </h2>
            </div>
            <div scrollable>
                <div class="plan-content">
                    <div class="plan-content-milestone" ng-repeat="submilestone in submilestones track by submilestone.id" ng-controller="SubmilestoneCtrl">
                        <div class="plan-content-milestone-header" ng-click="init(submilestone.id)">  {{ submilestone.label }}</div>
                        <div id="submilestone-{{ submilestone.id }}" class="plan-content-milestone-content" ng-show="showItems" ui-tree="treeOptions" data-drag-delay="150">
                            <div class="plan-content-milestone-content-header">Remaining effort: {{ submilestone.remaining_effort }}
                                <!-- input type="text" class="input-small" ng-model="submilestone.remaining_effort" ng-change="change(submilestone)" /-->
                            </div>
                            <ul class="plan-content-milestone-content-items" ui-tree-nodes="" ng-model="planned">
                                <li class="backlog-item story" ng-repeat="backlogItem in planned" ui-tree-node>
                                    <div ng-controller="BacklogItemCtrl" ng-init="init(backlogItem.id)" ng-include="template">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
