<div class="agiledashboard-milestone-content">
    <div class="agiledashboard-milestone-content-items">
        {{> pane-content-addcontent}}

        {{> pane-content-inconsistentitems}}

        {{> pane-content-items-list}}
    </div>
    {{# chart_presenter }}
        {{> pane-content-charts }}
    {{/ chart_presenter }}
</div>
