<div id="planning-app" ng-app="planning" ng-controller="PlanningCtrl" ng-init="init({{ user_id }}, {{ project_id }}, '{{ milestone_id }}', '{{ lang }}', {{ use_angular_new_modal }}, '{{ view_mode }}', {{ milestone_representation }})">
    <ng-include src="'planning.tpl.html'"></ng-include>
</div>
