<h3>{{open_items_title}}</h3>


{{#can_add_backlog_item}}
<div class="btn-group">
    <a href="{{add_new_backlog_url}}" class="btn">{{add_new_backlog_item}}</a>
</div>
{{/can_add_backlog_item}}

{{#can_add_subbacklog_items}}
{{allow_other_create}}
<div class="btn-group">
    <a class="dropdown-toggle btn" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
        {{add_in_descendant_title}}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {{#backlog_elements}}
        <li><a href="{{url}}">{{title}}</a></li>
        {{/backlog_elements}}
    </ul>
</div>
{{/can_add_subbacklog_items}}

{{#has_milestones}}
    {{#has_milestones_todo}}
        <p>{{open_items_intro}}</p>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>{{title}}</th>
                    <th>{{points}}</th>
                    <th>{{parent}}</th>
                </tr>
            </thead>
            <tbody class="{{#can_prioritize}}milestone-content-open-rows{{/can_prioritize}}">
                {{#todo_collection}}
                    <tr data-artifact-id="{{id}}">
                        <td><a href="{{url}}">{{id}}</a></td>
                        <td>{{title}}</td>
                        <td>{{points}}</td>
                        <td><a href="{{parent_url}}">{{parent_title}}</a></td>
                    </tr>
                {{/todo_collection}}
            </tbody>
        </table>
    {{/has_milestones_todo}}
{{/has_milestones}}