<div id="planning-app"
    ng-app="planning"
    ng-controller="MainController"
    ng-init="init({{ user_id }}, {{ project_id }}, '{{ milestone_id }}', '{{ lang }}', '{{ view_mode }}', {{ milestone_representation }}, {{ paginated_backlog_items_representations }}, {{ paginated_milestones_representations }})"
>
    <ui-view></ui-view>
</div>
