<div class="agiledashboard-milestone-details">
    <div class="agiledashboard-milestone-details-items">
        {{> pane-details-inconsistentitems}}

        {{> pane-details-items-list}}
    </div>
    {{# chart_presenter }}
        {{> pane-details-charts }}
    {{/ chart_presenter }}
</div>
