<ul class="nav nav-tabs">
    {{# getPaneInfoList }}
        <li class="{{# isActive }}active{{/ isActive }}">
            <a href="{{ getUri }}">
                {{{ getTitle }}}
                {{# isExternalLink }}
                    <i class="fa fa-external-link"></i>
                {{/ isExternalLink }}
            </a>
        </li>
    {{/ getPaneInfoList }}
    <li>
        <a href="/plugins/tracker/?aid={{ milestoneId }}">
            {{ artifact }} <i class="fa fa-external-link"></i>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div id="{{ getActivePane.getIdentifier }}" class="tab-pane active">
    {{{ getActivePane.getFullContent }}}
    </div>
</div>
