<div class="alert alert-info">
    <span class="lab_features">{{{lab}}}</span>
</div>
<h3>{{title}}</h3>

<div class="agiledashboard-planning-backlog">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{title}}</th>
                <th>{{points}}</th>
                <th>{{parent}}</th>
            </tr>
        </thead>
        <tbody>
            {{#backlog_collection}}
                <tr data-artifact-id="{id}">
                    <td><a href="{url}">{id}</a></td>
                    <td>{title}</td>
                    <td>{points}</td>
                    <td><a href="{parent_url}">{parent_title}</a></td>
                </tr>
            {{/backlog_collection}}
        </tbody>
    </table>
</div>

<div class="agiledashboard-planning-submilestones">
    <div id="accordion">
        {{#submilestone_collection}}
        <div>
            <h3><a href="{{milestone_url}}">{{milestone_title}}</a> {start_date} - {end_date} - {status}</h3>
            <div>
                <p>Capacity: #to be update onload#</p>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>{{backlog_item_title}}</th>
                            <th>{{points}}</th>
                            <th>{{parent}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        {{/submilestone_collection}}
    </div>
</div>

<div style="clear:both;"></div>

<style>
    .agiledashboard-planning-backlog {
        float: left;
    }
    .agiledashboard-planning-submilestones {
        float: left;
    }
</style>

<script type="text/javascript">
    (function($) {
        $(function() {
            $("#accordion > div").accordion({ header: "h3", collapsible: true, active: false });
        })
    })(jQuery);
</script>