<div class="agiledashboard-milestone-content">
    <div class="agiledashboard-milestone-content-items">
        {{> pane-content-initial-effort-warning}}

        {{> pane-content-addcontent}}

        {{> pane-content-items-list}}

        {{> pane-content-inconsistentitems}}
    </div>
    {{# has_burndown }}
        <div class="agiledashboard-milestone-content-graphs">
            <h3>{{ burndown_label }}</h3>
            <img src="{{ burndown_url }}" width="640" height="480">
        </div>
    {{/ has_burndown }}
</div>
