{{# has_something_inconsistent }}
    <form method="POST" action="{{ solve_inconsistencies_url }}" class="feedback_warning">
        {{# inconsistent_collection }}
            <input type="hidden" name="inconsistent-artifacts-ids[]" value="{{id}}"/>
        {{/ inconsistent_collection }}

        <i class="icon-warning-sign"></i> {{ inconsistent_items_intro }}
        <input type="submit" class="btn btn-warning" value="{{ solve_inconsistencies_button }}"/>
    </form>
{{/ has_something_inconsistent }}
