<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title"> {{# dgettext }} tuleap-agiledashboard | Agiledashboard plannings {{/ dgettext }}</h1>
        </div>

        <div id="agile-dashboard-permission-per-group"
             data-selected-ugroup-id="{{ ugroup_id }}"
             data-selected-project-id="{{ project_id }}"
             data-selected-ugroup-name="{{ selected_ugroup_name }}"
             data-locale="{{ locale }}">
        </div>
    </div>
</section>
