<select multiple="multiple" name="backlog_tracker_ids[]" style="vertical-align: top;">
    {{#available_trackers}}
        <option value="{{getId}}">{{getName}}</option>
    {{/available_trackers}}
</select>