<select class="tlp-select tlp-select-adjusted" name="planning[planning_tracker_id]" id="planning_tracker_id" required>
    {{# available_planning_trackers }}
        <option value="{{ id }}" {{# selected }} selected {{/ selected }}>{{ name }}</option>
    {{/ available_planning_trackers }}
</select>
