<select name="planning[planning_tracker_id]">
    {{# available_planning_trackers }}
        <option value="{{ id }}" {{# selected }} selected {{/ selected }}>{{ name }}</option>
    {{/ available_planning_trackers }}
</select>