<select name="planning[backlog_tracker_ids][]" style="vertical-align: top;" multiple>
    {{#available_backlog_trackers}}
    <option value="{{getId}}" {{selectedIfBacklogTracker}}>{{getName}}</option>
    {{/available_backlog_trackers}}
</select>
