<div>
    <form action="?" method="GET">
        <input type="hidden" name="group_id" value="{{groupId}}" />
        <input type="hidden" name="action" value="show" />
        <input type="hidden" name="planning_id" value="{{planningId}}" />
        <select class="planning-artifact-chooser" name="aid">
            <option value="">{{pleaseChoose}}</option>
            {{#selectableArtifacts}}
                <option value="{{id}}" {{{selected}}}>{{{title}}}</option>
            {{/selectableArtifacts}}
            <option value="-1">{{createNewItemToPlan}}</option>
        </select>
        <noscript>
            <input type="submit" />
        </noscript>
    </form>
</div>
