{{#getDestination}}
    <div id="art-{{getId}}" class="release_planner card {{getDestinationDroppableClass}}">
        {{#getData}}
            {{> card-actions}}
        {{/getData}}
        {{> select-destination}}
        <hr />
        <p class="help">{{destinationHelp}}</p>
        {{^canDrop}}
            {{{errorCantDrop}}}
        {{/canDrop}}
        {{#canDrop}}
            <div>
                {{^hasChildren}}
                    No items yet
                {{/hasChildren}}
                {{#hasChildren}}
                    {{> cards}}
                {{/hasChildren}}
            </div>
        {{/canDrop}}
    </div>
{{/getDestination}}
<div style="clear: both"></div>
