<div class="agiledashboard">
    <h2>{{planning_name}}</h2>

    <table>
        <tbody>
            <tr valign="top">
                <td>

                    <div class="product_backlog">
                        {{{fetchSearchContent}}}
                    </div>

                </td><td>
                    <div>
                        <select name="aid">
                            <option>{{pleaseChoose}}</option>
                        </select>
                    </div>
                    {{#hasArtifact}}
                    {{> show-destination}}
                    {{/hasArtifact}}

                </td>
            </tr>
        </tbody>
    </table>

</div>


