{{#getPlannedArtifactsTree}}
    <div id="art-{{getId}}" class="release_planner card {{planningDroppableClass}}">
        {{#getCardPresenter}}
            {{> card-actions}}
        {{/getCardPresenter}}
        {{> select-destination}}
        <hr />
        <p class="help">{{plannedArtifactsHelp}}</p>
        {{^canDrop}}
            {{{errorCantDrop}}}
        {{/canDrop}}
        {{#canDrop}}
            {{#canDisplayRemainingEffort}}
            <div>
                {{#isOverCapacity}}<span class="planning_overcapacity">{{/isOverCapacity}}
                {{{getRemainingEffort}}}
                {{#isOverCapacity}}</span>{{/isOverCapacity}}
            </div>
            {{/canDisplayRemainingEffort}}
            <div>
                {{^hasChildren}}
                    No items yet
                {{/hasChildren}}
                {{#hasChildren}}
                    {{> cards}}
                {{/hasChildren}}
                {{#hasSubMilestones}}
                    <hr />
                    <ul>
                        {{#getSubMilestones}}
                            <li><a href="{{getUri}}">{{getXRef}} - {{getTitle}}</a></li>
                        {{/getSubMilestones}}
                    </ul>
                {{/hasSubMilestones}}
            </div>
        {{/canDrop}}
    </div>
{{/getPlannedArtifactsTree}}
<div style="clear: both"></div>
