<div class="agiledashboard almost-tlp-title project-header-title">
    <div class="dropdown">
        <input type="hidden" id="milestone_id" value="{{milestoneId}}" />
        <h2 class="dropdown-toggle" data-toggle="dropdown">{{milestoneTitle}} <i class="fas fa-fw fa-caret-down"></i></h2>
        <ul class="dropdown-menu">
            <li><a href="{{editArtifactUrl}}" class="backlog-item-link" data-artifact-id="{{milestoneId}}">{{editArtifact}}</a></li>
        </ul>
    </div>

    {{#displayMilestoneDates}}
        <div class="release-date-info">
            {{startDate}} – {{endDate}}
        </div>
    {{/displayMilestoneDates}}
</div>
{{> pane-list-flaming-parrot }}
