{{#backlog_collection}}
<tr class="submilestone-element milestone-open" data-artifact-id="{{id}}">
    <td><a href="{{url}}" class="backlog-item-link" data-artifact-id="{{id}}">{{id}}</a></td>
    <td><span class="label">{{type}}</span></td>
    <td class="submilestone-element-title">{{title}}</td>
    <td class="submilestone-element-remaining-effort">{{points}}</td>
    <td class="submilestone-element-parent"><a href="{{parent_url}}" class="backlog-item-link" data-artifact-id="{{parent_id}}">{{parent_title}}</a></td>
    <td>{{status}}</td>
</tr>
{{/backlog_collection}}
