#
# Here, we define CodeX specific aliases.
#
# They are defined here (and not in httpd.conf) so as to be included in
# both httpd.conf and ssl.conf. This will make the aliases available in
# both the 'normal' virtualhost and the https virtual host (and not in
# other virtualhosts, like project web sites).
#


#
# Aliases: Add here as many aliases as you need (with no limit). The format is 
# Alias fakename realname
#
# Note that if you include a trailing / on fakename then the server will
# require it to be present in the URL.  So "/icons" isn't aliased in this
# example, only "/icons/".  If the fakename is slash-terminated, then the 
# realname must also be slash terminated, and if the fakename omits the 
# trailing slash, the realname must also omit it.
#
#



#
# CodeX documentation
Alias /documentation/ "/usr/share/codex/documentation/"

<Directory "/usr/share/codex/documentation">
    Options MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>

#
# CodeX downloads
Alias /downloads/ "/usr/share/codex/downloads/"

<Directory "/usr/share/codex/downloads">
    Options MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>

# CodeX custom themes
Alias /custom/ "/etc/codex/themes/"
<Directory "/etc/codex/themes/">
    Options None
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>


# phpWiki themes
Alias /wiki/themes "/usr/share/codex/src/common/wiki/phpwiki/themes"
<Directory "/usr/share/codex/src/common/wiki/phpwiki/themes">
    Options None
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>

# MRTG (Multi Router Traffic Grapher) - Monitor System
Alias /mrtg/ "/home/httpd/mrtg/"

<Directory "/home/httpd/mrtg">
    Options MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>

# The PHP interface to MySQL administration
Alias /phpMyAdmin /home/httpd/phpMyAdmin

<Directory "/home/httpd/phpMyAdmin">
    Options MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>

# Plugins directory
ScriptAliasMatch /plugins/([^/]*/cgi-bin/.*) "/usr/share/codex/plugins/$1"
<Directory "/usr/share/codex/plugins/[^/]*/cgi-bin">
    AllowOverride None
    Options ExecCGI
    Order allow,deny
    Allow from all
</Directory>

AliasMatch ^/plugins/([^/]*)/(.*) /usr/share/codex/plugins/$1/www/$2
<DirectoryMatch "/usr/share/codex/plugins/([^/]*)/www/">
    Options Indexes MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
</DirectoryMatch>

# Custom plugins directory
ScriptAliasMatch /customplugins/([^/]*/cgi-bin/.*) "/etc/codex/plugins/$1"
<Directory "/etc/codex/plugins/[^/]*/cgi-bin">
    AllowOverride None
    Options ExecCGI
    Order allow,deny
    Allow from all
</Directory>

AliasMatch ^/customplugins/([^/]*)/(.*) /etc/codex/plugins/$1/www/$2
<DirectoryMatch "/etc/codex/plugins/([^/]*)/www/">
    Options Indexes MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
</DirectoryMatch>

#
# ScriptAlias: This controls which directories contain server scripts.
# ScriptAliases are essentially the same as Aliases, except that
# documents in the realname directory are treated as applications and
# run by the server when requested rather than as documents sent to the client.
# The same rules about trailing "/" apply to ScriptAlias directives as to
# Alias.
#
ScriptAlias /cgi-bin/ "/var/www/cgi-bin/"

# FollowSymLinks is needed here because of the rewrite rule (otherwise, other CGIs are forbidden...)
<Directory "/var/www/cgi-bin">
    AllowOverride None
    Options ExecCGI FollowSymLinks
    Order allow,deny
    Allow from all
    RedirectMatch permanent /cgi-bin/cvsweb.cgi/(.*) /cvs/viewvc.php/$1
    <IfModule mod_rewrite.c>
      RewriteEngine on
      RewriteCond %{QUERY_STRING} roottype=svn
      RewriteRule viewcvs.cgi/(.*) /svn/viewvc.php/$1 [R]

      RewriteRule viewcvs.cgi/(.*) /cvs/viewvc.php/$1 [R]
    </IfModule>
</Directory>
