<?php
// Copyright (c) Enalean, 2011-Present. All Rights Reserved.
// Copyright (c) Xerox Corporation, Codendi Team, 2001-2009. All rights reserved
//
// This file is a part of Tuleap.
//
// Tuleap is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 2 of the License, or
// (at your option) any later version.
//
// Tuleap is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Tuleap. If not, see <http://www.gnu.org/licenses/>.
//

// Please specify your database details here:
$sys_dbhost='localhost';
$sys_dbname='%sys_dbname%';
$sys_dbuser='%sys_dbuser%';
$sys_dbpasswd='%sys_dbpasswd%';

// If set to '1' (one) connexions to DB are made through SSL.
// Note: Mysql server must be properly configured to accept SSL
// connection. Either with a grant for user or by forcing all
// connections to be in SSL with `require_secure_transport=ON`
$sys_enablessl          = '0';
$sys_db_ssl_ca          = '/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem';
$sys_db_ssl_verify_cert = '0';

// for phpWiki
$sys_server='mysql';
//The value should be 20 due to mysql max join limit
$sys_server_join='20';
