<?php
// Copyright (c) Xerox Corporation, Codendi Team, 2001-2009. All rights reserved
//
// This file is a part of Codendi.
//
// Codendi is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 2 of the License, or
// (at your option) any later version.
//
// Codendi is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Codendi. If not, see <http://www.gnu.org/licenses/>.
//

// Debug mode: display debug data in page footer.
// Only displayed for site-admins
// Set to 1 to enable it
$DEBUG_MODE = 0;

//Display for all users (1) or only to siteadmin (0) ?
$DEBUG_DISPLAY_FOR_ALL = 1;

// Check forge upgrade on administration and administrator personal page
// Set to 1 to disable checks
$disable_forge_upgrade_warnings = 0;

// Error reporting.
// Uncomment on dev platforms
//error_reporting(E_ALL);
//ini_set('display_errors', 'on');

$GLOBALS['debug_time_start'] = microtime(true);

?>
