<?php
// Copyright (c) Enalean, 2011-Present. All rights reserved
// Copyright (c) STMicroelectronics, 2009-2011. All rights reserved
// Copyright (c) Xerox Corporation, Codendi Team, 2001-2009. All rights reserved
//
// This file is a part of Tuleap.
//
// Tuleap is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 2 of the License, or
// (at your option) any later version.
//
// Tuleap is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Tuleap. If not, see <http://www.gnu.org/licenses/>.
//

//
// Tuleap Global Configuration File
//

// Important note on file format
// -----------------------------
// This script is read/parsed in PHP, Python, Perl, and parts in Bash
// For this reason it is important to follow the following syntax rules:
// - variables start with a '$'
// - lines end with ";"
// - use at least one blank char before and after every equal sign (e.g. "$a = 1;" is valid, "$a=1;" is not)
// - you can reuse one variable (not more) in a definition.
// - You can concatenate two strings (not more) with a " . ".
// - some definitions may not contain variables (whenever precised)
// - strings can only be defined using single quotes with the exception of strings composed only of special chars
// Examples:
// $a = 1;                     -> valid
// $a = $b . '/tmp';           -> valid
// $a = "\n";                  -> valid (tolerated since the string is composed only of a special char)
// $a = $b.'/tmp';             -> invalid (missing blanks around the dot)
// $a =$b . '/tmp';            -> invalid (missing a blank after equal sign)
// $a = $b . $c;               -> invalid (only one variable accepted)
// $a = '/home' . $b . '/tmp'; -> invalid (only one concatenation per line)
// $a = "/tmp";                -> invalid (double quotes are not allowed)


//
//
// PART I - Tuleap hostnames
//

// Hostnames should be fully qualified domain names (FQDNs)
//
// =============================================================
// The default Tuleap domain
//
// this is used where ever the "naked" form of the Tuleap domain
// might be used.
// This is also used as the default name for the Web server using
// the standard https protocols. You can also
// define a specific port number (useful for test servers - default 443)
//
$sys_default_domain = '%sys_default_domain%';

//This is used for cookie authentication. If you have distributed servers,
//please use same cookie prefix for a "cluster"
$sys_cookie_prefix = 'TULEAP';


//
//
// PART II - Paths and system settings
//
//

// In order to run a test server (without backend cron jobs, SVN, vhosts, FRS, etc.)
// Please update the following variables:
// $codendi_dir = 'mydir/tuleap'
// $sys_custom_dir = 'mydir/etc/tuleap'
// $sys_data_dir = 'mydir/data'


// Tuleap directory (PHP pages, site-content, etc)
$codendi_dir = '/usr/share/tuleap';
$tuleap_dir  = $codendi_dir;

// Site specific settings are stored there:
$sys_custom_dir = '/etc/tuleap';

// Tuleap binary prefix - do *not* use variables in this definition (compile_fileforge.sh)
$codendi_bin_prefix = '/usr/lib/tuleap/bin';

// Tuleap database configuration file
$db_config_file = $sys_custom_dir . '/conf/database.inc';

// Redis config file
$redis_config_file = '/etc/tuleap/conf/redis.inc';

// Data Directory
$sys_data_dir = '/var/lib/tuleap';

// Place to put temporary data: deleted user's accounts, etc
$tmp_dir = '/var/tmp';

// Tuleap utils directory
// WARNING: DO NOT USE VARIABLES in the three parameter definitions below.
// For instance, do *not* use someting like
//    *wrong* $codendi_utils_prefix = $codendi_dir . 'tuleap/utils' *wrong*
// this is because those variables will be read by shell scripts.
$codendi_utils_prefix         = '/usr/share/tuleap/src/utils';

// Where wiki attachments are stored
$sys_wiki_attachment_data_dir = $sys_data_dir . '/wiki';

// Where the Tuleap files are placed
$sys_urlroot = $codendi_dir . '/src/www/';

// Site-content paths
$sys_incdir = $codendi_dir . '/site-content';// Directory which hosts the site content
$sys_custom_incdir = $sys_custom_dir . '/site-content';// Directory which hosts the customized site content

// Cache location
// This directory must be world reachable, but writable only by the web-server
$codendi_cache_dir = $tmp_dir . '/tuleap_cache';

// Subversion paths
$svn_prefix    = '/var/lib/tuleap/svnroot';// prefix to add to the subversion root directory
$svnadmin_cmd  = '/usr/bin/svnadmin';     // SVN Admin binary
$svn_root_file = '/etc/httpd/conf.d/tuleap-svnroot.conf'; // File containing SVN repository definitions for Apache
$svn_log_path  = 'logs/svn_log'; // Where apache logs files for svn should go to

// FRS paths - do *not* use variables in the following parameters
$ftp_frs_dir_prefix  = '/var/lib/tuleap/ftp/tuleap';   // Where the released files are located
$ftp_incoming_dir    = '/var/lib/tuleap/ftp/incoming';// Where files are placed when uploaded
$ftp_anon_dir_prefix = '/var/lib/tuleap/ftp/pub';     // prefix to add to the anon ftp project homedir

// Path for DB dumps. Do *not* use variables in this parameter
$dump_dir         = '/var/lib/tuleap/dumps';// Where should we stick files we're working with

// Paths for backend scripts
$codendi_log        = '/var/log/tuleap';   // Tuleap log dir

// Sendmail alias
$alias_file           = '/etc/aliases.codendi';

// Plugins related paths
$sys_pluginsroot       = $codendi_dir . '/plugins/';
$sys_custompluginsroot = $sys_custom_dir . '/plugins/';
$sys_pluginspath       = '/plugins';
$sys_custompluginspath = '/customplugins';
// Comma separated paths where Tuleap can find plugins
$sys_extra_plugin_path = '';

// Users
$sys_http_user  = 'codendiadm'; // Unix user running the HTTP server

//
//
// Part III - GUI modifications (menu colors, etc.) and other parameters
//
//


// Group id corresponding to Tuleap News group
// (was group 714 in SourceForge - sfnews)
$sys_news_group = 46;

// Make project categorisation mandatory. If a project has not categorized itself,
// it will result in a warning in project summary page.
$sys_trove_cat_mandatory = 1;

// Linefeed characters: \r\n for Windows, \n for Linux/Unix
$sys_lf = "\n";

// Disable sub-domains (like aaa.proj.example.com)
// Should be disabled if no DNS delegation
$sys_disable_subdomains = 0;

//
// Authentication scheme
//
// Should be either 'ldap' or 'codendi'
$sys_auth_type = 'codendi';

// Email address pointing to the Tuleap site administrators
// for use Web pages, documentation,etc.
$sys_email_admin = 'codendi-admin@%sys_default_domain%';

// Email address pointing to the Tuleap contacts.
// for use Web pages, documentation,etc.
$sys_email_contact = 'codendi-contact@%sys_default_domain%';

// Address from which emails are sent
$sys_noreply = '"Tuleap" <noreply@%sys_default_domain%>';

// Supported languages (separated comma)
// Only en_US, fr_FR, and pt_BR are available for now
// Exemple: 'en_US,fr_FR'
$sys_supported_languages = 'en_US,fr_FR,pt_BR';

// Default language for the system
$sys_lang = 'en_US';

// if set to 0 (zero) then the project privacy radio buttons are hidden during the project registration
$sys_user_can_choose_project_privacy = 1;

// Is license approval mandatory when downloading a file from the FRS?
// (1 is mandatory, 0 is optional)
$sys_frs_license_mandatory = 0;

// If sys_frs_license_mandatory is 1, then you must give the Exchange policy URL
// which will be used to generate links on the download confirmation popup.
$sys_exchange_policy_url = '';

// Maximum duration of a session (in seconds)
// Default value is about 2 weeks: 3600*24*14=1209600
$sys_session_lifetime = 1209600;

// Delay (in seconds) between 2 updates of "last access" date for a user
// Default is 1 hour, it's good enough if you want to know the day a user was seen
// A number to low will degrade performances
$last_access_resolution = 3600;

// Duration before deleting pending accounts which have not been activated
// (in days)
// Default value is 60 days
$sys_pending_account_lifetime = 60;

// Default password duration. User will be asked to change its password
// after 'sys_password_lifetime' days.
// 0 = no duration
$sys_password_lifetime = 0;

// Suspend user account after a given period of inactivity (in days)
// 0 = no inactivity checking
$sys_suspend_inactive_accounts_delay = 0;

// Suspend user account if he has been no  more member of any project (in days)
// 0 = never desactivate "not project members" account
$sys_suspend_non_project_member_delay = 0;

// Delay between the date when a doc is deleted by a user and the date the
// corresponding file is erased on the filesystem.
// Useful for backup and to restore files that where deleted by mistake
// Default value is 3 days
$sys_file_deletion_delay = 3;

// Max upload size for quick release, documentation.
// in bytes. E.g. 67108864 for 64 MB
// Make sure that php.ini and mysql configuration file (/etc/my.cnf)
// are also configured to allow this size.
$sys_max_size_upload = 67108864;

// Enable trove categorization (project tree/software map)
// (1 to enable, 0 to disable)
$sys_use_trove = 1;

//Enable new project registration
// (1 to enable, 0 to disable)
$sys_use_project_registration = 1;


//User's avatar path
$sys_avatar_path = $sys_data_dir . '/user/avatar/';

// Displays to end users the privacy of the project
// If enabled (1), a 'lock' icon will be displayed plus the mention public|private
// If disabled (0), only the project name is displayed
$sys_display_project_privacy_in_service_bar = 1;

// Hard limit to number of emailed people when the news admin choose to send a news
// by email.
// Only used in news service for now
$sys_max_number_of_emailed_people = 100;

// Allow (or not) users to do a SVN commit without any commit message
// Set to 0 to force commit message to not be empty
$sys_allow_empty_svn_commit_message = 1;

// Set the reporting level for logging
//
//  Possible levels:
// - debug
// - info
// - warning
// - error
//
// Note: as of today, not all loggers respects this value
$sys_logger_level = 'warning';


// Define the email domain for email gateway feature
// By default, email domain = default Tuleap domain (see $sys_default_domain)
$sys_default_mail_domain = '';

//Backup path for deleted projects
$sys_project_backup_path = $tmp_dir;

// Whitelist URLs for the Content-Security-Policy directive script-src
// This could be needed if JavaScript code needs to be executed from an external website
// For example, this could be 'https://example.com http://tuleap.net' or 'https://example.com/script.js'
$sys_csp_script_scr_whitelist = '';

// Comma separated list of IP addresses that are trusted reverse proxy.
//
// When you setup a reverse proxy in front of Tuleap (for SSL termination or
// load balancer for instance, you should set there the IP address of the proxy
//
// /!\ SECURITY WARNING /!\
//
// When enabled, Tuleap will trust following HTTP headers:
// - X_FORWARDED_FOR
// - X_FORWARDED_PROTO
// - REMOTE_ADDR
// You have to ensure those headers are properly set by your reverse proxy
// otherwise it might be an injection point for an attacker
$sys_trusted_proxies = '';

// When 0 mail sent to everybody can lead to information leak, non projects members can receive mails of private projects
$sys_mail_secure_mode = 0;

// Backend workers
//
// Number of backend workers to process background jobs.
// To be adapted given your server workload.
// 2 is a good starting value, you can increase it
// $sys_nb_backend_workers = 0;
