/var/log/%PROJECT_NAME%/codendi_syslog {
    missingok
    weekly
    rotate 4
    create 640 %APP_USER% %APP_USER%
}

/var/log/%PROJECT_NAME%/mail_syslog {
    missingok
    weekly
    rotate 4
    create 640 %APP_USER% %APP_USER%
}

/var/log/%PROJECT_NAME%/svnroot_updater.log {
    missingok
    weekly
    rotate 4
    create 640 root root
}

/var/log/%PROJECT_NAME%/rest_api_log {
    missingok
    weekly
    rotate 4
    create 640 %APP_USER% %APP_USER%
}

/var/log/%PROJECT_NAME%/worker_log {
    missingok
    weekly
    rotate 4
    create 640 %APP_USER% %APP_USER%
}

/var/log/%PROJECT_NAME%/usersuspension_syslog {
    missingok
    weekly
    rotate 4
    dateext
    create 640 %APP_USER% %APP_USER%
}