[client]
loose-default-character-set=utf8

[mysqld]
character_set_server=utf8
log-bin=%PROJECT_NAME%-bin
max_allowed_packet=128M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
bind-address=127.0.0.1

# Reduce default inactive timeout (prevent DB overload in case of nscd
# crash)
wait_timeout=180

# Innodb settings
innodb_file_per_table

[mysql.server]
user=mysql
basedir=/var/lib

[mysqld_safe]
err-log=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
