<!--
//
// CodeX: Breaking Down the Barriers to Source Code Sharing inside Xerox
// Copyright (c) Xerox Corporation, CodeX, 2001-2004. All Rights Reserved
// This file is licensed under the Codex Component Software License
// http://cxtst.xrce.xerox.com
//
// 
//
// Originally written by Laurent Julliard 2003, CodeX Team, Xerox
//
-->
<!-- 

This file will be copied at the installation into the 
/etc/codex/documentation/user_guide/xml directory and 
the values between %% will be changed by the ones given
during the installation procedure.
This is to customize the content of the CodeX User Guide

For instance:

<!ENTITY SYS_DEFAULT_DOMAIN "my.domain.here">
<!ENTITY SYS_ORG_NAME "Your organization name here">
etc...
-->
<!ENTITY SYS_DEFAULT_DOMAIN "%sys_default_domain%">
<!ENTITY SYS_CVS_HOST "cvs.%sys_default_domain%">
<!ENTITY SYS_SVN_HOST "svn.%sys_default_domain%">
<!ENTITY SYS_DOWNLOAD_HOST "download.%sys_default_domain%">
<!ENTITY SYS_SHELL_HOST "shell.%sys_default_domain%">
<!ENTITY SYS_LISTS_HOST "lists.%sys_default_domain%">
<!ENTITY FTPINCOMING_DIR "/var/lib/codex/ftp/incoming">
<!ENTITY FTPFILES_DIR "/var/lib/codex/ftp/codex">
<!ENTITY SYS_ORG_NAME "%sys_org_name%">
<!ENTITY SYS_LONG_ORG_NAME "%sys_long_org_name%">
<!ENTITY SYS_EMAIL_ADMIN  "codex-admin@%sys_default_domain%">
<!ENTITY SYS_EMAIL_CONTACT "codex-contact@%sys_default_domain%">
<!ENTITY SYS_SAMBA_DOMAIN "%sys_win_domain%">
<!ENTITY SYS_UPDATE_SITE "http://%sys_default_domain%/plugins/eclipse/www/updatesite/">

<!-- 
Redefine here (with the blank string "") the chapters you don't want to be included in the book (and only these ones) 
Don't put the SYSTEM keyword after the ENTITY because it is for files. So as "" is not a file, this would cause an error

For instance:
<!ENTITY ChapterVersionControlWithCVS "">
etc...
-->

<!-- Deprecated Legacy trackers won't be included -->
<!ENTITY ChapterBugTrackingSystem "">
<!ENTITY ChapterTaskManager "">
<!ENTITY ChapterPatchManager "">
<!ENTITY ChapterSupportRequestManager "">
<!ENTITY ChapterDocumentManager "">
