#
# PHP is an HTML-embedded scripting language which attempts to make it
# easy for developers to write dynamically generated webpages.
#

<IfModule !mod_php5.c>
  LoadModule php5_module modules/libphp5.so
</IfModule>

#
# Cause the PHP interpreter handle files with a .php extension.
# Codendi: also handles php3 legacy scripts
#
<Files *.php?>
    SetOutputFilter PHP
    SetInputFilter PHP
    LimitRequestBody 0
</Files>

#
# Add index.php to the list of files that will be served as directory
# indexes.
#
#DirectoryIndex index.php
AddType application/x-httpd-php .php


# PHP variables
php_flag register_globals on
php_flag magic_quotes_gpc off
php_flag short_open_tag on
# Needed by trackers and phpWiki
php_flag register_long_arrays on
php_value include_path "/usr/share/pear/:/usr/share/php:/usr/share/codendi/src/www/include:/usr/share/codendi/src:."
php_value memory_limit 196M
php_value post_max_size 128M
php_value upload_max_filesize 128M
php_admin_value upload_tmp_dir /var/tmp

# For phpwiki
# php_flag allow_call_time_pass_reference on

#
# With PHP5 session.save_path may not have a default value. This will raise a notice when
# browsing wiki pages. To fix it, just uncomment the following line.
#
php_value session.save_path "/var/tmp/codendi_cache"


# Debugging all=6143, all but notice=6135. See http://www.php.net/error_reporting
# Debugging 2047=all, 2039=all-notice
#php_flag display_errors on
php_value error_reporting "6135"

