NameVirtualHost *:80

#
# Define the www and xww virtual hosts. Just
# to be sure they are treated the right way
<VirtualHost *:80>
    ServerName %sys_default_domain%
    ServerAlias www.%sys_default_domain%
    ServerAlias lists.%sys_default_domain%

    RequestHeader edit Destination ^https http early

    # Include all configuration files from conf.d (php, subversion, etc.)
    Include conf.d/tuleap-aliases/*.conf

    LogFormat "%v %h %l %u %t \"%r\" %>s %b" commonvhost
    CustomLog logs/access_log commonvhost
    CustomLog logs/svn_log "%h %l %u %t %U %>s \"%{SVN-ACTION}e\"" env=SVN-ACTION
</VirtualHost>

#
# Subversion virtual hosts alias
#
<VirtualHost *:80>
    ServerName %sys_default_domain%
    ServerAlias svn.*.%sys_default_domain%

    LogFormat "%v %h %l %u %t \"%r\" %>s %b" commonvhost
    CustomLog logs/access_log commonvhost
</VirtualHost>