#
# Default vhost
#
<VirtualHost 127.0.0.1:8080>
    ServerName %sys_default_domain%
    ServerAlias lists.%sys_default_domain%

    RequestHeader edit Destination ^https http early

    LogFormat "%v %h %l %u %t \"%r\" %>s %b" commonvhost
    CustomLog logs/access_log commonvhost
    CustomLog logs/svn_log "%h %l %u %t %U %>s \"%{SVN-ACTION}e\"" env=SVN-ACTION
</VirtualHost>

#
# Subversion virtual hosts alias
#
<VirtualHost 127.0.0.1:8080>
    ServerName %sys_default_domain%
    ServerAlias svn.*.%sys_default_domain%

    LogFormat "%v %h %l %u %t \"%r\" %>s %b" commonvhost
    CustomLog logs/access_log commonvhost
</VirtualHost>
