<a href="{{ resource_allowed_project_back_link }}"><i class="icon-long-arrow-left"></i> {{ resource_allowed_project_back_link_title }}</a>

<h1>{{ resource_allowed_project_title }}</h1>

{{# allow_all_enabled }}
<form id="allowed-projects-all-form" action="{{ restricted_resource_action }}" method="POST">
    {{{ restricted_resource_action_csrf }}}

    <label for="allowed-projects-all-allowed" class="checkbox">
        <input type="checkbox" id="allowed-projects-all-allowed" name="all-allowed" value="1" {{^ is_resource_restricted }}checked{{/ is_resource_restricted }}> {{{ resource_allowed_project_allow_all }}}
    </label>

    <input type="submit" id="allowed-projects-all-allowed-state" class="btn btn-primary" value="{{ resource_allowed_project_allow_all_submit }}">
</form>
{{/ allow_all_enabled }}

{{# is_resource_restricted }}
    {{> allowed-projects-list }}
{{/ is_resource_restricted }}
