<div class="tlp-framed-vertically">
    <h1 class="tlp-framed-horizontally">{{ title }}</h1>

    <nav class="tlp-tabs">
        <a href="?view=installed" class="tlp-tab tlp-tab-active">{{ installed_tab_label }}</a>
        <a href="?view=available" class="tlp-tab">{{ not_installed_tab_label }}</a>
    </nav>

    <div class="tlp-framed-horizontally">
        <section class="tlp-pane">
            <div class="tlp-pane-container">
                <div class="tlp-pane-header">
                    <h1 class="tlp-pane-title">
                        <i class="fa fa-cubes tlp-pane-title-icon"></i> {{ installed_pane_label }}
                    </h1>
                </div>
                <section class="tlp-pane-section">
                    <div class="tlp-table-actions">
                        <div class="tlp-table-actions-spacer"></div>
                        <div class="tlp-form-element ">
                            <input type="search"
                                id="filter-plugins"
                                data-target-table-id="plugins-list"
                                autocomplete="off"
                                class="tlp-search"
                                size="28"
                                placeholder="{{ filter_label }}">
                        </div>
                    </div>
                    <table class="tlp-table" id="plugins-list">
                        <thead>
                        <tr>
                            <th>{{ plugin_table_head }}</th>
                            <th>{{ version_table_head }}</th>
                            <th>{{ description_table_head }}</th>
                            <th>{{ available_table_head }}</th>
                            <th>{{ scope_table_head }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="tlp-table-empty-filter">
                                <td colspan="6" class="tlp-table-cell-empty">
                                    {{ filter_empty_state }}
                                </td>
                            </tr>
                            {{# plugins }}
                            <tr>
                                <td class="pluginsadministration-list-name-cell tlp-table-cell-filterable">{{ name }}</td>
                                <td>{{ version }}</td>
                                <td>
                                    <span class="pluginsadministration-list-full-description tlp-table-cell-filterable">{{ description }}</span>
                                    <span class="pluginsadministration-list-tooltip-description tlp-tooltip tlp-tooltip-top"
                                        data-tlp-tooltip="{{ description }}"
                                    >
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                </td>
                                <td>{{> enable-disable-plugin-switch }}</td>
                                <td>{{ scope }}</td>
                                <td class="tlp-table-cell-actions pluginsadministration-list-actions-cell">
                                    <a href="?view=properties&plugin_id={{ id }}"
                                        class="tlp-table-cell-actions-button tlp-button-primary tlp-button-outline tlp-button-small"
                                    >
                                        <i class="fa fa-list tlp-button-icon"></i> {{ icon_label }}
                                    </a>

                                    {{# dont_restrict }}
                                        <a href="javascript:;"
                                            class="tlp-table-cell-actions-button tlp-button-primary tlp-button-outline tlp-button-small tlp-tooltip tlp-tooltip-left disabled"
                                            data-tlp-tooltip="{{ cant_restrict }}"
                                        >
                                            <i class="fa fa-lock tlp-button-icon"></i> {{ restrict_icon_label }}
                                        </a>
                                    {{/ dont_restrict }}
                                    {{^ dont_restrict }}
                                        <a href="?view=restrict&plugin_id={{ id }}"
                                            class="tlp-table-cell-actions-button tlp-button-primary tlp-button-outline tlp-button-small">
                                            <i class="fa fa-lock tlp-button-icon"></i> {{ restrict_icon_label }}
                                        </a>
                                    {{/ dont_restrict }}

                                    {{^ dont_touch }}
                                        <button class="tlp-table-cell-actions-button tlp-button-danger tlp-button-outline tlp-button-small uninstall-plugin-button"
                                            data-modal-id="uninstall-plugin-{{ id }}"
                                        >
                                            <i class="fa fa-trash-o tlp-button-icon"></i> {{ uninstall_icon_label }}
                                        </button>

                                        {{> uninstall-plugin-modal }}
                                    {{/ dont_touch }}
                                </td>
                            </tr>
                            {{/ plugins }}
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>
</div>
