{{# has_backlog_items_with_computed_velocity }}
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">{{# dgettext }} tuleap-velocity | Velocity{{/ dgettext }}</h1>
            </div>
            <section class="tlp-pane-section">
                <div id="velocity-chart"
                     data-sprints="{{ backlog_items_representation }}"
                ></div>
            </section>
        </div>
    </section>
{{/ has_backlog_items_with_computed_velocity }}
