{{^ has_at_least_one_tracker_correctly_configured }}
    <ul class="feedback_error">
        {{# dngettext }}
            tuleap-velocity |
            Artifact velocity will always be set to 0, because no backlog tracker have the following semantic: |
            Artifact velocity will always be set to 0, because no backlog tracker have the following semantics: |
            {{ nb_semantic_misconfigured }}
        {{/ dngettext }}
        {{# semantics_not_correctly_set }}
            <b>{{{ . }}}</b><span class="misconfigured-semantic-display-comma">, </span>
        {{/ semantics_not_correctly_set }}
    </ul>
{{/ has_at_least_one_tracker_correctly_configured }}
