<p>
    {{# dgettext }}
        tuleap-velocity |
        Velocity chart represents the sum of <b>initial effort</b> of <b>done</b> backlog elements of %s.|
        {{ tracker_name }}
    {{/ dgettext }}
</p>