<p class="feedback_error">
    {{# dgettext }}
        tuleap-velocity |
        <b>Status</b> semantic should be a select box or a radiobutton, status must have only one possible value.
    {{/ dgettext }}
</p>
