<form action="" method="POST">
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <p>
        {{^ has_velocity_field }}
            {{# dgettext }} tuleap-velocity | This tracker does not have a <i>velocity</i> field yet.{{/ dgettext }}
        {{/ has_velocity_field }}
        {{# has_velocity_field }}
            {{# dgettext }}tuleap-velocity | The <i>velocity</i> of this tracker will be represented in the Agile Dashboard by the field{{/ dgettext }}
        {{/ has_velocity_field }}
        <select name="velocity_field">
            {{^ has_a_selected_field }}
                <option value="" selected="selected"> {{# dgettext }} tuleap-velocity | Choose a field{{/ dgettext }} </option>
            {{/ has_a_selected_field }}
            {{# possible_velocity_field }}
                <option value="{{ id }}" {{# is_selected }} selected="selected"{{/ is_selected }}> {{ name }} </option>
            {{/ possible_velocity_field }}
        </select>
    </p>
    <p>
        {{# dgettext }}
            tuleap-velocity |
            Only integers and float fields are listed. By choosing one of these fields, it will be automatically computed in order to give you the velocity value.
        {{/ dgettext }}
    </p>
    <p>
        <input type="submit"
               class="btn btn-primary"
               name="submit"
               value="{{# dgettext }} tuleap-velocity | Save your change{{/ dgettext }}"/>
        {{# dgettext }} tuleap-velocity | or {{/ dgettext }}
        <input type="submit"
               class="btn btn-danger"
               name="delete"
               value="{{# dgettext }} tuleap-velocity | Unset this semantic{{/ dgettext }}"/>
    </p>
</form>
