<form method="POST"
      action="{{ url }}?action=delete-dashboard"
      id="delete-dashboard-modal"
      class="tlp-modal tlp-modal-danger"
      aria-labelledby="delete-dashboard-modal-label"
      role="dialog"
>
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="delete-dashboard-modal-label">
            <i class="fa fa-trash-o tlp-modal-title-icon"></i>
            {{ delete_dashboard_label }}
        </h1>
        <div class="tlp-modal-close" data-dismiss="modal" aria-label="{{ close }}">
            ×
        </div>
    </div>
    <div class="tlp-modal-body">
        <input type="hidden" name="dashboard-id" value="{{ id }}">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}

        <p>{{ delete_confirm }}</p>

    </div>
    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-danger tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{ cancel }}
        </button>
        <button type="submit" class="tlp-button-danger tlp-modal-action" data-test="dashboard-confirm-delete-button">
            <i class="fa fa-trash-o tlp-button-icon"></i> {{ delete_dashboard_label }}
        </button>
    </div>
</form>
