<div class="tlp-framed-vertically">
    {{# user_presenter }}
        <div class="tlp-framed-horizontally dashboard-user-title">
            <div class="tlp-avatar-jumbo">
                {{# has_avatar }}
                    <img src="{{ avatar_url }}">
                {{/ has_avatar }}
            </div>
            <h1 class="user-my-realname">
                {{ real_name }}
                <small class="user-my-login">@{{ login }}</small>
            </h1>

        </div>
    {{/ user_presenter }}
    {{# has_dashboard }}
        <nav class="tlp-tabs user-dashboards">
            {{# user_dashboards }}
                <a class="tlp-tab {{# is_active }}tlp-tab-active{{/ is_active }}" href="{{ url }}?dashboard_id={{ id }}">
                    {{ name }}
                    {{# is_active }}
                        <button class="tlp-button-primary tlp-button-outline tlp-button-mini dashboard-edit-button"
                                title="{{ edit_dashboard_title }}"
                                id="edit-dashboard-button"
                                data-target-modal-id="edit-dashboard-modal"
                        >
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="tlp-button-danger tlp-button-outline tlp-button-mini dashboard-delete-button"
                                title="{{ delete_dashboard_title }}"
                                id="delete-dashboard-button"
                                data-target-modal-id="delete-dashboard-modal"
                        >
                            <i class="fa fa-trash-o"></i>
                        </button>
                    {{/ is_active }}
                </a>
            {{/ user_dashboards }}
            <a href="javascript:;"
               id="add-dashboard-button"
               class="tlp-button-primary tlp-button-mini tlp-button-outline"
               data-target-modal-id="add-dashboard"
            >
                <i class="fa fa-plus tlp-button-icon"></i>
                {{ add_dashboard_label }}
            </a>
        </nav>
        {{# user_dashboards }}
            {{# is_active }}
                {{^ has_widget }}
                    <div class="empty-page">
                        <p class="empty-page-text">{{ no_widget_label }}</p>
                        <p class="empty-page-text">{{{ purified_no_widget_action_label }}}</p>
                        <button
                                type="button"
                                id="no-widgets-edit-dashboard-button"
                                class="tlp-button-primary tlp-button-large"
                                data-target-modal-id="no-widgets-edit-dashboard-modal"
                        >
                            <i class="fa fa-plus tlp-button-icon"></i>
                            {{ edit_dashboard_label }}
                        </button>
                        {{> no-widgets-edit-dashboard-modal }}
                    </div>
                {{/ has_widget }}
            {{/ is_active }}
        {{/ user_dashboards }}
    {{/ has_dashboard }}
</div>

{{^ has_dashboard }}
    <div class="empty-page">
        <p class="empty-page-text">{{ no_dashboard_label }}</p>
        <button
            type="button"
            id="add-dashboard-button"
            class="tlp-button-primary tlp-button-large"
            data-target-modal-id="add-dashboard"
        >
            <i class="fa fa-plus tlp-button-icon"></i>
            {{ add_dashboard_label }}
        </button>
    </div>
{{/ has_dashboard }}

{{> add-dashboard-modal }}
{{# user_dashboards }}
    {{# is_active }}
        {{> delete-dashboard-modal }}
        {{> edit-dashboard-modal }}
    {{/ is_active }}
{{/ user_dashboards }}
