<form method="POST"
      action="{{ url }}?action=edit-dashboard"
      id="no-widgets-edit-dashboard-modal"
      class="tlp-modal"
      aria-labelledby="no-widgets-edit-dashboard-label"
      role="dialog"
>
    {{> content-edit-dashboard-modal }}
</form>
