<script id="dashboard-add-widget-settings-placeholder" type="x-tmpl-mustache">
    {{=<% %>=}}
        <div>
            <h2 class="tlp-modal-subtitle">{{ name }}</h2>
            <p>{{{ description }}}</p>
        </div>
    <%={{ }}=%>
</script>