<div class="dashboard-widgets-container dragula-container" data-dashboard-id="{{ id }}">
    {{# widget_lines }}
        <div class="tlp-framed-horizontally dashboard-widgets-row {{ layout }} dragula-container" data-line-id="{{ line_id }}">
            {{# widget_columns}}
                <div class="dashboard-widgets-column dragula-container" data-column-id="{{ column_id }}">
                    {{# widgets }}
                        <section class="tlp-pane dashboard-widget" data-widget-id="{{ widget_id }}">
                            {{# csrf_token }}
                                {{> csrf_token_input }}
                            {{/ csrf_token }}
                            <div class="tlp-pane-container">
                                <div class="tlp-pane-header dashboard-widget-header">
                                    <h1 class="tlp-pane-title">{{ title }}</h1>
                                    <div class="tlp-dropdown">
                                        <i class="fa fa-cog fa-fw tlp-dropdown-trigger dashboard-widget-actions"></i>
                                        <form class="tlp-dropdown-menu tlp-dropdown-menu-on-icon tlp-dropdown-menu-right"
                                              role="menu"
                                              method="POST"
                                              action="{{ url }}"
                                        >
                                            {{# has_rss }}
                                                <a href="{{ rss_url }}" class="tlp-dropdown-menu-item">
                                                    <i class="tlp-dropdown-menu-item-icon fa fa-fw fa-rss"></i> {{ rss_label }}
                                                </a>
                                            {{/ has_rss }}
                                            {{# is_editable }}
                                                <a href="javascript:;" class="tlp-dropdown-menu-item">
                                                    <i class="tlp-dropdown-menu-item-icon fa fa-fw fa-pencil"></i> {{ edit_label }}
                                                </a>
                                            {{/ is_editable }}
                                            <button type="submit" name="action" value="delete-widget" class="tlp-dropdown-menu-item">
                                                <i class="tlp-dropdown-menu-item-icon fa fa-fw fa-trash-o"></i> {{ delete_label }}
                                            </button>
                                            <input type="hidden" name="dashboard-id" value="{{ id }}">
                                            <input type="hidden" name="widget-id" value="{{ widget_id }}">
                                            {{# csrf_token }}
                                                {{> csrf_token_input }}
                                            {{/csrf_token}}
                                        </form>
                                    </div>
                                </div>
                                <section class="tlp-pane-section">
                                    {{{ content }}}
                                </section>
                            </div>
                        </section>
                    {{/ widgets }}
                </div>
            {{/ widget_columns }}
        </div>
    {{/ widget_lines }}
</div>
