<div id="scaled-agile"
     data-project-name="{{ project_name }}"
     data-project-short-name="{{ project_short_name }}"
     data-project-privacy="{{ project_privacy }}"
     data-project-flags="{{ project_flags }}"
></div>
