<div class="tlp-pane-container">
    {{# has_aggregated_teams }}
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">{{# dgettext }}tuleap-program_management | Aggregated projects{{/ dgettext }}</h1>
        </div>
        <section class="tlp-pane-section-for-cards">
            {{# aggregated_teams }}
                <a
                    class="tlp-card tlp-card-selectable program-management-card-teams"
                    href="{{ url }}"
                    data-test="linked-team"
                >
                    {{# project_icon}}
                        <span class="program-management-card-teams-icon" aria-hidden="true">{{project_icon}}</span>
                    {{/ project_icon}}
                    {{^ project_icon}}
                        <i class="program-management-card-teams-icon fas fa-fw fa-archive" aria-hidden="true"></i>
                    {{/ project_icon}}
                    {{ public_name }}
                    <div class="program-management-admin-action-button">
                        {{# has_synchronization_error }}
                            <span class="tlp-badge-danger tlp-badge-outline program-management-synchronization-error-badge" title="{{# dgettext }}tuleap-program_management | Synchronization has failed, an error has occurred, please contact your platform administrator {{/dgettext}}">
                                {{# dgettext }}tuleap-program_management | Synchronization error {{/dgettext}}
                            </span>
                        {{/ has_synchronization_error }}
                        {{# should_synchronize_team }}
                            <button
                                type="button"
                                class="tlp-button-primary tlp-button-small tlp-button-outline program-management-admin-action-synchronize-button"
                                data-team-id="{{ id }}"
                                data-project-label="{{ program_shortname }}"
                                {{# has_synchronization_pending }}
                                    disabled
                                    title="{{# dgettext }}tuleap-program_management | This team is being synchronized {{/dgettext}}"
                                {{/ has_synchronization_pending }}
                                data-test="synchronize-team-button"
                            >
                                <i class="fa-solid fa-arrows-rotate tlp-button-icon" aria-hidden="true"></i>
                                {{ synchronize_button_label }}
                            </button>
                        {{/ should_synchronize_team }}
                        <button
                            type="button"
                            class="tlp-button-danger tlp-button-small tlp-button-outline program-management-admin-remove-teams-open-modal-button"
                            data-target-modal-id="program-management-delete-team-{{ id }}"
                            data-team-id="{{ id }}"
                            data-program-shortname="{{ id }}"
                            {{# has_synchronization_pending }}
                                disabled
                                title=" {{# dgettext }}tuleap-program_management | This team is being synchronized {{/dgettext}}"
                            {{/ has_synchronization_pending }}
                        >
                            <i class="far fa-trash-alt tlp-button-icon" aria-hidden="true"></i>
                            {{# dgettext }}tuleap-program_management | Remove team from program {{/ dgettext }}
                        </button>
                    </div>
                </a>
            {{/ aggregated_teams }}
        </section>
    {{/ has_aggregated_teams }}
    {{^ has_aggregated_teams }}
        <section class="empty-state-pane program-management-empty-state">
            {{> svg-empty-state-tumbleweed }}
            <p class="empty-state-text">
                {{# dgettext }}tuleap-program_management | No project have been aggregated yet.{{/dgettext}}
            </p>
        </section>
    {{/ has_aggregated_teams }}
</div>
