<section class="tlp-pane">
    <form id="account-security-session-form" class="tlp-pane-container" action="{{ change_password_url }}" method="post">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">
                <i class="tlp-pane-title-icon fa fa-lock" aria-hidden="true"></i>
                {{# gettext }}Update password{{/ gettext }}
            </h1>
        </div>
        <section class="tlp-pane-section account-security-password-form">
            <div class="account-security-password-fields">
                <input type="hidden" value="{{ username }}" autocomplete="username" />
                {{# old_password_is_required }}
                    <div class="tlp-form-element">
                        <label class="tlp-label" for="current_password">{{# gettext }}Current password{{/ gettext }} <i class="fa fa-asterisk"></i></label>
                        <input type="password" class="tlp-input" id="current_password" name="current_password" autocomplete="current-password" required />
                    </div>
                {{/ old_password_is_required }}
                <div class="tlp-form-element">
                    <label class="tlp-label" for="form_pw">{{# gettext }}New password{{/ gettext }} <i class="fa fa-asterisk"></i></label>
                    <input type="password" class="tlp-input" id="form_pw" name="new_password" autocomplete="new-password" required />
                </div>
                <div class="tlp-form-element">
                    <label class="tlp-label" for="repeat_new_password">{{# gettext }}Repeat new password{{/ gettext }} <i class="fa fa-asterisk"></i></label>
                    <input type="password" class="tlp-input" id="repeat_new_password" name="repeat_new_password" autocomplete="new-password" required />
                </div>
            </div>

            <div class="account-security-password-robustness account-security-password-robustness-hidden">
                <label class="tlp-label">{{# gettext }}Password robustness{{/ gettext }}</label>
                <div class="robustness tlp-framed">
                    <p class="password-strategy-good">{{# gettext }}Good{{/ gettext }}</p>
                    <p class="password-strategy-bad">{{# gettext }}Bad{{/ gettext }}</p>

                    <script type="text/javascript">
                        var password_validators = [];
                    </script>

                    {{# passwords_validators }}
                        <p class="account-security-password-passwords-validator {{ key }}"><i class="fa fa-fw fa-times password-strategy-bad"></i> {{{ description }}}</p>

                        <script type="text/javascript">
                            window.password_validators.push('{{ regexp }}');
                        </script>
                    {{/ passwords_validators }}
                </div>
            </div>
        </section>
        <section class="tlp-pane-section tlp-pane-section-submit user-preferences-section-submit">
            {{# csrf_token }}
                {{> csrf_token_input }}
            {{/ csrf_token }}
            <button type="submit" class="tlp-button-primary">
                <i class="fa fa-floppy-o tlp-button-icon"></i> {{# gettext }}Update password{{/ gettext }}
            </button>
        </section>
    </form>
</section>
