<div class="projectmilestones tlp-framed-vertically"
     data-project-id="{{ project_id }}"
     data-nb-upcoming-releases="{{ nb_upcoming_releases }}"
     data-nb-backlog-items="{{ nb_backlog_items }}"
     data-json-trackers-agile-dashboard="{{ json_trackers_agile_dashboard }}"
     data-label-tracker-planning="{{ label_tracker_planning }}"
     data-is-timeframe-duration="{{ is_timeframe_duration }}"
     data-label-start-date="{{ label_start_date }}"
     data-label-timeframe="{{ label_timeframe }}"
     data-user-can-view-sub-milestones-planning="{{ user_can_view_sub_milestones_planning }}"
     data-burnup-mode="{{ burnup_mode }}"
     data-project-milestone-activate-ttm="{{ project_milestone_activate_ttm }}"
></div>
