<li class="dropdown projects-nav {{extra_tabs_active}}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ extras_text }}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        {{# extra_tabs }}
        <li>
            <a href="{{ link }}">
                {{{ title }}}
            </a>
        </li>
        {{/ extra_tabs }}
    </ul>
</li>