<ul class="dropdown-menu">
    {{^ request_is_post }}
        <li class="bookmarkpage">
            <a href="/my/bookmark_add.php?bookmark_url={{ bookmark_url }} &bookmark_title={{ bookmark_title }}">
                {{ include_menu_bookmark_this_page_text }}
            </a>
    {{/ request_is_post }}
    <li><a href="/account/">{{ my_index_text }}</a></li>
    <li><a href="/account/preferences.php">{{ account_options_text }}</a></li>
    <li class="divider"></li>
    <li><a href="/account/logout.php">{{ include_menu_text }}</a></li>
</ul>