<li class="dropdown projects-nav {{ nav_help_class }}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ help }}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/site/">
                {{ documentation }}
            </a>
        </li>
        <li>
            <a href="/soap/index.php/">
                {{ soap_api }}
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="/contact.php">
                {{ contact_us }}
            </a>
        </li>
    </ul>
</li>