<h2>
    {{ news_page_header }}
</h2>

{{# news_items_exist }}
<form method="POST" action="/news/admin/choose_items.php?project_id={{ project_id }}">
    <table class="table promoted_news_table" id="display_news_table">
        <tr>
            <th></th>
            <th>{{ news_row_label }}</th>
            <th>{{ promoted_row_label }}</th>
        </tr>
        {{# news_items }}
            <tr>
                <td><input type="checkbox" name="promoted[]" value="{{ getId }}" {{# isDisplayed }}checked{{/ isDisplayed }}/></td>
                <td class="news_item_title">{{ getSummary }}</td>
                <td>{{# isDisplayed }}<i class="fa fa-check"></i>{{/ isDisplayed }}</td>
            </tr>
        {{/ news_items }}
    </table>
    <br>
    <input type="hidden" name="action" value="update" />
    <input type="submit" class="btn-primary btn" value="{{ update_news_list }}"/> <i class="fa fa-info-circle"></i>
    <span class="news_italic_text"> {{ info_text }}</span>
</form>

{{/ news_items_exist }}
{{^ news_items_exist }}
    {{ no_news_items }}
{{/ news_items_exist }}
