<div class="cvs-header">
    {{> navigation_flaming_parrot }}
</div>

<div class="alert cvs-alert-warning">
    <i class="fa fa-power-off"></i> {{# gettext }} This plugin will be removed in september 2023 {{/ gettext }}
</div>
