<h1 class="almost-tlp-title administration-title">{{ admin_section_title }}</h1>

<ul class="nav nav-tabs">
    {{# getEntries }}
        {{# hasSubItems }}
            <li class="dropdown{{# is_active }} active{{/ is_active }}">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    {{ label }}
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu">
                    {{# menu_items }}
                        {{# isMenuTitle }}
                            <li class="navigation-dropdown-title">{{ title }}</li>
                        {{/isMenuTitle}}
                        {{^ isMenuTitle }}
                            <li>
                                <a href="{{ html_url }}">{{ label }}</a>
                            </li>
                        {{/ isMenuTitle}}
                    {{/ menu_items }}
                </ul>
            </li>
        {{/ hasSubItems }}
        {{^ hasSubItems }}
            <li>
                <a href="{{ html_url }}" class="nav-link{{# is_active }} active{{/ is_active }}">{{ label }}</a>
            </li>
        {{/ hasSubItems }}
    {{/ getEntries }}
</ul>
