<h1 class="project-administration-title">{{ admin_section_title }}</h1>

<nav class="tlp-tabs">
    {{# getEntries }}
        {{# hasSubItems }}
            <div class="tlp-tab{{# is_active }} tlp-tab-active{{/ is_active }}">
                {{ label }} <i class="fa fa-caret-down"></i>
                <nav class="tlp-tab-menu">
                    {{# menu_items }}
                        {{# isMenuTitle }}
                            <span class="tlp-tab-menu-title">{{ title }}</span>
                        {{/ isMenuTitle}}
                        {{^ isMenuTitle }}
                            <a href="{{ html_url }}" class="tlp-tab-menu-item" data-test="{{ identifier }}">{{ label }}</a>
                        {{/ isMenuTitle}}
                    {{/ menu_items }}
                </nav>
            </div>
        {{/ hasSubItems }}
        {{^ hasSubItems }}
            <a href="{{ html_url }}" class="tlp-tab{{# is_active }} tlp-tab-active{{/ is_active }}">{{ label }}</a>
        {{/ hasSubItems }}
    {{/ getEntries }}
</nav>
