<h3>{{ section_title }}</h3>
<label for="project_visibility">{{ choose_visbility }}</label>
<select name="project_visibility" id="project_visibility">
    {{# options }}
        <option value="{{ value }}" {{ selected }}>{{ label }}</option>
    {{/ options }}
</select>
<br>
{{# platform_allows_restricted }}
    <p class="alert alert-warning">
        {{{ restricted_warning_message }}}
    </p>
{{/ platform_allows_restricted }}
{{^ platform_allows_restricted }}
    <p class="alert alert-warning">
        {{{ general_warning_message }}}
    </p>
{{/ platform_allows_restricted }}

<p id="term_of_service_usage" class="term-of-service-hidden">
    <label class="checkbox" for="term_of_service">
        <input type="checkbox" name="term_of_service" id="term_of_service"> {{{ purified_term_of_service_message }}}
    </label>
</p>
