<div class="tlp-form-element">
    <label class="tlp-label" for="project_visibility">
        {{ project_visibility_label }}
        <i class="fa fa-asterisk"></i>
    </label>
    <select class="tlp-select" name="project_visibility" id="project_visibility" data-test="project_visibility">
        {{# options }}
            <option value="{{ value }}" {{ selected }}>{{ label }}</option>
        {{/ options }}
    </select>
</div>
<br>
{{# platform_allows_restricted }}
    <p class="tlp-alert-warning">
        {{{ restricted_warning_message }}}
    </p>
{{/ platform_allows_restricted }}
{{^ platform_allows_restricted }}
    <p class="tlp-alert-warning">
        {{{ general_warning_message }}}
    </p>
{{/ platform_allows_restricted }}
<div id="term-of-service-usage"
    class="tlp-form-element">
    <label class="tlp-label tlp-checkbox">
        <input type="checkbox"
               name="term_of_service"
               id="term-of-service"
               data-test="term_of_service"
               oninvalid='this.setCustomValidity("{{ accept_tos_message }}")'
               onclick="this.setCustomValidity('')"
        />
         {{{ purified_term_of_service_message }}}
    </label>
</div>
