<section class="project-admin-details-info-access">
    <p id="project-admin-details-info-access-level" data-test="project-info-access-level">
        <i id="project-admin-details-info-access-level-icon"
            class="fas
                {{# is_wide_open }}fa-tlp-unlock-plus-r{{/ is_wide_open }}
                {{# is_open }}fa-lock-open{{/ is_open }}
                {{# is_closed }}fa-lock{{/ is_closed }}
                {{# is_closed_incl_restricted }}fa-tlp-lock-plus-r{{/ is_closed_incl_restricted }}
        "></i> {{ access }}
    </p>
    {{# is_incl_restricted }}
        <span class="tlp-badge-warning"
              id="project-admin-details-info-access-level-badge"
        >
            {{ incl_restricted_label }}
        </span>
    {{/ is_incl_restricted }}
</section>
