<div class="one_step_project container">
    <h1>{{# gettext }}Project Creation request is disabled{{/ gettext }}</h1>

    <p>{{# gettext }}There are too many projects being requested at the moment. Please try again later on.{{/ gettext }}</p>
</div>