<h3>{{ truncated_emails_title }}</h3>

<div>
    <p>{{ truncated_emails_impacted_services_introduction }}</p>
    <ul>
        {{# impacted_services }}
            <li> {{ . }} </li>
        {{/ impacted_services }}
    </ul>
</div>

<label class="checkbox">
    <input type="checkbox" name="truncated_emails" {{# project_uses_truncated_emails }} checked="checked" {{/ project_uses_truncated_emails }}> {{ use_truncated_emails }}
</label>
