
module forumml5 1.0;

require {
	type mailman_mail_t;
	type unconfined_t;
	type semanage_t;
	type usr_t;
	type var_run_t;
	type postfix_smtpd_t;
	type xfs_t;
	type initrc_t;
	type system_dbusd_t;
	type tmp_t;
	type mysqld_etc_t;
	type avahi_t;
	type mysqld_db_t;
	type httpd_sys_content_t;
	type logwatch_t;
	type postfix_smtp_t;
	type postfix_bounce_t;
	type ifconfig_t;
	type lib_t;
	type mysqld_var_run_t;
	type nscd_t;
	type useradd_t;
	type mysqld_t;
	type named_t;
	type postfix_cleanup_t;
	type postfix_master_t;
	type setroubleshootd_t;
	type postfix_pickup_t;
	type groupadd_t;
	type crond_t;
	type system_mail_t;
	type postfix_qmgr_t;
	type httpd_t;
	class fifo_file { write read ioctl getattr };
	class process signal;
	class unix_stream_socket { connectto read write };
	class tcp_socket { read write };
	class file { execute read create ioctl execute_no_trans write getattr unlink append };
	class sock_file write;
	class lnk_file { read getattr };
	class dir { write search getattr read remove_name add_name };
}

#============= avahi_t ==============
allow avahi_t mysqld_db_t:dir search;
allow avahi_t mysqld_etc_t:file getattr;

#============= groupadd_t ==============
allow groupadd_t initrc_t:unix_stream_socket connectto;

#============= httpd_t ==============
allow httpd_t crond_t:unix_stream_socket { read write };
allow httpd_t initrc_t:unix_stream_socket connectto;
allow httpd_t mysqld_etc_t:file { read getattr };
allow httpd_t system_mail_t:process signal;
allow httpd_t tmp_t:file { read getattr };
allow httpd_t unconfined_t:unix_stream_socket { read write };
allow httpd_t usr_t:file { create unlink append };

#============= ifconfig_t ==============
allow ifconfig_t initrc_t:tcp_socket { read write };

#============= logwatch_t ==============
allow logwatch_t initrc_t:unix_stream_socket connectto;
allow logwatch_t mysqld_etc_t:file read;
allow logwatch_t mysqld_t:unix_stream_socket connectto;

#============= mailman_mail_t ==============
allow mailman_mail_t httpd_sys_content_t:dir { read write search getattr add_name };
allow mailman_mail_t httpd_sys_content_t:file { read getattr };
allow mailman_mail_t httpd_sys_content_t:lnk_file { read getattr };
allow mailman_mail_t initrc_t:unix_stream_socket connectto;
allow mailman_mail_t lib_t:dir { write remove_name add_name };
allow mailman_mail_t lib_t:file { write create unlink };
allow mailman_mail_t self:fifo_file { write read ioctl getattr };
allow mailman_mail_t tmp_t:file { read getattr };
allow mailman_mail_t usr_t:file { read getattr ioctl execute execute_no_trans };
allow mailman_mail_t usr_t:lnk_file { read getattr };
allow mailman_mail_t var_run_t:dir { write remove_name add_name };
allow mailman_mail_t var_run_t:file { getattr read create unlink ioctl append };

#============= named_t ==============
allow named_t mysqld_db_t:dir search;
allow named_t mysqld_etc_t:file { read getattr };

#============= nscd_t ==============
allow nscd_t useradd_t:unix_stream_socket { read write };

#============= postfix_bounce_t ==============
allow postfix_bounce_t initrc_t:unix_stream_socket connectto;
allow postfix_bounce_t mysqld_db_t:dir search;
allow postfix_bounce_t mysqld_etc_t:file { read getattr };
allow postfix_bounce_t mysqld_t:unix_stream_socket connectto;
allow postfix_bounce_t mysqld_var_run_t:sock_file write;

#============= postfix_cleanup_t ==============
allow postfix_cleanup_t initrc_t:unix_stream_socket connectto;
allow postfix_cleanup_t mysqld_db_t:dir search;
allow postfix_cleanup_t mysqld_etc_t:file { read getattr };
allow postfix_cleanup_t mysqld_t:unix_stream_socket connectto;
allow postfix_cleanup_t mysqld_var_run_t:sock_file write;
allow postfix_cleanup_t usr_t:file { read getattr };

#============= postfix_master_t ==============
allow postfix_master_t initrc_t:unix_stream_socket connectto;
allow postfix_master_t mysqld_etc_t:file { read getattr };

#============= postfix_pickup_t ==============
allow postfix_pickup_t initrc_t:unix_stream_socket connectto;
allow postfix_pickup_t mysqld_db_t:dir search;
allow postfix_pickup_t mysqld_etc_t:file { read getattr };
allow postfix_pickup_t mysqld_var_run_t:sock_file write;

#============= postfix_qmgr_t ==============
allow postfix_qmgr_t initrc_t:unix_stream_socket connectto;
allow postfix_qmgr_t mysqld_db_t:dir search;
allow postfix_qmgr_t mysqld_etc_t:file getattr;

#============= postfix_smtp_t ==============
allow postfix_smtp_t initrc_t:unix_stream_socket connectto;
allow postfix_smtp_t mysqld_db_t:dir search;
allow postfix_smtp_t mysqld_etc_t:file { read getattr };
allow postfix_smtp_t mysqld_t:unix_stream_socket connectto;
allow postfix_smtp_t mysqld_var_run_t:sock_file write;
allow postfix_smtp_t usr_t:file { read getattr };

#============= postfix_smtpd_t ==============
allow postfix_smtpd_t initrc_t:unix_stream_socket connectto;
allow postfix_smtpd_t mysqld_db_t:dir search;
allow postfix_smtpd_t mysqld_etc_t:file { read getattr };
allow postfix_smtpd_t mysqld_t:unix_stream_socket connectto;
allow postfix_smtpd_t mysqld_var_run_t:sock_file write;

#============= semanage_t ==============
allow semanage_t httpd_sys_content_t:lnk_file read;
allow semanage_t initrc_t:unix_stream_socket connectto;
allow semanage_t mysqld_t:unix_stream_socket connectto;
allow semanage_t mysqld_var_run_t:sock_file write;

#============= setroubleshootd_t ==============
allow setroubleshootd_t httpd_sys_content_t:lnk_file read;

#============= system_dbusd_t ==============
allow system_dbusd_t initrc_t:unix_stream_socket connectto;
allow system_dbusd_t mysqld_t:unix_stream_socket connectto;
allow system_dbusd_t mysqld_var_run_t:sock_file write;

#============= system_mail_t ==============
allow system_mail_t crond_t:unix_stream_socket { read write };
allow system_mail_t httpd_t:file read;
allow system_mail_t initrc_t:unix_stream_socket connectto;

#============= xfs_t ==============
allow xfs_t mysqld_t:unix_stream_socket connectto;
