{{# is_control_limited }}
    <div class="alert alert-info">
        <i class="icon-info-sign"></i> {{{ limited_control_notice }}}
    </div>
{{/ is_control_limited }}

<table>
    <thead>
        <tr>
            <td>{{ label_read }}</td>
            <td>{{ label_write }}</td>
            <td>{{ label_rw }}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select multiple="multiple" id="{{ read_select_box_id }}" name="{{ read_select_box_id }}[]" size="8" class="plugin_git_permissions_select">
                    {{# read_options }}
                        <option value="{{ value }}" {{{ selected }}}>{{ label }}</option>
                    {{/ read_options }}
                </select>
            </td>
            <td>
                <select multiple="multiple" id="{{ write_select_box_id }}" name="{{ write_select_box_id }}[]" size="8" {{# is_control_limited }}disabled{{/ is_control_limited }} class="plugin_git_permissions_select">
                    {{# write_options }}
                        <option value="{{ value }}" {{{ selected }}}>{{ label }}</option>
                    {{/ write_options }}
                </select>
            </td>
            <td>
                <select multiple="multiple" id="{{ rewrite_select_box_id }}" name="{{ rewrite_select_box_id }}[]" size="8" {{# is_control_limited }}disabled{{/ is_control_limited }} class="plugin_git_permissions_select">
                    {{# rewrite_options }}
                        <option value="{{ value }}" {{{ selected }}}>{{ label }}</option>
                    {{/ rewrite_options }}
                </select>
            </td>
        </tr>
    </tbody>
</table>

{{# can_use_fine_grained_permissions }}
<div class="git-per-tags-branches-permissions">
    <label class="checkbox">
        <input type="checkbox"
               name="use-fine-grained-permissions"
               {{# are_fine_grained_permissions_defined }} checked="checked" {{/ are_fine_grained_permissions_defined }}
        /> {{ fine_grained_permissions_checkbox_label }}
    </label>

    {{# are_fine_grained_permissions_defined }}
    <p class="alert"> {{ fine_grained_permissions_warning }} </p>
    {{/ are_fine_grained_permissions_defined }}
</div>
{{/ can_use_fine_grained_permissions }}