<div class="tlp-pane-section">
    {{# is_control_limited }}
        <div class="tlp-alert-info">{{{ limited_control_notice }}}</div>
    {{/ is_control_limited }}

    <h2>{{ default_permissions_title }}</h2>
    <table class="tlp-table access-control-permission-table">
        <thead>
            <tr>
                <th>{{ label_read }}</th>
                <th>{{ label_write }}</th>
                <th>{{ label_rw }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select
                        multiple
                        id="{{ read_select_box_id }}"
                        data-test="git-repository-read-permissions"
                        name="{{ read_select_box_id }}[]"
                        size="6"
                        class="tlp-select"
                    >
                        {{# read_options }}
                            <option value="{{ value }}" {{{ selected }}}>{{ label }}</option>
                        {{/ read_options }}
                    </select>
                </td>
                <td>
                    <select
                        multiple
                        id="{{ write_select_box_id }}"
                        name="{{ write_select_box_id }}[]"
                        data-test="git-repository-write-permissions"
                        size="6"
                        {{# cannot_define_per_repo_permissions }}disabled{{/ cannot_define_per_repo_permissions }}
                        class="tlp-select write-permission-select"
                    >
                        {{# write_options }}
                            <option value="{{ value }}" {{{ selected }}}>{{ label }}</option>
                        {{/ write_options }}
                    </select>
                </td>
                <td>
                    <select
                        multiple
                        id="{{ rewrite_select_box_id }}"
                        name="{{ rewrite_select_box_id }}[]"
                        data-test="git-repository-rewind-permissions"
                        size="6"
                        {{# cannot_define_per_repo_permissions }}disabled{{/ cannot_define_per_repo_permissions }}
                        class="tlp-select rewind-permission-select"
                    >
                        {{# rewrite_options }}
                            <option value="{{ value }}" {{{ selected }}}>{{ label }}</option>
                        {{/ rewrite_options }}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{# can_use_fine_grained_permissions }}
    {{> fine-grained-permissions }}
{{/ can_use_fine_grained_permissions }}
