<div class="tlp-modal" role="dialog" id="modal-show-repositories-{{ id }}">
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title">{{ repos_title }}</h1>
        <div class="tlp-modal-close" tabindex="0" role="button" data-dismiss="modal" aria-label="Close">
            &times;
        </div>
    </div>
    <div class="tlp-modal-body">
        {{# repository_list_for_projects }}
            <h2 class="tlp-modal-subtitle">{{ project_name }}</h2>
            <table class="tlp-table mirror-repo-list-for-project">
                <thead>
                <tr>
                    <th class="tlp-table-cell-numeric">Id</th>
                    <th class="mirror-repo-list-for-project-reponame">{{ mirror_repo }}</th>
                </tr>
                </thead>
                <tbody>
                {{# repositories }}
                    <tr>
                        <td class="tlp-table-cell-numeric">{{ repository_id }}</td>
                        <td>
                            <a href="{{ base_url }}/?group_id={{ project_id }}&repo_id={{ repository_id }}&action=repo_management&pane=mirroring">
                                {{ repository_path }}
                            </a>
                        </td>
                    </tr>
                {{/ repositories }}
                </tbody>
            </table>
        {{/ repository_list_for_projects }}
    </div>
    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-primary tlp-modal-action" data-dismiss="modal">{{ btn_close }}</button>
    </div>
</div>
