<h2>{{ title }}</h2>

<p>{{ select_repositories }}</p>

<form action="{{ form_action }}" method="POST">
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}

    <table class="table table-striped table-bordered git-admin-mass-update-table">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>{{ repository_list_name }}</th>
            </tr>
        </thead>

        <tbody>
            {{# repositories }}
            <tr>
                <td><input type="checkbox" class="repository-ids" name="repository_ids[]" value="{{ getId }}"></td>
                <td>{{ getFullName }}</td>
            </tr>
            {{/ repositories }}
        </tbody>
    </table>

    <div class="mass-mirrors-list-update-bar">
        <input type="submit" id="go-to-mass-change" name="go-to-mass-change" class="btn btn-large btn-primary" value="{{ mass_change }}" disabled>
    </div>
</form>
