<div class="git-administration-header">
    <h1 class="git-administration-title" data-test="git-administration-page">
        {{# dgettext }}tuleap-git | Git Administration{{/ dgettext }}
    </h1>
</div>
<div class="main-project-tabs">
    <nav class="tlp-tabs">
        <a
            class="tlp-tab tlp-tab-active"
            href="/plugins/git/?action=admin-gerrit-templates&group_id={{ project_id }}"
        >{{# dgettext }}tuleap-git | Gerrit Templates{{/ dgettext }}</a>
        <a
            class="tlp-tab"
            href="/plugins/git/?action=admin-git-admins&group_id={{ project_id }}"
            data-test="git-administrators"
        >{{# dgettext }}tuleap-git | Git administrators{{/ dgettext }}</a>
        <a
            class="tlp-tab"
            href="/plugins/git/?action=admin-default-settings&group_id={{ project_id }}"
        >{{# dgettext }}tuleap-git | Git settings template{{/ dgettext }}</a>
        {{# external_pane_presenters }}
            <a class="tlp-tab" href="{{ uri }}">{{ pane_name }}</a>
        {{/ external_pane_presenters }}
    </nav>
</div>
<div class="tlp-framed">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    {{# dgettext }}tuleap-git | Gerrit permission configuration templates{{/ dgettext }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                <p>{{# dgettext }}tuleap-git | This section allows you to choose a Gerrit project configuration and create a reusable template from it.{{/ dgettext }}</p>

                {{# has_gerrit_servers_set_up }}
                    <div class="tlp-table-actions">
                        <div class="tlp-dropdown">
                            <button
                                type="button"
                                id="git_admin_config_btn_create"
                                class="tlp-button-primary"
                                data-test="create-new-gerrit-template"
                            >
                                <i class="fa-solid fa-plus tlp-button-icon" aria-hidden="true"></i>
                                {{# dgettext }}tuleap-git | Create new{{/ dgettext }}
                                <i class="fa-solid fa-caret-down tlp-button-icon" aria-hidden="true"></i>
                            </button>
                            <div id="git-admin-gerrit-choice" role="menu" class="tlp-dropdown-menu">
                                <button
                                    type="button"
                                    role="menuitem"
                                    class="tlp-dropdown-menu-item"
                                    data-open-modal
                                    data-target-modal-id="gerrit-config-from-gerrit"
                                >
                                    {{# dgettext }}tuleap-git | from Gerrit config{{/ dgettext }}
                                </button>
                                <button
                                    type="button"
                                    role="menuitem"
                                    class="tlp-dropdown-menu-item"
                                    data-open-modal
                                    data-target-modal-id="gerrit-config-from-template"
                                >
                                    {{# dgettext }}tuleap-git | from template{{/ dgettext }}
                                </button>
                                <button
                                    type="button"
                                    role="menuitem"
                                    class="tlp-dropdown-menu-item"
                                    data-open-modal
                                    data-target-modal-id="gerrit-config-from-scratch"
                                    data-test="from-scratch"
                                >
                                    {{# dgettext }}tuleap-git | from scratch{{/ dgettext }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tlp-alert-danger git-admin-gerrit-feedback git-admin-hidden" id="gerrit-admin-feedback"></div>
                    <table class="tlp-table" id="git_admin_config_templates_list">
                        <thead>
                            <tr>
                                <th>{{# dgettext }}tuleap-git | Template name{{/ dgettext }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{# isEmpty }}
                                <tr><td colspan="2" class="tlp-table-cell-empty">
                                    {{# dgettext }}tuleap-git | There are no Gerrit templates yet.{{/ dgettext }}
                                </td></tr>
                            {{/ isEmpty }}
                            {{# templates_option }}
                                <tr>
                                    <td>{{ getName }}</td>
                                    <td class="tlp-table-cell-actions">
                                        <button
                                            type="button"
                                            class="tlp-table-cell-actions-button tlp-button-primary tlp-button-outline"
                                            data-edit-template-button
                                            data-template-id="{{ getId }}"
                                            data-template-name="{{ getName }}"
                                        >
                                            <i class="fa-solid fa-pencil tlp-button-icon" aria-hidden="true" data-button-icon></i>
                                            {{# dgettext }}tuleap-git | Edit{{/ dgettext }}
                                        </button>
                                    </td>
                                </tr>
                            {{/ templates_option }}
                            {{# parent_templates_option }}
                                <tr>
                                    <td>{{ getName }}</td>
                                    <td class="tlp-table-cell-actions">
                                        <button
                                            type="button"
                                            class="tlp-table-cell-actions-button tlp-button-primary tlp-button-outline"
                                            data-view-template-button
                                            data-template-id="{{ getId }}"
                                            data-template-name="{{ getName }}"
                                        >
                                            <i class="fa-solid fa-eye tlp-button-icon" aria-hidden="true" data-button-icon></i>
                                            {{# dgettext }}tuleap-git | View{{/ dgettext }}
                                        </button>
                                    </td>
                                </tr>
                            {{/ parent_templates_option }}
                        </tbody>
                    </table>
                {{/ has_gerrit_servers_set_up }}
                {{^ has_gerrit_servers_set_up }}
                    <div class="tlp-alert-info">
                        <p>{{# dgettext }}
                            tuleap-git
                            | There does not appear to be any %1$s Gerrit server %2$s set up for this platform! Please contact your site administrator.
                            | <em><a href="/admin/git/">
                            | </a></em>
                        {{/ dgettext }}</p>
                    </div>
                {{/ has_gerrit_servers_set_up }}
            </section>
        </div>
    </section>
{{# has_gerrit_servers_set_up }}
    <input type="hidden" value="{{ project_id }}" id="project_id"/>
    {{> global-admin-gerrit/view-template }}
    {{> global-admin-gerrit/edit-template }}
    {{> global-admin-gerrit/gerrit-config-from-gerrit }}
    {{> global-admin-gerrit/gerrit-config-from-template }}
    {{> global-admin-gerrit/gerrit-config-from-scratch }}
{{/ has_gerrit_servers_set_up }}
</div>
