<form method="POST" action="?pane=mirrors_admin&action=add-mirror" class="form-horizontal">
    {{{ csrf_input }}}
    <h2>{{ mirror_section_title }}</h2>

    <h3>{{ add_mirror }}</h3>
    <dl>
        <div class="control-group">
            <label class="control-label" for="new_mirror_url">{{ url_label }}</label>
            <div class="controls">
                <input name="new_mirror_url" type="text" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="new_mirror_key">{{ ssh_key_label }}</label>
            <div class="controls">
                <textarea name="new_mirror_key" cols="23" required></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="new_mirror_pwd">{{ pwd_label }}</label>
            <div class="controls">
                <input name="new_mirror_pwd" type="password" required/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="{{ btn_submit }}" class="btn btn-primary" />
            </div>
        </div>
    </dl>
</form>

{{# list_of_mirrors_not_empty }}
    <h3>{{ existing_mirrors }}</h3>
{{/ list_of_mirrors_not_empty }}
{{# list_of_mirrors }}
    <form method="POST" action="?pane=mirrors_admin&action=modify-mirror" class="admin_mirror_config form-horizontal">
        {{{ csrf_input }}}
        <div class="git_admin_mirror">
            <br>
            <div class="control-group">
                <label class="control-label" for="mirror_owner">{{ owner_label }}</label>
                <div class="controls git_admin_mirror_owner_link">
                    <a name="mirror_owner" href="/admin/usergroup.php?user_id={{ owner_id }}">{{ owner_name }}</a>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mirror_url">{{ url_label }}</label>
                <div class="controls">
                    <input name="mirror_url" type="text" value="{{ url }}" required/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mirror_key">{{ ssh_key_label }}</label>
                <div class="controls">
                    <textarea name="mirror_key" cols="23" required>{{ ssh_key }}</textarea>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="hidden" value="{{ id }}" name="mirror_id"/>
                    <button class="btn btn-primary" name="update_mirror" value="true">{{ update_button }}</button>
                    <button class="btn btn-danger"  name="delete_mirror" value="true">{{ delete_button }}</button>
                </div>
            </div>
        </div>
    </form>
{{/ list_of_mirrors }}

