<section class="tlp-pane">
    <form class="tlp-pane-container"
          method="POST"
          action="{{ default_access_rights_form_action }}"
    >
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        <input type="hidden" name="save" value="save"/>

        <div class="tlp-pane-header">
            <h2 class="tlp-pane-title">{{ template_git_access_rights }}</h2>
        </div>

        {{> access-control/access-control }}

        <div class="tlp-pane-section">
            <div class="tlp-pane-section-submit">
                <button
                    id="save-permissions-with-regexp"
                    type="submit"
                    class="tlp-button-primary"
                    data-are-regexp-enabled="{{ is_regexp_enabled }}"
                    data-are-regexp-conflicting="{{ are_regexp_permission_conflicting_at_site_level }}"
                >{{ submit_default_access_rights }}</button>
            </div>
        </div>
    </form>
</section>
{{> access-control/access-control-remove-permissions-modals }}
