<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">{{ access_control_title }}</h1>
        </div>
        <section class="tlp-pane-section">
            <form method="POST"
                  action="?pane=general-settings&action=enable-regexp-usage"
            >
                {{# csrf_token }}
                    {{> csrf_token_input }}
                {{/ csrf_token }}

                <div class="tlp-alert-warning">{{ warning_admin_activation }}</div>

                <div class="tlp-form-element">
                    <label class="tlp-label tlp-checkbox">
                        <input type="checkbox"
                               name="activate-regexp"
                            {{# is_activated }} checked="checked" {{/ is_activated }}
                        > {{ allow_regexp_info }}
                    </label>
                </div>

                <div class="general-settings-submit">
                    <button type="submit" class="tlp-button-primary">
                        <i class="fa fa-save tlp-button-icon"></i> {{ save_settings }}
                    </button>
                </div>
            </form>
        </section>
    </div>
</section>
