<form method="POST" action="?pane=mirrors_admin&action=add-mirror" class="form-horizontal">
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}

    <h3>{{ add_mirror }}</h3>
    <dl>
        <div class="control-group">
            <label class="control-label" for="new_mirror_name">{{ identifier }}</label>
            <div class="controls">
                <input id="new_mirror_name" name="new_mirror_name" type="text" placeholder="{{ identifier_placeholder }}" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="new_mirror_url">{{ url_label }}</label>
            <div class="controls">
                <input id="new_mirror_url" name="new_mirror_url" type="text" placeholder="{{ url_placeholder }}" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="new_mirror_hostname">{{ hostname_label }}</label>
            <div class="controls">
                <input id="new_mirror_hostname" name="new_mirror_hostname" type="text" placeholder="{{ hostname_placeholder }}" />
                <p class="muted reserved-hostname-help">{{ reserved_hostnames_help }}</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="new_mirror_key">{{ ssh_key_label }}</label>
            <div class="controls">
                <textarea id="new_mirror_key" name="new_mirror_key"  rows="7" cols="70" required></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="new_mirror_pwd">{{ pwd_label }}</label>
            <div class="controls">
                <input id="new_mirror_pwd" name="new_mirror_pwd" type="password" required/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="{{ btn_submit }}" class="btn btn-primary" />
            </div>
        </div>
    </dl>
</form>

