<form method="POST" action="?pane=gitolite_config&action=migrate_to_tuleap_ssh_keys_management">
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    {{ migrate_to_tuleap_ssh_keys_management_title }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                <div class="tlp-property">
                    <p>{{ migrate_to_tuleap_ssh_keys_management_description }}</p>
                </div>
                <div class="tlp-pane-section-submit">
                    <button type="submit" class="tlp-button-primary">
                        <i class="fa fa-save tlp-button-icon"></i> {{ migrate_to_tuleap_ssh_keys_management_button }}
                    </button>
                </div>
            </section>
        </div>
    </section>
</form>
