<h1 class="project-administration-title" data-test="git-administration-page">{{ git_admin }}</h1>
<div class="main-project-tabs">
    <nav class="tlp-tabs">
        <a class="tlp-tab" href="/plugins/git/?action=admin-gerrit-templates&group_id={{ project_id }}">{{ tab_gerrit_templates }}</a>
        <a class="tlp-tab" href="/plugins/git/?action=admin-git-admins&group_id={{ project_id }}">{{ tab_git_admins }}</a>
        <a class="tlp-tab tlp-tab-active" href="/plugins/git/?action=admin-default-settings&group_id={{ project_id }}">{{ tab_template_settings }}</a>
        {{# external_pane_presenters }}
            <a class="tlp-tab" href="{{ uri }}">{{ pane_name }}</a>
        {{/ external_pane_presenters }}
    </nav>
</div>
<nav class="tlp-tabs">
    {{# panes }}
        <a class="tlp-tab {{# is_active }}tlp-tab-active{{/ is_active }}{{# is_disabled }}tlp-tab-disabled{{/is_disabled}}" href="{{ href }}">{{ title }}</a>
    {{/ panes }}
</nav>
<div class="tlp-framed-horizontally">
    {{# panes }}
        {{# is_active }}
            {{{ content }}}
        {{/is_active}}
    {{/ panes }}
</div>
