<h3>{{ update_button }}</h3>

<form method="POST" action="?pane=mirrors_admin&action=modify-mirror" class="admin_mirror_config form-horizontal">
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <div class="">
        <br>
        <div class="control-group">
            <label class="control-label" for="mirror_name">{{ identifier }}</label>
            <div class="controls">
                <input id="mirror_name" name="mirror_name" type="text" value="{{ name }}" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mirror_url">{{ url_label }}</label>
            <div class="controls">
                <input id="mirror_url" name="mirror_url" type="text" value="{{ url }}" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mirror_hostname">{{ hostname_label }}</label>
            <div class="controls">
                <input id="mirror_hostname" name="mirror_hostname" type="text" value="{{ hostname }}" />
                <p class="muted reserved-hostname-help">{{ reserved_hostnames_help }}</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mirror_owner">{{ owner_label }}</label>
            <div class="controls git_admin_mirror_owner_link">
                <a name="mirror_owner" href="/admin/usergroup.php?user_id={{ owner_id }}" target="_blank">{{ owner_name }}</a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mirror_pwd">{{ pwd_label }}</label>
            <div class="controls git_admin_mirror_owner_link">
                <a name="mirror_pwd" href="/admin/user_changepw.php?user_id={{ owner_id }}" target="_blank">{{ change }}</a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mirror_key">{{ ssh_key_label }}</label>
            <div class="controls">
                <textarea id="mirror_key" name="mirror_key" rows="7" cols="70" required>{{ ssh_key }}</textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="hidden" value="{{ id }}" name="mirror_id"/>
                <button class="btn btn-primary" name="update_mirror" value="true">{{ update_button }}</button>
                {{ or_action }}
                <button class="btn btn-danger"  name="delete_mirror" value="true">{{ delete_button }}</button>
            </div>
        </div>
    </div>
</form>

