<form method="POST" action="?pane=gitolite_config&action=update_config">
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    {{ gitolite_config_title }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                <div class="tlp-property">
                    <p>{{ gitolite_config_description }}</p>
                </div>
                <div class="tlp-form-element">
                    <label class="tlp-label" for="gitolite-project-selector">Project</label>
                    <select class="tlp-select"
                            id="gitolite-project-selector"
                            name="gitolite_config_project"
                            data-placeholder="Project name"></select>
                </div>
                <button type="submit" class="tlp-button-primary" id="gitolite-config-button">
                    <i class="fa fa-repeat tlp-button-icon"></i> {{ regenerate_gitolite_configuration }}
                    </input>
                </button>
            </section>
        </div>
    </section>
</form>
