<div>
    <h4>Gerrit</h4>
    <form action="" method="GET">
        <input type="hidden" name="action" value="{{form_action}}" />
        {{third_party_access_text}}
        <br>
        <b>{{third_party_synch_warning}}</b>
        <br>
        <input type="submit" class="btn btn-small" value="{{third_party_synch_button}}"/>
    </form>
</div>