<h3>{{ mirroring_title }}</h3>

{{# repository_is_mirrored }}
    <form action="/plugins/git/?group_id={{ project_id }}&pane=mirrors" id="repoAction" name="repoAction" method="POST">
        <input type="hidden" name="action" value="unmirror">
        <input type="hidden" name="repo_id" value="{{ repository_id }}">
        <input type="submit" class="btn btn-danger" value="{{ mirroring_unmirror }}">
    </form>
{{/ repository_is_mirrored }}
{{^ repository_is_mirrored }}
    <form action="/plugins/git/?group_id={{ project_id }}&pane=mirrors" id="repoAction" name="repoAction" method="POST">
        <p>{{{ mirroring_info }}}</p>
        <ul id="mirrors-list">
        {{# mirrors }}
            <li>{{ owner_name }} <span>({{ url }})</span></li>
        {{/ mirrors }}
        </ul>
        <input type="hidden" name="action" value="mirror">
        <input type="hidden" name="repo_id" value="{{ repository_id }}">
        <input type="submit" class="btn btn-primary" value="{{ mirroring_mirror }}">
    </form>
{{/ repository_is_mirrored }}