<div id="readme">
    <h2>
        <i id="markdown-file-icon" class="fa fa-file-text-o"></i> {{ readme_file_name }}
    </h2>

    <div id="readme-content">
      {{{ readme_file_content }}}
    </div>
</div>
