    </div>
</section>
<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">
                <i class="fa fa-file-text-o tlp-pane-title-icon"></i> {{ readme_file_name }}
            </h1>
        </div>
        <section class="tlp-pane-section">
            {{{ readme_file_content }}}
        </section>
