<div id="plugin_git_clone_url">
    <div id="plugin_git_clone_url_group" class="input-prepend input-append">
        <span class="gitclone_urls_protocols" data-toggle="buttons-radio">
            <button type="button"
                    class="btn plugin_git_transport"
                    name="plugin_git_transport"
                    data-url="{{ gerrit_url }}"
                    data-protocol="gerrit"
                    style="{{ display_gerrit }}"
                    id="gitclone_urls_protocol_gerrit"
                    >
                gerrit
            </button>
            <div class="btn-group">
                <button type="button"
                    class="btn plugin_git_transport"
                    name="plugin_git_transport"
                    data-url="{{ default_ssh_url }}"
                    data-protocol="ssh"
                    style="{{ display_ssh }}"
                    id="gitclone_urls_protocol_ssh"
                    >
                    ssh
                    {{# has_mirrors }}(<span class="current-location-name">{{ master_location_name }}</span>){{/ has_mirrors }}
                </button>
                {{# has_mirrors }}
                    <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="disabled"><a tabindex="-1" href="#">{{ ssh_mirrors_text }}</a></li>
                        {{# mirrors }}
                            <li class="{{^ is_mirror }}is_selected{{/ is_mirror }}">
                                <a href="#"
                                   class="repo_mirror_option"
                                   data-ssh-url="{{ ssh_url }}"
                                   data-name="{{ name }}"
                                   data-is-mirror="{{ is_mirror }}"
                                   >
                                    <i class="icon-ok"></i> {{ name }}
                                </a>
                            </li>
                        {{/ mirrors }}
                    </ul>
                {{/ has_mirrors }}
            </div>
            <button type="button"
                    class="btn plugin_git_transport"
                    name="plugin_git_transport"
                    data-url="{{ default_http_url }}"
                    data-protocol="http"
                    style="{{ display_http }}"
                    id="gitclone_urls_protocol_http"
                    >
                http
            </button>
        </span>
        <span class="add-on" style="display:none" id="gitclone_urls_readonly">
            <span class="label">
                read-only
            </span>
        </span>
        <input id="plugin_git_is_gerrit_active" type="hidden" value="{{ is_gerrit_active }}" />
        <input id="plugin_git_clone_field" type="text" class="span6"  value="{{ get_default_url }}" />
        <button class="btn" type="button" id="plugin_git_example-handle" data-toggle="button">?</button>
    </div>
    {{# user_is_admin }}
        <a href="{{ getRepoAdminUrl }}"
           class="btn plugin_git_admin_button">
            <i class="icon-cog"></i>
            {{ settings_text }}
        </a>
    {{/ user_is_admin }}
    {{{ additional_actions }}}
    <div>
        <div id="plugin_git_example" style="display:none" class="alert alert-info">
            <h3>{{ how_to_use_text }}</h3>
            <dl>
                <dt>{{ clone_text }}</dt>
                <dd>
                    <pre>
<code class="git-checkout-command">git clone <span class="plugin_git_example_url">{{ get_default_url }}</span> {{ repository_name }}</code>
<code class="git-checkout-command">cd {{ repository_name }}</code>
                    </pre>
                </dd>
                <dt>{{ add_remote_text }}</dt>
                <dd>
                    <pre>
<code class="git-checkout-command">git remote add {{ repository_name }} <span class="plugin_git_example_url">{{ get_default_url }}</span></code>
<code class="git-checkout-command">git fetch {{ repository_name }}</code>
<code class="git-checkout-command">git checkout -b my-local-tracking-branch {{ repository_name }}/master</code>
                    </pre>
                </dd>
                {{{ additional_help_text }}}
            </dl>
        </div>
    </div>
</div>
