<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">{{# dgettext }} tuleap-git | Permission to set build status {{/ dgettext }}</h1>
        </div>

        <div class="tlp-pane-section">
            <p>
                {{# dgettext }} tuleap-git | Define which user groups are allowed to change commits statuses after CI builds. {{/ dgettext }}
                <br/>
                {{# dgettext }} tuleap-git | Users from selected user groups will be able to authenticate using their access keys when calling the build status update APIs. {{/ dgettext }}
            </p>
            <div class="tlp-form-element">
                <label class="tlp-label" for="set-build-status-permissions">
                    {{# dgettext }} tuleap-git | Set build status {{/ dgettext }}
                </label>
                    <select
                        multiple="multiple"
                        id="set-build-status-permissions"
                        name="set-build-status-permissions[]"
                        size="6"
                        class="tlp-select tlp-select-adjusted"
                    >
                        {{# set_build_status_options }}
                            <option value="{{ value }}" {{{ selected }}}>{{ label }}</option>
                        {{/ set_build_status_options }}
                    </select>
            </div>

            <div class="tlp-pane-section-submit">
                <button type="submit" name="action" value="set-build_status-permissions" class="tlp-button-primary">
                    {{# dgettext }} tuleap-git | Save permissions {{/ dgettext }}
                </button>
            </div>
        </div>
    </div>
</section>
