# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log
npm-debug.log*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

### Tuleap realtime
build/
ssl/
dist/

# RPM stuff
*.rpm
*.tar.gz
