<div>
    <div id="bugzilla-references-header">
        <h1 id="bugzilla-references-header-title">{{ bugzilla_title }}</h1>
        {{# has_references }}
            <button type="button" class="tlp-button-primary" id="bugzilla-add-reference">
                <i class="fa fa-plus tlp-button-icon"></i> {{ bugzilla_add }}
            </button>
            {{> add-reference }}
        {{/ has_references }}
    </div>

    {{# has_references }}
        <table class="tlp-table">
            <thead>
            <tr>
                <th>{{ keyword }}</th>
                <th>{{ server }}</th>
                <th>{{ follow_up }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{# presenters }}
                <tr>
                    <td>
                        {{ getKeyword }}
                    </td>
                    <td>{{ getServer }}</td>
                    <td>{{ getFollowUpVisibility }}</td>
                    <td class="tlp-table-cell-actions">
                        {{^ hasApiKeyAlwaysBeenEncrypted }}
                            <span class="tlp-text-danger tlp-tooltip tlp-tooltip-left" data-tlp-tooltip="{{ api_key_stored_plaintext_warning }}">
                                <i class="tlp-badge-icon fas fa-exclamation-triangle"></i>
                            </span>
                        {{/ hasApiKeyAlwaysBeenEncrypted }}
                        <button type="button"
                                class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline bugzilla-edit-modal"
                                data-edit-modal-id="edit-modal-{{ getId }}"
                        >
                            <i class="fas fa-pencil-alt tlp-button-icon"></i>
                            {{ edit }}
                        </button>

                        <button class="tlp-table-cell-actions-button tlp-button-small tlp-button-danger tlp-button-outline bugzilla-delete-modal"
                                data-delete-modal-id="delete-modal-{{ getId }}"
                        >
                            <i class="far fa-trash-alt"></i> {{ delete }}
                        </button>
                        {{> edit-reference }}
                        {{> delete-reference }}
                    </td>
                </tr>
            {{/ presenters }}
            </tbody>
        </table>
    {{/ has_references }}
    {{^ has_references }}
    <div class="empty-page">
        <div class="empty-page-text">{{{ purified_no_bugzilla_reference }}}</div>
        <button type="button"
                id="bugzilla-add-reference"
                class="tlp-button-primary tlp-button-large"
        >
            <i class="fa fa-plus tlp-button-icon"></i> {{ bugzilla_add }}
        </button>
        {{> add-reference }}
    {{/ has_references }}
</div>
</div>
