<div>
    <h1>{{ bugzilla_title }}</h1>

    <div class="empty-page">
        <div class="empty-page-text">{{{ purified_no_bugzilla_reference }}}</div>
        <button type="button"
                class="tlp-button-primary tlp-button-large"
                disabled
        >
            <i class="fa fa-plus tlp-button-icon"></i> {{ bugzilla_add }}
        </button>

    </div>
</div>
