[Unit]
Description=Tuleap queue system check

[Service]
Type=simple
User=root
ExecStart=/usr/bin/tuleap queue-system-check

[Install]
WantedBy=multi-user.target
