[Unit]
Description=Tuleap launch daily event
Documentation=https://docs.tuleap.com

[Timer]
OnCalendar=00:00:00
RandomizedDelaySec=60min
Unit=tuleap-launch-daily-event.service

[Install]
WantedBy=timers.target
