[Unit]
Description=Tuleap statistics system events
Documentation=https://docs.tuleap.com

[Service]
Type=simple
User=root
ExecStart=/usr/bin/tuleap process-system-event statistics

[Install]
WantedBy=multi-user.target
