[Unit]
Description=SVN Logs Parser Service
After=tuleap.service
PartOf=tuleap.service

[Service]
Type=simple
User=root
PIDFile=/var/run/push_svn_log_parse.pid
ExecStartPre=/usr/bin/tuleap -c -r
ExecStart=/usr/share/tuleap/plugins/svn/bin/svn_stats_to_db.php
Restart=on-abort

[Install]
WantedBy=tuleap.service
