[Unit]
Description=Tuleap statistics system events

[Service]
Type=simple
User=root
ExecStart=/usr/bin/tuleap process-system-event statistics

[Install]
WantedBy=multi-user.target
