[Unit]
Description=SVN Updater Service
After=tuleap.service
PartOf=tuleap.service

[Service]
Type=simple
User=root
PIDFile=/var/run/svnroot_updater.pid
ExecStart=/usr/bin/tuleap worker:svnroot-update
Restart=on-failure

[Install]
WantedBy=tuleap.service
