[Unit]
Description=Tuleap service
After=nginx.target httpd.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tuleap --clear-caches --restore-caches

[Install]
WantedBy=multi-user.target
