[Unit]
Description=Tuleap default system events

[Service]
Type=simple
User=root
ExecStart=/usr/bin/tuleap process-system-event default

[Install]
WantedBy=multi-user.target
