[Unit]
Description=Tuleap plugins job
Documentation=https://docs.tuleap.com

[Service]
Type=simple
User=codendiadm
ExecStart=/usr/bin/tuleap launch-every-minute-job

[Install]
WantedBy=multi-user.target
