[Unit]
Description=Tuleap queue system check
Documentation=https://docs.tuleap.com

[Service]
Type=simple
User=root
ExecStart=/usr/bin/tuleap queue-system-check

[Install]
WantedBy=multi-user.target
