[Unit]
Description=The PHP FastCGI Process Manager for Tuleap
Documentation=https://docs.tuleap.org
After=tuleap.service
PartOf=tuleap.service
Conflicts=php81-php-fpm.service php82-php-fpm.service

[Service]
Type=notify
ExecStart=/opt/remi/php81/root/usr/sbin/php-fpm --nodaemonize
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=false

[Install]
WantedBy=tuleap.service
