[Unit]
Description=Tuleap worker instance %i
Documentation=https://docs.tuleap.org

[Service]
Type=simple
Environment=DISPLAY_ERRORS=true
ExecStart=/usr/share/tuleap/src/utils/worker.php -v --id=%i
User=codendiadm
Restart=always
