[Unit]
Description=Tuleap default system events
Documentation=https://docs.tuleap.com

[Service]
Type=simple
User=root
ExecStart=/usr/bin/tuleap process-system-event default

[Install]
WantedBy=multi-user.target
