[Unit]
Description=Tuleap service
Documentation=https://docs.tuleap.org
After=nginx.target httpd.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=infinity
ExecStartPre=/bin/sh -c 'until /usr/bin/tuleap --version 2> /dev/null; do echo "Waiting on services to be ready to start"; /bin/sleep 5; done'
ExecStart=/usr/bin/tuleap --clear-caches
ExecStart=/usr/bin/tuleap --restore-caches
ExecStart=/usr/bin/tuleap sanity-check

[Install]
WantedBy=multi-user.target
