[Unit]
Description=Tuleap launch daily event
Documentation=https://docs.tuleap.com

[Service]
Type=simple
User=codendiadm
ExecStart=/usr/bin/tuleap daily-job

[Install]
WantedBy=multi-user.target
