[Unit]
Description=Tuleap launch system check

[Timer]
OnCalendar=*:00/30:00
RandomizedDelaySec=30min
Unit=tuleap-launch-system-check.service

[Install]
WantedBy=timers.target
