{{# current_project_navbar_info_presenter }}
<nav id="current-project-nav">
    <a href="{{ project_link }}" class="current-project-name">
        {{# are_restricted_users_allowed }}
            {{# project_is_public }}
                <i class="fa fa-unlock current-project-icon"></i>
            {{/ project_is_public }}
            {{# project_is_public_incl_restricted }}
                <i class="fa fa-tlp-unlock-plus-r current-project-icon"></i>
            {{/ project_is_public_incl_restricted }}
            {{# project_is_private }}
                <i class="fa fa-lock current-project-icon"></i>
            {{/ project_is_private }}
            {{# project_is_private_incl_restricted }}
                <i class="fa fa-tlp-lock-plus-r current-project-icon"></i>
            {{/ project_is_private_incl_restricted }}
        {{/ are_restricted_users_allowed }}
        {{^ are_restricted_users_allowed }}
            {{# project_is_public }}
                <i class="fa fa-unlock current-project-icon"></i>
            {{/ project_is_public }}
            {{^ project_is_public }}
                <i class="fa fa-lock current-project-icon"></i>
            {{/ project_is_public }}
        {{/ are_restricted_users_allowed }}

        {{ project_name }}
    </a>
    <section class="tlp-popover" id="current-project-nav-title-popover">
        <div class="tlp-popover-arrow"></div>
        <div class="tlp-popover-header">
            <h1 class="tlp-popover-title">{{ project_name }}</h1>
        </div>
        <div class="tlp-popover-body">
            <p class="current-project-nav-title-popover-description">{{ project_privacy }}</p>
        </div>
    </section>
    {{# current_project_navbar_info_presenter }}
        {{# purified_banner }}
        <span id="current-project-banner-bullhorn"
              {{# project_banner_is_visible }}class="bullhorn-to-banner"{{/ project_banner_is_visible }}
              {{^ project_banner_is_visible }}class="project-banner-hidden"{{/ project_banner_is_visible }}
        >
            <a href="#" aria-labelledby="current-project-banner-message"><i class="fa fa-bullhorn"></i></a>
        </span>
        {{/ purified_banner }}
    {{/ current_project_navbar_info_presenter }}
    {{# has_project_flags }}
        <span class="current-project-nav-flag"
              id="current-project-nav-flag"
        >
            {{# glyph }}project-shield{{/ glyph }}
            <span class="current-project-nav-flag-labels">
                {{# project_flags }}
                    <span class="current-project-nav-flag-label">{{ label }}</span>
                {{/ project_flags }}
            </span>
        </span>
        <section class="tlp-popover" id="current-project-nav-flag-popover">
            <div class="tlp-popover-arrow"></div>
            <div class="tlp-popover-header">
                <h1 class="tlp-popover-title">{{ project_flags_title }}</h1>
            </div>
            <div class="tlp-popover-body">
                {{# project_flags }}
                    <div class="current-project-nav-flag-popover-flag">
                        {{# glyph }}project-shield{{/ glyph }}
                        <h2 class="current-project-nav-flag-popover-content-title">
                            {{ label }}
                        </h2>
                        {{# description }}
                            <p class="current-project-nav-flag-popover-content-description">
                                {{ description }}
                            </p>
                        {{/ description }}
                    </div>
                {{/ project_flags }}
            </div>
        </section>
    {{/ has_project_flags }}
</nav>
{{/ current_project_navbar_info_presenter }}
