{{# current_project_navbar_info_presenter }}
<nav id="current-project-nav">
    <a href="{{ project_link }}" class="current-project-name" title="{{ project_name }}&#10;&#10;{{{ project_privacy }}}">
        {{# project_is_public }}
            <i class="fa fa-unlock current-project-icon"></i>
        {{/ project_is_public }}
        {{^ project_is_public }}
            <i class="fa fa-lock current-project-icon"></i>
        {{/ project_is_public }}

        {{ project_name }}
    </a>
    {{# has_project_flags }}
        <span class="current-project-nav-flag"
              title="{{# project_flags }}{{ label }} {{/ project_flags }}"
        >
            {{# glyph }}project-shield{{/ glyph }}
            <span class="current-project-nav-flag-labels">
                {{# project_flags }}
                    <span class="current-project-nav-flag-label">{{ label }}</span>
                {{/ project_flags }}
            </span>
        </span>
    {{/ has_project_flags }}
</nav>
{{/ current_project_navbar_info_presenter }}
