{{# navbar_presenter }}
<header>
    <div class="header-container">
        <a href="/" id="logo" aria-label="{{ homepage_label }}"></a>

        {{> navbar/current-project-nav }}

        {{> navbar/global-nav }}
    </div>

    {{# is_search_and_user_nav_displayed }}
        <div class="header-container">
            {{> navbar/search }}

            {{> navbar/join-community }}

            {{> navbar/user-nav }}
        </div>
    {{/ is_search_and_user_nav_displayed }}
</header>
{{/ navbar_presenter }}
