<section class="tlp-framed-vertically">
    <h1 class="tlp-framed-horizontally">{{ public_name }}</h1>

    <nav class="tlp-tabs">
        <a href="/admin/groupedit.php?group_id={{ id }}" class="tlp-tab">{{ information_label }}</a>
        <a href="/admin/userlist.php?group_id={{ id }}" class="tlp-tab tlp-tab-active">{{ members_label }}</a>
        <a href="/admin/projecthistory.php?group_id={{ id }}" class="tlp-tab">{{ history_label }}</a>
        {{# is_active }}
            <a href="/admin/show_pending_documents.php?group_id={{ id }}" class="tlp-tab">{{ pending_label }}</a>
        {{/ is_active }}
    </nav>

    <div class="tlp-framed-horizontally">
        {{> userlist }}
    </div>
</section>
