{{# change_password }}
<form action="usergroup.php?action=update_password" method="post">
    <div id="user-change-password-modal" class="tlp-modal" role="dialog" aria-labelledby="user-change-password-modal-label">
        <div class="tlp-modal-header">
            <h1 class="tlp-modal-title" id="user-change-password-modal-label">
                <i class="fa fa-lock tlp-modal-title-icon"></i> {{ modal_title }}
            </h1>
            <div class="tlp-modal-close" data-dismiss="modal" aria-label="Close">
                &times;
            </div>
        </div>
        <div class="tlp-modal-body user-change-password-modal-body">
            <div class="user-change-password-modal-body-additional-messages">
                {{# additional_password_messages }}
                    {{{ . }}}
                {{/ additional_password_messages }}
            </div>
            <div class="user-change-password-modal-body-fields">
                <div class="tlp-form-element">
                    <label class="tlp-label" for="form_pw">{{ password_field_label }} <i class="fa fa-asterisk"></i></label>
                    <input type="password" class="tlp-input" id="form_pw" name="form_pw" placeholder="************" required>
                </div>
                <div class="tlp-form-element">
                    <label class="tlp-label" for="form_pw2">{{ confirm_password_field_label }} <i class="fa fa-asterisk"></i></label>
                    <input type="password" class="tlp-input" id="form_pw2" name="form_pw2" placeholder="************" required>
                </div>
                <input type="hidden" name="user_id" value="{{ user_id }}">
                {{# csrf_token }}
                    {{> csrf_token_input }}
                {{/ csrf_token }}
            </div>
            <div class="user-change-password-modal-body-robustness">
                <label class="tlp-label">{{# gettext }}Password robustness{{/ gettext }}</label>
                <div class="robustness tlp-framed">
                    <p class="password-strategy-good">{{# gettext }}Good{{/ gettext }}</p>
                    <p class="password-strategy-bad">{{# gettext }}Bad{{/ gettext }}</p>

                    <script type="text/javascript">
                        var password_validators = [];
                    </script>

                    {{# passwords_validators }}
                        <p class="user-change-password-modal-passwords-validator {{ key }}"><i class="fa fa-fw fa-times password-strategy-bad"></i> {{{ description }}}</p>

                        <script type="text/javascript">
                            window.password_validators.push('{{ regexp }}');
                        </script>
                    {{/ passwords_validators }}
                </div>
            </div>
        </div>
        <div class="tlp-modal-footer">
         <button type="button" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">{{ modal_cancel }}</button>
         <button type="submit" class="tlp-button-primary tlp-modal-action"><i class="fa fa-save tlp-button-icon"></i> {{ modal_save }}</button>
        </div>
    </div>
</form>
{{/ change_password }}
