<?xml version='1.0'?>
<phpunit bootstrap="./vendor/autoload.php" verbose="true" backupGlobals="true">
    <php>
        <includePath>../../src/www/include:../../src</includePath>
    </php>
    <testsuites>
        <testsuite name="Tuleap SOAP tests">
            <directory>./tests</directory>
            <directory>../../plugins/*/tests/soap</directory>
        </testsuite>
    </testsuites>
</phpunit>
