**/assets/*
**/build/*
**/bin/*
**/coverage/*
**/dist/*
**/node_modules/*
**/vendor/*
src/common/wiki/phpwiki/
src/www/scripts/bootstrap/
src/www/scripts/d3/
src/www/scripts/datepicker/
src/www/scripts/FlamingParrot/keymaster-sequence/
src/www/scripts/jquery/
src/www/scripts/jscrollpane/
src/www/scripts/jstimezonedetect/
src/www/scripts/lightwindow/
src/www/scripts/lytebox/
src/www/scripts/placeholder/
src/www/scripts/protocheck/
src/www/scripts/prototype/
src/www/scripts/scriptaculous/
src/www/scripts/select2/
src/www/scripts/tablekit/
src/www/scripts/textboxlist/
src/www/scripts/vendor/
src/www/scripts/fieldDependencies.js
src/www/scripts/filterlist.js
src/www/scripts/user.js
src/www/themes/common/tlp/doc/codemirror/
src/www/themes/common/tlp/src/vendor-i18n/
tests/simpletest/common/include/_fixtures
plugins/mediawiki/www/
