{
    "plugins": [
        "you-dont-need-lodash-underscore",
        "cypress",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:you-dont-need-lodash-underscore/all",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "rules": {
        // Possible Errors
        "no-template-curly-in-string": "error",
        // Best Practices
        "array-callback-return": "warn",
        "consistent-return": "warn",
        "curly": "error",
        "default-case": "warn",
        "dot-notation": "warn",
        "eqeqeq": "warn",
        "no-alert": "error",
        "no-caller": "error",
        "no-div-regex": "error",
        "no-else-return": "warn",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-implicit-coercion": "error",
        "no-implied-eval": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "warn",
        "no-multi-str": "error",
        "no-new": "warn",
        "no-new-func": "warn",
        "no-new-wrappers": "error",
        "no-param-reassign": "warn",
        "no-proto": "error",
        "no-return-assign": "error",
        "no-return-await": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-useless-return": "warn",
        "no-void": "error",
        "no-with": "error",
        "radix": "error",
        "require-await": "error",
        "prettier/prettier": ["error", null, {
            "usePrettierrc": true
        }]
    },
    "overrides": [
        {
            "files": ["*.spec.js"],
            "env": {
                "jasmine": true
            },
            "globals": {
                // jasmine-fixture
                "affix": true,
                // jasmine-promise-matchers,
                "installPromiseMatchers": true,
            }
        },
        {
            "files": [
                "build.config.js",
                "Gruntfile.js",
                "gulpfile.js",
                "karma.conf.js",
                "karma.config.js",
                "plugins/tracker/grammar/",
                "tools/**/*.js",
                "webpack.config.js"
            ],
            "env": {
                "node": true
            }
        },
        {
            "files": [
                "tests/e2e/**/*.js"
            ],
            "env": {
                "cypress/globals": true
            }
        }
    ]
}
