tests/integration/tests/tracker_v3_to_v5/tv3_tv5_migration_syslog
src/www/scripts/combined/*
src/utils/*.pyc
src/utils/cvs1/*.pyc
src/utils/svn/*.pyc
tests/simpletest/common/include/_fixtures/big_file
.vagrant
*.box
nbproject
*.mo
*.po~
*.pot
*.css
!plugins/boomerang/*.css
!plugins/git/gitphp-0.1.0/gitphp.css
!plugins/git/www/themes/default/css/gitphp.css
!plugins/IM/www/webmuc/*.css
!plugins/mediawiki/mediawiki-skin/*css
!plugins/mediawiki/www/skins/*css
!plugins/tests/*.css
!src/common/rss/libs/SimplePie/*.css
!src/common/wiki/phpwiki/*.css
!src/www/codendi.css
!src/www/guidelines/_css/*.min.css
!src/www/scripts/bootstrap/bootstrap-select/*.css
!src/www/scripts/bootstrap/bootstrap-datetimepicker/css/*.css
!src/www/scripts/bootstrap/bootstrap-tour/*.css
!src/www/scripts/jscrollpane/*.css
!src/www/scripts/select2/select2.css
!src/www/scripts/vendor/at/css/*.css
!src/www/svn/repos-web/*.css
!src/www/themes/common/css/bootstrap-2.3.0.min.css
!src/www/themes/common/css/bootstrap-responsive-2.3.0.min.css
!src/www/themes/common/css/animate.min.css
!src/www/themes/BurningParrot/vendor/**/*.css
src/vendor/
src/tuleap-cfg/vendor/
src/www/themes/*/vendor/
plugins/*/vendor/
tools/Configuration/vendor/
/.idea/
npm-debug.log
yarn-error.log
.env
.DS_Store
.sass-cache/
*.css.map
node_modules/
src/www/assets/*
src/www/themes/*/assets/*
plugins/*/www/assets/*
plugins/*/www/themes/*/assets/*
plugins/*/assets
plugins/themes/*/assets
src/www/themes/BurningParrot/css/vendor/*.scss
test_results/*
test_results_e2e/*
test_results_distlp/*
tests/soap/vendor
tests/rest/vendor
src/www/themes/local
tests/phpunit/phpunit_test_results.xml
.metrics_secret.key
test-results.xml
coverage/
.phpunit.result.cache
ENTERPRISE_BUILD
.deptrac.cache