tests/integration/tests/tracker_v3_to_v5/tv3_tv5_migration_syslog
src/www/scripts/combined/*
src/utils/*.pyc
src/utils/svn/*.pyc
.vagrant
*.box
nbproject
*.mo
*.po~
*.pot
src/vendor/
src/tuleap-cfg/vendor/
src/www/tlp-doc/dist/
src/themes/*/vendor/
plugins/*/vendor/
/.idea/
npm-debug.log
yarn-error.log
.pnpm-debug.log
.env
.DS_Store
.sass-cache/
*.css.map
node_modules/
src/scripts/*/frontend-assets/
plugins/*/frontend-assets
plugins/*/scripts/*/frontend-assets
plugins/*/backend-assets
plugins/*/*/backend-assets
plugins/*/resources/templates/*
!plugins/*/resources/templates/generate-*
tools/utils/setup_templates/*/*_template.xml
tools/utils/setup_templates/*/*_generated.xml
test_results*
tests/rest/vendor
tests/phpunit/phpunit_test_results.xml
.metrics_secret.key
test-results.xml
.phpunit.result.cache
ENTERPRISE_BUILD
.deptrac.cache
tsconfig.tsbuildinfo
.turbo/
js-test-results/
result

#legacy
coverage/
src/www/themes/*/vendor/
src/www/themes/common/tlp/dist/
src/www/themes/common/tlp/doc/dist/
src/www/themes/*/assets/*
.turbo
