[access]
	inheritFrom = tuleap-localhost-AlmAcl
[project]
	state = active
[access "refs/heads/*"]
	Read = group Registered Users
	Read = group tuleap-localhost-mozilla/firefox-contributors
	Read = group tuleap-localhost-mozilla/firefox-integrators
	create = group tuleap-localhost-mozilla/firefox-integrators
	forgeAuthor = group tuleap-localhost-mozilla/firefox-integrators
	label-Code-Review = -2..+2 group tuleap-localhost-mozilla/firefox-integrators
	label-Code-Review = -1..+1 group tuleap-localhost-mozilla/firefox-contributors
	label-Verified = -1..+1 group tuleap-localhost-mozilla/firefox-integrators
	submit = group tuleap-localhost-mozilla/firefox-integrators
	push = group tuleap-localhost-mozilla/firefox-integrators
	push = +force group tuleap-localhost-mozilla/firefox-supermen
	pushMerge = group tuleap-localhost-mozilla/firefox-integrators
[access "refs/changes/*"]
	push = group tuleap-localhost-mozilla/firefox-contributors
	push = group tuleap-localhost-mozilla/firefox-integrators
	push = +force group tuleap-localhost-mozilla/firefox-supermen
	pushMerge = group tuleap-localhost-mozilla/firefox-integrators
[access "refs/for/refs/heads/*"]
	push = group tuleap-localhost-mozilla/firefox-contributors
	push = group tuleap-localhost-mozilla/firefox-integrators
	pushMerge = group tuleap-localhost-mozilla/firefox-integrators
[access "refs/tags/*"]
	read = group tuleap-localhost-mozilla/firefox-contributors
	read = group tuleap-localhost-mozilla/firefox-integrators
	pushTag = group tuleap-localhost-mozilla/firefox-integrators
