$dashboard-header-background: lighten($tlp-theme-sidebar-background-color, 2%);

.body-user-dashboard {
    header:not(.pinned) {
        background: $dashboard-header-background;

        #logo {
            background-color: transparent;
            background-position: left center;
        }

        .logo-svg-fill-default-text-color {
            fill: $tlp-ui-white;
        }
    }

    .full-width + #main-container > main[role='main']:not(.tlp-framed) > #feedback:not(:empty) {
        margin: 0;
        padding: $tlp-medium-spacing $tlp-medium-spacing $tlp-large-spacing;
        background: $dashboard-header-background;
    }

    #nav-dropdown-user-content,
    #nav-dropdown-new-content {
        > .tlp-popover-arrow {
            border-bottom-color: lighten($tlp-theme-sidebar-background-color, 10%);
        }

        > .tlp-popover-header {
            background: lighten($tlp-theme-sidebar-background-color, 10%);
        }
    }

    .dashboard-tabs {
        padding: 0 ($tlp-medium-spacing + 4px);
        background: lighten($tlp-theme-sidebar-background-color, 5%);
        box-shadow: none;

        > .tlp-tab {
            color: transparentize($tlp-ui-border-dark, .2);

            &:hover,
            &.tlp-tab-active {
                border-bottom-color: transparent;
                color: $tlp-ui-white;
            }

            #dashboard-tabs-dropdown-trigger {
                color: $tlp-ui-border-normal;

                &:hover {
                    color: $tlp-ui-white;
                }
            }
        }
    }
}

.dashboard-user-title-container {
    padding: 0 $tlp-medium-spacing $tlp-large-spacing;
    background: $dashboard-header-background;
}

.dashboard-user-title {
    margin: 0;
    color: $tlp-ui-white;
    font-size: 3rem;
    font-weight: 600;
}
