<form
    id="git-notification-delete-modal"
    role="dialog"
    aria-labelledby="git-notification-delete-modal-title"
    class="tlp-modal tlp-modal-danger"
    action="/plugins/git/"
    method="POST"
>
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <input type="hidden" name="action" value="mail" />
    <input type="hidden" name="pane" value="{{ identifier }}" />
    <input type="hidden" name="group_id" value="{{ repository_project_id }}" />
    <input type="hidden" name="repo_id" value="{{ repository_id }}" />
    <input type="hidden" id="deletion_parameter" name="" value="" />

    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="git-notification-delete-modal-title">
            {{# dgettext }}tuleap-git | Notification deletion {{/dgettext}}
        </h1>
        <button class="tlp-modal-close" type="button" data-dismiss="modal"
                aria-label="{{# gettext }}Close{{/ gettext }}">
            <i class="fa-solid fa-xmark tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>
    <div class="tlp-modal-body">
        <p>{{# dgettext }}
            tuleap-git | You are about to remove the notification. Please confirm your action.{{/ dgettext }}</p>
    </div>
    <div class="tlp-modal-footer">
        <button type="button" data-dismiss="modal" class="tlp-button-danger tlp-button-outline tlp-modal-action">
            {{# gettext }}Cancel{{/ gettext }}
        </button>
        <button type="submit"
                class="tlp-button-danger tlp-modal-action"
        >
            <i class="fa-regular fa-trash-alt tlp-button-icon" aria-hidden="true"></i>
            {{# dgettext }}tuleap-git | Confirm deletion{{/dgettext}}
        </button>
    </div>
</form>
