<?php

// the path of elastic text search PHP client library
$fulltextsearch_path = '/usr/share/php-elasticsearch';

// elastic search server hostname
$fulltextsearch_host = 'localhost';

// elastic search server port
$fulltextsearch_port = 9200;

// Basic Auth user for elasticsearch server
// It is highly recommended to set a Basic Auth to access your ElasticSearch server
// Else all your ES server are belong to your users
$fulltextsearch_user = 'superuser';

// Basic Auth password for elasticsearch server
$fulltextsearch_password = 'Adm1n';

// The maximum allowed time a single item can take to be (re)indexed
// Defaults to 5 if no value set
// Set to 0 for no limit
$max_seconds_for_request = 10;
?>
