/**
 * $Id$
 *
 * Inspiration for this stylesheet:
 *
 * http://www.timestretch.com/db/home/load/36/
 * http://www.apache.org/
 *
 * This incarnation of this stylesheet is a complete rewrite from the
 * ground up. It has not yet been tested against NS4.
 *
 * Mozilla's "DOM Inspector" Sidebar was an invaluable troubleshooting
 * tool for mapping the more complex CSS node selectors, such as those
 * used to reference the various CalendarPlugin elements.
 */


/**
 * General
 */ 
img {
  border: 0;
  vertical-align: baseline;
}

form { margin: 0; }
input { margin: 0.1em; }
input.numeric { text-align: right; }
table {
  border-spacing: 1px;
  /* For Mozilla */
  empty-cells: show;
}
caption {
  caption-side: top;
  text-align: left;
  margin-bottom: .5ex;
  /* Allow the caption to extend to the full page width
     Mac ie5.1 ignores this*/
  width: 100%;
}


/**
 * Wiki
 */

/* Main wiki text box */
body {
  /* light gray */
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1ex 1em;
}

hr { height: 1px; }

div.wikitext {
  background: white;
  border-bottom: 0.5pt #888 solid;
  padding-top:    0.75ex; 
  padding-bottom: 0.75ex; 
  padding-left:  0.8em; 
  padding-right: 0.8em; 
  margin-top:    0ex;
  margin-bottom: 0;
  margin-left:  0em;
  margin-right: 0em;
  /*This breaks Netscape 4: (display does not go full width).
   * width: auto;
   */
  clear: both;
  /* user's browser settings *
  font-family: none; */
}

#logo img {
  position: relative;
  right: 0.25em;
  /* This breaks when the navbar wraps to the second line. Ideas? */
  top: 4.5ex;
}

/**
 * Link styles
 */
.wiki {
  text-decoration: none;
  font-weight: bold;
  /* dark cyan */
  color: #004662
}
.wiki:hover, .backlinks:hover { color: #5454ff; } /* blue */

/**
 * wikiaction, wikiadmin, wikiunsafe:
 */
.wikiaction, .wikiadmin, .wiki-rc-action, .backlinks { 
  color: #69798f;  /* pale cyan */
  text-decoration: none;
  font-weight: bold;
}
.wikiaction:hover { color: #5454ff; } /* blue */
.backlinks { color: #006; }
/*
.wikiaction, .wikiaction table, span.wikiaction {
  background-color: #ddd;
}
.wikiadmin, .wikiadmin table {
  background-color: #fdd;
}
.wikiunsafe {
  background-color: #ccc;
}
*/

/* Unknown links */
.wikiunknown a, .named-wikiunknown a, .wikiunknown u {
  text-decoration: none;
  color: #600;
}

/* Interwiki links */
.wikipage  { font-weight: bold; }
.interwiki { text-decoration: none; }
.interwiki, i.interwiki .wikipage, em .interwiki .wikipage {
  font-style: oblique;
}
.interwiki .wikipage, i .interwiki, em .interwiki {
  font-style: normal;
}


/**
 * headings
 */
h1, h2, h3, h4, h5, h6 { font-family: Arial, Helvetica, sans-serif; }

h1 {
  color:            white;
  background-color: black;
  padding-top:    1.1ex;
  padding-left:   0.3em;
  padding-bottom: 0.2ex;
  padding-right:  0.6em;
  margin: 0;
}
h1 .backlinks {
  color: white;
  text-decoration: none;
}
h1 .wiki {
  color: gray;
  text-decoration: none;
}

h2 {
  color:            white;
  background-color: #525D76;
}

h3 {
  color:            white;
  background-color: #828da6;
  margin-left:      1em;
}

h4 {
  color:            white;
  background-color: #828da6;
  margin-left:      1.5em;
}

h2, h3, h4, h5, h6 {
  margin-top: 2ex;
  padding-top:    0.15ex;
  padding-bottom: 0.1ex;
  padding-left:  0.6em;
  padding-right: 0.6em;
}

/**
 * tables
 */
caption { font-family: Arial, Helvetica, sans-serif; }
/* PageList output */
.pagelist {
  background: #bebebe;
  border: 0.5pt solid #bebebe;
}
.pagelist thead, .pagelist thead u {
  background: #bebebe;
  color:       white;
  font-weight: bold;
  text-decoration: none;
}
.pagelist tr.evenrow { background: #e6e6e6; }
.pagelist tr.oddrow  { background: #f4f4f4; }
/*.pagelist td {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
}*/


/**
 * Toolbar
 */
.toolbar, td, input.button { font-family: Arial, Helvetica, sans-serif; }

#navbuttons, #actionbar {
  color:      black;
  background: #ddd; /* dark gray */
  margin-top:    0.1ex;
  margin-bottom: 1ex;
  margin-left:  0em;
  margin-right: 0em;
}

#actionbar table, #navbuttons {
  border-top:    0.5pt solid black; /* medium gray */
  border-bottom: 0.5pt solid black;
  padding-top:    0.3ex;
  padding-bottom: 0.4ex;
  padding-left:  0.5em;
  padding-right: 0.5em;
}

.editdate {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top:    0.4ex;
  padding-bottom: 0.3ex;
  padding-left:  0.5em; 
  padding-right: 0.5em; 
  /* border-top: 0.5pt solid #666; * medium gray */
}

hr.ignore, hr.toolbar {
  height: 0;
  /* margin: -1ex; * Hack for Mozilla */
  /* Hack for ie and OmniWeb to hide this element */
  position: absolute;
  top: -80px;
}


/**
 * Edit Page & View Source
 */

/* Make the textarea the full page width */
textarea.wikiedit {
  width: 100%;
  border: 1px inset #838383;
  margin-top:    1ex;
  margin-bottom: 1ex;
  padding: 2px;
}

#editarea-size {
  margin-top: 1ex;
  text-align: right;
  font-size: smaller;
}

/* IncludePage plugin */
.transclusion-title {
  text-align: right;
  margin-right:  0.25em;
  margin-bottom: 0.15ex;
  font-style: oblique;
  font-size:  smaller;
  text-decoration: underline;
} 
.transclusion, .wiki-edithelp {
  background:    white;
  font-size:   smaller;
  padding-left:  0.5em;
  padding-right: 0.5em;
}
.transclusion {
  border-top:    solid 1px #dddddd;
  border-left:   solid 1px #c3c3c3;
  border-bottom: solid 1px #7d7d7d;
  border-right:  solid 1px #b5b5b5;
}
.wiki-edithelp {
  border-top:    solid 1px #dddddd;
  border-left:   solid 1px #c5c5c5;
  border-bottom: solid 1px #bdbdbd;
  border-right:  solid 1px #b5b5b5;
}
.wiki-edithelp .wiki {
  color: #5454ff;
}
.wiki-edithelp p {
  font-family: Arial, Helvetica, sans-serif;
  background: #eef;
  border-top:    solid 1px #aaaaaa;
  border-left:   solid 1px #c3c3c3;
  border-bottom: solid 1px #dddddd;
  border-right:  solid 1px #c5c5c5;
  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.25ex;
  padding-bottom: 0.25ex;
  margin-top:    1ex;
  margin-bottom: 1ex;
}


/**
 * Calendar plugin
 */
table.cal {
  border: thin outset gray;
  background: #ddd;
  padding: 1px;
  /* For Mozilla */
  empty-cells: hide;
} 

/* cells */
table.cal td {
  background: white;
  text-align: right;
} 

/* Month-name header */
table.cal-header { /* the html for this should really be in the thead */
  font-size: larger;
}
table.cal-header tr, table.cal-header td {
  text-align: center;
  background: black;
  color: white;
}
.cal-arrow {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

/* Day-names header */
table.cal tbody tr .cal-dayname { /* the html for this should really be in the thead */
  background: #eee;
  border-top:    1px solid gray;
  border-bottom: 1px solid gray;
}
.cal-dayname td {
  text-align: center;
  font-size: smaller;
  text-decoration: none;
}

/* Individual days */
a.cal-hide { text-decoration: none; }

/* Today */
 /* cell */
table.cal td.cal-today {
  background: inherit;
  border: 2px solid gray;
}
 /* text */
table.cal td.cal-today a.cal-hide {
  color: black;
}


/**
 * Diff Output
 */

/* main box */
.diff .block {
  background: #ccc;
  border-top:    1px solid black;
  border-bottom: 1px solid black;
  padding: 0.5ex 0.5em;
  margin:  0.5ex 0;
}

/* individual lines */
.diff .context { background: white; }

/* + - line prefix */
.diff .block tt	{
  font-weight: normal;
  font-family: monospace;
  margin-left: -.6em;
  color: #ffff00;
}

.diff del, .diff ins {
  font-weight: bold;
  text-decoration: none;
}
.diff .original, .diff .deleted { background: #fcc; }
.diff .final, .diff .added { background: #cfc; }

/* These don't work in NS4 -- it completely ignores <del> and <ins>. */
.diff del { background: #f99; }
.diff ins { background: #9f9; }


/**
 * PageHistory, Info
 */
td.pageinfo { font-weight: bold; }
.pageinfo-minoredit, .pageinfo-authorid {
  font-size: smaller;
  font-style: oblique;
}


/**
 * Other
 */
.printer { display: none; }

/* PHP Warnings */
div.errors {
  color: black;
  background: white;
  margin-top:    2em;
  margin-bottom: 2em;
  padding: 1ex;
  font-size: smaller;
  border: thin dashed red;
}
.errors h4 {
  color: red;
  background: inherit;
  margin:  0;
  padding: 0;
  text-decoration: underline;
}
.error { font-family: monospace; }
.error ul { font-family: monospace; }

/* Debug */
.debug {
  color: black;
  background: white;
  font-family: monospace;
  margin: 1ex 0;
  padding: 0.5ex 0.5em;
}


/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
