/**
 * $Id: phpwiki-heavy.css,v 1.5 2004/06/29 18:09:20 rurban Exp $
 *
 * This is stuff which should be in phpwiki.css, but which breaks Netscape 4.
 *
 * The use of these css functions are generally bad for NS4:
 * <ol>
 * <li> NS4 adds the equivalent of a <br> on inline elements with
 *      margins, padding and borders.
 * <li> Background colors are not applied properly to inline elements with
 *      padding. The resulting effect is visually like an "internal margin"
 *      rather than a padding.
 * <li> Specifying a color or background as "inherit" produces unpredictable
 *      results, often yielding a lime green color.
 * <li> Image alignment and text-alignment in css gives seemingly random and
 *      unpredictable positioning of the element on the page.
 * </ol>
 */

/* Hide the elements we put in just to get around NS4 bugs. */
div.br { display: none; }

/* This makes spacings in NS4 too big. */
.toolbar, div.toolbar { margin: 0.5ex 0ex; }

/* This breaks NS4, but is necessary for IE4. */
div.wikitext { width: auto; }


/**
 * General
 */
/* for NS4 */
img { vertical-align: baseline; }
input { margin: 0.1em; }
input.numeric { text-align: right; }


/**
 * Wiki Forms
 * 
 * The div inside the wikiadmin upload form does not
 * have a class yet, so it must be referenced indirectly
 */
/* div.wikiaction, div.wikiadmin { */
div.wikiaction, form.wikiadmin div {
  border-bottom: 1px solid #d8d8e7;
  border-right:  1px solid #d8d8e7;
  border-top:  1px solid #96a2ae;
  border-left: 1px solid #96a2ae;

  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
  padding: 0.5ex 0.5em;
  /* Emulate the display behaviour of a table, to shrink it's width.
   * ie5.1Mac ignores this */
  display: table;
}

/* Add space between the input field and following buttons, but not after the last button. */
div.wikiaction input[type=text], div.wikiadmin input[type=text], form.wikiadmin input[type=file] { margin-right: 0.5em; }


/**
 * Links
  border-top:  1px solid #b2b2d1;
  border-left: 1px solid #d2d2f1;
  border-bottom: 1px solid #86929e;
  border-right:  1px solid #86929e;
 */

/* Make wikiaction links look like buttons */ 
a.wikiaction, a.wikiadmin, a.wikiunsafe,
input.wikiaction, input.wikiadmin, input.wikiunsafe, input.button {
  color: black;
/*
  border-top:  1px solid #c6d2de;
  border-left: 1px solid #c6d2de;
  border-bottom: 1px solid #494f5d;
  border-right:  1px solid #494f5d;

  padding-top:    0.15ex;
  padding-bottom: 0.25ex;
  padding-left:  .5em;
  padding-right: .5em;
*/
  border: 1px outset;
  padding: 0.05ex 0.25em 0.1ex 0.25em;
  height: auto;
  width: auto;
/* These gecko-specific give CSS parse error: */
  -moz-appearance: none;
  -moz-box-sizing: content-box;
  -moz-border-radius: 1ex;
  /* Prevent buttons from overlapping when the toolbar is wrapped. */
  line-height: 2.6ex;
  /*margin: 2ex 0.2em;*/
}

div#navbuttons, div#signin, div#actionbuttons { line-height: 3.0ex; }

/* QuestionMark */
.wikiunknown a, .named-wikiunknown a {
  border-top:  1px solid #c6d2de;
  border-left: 1px solid #c6d2de;
  border-bottom: 1px solid #a2a2a2;
  border-right:  1px solid #a2a2a2;
  padding-left:  1px;
  padding-right: 1px;
  padding-top: 1px;
  margin-right: .15em;
}

/* Link icons */
img.linkicon { vertical-align: middle; }


/**
 * Edit Page & View Source
 */
/* color: inherit; and background: inherit; display as lime in NS4 */

/**
 * Diff Output
 */
.diff .prefix {
  position: relative;
  left: -1em;
}
/* deleted & added words */
.diff del, .diff ins {
  padding-left: 1px;
  padding-right: 1px;
}

/**
 * Other
 */
/* PHP Warnings */
div.errors { font-size: smaller }

