<section class="plugin-svn-wrapper">
    <h1>{{ title_list_repositories }}</h1>
    {{^list_repositories}}
        <h3><p> {{ no_repositories }}</p></h3>
    {{/list_repositories}}
    {{#has_respositories}}
        <p>
           <table class="table table-striped table-bordered">
                <thead>
                    <tr><th>{{ table_head_list_repository }}</th></tr>
                </thead>
                <tbody>
                    {{# list_repositories }}
                        <tr class="boxitem"><td><a href="{{ svn_plugin }}/?group_id={{ group_id }}&action=displayRepo&repo_id={{ getId }}">{{ getName }}</a></td></tr>
                    {{/ list_repositories }}
                </tbody>
            </table>
        </p>
    {{/has_respositories}}

    <h2>{{ title }}</h2>
    <p>
        <form
            name="svn-repo-creator" class="form-inline" method="POST"
            action="/plugins/svn/?group_id={{group_id}}&action=createRepo">
            {{{ csrf_input }}}
            <label for="repo_name" >{{ label_repository_name }}</label>
            <input type="text" name="repo_name" value="{{ repository_name }}" pattern="{{ validate_name }}" required />
            <input type="submit" name="repo_add" value="Create" class="btn btn-primary" />
            <p>{{ help_repository_name }}</p>
        </form>
    </p>
</section>