<div id="svn-repository">
    <div class="svn-repository-header">
        <h1 class="almost-tlp-title project-header-title">{{ repository_name }}</h1>

        <div id="svn-repository-url-bar">
            <div class="input-append">
                <input type="text" value="{{ svn_url }}" />
                <button id="toggle-svn-help" class="btn"><i class="fa fa-question-circle"></i></button>
            </div>
        </div>
    </div>

    <div id="svn-repository-viewvc" data-test="svn-repository-view">
        <div id="svn-repository-help">
            <div class="alert alert-info">
                <p>{{# dgettext }} tuleap-svn |Below is a typical command you would use to checkout the source code of this project.{{/ dgettext }}</p>
                <div class="svn-intro-command">
                    <pre>{{ help_command }}</pre>
                </div>
            </div>

            {{# max_file_size }}
                <p class="alert alert-info">{{# dgettext }} tuleap-svn |Site administrator defined a limit on allowed file size. One can no longer commit files bigger than %1$sMB|{{ max_file_size }}{{/ dgettext }}</p>
            {{/ max_file_size }}
        </div>

        {{# is_repository_created }}
            {{{ viewvc_html }}}
        {{/ is_repository_created }}
        {{^ is_repository_created }}
            <div class="alert alert-info svn-repository-not-created-yet">
                {{ repository_not_created }}
            </div>
        {{/ is_repository_created }}
    </div>
</div>
