<div id="svn-repository">
    <h2>{{ repository_name }}</h2>

    <div id="svn-repository-url-bar">
        <div class="input-prepend input-append">
            <span class="add-on"><i class="fa fa-globe"></i></span>
            <input type="text" value="{{ svn_url }}" />
            <button id="toggle-svn-help" class="btn"><i class="fa fa-question-circle"></i></button>
        </div>

        {{# is_user_admin }}
            <a href="{{ settings_url }}" class="btn">
                <i class="fa fa-cog"></i> {{ settings_button }}
            </a>
        {{/ is_user_admin }}
    </div>

    {{# is_repository_created }}
        <div id="svn-repository-help" class="alert alert-info">
            <p>{{ help_message }}</p>

            <div class="svn-intro-command">
                <pre>{{ help_command }}</pre>
            </div>
        </div>

        <div id="svn-repository-viewvc" data-test="svn-repository-view">
            {{{ viewvc_html }}}
        </div>
    {{/ is_repository_created }}

    {{^ is_repository_created }}
        <div class="alert alert-info">
            {{ repository_not_created }}
        </div>
    {{/ is_repository_created }}
</div>
