<h1 class="project-administration-title">{{ repository_name }}</h1>

<div class="svn-repository-header">
    <div class="tlp-form-element tlp-form-element-append">
        <input type="text"
               class="tlp-input svn-repository-url"
               value="{{ svn_url }}"
               readonly
               title="{{# dgettext }} tuleap-svn | Repository URL {{/ dgettext }}"
        >
        <button type="button" id="toggle-svn-help" class="tlp-button-secondary tlp-button-outline tlp-append">
            <i class="fa-solid fa-circle-question" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="tlp-framed">
    <div data-test="svn-repository-view">
        <div id="svn-repository-help" class="svn-repository-help" hidden>
            <div class="tlp-alert-info">
                <p>{{# dgettext }} tuleap-svn |Below is a typical command you would use to checkout the source code of this project.{{/ dgettext }}</p>
                <pre class="svn-intro-command">{{ help_command }}</pre>
            </div>

            {{# max_file_size }}
                <p class="tlp-alert-info">{{# dgettext }} tuleap-svn |Site administrator defined a limit on allowed file size. One can no longer commit files bigger than %1$sMB|{{ max_file_size }}{{/ dgettext }}</p>
            {{/ max_file_size }}
        </div>

        {{# is_repository_created }}
            {{{ viewvc_html }}}
        {{/ is_repository_created }}
        {{^ is_repository_created }}
            <div class="tlp-alert-info svn-repository-not-created-yet">
                {{ repository_not_created }}
            </div>
        {{/ is_repository_created }}
    </div>
</div>
