<?php
//
// CodeX: Breaking Down the Barriers to Source Code Sharing inside Xerox
// Copyright 1999-2000 (c) The SourceForge Crew
// Copyright (c) Xerox Corporation, CodeX, 2001-2004. All Rights Reserved
// http://codex.xerox.com
//
// $Id$
//
// CodeX Global Configuration File
//
// Really Important Safety Tip: --> DO NOT LEAVE ANY WHITE
// SPACE AFTER THE CLOSING PHP TAG AT THE END OF THIS FILE!
//
// Doing so will really confuse the software and cause
// 1) cookies to fail and 2) HTML page headers to fail
// which will give you some preally hard-to-debug problems.
// Why? PHP is a *pre-processor* -- anything that's not PHP gets
// emitted as part of the HTML stream and processed by the browser,
// so white space is meaningful!
//
//
// PART I - CodeX hostnames
//
// Hostnames should be fully qualified domain names (FQDNs); using short names
// would be prettier but would stop you from distributing your CodeX
// implementation across multiple domains.
//
// Of course, if you have a lot of machines serving a particular purpose
// such as FTP or for shell accounts, the "hostname" here might be in
// reality an addr_list of machines that is serviced by a round-robin
// mechanism or something fancy like a local-director.
//
// =============================================================
// The default CodeX domain
//
// this is used where ever the "naked" form of the CodeX domain
// might be used.  E.g., "mailto:admin@sourceforge.net"
// This is also used as the default name for the Web server using
// the standard http protocol (for https see below). You can also 
// define a specific port number (useful for test servers - default 80)
//
$sys_default_domain = "%sys_default_domain%";

// If your Apache server have SSL configured give here the name
// of the secure server. In most cases it will likely be the same
// as $sys_default_domain. However you can also use this variable
// to indicate a specific port for the https traffic (default 443)
$sys_https_host = "%sys_default_domain%";

// Machine that hosts CVS.
// Note that while this machine need not be the same as the CodeX host,
// the "cvsweb" interface currently must run on the CodeX host system.
// If this host is different from the CodeX host, then the CodeX host
// will need to be able to access the CVS file tree via NFS.
$sys_cvs_host = "cvs.%sys_default_domain%";
 
// Machine used for downloading sources/packages
$sys_download_host = "download.%sys_default_domain%";
 
// Machine(s) that host users' shell accounts
//  N.B. to the SourceForge Crew: What's the difference between the user
// host and the shell host?  They are clearly two different hostnames
// in the source code, but they seem to serve the same purpose..?
$sys_shell_host = "shell.%sys_default_domain%";
$sys_users_host = "users.%sys_default_domain%";
 
// Machine that hosts the mailing lists (This could also be
// the mail host if you have enough horsepower & bandwidth)
$sys_lists_host = "lists.%sys_default_domain%";
 
// Windows Workgroup CodeX belog to (Samba)
$sys_win_domain = "%sys_win_domain%";


// Part II - Databases, html/php/other paths
$sys_dbhost="localhost";
$sys_dbname="sourceforge";
$sys_dbuser="sourceforge";
$sys_dbpasswd="%sys_dbpasswd%";
$sys_server="mysql";
 
// Where files are placed when uploaded
$FTPINCOMING_DIR = "/home/ftp/incoming";

// Where the released files are located
$FTPFILES_DIR = "/home/ftp/codex";
 
// Where the SourceForge files are placed
// *** IMPORTANT: sys_urlroot *MUST* be an ABSOLUTE FILEYSTEM PATH NAME
//             that points to the www directory of the SourceForge
//             installation.  If you use ANY form of relative path
//             you will break the html_image function in include/html.php
//
$sys_urlroot="/home/httpd/SF/www/";
 
// Cache location -- this is needed by include/cache.php
// This directory must be world reachable, but writable only by the web-server
$sf_cache_dir = "/home/sfcache";
 
 
// Part III - GUI modifications (menu colors, etc.)
//    See the top of the file include/html.php, this is where the menu colors
//    and colors used throughout SourceForge are defined.
 
// Themeing related vars... Some of this needs to change in the session stuff
// The theme base directory, everything else is handled by theme_sysinit()
$sys_themeroot=$sys_urlroot."themes/";

// Specific to Xerox CodeX
//
// Number of hours between two runs of background scripts
$sys_crondelay=2;

//
// Group id corresponding to CodeX News group
// (was group 714 in SourceForge - sfnews)
$sys_news_group=46;

//
// LDAP server to query for more information on CodeX users
// (leave blank to disable LDAP lookup). If LDAP is defined
// then also define the distinguised name to use in LDAP queries
// the ldap filter is the filter to use to query the LDAP directory
// (%name% are substituted with the value from the user table)
$sys_ldap_server='%sys_ldap_server%';
$sys_ldap_dn='o=XEROX, c=US';
$sys_ldap_filter='mail=%email%';

//
// System name to be used in Web pages, documentation,etc.
$sys_name='CodeX';

//
// Company/Organization running the system (short and long)
$sys_org_name='%sys_org_name%';
$sys_long_org_name='%sys_long_org_name%';

//
// Fully qualified name
$sys_fullname="%sys_fullname%";

//
// Email address pointing to the CodeX site administrators
// for use Web pages, documentation,etc.
$sys_email_admin='codex-admin@%sys_default_domain%';

//
// Email address pointing to the CodeX contacts.
// for use Web pages, documentation,etc.
$sys_email_contact='codex-contact@%sys_default_domain%';

//
// Directory which hosts the site content
$sys_incdir='/home/httpd/site-content/';

//
// Default language for the system
$sys_lang='en_US';

//
// If set to 1 (one) the user can choose between
// secure and unsecure connection after login
// (checkbox on login page). If 0 she cannot choose.
// 
$sys_stay_in_ssl = 0;

//
// If set to 1 (one) it forces the server to operate
// HTTPS (SSL connection). HTTP request are redirected
// to HTTPS requests.
//
$sys_force_ssl = 0;

//
// If set to 1 (one) anonymous users can browse the
// public part of the site without logging in. If 0
// user must first login before going further.
//
$sys_allow_anon = 1;

//
// If set to 1 (one) the user registration must be approved by site 
// admin. If 0 user can register by themselves
$sys_user_approval = 0;

//
// Default theme
$sys_themedefault = 'codex';

//
//
// Max upload size for quick release, documentation, patch and code snippet.
// in bytes
// e.g. 12*1024*1024 for 12 MB
// Make sure that php.ini and mysql configuration file (/etc/my.cnf)
// are also configured to allow this size.
$sys_max_size_upload = 16*1024*1024;

//
// Max upload size for attachments (bugs, SR, artifacts, etc.)
// in bytes
$sys_max_size_attachment = 2*1024*1024;

//
// Show the project type
$sys_show_project_type = 0;

//
// Linefeed characters: \r\n for Windows, \n for Linux/Unix
$sys_lf = "\n";

//
// Use or not generic trackers
$sys_activate_tracker = 1;

//
// Project default privacy status (1 is public, 0 is private) 
$sys_is_project_public = 1;

// End of customizations -- place nothing after the closing PHP tag!
?>
