#
# Directives required for Gnu/Mailman.
#
# Configure to allow URLs for Pipermail archives
#
# $Id$
#
# -- CodeX Specific --
# This file assumes that Mailman is intalled in /home/mailman
#
Alias /pipermail/ "/home/mailman/archives/public/"
<Directory "/home/mailman/archives">
    Options FollowSymLinks
    Order allow,deny
    Allow from all
</Directory>
<Directory "/home/mailman/archives/public">
    Options FollowSymLinks Indexes 
    Order allow,deny
    Allow from all
</Directory>
<Directory "/home/mailman/archives/private">
    Order allow,deny
    Allow from all
</Directory>

#
# Give /home/mailman/cgi-bin permission to run CGI scripts
# Needed for any mailing list management functions performed directly
# by Mailman.
#
ScriptAlias /mailman/ "/home/mailman/cgi-bin/"
<Directory "/home/mailman/cgi-bin">
    AllowOverride None
    Options ExecCGI
    Order allow,deny
    Allow from all
</Directory>

#
# Configure to pick up Mailman jpeg files
#
Alias /MailmanImages/ "/home/mailman/MailmanImages/"
<Directory "/home/mailman/MailmanImages">
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>

#
# End Gnu/Mailman directives
#
