#
# PHP is an HTML-embedded scripting language which attempts to make it
# easy for developers to write dynamically generated webpages.
#

LoadModule php4_module modules/libphp4.so

#
# Cause the PHP interpreter handle files with a .php extension.
# CodeX: also handles php3 legacy scripts
#
<Files *.php?>
    SetOutputFilter PHP
    SetInputFilter PHP
    LimitRequestBody 0
</Files>

#
# Add index.php to the list of files that will be served as directory
# indexes.
#
#DirectoryIndex index.php
AddType application/x-httpd-php .php
AddType application/x-httpd-php .class

# PHP variables
php_value register_globals on
php_value include_path "/home/httpd/SF/www/include:/home/httpd/SF:."
php_value memory_limit 30M
php_value post_max_size 20M
php_value upload_max_file_size 20M
php_value upload_tmp_dir /home/large_tmp

# For phpwiki
php_value allow_call_time_pass_reference on

# Debugging
#php_value display_errors on
#php_value error_reporting "E_ALL & ~E_NOTICE"

