<div id="account-handler" class="row-fluid">
    <div id="account-maintenance" class="span7">
        <ul class="nav nav-tabs">
        {{# tabs }}
            <li {{# is_active }}class="active"{{/ is_active }}><a href="{{ href }}">{{ label }}</a></li>
        {{/ tabs }}
        </ul>

        {{> info }}
        {{> shell }}
        {{> details }}
        {{> third-party-applications }}
        {{{ user_legal }}}
    </div>

    <div id="account-preferences" class="span5">
        {{> preferences }}
    </div>
</div>
