<div id="account-handler" class="row-fluid">
    <div id="account-maintenance" class="span7">
        {{> info }}
        {{> shell }}
        {{> svn-tokens }}
        {{> access-keys }}
        {{> details }}
        {{> third-party-applications }}
        {{{ user_legal }}}
    </div>

    <div id="account-preferences" class="span5">
        {{> preferences }}
    </div>
</div>
