<h2>{{# gettext }}Change email address{{/ gettext}}</h2>

<p>{{# gettext }}Changing your email address will require confirmation from your new email address, so that we can ensure we have a good email address on file.{{/ gettext }}</p>

<p>{{# gettext }}Submitting the form below will mail a confirmation URL to the new email address. Visiting this link will complete the email change.{{/ gettext }}</p>

<form action="change_email-confirm.php" method="post" class="form-inline">
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    {{# gettext }}New email address:{{/ gettext }} <input type="text" size="30" name="form_newemail" />
    <input class="btn btn-primary" type="submit" name="Send Confirmation to New Address" value="{{# gettext }}Send confirmation to new address{{/ gettext }}">
</form>

<p>
    <a href="/">{{# gettext }}back to home page{{/ gettext }}</a>
</p>
