<h2>{{# gettext }}Email change complete{{/ gettext}}</h2>

<p>{{# gettext }}Welcome, %s.| {{ realname }}{{/ gettext }}</p>

<p>{{# gettext }}Your email change is complete. Your new email address is <strong>%s</strong>. | {{ email }}{{/ gettext}}</p>

<p>
    <a href="/">{{# gettext }}back to home page{{/ gettext }}</a>
</p>
