<div id="account-shell">
    <h3 class="account-title">
        <i class="fa fa-terminal"></i> {{ shell_account_title }}
        <a href="javascript:help_window('/doc/{{ user_language }}/user-guide/citizen.html#account-maintenance')">
            <i class="fa fa-question-circle help-button"></i>
        </a>
    </h3>

    {{{ ssh_keys_extra_html }}}
</div>
