<div id="ssh-keys-modal"
     class="modal hide fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true"
>
    <div class="modal-header">
        <h3>Add SSH keys</h3>
    </div>

    <form action="editsshkeys.php" method="post">
        <div class="modal-body">
            <textarea rows="10" cols="60" name="form_authorized_keys"></textarea>
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <input type="submit" class="btn btn-primary" name="submit" value="Save changes">
        </div>
    </form>

</div>