<div id="ssh-keys-modal"
     class="modal hide fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="ssh-keys-modal-title"
     aria-hidden="true"
>
    <div class="modal-header">
        <h3><i class="fa fa-terminal"></i> <span id="ssh-keys-modal-title">{{ add_keys_modal_title }}</span></h3>
    </div>

    <form action="editsshkeys.php" method="post">
        <div class="modal-body">
            <textarea rows="10" cols="60" name="form_authorized_keys"></textarea>
            {{{ csrf_input_html }}}
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ btn_close_label }}</button>
            <input type="submit" class="btn btn-primary" name="add-keys" value="{{ btn_save_keys_label }}">
        </div>
    </form>
</div>
