<div id="svn-tokens-generate-modal"
    class="modal hide fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="svn-tokens-generate-modal-title"
    aria-hidden="true"
>
    <div class="modal-header">
        <h3><i class="fa fa-tlp-versioning-svn"></i><span id="svn-tokens-generate-modal-title">{{ generate_svn_token_modal_title }}</span></h3>
    </div>

    <form action="manage_svn_tokens.php" method="post">
        <div class="modal-body">
            <p>{{ generate_svn_token_modal_button_help }}</p>

            <label for="generate-svn-token-comment">{{ generate_svn_token_modal_button_comment_label }}</label>
            <textarea id="generate-svn-token-comment" name="generate-svn-token-comment" rows="5" placeholder="{{ generate_svn_token_modal_button_comment_placeholder }}"></textarea>
            {{{ csrf_input_html }}}
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ btn_close_label }}</button>
            <input type="submit" class="btn btn-primary" name="generate-svn-token" value="{{ generate_svn_token_modal_button }}">
        </div>
    </form>
</div>
