<div id="account-third-party-applications">
    <h3 class="account-title"><i class="fa fa-circle-o"></i> {{ third_party_applications_title }}</h3>

    {{{ third_party_applications_content }}}
</div>
