<div id="account_third_party_applications">
    <h3 class="account-title"><i class="icon-circle-blank"></i> {{ third_party_applications_title }}</h3>

    <ul>
        {{{ third_party_applications_content }}}
    </ul>
</div>
