<form
    class="nav-form"
    action="/account/logout"
    method="POST"
>
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <button
        class="nav-form-button"
        type="submit"
        title="{{ label }}"
        data-test="user_logout"
    >
        <i class="fa fa-power-off nav-form-button-icon"></i>
    </button>
</form>
