<a href="{{ link }}"
    class="nav-link {{ additional_classes }}"
    title="{{ label }}"
    {{# additional_attributes }} {{ . }}{{/ additional_attributes }}
>
    <i class="{{ icon }} nav-link-icon"></i>
    <span class="nav-link-text">{{ label }}</span>
</a>
