<div
    id="siteadmin-add-permission-modal"
    class="tlp-modal"
    role="dialog"
    aria-labelledby="siteadmin-admindelegation-add-permission"
>
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="siteadmin-admindelegation-add-permission">
            <i class="fa fa-plus tlp-modal-title-icon"></i> {{ add_grant_permission }}
        </h1>
        <div
            class="tlp-modal-close"
            tabindex="0"
            role="button"
            data-dismiss="modal"
            aria-label="Close"
        >&times;</div>
    </div>
    <form method="post" action="?func=grant_user_service">
        <div class="tlp-modal-body">
            <div class="tlp-form-element">
                <label class="tlp-label" for="service">{{ label_grant_permission }} <i class="fa fa-asterisk"></i></label>
                <select class="tlp-select" id="service" name="service">
                    {{# services }}
                        <option value="{{ id }}">{{ label }}</option>
                    {{/ services }}
                </select>
            </div>
            <div class="tlp-form-element">
                <label class="tlp-label" for="permission-delegation-add-user">{{ label_username }} <i class="fa fa-asterisk"></i></label>
                <div class="tlp-form-element tlp-form-element-prepend">
                    <span class="tlp-prepend"><i class="fa fa-user"></i></span>
                    <select class="tlp-select"
                            id="permission-delegation-add-user"
                            name="user_to_grant"
                            data-placeholder="Paul"></select>
                </div>
            </div>
        </div>
        <div class="tlp-modal-footer">
            <button type="button" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">{{ cancel_grant_permission }}</button>
            <button type="submit" class="tlp-button-primary tlp-modal-action"><i class="fa fa-plus tlp-button-icon"></i> {{ add_grant_permission }}</button>
        </div>
    </form>
</div>
