Alias /plugins/phpwiki/themes "/usr/share/phpwiki-tuleap/themes"
<Directory "/usr/share/phpwiki-tuleap/themes">
    Options None
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>
Alias /plugins/phpwiki/highlight.js "/usr/share/phpwiki-tuleap/highlight.js"
<Directory "/usr/share/phpwiki-tuleap/highlight.js">
    Options None
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>