<h1 class="artidoc-header-title">{{ title }}</h1>
<div class="artidoc-container">
    <div class="artidoc-mountpoint"
         id="artidoc-mountpoint"
         data-item-id="{{ item_id }}"
         data-can-user-edit-document="{{ can_user_edit_document }}"
         data-selected-tracker="{{ selected_tracker }}"
    ></div>
</div>
