[access]
	inheritFrom = tuleap-localhost-AlmAcl
[project]
	state = active
[access "refs/tags/*"]
	read = group Registered Users
	read = group mozilla/project_members
	pushTag = group mozilla/project_members
	read = group mozilla/another_ugroup
	pushTag = group mozilla/another_ugroup
[access "refs/heads/*"]
	read = group Registered Users
	label-Code-Review = -1..+1 group Registered Users
	read = group mozilla/project_members
	create = group mozilla/project_members
	forgeAuthor = group mozilla/project_members
	label-Code-Review = -2..+2 group mozilla/project_members
	label-Verified = -1..+1 group mozilla/project_members
	submit = group mozilla/project_members
	push = group mozilla/project_members
	pushMerge = group mozilla/project_members
	read = group mozilla/another_ugroup
	create = group mozilla/another_ugroup
	forgeAuthor = group mozilla/another_ugroup
	label-Code-Review = -2..+2 group mozilla/another_ugroup
	label-Verified = -1..+1 group mozilla/another_ugroup
	submit = group mozilla/another_ugroup
	push = group mozilla/another_ugroup
	pushMerge = group mozilla/another_ugroup
	push = +force group mozilla/project_admins
[access "refs/*"]
	read = group tuleap.example.com-replication
[access "refs/for/refs/heads/*"]
	push = group Registered Users
	push = group mozilla/project_members
	pushMerge = group mozilla/project_members
	push = group mozilla/another_ugroup
	pushMerge = group mozilla/another_ugroup
