
module cvs 1.0.1;

require {
	type cvs_t;
        type cvs_data_t;
        type file_t;
        type httpd_t;
        type http_cache_port_t;
        type http_port_t;
        type httpd_sys_content_t;
        type lib_t;
        type mysqld_t;
        type mysqld_db_t;
        type mysqld_etc_t;
        type mysqld_port_t;
        type mysqld_var_run_t;
        type user_home_t;
        type user_home_dir_t;
        type usr_t;
        type var_lib_t;
        type var_lock_t;
        type var_log_t;
	class dir { search read create write getattr rmdir remove_name add_name };
	class file { append read create unlink getattr execute_no_trans ioctl };
        class lnk_file read;
        class sock_file write;
        class tcp_socket name_connect;
        class unix_stream_socket connectto;
}

#============= cvs_t ==============
allow cvs_t file_t:dir search;
allow cvs_t http_cache_port_t:tcp_socket name_connect;
allow cvs_t http_port_t:tcp_socket name_connect;
allow cvs_t httpd_sys_content_t:dir { read search };
allow cvs_t httpd_sys_content_t:file { read getattr ioctl };
allow cvs_t httpd_sys_content_t:lnk_file read;
allow cvs_t lib_t:file execute_no_trans;
allow cvs_t mysqld_db_t:dir search;
allow cvs_t mysqld_db_t:lnk_file read;
allow cvs_t mysqld_etc_t:file { read getattr };
allow cvs_t mysqld_port_t:tcp_socket name_connect;
allow cvs_t mysqld_t:unix_stream_socket connectto;
allow cvs_t mysqld_var_run_t:sock_file write;
allow cvs_t user_home_dir_t:dir search;
allow cvs_t user_home_t:dir search;
allow cvs_t usr_t:file { read getattr ioctl };
allow cvs_t usr_t:lnk_file read;
allow cvs_t var_lib_t:dir search;
allow cvs_t var_lock_t:dir { search read create write getattr rmdir remove_name add_name };
allow cvs_t var_lock_t:file { create unlink };
allow cvs_t var_log_t:dir search;
allow cvs_t var_log_t:file { ioctl getattr append };
allow httpd_t cvs_data_t:dir { getattr search };
allow httpd_t cvs_data_t:lnk_file read;



