
module mailman 1.0;

require {
	type mailman_mail_t;
        type mailman_archive_t;
	type lib_t;
	class dir { write remove_name search add_name getattr };
        class file { read create getattr append };
        class capability { kill sys_tty_config };

}

#============= mailman_mail_t ==============
allow mailman_mail_t lib_t:dir { write remove_name };
allow mailman_mail_t self:capability { kill sys_tty_config };
allow mailman_mail_t mailman_archive_t:dir { write search add_name getattr };
allow mailman_mail_t mailman_archive_t:file { read create getattr append };

