
module tmp7 1.0;

require {
	type mailman_mail_t;
	type semanage_t;
	type mysqld_var_run_t;
	type usr_t;
	type mysqld_t;
	type user_home_dir_t;
	type system_dbusd_t;
	type nscd_t;
	type mysqld_etc_t;
	type mysqld_db_t;
	type logwatch_t;
	class sock_file write;
	class unix_stream_socket connectto;
	class capability { dac_read_search dac_override };
	class file { read getattr };
	class dir { search getattr };
}

#============= logwatch_t ==============
allow logwatch_t user_home_dir_t:dir getattr;

#============= mailman_mail_t ==============
allow mailman_mail_t mysqld_db_t:dir search;
allow mailman_mail_t mysqld_etc_t:file getattr;

#============= nscd_t ==============
allow nscd_t mysqld_db_t:dir search;
allow nscd_t mysqld_etc_t:file { read getattr };
allow nscd_t mysqld_t:unix_stream_socket connectto;
allow nscd_t mysqld_var_run_t:sock_file write;
allow nscd_t self:capability { dac_read_search dac_override };
allow nscd_t usr_t:file { read getattr };

#============= semanage_t ==============
allow semanage_t mysqld_t:unix_stream_socket connectto;
allow semanage_t mysqld_var_run_t:sock_file write;

#============= system_dbusd_t ==============
allow system_dbusd_t mysqld_db_t:dir search;
allow system_dbusd_t mysqld_etc_t:file getattr;
