
module others 1.1;

require {
	type avahi_t;
	type crond_t;
	type cvs_exec_t;
	type cvs_t;
	type file_t;
        type fs_t;
        type ftpd_t;
	type hplip_t;
        type httpd_log_t;
        type httpd_sys_content_t;
	type httpd_sys_script_t;
	type httpd_t;
	type initrc_t;
	type java_exec_t;
        type iso9660_t;
	type logwatch_t;
        type ls_exec_t;
	type mailman_cgi_t;
	type mailman_mail_t;
	type mysqld_db_t;
	type mysqld_etc_t;
	type mysqld_t;
	type mysqld_var_run_t;
	type nscd_t;
	type port_t;
	type procmail_t;
	type restorecon_t;
	type semanage_t;
	type setroubleshootd_t;
	type system_dbusd_t;
	type system_mail_t;
	type tmp_t;
	type unconfined_t;
	type updpwd_t;
	type user_home_dir_t;
	type usr_t;
	type var_log_t;
	type var_spool_t;
        type webalizer_t;
	type xfs_t;
	class capability { dac_read_search dac_override };
	class dir { write search getattr add_name remove_name };
	class fifo_file read;
	class file { write getattr execute_no_trans read create execute append ioctl };
	class filesystem associate;
	class lnk_file read;
	class process signull;
	class sock_file write;
	class tcp_socket name_connect;
	class unix_dgram_socket create;
	class unix_stream_socket { read write connectto };
}

#============= avahi_t ==============
allow avahi_t initrc_t:unix_stream_socket connectto;

#============= ftpd_t ==============
allow ftpd_t mysqld_t:unix_stream_socket connectto;

#============= hplip_t ==============
allow hplip_t initrc_t:unix_stream_socket connectto;

#============= httpd_sys_script_t ==============
allow httpd_sys_script_t file_t:dir search;
allow httpd_sys_script_t initrc_t:unix_stream_socket connectto;
allow httpd_sys_script_t mysqld_db_t:lnk_file read;
allow httpd_sys_script_t mysqld_etc_t:file { read getattr };
allow httpd_sys_script_t self:unix_dgram_socket create;
allow httpd_sys_script_t tmp_t:file { write ioctl getattr append };
allow httpd_sys_script_t usr_t:dir { write add_name remove_name};
allow httpd_sys_script_t usr_t:file { create execute execute_no_trans write };
allow httpd_sys_script_t var_log_t:dir write;
allow httpd_sys_script_t var_log_t:file append;

#============= httpd_t ==============
allow httpd_t crond_t:unix_stream_socket { read write };
allow httpd_t cvs_exec_t:file { read execute getattr execute_no_trans };
allow httpd_t initrc_t:unix_stream_socket { connectto read write };
allow httpd_t file_t:dir { search getattr };
allow httpd_t file_t:file getattr;
allow httpd_t httpd_log_t:file write;
allow httpd_t java_exec_t:file getattr;
allow httpd_t ls_exec_t:file { read execute getattr execute_no_trans };
allow httpd_t mysqld_etc_t:file { read getattr };
allow httpd_t mysqld_db_t:lnk_file read;
allow httpd_t tmp_t:file { read getattr write };
allow httpd_t unconfined_t:unix_stream_socket { read write };

#============= iso9660_t ==============
allow iso9660_t fs_t:filesystem associate;

#============= logwatch_t ==============
allow logwatch_t user_home_dir_t:dir getattr;

#============= mailman_cgi_t ==============
allow mailman_cgi_t initrc_t:unix_stream_socket connectto;

#============= mailman_mail_t ==============
allow mailman_mail_t initrc_t:unix_stream_socket connectto;
allow mailman_mail_t mysqld_db_t:dir search;
allow mailman_mail_t mysqld_db_t:sock_file write;
allow mailman_mail_t mysqld_etc_t:file { read getattr };
allow mailman_mail_t mysqld_t:unix_stream_socket connectto;
allow mailman_mail_t mysqld_var_run_t:sock_file write;
allow mailman_mail_t usr_t:file getattr;

#============= mysqld_t ==============
allow mysqld_t crond_t:unix_stream_socket { read write };
allow mysqld_t file_t:dir { getattr search };
allow mysqld_t port_t:tcp_socket name_connect;
allow mysqld_t initrc_t:unix_stream_socket connectto;

#============= nscd_t ==============
allow nscd_t initrc_t:process signull;
allow nscd_t initrc_t:unix_stream_socket connectto;
allow nscd_t mysqld_db_t:dir search;
allow nscd_t mysqld_etc_t:file { read getattr };
allow nscd_t mysqld_t:unix_stream_socket connectto;
allow nscd_t mysqld_var_run_t:sock_file write;
allow nscd_t self:capability { dac_read_search dac_override };
allow nscd_t usr_t:file { read getattr };

#============= procmail_t ==============
allow procmail_t file_t:dir search;
allow procmail_t httpd_sys_content_t:dir search;
allow procmail_t initrc_t:unix_stream_socket connectto;
allow procmail_t mysqld_db_t:dir search;
allow procmail_t mysqld_db_t:lnk_file read;
allow procmail_t mysqld_etc_t:file { read getattr };
allow procmail_t mysqld_t:unix_stream_socket connectto;
allow procmail_t mysqld_var_run_t:sock_file write;

#============= restorecon_t ==============
allow restorecon_t crond_t:fifo_file read;
allow restorecon_t crond_t:unix_stream_socket { read write };

#============= semanage_t ==============
allow semanage_t httpd_sys_content_t:lnk_file read;
allow semanage_t initrc_t:unix_stream_socket connectto;
allow semanage_t mysqld_db_t:sock_file write;
allow semanage_t mysqld_db_t:lnk_file read;
allow semanage_t mysqld_t:unix_stream_socket connectto;
allow semanage_t mysqld_var_run_t:sock_file write;
allow semanage_t unconfined_t:unix_stream_socket connectto;

#============= setroubleshootd_t ==============
allow setroubleshootd_t initrc_t:unix_stream_socket connectto;

#============= system_dbusd_t ==============
allow system_dbusd_t initrc_t:unix_stream_socket connectto;
allow system_dbusd_t mysqld_db_t:dir search;
allow system_dbusd_t mysqld_etc_t:file { read getattr };
allow system_dbusd_t unconfined_t:unix_stream_socket connectto;

#============= system_mail_t ==============
allow system_mail_t crond_t:unix_stream_socket { read write };
allow system_mail_t cvs_t:unix_stream_socket { read write };
allow system_mail_t httpd_t:file read;
allow system_mail_t initrc_t:unix_stream_socket connectto;
allow system_mail_t mysqld_db_t:lnk_file read;
allow system_mail_t mysqld_etc_t:file getattr;
allow system_mail_t tmp_t:file write;

#============= updpwd_t ==============
allow updpwd_t mysqld_db_t:lnk_file read;
allow updpwd_t mysqld_etc_t:file getattr;
allow updpwd_t var_spool_t:dir search;

#============= webalizer_t ==============
allow webalizer_t crond_t:unix_stream_socket { read write };
allow webalizer_t initrc_t:unix_stream_socket connectto;

#============= xfs_t ==============
allow xfs_t initrc_t:unix_stream_socket connectto;
allow xfs_t mysqld_db_t:dir search;
allow xfs_t mysqld_etc_t:file { read getattr };
allow xfs_t mysqld_var_run_t:sock_file write;
