
module vsftpd 1.0;

require {
	type ftpd_t;
	type home_root_t;
	type httpd_sys_content_t;
	class file read;
	class dir { read search };
}

#============= ftpd_t ==============
allow ftpd_t home_root_t:dir search;
allow ftpd_t httpd_sys_content_t:dir { read search };
allow ftpd_t httpd_sys_content_t:file read;
