.dashboard-user-title {
    display: flex;
    align-items: center;
    margin: 0 0 $tlp-spacing;
}

.dashboard-user-title-name {
    margin: 0 0 0 $tlp-half-spacing;
    color: $tlp-theme-color;
    font-size: 30px;
    font-weight: 300;
    line-height: 26px;
}

.dashboard-user-title-login {
    display: block;
    margin: 2px 0 0;
    font-size: 16px;
}
