.dashboard-user-title {
    display: flex;
    align-items: center;
}

.user-my-realname {
    margin: 0 0 0 $tlp-half-spacing;
    color: $tlp-theme-color;
    font-size: 40px;
    font-weight: 300;
}

.user-my-login {
    display: block;
    margin: 0;
    font-size: 20px;
}

#add-dashboard-button {
    margin: 11px 0 11px $tlp-double-spacing;

    &:first-child {
        margin: 11px 0;
    }
}

.dashboard-edit-button {
    display: none;
    margin: -5px 0 -5px $tlp-spacing;
}

.dashboard-delete-button {
    display: none;
    margin: -5px 0 -5px $tlp-half-spacing;
}

.user-dashboards > .tlp-tab-active:hover {
    > .dashboard-edit-button,
    > .dashboard-delete-button {
        display: block;
    }
}
