.user-my-realname {
    color: $tlp-theme-color;
    font-size: 40px;
    font-weight: 300;
}

.user-my-login {
    display: block;
    font-size: 20px;
}

.user-dashboards a:nth-last-child(2) {
    margin: 0 40px 0 0;
}
