.trove-cats-general-property {
    display: flex;
    margin: 0 0 $tlp-spacing;
}

.trove-cats-general-property-column {
    width: 100%;

    &:first-child {
        margin: 0 $tlp-half-spacing 0 0;
    }

    &:last-child {
        margin: 0 0 0 $tlp-half-spacing;
    }

    &:only-child {
        margin: 0;
    }
}

.trove-cats-np-max-values-input {
    width: 60px;
}

.tlp-table-cell-actions-button {
    margin: -5px 0 -3px 5px;
}

.trove-cats-modal-edit {
    text-align: left;
}

.trove-cats-checkbox-modal-edit {
    line-height: 14px;
}

.trove-cats-modal-action {
    text-align: left;
}

.trove-cats-option-hidden {
    display: none;
}

.trove-cats-project-flag-column {
    white-space: nowrap;
    text-align: center;
}
