// scss-lint:disable QualifyingElement
[data-scrollbar] .scrollbar-track-y,
[scrollbar] .scrollbar-track-y,
scrollbar .scrollbar-track-y {
    width: 10px;
}

// scss-lint:disable QualifyingElement
[data-scrollbar].sticky .scrollbar-track,
[scrollbar].sticky .scrollbar-track,
scrollbar.sticky .scrollbar-track {
    background: none;

    .scrollbar-thumb {
        width: 9px;
        border-radius: 0;
        background: lighten($tlp-theme-sidebar-background-color, 13%);
    }
}
