{{# is_empty }}
    {{# there_is_error }}
        <div class="tlp-alert-danger">
            {{ error_message }}
        </div>
    {{/ there_is_error }}
    <div class="empty-pane">
        <i class="fa fa-columns empty-pane-icon widget-kanban-empty-icon"></i>
        <p class="empty-pane-text">{{{ purified_empty_state }}}</p>
    </div>
{{/ is_empty }}
{{^ is_empty }}
    {{# kanban_presenter }}
        <div class="widget-kanban"
             ng-controller="MainCtrl"
        >
            <div class="kanban-init-data" ng-non-bindable
                 data-user-id="{{ user_id }}"
                 data-kanban="{{ kanban_representation }}"
                 data-dashboard-dropdown="{{ dashboard_dropdown_representation }}"
                 data-user-is-admin="{{ user_is_kanban_admin }}"
                 data-widget-id="{{ widget_id }}"
                 data-project-id="{{ project_id }}"
                 data-view-mode="{{ view_mode }}"
                 data-kanban-url="{{ kanban_url }}"
                 data-tracker-reports="{{ tracker_reports }}"
                 data-language="{{ language }}"
                 data-nodejs-server="{{ nodejs_server }}"
                 data-user-accessibility-mode="{{ user_accessibility_mode }}"
            ></div>
            <kanban class="kanban widget-context"></kanban>
        </div>
    {{/ kanban_presenter }}
{{/ is_empty }}
