<h1 class="project-administration-title">
    {{ thread_name }}
</h1>

<div class="tlp-framed">
    {{# messages }}
        <div class="forumml-thread-message" id="message-{{ id }}">
            <div class="forumml-thread-message-avatar tlp-avatar-large">
                {{# has_avatar }}
                    <img src="{{ avatar_url }}"
                         alt="{{# dgettext }}tuleap-forumml | Avatar of %s | {{ user_name}}{{/dgettext}}">
                {{/ has_avatar }}
            </div>
            <div class="tlp-card forumml-thread-message-card">
                <div class="forumml-thread-message-card-header">
                    <p class="forumml-thread-message-sender">
                        <a href="#message-{{ id }}"
                           title="{{# dgettext }}tuleap-forumml | Permalink{{/ dgettext }}"
                           class="forumml-thread-message-permalink"
                        ><i class="fas fa-link" aria-hidden="true"></i></a>
                        {{ user_name }}, {{# date }}{{> tlp_relative_date }}{{/ date }}
                    </p>
                    <div class="tlp-dropdown">
                        <i class="fas fa-cog fa-fw forumml-thread-message-action" aria-hidden="true"></i>
                        <div class="tlp-dropdown-menu tlp-dropdown-menu-on-icon" role="menu">
                            <div class="tlp-dropdown-menu-item forumml-thread-message-action-item" role="menuitem">
                                <label class="tlp-label forumml-thread-message-action-item-label" for="monospace-{{ id }}">
                                    {{# dgettext}}tuleap-forumml | Monospaced font{{/ dgettext }}
                                </label>
                                <div class="tlp-form-element">
                                    <div class="tlp-switch tlp-switch-mini">
                                        <input
                                            type="checkbox"
                                            id="monospace-{{ id }}"
                                            class="tlp-switch-checkbox forumml-thread-message-action-monospace"
                                            data-target="forumml-thread-message-body-{{ id }}"
                                            autocomplete="off">
                                        <label for="monospace-{{ id }}" class="tlp-switch-button">
                                            {{# dgettext}}tuleap-forumml | Monospaced font{{/ dgettext }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="forumml-thread-message-body" id="forumml-thread-message-body-{{ id }}">
                    {{{ body_html }}}
                </div>

                {{# has_at_least_one_attachment }}
                    <div class="forumml-thread-message-attachments">
                        <i class="fas fa-paperclip forumml-thread-message-attachments-icon" aria-hidden="true"></i>
                        {{# attachments }}
                            <a href="{{ url }}">{{ file_name }}</a><!--
                            --><span class="forumml-thread-message-attachments-separator">, </span>
                        {{/ attachments }}
                    </div>
                {{/ has_at_least_one_attachment }}
            </div>
        </div>
    {{/ messages }}
</div>
