<h1 class="project-administration-title">
    {{ list_name }}
</h1>

<div class="tlp-alert-warning forumml-deprecation-warning">
    <i class="fa fa-power-off"></i>
    {{# dgettext }}
        tuleap-forumml |
        This plugin will be removed in september 2023
    {{/dgettext}}
</div>

<div class="tlp-framed">
    {{# is_empty_state }}
        {{> threads-empty-state }}
    {{/ is_empty_state }}

    {{^ is_empty_state }}
        <div class="forumml-thread-list">
            <section class="tlp-pane">
                <div class="tlp-pane-container">
                    <div class="tlp-pane-header">
                        <h1 class="tlp-pane-title">
                            {{# search }}
                                <i class="fas fa-search tlp-pane-title-icon" aria-hidden="true"></i>
                                {{# dgettext }}
                                    tuleap-forumml |
                                    Search results for '%1$s' |
                                    {{ search }}
                                {{/dgettext}}
                            {{/ search }}
                            {{^ search }}
                                <i class="fas fa-comments tlp-pane-title-icon" aria-hidden="true"></i>
                                {{# dgettext }}tuleap-forumml | Threads{{/dgettext}}
                            {{/ search }}
                        </h1>
                    </div>
                    {{# post_thread_url }}
                        <section class="tlp-pane-section">
                            <button
                                type="button"
                                id="forumml-post-new-thread-button"
                                data-target-modal-id="forumml-post-new-thread-modal"
                                class="tlp-button-primary"
                            >
                                <i class="fas fa-plus tlp-button-icon" aria-hidden="true"></i>
                                {{# dgettext }}tuleap-forumml | Post a new thread{{/ dgettext }}
                            </button>
                        </section>
                    {{/ post_thread_url }}
                    {{^ nb_threads }}
                        <section class="forumml-thread-list-no-match">
                            {{# dgettext }}tuleap-forumml | There aren't any threads matching your query.{{/ dgettext }}
                        </section>
                    {{/ nb_threads }}
                    {{# nb_threads }}
                        <section class="tlp-pane-section-for-cards">
                            {{# threads }}
                                <a class="tlp-card tlp-card-selectable" href="{{ url }}">
                                    <div class="forumml-thread-list-entry-main">
                                        <span class="forumml-thread-list-entry-title">
                                            {{ subject }}
                                        </span>
                                        <span class="tlp-badge-primary tlp-badge-outline forumml-thread-list-entry-nb-replies"
                                              title="{{# dgettext }}tuleap-forumml | %s replies | {{ nb_replies }}{{/dgettext}}"
                                        >{{ nb_replies }}</span>
                                    </div>
                                    <div class="forumml-thread-list-entry-metadata">
                                        <span class="tlp-avatar-mini forumml-thread-list-entry-metadata-avatar">
                                            {{# has_avatar }}
                                                <img src="{{ avatar_url }}" alt="{{# gettext }}User avatar{{/ gettext }}">
                                            {{/ has_avatar }}
                                        </span>
                                        <span>
                                            {{ sender }},
                                            {{# created_on }}
                                                <tlp-relative-date
                                                    date="{{ date }}"
                                                    absolute-date="{{ absolute_date }}"
                                                    placement="{{ placement }}"
                                                    preference="{{ preference }}"
                                                    locale="{{ locale }}"
                                                >{{ absolute_date }}</tlp-relative-date>
                                            {{/ created_on }}
                                        </span>
                                    </div>
                                </a>
                            {{/ threads }}
                        </section>
                    {{/ nb_threads }}
                </div>
            </section>

            {{# pagination }}
                {{> pagination }}
            {{/ pagination }}
        </div>
    {{/ is_empty_state }}

    {{> new-thread-modal }}
</div>
