SetEnv GIT_PROJECT_ROOT /var/lib/tuleap/gitolite/repositories
SetEnv GIT_HTTP_EXPORT_ALL
SetEnv GITOLITE_HTTP_HOME /var/lib/gitolite
SetEnv GIT_HTTP_BACKEND /usr/libexec/git-core/git-http-backend
ScriptAlias /git/ /usr/lib/tuleap/bin/gitolite3-suexec-wrapper.sh/

 <Location /git>
        AuthType Basic
        AuthName "Private Git Access"
        Require valid-user

        AuthMYSQLEnable on
        AuthMySQLUser dbauthuser
        AuthMySQLPassword $DBAUTH_PASS
        AuthMySQLHost $DB_HOST
        AuthMySQLDB tuleap
        AuthMySQLUserTable "user"
        AuthMySQLNameField user.user_name
        AuthMySQLPasswordField user.unix_pw
        AuthMySQLUserCondition "user.status IN ('A', 'R')"
 </Location>
