SetEnv GIT_PROJECT_ROOT /var/lib/codendi/gitolite/repositories
SetEnv GIT_HTTP_EXPORT_ALL
SetEnv GITOLITE_HTTP_HOME /usr/com/gitolite
SetEnv GIT_HTTP_BACKEND /usr/bin/git-http-backend
ScriptAlias /git/ /usr/lib/codendi/bin/gitolite-suexec-wrapper.sh/

 <Location /git>
        AuthType Basic
        AuthName "Private Git Access"
        Require valid-user

        AuthMYSQLEnable on
        AuthMySQLUser dbauthuser
        AuthMySQLPassword $DBAUTH_PASS
        AuthMySQLHost $DB_HOST
        AuthMySQLDB codendi
        AuthMySQLUserTable "user"
        AuthMySQLNameField user.user_name
        AuthMySQLPasswordField user.unix_pw
        AuthMySQLUserCondition "user.status IN ('A', 'R')"
 </Location>
