<VirtualHost %git_server_ip_address%:443>
	ErrorLog logs/error_log
        TransferLog logs/access_log
        LogLevel warn

        SSLEngine on
        SSLProtocol all -SSLv2
        SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
        SSLCertificateFile /etc/pki/tls/certs/localhost.crt
        SSLCertificateKeyFile /etc/pki/tls/private/localhost.key

        include conf.d/auth_mysql.conf

        SetEnv GIT_PROJECT_ROOT /var/lib/codendi/gitolite/repositories
        SetEnv GIT_HTTP_EXPORT_ALL
        SetEnv GITOLITE_HTTP_HOME /usr/com/gitolite
        SetEnv GIT_HTTP_BACKEND /usr/bin/git-http-backend
        ScriptAlias /p/ /usr/lib/codendi/bin/gitolite-suexec-wrapper.sh/

         <Location />
                AuthType Basic
                AuthName "Private Git Access"
                Require valid-user

                AuthMYSQLEnable on
                AuthMySQLUser dbauthuser
                AuthMySQLPassword %dbauthuser_password%
                AuthMySQLDB codendi
                AuthMySQLUserTable "user"
                AuthMySQLNameField user.user_name
                AuthMySQLPasswordField user.unix_pw
                AuthMySQLUserCondition "user.status='A'"
         </Location>
</VirtualHost>
