<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title"> {{# dgettext }} tuleap-svn | Subversion {{/ dgettext }}</h1>
        </div>

        <section class="tlp-pane-section">
            <h2 class="tlp-pane-subtitle">{{# dgettext }} tuleap-svn | Global permissions {{/ dgettext }}</h2>
            <table class="tlp-table permission-per-group-table">
                <thead>
                <tr class="permission-per-group-double-column-table">
                    <th> {{# dgettext }} tuleap-svn | Permission {{/ dgettext }}</th>
                    <th> {{# dgettext }} tuleap-svn | Granted groups {{/ dgettext }}</th>
                </tr>
                </thead>
                <tbody>
                {{# has_permissions }}
                    <tr>
                        <td><a href="{{ url }}">{{# dgettext }} tuleap-svn | SVN Administrators {{/ dgettext }}</a></td>
                        <td>
                            {{# permissions }}
                                <span class="
                                    {{# is_project_admin }}tlp-badge-danger tlp-badge-outline{{/ is_project_admin }}
                                    {{# is_static }}tlp-badge-primary tlp-badge-outline{{/ is_static }}
                                    {{# is_custom }}tlp-badge-secondary{{/ is_custom }}
                                    ">{{ name }}</span>
                            {{/ permissions }}
                        </td>
                    </tr>
                {{/ has_permissions }}
                {{^ has_permissions }}
                    <tr>
                        <td colspan="2" class="tlp-table-cell-empty">
                            {{# dgettext }} tuleap-svn | {{ user_group_name }} has no global permission {{/ dgettext }}
                        </td>
                    </tr>
                {{/ has_permissions }}
                </tbody>
            </table>
        </section>

        <div id="svn-permission-per-group"
             data-project-id="{{ project_id }}"
        ></div>
    </div>
</section>
