{{!
 /**
  * Copyright (c) Enalean, 2019-Present. All rights reserved
  *
  * This file is a part of Tuleap.
  *
  * Tuleap is free software; you can redistribute it and/or modify
  * it under the terms of the GNU General Public License as published by
  * the Free Software Foundation; either version 2 of the License, or
  * (at your option) any later version.
  *
  * Tuleap is distributed in the hope that it will be useful,
  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  * GNU General Public License for more details.
  *
  * You should have received a copy of the GNU General Public License
  * along with Tuleap. If not, see <http://www.gnu.org/licenses/
  */
}}

<div id="project-registration"
     data-available-tuleap-templates="{{ tuleap_templates }}"
     data-external-templates="{{ external_templates }}"
     data-are-restricted-users-allowed="{{ are_restricted_users_allowed }}"
     data-project-default-visibility="{{ project_default_visibility }}"
     data-projects-must-be-approved="{{ projects_must_be_approved }}"
     data-is-description-mandatory="{{ is_description_mandatory }}"
     data-trove-cat="{{ trove_categories }}"
     data-field-list="{{ field_list }}"
     data-company-templates="{{ company_templates }}"
     data-company-name = "{{ company_name }}"
     data-can-user-choose-privacy="{{ can_user_choose_privacy }}"
     data-can-create-from-project-file="{{ can_create_from_project_file }}"
>
</div>
