{{!
 /**
  * Copyright (c) Enalean, 2019-Present. All rights reserved
  *
  * This file is a part of Tuleap.
  *
  * Tuleap is free software; you can redistribute it and/or modify
  * it under the terms of the GNU General Public License as published by
  * the Free Software Foundation; either version 2 of the License, or
  * (at your option) any later version.
  *
  * Tuleap is distributed in the hope that it will be useful,
  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  * GNU General Public License for more details.
  *
  * You should have received a copy of the GNU General Public License
  * along with Tuleap. If not, see <http://www.gnu.org/licenses/
  */
}}

<h2><span class="tlp-badge-primary register-new-project-section-badge">1</span>{{# gettext }}What kind of project is it?{{/ gettext }}</h2>

<p>
    {{# gettext }}The project template you will select provides some services. Don’t worry, you can always modify your project workspace after your project has been created.{{/ gettext }}
</p>

<div class="tlp-alert-warning">
    {{# gettext }}
        This space is under construction. You can still use the current registration process in the mean time.
    {{/ gettext }}
</div>
