<p class="hooks-desc">{{ hooks_desc }}</p>

{{# has_a_jenkins_hook }}
<span class="only-one-jenkins"
    data-toggle="tooltip"
    data-placement="bottom"
    title="{{ only_one }}"
>
{{/ has_a_jenkins_hook }}

<button
    type="button"
    class="btn btn-primary create-jenkins-btn"
    {{# has_a_jenkins_hook }}
        disabled
    {{/ has_a_jenkins_hook }}
    {{^ has_a_jenkins_hook }}
        data-toggle="modal"
        data-target="#modal-create-jenkins"
    {{/ has_a_jenkins_hook }}
>
    <i class="icon-plus"></i> {{ add_jenkins_hook }}
</button>

{{# has_a_jenkins_hook }}
</span>
{{/ has_a_jenkins_hook }}

<table class="table table-striped table-bordered hooks-list">
    <thead>
        <tr>
            <th>{{ url }}</th>
            <th>{{ last_push }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{# has_a_jenkins_hook }}
            <tr class="hook-section">
                <td colspan="3">
                    {{ jenkins_hook }}
                </td>
            </tr>
            <tr>
                <td>{{ jenkins_server_url }}</td>
                <td><span class="text-info">{{ n_jobs_triggered }}</span></td>
                <td>
                    <a role="button" data-toggle="modal" href="#modal-logs-jenkins">
                        <i class="icon-list"></i> {{ logs }}
                    </a>
                    <a role="button" data-toggle="modal" href="#modal-edit-jenkins">
                        <i class="icon-edit"></i> {{ edit_hook }}
                    </a>
                    <a href="javascript:;" class="remove-hook" data-toggle="popover" data-trigger="click" data-placement="left" data-html="true">
                        <i class="icon-trash"></i> {{ remove }}
                    </a>
                </td>
            </tr>
        {{/ has_a_jenkins_hook }}
        {{^ has_hooks }}
            <tr class="empty-table">
                <td colspan="2">
                    {{ empty_hooks }}
                </td>
            </tr>
        {{/ has_hooks }}
    </tbody>
</table>

<div id="remove-jenkins-popover">
    <form action="/plugins/hudson_git/?group_id={{ project_id }}" method="POST">
        <p>{{ remove_jenkins_desc }}</p>

        <input type="hidden" name="repository_id" value="{{ repository_id }}" />
        <input type="hidden" name="action" value="remove_jenkins" />
        <input type="hidden" name="challenge" value="{{ csrf_token }}" />

        <div class="remove-jenkins-confirm-actions">
            <button type="button" class="btn btn-small btn-default dismiss-popover">{{ remove_jenkins_cancel }}</button>
            <button type="submit" class="btn btn-small btn-danger">{{ remove_jenkins_confirm }}</button>
        </div>
    </form>
</div>

<div id="modal-create-jenkins"
    class="modal hide fade modal-jenkins"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-jenkins-title"
    aria-hidden="true"
>
    {{# modal_create_jenkins }}
        {{> modal-jenkins }}
    {{/ modal_create_jenkins }}
</div>

<div id="modal-edit-jenkins"
    class="modal hide fade modal-jenkins"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-jenkins-title"
    aria-hidden="true"
>
    {{# modal_edit_jenkins }}
        {{> modal-jenkins }}
    {{/ modal_edit_jenkins }}
</div>

{{> modal-logs }}
