<div id="modal-create-jenkins"
    class="modal hide fade modal-jenkins"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-jenkins-title"
    aria-hidden="true"
>
    {{# modal_create_jenkins }}
        {{> modal-jenkins }}
    {{/ modal_create_jenkins }}
</div>

<div id="modal-edit-jenkins"
    class="modal hide fade modal-jenkins"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-jenkins-title"
    aria-hidden="true"
>
    {{# modal_edit_jenkins }}
        {{> modal-jenkins }}
    {{/ modal_edit_jenkins }}
</div>
