#comments {
    > h3 {
        margin-bottom: 5px;
    }

    > .empty {
        color: #CCC;
        text-align: center;
        padding: 20px 10px 30px;
        font-size: 12px;
    }

    > ul {
        margin: 0 0 20px;
        list-style-type: none;

        > li {
            margin: 0 0 15px;
            font-size: 12px;

            &.loading {
                height: 16px;
                background: url('loader-mini.gif') no-repeat center center;
            }

            .pull-request-comment-from-author {
                border: 1px solid #AAA;
            }

            .pull-request-comment-user {
                margin: 0;
                color: #AAA;
                font-style: italic;
            }

            .pull-request-comment-content {
                margin: 3px 0 0;
            }
        }
    }

    > form {
        margin: 0 0 100px;
        text-align: right;

        textarea {
            box-sizing: border-box;
            resize: vertical;
            width: 100%;
            height: 80px;
        }
    }
}
