{{# gettext }}The project "%s" has just been successfully imported. | {{ project_name }}{{/ gettext }}


{{# gettext }}Your project has been submitted to the administrators for validation.{{/ gettext }}

{{# gettext }}You will receive an email when the project is approved.{{/ gettext }}


{{# gettext }}Best regards,{{/ gettext }}

{{# gettext }}The %s team. | {{ instance_name }}{{/ gettext }}
