<p>{{# gettext }}The import of project "%s" have failed. | {{ project_name }}{{/ gettext }}</p>

<p>{{# gettext }}Error:{{/ gettext }}</p>

<p>{{ error }}</p>

<p>
    {{# gettext }}Best regards,{{/ gettext }}
    <br>
    {{# gettext }}The %s team. | {{ instance_name }}{{/ gettext }}
</p>
