{{# gettext }}The import of project "%s" have failed. | {{ project_name }}{{/ gettext }}


{{# gettext }}Error:{{/ gettext }}

{{ error }}

{{# gettext }}Best regards,{{/ gettext }}

{{# gettext }}The %s team. | {{ instance_name }}{{/ gettext }}
