<p>{{# gettext }}The project "%s" has just been successfully imported. | {{ project_name }}{{/ gettext }}</p>

<p>
    {{# gettext }}Your project has been submitted to the administrators for validation.{{/ gettext }}
    <br>
    {{# gettext }}You will receive an email when the project is approved.{{/ gettext }}
</p>

<p>
    {{# gettext }}Best regards,{{/ gettext }}
    <br>
    {{# gettext }}The %s team. | {{ instance_name }}{{/ gettext }}
</p>
