<?php // -*-html-*-
rcs_id('$Id: body.tmpl,v 1.9 2005/02/04 13:25:07 rurban Exp $');
?>
<body<?= $WikiTheme->getMoreAttr('body') ?>>
<table width="100%">
  <tr>
    <td class="sidebar" align="left" valign="top">
<div class="box">
<?= Template('top') ?>
</div>
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
<div class="box"><div class="box-title"><?= _("Navigation") ?></div>
<div class="box-data">
  <?= Template('navbar') ?>
</div></div>
<?php }
  /* Today's calendar page for the user, if the Calender subpage is defined. */
  $UserCalPageTitle = $user->getId() . SUBPAGE_SEPARATOR . _("Calendar");
  $dbi = $request->getDbh();
  // display flat calender dhtml under the clock
  if ($dbi->isWikiPage($UserCalPageTitle)) { ?>
<div class="box">
<div class="box-title"><?= WikiLink($UserCalPageTitle,'known',_("Calendar")) ?></div>
<div class="box-data">
    <?= Template('calendar') ?>
</div></div>
<?php } ?>
<div id="clock">
<? // include($WikiTheme->_findFile("hyperapplet.php")); ?>
<? // include($WikiTheme->_findFile("hyperwiki.php")); ?>
<? // include($WikiTheme->_findFile("clock.php")); ?>
</div>
<?php 
$box = new RelatedLinksBox();
$body = $box->body;
if ($body->asString() != "")
    printXml($box->format());

$box = new PluginSidebarBox("RecentChanges",array('limit'=>10)); 
printXml($box->format());

/*
$box = new PluginSidebarBox("RssFeed",
                            array('url' => 'http://phpwiki.sourceforge.net/phpwiki/RecentChanges?format=rss',
                                  'title' => _("PhpWiki News"))); 
printXml($box->format());
*/
?>
    </td>
    <td class="main" align="left" valign="top" width="100%">
<!-- Page title -->
<h1><?= $HEADER ?></h1>
<div class="toolbar">
<?= Template('actionbar') ?>
</div>
<?= $CONTENT ?>
    </td>
  </tr>
</table>
<?= Template('bottom') ?>
</body>
