<div class="tlp-framed">
    <h1>{{# dgettext }}tuleap-create_test_env | Create test environment{{/ dgettext }}</h1>

    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">{{# dgettext }}tuleap-create_test_env | Mattermost{{/ dgettext }}</h1>
            </div>
            <section class="tlp-pane-section">
                <p>{{# dgettext }}tuleap-create_test_env | Configure a mattermost bot that will receive notification about people tests.{{/ dgettext }}</p>

                <form class="tlp-form-element" method="post">
                    <div class="tlp-form-element">
                        <label class="tlp-label" for="bot-list">{{# dgettext }}tuleap-create_test_env | Bot list{{/ dgettext }}</label>
                        <select class="tlp-select tlp-select-adjusted" id="bot-list" name="bot">
                            <option value=""></option>
                            {{# bot_list }}
                                <option value="{{ id }}" {{# is_selected}}selected{{/ is_selected }}>{{ name }}</option>
                            {{/ bot_list }}
                        </select>
                    </div>

                    <div class="tlp-pane-section-submit">
                        <button type="submit" class="tlp-button-primary">
                            {{# dgettext }}tuleap-create_test_env | Save{{/ dgettext }}
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </section>
</div>
