<Files views_graph.png>
ForceType application/x-httpd-php
</Files>
<Files users_graph.png>
ForceType application/x-httpd-php
</Files>
<Files weekly_views.png>
ForceType application/x-httpd-php
</Files>
