<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">
                <i class="fa fa-bell-o tlp-pane-title-icon"></i> {{ title }}
            </h1>
        </div>
            {{# bot_assigned }}
                <section class="tlp-pane-section" data-test="configured-bot-mattermost">
                    <div class="tlp-property">
                        <label class="tlp-label">{{ label_bot_name }}</label>
                        {{# avatar }}<img class="tlp-avatar-small" src="{{ avatar }}">{{/ avatar }} {{ name }}
                    </div>
                    <div class="tlp-property">
                        <label class="tlp-label">{{ label_send_time }}</label>
                        <p>{{ send_time }}</p>
                    </div>
                    <div class="tlp-property">
                        <label class="tlp-label">{{ label_channels_handles }}</label>
                        {{# has_channels }}
                            <ul>
                                {{# channels }}
                                    <li>{{ . }}</li>
                                {{/ channels }}
                            </ul>
                        {{/ has_channels }}
                        {{^ has_channels }}
                            <p class="tlp-text-muted">{{ empty_channel_list }}</p>
                        {{/ has_channels }}
                    </div>
                </section>

                <section class="tlp-pane-section tlp-pane-section-submit">
                    <button id="admin-config-bot-edit-trigger" class="tlp-button-primary tlp-button-outline">
                        <i class="fa fa-pencil tlp-button-icon"></i> {{ button_edit }}
                    </button>
                    {{> modal-edit-bot }}
                    <button id="admin-config-bot-delete-trigger" class="tlp-button-danger tlp-button-outline">
                        <i class="fa fa-trash-o tlp-button-icon"></i> {{ button_delete }}
                    </button>
                    {{> modal-delete-bot }}
                </section>
            {{/ bot_assigned }}
            {{^ bot_assigned }}
                <section class="tlp-pane-section">
                    <p class="tlp-text-muted">{{ any_configured_notification }}</p>
                    {{# has_bots }}
                        <p class="tlp-text-muted">{{ any_configured_notification_tips }}</p>
                        <button id="admin-config-bot-add-trigger" data-test="add-mattermost-notification" class="tlp-button-primary tlp-button-outline">
                            <i class="fa fa-plus tlp-button-icon"></i> {{ button_config }}
                        </button>
                        {{> modal-add-bot }}
                    {{/ has_bots}}
                    {{^ has_bots }}
                        <p class="tlp-text-muted">{{ empty_bot_list }}</p>
                    {{/ has_bots }}
                </section>
            {{/ bot_assigned }}
        </section>
    </div>
</section>
