<h2 class="tlp-framed-horizontally">{{# dgettext }} tuleap-tracker | Transition rules {{/ dgettext }}</h2>
<div class="tlp-framed-horizontally">
    <div
        id="tracker-workflow-transitions"
        data-tracker-id="{{ tracker_id }}"
        data-used-services-names="{{ used_services_names }}"
    >
    </div>
</div>
