@import "timeline/timeline";
@import "merge-modal/merge-modal";

#pull-request-info {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    .pull-request-details {
        flex: 1 1 auto;
        max-width: 50%;
    }

    .pull-request-description {
        white-space: pre-wrap;
    }

    .pull-request-edition-form {
        textarea {
            width: 95%;
        }
    }

    .pull-requests-references {
        font-size: 12px;

        .pull-requests-source-destination {
            border: 1px solid #f79514;
            border-radius: 3px;
            color: #f79514;
            padding: 2px 2px;
            margin: 0 5px 0 0;

            .repository {
                font-weight: 600;
            }
        }

        .pull-request-reference {
            letter-spacing: 0.3px;
            color: #888;
        }
    }

    .pull-request-author,
    .pull-request-date,
    .pull-request-changes {
        flex: 0 1 auto;
        white-space: nowrap;
    }

    .pull-request-description,
    .pull-request-author,
    .pull-request-date {
        margin: 0 50px 0 0;
    }

    .pull-request-label {
        display: block;
        margin: 25px 0 5px;
        color: #888888;
        font-size: 12px;
        font-weight: 600;

        &:first-child {
            margin: 0 0 5px;
        }
    }

    .pull-request-author > div {
        display: flex;
        align-items: center;

        .avatar {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: 0 5px 0 0;
        }
    }

    .pull-request-changes .text-success,
    .pull-request-changes .text-error {
        margin: 0 2px 0 0;
        font-size: 14px;
        font-weight: 600;
    }
}

#pull-request-actions {
    width: 100%;
    margin: 30px 0;
    padding: 30px 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #f3f3f3;
    text-align: center;

    .loading {
        height: 26px;
        margin: 0 0 15px;
        background: url('loader.gif') no-repeat center center;
    }

    .alert {
        padding: 15px;
    }

    .icon-spinner {
        display: block;
        font-size: 26px;
    }

    p {
        margin: 0;
    }

    .btn {
        min-width: 150px;
        margin: 15px 0 0;
    }
}
