<div class="tlp-form-element">
    <label class="tlp-label">Please choose your configuration</label>
    <label class="tlp-label tlp-radio">
        <input type="radio" name="ldap_type" value="{{ open_ldap_value }}" checked> {{ open_ldap_value }}
    </label>
    <label class="tlp-label tlp-radio">
        <input type="radio" name="ldap_type" value="{{ active_directory_value }}"> {{ active_directory_value }}
    </label>
</div>
