<button id="project-admin-members-link-ldap-button"
        type="button"
        data-target-modal-id="project-admin-members-link-ldap-modal"
        class="tlp-button-primary tlp-button-outline"
>
    <i class="fa fa-link tlp-button-icon"></i>
    {{ label }}
</button>