<?php // -*-html-*-
rcs_id('');

global $HIDE_TOOLBARS;
$HIDE_NAVBAR = true;
if (!$HIDE_TOOLBARS && !$HIDE_NAVBAR) {
?>
<!-- The logo -->
<div id="logo"><img src="<?=$WikiTheme->getImageURL('logo')?>" id="logo-img"
      border="0" alt="<?=fmt("%s: %s", WIKI_NAME, HOME_PAGE) ?>" align="right" /></div>
<!-- The top navigation/search bar -->
<div class="toolbar">
  <?= Template('navbar') ?>
  </div>
<?php } ?>

<!-- Documents that point to this wiki page -->
<?php if($DOCMAN_METADATA) { ?>
<SCRIPT language="JavaScript">

function toggle_documents(id) {
    Element.toggle(id);
    toggle_image(id);
}

function toggle_image(id) {
    var img_element = $('img_' + id);
    if (img_element.src.indexOf('<?= util_get_image_theme("ic/toggle_plus.png") ?>') != -1) {
        img_element.src = '<?= util_get_image_theme("ic/toggle_minus.png") ?>';
        img_element.title = 'Hide related documents';
    } else {
        img_element.src = '<?= util_get_image_theme("ic/toggle_plus.png") ?>';
        img_element.title = 'Open to see related documents';
    }
}
</SCRIPT>
<?= $DOCMAN_METADATA ?>
<?php } ?>

<!-- Page title -->
<h1><?= $HEADER ?></h1>
