<?php // -*-html-*-
rcs_id('');

global $HIDE_TOOLBARS;
$HIDE_NAVBAR = true;
if (!$HIDE_TOOLBARS && !$HIDE_NAVBAR) {
?>
<!-- The logo -->
<div id="logo"><img src="<?=$WikiTheme->getImageURL('logo')?>" id="logo-img"
      border="0" alt="<?=fmt("%s: %s", WIKI_NAME, HOME_PAGE) ?>" align="right" /></div>
<!-- The top navigation/search bar -->
<div class="toolbar">
  <?= Template('navbar') ?>
  </div>
<?php } ?>

<!-- Page title -->
<h1><?= $HEADER ?></h1>
