<div class="tlp-framed">
    <form name="form1" method="POST" action="{{ action_url }}" class="tlp-pane">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">{{ tracker_key_label }}</h1>
            </div>
            <div class="tlp-pane-section">
                <p>{{ display_help }}</p>

                <div class="tlp-form-element">
                    <label class="tlp-label" for="tracker-key">{{ tracker_key_label }}</label>
                    <textarea id="tracker-key" name="key" rows="20" class="tlp-textarea">{{ get_tracker_key }}</textarea>
                    {{# get_tracker_key }}
                        <p class="tlp-text-warning">{{ update_key_warning }}</p>
                    {{/get_tracker_key}}
                </div>

                <div class="tlp-pane-section-submit">
                    <input type="submit" class="tlp-button-primary" value="{{ submit_button }}" />
                </div>
            </div>
        </div>
    </form>
</div>
