<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h2 class="tlp-pane-title">{{title}}</h2>
        </div>
        <section class="tlp-pane-section">
        {{^ bot_assigned }}
                <p>{{ any_configured_notification }}</p>
                {{# has_bots }}
                    <p>{{ any_configured_notification_tips }}</p>
                    <div class="tlp-table-actions">
                        <button
                            class="tlp-button-primary tlp-table-actions-element"
                            data-target-modal-id="botmattermost-git-notification-add-modal"
                            data-modal-trigger
                            data-test="add-git-bot">
                            <i class="fa-solid fa-plus tlp-button-icon" aria-hidden="true"></i> {{ button_config }}
                        </button>
                        {{> modal-add-bot }}
                    </div>
                {{/ has_bots }}
                {{^ has_bots }}
                    <p>{{ empty_bot_list }}</p>
                {{/ has_bots }}
        {{/ bot_assigned }}
            {{# bot_assigned }}
                <table class="tlp-table" data-test="git-bot-mattermost-list">
                    <thead>
                    <tr>
                        <th>{{# avatar }}<img class="tlp-avatar" src="{{ avatar }}">{{/ avatar }}{{ name }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ label_channels_handles }}:
                            {{# channels }}
                                {{ channels }}
                            {{/ channels }}
                            {{^ channels}}
                                {{ empty_channel_list}}
                            {{/channels}}
                        </td>
                        <td class="tlp-table-cell-actions">
                            <button type="button"
                                    class="tlp-button-primary tlp-button-outline tlp-button-small tlp-table-cell-actions-button"
                                    data-modal-trigger
                                    data-target-modal-id="botmattermost-git-notification-edit-modal"
                            >
                                <i class="fa-solid fa-pencil tlp-button-icon" aria-hidden="true"></i>
                                {{ button_edit }}
                            </button>
                            <button type="button"
                                    class="tlp-button-danger tlp-button-outline tlp-button-small tlp-table-cell-actions-button"
                                    data-modal-trigger
                                    data-target-modal-id="botmattermost-git-notification-delete-modal"
                            >
                                <i class="fa-regular fa-trash-alt tlp-button-icon" aria-hidden="true"></i>
                                {{ button_delete }}
                            </button>
                            {{> modal-delete-bot }}
                            {{> modal-edit-bot }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            {{/ bot_assigned }}
        </section>
    </div>
</section>
