<form id="botmattermost-git-notification-add-modal"
      role="dialog"
      aria-labelledby="botmattermost-git-notification-add-modal-title"
      class="tlp-modal"
      action="/plugins/botmattermost_git/?action=add_bot"
      method="POST"
>
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <input type="hidden" name="group_id" value="{{ project_id }}" />
    <input type="hidden" name="repository_id" value="{{ repository_id }}" />

    <div class="tlp-modal-header">
        <h1 id="botmattermost-git-notification-add-modal-title" class="tlp-modal-title">
            {{ modal_add_title }}
        </h1>
        <button class="tlp-modal-close" type="button" data-dismiss="modal"
                aria-label="{{# gettext }}Close{{/ gettext }}">
            <i class="fa-solid fa-xmark tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>
    <div class="tlp-modal-body">
        {{# has_bots }}
            <div class="tlp-form-element">
                <label class="tlp-label" for="select_bot">{{ label_bot_list }}</label>
                <select name="bot_id" class="tlp-select" id="select_bot">
                    {{# has_system_bots }}
                        <optgroup label="{{# dgettext }} tuleap-botmattermost_git | System bots {{/ dgettext }}">
                            {{# system_bots }}
                                <option value="{{ getId }}"
                                        {{# getAvatarUrl }}data-image="{{ getAvatarUrl }}"{{/ getAvatarUrl }}>
                                    {{ getName }}
                                </option>
                            {{/ system_bots }}
                        </optgroup>
                    {{/ has_system_bots }}
                    {{# has_project_bots }}
                        <optgroup label="{{# dgettext }} tuleap-botmattermost_git | Project bots {{/ dgettext }}">
                            {{# project_bots }}
                                <option value="{{ getId }}"
                                        {{# getAvatarUrl }}data-image="{{ getAvatarUrl }}"{{/ getAvatarUrl }}>
                                    {{ getName }}
                                </option>
                            {{/ project_bots }}
                        </optgroup>
                    {{/ has_project_bots }}
                </select>
                <p class="tlp-text-info">
                    <i class="fa-regular fa-life-ring" aria-hidden="true"></i>
                    {{ description }}
                </p>
                <p class="tlp-text-info">
                    <i class="fa-regular fa-life-ring" aria-hidden="true"></i>
                    {{ description_create_bot }}
                </p>
            </div>
            <div class="tlp-form-element">
                <label class="tlp-label" for="add_channels">{{ label_channels_handles }}</label>
                <input type="text" id="add_channels" name="channels" class="tlp-input"
                       placeholder="{{ input_channels_handles }}" data-test="channels" />
                <p class="tlp-text-info">
                    <i class="fa-regular fa-life-ring" aria-hidden="true"></i>
                    {{{ purified_info_channels_handles }}}
                </p>
            </div>
        {{/ has_bots }}
    </div>
    <div class="tlp-modal-footer">
        <button type="button" data-dismiss="modal" class="tlp-button-primary tlp-button-outline tlp-modal-action">
            {{ button_close }}
        </button>
        <button type="submit"
                class="tlp-button-primary tlp-modal-action"
                data-test="add-notification-button"
        >
            <i class="fa-solid fa-plus tlp-button-icon" aria-hidden="true"></i>
            {{ button_confirm }}
        </button>
    </div>
</form>
