#
# Increase PHP max execution time for the export
# database because it can last a long time
# add also higher memory limit as some projects
# may have maany bugs to export
#
<IfModule mod_php3.c>
php3_max_execution_time "1800"
</IfModule>

<IfModule mod_php4.c>
php_value max_execution_time "1800"
php_value memory_limit "64M"
</IfModule>

<IfModule sapi_apache2.c>
php_value max_execution_time "1800"
php_value memory_limit "64M"
</IfModule>

# Prevent IE7 from caching the tracker reports.
<Files index.php>
  ExpiresActive On
  ExpiresDefault A0
</Files>

