#file-diff {
    margin: 0 0 100px;
    padding: 0 15px 0 0;
    box-sizing: border-box;

    .CodeMirror {
        height: 500px;
        border: 1px solid lightgray;
        margin: 15px 0 0 0;

        .CodeMirror-gutter {
            min-width: 30px;
        }

        .CodeMirror-gutter-elt {
            text-align: right;
        }

        .gutter-oldlines {
        }

        .gutter-newlines {
            background-color: lightgray;
        }

        .added-lines {
            background-color: #e6ffe6;
        }

        .deleted-lines {
            background-color: #ffe6e6;
        }

        .inline-comment {
            background-color: white;
            border: 1px solid lightgray;

            .info {
                display: inline-block;
                vertical-align: top;
                padding: 2px 5px 0 5px;
                background-color: #eee;
            }

            .avatar {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 5px 0 0;
            }

            .content {
                display: inline-block;
                padding: 0 0 0 5px;
            }
        }

        .inline-comment-form {
            margin: 0;

            textarea {
                margin: 0;
            }

            .controls {
                display: inline-block;

                input {
                    display: block;
                    margin: 3px;
                }
            }
        }
    }
}
