<div class="dashboard-widget-content-cross-tracker"
     data-test="cross-tracker-search-widget"
     data-widget-id="{{ widget_id }}"
     data-is-widget-admin="{{ is_widget_admin }}"
     data-documentation-base-url="{{ documentation_base_url }}"
     data-is-multiple-query-supported="{{is_multiple_query_supported}}"
>
    <div class="vue-mount-point"></div>
</div>
