<div class="dashboard-widget-content-cross-tracker"
     data-report-id="{{ report_id }}"
     data-date-format="{{ date_format }}"
     data-is-anonymous="{{ is_anonymous }}"
>
    <div class="vue-mount-point"></div>
</div>
