<div class="dashboard-widget-content-cross-tracker cross-tracker-loading"
     data-report-id="{{ report_id }}"
     data-locale="{{ locale }}"
     data-date-format="{{ date_format }}"
     data-is-anonymous="{{ is_anonymous }}"
>
    <div class="dashboard-widget-content-cross-tracker-loader"></div>
    <div class="dashboard-widget-content-cross-tracker-error">
        <div class="tlp-alert-danger">
        </div>
    </div>
    <div class="dashboard-widget-content-cross-tracker-success">
        <div class="tlp-alert-info">
        </div>
    </div>

    {{> project-cross-tracker-search-writing-mode }}

    <div class="vue-mount-point"></div>
</div>
