{{# has_user_dashboard }}
    {{# has_only_one_user_dashboard }}
        <div class="btn-group">
            {{# user_dashboards_presenter }}
                <a class="btn btn-mini" href="{{ my_dashboard_url }}&dashboard-id={{ getId }}">
                    <i class="fas fa-tachometer-alt"></i> {{ my_dashboard }}
                </a>
            {{/ user_dashboards_presenter }}
        </div>
    {{/ has_only_one_user_dashboard }}
    {{^ has_only_one_user_dashboard }}
        <div class="btn-group">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fas fa-tachometer-alt"></i>
                {{ my_dashboard }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{# user_dashboards_presenter }}
                    <li><a href="{{ my_dashboard_url }}&dashboard-id={{ getId }}">{{ getName }}</a></li>
                {{/ user_dashboards_presenter }}
            </ul>
        </div>
    {{/ has_only_one_user_dashboard }}
{{/ has_user_dashboard }}
{{# is_admin }}
    {{# has_project_dashboard }}
        {{# has_only_one_project_dashboard }}
            <div class="btn-group">
                {{# project_dashboards_presenter }}
                    <a class="btn btn-mini" href="{{ project_dashboard_url }}&dashboard-id={{ getId }}">
                        <i class="fas fa-tachometer-alt"></i> {{ project_dashboard }}
                    </a>
                {{/ project_dashboards_presenter }}
            </div>
        {{/ has_only_one_project_dashboard }}
        {{^ has_only_one_project_dashboard }}
            <div class="btn-group">
                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fas fa-tachometer-alt"></i>
                    {{ project_dashboard }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {{# project_dashboards_presenter }}
                        <li><a href="{{ project_dashboard_url }}&dashboard-id={{ getId }}">{{ getName }}</a></li>
                    {{/ project_dashboards_presenter }}
                </ul>
            </div>
        {{/ has_only_one_project_dashboard }}
    {{/ has_project_dashboard }}
{{/ is_admin }}
