<div id="tracker_report_config_options" class="row-fluid">
    <div id="tracker_report_selection" class="span12">
        <form id="tracker_report_form" action="{{ select_report_url }}" method="POST" class="form-horizontal form-inline">
            <p class="tracker-link-artifact-slow-way-content-selectreport">
                {{{ tracker_switcher }}} &gt; {{{ reports_selector }}}
            </p>
        </form>
    </div>
</div>
