<div>
    <form id="tracker_report_form" action="{{ select_report_url }}" method="POST" class="form-horizontal form-inline">
        {{{ tracker_switcher }}} &gt; {{{ reports_selector }}}
    </form>
</div>
