<p {{# is_a_table_renderer }} class="tlp-table-actions" {{/ is_a_table_renderer }}>
    <a href="{{ url_artifact_submit }}" class="tlp-button-primary tlp-table-actions-element">
        <i class="tlp-button-icon fa fa-plus"></i> {{ new_artifact }}
    </a>
</p>