#git-notification-mattermost-section {
    img.avatar {
        width: 20px;
        height: 20px;
        margin: 0 10px 0 0;
    }

    .bot-assigned-label {
        display: block;
        position: relative;
        margin: 0 0 8px;
        color: #666666;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    .panel {
        width: 100%;
        min-width: 400px;
        max-width: 960px;
        margin: 0 0 20px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        background: #ffffff;
    }

    .panel-header {
        padding: 10px;
        border-bottom: 2px solid #333333;
        background: #eeeeee;
    }

    .panel-container {
        display: flex;
        justify-content: space-between;
    }

    .panel-section {
        flex-flow: row wrap;
        align-self: flex-start;
        padding: 20px;
        border-left: 1px solid #f3f3f3;
    }

    .panel-section-actions {
        align-self: center;
    }

    .panel-section:first-child {
        border-left: 0;
    }

    .panel-name {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }
}

.git-notification-mattermost-configuration-empty-state {
    color: #888888;
    font-style: italic;
}

.git-notification-mattermost-configuration-description {
    margin: 0 0 20px;
}

.form-group {
    margin-bottom: 15px;
}
