<?xml version='1.0'?>
<phpunit bootstrap="vendor/autoload.php" verbose="true">
    <php>
        <ini name="date.timezone" value="Europe/Paris"/>
    </php>
    <testsuites>
        <testsuite name="Tuleap REST tests">
            <directory>tests</directory>
            <directory>../../plugins/*/tests/rest/</directory>
        </testsuite>
    </testsuites>
</phpunit>