<?xml version='1.0'?>
<phpunit bootstrap="lib/bootstrap.php"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
>
    <php>
        <ini name="date.timezone" value="Europe/Paris"/>
    </php>
    <testsuites>
        <testsuite name="Tuleap REST tests">
            <directory>tests</directory>
            <directory>../../plugins/*/tests/rest/</directory>
        </testsuite>
    </testsuites>
</phpunit>
