{{#getData}}
    <a title="{{# dgettext }} tuleap-tracker | Manage hierarchy of tracker %1$s | {{ name }} {{/ dgettext }}"
       href="/plugins/tracker/?tracker={{id}}&func=admin-hierarchy"
       class="{{current_class}}"
    >{{name}}</a>
{{/getData}}
<ul>
    {{#children}}
        <li>{{> tracker-node}}</li>
    {{/children}}
</ul>
