.pull-request-summary {
    $border-color: #e6e6e6;
    $border-hover-color: #cccccc;
    $creation-date-color: #888888;
    $margin-between-items: 15px;

    min-height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    border: 1px solid $border-color;
    cursor: pointer;
    padding: 0 $margin-between-items;

    &:hover {
        transition: border-color 100ms linear;
        border-color: $border-hover-color;
    }

    .title {
        font-size: 14px;
        min-width: 30px;
        max-width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .refs {
        margin-left: $margin-between-items;
        white-space: nowrap;
    }

    .creation-date {
        color: $creation-date-color;
        margin-left: $margin-between-items;
        white-space: nowrap;
    }

    .expander {
        flex: 1 1 auto;
        min-width: $margin-between-items;
    }

    .status {
        margin-left: $margin-between-items;
        white-space: nowrap;
    }

    .author {
        margin-left: $margin-between-items;
        font-size: 12px;
        white-space: nowrap;
    }

    .actions {
        margin-left: $margin-between-items;

        > .btn {
            width: 45px;
        }
    }
}
