<?php

// Where the attachments are located
$forumml_dir = '/var/lib/codendi/forumml';

// Where the temporary mail file is stored
$forumml_tmp = '/var/run/forumml';

// Where Mailman archives are stored
$forumml_arch = '/var/lib/mailman/archives';

// You can exclude some lists from forumml archival (comma separated values)
$forumml_excluded_lists = '';
