<div class="homepage-content">
    <section class="homepage-sign-in-section">
        <div class="homepage-sign-in-container">
            <div class="homepage-logo-container">
                {{# is_custom_logo_used }}
                    <img class="homepage-platform-logo" src="{{ path_custom_logo }}" alt="Logo" />
                {{/is_custom_logo_used}}
                {{^ is_custom_logo_used }}
                    <svg class="homepage-platform-logo" width="250" height="80" viewBox="0 0 813 258">
                        <use
                            href="/themes/BurningParrot/images/homepage-logo.svg#logo"
                            class="homepage-colored-logo"
                        ></use>
                    </svg>
                {{/is_custom_logo_used}}
            </div>
            {{# display_homepage_login_form }}
                {{> homepage-signin }}
            {{/display_homepage_login_form}}
        </div>
    </section>
    <section class="homepage-create-account-section">
        <div class="homepage-welcome-wrapper">
            <h2 class="homepage-welcome-title">{{{ purified_welcome_message }}}</h2>
            <p class="homepage-headline">{{ headline }}</p>
            {{# user_is_anonymous }}
                <a href="{{ most_secure_url }}/account/register.php"
                   class="tlp-button-secondary tlp-button-large homepage-create-account-button"
                   role="button"
                >{{ create_account_label }}<i class="fa fa-heart tlp-button-icon-right homepage-create-account-button-icon"></i>
                </a>
            {{/ user_is_anonymous }}
        </div>
        <img
            class="homepage-screenshots"
            src="/themes/BurningParrot/images/homepage/tuleap-homepage-hero-screenshots.png"
            alt="Screenshots"
        >
    </section>
</div>
