
module codendi 1.0.2;

require {
    type avahi_t;
    type crond_t;
    type cvs_data_t;
    type cvs_exec_t;
    type cvs_t;
    type cvs_tmp_t;
    type file_t;
    type fs_t;
    type ftpd_t;
    type home_root_t;
    type hostname_exec_t;
    type hplip_t;
    type http_cache_port_t;
    type http_port_t;
    type httpd_log_t;
    type httpd_sys_content_t;
    type httpd_sys_script_t;
    type httpd_t;
    type ifconfig_t;
    type initrc_t;
    type java_exec_t;
    type iso9660_t;
    type lib_t;
    type logwatch_t;
    type ls_exec_t;
    type mailman_archive_t;
    type mailman_cgi_t;
    type mailman_mail_t;
    type mysqld_db_t;
    type mysqld_etc_t;
    type mysqld_port_t;
    type mysqld_t;
    type mysqld_var_run_t;
    type named_t;
    type nscd_t;
    type port_t;
    type postfix_bounce_t;
    type postfix_cleanup_t;
    type postfix_master_t;
    type postfix_pickup_t;
    type postfix_qmgr_t;
    type postfix_smtpd_t;
    type postfix_smtp_t;
    type procmail_t;
    type public_content_t;
    type public_content_rw_t;
    type restorecon_t;
    type restorecond_t;
    type semanage_t;
    type sendmail_t;
    type setroubleshootd_t;
    type soundd_port_t;
    type system_chkpwd_t;
    type system_dbusd_t;
    type system_mail_t;
    type tmp_t;
    type unconfined_t;
    type updpwd_t;
    type user_home_t;
    type user_home_dir_t;
    type usr_t;
    type var_lib_t;
    type var_lock_t;
    type var_log_t;
    type var_spool_t;
    type webalizer_t;
    type xfs_t;
    class capability { dac_read_search dac_override fowner kill sys_tty_config };
    class dir { add_name create getattr read remove_name rmdir search write };
    class fifo_file read;
    class file { append create execute execute_no_trans getattr ioctl read rename setattr unlink write };
    class filesystem associate;
    class lnk_file read;
    class process signull;
    class sock_file write;
    class tcp_socket { name_connect read write };
    class unix_dgram_socket create;
    class unix_stream_socket { read write connectto };
}

#============= avahi_t ==============
allow avahi_t initrc_t:unix_stream_socket connectto;
allow avahi_t mysqld_db_t:dir search;
allow avahi_t mysqld_etc_t:file { read getattr };
allow avahi_t mysqld_t:unix_stream_socket connectto;
allow avahi_t mysqld_var_run_t:sock_file write;

#============= cvs_t ==============
allow cvs_t file_t:dir search;
allow cvs_t hostname_exec_t:file { read execute execute_no_trans };
allow cvs_t http_cache_port_t:tcp_socket name_connect;
allow cvs_t http_port_t:tcp_socket name_connect;
allow cvs_t httpd_sys_content_t:dir { read search };
allow cvs_t httpd_sys_content_t:file { read getattr ioctl };
allow cvs_t httpd_sys_content_t:lnk_file read;
allow cvs_t initrc_t:unix_stream_socket connectto;
allow cvs_t lib_t:file execute_no_trans;
allow cvs_t mysqld_db_t:dir search;
allow cvs_t mysqld_db_t:lnk_file read;
allow cvs_t mysqld_etc_t:file { read getattr };
allow cvs_t mysqld_port_t:tcp_socket name_connect;
allow cvs_t mysqld_t:unix_stream_socket connectto;
allow cvs_t mysqld_var_run_t:sock_file write;
allow cvs_t self:capability { dac_read_search dac_override };
allow cvs_t user_home_dir_t:dir search;
allow cvs_t user_home_t:dir search;
allow cvs_t usr_t:file { read getattr ioctl };
allow cvs_t usr_t:lnk_file read;
allow cvs_t var_lib_t:dir search;
allow cvs_t var_lock_t:dir { search read create write getattr rmdir remove_name add_name };
allow cvs_t var_lock_t:file { create unlink };
allow cvs_t var_log_t:dir search;
allow cvs_t var_log_t:file { ioctl getattr append };

#============= ftpd_t ==============
allow ftpd_t home_root_t:dir search;
allow ftpd_t httpd_sys_content_t:dir { read search };
allow ftpd_t httpd_sys_content_t:file read;
allow ftpd_t initrc_t:unix_stream_socket connectto;
allow ftpd_t mysqld_t:unix_stream_socket connectto;

#============= hplip_t ==============
allow hplip_t initrc_t:unix_stream_socket connectto;

#============= httpd_sys_script_t ==============
allow httpd_sys_script_t cvs_data_t:dir { read getattr search };
allow httpd_sys_script_t cvs_data_t:file { read ioctl getattr};
allow httpd_sys_script_t cvs_data_t:lnk_file read;
allow httpd_sys_script_t file_t:dir search;
allow httpd_sys_script_t httpd_t:file read;
allow httpd_sys_script_t initrc_t:unix_stream_socket connectto;
allow httpd_sys_script_t mysqld_db_t:lnk_file read;
allow httpd_sys_script_t mysqld_etc_t:file { read getattr };
allow httpd_sys_script_t self:unix_dgram_socket create;
allow httpd_sys_script_t tmp_t:file { write ioctl getattr append read };
allow httpd_sys_script_t usr_t:dir { write add_name remove_name};
allow httpd_sys_script_t usr_t:file { create execute execute_no_trans write };
allow httpd_sys_script_t var_log_t:dir write;
allow httpd_sys_script_t var_log_t:file append;

#============= httpd_t ==============
allow httpd_t crond_t:unix_stream_socket { read write };
allow httpd_t cvs_data_t:dir { getattr search };
allow httpd_t cvs_data_t:file { getattr read };
allow httpd_t cvs_data_t:lnk_file read;
allow httpd_t cvs_exec_t:file { read execute getattr execute_no_trans };
allow httpd_t initrc_t:unix_stream_socket { connectto read write };
allow httpd_t file_t:dir { search getattr };
allow httpd_t file_t:file getattr;
allow httpd_t httpd_log_t:file write;
allow httpd_t java_exec_t:file getattr;
allow httpd_t lib_t:file execute_no_trans;
allow httpd_t ls_exec_t:file { read execute getattr execute_no_trans };
allow httpd_t mysqld_etc_t:file { read getattr };
allow httpd_t mysqld_db_t:lnk_file read;
allow httpd_t public_content_rw_t:file { append rename setattr };
allow httpd_t public_content_rw_t:dir { add_name write remove_name };
allow httpd_t public_content_t:dir write;
allow httpd_t self:capability fowner;
allow httpd_t soundd_port_t:tcp_socket name_connect;
allow httpd_t tmp_t:file { read getattr write };
allow httpd_t unconfined_t:unix_stream_socket { read write };

#============= ifconfig_t ==============
allow ifconfig_t initrc_t:tcp_socket { read write };

#============= iso9660_t ==============
allow iso9660_t fs_t:filesystem associate;

#============= logwatch_t ==============
allow logwatch_t initrc_t:unix_stream_socket connectto;
allow logwatch_t mysqld_etc_t:file { getattr read };
allow logwatch_t mysqld_t:unix_stream_socket connectto;
allow logwatch_t mysqld_var_run_t:sock_file write;
allow logwatch_t user_home_dir_t:dir getattr;

#============= mailman_cgi_t ==============
allow mailman_cgi_t initrc_t:unix_stream_socket connectto;

#============= mailman_mail_t ==============
allow mailman_mail_t initrc_t:unix_stream_socket connectto;
allow mailman_mail_t lib_t:dir { write remove_name };
allow mailman_mail_t mailman_archive_t:dir { write search add_name getattr };
allow mailman_mail_t mailman_archive_t:file { read create getattr append };
allow mailman_mail_t mysqld_db_t:dir search;
allow mailman_mail_t mysqld_db_t:sock_file write;
allow mailman_mail_t mysqld_etc_t:file { read getattr };
allow mailman_mail_t mysqld_t:unix_stream_socket connectto;
allow mailman_mail_t mysqld_var_run_t:sock_file write;
allow mailman_mail_t self:capability { kill sys_tty_config };
allow mailman_mail_t sendmail_t:unix_stream_socket { read write };
allow mailman_mail_t usr_t:file { getattr read };

#============= mysqld_t ==============
allow mysqld_t crond_t:unix_stream_socket { read write };
allow mysqld_t file_t:dir { getattr search };
allow mysqld_t port_t:tcp_socket name_connect;
allow mysqld_t initrc_t:unix_stream_socket connectto;

#============= named_t ==============
allow named_t initrc_t:unix_stream_socket connectto;
allow named_t mysqld_db_t:dir search;
allow named_t mysqld_etc_t:file { read getattr };
allow named_t mysqld_t:unix_stream_socket connectto;
allow named_t mysqld_var_run_t:sock_file write;
allow named_t usr_t:file { read getattr };

#============= nscd_t ==============
allow nscd_t initrc_t:process signull;
allow nscd_t initrc_t:unix_stream_socket connectto;
allow nscd_t mysqld_db_t:dir search;
allow nscd_t mysqld_etc_t:file { read getattr };
allow nscd_t mysqld_t:unix_stream_socket connectto;
allow nscd_t mysqld_var_run_t:sock_file write;
allow nscd_t self:capability { dac_read_search dac_override };
allow nscd_t usr_t:file { read getattr };

#============= postfix_bounce_t ==============
allow postfix_bounce_t initrc_t:unix_stream_socket connectto;
allow postfix_bounce_t mysqld_db_t:dir search;
allow postfix_bounce_t mysqld_etc_t:file { read getattr };
allow postfix_bounce_t mysqld_t:unix_stream_socket connectto;
allow postfix_bounce_t mysqld_var_run_t:sock_file write;
allow postfix_bounce_t usr_t:file { read getattr };

#============= postfix_cleanup_t ==============
allow postfix_cleanup_t initrc_t:unix_stream_socket connectto;
allow postfix_cleanup_t mysqld_db_t:dir search;
allow postfix_cleanup_t mysqld_etc_t:file { read getattr };
allow postfix_cleanup_t mysqld_t:unix_stream_socket connectto;
allow postfix_cleanup_t mysqld_var_run_t:sock_file write;
allow postfix_cleanup_t usr_t:file { read getattr };

#============= postfix_master_t ==============
allow postfix_master_t crond_t:unix_stream_socket { read write };
allow postfix_master_t initrc_t:unix_stream_socket connectto;
allow postfix_master_t mysqld_etc_t:file { read getattr };
allow postfix_master_t unconfined_t:unix_stream_socket { read write };

#============= postfix_pickup_t ==============
allow postfix_pickup_t initrc_t:unix_stream_socket connectto;
allow postfix_pickup_t mysqld_db_t:dir search;
allow postfix_pickup_t mysqld_etc_t:file { read getattr };
allow postfix_pickup_t mysqld_t:unix_stream_socket connectto;
allow postfix_pickup_t mysqld_var_run_t:sock_file write;
allow postfix_pickup_t usr_t:file { read getattr };

#============= postfix_qmgr_t ==============
allow postfix_qmgr_t initrc_t:unix_stream_socket connectto;
allow postfix_qmgr_t mysqld_db_t:dir search;
allow postfix_qmgr_t mysqld_etc_t:file { read getattr };
allow postfix_qmgr_t mysqld_t:unix_stream_socket connectto;
allow postfix_qmgr_t mysqld_var_run_t:sock_file write;
allow postfix_qmgr_t usr_t:file { read getattr };

#============= postfix_smtp_t ==============
allow postfix_smtp_t initrc_t:unix_stream_socket connectto;
allow postfix_smtp_t mysqld_db_t:dir search;
allow postfix_smtp_t mysqld_etc_t:file { read getattr };
allow postfix_smtp_t mysqld_t:unix_stream_socket connectto;
allow postfix_smtp_t mysqld_var_run_t:sock_file write;
allow postfix_smtp_t usr_t:file { read getattr };

#============= postfix_smtpd_t ==============
allow postfix_smtpd_t initrc_t:unix_stream_socket connectto;
allow postfix_smtpd_t mysqld_db_t:dir search;
allow postfix_smtpd_t mysqld_etc_t:file { read getattr };
allow postfix_smtpd_t mysqld_t:unix_stream_socket connectto;
allow postfix_smtpd_t mysqld_var_run_t:sock_file write;

#============= procmail_t ==============
allow procmail_t file_t:dir search;
allow procmail_t httpd_sys_content_t:dir search;
allow procmail_t initrc_t:unix_stream_socket connectto;
allow procmail_t mysqld_db_t:dir search;
allow procmail_t mysqld_db_t:lnk_file read;
allow procmail_t mysqld_etc_t:file { read getattr };
allow procmail_t mysqld_t:unix_stream_socket connectto;
allow procmail_t mysqld_var_run_t:sock_file write;

#============= restorecon_t ==============
allow restorecon_t crond_t:fifo_file read;
allow restorecon_t crond_t:unix_stream_socket { read write };
allow restorecond_t initrc_t:unix_stream_socket connectto;

#============= semanage_t ==============
allow semanage_t httpd_sys_content_t:lnk_file read;
allow semanage_t initrc_t:unix_stream_socket connectto;
allow semanage_t mysqld_db_t:sock_file write;
allow semanage_t mysqld_db_t:lnk_file read;
allow semanage_t mysqld_t:unix_stream_socket connectto;
allow semanage_t mysqld_var_run_t:sock_file write;
allow semanage_t unconfined_t:unix_stream_socket connectto;

#============= setroubleshootd_t ==============
allow setroubleshootd_t initrc_t:unix_stream_socket connectto;

#============= system_chkpwd_t ==============
allow system_chkpwd_t initrc_t:unix_stream_socket connectto;

#============= system_dbusd_t ==============
allow system_dbusd_t initrc_t:unix_stream_socket connectto;
allow system_dbusd_t mysqld_db_t:dir search;
allow system_dbusd_t mysqld_etc_t:file { read getattr };
allow system_dbusd_t mysqld_t:unix_stream_socket connectto;
allow system_dbusd_t mysqld_var_run_t:sock_file write;
allow system_dbusd_t unconfined_t:unix_stream_socket connectto;

#============= system_mail_t ==============
allow system_mail_t crond_t:unix_stream_socket { read write };
allow system_mail_t cvs_t:unix_stream_socket { read write };
allow system_mail_t cvs_tmp_t:dir search;
allow system_mail_t httpd_t:file read;
allow system_mail_t initrc_t:unix_stream_socket connectto;
allow system_mail_t logwatch_t:unix_stream_socket { read write };
allow system_mail_t mysqld_db_t:lnk_file read;
allow system_mail_t mysqld_db_t:dir search;
allow system_mail_t mysqld_etc_t:file { getattr read };
allow system_mail_t mysqld_t:unix_stream_socket connectto;
allow system_mail_t mysqld_var_run_t:sock_file write;
allow system_mail_t tmp_t:file write;
allow system_mail_t usr_t:file { read getattr };

#============= updpwd_t ==============
allow updpwd_t initrc_t:unix_stream_socket connectto;
allow updpwd_t mysqld_db_t:lnk_file read;
allow updpwd_t mysqld_etc_t:file getattr;
allow updpwd_t var_spool_t:dir search;

#============= webalizer_t ==============
allow webalizer_t crond_t:unix_stream_socket { read write };
allow webalizer_t initrc_t:unix_stream_socket connectto;

#============= xfs_t ==============
allow xfs_t initrc_t:unix_stream_socket connectto;
allow xfs_t mysqld_db_t:dir search;
allow xfs_t mysqld_etc_t:file { read getattr };
allow xfs_t mysqld_t:unix_stream_socket connectto;
allow xfs_t mysqld_var_run_t:sock_file write;
