#git-notification-mattermost-section {

    & > div {
        margin: 0 0 20px 0;

        & > p > img.avatar {
            margin: 0 10px 0 0;
            width: 35px;
            height: 35px;
        }

        & > .bot-assigned-label {
            color: #444444;
            font-weight: bold;
            margin: auto auto 0 auto;
        }
    }
}

.form-group {
    margin-bottom: 15px;
}