body.trafficlights {
    box-sizing: border-box;

    > .wrapper {
        min-height: auto;

        .main {
            .breadcrumb, .toolbar {
                position: relative;
                z-index: 2;
            }

            .content {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                padding: 0 0 0 250px;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
    }

    &.sidebar-collapsed > .wrapper .main .content {
        padding: 0 0 0 45px;
    }
}

#trafficlights-breadcrumb {
    display: none;
}
