#modal-generate-pull-request {
    .modal-header {
        border-bottom: 2px solid #333;
    }

    .modal-body {
        > .form-group {
            display: inline-block;
            width: 49%;

            > select {
                width: 100%;
            }

            &:first-child {
                margin: 0 1% 0 0;
            }
        }
    }
}

#pull-request-help-text {
    button {
        opacity: 1;
    }
}

body.git-pull-requests .main .content {
    padding: 0;

    #plugin_git_reference {
        padding: 12px;
    }
}
