<?php  // -*-html-*-
/* $Id$
 *
 * This template is used for the FrameInclude plugin.
 */

$topurl = $request->getURLtoSelf(array('frame' => 'header'));
$boturl = $request->getURLtoSelf(array('frame' => 'footer'));
$lefturl = $request->getURLtoSelf(array('frame' => 'left'));

printf("<?xml version=\"1.0\" encoding=\"%s\"?>\n", CHARSET);
?>
<!DOCTYPE html   PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?= Template('head') ?>

<frameset rows="<?=$ROWS?>">
  <frame name="header" src="<?=$topurl?>" <?= $FRAMEARGS ?> />
  <frameset cols="<?=$COLS?>">
    <frame name="left" src="<?=$lefturl?>" <?= $FRAMEARGS ?> />
    <?= $CONTENT_FRAME ?>
  </frameset>
  <frame name="footer" src="<?=$boturl?>" <?= $FRAMEARGS ?> />
  <noframes><?= Template('body') ?></noframes>
</frameset>
</html>
