<h2>{{# dgettext }} tuleap-tracker | Notifications {{/ dgettext }}</h2>
<p class="alert alert-warning">
    {{# dgettext }}
        tuleap-tracker
        | Status change notification is under development, this option will not be taken in account for now.
    {{/ dgettext }}
</p>
<p>
    {{# dgettext }}
        tuleap-tracker
        | As a tracker administrator, you can temporarily suspend all the e-mail notifications in this tracker,
          regardless of the notification settings below.
    {{/ dgettext }}
</p>
<input type="hidden" name="notifications_level" value="0" />
<label class="radio">
    <input type="radio" name="notifications_level" value="{{ disabled_value }}" {{# is_disabled }}checked{{/ is_disabled }} />
    {{# dgettext }}
        tuleap-tracker
        | No notifications
    {{/ dgettext }}
</label>
<label class="radio">
    <input type="radio" name="notifications_level" value="{{ default_value }}" {{# is_default }}checked{{/ is_default }} />
    {{# dgettext }}
        tuleap-tracker
        | Default Tuleap notifications (people will get notified when they are submitter, assignee, commenter or CC)
    {{/ dgettext }}
</label>
<label class="radio">
    <input type="radio" name="notifications_level" value="{{ status_change_value }}" {{# is_status_change }}checked{{/ is_status_change }} />
    {{# dgettext }}
        tuleap-tracker
        | Status change notifications (people will get notified when artifact status is updated)
    {{/ dgettext }}
</label>
<input class="btn" type="submit" value="{{# dgettext }} tuleap-tracker | Submit {{/ dgettext }}"/>