<div class="tlp-framed-horizontally">
    <div class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">{{# dgettext }}tuleap-tracker | Global Email Notification{{/ dgettext }}</h1>
            </div>
            <div class="tlp-pane-section">
                <p>{{ admin_note }}</p>
                <div class="tlp-table-actions">
                    <button type="button" class="tlp-button-primary" id="tracker-global-notifications-add"
                            data-test="add-notification" data-target-modal-id="tracker-global-notifications-add-modal">
                        <i class="fa-solid fa-plus"></i>
                        {{ add_notification }}
                    </button>
                </div>
                <table class="tlp-table">
                    <thead>
                    <tr>
                        <th> {{ notified_people }}</th>
                        <th class="tracker-global-notifications-checkbox-cell"> {{ send_all }}</th>
                        <th class="tracker-global-notifications-checkbox-cell">{{ check_perms }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# has_notifications }}
                        {{# notifications }}
                            {{# has_notified }}
                                <tr data-target-input-id="edit_email_{{ notification_id }}">
                                    <td>
                                        <div class="tracker-global-notifications-checkbox-cell-read">
                                                {{# ugroups_to_be_notified }}
                                                    <span class="tracker-notification-email-list-entry">
                                                            <i class="fa-solid fa-users"></i>
                                                        {{ label }}<span
                                                        class="tracker-notification-email-list-separator">, </span>
                                                        </span>
                                                {{/ ugroups_to_be_notified }}
                                                {{# users_to_be_notified }}
                                                    <span class="tracker-notification-email-list-entry">
                                                            <div
                                                                class="tlp-avatar-mini">
                                                                <img src="{{ avatar_url }}" loading="lazy" aria-hidden="true"/>
                                                            </div>
                                                        {{ display_name }}<span
                                                        class="tracker-notification-email-list-separator">, </span>
                                                    </span>
                                                {{/ users_to_be_notified }}
                                                {{# emails_to_be_notified }}
                                                    <span class="tracker-notification-email-list-entry">
                                                            {{ . }}<span
                                                        class="tracker-notification-email-list-separator">, </span>
                                                        </span>
                                                {{/ emails_to_be_notified }}
                                            </div>
                                    </td>
                                    <td class="tracker-global-notifications-checkbox-cell">
                                        {{# all_updates }}<i class="fa-solid fa-check"></i>{{/ all_updates }}
                                    </td>
                                    <td class="tracker-global-notifications-checkbox-cell">
                                        {{# check_permissions }}
                                            <i class="fa-solid fa-check"></i>{{/ check_permissions }}
                                    </td>
                                    <td class="tlp-table-cell-actions">
                                        <a href="#"
                                           class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline tracker-notification-modal-button-trigger"
                                           data-test="edit-notification"
                                           data-target-modal-id="tracker-notification-edit-{{ notification_id }}-modal"
                                        >
                                            <i class="fa-solid fa-pencil-alt" aria-hidden="true"></i>
                                            {{ edit }}
                                        </a>
                                        <a
                                            href="#"
                                           class="tlp-table-cell-actions-button tlp-button-small tlp-button-danger tlp-button-outline tracker-notification-modal-button-trigger"
                                           data-target-modal-id="tracker-notification-delete-{{ notification_id }}-modal"
                                        >
                                            <i class="far fa-trash-alt" aria-hidden="true"></i>
                                            {{ delete }}
                                        </a>
                                    </td>
                                </tr>
                            {{/ has_notified }}
                        {{/ notifications }}
                    {{/ has_notifications }}
                    {{^ has_notifications }}
                        <tr>
                            <td class="tlp-table-cell-empty" colspan="4">
                                {{ empty_notification }}
                            </td>
                        </tr>
                    {{/ has_notifications }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> notifications-add-modal}}

{{# notifications }}
    {{# has_notified }}
        {{> notifications-edit-modal}}
        {{> notifications-delete-modal}}
    {{/has_notified}}
{{/ notifications }}
