<div id="tracker-unsubscriber-delete-{{ user_id }}-modal" role="dialog" aria-labelledby="tracker-unsubscriber-delete-{{ user_id }}-title" class="tlp-modal tlp-modal-danger">
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="tracker-unsubscriber-delete-{{ user_id }}-title">{{# dgettext }} tuleap-tracker | Wait a minute... {{/ dgettext }}</h1>
        <button class="tlp-modal-close" type="button" data-dismiss="modal" aria-label="{{# dgettext }} tuleap-tracker | Close {{/ dgettext }}">
            <i class="fa-solid fa-xmark tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>
    <div class="tlp-modal-body">
        <p>{{# dgettext }} tuleap-tracker | You are about to remove the user from the unsubscriber list. Please confirm your action. {{/ dgettext }}</p>
    </div>
    <div class="tlp-modal-footer">
        <button type="button" data-dismiss="modal" class="tlp-button-danger tlp-button-outline tlp-modal-action">
            {{# dgettext }} tuleap-tracker | Cancel {{/ dgettext }}
        </button>
        <button type="submit"
                name="remove_unsubscribers[{{ user_id }}]"
                value="1"
                class="tlp-button-danger tlp-modal-action">{{# dgettext }} tuleap-tracker | Confirm deletion {{/ dgettext }}
        </button>
    </div>
</div>
