.test-definition-list {
    > thead > tr {
        background: #E4E4E4;

        & > th {
            vertical-align: top;
            border-left-color: #D2D2D2;
            border-bottom: 2px solid #B2B2B2;
        }
    }

    > tbody > tr:first-child > td {
        border-top: none;
    }

    > thead > tr > th, & > tbody > tr > td {
        vertical-align: middle;
    }

    > thead > tr > th:nth-child(3), & > tbody > tr > td:nth-child(3) {
        width: 70%;
    }
    > thead > tr > th:nth-child(4), & > tbody > tr > td:nth-child(4) {
        width: 30%;
    }
}

.definitions-pagination-container {
    text-align: center;
}

#campaign-new-button-bar {
    border-top: 1px solid #e0e0e0;

    > button > .icon-spinner {
        margin-right: 4px;
    }
}

#campaign-new-container {

    > .tabbable {
        margin-top: 14px;
    }

    .loading-definitions {
        text-align: right;
        color: #444;

        img {
            margin: 0 5px 0 0;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;

            &.ng-hide {
                display: inline !important;
                opacity: 0;
            }
        }

        > span {
            position: relative;
            top: 1px;
            font-size: 0.95em;

            .total-definitions {
                font-size: 1.1em;
                font-weight: bold;
            }
        }
    }

    > .tabbable > .nav-tabs,
    .pagination > ul {
        > li:not(.active) > a {
            cursor: pointer
        }
    }
}

td.selected-all {
    text-align: center;

    a {
        color: #333;
        text-decoration: underline;
        cursor: pointer;
    }
}
