@import "colors";

#campaign-list-container {
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #f0f1f8;

    > .no-campaigns {
        margin: 50px 0 100px;
        padding: 110px 0 0;
        text-align: center;

        > span {
            font-size: 0.9em;
            color: #AAAAAA;
        }
    }
}

#campaign-list-utils {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;

    > input {
        background-color: #FFFFFF;
        border-radius: 50px;
    }
}

#campaign-list-utils-information {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > h1 {
        margin: 0 20px 0 0;
        font-size: 30px;
        font-weight: 400;
    }

    > button {
        background-image: none;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
    }
}

#campaign-list-content {

    > div {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #FFFFFF;
        border-radius: 3px;
        min-height: 100px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.1);
    }
}

#campaign-list-content-label {
    padding: 20px 0;
    flex: 0 1 auto;
    text-align: center;
    font-size: 20px;
    min-width: 25%;
}

#campaign-list-content-redirection {
    padding: 20px 0;
    flex: 0 1 auto;
    text-align: center;
    min-width: 25%;
}

#campaign-list-content-test-progression {
    padding: 20px 0;
    flex: 0 1 auto;
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

#campaign-list-content-test-progression-label {
    text-transform: uppercase;
    min-height: 40px;
    text-align: center;
    color: $notrun;
}

#campaign-list-content-test-progression-bar {
    display: flex;
    flex: 1 1 auto;

    > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: bold;

        > div {
            height: 4px;
            width: 100%;
        }

        > span {
            padding-bottom: 5px;
        }
    }

    > .sense-of-progress-failed {

        > span {
            color: $failed;
        }

        > div {
            background-color: $failed;
        }
    }

    > .sense-of-progress-blocked {

        > span {
            color: $blocked;
        }

        > div {
            background-color: $blocked;
        }
    }

    > .sense-of-progress-passed {

        > span {
            color: $passed;
        }

        > div {
            background-color: $passed;
        }
    }

    > .sense-of-progress-notrun {

        > span {
            color: $notrun;
        }

        > div {
            background-color: $notrun;
        }
    }
}

#campaign-list-content-load {
    text-align: center;
    margin-top: 50px;

    > a {
        cursor: pointer;
    }
}

#no-closed-campaigns {
    background: url('closed-campaigns.png') no-repeat center top;
}

#no-open-campaigns {
    background: url('open-campaigns.png') no-repeat center top;
}
