.modal-lg {
    max-width: 800px;
    width: 70vw;
    left: unset;
    margin-left: 50%;
    transform: translateX(-50%);

    .modal-body {
        max-height: 80vh;
    }
}

#campaign-edit-header {
    display: flex;
    justify-content: space-between;

    > .close {
        font-size: 2em;
    }
}

#campaign-edit-action-bar {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;

    .filter {
        width: 250px;
        margin: unset;
    }
}

#campaign-edit-executions-list {
    $padding: 8px;
    $checkbox-size: 14px;

    > thead, tfoot {
        display: block;
    }
    > tbody {
        display: block;
        max-height: 35vh;
        overflow: auto;
    }

    > tbody > tr > th, > tbody > tr > td {
        padding: $padding;
    }

    > thead > tr > th:nth-of-type(1), > tbody > tr > td:nth-of-type(1):not([colspan]) {
        min-width: $checkbox-size + $padding * 2;
        box-sizing: border-box;
    }

    > thead > tr > th:nth-of-type(2), > tbody > tr > td:nth-of-type(2) {
        min-width: 10%;
    }

    > thead > tr > th:nth-of-type(3), > tbody > tr > td:nth-of-type(3) {
        width: 100%;
    }

    .table-cell-section {
        line-height: $checkbox-size + (1 / 7) * $checkbox-size;
    }

    .checklist-check {
        cursor: pointer;
        font-size: $checkbox-size;
        vertical-align: bottom;

        &:before {
            width: $checkbox-size * 1.2;
        }
    }

    .test-added {
        color: green;
    }

    .test-removed {
        color: lightgrey;
        text-decoration: line-through;
    }
}

#campaign-edit-footer {
    display: flex;
    justify-content: space-between;
    font-size: 17.5px;

    &:before, &:after {
      content: none;
    }

    > div {
        align-self: center;
    }
}

#campaign-edit-executions-diff {
    margin-left: -15px;
    text-align: left;

    > div {
        margin-left: 15px;
    }
}

#campaign-edit-executions-add {
    display: inline-block;
    color: green;

    &:before {
        display: inline;
        content: '\2714';
        margin-right: 3px;
    }
}

#campaign-edit-executions-remove {
    display: inline-block;
    color: red;

    &:before {
        display: inline;
        content: '\2718';
        margin-right: 3px;
    }
}

