{{# has_status_field_not_defined }}
    <li>
        {{# dgettext }}
            tuleap-program_management |
            Status semantic is not linked to a field in program tracker <a href='%s'>#%s</a>: |
            {{ semantic_url }} |
            {{ tracker_id }}
        {{/ dgettext }}
        {{# semantic_status_no_field }}
            <a href='/plugins/tracker/?tracker={{ getTrackerId }}&func=admin-semantic&semantic=status'>#{{ getTrackerId }} ({{ getTrackerName }})</a>
        {{/ semantic_status_no_field }}
    </li>
{{/ has_status_field_not_defined }}

{{# has_status_missing_in_teams }}
    <li>
        {{# dgettext }}
            tuleap-program_management |
            Some tracker does not have status semantic defined, please check trackers
        {{/ dgettext }}
        {{# status_missing_in_teams }}
            <a href='/plugins/tracker/?tracker={{ getTrackerId }}&func=admin-semantic&semantic=status'>{{ getTrackerName }} (#{{ getTrackerId }})</a>
        {{/ status_missing_in_teams }}
    </li>
{{/ has_status_missing_in_teams }}

{{# has_status_missing_values }}
    <li>
        {{# semantic_status_missing_values }}
            {{# dgettext }}
                tuleap-program_management |
                Values '%s' are not found in every tracker, please check tracker |
                {{ missing_values }}
            {{/ dgettext }}
            {{# trackers }}
                <a href='/plugins/tracker/?tracker={{ getTrackerId }}&func=admin-semantic&semantic=status'>{{ getTrackerName }} (#{{ getTrackerId }})</a>
            {{/ trackers }}
        {{/ semantic_status_missing_values }}
    </li>
{{/ has_status_missing_values }}
