{{# has_status_field_not_defined }}
    <li>
        {{# semantic_status_no_field }}
            <a href='{{ semantic_url }}'>
              {{# dgettext }}
                  tuleap-program_management |
                  Status semantic is not linked to a field in program tracker <a href='%s'>#%s</a>: |
                  {{ semantic_url }} |
                  {{ tracker_id }}
              {{/ dgettext }}
            </a>
        {{/ semantic_status_no_field }}
    </li>
{{/ has_status_field_not_defined }}

{{# has_status_missing_in_teams }}
    <li>
        {{# dgettext }}
            tuleap-program_management |
            Semantic 'status' is not well configured. Please check semantic of following trackers:
        {{/ dgettext }}
        {{# status_missing_in_teams }}
            <a href='/plugins/tracker/?tracker={{ getId }}&func=admin-semantic&semantic=status'>
              {{# dgettext }}
                tuleap-program_management |
                %s of project %s |
                {{ getLabel }} |
                {{ getProjectLabel }}
              {{/ dgettext }}
            </a>
        {{/ status_missing_in_teams }}
    </li>
{{/ has_status_missing_in_teams }}

{{# has_status_missing_values }}
    <li>
        {{# semantic_status_missing_values }}
            {{# dgettext }}
                tuleap-program_management |
                Values '%s' are not found in every tracker, please check tracker |
                {{ missing_values }}
            {{/ dgettext }}
            {{# trackers }}
                <a href='/plugins/tracker/?tracker={{ getId }}&func=admin-semantic&semantic=status'>
                  {{# dgettext }}
                    tuleap-program_management |
                    %s of project %s |
                    {{ getLabel }} |
                    {{ getProjectLabel }}
                  {{/ dgettext }}
                </a>
            {{/ trackers }}
        {{/ semantic_status_missing_values }}
    </li>
{{/ has_status_missing_values }}
