<ul class="nav nav-tabs">
  <li><a href="/plugins/testing/?group_id=1&resource=requirement">Requirements</a></li>
  <li class="active"><a href="/plugins/testing/?group_id=1&resource=campaign">Campaigns</a></li>
  <li><a href="/plugins/testing/?group_id=1&resource=report">Reports</a></li>
</ul>

<h2>{{# campaign }}<a href="{{ show_uri }}">{{ name }}</a> » {{/ campaign }}
    {{ name }} {{# last_result }}{{> label-status }}{{/ last_result }}
</h2>

<p><label>Assigned to:</label> {{ assignee }}</p>

<h3>Specification</h3>
{{{ specification }}}

<h3>Results</h3>
<form action="{{ create_result_uri }}" method="POST">
    <div class="form-actions">
        <table><tr>
            <td>
                <textarea placeholder="Notes, description, …" rows="10" cols="60" name="message"></textarea>
            </td>
            <td>
                <ul class="result_choices">
                    {{# last_result }}
                    <li>
                        <label>
                            <input type="radio" name="status" value="{{ not_run_value }}" {{# is_not_run }}checked="checked"{{/ is_not_run }}>
                            <span class="label" title="Not run">Not run</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="status" value="{{ passed_value }}" {{# is_passed }}checked="checked"{{/ is_passed }}>
                            <span class="label label-success" title="Passed">Passed</span>
                        </label>
                    </li>
                    <li>
                        <label class="result_choice">
                            <input type="radio" name="status" value="{{ failed_value }}" {{# is_failed }}checked="checked"{{/ is_failed }}>
                            <span class="label label-important" title="Failed">Failed</span>
                        </label>
                    </li>
                    <li>
                        <label class="result_choice">
                            <input type="radio" name="status" value="{{ not_completed_value }}" {{# is_not_completed }}checked="checked"{{/ is_not_completed }}>
                            <span class="label label-info" title="Not completed">Not completed</span>
                        </label>
                    </li>
                    {{/ last_result }}
                </ul>
                <p><a href="#submit-new-artifact" class="tracker-submit-new" data-toggle="modal" > log a defect</a></p>
                <p>
                    <button type="submit" name="save" class="btn">Save</button>
                    <button type="button" name="save-and-continue" class="btn disabled">Save and continue</button>
                </p>
            </td>
        </tr></table>
    </div>
</form>

<script type="text/javascript" src="/plugins/tracker/scripts/TrackerFieldDependencies.js"></script>
<div id="submit-new-artifact" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <form action="{{ create_defect_uri }}" method="POST" enctype="multipart/form-data">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="myModalLabel">Log a new defect</h3>
        </div>
        <div class="modal-body">
            {{# create_defect_form }}
                {{{ fields }}}
            {{/ create_defect_form }}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>

{{# has_results }}
<div class="row-fluid">
    {{# has_defects }}
    <div class="span6">
        <h3>Defects</h3>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Defect</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{# defects }}
                    <tr>
                        <td>{{{ link }}}</td>
                        <td>{{ status }}</td>
                    </tr>
                {{/ defects }}
            </tbody>
        </table>
    </div>
    {{/ has_defects }}
    <div class="span{{# has_defects }}6{{/has_defects}}{{^ has_defects}}12{{/ has_defects}}">
        <h3>Last results</h3>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Reporter</th>
                    <th>Date</th>
                    <th>Result</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {{# results }}
                    {{# executed_on }}
                    <tr class="{{# is_passed}}success{{/ is_passed }}{{# is_failed}}error{{/ is_failed }}{{# is_not_run }}not_run_status_row{{/ is_not_run }}{{# is_not_completed }}info{{/ is_not_completed}}">
                        <td>{{ executed_by }}</td>
                        <td>{{ executed_on }}</td>
                        <td>{{> label-status }}</td>
                        <td class="span6">{{{ message }}}</td>
                    </tr>
                    {{/ executed_on }}
                {{/ results }}
            </tbody>
        </table>
    </div>
</div>
{{/ has_results }}
