<h1 class="tlp-framed-horizontally project-administration-title" data-test="title">
    {{# dgettext }}tuleap-mediawiki_standalone | MediaWiki administration{{/ dgettext }}
</h1>
<div class="tlp-framed">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    {{# dgettext }}tuleap-mediawiki_standalone | Permissions{{/ dgettext }}
                </h1>
            </div>
            <form class="tlp-pane-section" action="{{ post_url }}" method="post">
                <div class="tlp-form-element">
                    <label class="tlp-label" for="readers">
                        {{# dgettext }}
                            tuleap-mediawiki_standalone |
                            User groups who can read
                        {{/ dgettext }}
                    </label>
                    <select class="tlp-select tlp-select-adjusted" id="readers" data-test="readers" name="readers[]" size="7" multiple>
                        {{# readers }}
                            <option value="{{ id }}" {{# is_selected }}selected="selected"{{/is_selected}}>
                                {{ name }}
                            </option>
                        {{/ readers }}
                    </select>
                </div>

                <div class="tlp-form-element">
                    <label class="tlp-label" for="writers">
                        {{# dgettext }}
                            tuleap-mediawiki_standalone |
                            User groups who can write
                        {{/ dgettext }}
                    </label>
                    <select class="tlp-select tlp-select-adjusted" id="writers" data-test="writers" name="writers[]" size="7" multiple>
                        {{# writers }}
                            <option value="{{ id }}" {{# is_selected }}selected="selected"{{/is_selected}}>
                                {{ name }}
                            </option>
                        {{/ writers }}
                    </select>
                </div>

                <div class="tlp-form-element">
                    <label class="tlp-label" for="writers">
                        {{# dgettext }}
                            tuleap-mediawiki_standalone |
                            User groups who can administrate
                        {{/ dgettext }}
                    </label>
                    <select class="tlp-select tlp-select-adjusted" id="admins" data-test="admins" name="admins[]" size="7" multiple>
                        {{# admins }}
                            <option value="{{ id }}" {{# is_selected }}selected="selected"{{/is_selected}}>
                                {{ name }}
                            </option>
                        {{/ admins }}
                    </select>
                    <p class="tlp-text-info">
                        <i class="fa-solid fa-circle-info" aria-hidden="true"></i>
                        {{# dgettext }}
                            tuleap-mediawiki_standalone |
                            Project administrators are de facto administrators of MediaWiki
                        {{/ dgettext }}
                    </p>
                </div>

                <div class="tlp-pane-section-submit">
                    {{# csrf_token }}
                        {{> csrf_token_input }}
                    {{/csrf_token}}
                    <button type="submit" class="tlp-button-primary" data-test="submit">
                        <i class="fa-regular fa-floppy-disk tlp-button-icon" aria-hidden="true"></i>
                        {{# dgettext }}tuleap-mediawiki_standalone | Save configuration{{/ dgettext }}
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
