<h1>{{# gettext }}Platform banner configuration{{/ gettext }}</h1>
<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">
                <i class="tlp-pane-title-icon fa fa-bullhorn"></i>
                {{# gettext }}Message{{/ gettext }}
            </h1>
        </div>
        <section class="tlp-pane-section">
            <div id="platform-banner-admin" data-banner-message="{{ message }}" data-banner-importance="{{ importance }}"></div>
        </section>
    </div>
</section>
