<?php // -*-html-*-
  rcs_id('');
?>
<hr class="printer" noshade="noshade" />
<p class="editdate"><?= $WikiTheme->getLastModifiedMessage($revision) ?> <?= $WikiTheme->getAuthorMessage($revision) ?></p>
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
<div class="toolbar">
<?= Template('actionbar') ?>
</div>
<?php } ?>
