<h1 class="project-administration-title">
    {{# gettext }}Mailing lists administration{{/ gettext }}
</h1>
<div class="tlp-framed">
    <div class="tlp-alert-warning">
        <i class="fa fa-power-off"></i>
        {{# gettext }}
            This plugin will be removed in september 2023
        {{/gettext}}
    </div>
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    <i class="fas fa-envelope tlp-pane-title-icon" aria-hidden="true"></i>
                    {{# gettext }}Mailing lists{{/ gettext }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                <div class="tlp-table-actions">
                    <a class="tlp-button-primary tlp-table-actions-element" href="{{ creation_url }}">
                        <i class="fas fa-plus tlp-button-icon" aria-hidden="true"></i>
                        {{# gettext }}New mailing list{{/ gettext }}
                    </a>
                </div>
                <table class="tlp-table">
                    <thead>
                        <tr>
                            <th>{{# gettext }}List{{/ gettext }}</th>
                            <th>{{# gettext }}Description{{/ gettext }}</th>
                            <th>{{# gettext }}Public{{/ gettext }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{^ lists }}
                            <td colspan="4" class="tlp-table-cell-empty">
                                {{# gettext }} There isn't any mailing list yet{{/ gettext }}
                            </td>
                        {{/ lists }}
                        {{# lists }}
                            <tr>
                                <td class="mailing-list-title">
                                    {{ name }}
                                </td>
                                <td>
                                    {{ description }}
                                </td>
                                <td>
                                    {{# is_public }}
                                        <i class="fas fa-check" aria-hidden="true"></i>
                                    {{/ is_public }}
                                </td>
                                <td class="tlp-table-cell-actions">
                                    <button
                                        class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline mailing-lists-action-button"
                                        type="button"
                                        data-target-modal-id="mailing-lists-edit-list-modal-{{ id }}"
                                    >
                                        <i class="tlp-button-icon fas fa-pencil-alt" aria-hidden="true"></i>
                                        {{# gettext }}Edit{{/ gettext }}
                                    </button>
                                    <a class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline"
                                       href="{{ admin_url }}"
                                    >
                                        <i class="tlp-button-icon fas fa-cogs" aria-hidden="true"></i>
                                        {{# gettext }}Administration in Mailman{{/ gettext }}
                                    </a>
                                    <button
                                        class="tlp-table-cell-actions-button tlp-button-small tlp-button-danger tlp-button-outline mailing-lists-action-button"
                                        type="button"
                                        data-target-modal-id="mailing-lists-delete-list-modal-{{ id }}"
                                    >
                                        <i class="tlp-button-icon fas fa-trash-alt" aria-hidden="true"></i>
                                        {{# gettext }}Delete{{/ gettext }}
                                    </button>
                                </td>
                            </tr>
                        {{/ lists }}
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</div>

{{# lists }}
    {{> edit-mailing-list-modal }}
    {{> delete-mailing-list-modal }}
{{/ lists }}
