
<form
    method="POST"
    action="{{ update_url }}"
    id="mailing-lists-edit-list-modal-{{ id }}"
    class="tlp-modal"
    role="dialog"
    aria-labelledby="mailing-lists-edit-list-modal-{{ id }}-label"
>
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title">
            <span id="mailing-lists-edit-list-modal-{{ id }}-label">
                {{# gettext }}Edit %s | {{ name }}{{/ gettext }}
            </span>
        </h1>
        <button class="tlp-modal-close"
             type="button"
             data-dismiss="modal"
             aria-label="{{# gettext }}Close{{/ gettext }}"
        >
            <i class="fas fa-times tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>
    <div class="tlp-modal-body">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        <div class="tlp-form-element">
            <label class="tlp-label tlp-checkbox">
                <input type="hidden" name="is_public" value="0">
                <input type="checkbox" name="is_public" value="1" {{# is_public }}checked{{/ is_public }}>
                {{# gettext }}Public{{/ gettext }}
            </label>
            <p class="tlp-text-info">
                <i class="fas fa-info-circle" aria-hidden="true"></i>
                {{# gettext }}Public means subscription right is granted to any user, and archives are public{{/ gettext }}
            </p>
        </div>

        <div class="tlp-form-element">
            <label class="tlp-label" for="description">Description</label>
            <textarea
                class="tlp-textarea"
                id="description"
                name="description"
                placeholder="{{# gettext }}List about development of…{{/ gettext }}"
                cols="60"
            >{{ description }}</textarea>
        </div>
    </div>
    <div class="tlp-modal-footer">
        <button type="reset" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{# gettext }}Cancel{{/ gettext }}
        </button>
        <button type="submit" class="tlp-button-primary tlp-modal-action">
            <i class="far fa-save tlp-button-icon" aria-hidden="true"></i>
            {{# gettext }}Update mailing list{{/gettext}}
        </button>
    </div>
</form>
