<h1 class="project-administration-title">
    {{# gettext }}Mailing lists{{/ gettext }}
</h1>
<div class="tlp-framed">
    <div class="tlp-alert-warning">
        <i class="fa fa-power-off"></i>
        {{# gettext }}
            This plugin will be removed in september 2023
        {{/gettext}}
    </div>
    {{# purified_overridable_intro }}
        <p>{{{ . }}}</p>
    {{/ purified_overridable_intro
    }}
    {{# has_lists }}
        <section class="mailing-list-homepage">
            {{# lists }}
                <div class="mailing-list-container">
                    <a class="tlp-card tlp-card-selectable" href="{{ public_url }}">
                        <span class="mailing-list-card-title">{{ name }}</span>
                        <span class="mailing-list-card-description">{{ description }}</span>
                    </a>
                    <div class="tlp-dropdown mailing-list-dropdown">
                        <i class="fas fa-cog fa-fw mailing-list-dropdown-trigger"></i>
                        <div class="tlp-dropdown-menu tlp-dropdown-menu-on-icon" role="menu">
                            {{# archive_urls }}
                                <a href="{{ url }}" class="tlp-dropdown-menu-item" role="menuitem">
                                    {{ label }}
                                </a>
                            {{/ archive_urls }}
                            <span class="tlp-dropdown-menu-separator" role="separator"></span>
                            <a href="{{ subscribe_url }}" class="tlp-dropdown-menu-item" role="menuitem">
                                {{# gettext }}(Un)Subscribe/Preferences{{/ gettext }}
                            </a>
                            <a href="{{ admin_url }}" class="tlp-dropdown-menu-item" role="menuitem">
                                {{# gettext }}ML Administration{{/ gettext }}
                            </a>
                        </div>
                    </div>
                </div>
            {{/ lists }}
        </section>
    {{/ has_lists }}
    {{^ has_lists }}
        <section class="empty-state-page">
            <h1 class="empty-state-title">
                {{# gettext }}There isn't any mailing lists yet{{/ gettext }}
            </h1>
            {{^ is_project_admin }}
                <p class="empty-state-text">
                    {{# gettext }}There isn't any mailing lists yet or you don't have permissions to see them.{{/ gettext }}
                </p>
            {{/ is_project_admin }}

            {{# is_project_admin }}
                <a href="{{ creation_url }}" class="empty-state-action tlp-button-primary">
                    <i class="fas fa-plus tlp-button-icon"></i>
                    {{# gettext }}New mailing list{{/ gettext }}
                </a>
            {{/ is_project_admin }}
        </section>
    {{/ has_lists }}
</div>
