#
# The MySQL database server configuration file.
#

#[mysqld]
#datadir=/var/opt/rh/rh-mysql57/lib/mysql
#socket=/var/lib/mysql/mysql.sock
#log-error=/var/opt/rh/rh-mysql57/log/mysql/mysqld.log
#pid-file=/var/run/rh-mysql57-mysqld/mysqld.pid

[mysqld]
#
# * Basic Settings
#
user                                = mysql
pid_file                            = /var/run/rh-mysql57-mysqld/mysqld.pid
socket                              = /var/lib/mysql/mysql.sock
port                                = 3306
datadir                             = /tmp/mysql
tmpdir                              = /tmp
skip_external_locking
bind_address                        = 0.0.0.0

sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

#
# * Fine Tuning
#
key_buffer_size                     = 32M  # default: 8M
max_allowed_packet                  = 32M  # default: 4M
#thread_stack                        = 256K  # default: 256K
thread_cache_size                   = -1    # default: -1
skip_name_resolve

innodb_data_home_dir                = /tmp/mysql
innodb_data_file_path               = ibdata1:32M:autoextend # default 12M
innodb_buffer_pool_size             = 512M # default: 128M
#innodb_additional_mem_pool_size     = 8M    # default: 8M
innodb_log_group_home_dir           = /tmp/mysql
innodb_log_files_in_group           = 2    # default: 2
innodb_log_file_size                = 128M # default: 50M
innodb_log_buffer_size              = 16M  # default: 8M
innodb_flush_log_at_trx_commit      = 2    # default: 1
innodb_support_xa                   = 1    # default: 1
innodb_lock_wait_timeout            = 30   # default: 50
innodb_flush_method                 = O_DIRECT  # default: NULL
innodb_thread_concurrency           = 0   # default: 0
innodb_table_locks                  = 0   # default: 1
innodb_doublewrite                  = 1   # default: 1
innodb_open_files                   = -1  # default: -1
innodb_buffer_pool_instances        = 8   # default: 8

table_open_cache                    = 4000  # default: 2000
sort_buffer_size                    = 512K  # default: 256K
read_buffer_size                    = 512K  # default: 128K
join_buffer_size                    = 1M    # default: 256K
myisam_sort_buffer_size             = 256M  # default: 8M
max_connections                     = 550   # default: 151
tmp_table_size                      = 256M  # default: 16M
max_heap_table_size                 = 256M  # default: 128M
open_files_limit                    = 65535 # default: 5000
wait_timeout                        = 300   # default: 28800
table_definition_cache              = 4096  # default: -1
table_open_cache                    = 4096  # default: 2000

#
# * Query Cache Configuration
#
query_cache_size                    = 0  # default: 1M

#
# * Logging
#
general_log                         = 0
slow_query_log                      = 0
long_query_time                     = 1
