label {
    font-weight: 600;
    color: #555;
}

.help-block {
    font-size: 12px;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label,
.has-error label {
    color: $color-error;
}

.has-error .form-control {
    border: 1px solid $color-error;
}

.error-block {
    position: relative;
    display: block;
    margin: 5px 0 10px;
    padding: 0 0 0 16px;
    color: $color-error;

    &:before {
        content: '\f06a';
        font-family: FontAwesome;
        position: absolute;
        left: 0;
    }
}

div.input-search {
    position: relative;

    &:before {
        content: '\f002';
        font-family: FontAwesome;
        position: absolute;
        top: 6px;
        left: 11px;
        opacity: 0.5;

    }

    > input {
        padding-left: 30px;
    }

    &.input-search-sm {
        &:before {
            font-size: 12px;
        }
        > input {
            padding-left: 27px;
        }
    }
    &.input-search-lg {
        &:before {
            font-size: 16px;
            top: 11px;
        }
        > input {
            padding-left: 35px;
        }
    }
}

fieldset {
    margin: 0 0 30px;
    border: 1px solid #EFEFEF;
    border-radius: 3px;

    > legend {
        float: left;
        padding: 5px 10px 7px;
        border-bottom: 2px solid $main-color;
    }

    > div.fieldset-content {
        padding: 10px;
    }

    &.fieldset-collapsable {
        > legend {
            padding: 5px 10px 7px 0;

            .fieldset-collapsable-trigger {
                cursor: pointer;

                &:before {
                    content: '\f147';
                    font-family: FontAwesome;
                    font-style: normal;
                    font-size: 14px;
                    color: $main-color;
                    position: relative;
                    top: -2px;
                    padding: 10px;
                }
            }
        }

        &.fieldset-closed {
            > legend {
                margin: 0;
                border-radius: 2px;

                > .fieldset-collapsable-trigger:before {
                    content: '\f196';
                }
            }

            > div.fieldset-content {
                overflow: hidden;
                height: 0;
                padding: 0;
            }
        }
    }
}