<div class="tracker-administration-semantic-timeframe">
    <div class="alert alert-warning">
        {{# dgettext }}
            tuleap-tracker
            | The timeframe of an artifact is defined for the moment by the fields <b>Start date</b> and <b>Duration</b>. It is advised to define explicitely the timeframe semantic using the form below.
        {{/ dgettext }}
    </div>

    <div class="alert alert-warning">
        {{# dgettext }} tuleap-tracker | This page is currently under construction, you cannot configure the timeframe semantic yet.{{/ dgettext }}
    </div>

    <p>{{# dgettext }} tuleap-tracker | The timeframe of an artifact will be defined by:{{/ dgettext }}</p>

    <form action="">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        <div class="control-group">
            <label class="control-label" for="start-date">{{# dgettext }} tuleap-tracker | Start date{{/ dgettext}}</label>

            <div class="controls">
                <select id="start-date" name="start-date-field" disabled>
                    <option value="">{{# dgettext }} tuleap-tracker | Choose a field... {{/ dgettext }}</option>
                    {{# usable_date_fields }}
                        <option value="{{ id }}" {{# is_selected }}selected{{/ is_selected }}>{{ label }}</option>
                    {{/usable_date_fields}}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="duration">{{# dgettext }} tuleap-tracker | Duration{{/ dgettext}}</label>

            <div class="controls">
                <select id="duration" name="duration-field" disabled>
                    <option value="">{{# dgettext }} tuleap-tracker | Choose a field... {{/ dgettext }}</option>
                    {{# usable_numeric_fields }}
                        <option value="{{ id }}" {{# is_selected }}selected{{/ is_selected }}>{{ label }}</option>
                    {{/ usable_numeric_fields}}
                </select>
            </div>
        </div>
    </form>
    <div>
        <a href="{{ tracker_semantic_admin_url }}">
            {{# dgettext }} tuleap-tracker | « Go back to semantic overview {{/ dgettext }}
        </a>
    </div>
</div>
