<form id="add-import-endpoint" class="tlp-modal" role="dialog" aria-labelledby="add-modal-label" method="post">
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="add-modal-label"><i class="fa fa-plus tlp-modal-title-icon"></i> {{# dgettext }} tuleap-tuleap_synchro | Add new import endpoint{{/ dgettext }}</h1>
        <div class="tlp-modal-close" data-dismiss="modal" aria-label="{{# dgettext }} tuleap-tuleap_synchro | Close{{/ dgettext }}">&times;</div>
    </div>
    <div class="tlp-modal-body">
        <div class="tlp-alert-warning">
            <i class="fa fa-warning tlp-alert-icon"></i>
            {{# dgettext }} tuleap-tuleap_synchro | Under implementation {{/ dgettext }}
        </div>
    </div>
    <div class="tlp-modal-footer">
        <button type="reset" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">{{# dgettext }} tuleap-tuleap_synchro | Cancel{{/ dgettext }}</button>
    </div>
</form>