<form method="POST"
      action="/admin/tuleap_synchro/delete_endpoint"
      id="tuleap_synchro-delete-endpoint-{{webhook}}"
      class="tlp-modal tlp-modal-danger"
      role="dialog"
>
    {{# csrf_token_delete }}
        {{> csrf_token_input }}
    {{/ csrf_token_delete }}
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title">
            <i class="fa fa-trash-o tlp-modal-title-icon"></i> {{# dgettext }} tuleap-tuleap_synchro | Delete endpoint ? {{/ dgettext }}
        </h1>
        <div class="tlp-modal-close" tabindex="0" role="button" data-dismiss="modal" aria-label="{{# gettext }}Close{{/ gettext }}">
            &times;
        </div>
    </div>
    <div class="tlp-modal-body">

        {{# dgettext }} tuleap-tuleap_synchro | Wow, wait a minute. You are about to delete the endpoint: %s. Please confirm your action. | {{webhook}} {{/ dgettext }}
        <input type="hidden" name="tuleap_synchro-delete_webhook" value="{{ webhook }}">

    </div>
    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-danger tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{# dgettext }} tuleap-tuleap_synchro | Cancel{{/ dgettext }}
        </button>
        <button type="submit" class="tlp-button-danger tlp-modal-action">
            <i class="fa fa-trash-o tlp-button-icon"></i> {{# dgettext }} tuleap-tuleap_synchro | Delete{{/ dgettext }}
        </button>
    </div>
</form>
