<h1>{{# dgettext }} tuleap-tuleap_synchro | Tuleap to Tuleap Synchronization {{/ dgettext }}</h1>

<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title"><i class="tlp-pane-title-icon fa fa-list"></i> {{# dgettext }} tuleap-tuleap_synchro | List of import endpoints{{/ dgettext }}</h1>
        </div>
        <section class="tlp-pane-section">
            <div class="tlp-table-actions">
                <button id="button-add-import-endpoint"
                        type="button"
                        class="add-modal-button tlp-button-primary tlp-table-actions-element"
                        data-modal-id="add-import-endpoint"
                ><i class="tlp-button-icon fa fa-plus"></i> {{# dgettext }} tuleap-tuleap_synchro | Add endpoint{{/ dgettext }}</button>
            </div>
            <table class="tlp-table">
                <thead>
                <tr>
                    <th>{{# dgettext }} tuleap-tuleap_synchro | Username ("Source" Project){{/ dgettext }}</th>
                    <th>{{# dgettext }} tuleap-tuleap_synchro | "Source" Project's Shortname{{/ dgettext }}</th>
                    <th>{{# dgettext }} tuleap-tuleap_synchro | "Source" Tracker{{/ dgettext }}</th>
                    <th>{{# dgettext }} tuleap-tuleap_synchro | Base URI's "Source" Project{{/ dgettext }}</th>
                    <th>{{# dgettext }} tuleap-tuleap_synchro | Username ("Target" Project){{/ dgettext }}</th>
                    <th>{{# dgettext }} tuleap-tuleap_synchro | "Target" Project's Shortname{{/ dgettext }}</th>
                    <th>{{# dgettext }} tuleap-tuleap_synchro | Webhook{{/ dgettext }}</th>
                </tr>
                </thead>
                <tbody>
                {{^endpoints}}
                    <tr>
                        <td colspan="7" class="tlp-table-cell-empty">
                            {{# dgettext }} tuleap-tuleap_synchro | There isn't any matching webhook {{/ dgettext }}
                        </td>
                    </tr>
                {{/endpoints}}
                </tbody>
            </table>

        </section>

        {{> add_new_endpoint }}
    </div>
</section>
