#
# Increase PHP max execution time for the export
# database because it can last a long time
# add also higher memory limit as sdi has many bugs
# to export
#

<IfModule mod_php4.c>
php_value max_execution_time "1800"
php_value memory_limit "128M"
</IfModule>

<IfModule sapi_apache2.c>
php_value max_execution_time "1800"
php_value memory_limit "128M"
</IfModule>


