<main class="tlp-framed-vertically">
    <div class="tlp-framed-horizontally">
        <h1 class="user-my-realname">
            {{ real_name }}
            <small class="user-my-login">@{{ login }}</small>
        </h1>

    </div>
</main>