<div class="cardwall_board-fullscreen-bar">
    <button class="btn" id="go-to-fullscreen"><i class="icon-desktop"></i> Fullscreen</button>
</div>

<div class="row-fluid cardwall_board-milestone-info mini">
    <div class="milestone-name">
        <a href="">Sprint 60 - Velvet Worms <i class="icon-edit"></i></a>
    </div>

    <div class="span6 milestone-days">
        <div class="date-info">
           Sep 24 <i class="icon-angle-right"></i> Oct 8
        </div>
        <div class="progress-bar">
            <div class="progress">
                <div class="bar" style="width: 40%;">40%</div>
            </div>
        </div>
        <div class="to-go">
            <span class="days">5</span> <span>days to go</span>
        </div>
    </div>

    <div class="span6 milestone-capacity">
        <div class="points-info">
           <span>Initial effort: 8</span>
           <span>Capacity: 8</span>
        </div>
        <div class="progress-bar">
            <div class="progress progress-success">
                <div class="bar" style="width: 80%;">80%</div>
            </div>
        </div>
        <div class="to-go">
            <span class="days" id="milestone_remaining_effort">22</span> <span>points to go</span>
        </div>
    </div>
</div>