<div class="agiledashboard">
    <div class="dropdown">
        <h2 class="dropdown-toggle" data-toggle="dropdown">{{milestone_title}} <b class="caret"></b></h2>
    </div>
    <div class="tab-content">
        <div id="{{identifier}}" class="tab-pane active">
        {{{full_content}}}
        </div>
    </div>
</div>
