<h3> {{# dgettext }} tuleap-cardwall | Preview of the card {{/ dgettext }}</h3>

<div class="card-preview">
    <div class="card-preview-type"></div>
    <div class="card-preview-content-fields">
        <div class="card-preview-content">
            <span class="card-preview-id">{{ tracker_shortname }} #XXX</span><i class="far fa-clock card-preview-fa-clock-o"></i>
            <span class="card-preview-title">{{# dgettext }} tuleap-cardwall | Example {{/ dgettext }}</span>
            <div class="card-preview-blindness a"></div>
        </div>
    </div>
</div>
