<h3> {{# dgettext }} tuleap-cardwall | Preview of the card {{/ dgettext }}</h3>

<div class="card-preview-info">
    {{# dgettext }}
        tuleap-cardwall |
        The preview respects the following rules:
    {{/ dgettext }}
    <ul>
        <li>
            {{# dgettext }}
                tuleap-cardwall |
                Card design is the same as Kanban.
            {{/ dgettext }}
        </li>
        <li>
            {{# dgettext }}
                tuleap-cardwall |
                Description and field values are extracted from a random artifact of the tracker.
            {{/ dgettext }}
        </li>
        <li>
            {{# dgettext }}
                tuleap-cardwall |
                Preview is an example, data might not be consistent with the artifact's real data.
            {{/ dgettext }}
        </li>
        <li>
            {{# dgettext }}
                tuleap-cardwall |
                A card will be displayed for each available background color.
            {{/ dgettext }}
        </li>
        <li>
            {{# dgettext }}
                tuleap-cardwall |
                If a color corresponds to multiple values, the preview will display only one card with this background color.
            {{/ dgettext }}
        </li>
    </ul>
</div>

{{# card_preview }}
    <div class="card-preview card-style-{{ background }}">
        <div class="card-preview-type"></div>
        <div class="card-preview-content-fields">
            <div class="card-preview-content">
                <span class="card-preview-id">{{ tracker_shortname }} #{{ artifact_id }}</span><i class="far fa-clock card-preview-fa-clock-o"></i>
                <span class="card-preview-title"> {{ artifact_description }}</span>
                <div class="card-accessibility"></div>
            </div>
            <div class="card-preview-fields card-details">
                {{# card_preview_details }}
                    <span class="card-preview-field-label">{{ field_label }}</span>
                    <span class="card-preview-field-value">{{{ escaped_field_value }}}</span>
                {{/card_preview_details}}
            </div>
        </div>
    </div>
{{/ card_preview }}