<h3> {{# dgettext }} tuleap-cardwall | Background color {{/ dgettext }}</h3>

{{^ has_at_least_one_field_selectable_for_color }}
    {{# dgettext }}
        tuleap-cardwall |
        No field can be choosen for card color background. Only selectbox and radiobutton bind on static values can be used.
    {{/ dgettext }}
{{/ has_at_least_one_field_selectable_for_color }}

{{# has_at_least_one_field_selectable_for_color }}
    <form action="{{ form_url }}" method="POST">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        <p> {{# dgettext }} tuleap-cardwall | Choose a field to define card background color {{/ dgettext }}
            <select name="choose-color-field">
                {{# form_elements }}
                    <option value="{{ id }}">{{ name }}</option>
                {{/ form_elements }}
            </select>
            <input type="submit" disabled value="{{# dgettext }} tuleap-cardwall | Submit {{/ dgettext }}"/>
         </p>
    </form>
{{/ has_at_least_one_field_selectable_for_color }}
