<div>
    <div class="alert alert-info">
        {{# dgettext }} tuleap-tracker | This semantic is under construction, it is not possible to define it yet. {{/ dgettext }}
    </div>
    <div>
        <a href="{{ tracker_semantic_admin_url }}">
            {{# dgettext }} tuleap-tracker | « Go back to semantic overview {{/ dgettext }}
        </a>
    </div>
</div>
