<ul style="display: none;">
    {{# facets }}
    <li>
        <a href="{{{ url }}}" class="sub-facets" data-search-type="{{ search_type }}" {{# extra-parameters }} {{ key }}="{{ value }}" {{/ extra-parameters }}>{{ title }}</a>
    </li>
    {{/ facets }}
</ul>
