<div class="search-bar">
    <form action="/search/" method="post">
        <div class="input-append">
            <input class="input-xlarge" type="text" id="words" name="words" value="{{ words }}">
            <input type="hidden" name="type_of_search" value="{{ type_of_search }}">
            <input type="hidden" name="exact" value="0">
            <button class="btn"><i class="icon-search"></i></button>
        </div>
    </form>
</div>

<div class="search-page">
    <div class="search-panes">
      <div class="search-pane">
            <div class="search-pane-header">{{ project_wide_search }}</div>
            <div class="search-pane-body">
                <ul>
                    <li>
                        <span>forums</span>
                        <ul>
                            <li>
                                <ul class="sub-facets-list">
                                    <li>proj1</li>
                                    <li>proj1</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#" data-search-type="tracker">tracker</a></li>
                    <li><a href="#" data-search-type="wiki">wiki <i class="icon-external-link"></i></a></li>
                </ul>
            </div>
      </div>

      <div class="search-pane">
            <div class="search-pane-header">{{ site_wide_search }}</div>
            <div class="search-pane-body">
                <ul>
                    <li><a href="#" data-search-type="soft">soft</a></li>
                    <li><a href="#" data-search-type="people">people</a></li>
                    <li><a href="#" data-search-type="snippets">snippets</a></li>
                    <li>
                        <span>fts</span>
                        <ul>
                            <li>
                                <span class="sub-facets">Projects:</span>
                                <ul class="sub-facets-list">
                                    <li>proj1</li>
                                    <li>proj1</li>
                                </ul>
                            </li>
                            <li>
                                <span class="sub-facets">Trackers:</span>
                                <ul class="sub-facets-list">
                                    <li>t1</li>
                                    <li>tkel</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
      </div>
    </div>

    <div class="search-results">
        {{> results }}
    </div>

    <div style="clear: both"></div>
</div>
