<div class="tabbable tabs-left">
<ul class="nav nav-tabs">
    <li>soft</li>
    <li>people</li>
    <li>forums</li>
    <li>snippets</li>
    <li>all_trackers</li>
    <li>tracker</li>
    <li>wiki</li>
</ul>
<div class="tab-content">
    Search box: <input type="text" />

    {{> results }}
</div>
</div>