{{> search-bar }}

{{> additional-search-tabs }}

<div class="search-page">
    <div class="search-panes">
      {{> search-panes }}
    </div>

    <div id="search-results">
        {{> results }}
    </div>

    <div style="clear: both"></div>
</div>
