<div class="docman-title-with-external-content">
    <h2>{{ title }}</h2>

    {{# links }}
        <a href="{{ external_url }}"
           class="docman-title-external-link"
           title="{{ button_title }}"
        >
            {{ button_label }}
        </a>
    {{/ links }}
</div>
