<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">{{# dgettext }} tuleap-docman | Document Manager {{/ dgettext }}</h1>
        </div>

        <section class="tlp-pane-section">
            <h2 class="tlp-pane-subtitle">{{# dgettext }} tuleap-docman |  Global permissions {{/ dgettext }}</h2>
            <table class="tlp-table">
                <thead>
                <tr>
                    <th>{{# dgettext }} tuleap-docman |  Permission {{/ dgettext }}</th>
                    <th>{{# dgettext }} tuleap-docman |  Granted groups {{/ dgettext }}</th>
                </tr>
                </thead>
                <tbody>
                {{# permissions }}
                    <tr>
                        <td>{{ name }}</td>
                        <td>
                            {{# groups }}
                                <span class="{{# is_project_admin }}tlp-badge-danger tlp-badge-outline{{/ is_project_admin }}
                                    {{# is_static }}tlp-badge-primary tlp-badge-outline{{/ is_static }}
                                    {{# is_custom }}tlp-badge-secondary{{/ is_custom }}">{{ name }}</span>
                            {{/ groups }}
                        </td>
                    </tr>
                {{/ permissions }}
                {{^ has_permissions }}
                    <tr>
                        <td colspan="2" class="tlp-table-cell-empty">
                            {{# dgettext }} tuleap-docman |  {{ user_group_name }} has no global permission {{/ dgettext }}
                        </td>
                    </tr>
                {{/ has_permissions }}
                </tbody>
            </table>
        </section>
        <section class="tlp-pane-section">
            <h2 class="tlp-pane-subtitle">{{# dgettext }} tuleap-docman | Items permissions {{/ dgettext }}</h2>
            <table class="tlp-table">
                <tr>
                    <td colspan="2" class="tlp-table-cell-empty">
                        {{# dgettext }} tuleap-docman | Items permissions are not listed. {{/ dgettext }}
                    </td>
                </tr>
            </table>
        </section>

    </div>
</section>