{{> admin/section_presenter }}

<div class="tlp-framed">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    <i class="fa-solid fa-bell tlp-pane-title-icon" aria-hidden="true"></i>
                    {{ notification_subtitle }}
                </h1>
            </div>

            <form class="tlp-pane-section" action="/plugins/svn/?group_id={{ project_id }}&repo_id={{ repository_id }}&action=save-mail-header" method="post">
                <p>{{ comment }}</p>

                <input type="hidden" name="group_id" value="{{ project_id }}">
                <input type="hidden" name="repo_id" value="{{ repository_id }}">
                {{# csrf_token }}
                    {{> csrf_token_input }}
                {{/ csrf_token }}

                <div class="tlp-form-element">
                    <label class="tlp-label" for="form_mailing_header">{{ label_subject_header }}</label>
                    <input type="text" name="form_mailing_header" id="form_mailing_header" class="tlp-input" size="40" value="{{ subject_header }}">
                </div>

                <div class="tlp-pane-section-submit">
                    <button type="submit" name="submit" class="tlp-button-primary">
                        <i class="fa-solid fa-save tlp-button-icon" aria-hidden="true"></i>
                        {{ save_subject }}
                    </button>
                </div>
            </form>
        </div>
    </section>


    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    {{ label_notification_aviable }}
                </h1>
            </div>
            <div class="tlp-pane-section">
                <div class="tlp-table-actions">
                    <button type="button"
                            class="tlp-button-primary tlp-table-actions-element svn-modal-trigger"
                            data-test="svn-notifications-add"
                            data-target-modal-id="svn-notification-add-modal"
                    >
                        <i class="fa-solid fa-plus tlp-button-icon" aria-hidden="true"></i>
                        {{# dgettext }} tuleap-svn | Add notification {{/ dgettext }}
                    </button>
                    {{> admin/mail-notification-add-modal }}
                </div>
                <table class="tlp-table">
                    <thead>
                        <tr>
                            <th>{{ monitored_path }}</th>
                            <th>{{ notified_mails }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# has_notifications }}
                            {{# notifications }}
                                <tr data-target-input-id="edit_email_{{ notification_id }}">
                                    <td>
                                        <code>{{ path }}</code>
                                    </td>
                                    <td>
                                        {{# ugroups_to_be_notified }}
                                            <span class="svn-notification-email-list-entry">
                                            <i class="fa-solid fa-users svn-notification-email-list-group-icon" data-test="group-icon"></i>
                                                {{ label }}<span class="svn-notification-email-list-separator">, </span>
                                            </span>
                                        {{/ ugroups_to_be_notified }}
                                        {{# users_to_be_notified }}
                                            <span class="svn-notification-email-list-entry">
                                            <div class="tlp-avatar svn-notification-user-avatar">
                                                <img src="{{ avatar_url }}" loading="lazy" />
                                            </div>
                                                {{ label }}<span class="svn-notification-email-list-separator">, </span>
                                        </span>
                                        {{/ users_to_be_notified }}
                                        {{# emails_to_be_notified }}
                                            <span class="svn-notification-email-list-entry">
                                            {{ . }}<span class="svn-notification-email-list-separator">, </span>
                                        </span>
                                        {{/ emails_to_be_notified }}
                                    </td>
                                    <td class="tlp-table-cell-actions">
                                        <button type="button"
                                                class="tlp-button-primary tlp-button-outline tlp-button-small tlp-table-cell-actions-button svn-modal-trigger"
                                                data-target-modal-id="svn-notification-edit-modal-{{ notification_id }}"
                                                data-test="edit-svn-notifications"
                                        >
                                            <i class="fa-solid fa-pencil tlp-button-icon" aria-hidden="true"></i>
                                            {{ edit }}
                                        </button>
                                        <button type="button"
                                                class="tlp-button-danger tlp-button-outline tlp-button-small tlp-table-cell-actions-button svn-modal-trigger"
                                                data-target-modal-id="svn-notification-delete-modal-{{ notification_id }}"
                                        >
                                            <i class="fa-regular fa-trash-alt tlp-button-icon" aria-hidden="true"></i>
                                            {{# gettext }}Delete{{/ gettext }}
                                        </button>
                                        {{> admin/mail-notification-edit-modal }}
                                        {{> admin/mail-notification-delete-modal }}
                                    </td>
                                </tr>
                            {{/ notifications }}
                        {{/ has_notifications }}
                        {{^ has_notifications }}
                            <tr>
                                <td class="tlp-table-cell-empty" colspan="3">{{ no_notifications_message }}</td>
                            </tr>
                        {{/ has_notifications }}
                    </tbody>
                </table>
            </form>
        </div>
    </section>
</div>
