<div class="tabbable" id="svn-administration">
    {{> admin/section_presenter }}

    <div class="tab-content" id="notifications">
        <h3>{{ notification_subtitle }}</h3>
        <p>{{ comment }}</p>

        <form action="/plugins/svn/?group_id={{ project_id }}&repo_id={{ repository_id }}&action=save-mail-header" method="post">
            <input type="hidden" name="group_id" value="{{ project_id }}">
            <input type="hidden" name="repo_id" value="{{ repository_id }}">
            {{{ csrf_input }}}

            <label>{{ label_subject_header }}</label>
            <div class="input-append">
                <input type="text" name="form_mailing_header" value="{{ subject_header }}">
                <button type="submit" name="submit" class="btn"><i class="icon-save"></i> {{ save_subject }}</button>
            </div>
        </form>

        <form id="svn-admin-notifications-form" action="/plugins/svn/?group_id={{ project_id }}&repo_id={{ repository_id }}&action=update-mailing-lists" method="post">
            <h4>{{ label_notification_aviable }}</h4>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{{ monitored_path }}</th>
                    <th>{{ notified_mails }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{# hasNotification }}
                    {{# list_mails }}
                        <tr>
                            <td>
                                <div class="svn-notifications-checkbox-cell-read">
                                    <div>{{ getPath }}</div>
                                </div>
                                <div class="svn-notifications-checkbox-cell-write svn-notifications-checkbox-cell-hidden">
                                    {{# getPath }}
                                        <input type="text"
                                               class="svn-notification-edit-input"
                                               name="notification_update[{{ getPath }}][path]"
                                               value="{{ getPath }}"
                                               disabled
                                        />
                                    {{/ getPath }}
                                </div>
                            </td>
                            <td>
                                <div class="svn-notifications-checkbox-cell-read">
                                    <div>{{ getNotifiedMails }}</div>
                                </div>
                                <div class="svn-notifications-checkbox-cell-write svn-notifications-checkbox-cell-hidden">
                                    {{# getNotifiedMails }}
                                        <input type="text"
                                               class="svn-notification-edit-input"
                                               name="notification_update[{{ getPath }}][emails]"
                                               value="{{ getNotifiedMails }}"
                                               disabled
                                        />
                                    {{/ getNotifiedMails }}
                                </div>
                            </td>
                            <td class="svn-notification-form-actions">
                                <div class="svn-notifications-checkbox-cell-write svn-notifications-checkbox-cell-hidden">
                                    <button type="submit" name="save-mailing-lists" value="1" class="btn btn-primary">{{ save }}</button>
                                    <button type="button" name="submit" class="btn svn-notification-edit-hide">{{ cancel }}</button>
                                </div>
                                <div class="svn-notifications-checkbox-cell-read">
                                    <a href="javascript:;" class="svn-notification-edit-show svn-notification-edit">
                                        <i class="icon-pencil"></i>
                                        {{ edit }}
                                    </a>
                                    <a href="javascript:;"
                                       class="svn-notification-delete"
                                       data-toggle="popover"
                                       data-trigger="click"
                                       data-placement="left"
                                       data-html="true"
                                       data-popover-id="svn-notification-delete-{{ getId }}-popover"
                                    >
                                        <i class="icon-trash"></i>
                                        {{ delete }}
                                    </a>
                                    <div id="svn-notification-delete-{{ getId }}-popover"
                                         data-title="{{ remove_notification_title }}"
                                         class="svn-notification-delete-popover">
                                        <p>{{ remove_notification_desc }}</p>

                                        <div class="svn-notification-delete-popover-actions">
                                            <input type="hidden" name="notification_remove_id" value="{{ getId }}">
                                            <button type="button" class="btn btn-small btn-default dismiss-popover">{{ cancel }}</button>
                                            <button type="submit"
                                                    name="delete-mailing-lists"
                                                    value="1"
                                                    class="btn btn-small btn-danger"
                                            >{{ remove_notification_confirm }}</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {{/ list_mails }}
                {{/ hasNotification }}
                {{^ hasNotification }}
                    <tr class="empty-table">
                        <td colspan="3">{{ no_notifications_message }}</td>
                    </tr>
                {{/ hasNotification }}
                <tr>
                    <td class="notification-path"><input type="text" name="form_path" placeholder="{{ label_path }}"></td>
                    <td class="add-notification-list"><input type="text" name="form_mailing_list" placeholder="{{ label_mail_to }}"></td>
                    <td><button type="submit" name="create-mailing-lists" value="1" class="btn"><i class="icon-plus"></i> {{ add_notification }}</button></td>
                </tr>
                </tbody>
            </table>

            <input type="hidden" name="group_id" value="{{ project_id }}">
            <input type="hidden" name="repo_id" value="{{ repository_id }}">
            {{{ csrf_input }}}
        </form>
    </div>
</div>
