<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">{{ title }}</h1>
        </div>
        <section class="tlp-pane-section">
            <table class="tlp-table">
                <thead>
                    <tr>
                        <th>Repository name</th>
                        <th>Deleted date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{# repositories }}
                        <tr>
                            <td>{{ getName }}</td>
                            <td>{{ getDeletionDateHumanReadable }}</td>
                            <td class="tlp-table-cell-actions">
                                <a href="/plugins/svn/?action=restore&group_id={{ project_id }}&repo_id={{ getId }}"
                                    class="tlp-button-small tlp-button-outline tlp-button-primary"
                                    onClick="return confirm('{{ restore_confirm }} {{ getName }}.')"
                                >
                                    <i class="fa fa-repeat tlp-button-icon"></i> Restore
                                </a>
                            </td>
                        </tr>
                    {{/ repositories }}
                    {{^ repositories }}
                        <tr>
                            <td class="tlp-table-cell-empty" colspan="3">
                                {{ restore_not_found }}
                            </td>
                        </tr>
                    {{/ repositories }}
                </tbody>
            </table>
        </section>
    </div>
</section>
