<h1 class="project-administration-title">
    {{# dgettext }}
        tuleap-svn
        | Settings of %s
        | {{ repository_name }}
    {{/ dgettext }}
</h1>

{{# sections }}
    <div class="main-project-tabs">
        <nav class="tlp-tabs">
            <a class="tlp-tab {{# notification_active }}tlp-tab-active{{/ notification_active }}"
               href="{{ notifications_url }}"
            >
                <i class="fa-solid fa-bell tlp-tab-icon" aria-hidden="true"></i>
                {{ notifications }}
            </a>
            <a class="tlp-tab {{# access_control_active }}tlp-tab-active{{/ access_control_active }}"
               href="{{ access_control_url }}"
            >
                <i class="fa-solid fa-lock tlp-tab-icon" aria-hidden="true"></i>
                {{ access_control }}
            </a>
            <a class="tlp-tab {{# immutable_tag_url_active }}tlp-tab-active{{/ immutable_tag_url_active }}"
               href="{{ immutable_tag_url }}"
            >
                <i class="fa-solid fa-tags tlp-tab-icon" aria-hidden="true"></i>
                {{ immutable_tag }}
            </a>
            <a class="tlp-tab {{# commit_rule_active }}tlp-tab-active{{/ commit_rule_active }}"
               href="{{ hooks_config_url }}"
            >
                <i class="fa-solid fa-check-square tlp-tab-icon" aria-hidden="true"></i>
                {{ hooks_config }}
            </a>
            {{# can_delete }}
                <a class="tlp-tab {{# repository_delete_active }}tlp-tab-active{{/ repository_delete_active }}"
                   href="{{ repository_delete_url }}"
                   data-test="svn-repository-settings-delete"
                >
                    <i class="fa-regular fa-trash-alt tlp-tab-icon" aria-hidden="true"></i>
                    {{ repository_delete }}
                </a>
            {{/ can_delete }}
        </nav>
    </div>
{{/ sections }}
