<h2>
    <a href="?roottype=svn&amp;root={{ repository_full_name }}">{{ repository_name }}</a> - {{ title }}
</h2>

{{# sections }}
    <ul class="nav nav-tabs">
        <li {{# notification_active }}class="active"{{/ notification_active }}>
            <a href="{{ notifications_url }}"><i class="fa fa-bell"></i> {{ notifications }}</a>
        </li>
        <li {{# access_control_active }}class="active"{{/ access_control_active }}>
            <a href="{{ access_control_url }}"><i class="fa fa-lock"></i> {{ access_control }}</a>
        </li>
        <li {{# immutable_tag_url_active }}class="active"{{/ immutable_tag_url_active }}>
            <a href="{{ immutable_tag_url }}"><i class="fa fa-tags"></i> {{ immutable_tag }}</a>
        </li>
        <li {{# commit_rule_active }}class="active"{{/ commit_rule_active }}>
            <a href="{{ hooks_config_url }}"><i class="fa fa-check-square"></i> {{ hooks_config }}</a>
        </li>
        <li {{# repository_delete_active }}class="active"{{/ repository_delete_active }} data-test="svn-repository-settings-delete">
            <a href="{{ repository_delete_url }}"><i class="fa fa-trash-o"></i> {{ repository_delete }}</a>
        </li>
    </ul>
{{/ sections }}
