<div id="git-repository-list"
     data-repositories-administration-url="{{ repositories_administration_url}}"
     data-repository-list-url="{{ repositories_list_url}}"
     data-repositories-fork-url="{{ repositories_fork_url }}"
     data-project-id="{{ project_id }}"
     data-is-admin="{{ is_admin }}"
     data-repositories-owners="{{ json_encoded_repositories_owners }}"
     data-display-mode="{{ display_mode }}"
     data-external-plugins="{{ external_plugins }}"
>
</div>
