<div id="git-repository-list"
     data-repositories-administration-url="{{ repositories_administration_url}}"
     data-repository-list-url="{{ repositories_list_url}}"
     data-repositories-fork-url="{{ repositories_fork_url }}"
     data-project-id="{{ project_id }}"
     data-is-admin="{{ is_admin }}"
     data-repositories-owners="{{ json_encoded_repositories_owners }}"
     data-display-mode="{{ display_mode }}"
     data-external-plugins="{{ external_plugins }}"
     data-external-services-name-used="{{ external_services_name_used }}"
     data-project-url="{{ project_url }}"
     data-project-public-name="{{ project_public_name }}"
     data-privacy="{{ privacy }}"
     data-project-flags="{{ project_flags }}"
     data-project-icon="{{ project_icon }}"
     data-is-old-pull-request-dashboard-view-enabled="{{ is_old_pull_request_dashboard_view_enabled }}"
>
</div>
