<div class="tlp-framed">
    {{# can_display_selector }}
        <div class="tlp-dropdown git-repository-branch-tag-selector">
            <button
                type="button"
                id="git-repository-branch-tag-selector-button"
                class="tlp-button-primary tlp-button-outline"
                title="{{# dgettext }}tuleap-git | Select a branch or tag{{/ dgettext }}"
                data-is-undefined="{{# is_undefined }}1{{/ is_undefined }}"
                data-committer-epoch="{{ committer_epoch }}"
                data-repository-id="{{ repository_id }}"
                data-repository-url="{{ repository_url }}"
                data-is-tag="{{# is_tag }}1{{/is_tag}}"
                data-current-ref-name="{{^ is_undefined }}{{ head_name }}{{/ is_undefined }}"
                data-url-parameters="{{ json_encoded_parameters }}"
            >
                {{# is_undefined }}<em>{{/ is_undefined }}
                    {{ head_name }}
                {{# is_undefined }}</em>{{/ is_undefined }}
                <i class="fa fa-caret-down tlp-button-icon-right"></i>
            </button>
        </div>
    {{/ can_display_selector }}
