<div class="modal fade"
     id="tracker-creation-success-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="tracker-created"
     aria-hidden="true"
>
    <div class="modal-body">
        {{> tracker-creation-success-illustration }}

        <h2 id="tracker-created">
            {{# dgettext }}
                tuleap-tracker | Congratulations!
            {{/ dgettext }}
        </h2>
        <p>
            {{#dgettext}}
                tuleap-tracker | The <strong>%s</strong> tracker has been successfully created. | {{tracker_name }}
            {{/dgettext}}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-large btn-secondary" data-dismiss="modal">
            {{# dgettext }}tuleap-tracker | Start using my tracker {{/ dgettext }}
        </button>
        <a class="btn btn-large btn-primary" href="{{ tracker_admin_url }}">
            {{# dgettext }} tuleap-tracker | Continue configuration {{/ dgettext }}
            <i class="fa fa-long-arrow-right tracker-creation-success-modal-icon"
                aria-hidden="true">
            </i>
        </a>
    </div>
</div>
