<div class="tlp-framed">
    <div
        id="tracker-creation-app"
        data-default-templates="{{ default_templates }}"
        data-project-templates="{{ project_templates }}"
        data-project-unix-name="{{ project_unix_name }}"
        data-project-id="{{ project_id }}"
        data-csrf-token="{{ csrf_token }}"
        data-existing-trackers="{{ existing_trackers }}"
        data-trackers-from-other-projects="{{ trackers_from_other_projects }}"
        data-tracker-colors="{{ tracker_colors }}"
        data-company-name="{{ company_name }}"
    ></div>
</div>
