<div
    class="tlp-modal"
    id="tracker-creation-success-modal"
    role="dialog"
    aria-labelledby="tracker-created"
    data-test="tracker-creation-modal-success"
>
    <div class="tlp-modal-body tracker-creation-success-body">
        {{> tracker-creation-success-illustration }}

        <h2 id="tracker-created" class="tracker-created">
            {{# dgettext }} tuleap-tracker | Congratulations! {{/ dgettext }}
        </h2>
        <p>
            {{# dgettext }} tuleap-tracker | The %s tracker has been created
                successfully. | <strong>{{ tracker_name }}</strong>
            {{/ dgettext }}
        </p>
    </div>
    <div class="tlp-modal-footer">
        <button
            type="button"
            class="tlp-button-secondary tlp-modal-action tracker-creation-success-start"
            data-dismiss="modal"
        >
            {{# dgettext }} tuleap-tracker | Start using my tracker {{/ dgettext }}
        </button>
        <a
            class="tlp-button-primary tlp-modal-action tracker-creation-success-config"
            href="{{ tracker_admin_url }}"
            data-test="continue-tracker-configuration"
        >
            {{# dgettext }} tuleap-tracker | Continue configuration {{/ dgettext }}
            <i
                class="fa-solid fa-long-arrow-alt-right tlp-button-icon"
                aria-hidden="true"
            ></i>
        </a>
    </div>
</div>
