<?xml version='1.0'?>
<!--
  ~ Copyright (c) Enalean, 2019-Present. All Rights Reserved.
  ~
  ~ This file is a part of Tuleap.
  ~
  ~ Tuleap is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Tuleap is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Tuleap. If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<phpunit bootstrap="bootstrap.php" verbose="true" colors="true"
         failOnRisky="true"
         beStrictAboutChangesToGlobalState="true" backupGlobals="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         executionOrder="random">
    <php>
        <ini name="assert.exception" value="1"/>
        <ini name="date.timezone" value="Europe/Paris"/>
    </php>
    <testsuites>
        <testsuite name="Tuleap DB Integration Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Plugins">
            <directory>../../plugins/*/tests/integration</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>ToFatToRun</group>
        </exclude>
    </groups>
</phpunit>
