@import "plugins/pullrequest/www/themes/default/css/style.less";

body {
    @import "src/www/themes/FlamingParrot/css/utils/variables-orange.less";
    .definitions;

    &.FlamingParrot_Blue {
        @import "src/www/themes/FlamingParrot/css/utils/variables-blue.less";
        .definitions;
    }

    &.FlamingParrot_Green {
        @import 'src/www/themes/FlamingParrot/css/utils/variables-green.less';
        .definitions;
    }

    &.FlamingParrot_BlueGrey {
        @import 'src/www/themes/FlamingParrot/css/utils/variables-bluegrey.less';
        .definitions;
    }

    &.FlamingParrot_Purple {
        @import 'src/www/themes/FlamingParrot/css/utils/variables-purple.less';
        .definitions;
    }

    &.FlamingParrot_Red {
        @import 'src/www/themes/FlamingParrot/css/utils/variables-red.less';
        .definitions;
    }

    &.FlamingParrot_DarkOrange {
        @import 'src/www/themes/FlamingParrot/css/utils/variables-darkorange.less';
        .definitions;
    }

    &.FlamingParrot_DarkBlue {
        @import 'src/www/themes/FlamingParrot/css/utils/variables-darkblue.less';
        .definitions;
    }

    &.FlamingParrot_DarkGreen {
        @import 'src/www/themes/FlamingParrot/css/utils/variables-darkgreen.less';
        .definitions;
    }

    &.FlamingParrot_DarkBlueGrey {
        @import 'src/www/themes/FlamingParrot/css/utils/variables-darkbluegrey.less';
        .definitions;
    }

    &.FlamingParrot_DarkPurple {
        @import 'src/www/themes/FlamingParrot/css/utils/variables-darkpurple.less';
        .definitions;
    }

    &.FlamingParrot_DarkRed {
        @import 'src/www/themes/FlamingParrot/css/utils/variables-darkred.less';
        .definitions;
    }
}

.definitions() {
    #modal-generate-pull-request .modal-header {
        border-color: @main;
    }

    #plugin_git_reference h1 .badge {
        background: @main;
    }

    #pull-requests-header {
        border-top-color: @main;
    }
}
