@mixin definitions($main, $white, $ui-dimmed) {
    .ttm-definition-step,
    .ttm-execution-step {
        display: flex;
        align-items: flex-start;
        padding: 10px 0;

        &:last-child {
            padding: 10px 0 0;
        }
    }

    .ttm-definition-step-rank,
    .ttm-execution-step-rank {
        padding: 0 6px;
        border: 1px solid $main;
        border-radius: 10px;
        color: $main;

        &.ttm-execution-step-rank-edition {
            position: relative;
            top: 3px;
        }
    }

    .ttm-definition-step-description {
        width: 100%;
        margin: 0 0 0 10px;
    }

    .ttm-definition-step-description-action > div {
        > .rte_format {
            margin: 0 0 10px;

            > select {
                margin: 0;
            }
        }

        > textarea {
            margin: 0;
        }
    }

    .ttm-execution-step-description {
        margin: 0 0 0 10px;
    }

    .ttm-definition-step-description-format {
        margin: 0;
    }

    .ttm-definition-step-expected,
    .ttm-execution-step-expected {
        display: flex;
        align-items: baseline;
        margin: 10px 0 0 5px;
    }

    .ttm-definition-step-expected-arrow,
    .ttm-execution-step-expected-arrow {
        margin: 0 5px 0 0;
        fill: #333333;
    }

    .ttm-definition-step-expected-edit {
        width: 100%;
    }

    .ttm-definition-step-expected-edit-title {
        margin: 0 0 10px;
        font-size: 14px;
        font-weight: bold;
    }

    .ttm-execution-step-status {
        margin: 0 0 0 20px;
    }

    .ttm-definition-step-actions {
        display: flex;
        justify-content: space-between;
        margin: 0 0 10px;
    }

    .ttm-definition-step-description-deleted {
        text-decoration: line-through;
    }

    .ttm-definition-step-description-text {
        white-space: pre-line;
    }

    .ttm-definition-step-expected-results-textarea,
    .ttm-definition-step-description-textarea {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }

}

body {
    @import 'variables-orange';
    @include definitions($main, $white, $grey);

    &.FlamingParrot_Blue {
        @import 'variables-blue';
        @include definitions($main, $white, $grey);
    }

    &.FlamingParrot_Green {
        @import 'variables-green';
        @include definitions($main, $white, $grey);
    }

    &.FlamingParrot_BlueGrey {
        @import 'variables-bluegrey';
        @include definitions($main, $white, $grey);
    }

    &.FlamingParrot_Purple {
        @import 'variables-purple';
        @include definitions($main, $white, $grey);
    }

    &.FlamingParrot_Red {
        @import 'variables-red';
        @include definitions($main, $white, $grey);
    }
}
