@import '../../default/css/style';

@mixin definitions($main, $main-background) {
    #campaign-list-container,
    #executions,
    #execution-utils {
        background: $main-background;
    }

    #current-execution {
        border-left: 1px solid $main-background;
    }

    .test-definition-list > thead > tr > th,
    .campaign-list > thead > tr > th {
        border-bottom-color: $main;
    }
    &.sidebar-expanded #campaign-new-button-bar {
        padding-left: 200px;
    }
    &.sidebar-collapsed #campaign-new-button-bar {
        padding-left: 45px;
    }

    .execution-avatar {
        .presence-score {
            background-color: $main;
        }
    }

    #execution-presences-header {
        border-bottom: 2px solid $main;
    }
}

body {
    @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-orange';
    @include definitions($main, $main-background);

    &.FlamingParrot_Blue {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-blue';
        @include definitions($main, $main-background);
    }

    &.FlamingParrot_Green {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-green';
        @include definitions($main, $main-background);
    }

    &.FlamingParrot_BlueGrey {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-bluegrey';
        @include definitions($main, $main-background);
    }

    &.FlamingParrot_Purple {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-purple';
        @include definitions($main, $main-background);
    }

    &.FlamingParrot_Red {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-red';
        @include definitions($main, $main-background);
    }

    &.FlamingParrot_DarkOrange {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkorange';
        @include definitions($main, $main-background);
    }

    &.FlamingParrot_DarkBlue {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkblue';
        @include definitions($main, $main-background);
    }

    &.FlamingParrot_DarkGreen {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkgreen';
        @include definitions($main, $main-background);
    }

    &.FlamingParrot_DarkBlueGrey {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkbluegrey';
        @include definitions($main, $main-background);
    }

    &.FlamingParrot_DarkPurple {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkpurple';
        @include definitions($main, $main-background);
    }

    &.FlamingParrot_DarkRed {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkred';
        @include definitions($main, $main-background);
    }
}
