@import '../../default/css/style.scss';

@mixin definitions($main) {
    #modal-generate-pull-request .modal-header {
        border-color: $main;
    }

    #plugin_git_reference h1 .badge {
        background: $main;
    }

    .pull-request-event:not(.inline-comment) {
        border-color: transparentize($main, .7);
    }

    #modified-files h3 .badge {
        background: $main;
    }

    #file-diff .CodeMirror .inline-comment {
        .comment {
            border-color: $main;
        }

        .info {
            background: $main;
        }
    }

    #file-diff .CodeMirror .new-inline-comment .new-inline-comment-content {
        border-color: $main;
    }

    #file-diff .CodeMirror .inline-comment .arrow,
    #file-diff .CodeMirror .new-inline-comment .arrow {
        border-color: transparent $main transparent transparent;
    }

    #file-diff .CodeMirror .CodeMirror-lines .CodeMirror-gutter-wrapper:hover .CodeMirror-gutter-elt {
        background: $main;
    }

    .dashboard > h2 {
        border-color: $main;
    }

    .pull-request-summary:hover {
        border-color: transparentize($main, .5);
    }
}

body {
    @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-orange';
    @include definitions($main);

    &.FlamingParrot_Blue {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-blue';
        @include definitions($main);
    }

    &.FlamingParrot_Green {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-green';
        @include definitions($main);
    }

    &.FlamingParrot_BlueGrey {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-bluegrey';
        @include definitions($main);
    }

    &.FlamingParrot_Purple {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-purple';
        @include definitions($main);
    }

    &.FlamingParrot_Red {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-red';
        @include definitions($main);
    }

    &.FlamingParrot_DarkOrange {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkorange';
        @include definitions($main);
    }

    &.FlamingParrot_DarkBlue {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkblue';
        @include definitions($main);
    }

    &.FlamingParrot_DarkGreen {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkgreen';
        @include definitions($main);
    }

    &.FlamingParrot_DarkBlueGrey {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkbluegrey';
        @include definitions($main);
    }

    &.FlamingParrot_DarkPurple {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkpurple';
        @include definitions($main);
    }

    &.FlamingParrot_DarkRed {
        @import '../../../../../../src/www/themes/FlamingParrot/css/utils/variables-darkred';
        @include definitions($main);
    }
}
