{{#hasSidebar}}
    {{> project-sidebar}}
    <div class="main container-fluid">
{{/hasSidebar}}
{{^hasSidebar}}
    <div class="main full container-fluid">
{{/hasSidebar}}

    <div class="row-fluid">
        <div class="span12">
            {{> breadcrumbs}}
            {{> toolbar}}

            {{{feedback}}}

            <div class="content">
