<ul id="dropdown-user-navigation" class="dropdown-menu">
    {{^ request_is_post }}
        <li class="bookmarkpage">
            <a href="/my/bookmark_add.php?bookmark_url={{ bookmark_url }}&bookmark_title={{ bookmark_title }}">
                {{ include_menu_bookmark_this_page_text }}
            </a>
    {{/ request_is_post }}
    <li><a href="/account/">{{ my_index_text }}</a></li>
    <li class="divider"></li>
    <li>
        <form action="/account/logout.php" method="post">
            {{# logout_csrf }}
                {{> csrf_token_input }}
            {{/ logout_csrf }}
            <input class="submit-action" type="submit" value="{{ include_menu_text }}">
        </form>
    </li>
</ul>