<div class="navbar navbar-fixed-top">
    {{# has_motd }}<div class="motd">{{{ motd }}}</div>{{/ has_motd }}
    <a id="navbar-logo" href="/" aria-label="{{ homepage_label }}"><div class="logo"></div></a>
    <div class="navbar-inner">
        <div class="container-fluid header-navbar-container">
            <ul class="nav header-navbar-container-project-nav">
                {{# current_project_navbar_info }}
                    <li class="current-project">
                        <a href="{{ project_link }}" class="project-title" title="{{ project_name }}&#10;&#10;{{ project_privacy }}">
                            {{# project_is_public }}
                                <i class="fa fa-unlock"></i>
                            {{/ project_is_public }}
                            {{^ project_is_public }}
                                <i class="fa fa-lock"></i>
                            {{/ project_is_public }}

                            {{ project_name }}
                        </a>
                    </li>
                {{/ current_project_navbar_info }}

                {{# navbar_items }}
                    {{# is_projects }}
                        {{> navbar-projects }}
                    {{/ is_projects }}
                    {{# is_admin }}
                        {{> navbar-item-admin }}
                    {{/ is_admin }}
                    {{# is_link }}
                        {{> navbar-item-link }}
                    {{/ is_link }}
                    {{# is_dropdown }}
                        {{> navbar-item-dropdown }}
                    {{/ is_dropdown }}
                {{/ navbar_items }}
            </ul>
            {{> navbar-user-navigation }}
        </div>
    </div>
</div>
