<li class="user-menu">
    <a id="navbar-user-navigation" href="/my/" class="username">
        <img class="user-avatar" src="{{ user_avatar }}" />
        <div class="user-infos">
            <span class="user-infos-real-name">{{ user_real_name }}</span>
            <span class="user-infos-login-name">{{ user_login_name }}</span>
        </div>
    </a>
</li>
<li>
    <a href="/account/" title="{{ my_account_label }}">
        <i class="icon icon-cog"></i>
    </a>
</li>
<li>
    <form
            class="nav-form"
            action="/account/logout.php"
            method="POST"
    >
        {{# logout_csrf }}
            {{> csrf_token_input }}
        {{/ logout_csrf }}
        <button
                class="nav-form-button"
                type="submit"
                title="{{ logout_label }}"
        >
            <i class="icon icon-off nav-form-button-icon"></i>
        </button>
    </form>
</li>
