<li class="dropdown help-nav {{# is_active }}active{{/ is_active }}">
    <a id="navbar-{{ id }}" href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ label }}
        <b class="caret"></b>
    </a>
    <ul id="dropdown-{{ id }}" class="dropdown-menu">
        {{# sections }}
            {{# items }}
                {{> navbar-item-link }}
            {{/ items }}
            {{^ is_last_section }}
                <li class="divider"></li>
            {{/ is_last_section }}
        {{/ sections }}
    </ul>
</li>
