<ul class="dropdown-menu pull-right user-navbar-history">
    <div class="empty-history">
        <i class="icon icon-time empty-history-icon"></i>
        <p class="empty-history-description">{{ empty_history }}</p>
    </div>
</ul>