<ul class="nav pull-right">
    {{> navbar-search-form }}

    {{# user_is_logged_in }}
        {{# user_actions }}
            <li>
                <a {{# id }}id="user-action-{{ id }}"{{/ id }} href="{{ href }}">
                    {{# icon }}<i class="{{ icon }}"></i>{{/ icon }}
                    {{ label }}
                </a>
                {{{ purified_content }}}
            </li>
        {{/ user_actions }}
        <li class="dropdown user-menu {{ nav_user_class }}">
            <a id="navbar-user-navigation" href="#" class="dropdown-toggle username" data-toggle="dropdown">
                {{# has_user_avatar }}
                    <img class="user-avatar" src="{{user_avatar}}" />
                {{/ has_user_avatar }}
                {{ user_real_name }}
                <b class="caret"></b>
            </a>
            {{> navbar-user-logged-in }}
        </li>
    {{/ user_is_logged_in }}
    {{^ user_is_logged_in }}
        <li>
            <a id="navbar-user-login" href="{{ login_url }}">
                {{ include_menu_login_text }}
            </a>
        </li>
        {{# display_new_user }}
        <li>
            <a href="/account/register.php">
                {{ include_menu_new_user_text }}
            </a>
        </li>
        {{/ display_new_user }}
    {{/ user_is_logged_in }}
</ul>
