<div class="crossref-tooltip-header-prefix-icon tlp-avatar avatar">
    <img src="{{ avatar_url }}" loading="lazy">
</div>
<div>
    <div>{{ real_name }}</div>
    <div class="crossref-tooltip-header-user-name">@{{ username }}</div>
</div>
