<table>
    <tbody>
        <tr>
            <th>{{# gettext }}Id{{/ gettext }}</th>
            <td>{{ user_id }}</td>
        </tr>
        <tr>
            <th>{{# gettext }}Email{{/ gettext }}</th>
            <td>{{ email }}</td>
        </tr>
    </tbody>
</table>
