<table>
    <tbody>
        <tr>
            <th>{{# gettext }}Id{{/ gettext }}</th>
            <td>{{ getId }}</td>
        </tr>
        <tr>
            <th>{{# gettext }}Email{{/ gettext }}</th>
            <td>{{ getEmail }}</td>
        </tr>
    </tbody>
</table>
