<div class="crossref-tooltip-header-prefix-icon tlp-avatar avatar">
    {{# hasAvatar }}
        <img src="{{ getAvatarUrl }}">
    {{/ hasAvatar }}
</div>
<div>
    <div>{{ getRealName }}</div>
    <div class="crossref-tooltip-header-user-name">@{{ getName }}</div>
</div>
