<div id="release-widget"
     class="tlp-framed-vertically"
     data-project-id="{{ project_id }}"
     data-is-IE11="{{ is_IE11 }}"
     data-nb-upcoming-releases="{{ nb_upcoming_releases }}"
     data-nb-backlog-items="{{ nb_backlog_items }}"
     data-json-trackers-agile-dashboard="{{ json_trackers_agile_dashboard }}"
     data-label-tracker-planning="{{ label_tracker_planning }}"
></div>
