<ul class="nav nav-tabs">
  <li><a href="/plugins/testing/?group_id=1&resource=requirement">Tests Specification</a></li>
  <li><a href="/plugins/testing/?group_id=1&resource=campaign">Campaigns</a></li>
  <li class="active"><a href="/plugins/testing/?group_id=1&resource=report">Reports</a></li>
</ul>
<h2>Reports</h2>
