<ul class="nav nav-tabs">
  <li><a href="/plugins/testing/?group_id=1&resource=requirement">Tests Specification</a></li>
  <li><a href="/plugins/testing/?group_id=1&resource=campaign">Campaigns</a></li>
  <li class="active"><a href="/plugins/testing/?group_id=1&resource=report">Reports</a></li>
</ul>
<h2>Reports</h2>

<h3>Defects by releases</h3>
{{# has_defects }}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Release</th>
            <th>Defect</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{# list_of_defects }}
        <tr>
            {{# release }}<td>{{ name }}</td>{{/ release }}
            {{# defect }}<td>{{{ link }}}</td>
            <td>{{ status }}</td>{{/ defect }}
        </tr>
        {{/ list_of_defects }}
    </tbody>
</table>
{{/ has_defects }}
{{^ has_defects }}
<div class="alert alert-info">
    <strong>Well done!</strong>
    There isn't any defects reported for your releases under test. Congratulations!
</div>
{{/ has_defects }}

<h3>Tracability matrix</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2">Release</th>
            <th colspan="2">Requirement</th>
            <th colspan="2">Test Case</th>
        </tr>
    </thead>
    <tbody>
        {{# matrix }}
        <tr>
            {{# release }}
            <td rowspan="{{ nb_of_tests }}">{{ name }}</th>
            <td rowspan="{{ nb_of_tests }}">{{> label-status }}</th>
            {{/ release }}
            {{# requirement }}
            <td rowspan="{{ nb_of_tests }}">{{ name }}</th>
            <td rowspan="{{ nb_of_tests }}">{{> label-status }}</th>
            {{/ requirement }}
            {{# testexecution }}
            <td>{{ name }}</td>
            <td>{{> label-status }}</td>
            {{/ testexecution }}
        </tr>
        {{/ matrix }}
    </tbody>
</table>
