{{# has_only_one_reference }}

This merge request references: {{# references }}[{{ label }}]({{ url }}){{/ references }}.

{{/ has_only_one_reference }}
{{^ has_only_one_reference }}

This merge request references:

{{# references }}
 * [{{ label }}]({{ url }})
{{/ references }}

{{/ has_only_one_reference }}
