<div class="tlp-framed">
    <p>
         <a href="{{ tracker_admin_semantic_url }}" class="back-to-semantics">
            <i class="fa-solid fa-arrow-left-long" aria-hidden="true"></i>
            {{# dgettext }} tuleap-agiledashboard | Back to semantics {{/ dgettext }}
         </a>
    </p>
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">{{# dgettext }} tuleap-agiledashboard | Initial Effort {{/ dgettext }}</h1>
            </div>

            <section class="tlp-pane-section">
                {{# has_numeric_fields}}
                    <form method="POST" action="{{ url }}">
                     {{# csrf_token }}
                        {{> csrf_token_input }}
                     {{/ csrf_token }}

                    <p>
                        {{# dgettext }} tuleap-agiledashboard | This is used in the Backlog if enabled. {{/ dgettext }}
                    </p>
                    <div class="tlp-form-element">

                        <label class="tlp-label" for="semantic-initial_effort">
                             {{# dgettext }} tuleap-agiledashboard | Field used by semantic {{/ dgettext }}
                         </label>
                        <select name="initial_effort_field_id" id="semantic-initial_effort" class="tlp-select tlp-select-adjusted">
                            {{^ has_a_selected_field }}
                                <option value="-1" selected="selected">{{# dgettext }} tuleap-agiledashboard | Choose a field... {{/ dgettext }}</option>
                            {{/ has_a_selected_field }}

                            {{# numeric_fields }}
                                <option value="{{ id }}" {{# is_selected }}selected{{/ is_selected }}>{{ label }} </option>
                            {{/ numeric_fields }}
                        </select>
                    </div>

                    <div class="tlp-pane-section-submit">
                        {{^ has_initial_effort_field }}
                            <button type="submit" class="tlp-button-primary" name="update">
                                {{# dgettext }} tuleap-agiledashboard | Save semantic {{/ dgettext }}
                            </button>
                        {{/ has_initial_effort_field }}
                        {{# has_initial_effort_field }}
                            <button type="submit" class="tlp-button-primary" name="update" id="tracker-admin-set-semantic-button">
                                {{# dgettext }} tuleap-agiledashboard | Update semantic {{/ dgettext }}
                            </button>
                            <button type="submit" class="tlp-button-danger tlp-button-outline" name="delete"
                            >
                                {{# dgettext }} tuleap-agiledashboard | Unset this semantic {{/ dgettext }}
                            </button>
                        {{/ has_initial_effort_field }}
                    </div>
                {{/ has_numeric_fields}}
                {{^ has_numeric_fields}}
                    {{# dgettext }}tuleap-agiledashboard | You cannot define the initial effort semantic since there aren't any numeric fields in the tracker{{/ dgettext }}
                {{/ has_numeric_fields}}
            </section>
        </div>
    </section>
</div>
