<?php
//COPY THIS FILE TO /etc/tuleap/plugins/ldap/etc/ldap.inc IF YOU USE Active Directory

// How people refer to the Active Directory server, most of the time it's "Active Directory" but it can
// be "LDAP" or "Enterprise Directory", ...
// This value is used in Tuleap screens to refer to the server like "Enter your $sys_ldap_server_common_name credentials"
$sys_ldap_server_common_name = 'Active Directory';

// LDAP server(s) to query for more information on Tuleap users and
// for authentication.
// You may use a comma-separated list if there are several servers available
// (leave blank to disable LDAP lookup).
// To specify secure LDAP servers, use 'ldaps://servername'
$sys_ldap_server = '%sys_ldap_server%';

// The type of server being used. This can take one of two values
// 'OpenLDAP' or 'ActiveDirectory'.
// Any value other that 'ActiveDirectory' will default to 'OpenLDAP'
$sys_ldap_server_type = 'ActiveDirectory';

// To enable LDAP information on Tuleap users, also define the DN
// (distinguised name) to use in LDAP queries.
// The ldap filter is the filter to use to query the LDAP directory
// (%name% are substituted with the value from the user table)
$sys_ldap_dn     = 'dc=example,dc=com';

// For LDAP systems that do not accept anonymous binding, define here
// a valid DN and password:
//$sys_ldap_bind_dn = 'eduid=1234,ou=people,dc=example,dc=com';
//$sys_ldap_bind_passwd = 'xxxxxxxxx';

// LDAP authentication:
// Tuleap only supports authentication with a attempt to bind with LDAP server
// with a DN and a password.
// As the DN is usually long (eduid=1234,ou=people,dc=example,dc=com) people
// usually authenticate themself with a login. So we need to first look
// for the DN that correspond to the given login and once found attempt to bind
// with the given password.
// In order to authenticate successfully users you need to properly

// User login (authentication 1st step)
$sys_ldap_uid   = 'sAMAccountName';

// User unique identifier. It's probably not the uid (or login) because it
// may change. This is a value that never change whatever happens to the
// user (even after deletion). It correspond to ldap_id field in user table
// in database.
// (authentication 2st step)
$sys_ldap_eduid = 'sAMAccountName';

// User common name
$sys_ldap_cn    = 'cn';
// User email address
$sys_ldap_mail  = 'mail';

// Specific DN to look for people
// You may use more than one DN separated by ; if you want to use several branches.
// Example : 'ou=People, dc=example, dc=com ; ou=Extranet, dc=example, dc=com'
$sys_ldap_people_dn     = 'dc=example,dc=com';

// Filter used to look for user. It should cover a wide selection of
// fields because it's aim to find a user whatever it's given (email, name,
// login, etc).

$sys_ldap_search_user='(|(sAMAccountName=%words%)(cn=%words%)(mail=%words%))';

// By default tooltip search is using ($sys_ldap_cn=%words%*) search filter (Hardcoded)
// You can change for a more sophisticated search
// $sys_ldap_tooltip_search_user='(&(|(sn=%words%*)(givenName=%words%*)(uid=%words%*))(!(givenName=BoiteVocale))(uid=*))';

// By default tooltip search attrs are $sys_ldap_cn and $sys_ldap_uid (Hardcoded)
// You can choose the attributes the search will retrieve
// $sys_ldap_tooltip_search_attrs='uid;sn;givenName';

// On account creation, what it the default user status (A, R, ...)
$sys_ldap_default_user_status = 'A';

// Enable LDAP based authentication for SVN by default for new projects
$sys_ldap_svn_auth = '0';

// Enable LDAP daily synchronization
$sys_ldap_daily_sync = '1';

// This Period of retention (in days) added to the date on which the LDAP daily synchronization
// was ran in order to compute the forecast date of the cleanup of suspended users.
$sys_ldap_daily_sync_retention_period = '1';

// Enable usage of LDAP for people management. For instance autocompletion on
// user list, automatic creation of users not already referenced in the forge.
$sys_ldap_user_management = '1';

// Enable ldap group management.
// This allows to mirror a LDAP group defined in LDAP directory within the forge
// Doesn't work yet with only works with OpenLDAP compatible directories yet.
$sys_ldap_grp_enabled   = '1';

// Enabled email notifications for project admins after each project sync
$sys_ldap_grp_sync_admin_notifications_enabled = "0";

// Specific DN where the user groups are
$sys_ldap_grp_dn        = 'ou=groups,dc=example,dc=com';

// How group search is performed
// - either 'onelevel' for search only within $sys_ldap_grp_dn branch
// - or 'subtree' for a recursive look-up
// be careful with the later, as it's used in autocompleter, LDAP server performances are critical for good responsiveness
$sys_ldap_grp_search_scope = 'onelevel';

// Field that represent group name
$sys_ldap_grp_cn        = 'cn';

// Field that indicate the membership of a user in a group
$sys_ldap_grp_member    = 'member';

// Group identifier (for ActiveDirectory servers only)
$sys_ldap_grp_uid       = 'sAMAccountName';

// objectclass that distinguish groups
$sys_ldap_grp_oc    = 'group';

// objectclass that distinguish users
$sys_ldap_user_oc    = 'person';

// Settings for searching with a directory groups' display name

// Field that indicate the display name
// $sys_ldap_grp_display_name = "displayname";

// Tooltip hints when searching with displayname
// $sys_ldap_tooltip_search_grp = "(|(cn=%words%*)(displayname=%words%*))";

// Threshold for users to be suspended
// On beyond of this value expressed in percentage no users will be suspended
$sys_ldap_threshold_users_suspension = '';

// Search depth for daily sync
// 'onelevel': search for users only into the level immediately below $sys_ldap_people_dn
// 'subtree' : search for users into all $sys_ldap_people_dn subtrees (default)
$search_depth = 'subtree';
