<section class="admin-sidebar-section">
    <h1 class="admin-sidebar-section-title">
        <i class="fas fa-users admin-sidebar-section-title-icon"></i> {{ users_section_title }}
        <span class="tlp-badge-primary tlp-badge-outline tlp-badge-rounded tlp-badge-on-dark-background">{{ all_users_count }}</span>
    </h1>

    <form action="/admin/userlist.php" method="get" class="admin-sidebar-form">
        <div class="tlp-form-element">
            <input type="search"
                   class="tlp-search tlp-search-small admin-sidebar-search"
                   name="user_name_search"
                   placeholder="{{ users_search_placeholder }}"
                   data-test="global-admin-search-user"
            >
        </div>
    </form>

    <nav class="admin-sidebar-section-nav">
        <a href="/admin/userlist.php" class="admin-sidebar-section-nav-item">{{ users_nav_all_users }}</a>
        <a href="/admin/register" class="admin-sidebar-section-nav-item">{{ users_nav_new_user }}</a>
        <a href="/admin/password_policy/" class="admin-sidebar-section-nav-item">{{# gettext }}Password policy{{/ gettext }}</a>
        <a href="/admin/user-settings/" class="admin-sidebar-section-nav-item" data-test="user-settings-link">{{# gettext }}User settings{{/ gettext }}</a>
        {{# users_need_approval}}
            <a href="/admin/approve_pending_users.php?page=pending" class="admin-sidebar-section-nav-item {{# isTherePendingUsers }}tlp-text-warning{{/ isTherePendingUsers }}" data-test="pending-users-link">
                {{ users_nav_pending_users }}
                {{# isTherePendingUsers }}
                    <span class="tlp-badge-warning tlp-badge-outline tlp-badge-rounded tlp-badge-on-dark-background">{{ pending_users_count }}</span>
                {{/ isTherePendingUsers }}
            </a>
            <a href="/admin/approve_pending_users.php?page=validated" class="admin-sidebar-section-nav-item {{# isThereValidatedUsers }}tlp-text-warning{{/ isThereValidatedUsers }}">
                {{ users_nav_validated_users }}
                {{# isThereValidatedUsers }}
                    <span class="tlp-badge-warning tlp-badge-outline tlp-badge-rounded tlp-badge-on-dark-background">{{ validated_users_count }}</span>
                {{/ isThereValidatedUsers }}
            </a>
        {{/ users_need_approval}}
        <a href="/admin/permission_delegation.php" class="admin-sidebar-section-nav-item" data-test="permission-delegation">{{ users_nav_permission_delegation }}</a>
    </nav>
</section>
