<section class="admin-sidebar-section">
    <h1 class="admin-sidebar-section-title">
        <i class="fa fa-wrench admin-sidebar-section-title-icon"></i> {{ utils_section_title }}
    </h1>

    <nav class="admin-sidebar-section-nav">
        <a href="/admin/system_events/" class="admin-sidebar-section-nav-item">{{ utils_nav_system_events }}</a>
        <a href="/admin/news/" class="admin-sidebar-section-nav-item {{# isTherePendingNews }}tlp-text-warning{{/ isTherePendingNews }}">
            {{ utils_nav_news }}
            {{# isTherePendingNews }}
                <span class="tlp-badge-warning tlp-badge-outline tlp-badge-rounded tlp-badge-on-dark-background">{{ pending_news_count }}</span>
            {{/ isTherePendingNews }}
        </a>
        <a href="/admin/massmail.php" class="admin-sidebar-section-nav-item" data-test="mass-mail">{{ utils_nav_mass_mail }}</a>
        <a href="/tracker/admin/restore.php" class="admin-sidebar-section-nav-item">{{ configuration_nav_tracker_restore }}</a>
    </nav>
</section>
