<section class="admin-sidebar-section">
    <nav class="admin-sidebar-links-nav">
        <a href="/doc/en/admin.html" class="admin-sidebar-links-nav-item">
            <i class="fa fa-life-saver"></i>
            {{ links_nav_doc }}
        </a>
    </nav>
</section>
