{{> sidebar_users }}
{{> sidebar_projects }}
{{> sidebar_utils }}
{{> sidebar_plugins }}
{{> sidebar_configuration }}
{{> sidebar_links }}

<div class="sidebar-collapser sidebar-collapser-bar"
    title="{{ collapse_sidebar_label }}"
    data-user-preference-name="admin_sidebar_state"
    data-collapsed-class="sidebar-fully-collapsed"
></div>
<i class="sidebar-collapser admin-sidebar-collapser-icon sidebar-collapser-icon fa fa-chevron-left"
    title="{{ collapse_sidebar_label }}"
    data-user-preference-name="admin_sidebar_state"
    data-collapsed-class="sidebar-fully-collapsed"
></i>
