<hr class="tlp-modal-separator">
<h2 class="tlp-modal-subtitle project-admin-ugroup-ldap-binding-modal-preview-title">{{ title }}</h2>

{{# nb_to_add }}
    <div class="tlp-alert-success">
        <i class="fa fa-plus tlp-alert-icon"></i> {{ nb_to_add_text }}
        <ul class="project-admin-ugroup-ldap-binding-modal-preview-list">
            {{# users_to_add }}
                <li class="project-admin-ugroup-ldap-binding-modal-preview-list-item">
                    <div class="tlp-avatar-mini">
                        {{# has_avatar }}
                            <img src="{{ avatar_url }}" alt="{{ display_name }}">
                        {{/ has_avatar }}
                    </div>
                    {{ display_name }}
                </li>
            {{/ users_to_add }}
        </ul>
    </div>
{{/ nb_to_add }}
{{# nb_to_remove }}
    <div class="tlp-alert-danger">
        <i class="fa fa-trash-o tlp-alert-icon"></i> {{ nb_to_remove_text }}
        <ul class="project-admin-ugroup-ldap-binding-modal-preview-list">
            {{# users_to_remove }}
                <li class="project-admin-ugroup-ldap-binding-modal-preview-list-item">
                    <div class="tlp-avatar-mini">
                        {{# has_avatar }}
                            <img src="{{ avatar_url }}" alt="{{ display_name }}">
                        {{/ has_avatar }}
                    </div>
                    {{ display_name }}
                </li>
            {{/ users_to_remove }}
        </ul>
    </div>
{{/ nb_to_remove }}
{{# nb_not_impacted }}
    <div class="tlp-alert-info">
        {{ nb_not_impacted_text }}
    </div>
{{/ nb_not_impacted }}

{{^ nb_to_add }}
    {{^ nb_to_remove }}
        {{^ nb_not_impacted }}
            <div class="tlp-alert-info">
                {{ nothing_to_do_text }}
            </div>
        {{/ nb_not_impacted }}
    {{/ nb_to_remove }}
{{/ nb_to_add}}
