$footer-white: #e5e8e9;

.footer {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: $tlp-theme-sidebar-background-color;
    color: transparentize($footer-white, .4);
}

.footer-section {
    width: 20%;
    margin: 0 2.5%;
}

.footer-section-title {
    margin: 0 0 10px;
    color: $footer-white;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
}

.footer-paragraph {
    font-size: 13px;
    line-height: 20px;

    > a {
        color: $footer-white;
        text-decoration: none;

        &:hover {
            color: $tlp-theme-color;
        }
    }
}

.footer-link {
    line-height: 25px;
}

/* stylelint-disable-next-line selector-id-pattern */
#footer_debug_separator {
    margin-top: 50px;
    padding-top: 24px;
    padding-bottom: 1em;
    background: #ffffff url('../images/debug_gradient.png') top left repeat-x;
    color: #333333;
}

/* stylelint-disable-next-line selector-id-pattern */
#footer_debug {
    margin-top: 10px;
}

/* stylelint-disable-next-line selector-id-pattern */
#footer_debug_content {
    padding: 10px;
    background: #ebebeb;
    color: #333333;

    fieldset legend {
        padding-left: 1em;
        color: #333333;
    }

    td {
        color: #333333;
    }

    pre {
        color: #404040;
    }
}
