#nav-dropdown-content-user-history {
    max-width: none;
}

#nav-dropdown-content-user-history-empty {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    color: transparentize($tlp-theme-color, .8);

    &.shown {
        display: flex;
    }

    > .empty-history-icon {
        margin: 0 0 15px;
        font-size: 40px;
    }

    > .empty-history-description {
        font-size: 22px;
    }
}

#nav-dropdown-content-user-history-error-message-fetch,
#nav-dropdown-content-user-history-error-message-clear {
    display: none;
    width: 510px;
    margin: $tlp-spacing;
    font-size: 16px;
    white-space: normal;

    &.shown {
        display: block;
    }
}

#nav-dropdown-content-user-history-loading {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    background: url('../../../www/themes/BurningParrot/images/spinner.gif') no-repeat center center;

    &.shown {
        display: block;
    }
}

#nav-dropdown-content-user-history-content {
    display: none;
    flex-direction: column;
    width: 550px;
    max-height: 70vh;
    overflow-y: auto;

    &.shown {
        display: flex;
    }
}

#nav-dropdown-content-user-history-clear {
    display: none;
    justify-content: center;
    padding: $tlp-spacing;
    border-top: 1px solid $tlp-ui-border-light;

    &.shown {
        display: flex;
    }
}

.history-item {
    display: flex;
    position: relative;
    flex: 1 0 auto;
    align-items: center;
    padding: $tlp-half-spacing $tlp-half-spacing $tlp-half-spacing $tlp-spacing;
    border-bottom: 1px solid $tlp-ui-border-light;
    color: $tlp-typo-default-text-color;
    text-decoration: none;

    &:last-child {
        border-bottom: 0;
    }

    &:focus-within,
    &:hover {
        background-color: transparentize($tlp-theme-color, .9);
        text-decoration: none;
        cursor: pointer;

        &.history-item-with-quicklinks {
            > .history-item-project {
                display: none;
            }

            > .history-item-links {
                display: flex;
            }
        }
    }
}

.history-item-description {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: $tlp-half-spacing $tlp-spacing $tlp-half-spacing 0;
}

.history-item-description-badge {
    margin: 0 5px 0 0;
}

.history-item-description-icon {
    margin: 0 5px 0 0;
    font-size: 20px;
    line-height: 23px;
}

.history-item-description-title {
    max-width: 200px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.history-item-links {
    display: none;
    font-size: 16px;
    line-height: 18px;
}

.history-item-links-link {
    display: flex;
    padding: $tlp-half-spacing;
    transition: color 100ms ease-in-out;
    color: $tlp-ui-dimmed;

    &:hover {
        transition: color 100ms ease-in-out;
        color: $tlp-theme-color;
    }
}

.history-item-project {
    max-width: 150px;
    margin: 0 $tlp-half-spacing 0 0;
    overflow: hidden;
    color: $tlp-ui-dimmed;
    line-height: 16px;
    text-align: right;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.history-item-project-icon {
    margin: 0 3px 0 0;
}

@each $color-name, $colors in $tlp-swatch-color-map {
    .history-item.#{$color-name} > .history-item-description > .history-item-description-icon {
        color: map-get($colors, 'primary');
    }
}
