$nav-dropdown-content-projects-content-padding: 10px 20px;
$nav-dropdown-content-border: 1px solid $tlp-ui-border-dark;

#nav-dropdown-content-projects {
    min-width: 350px;
}

.nav-dropdown-content-projects-filter-projects-full-width {
    width: auto;
    margin: 0 $tlp-spacing 0 0;
}

.nav-dropdown-content-projects-adaptable {
    border-right: $nav-dropdown-content-border;
    border-bottom: $nav-dropdown-content-border;
    border-left: $nav-dropdown-content-border;
    border-bottom-right-radius: $nav-dropdown-content-border-radius;
    border-bottom-left-radius: $nav-dropdown-content-border-radius;
}

.nav-dropdown-content-projects-new {
    padding: 15px;
    border-top: 1px solid $tlp-ui-border-light;
    text-align: center;
}

.nav-dropdown-content-projects-filter {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.nav-dropdown-content-projects-lists {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;

    @media only screen and (max-height: 450px) {
        max-height: 30vh;
    }
}

.nav-dropdown-content-projects-list-project {
    display: flex;
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;
    color: $tlp-ui-dimmed;
    text-decoration: none;
}

.nav-dropdown-content-projects-list-project-name,
.nav-dropdown-content-projects-list-project-config {
    text-decoration: none;
}

.nav-dropdown-content-projects-list-project:hover,
.nav-dropdown-content-projects-list-project-hover {
    background-color: transparentize($tlp-theme-color, .9);
}

.nav-dropdown-content-projects-list-project-name {
    flex: 1;
    padding: $nav-dropdown-content-projects-content-padding;
    color: $tlp-ui-dimmed;
}

.nav-dropdown-content-projects-list-project-name:hover,
.nav-dropdown-content-projects-list-project-name-hover {
    color: $tlp-theme-color;
    text-decoration: none;
}

.nav-dropdown-content-projects-list-project-name-access {
    margin: 0 10px 0 0;
    color: $tlp-theme-color;

    &.fa-tlp-unlock-plus-r,
    &.fa-unlock {
        opacity: .4;
    }
}

.nav-dropdown-content-projects-list-project-config {
    padding: $nav-dropdown-content-projects-content-padding;
    transition: color 100ms, opacity 100ms;
    opacity: .2;
    color: $tlp-ui-dimmed;
    font-size: 12px;

    &:hover {
        opacity: 1;
        color: $tlp-theme-color;
    }
}

.nav-dropdown-content-projects-list-project-config:hover,
.nav-dropdown-content-projects-list-project-config-hover {
    color: $tlp-theme-color;
}
