.nav-dropdown-content {
    min-width: 150px;
    max-width: 550px;
}

.nav-dropdown-content-item {
    display: block;
    padding: $tlp-small-spacing $tlp-medium-spacing;
    overflow: hidden;
    color: $tlp-typo-default-text-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 17px;
    text-decoration: none;
}

.nav-dropdown-content-item:focus,
.nav-dropdown-content-item:hover {
    background-color: transparentize($tlp-theme-color, .9);
    color: $tlp-theme-color;
    text-decoration: none;
}

.nav-dropdown-content-item-title {
    padding: $tlp-medium-spacing $tlp-medium-spacing $tlp-small-spacing $tlp-medium-spacing;
    color: $tlp-ui-dimmed;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 12px;
    text-transform: uppercase;
}
