<h2> {{ access_form_title }} </h2>
<form action="" method="POST">
    <input type="hidden" name="group_id" value="{{ project_id }}">
    <input type="hidden" name="func" value="access_control">
    <input type="hidden" name="post_changes" value="y">

    <p> {{ policy }} </p>
    <p class="feedback_warning"> {{ permissions_warning }} </p>
    <h3>{{{ access_ctrl_file }}}:</h3>
    <p> {{{ default_formatted_content }}} </p>

    <div id="access_file_container">
        <div id="current_access_file_container">
            <h3> {{ current_version_title }} </h3>
            <textarea class="not_resizable" cols="50" rows="20" wrap="virtual" name="form_accessfile" id="form_accessfile">{{{ content }}}</textarea>
            <p>
                <input type="submit" name="submit_new_version" class="btn btn-primary" value="{{ button_new_version_label }}">
            </p>
        </div>
        <div id="old_access_file_container">
            <h3> {{ other_version_title }}
                <select name="version_selected">
                    <option value="0"> {{ select_version }} </option>
                    {{# select_options }}
                    <option value="{{ id }}">#{{ version }} ({{ saved_on }} {{ date }})</option>
                    {{/ select_options }}
                </select>
            </h3>
            <span id="old_access_file_form">
                <textarea class="not_resizable empty_version" cols="50" rows="20" wrap="virtual" name="other_version_content" id="other_version_content" disabled readonly></textarea>
                <p>
                    <input type="submit" name="submit_other_version" class="btn" value="{{ button_other_version_label }}">
                </p>
            </span>
        </div>
    </div>
</form>