<h2>{{ title }}</h2>
<form action="" method="post">
    <input type="hidden" name="group_id" value="{{ project_id }}">
    <input type="hidden" name="func" value="general_settings">
    <input type="hidden" name="post_changes" value="y">
    <h3>{{ tracking_title }}</h3>
    <p><i>{{ tracking_comment }}</i></p>
    <label>
        {{ tracking_title }}
        <select name="form_tracked">
        <option value="1" {{# svn_tracked }} selected {{/ svn_tracked }}>{{ on }}</option>
        <option value="0" {{^ svn_tracked }} selected {{/ svn_tracked }}>{{ off }}</option>
        </select>
    </label>
    <h3>{{ mandatory_ref_title }}</h3>
    <p><i>{{ mandatory_ref_comment }}</i></p>
    <label>
        {{ mandatory_ref_title }}
        <select name="form_mandatory_ref">
            <option value="1" {{# svn_mandatory_ref }} selected {{/ svn_mandatory_ref }}>{{ on }}</option>
            <option value="0" {{^ svn_mandatory_ref }} selected {{/ svn_mandatory_ref }}>{{ off }}</option>
        </select>
    </label>
    <h3>{{ svn_can_change_log_title }}</h3>
    <p><i>{{ svn_can_change_log_comment }}</i></p>
    <label>{{ svn_can_change_log_title }}
        <select name="form_can_change_svn_log">
            <option value="1" {{# svn_can_change_log }} selected {{/ svn_can_change_log }}>{{ on }}</option>
            <option value="0" {{^ svn_can_change_log }} selected {{/ svn_can_change_log }}>{{ off }}</option>
        </select>
    </label>
    {{{ preamble_title }}}
    <p>
        <textarea cols="70" rows="8" wrap="virtual" name="form_preamble">{{{ svn_preamble }}}</textarea>
    </p>
    <p>
        <input type="submit" name="submit" class="btn btn-primary" value="{{ btn_submit }}">
    </p>
</form>
