<h2>{{ title }}</h2>
<form action="" method="post">
    <input type="hidden" name="group_id" value="{{ project_id }}">
    <input type="hidden" name="func" value="general_settings">
    <input type="hidden" name="post_changes" value="y">
    <h3>{{ tracking_title }}</h3>
    <p><i>{{ tracking_comment }}</i></p>
    <label>
        {{ tracking_title }}
        <select name="form_tracked">
        <option value="1" {{# svn_tracked }} selected {{/ svn_tracked }}>{{ on }}</option>
        <option value="0" {{^ svn_tracked }} selected {{/ svn_tracked }}>{{ off }}</option>
        </select>
    </label>
    <h3>{{ mandatory_ref_title }}</h3>
    <p><i>{{ mandatory_ref_comment }}</i></p>
    <label>
        {{ mandatory_ref_title }}
        <select name="form_mandatory_ref">
            <option value="1" {{# svn_mandatory_ref }} selected {{/ svn_mandatory_ref }}>{{ on }}</option>
            <option value="0" {{^ svn_mandatory_ref }} selected {{/ svn_mandatory_ref }}>{{ off }}</option>
        </select>
    </label>
    <h3>{{ svn_can_change_log_title }}</h3>
    <p><i>{{ svn_can_change_log_comment }}</i></p>
    <label>{{ svn_can_change_log_title }}
        <select name="form_can_change_svn_log">
            <option value="1" {{# svn_can_change_log }} selected {{/ svn_can_change_log }}>{{ on }}</option>
            <option value="0" {{^ svn_can_change_log }} selected {{/ svn_can_change_log }}>{{ off }}</option>
        </select>
    </label>
    <h3>{{ svn_allow_tag_immutable_title }}</h3>
    <p><i>{{{ svn_allow_tag_immutable_comment }}}</i></p>
        <div class="immutable-tags-option">
            <label class="radio">
                <input type="radio" name="form_tag_immutable" value="0" {{# no_immutable_tags }}checked{{/ no_immutable_tags}} />
                {{ no_immutable }}
                <div class="row-fluid">
                    <div class="span12">
                        <p class="muted">{{ no_immutable_help }}</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="immutable-tags-option">
            <label class="radio">
                <input type="radio" name="form_tag_immutable" value="1" {{# immutable_tags_in_modules }}checked{{/ immutable_tags_in_modules}} />
                {{ immutable_in_module }}
                <div class="row-fluid">
                    <div class="span12">
                        <p class="muted">{{{ immutable_in_module_help }}}</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>{{ layout_example }}</strong>
                        <pre class="well">
 ┣ moduleA
 ┃ ┣ trunk
 ┃ ┣ tags
 ┃ ┃  ┖ v1
 ┃ ┖ branches
 ┖ moduleB
   ┣ trunk
   ┣ tags
   ┖ branches</pre>
                    </div>
                    <div class="span8">
                        <strong>{{ impacted_svn }}</strong>
                        <div class="text-success">svn cp ^/moduleA/trunk ^/moduleA/tags/v1 <i class="icon-ok"></i></div>
                        <div class="text-error">svn cp ^/moduleA/trunk ^/moduleA/tags/v1/blah <i class="icon-remove"></i></div>
                        <div class="text-error">svn del ^/moduleA/tags/v1 <i class="icon-remove"></i></div>
                        <br>
                        <div>{{ or_svn_status_form }}</div>
                        <div class="text-success">A /moduleA/tags/v1 <i class="icon-ok"></i></div>
                        <div class="text-error">U /moduleA/tags/v1 <i class="icon-remove"></i></div>
                        <div class="text-error">D /moduleA/tags/v1 <i class="icon-remove"></i></div>
                        <div class="text-error">A /moduleA/tags/v1/README <i class="icon-remove"></i></div>
                        <div class="text-error">U /moduleA/tags/v1/README <i class="icon-remove"></i></div>
                        <div class="text-error">D /moduleA/tags/v1/README <i class="icon-remove"></i></div>
                    </div>
                </div>
            </label>
        </div>
        <div class="immutable-tags-option">
            <label class="radio">
                <input type="radio" name="form_tag_immutable" value="2" {{# immutable_tags_at_root }}checked{{/ immutable_tags_at_root}} />
                {{ immutable_at_root }}
                <div class="row-fluid">
                    <div class="span12">
                        <p class="muted">{{{ immutable_at_root_help }}}</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <strong>{{ layout_example }}</strong>
                        <pre class="well">
 ┣ trunk
 ┃ ┣ moduleA
 ┃ ┖ moduleB
 ┖ tags
   ┣ moduleA
   ┃ ┖ v1.1
   ┣ v1
   ┃ ┣ moduleA
   ┃ ┖ moduleB
   ┖ v2</pre>
                        <div class="immutable-tags-whitelist">
                            <strong>{{ whitelist }}</strong><br>
                            <textarea
                                cols="30"
                                rows="4"
                                name="immutable-tags-whitelist"
                                placeholder="moduleA
moduleB"
                            >{{ immutable_tags_whitelist }}</textarea>
                        </div>
                    </div>
                    <div class="span8">
                        <strong>{{ impacted_svn }}</strong>
                        <span class="muted">{{ moduleA_whitelist }}</span>
                        <div class="text-success">svn cp ^/trunk ^/tags/v1 <i class="icon-ok"></i></div>
                        <div class="text-error">svn cp ^/trunk ^/tags/v1/blah <i class="icon-remove"></i></div>
                        <div class="text-error">svn del ^/tags/v1 <i class="icon-remove"></i></div>
                        <div class="text-success">svn cp ^/trunk/moduleA ^/tags/moduleA/v1 <i class="icon-ok"></i></div>
                        <div class="text-error">svn cp ^/trunk/README ^/tags/moduleA/v1/README <i class="icon-remove"></i></div>
                        <br>
                        <div>{{ or_svn_status_form }}</div>
                        <div class="text-success">A /tags/v1 <i class="icon-ok"></i></div>
                        <div class="text-error">U /tags/v1 <i class="icon-remove"></i></div>
                        <div class="text-error">D /tags/v1 <i class="icon-remove"></i></div>
                        <div class="text-error">A /tags/v1/README <i class="icon-remove"></i></div>
                        <div class="text-error">U /tags/v1/README <i class="icon-remove"></i></div>
                        <div class="text-error">D /tags/v1/README <i class="icon-remove"></i></div>
                        <div class="text-success">A /tags/moduleA/v1 <i class="icon-ok"></i></div>
                        <div class="text-error">D /tags/moduleA/v1 <i class="icon-remove"></i></div>
                    </div>
                </div>
            </label>
        </div>
    {{{ preamble_title }}}
    <p>
        <textarea cols="70" rows="8" wrap="virtual" name="form_preamble">{{{ svn_preamble }}}</textarea>
    </p>
    <p>
        <input type="submit" name="submit" class="btn btn-primary" value="{{ btn_submit }}">
    </p>
</form>