<h2>{{ svn_intro_title }}</h2>

{{# uses_ldap_info }}
<p class="svn-intro-warning">{{{ warning_ldap }}}</p>
{{/ uses_ldap_info }}

<p class="svn-intro-command-intro">{{ command_intro }}</p>

{{^ user_is_loggedin }}
    <p>{{ user_not_connected_username_helper }}</p>
{{/ user_is_loggedin }}

<div class="svn-intro-command">
    <pre>{{ svn_command }}</pre>

    {{^ username_is_in_lowercase }}
    <span class="help-block">{{ username_helper_lowercase }}</span>
    {{/ username_is_in_lowercase }}
</div>

<p>{{ password }}</p>
