<h1>{{ title }}</h1>

<p>
    {{# dgettext }}
        tuleap-tracker |
        Congratulations! The Jira import initiated on %s has just finished. |
        {{ localized_created_on }}
    {{/ dgettext }}
</p>

<p>
    {{# dgettext }}
        tuleap-tracker |
        You can retrieve the imported data here:
    {{/ dgettext }}
    <a href="{{ link }}">{{ tracker_name }}</a>
</p>
