# {{ title }}

{{# dgettext }}
    tuleap-tracker |
    Congratulations! The Jira import initiated on %s has just finished. |
    {{ localized_created_on }}
{{/ dgettext }}


{{# dgettext }}
    tuleap-tracker |
    You can retrieve the imported data here:
{{/ dgettext }}

{{ link }}
