<li>
    <a id="tracker-cross-report-action-generate-document"
       href="#"
       data-properties="{{ properties }}"
    >
        {{# dgettext }}tuleap-document_generation | Generate cross trackers document {{/ dgettext }}
    </a>
    <div id="tracker-cross-report-generate-document-modal"></div>
</li>
