<li class="almost-tlp-menu-title">{{# dgettext }}tuleap-document_generation | XLSX{{/ dgettext }}</li>
<li>
    <a id="tracker-document-generation-xlsx-all-report-columns"
       href="#"
       data-properties="{{ properties }}"
    >
        {{# dgettext }}tuleap-document_generation | Export all report columns {{/ dgettext }}
    </a>
</li>
<li>
    <a id="tracker-cross-report-action-generate-document"
       href="#"
       data-properties="{{ properties }}"
    >
        {{# dgettext }}tuleap-document_generation | Generate cross trackers document {{/ dgettext }}
    </a>
    <div id="tracker-cross-report-generate-document-modal"></div>
</li>
