<li>
    <a id="tracker-report-action-generate-document"
       href="#"
       data-report-id="{{ report_id }}"
       data-report-name="{{ report_name }}"
       data-tracker-shortname="{{ tracker_shortname }}"
    >
        {{# dgettext }}tuleap-document_generation | Generate document{{/ dgettext }}
    </a>
</li>
