<li class="almost-tlp-menu-title">{{# dgettext }}tuleap-document_generation | DOCX{{/ dgettext }}</li>
<li>
    <a id="tracker-report-action-generate-document"
       href="#"
       data-properties="{{ properties }}"
    >
        {{# dgettext }}tuleap-document_generation | Generate document{{/ dgettext }}
    </a>
</li>
