<?php // -*-html-*-
rcs_id('$Id: body.tmpl 1422 2005-04-12 13:33:49Z guerin $');
?>

<div id="header"><?php // for top-and-bottom toolbars style sheet ?>
  <?= Template('top') ?>
</div>
<?= $CONTENT ?>
<?= Template('bottom') ?>

