<?php // -*-php-*-
rcs_id('$Id$');
/**
 * Note: Automatic homepage creation is not yet functional.
 */
$UserName = $user->getId();
$DefaultMessage = sprintf(_("Describe %s here."), $UserName);

$UserPreferencesMessage[0] =
    sprintf(_("You can personalize various settings in %s."),
            _("UserPreferences"));
$UserPreferencesMessage[1] =
    _("(Your preferences are stored as hidden data within this page).");

$CalendarSubpage = sprintf('[%s]', SUBPAGE_SEPARATOR . _("Calendar"));
$calendarMessage = sprintf(_("The %s subpage enables simple weblogging."),
                           $CalendarSubpage);

$BackLinks = sprintf('<'.'?plugin BackLinks ?'.'>');
$FullTextSearch = sprintf('<'.'?plugin-form FullTextSearch s=%s ?'.'>',
                          $UserName);
/**
 * WikiMarkup with embedded PHP follows:
 */
?>
<?=$DefaultMessage?>

----
<?=$UserPreferencesMessage[0]?>%%%
_<?=$UserPreferencesMessage[1]?>_

<?=$CalendarMessage?>
----
<?=$BackLinks?>
<?=$FullTextSearch?>
----
<?=_("CategoryHomepage")?>
