<?php // -*-html-*-
rcs_id('$Id$');

if (empty($FORMNAME))
    $FORMNAME = 'signin';
else
    $NOFORM = true;
?>
<?php 
if ($user->isAuthenticated()) {
    $Sep = $Theme->getButtonSeparator();
    $SignOutB = $Theme->makeButton(_("Sign Out"), "javascript:SignOut();", 'wikiaction');
?>
  <?= fmt("Authenticated as %s", WikiLink($user->getAuthenticatedId(), 'auto')) ?>
<?php } ?>

