<div class="tlp-framed-horizontally program-management-admin-framed">
    <div class="program-management-subtitle-container">
        <h2 class="program-management-subtitle">{{# dgettext }}tuleap-program_management | Milestones{{/ dgettext }}</h2>
        <div class="program-management-subtitle-details">
            {{# dgettext }}tuleap-program_management | Program Increments, Iterations{{/ dgettext }}
        </div>
    </div>

    {{> milestones/admin-configuration-program-increment-section}}
</div>
