<div class="tlp-framed-horizontally program-management-admin-framed">
    <div class="program-management-subtitle-container">
        <h2 class="program-management-subtitle">{{# dgettext }}tuleap-program_management | Milestones{{/ dgettext }}</h2>
    {{# display_iteration_section }}
        <div class="program-management-subtitle-details">
            {{# dgettext }}tuleap-program_management | Program Increments, Iterations{{/ dgettext }}
        </div>
    {{/ display_iteration_section }}
    {{^ display_iteration_section }}
        <div class="program-management-subtitle-details">
            {{# dgettext }}tuleap-program_management | Program Increments{{/ dgettext }}
        </div>
    {{/ display_iteration_section }}
    </div>

    <section class="tlp-pane program-management-admin-pane">
        <div class="tlp-alert-danger program-management-error-rest-not-show" id="program-management-save-configuration-error-rest"></div>
        {{> milestones/admin-configuration-program-increment-section}}
        {{# display_iteration_section }}
            {{> milestones/admin-configuration-iteration-section}}
        {{/ display_iteration_section }}
        <button
            type="button"
            class="tlp-button-primary program-management-admin-button-save-configuration"
            id="program-management-admin-button-save-configuration"
        >
            <i class="fa fa-save tlp-button-icon" aria-hidden="true"></i>
            {{# dgettext }}tuleap-program_management | Save configuration{{/ dgettext }}
        </button>
    </section>
</div>
