<div id="account-confirmation-header">
    <h2>{{ title }}</h2>
</div>

<div id="account-confirmation-content">
    {{{ content }}}
</div>

{{# is_thanks }}
    <div id="account-confirmation-thanks">
        {{ thanks }}
    </div>
{{/is_thanks}}

<div id="account-confirmation-redirect">
    <a href="{{ redirect_url }}" name="personal_page" class="btn btn-large btn-primary" role="button"> {{ redirect_content }} </a>
</div>