<div id="form_pw-tooltip" style="display: none">
    <div class="robustness">{{# gettext }}Password robustness{{/ gettext }}
        <span class="password-strategy-good">{{# gettext }}Good{{/ gettext }}</span>
        <span class="password-strategy-bad">{{# gettext }}Bad{{/ gettext }}</span>

        {{# password_strategy_validators }}
            <p class="password_validator_msg_{{ key }}"><i class="fa fa-times password-strategy-bad"></i> {{ description }}</p>
        {{/ password_strategy_validators }}
    </div>
</div>

<script type="text/javascript">
    var password_validators = {{ json_password_strategy_keys }};
</script>
