<div id="register-background">
    <div id="register-form">
        <h2>{{ title }}</h2>

    <form action="{{ form_url }}" name="new_user" method="post">
        <div class="fields">
            {{# prefill_values }}
                {{# form_loginname }}
                    {{# has_error }}
                    <div class="control-group error">
                        <div class="controls">
                    {{/has_error }}
                            <input
                                    type="text"
                                    id="form_loginname"
                                    name="form_loginname"
                                    placeholder="{{ login }} *"
                                    value="{{ value }}"
                                    required="required"
                                    autocomplete="username"
                                    pattern="^[a-zA-Z][a-zA-Z0-9\-_\.]{2,}$"
                            />
                    {{# has_error }}
                            <span class="help-inline">{{ error }}</span>
                        </div>
                    </div>
                    {{/has_error }}
                {{/ form_loginname }}

                {{# form_email }}
                    {{# has_error }}
                        <div class="control-group error">
                            <div class="controls">
                    {{/has_error }}
                                <input type="email" id="form_email" name="form_email" placeholder="{{ email }} *" value="{{ value }}" required="required" autocomplete="email" />
                    {{# has_error }}
                                <span class="help-inline">{{ error }}</span>
                            </div>
                        </div>
                    {{/has_error }}
                {{/ form_email }}

                {{> register-choose-email }}
            {{/ prefill_values }}
        </div>
