<section class="tlp-popover" id="form_pw_popover">
    <div class="tlp-popover-arrow"></div>
    <div class="tlp-popover-header">
        <h1 class="tlp-popover-title robustness">
            {{# gettext }}Password robustness{{/ gettext }}
            <span class="tlp-badge-success password-strategy-good">{{# gettext }}Good{{/ gettext }}</span>
            <span class="tlp-badge-danger password-strategy-bad">{{# gettext }}Bad{{/ gettext }}</span>
        </h1>
    </div>
    <div class="tlp-popover-body robustness">
        {{# password_strategy_validators }}
            <p class="password_validator_msg_{{ key }}">
                <i class="fa-solid fa-fw fa-xmark password-strategy-bad"></i> {{ description }}
            </p>
        {{/ password_strategy_validators }}
    </div>
</section>
