<div class="tlp-form-element agiledashboard-administration-scrum-additional-section">
    <label class="tlp-label" for="scrum-board-type">
        <i class="fa fa-tlp-taskboard"></i>
        {{# dgettext }} tuleap-taskboard | Board type {{/ dgettext }}
    </label>
    <select class="tlp-select tlp-select-adjusted" id="scrum-board-type" name="scrum-board-type">
        {{# board_types }}
            <option value="{{ value }}" {{# is_selected }}selected{{/ is_selected }}>{{ label }}</option>
        {{/ board_types }}
    </select>
</div>
