<?php // -*-php-*-
    rcs_id('$Id: navbar.tmpl 1422 2005-04-12 13:33:49Z guerin $');

    $s = $Theme->getButtonSeparator();
?>
<!-- The top navigation/search bar -->
<form action="<?= WikiURL(_("TitleSearch"))?>" target="_top"
      method="get" accept-charset="<?=CHARSET?>">
<div id="navbuttons">
<?= WikiLink(_("RecentChanges"), "button") ?><?=$s?><?= WikiLink(_("FindPage"), "button") ?>
<?=HTML::raw('&nbsp;')?><input type="hidden" name="auto_redirect" value="1" />
<?php if (! USE_PATH_INFO) { ?>
<input type="hidden" name="pagename" value="<?=_("TitleSearch")?>" />
<?php } ?>
<input type="hidden" name="nocache" value="purge" />
<input type="text"  name="s" size="12" maxlength="256"
       title='<?=_("Quick Search")?>'
       onmouseover="window.status='<?=_("Quick Search")?>'; return true;"
       onmouseout="window.status=''; return true;" />
<?php if (!empty($revision)) { ?>
<?=$s?><?= $Theme->makeLinkButton($revision,_("LikePages"),_("LikePages")) ?><?=$s?><?= $Theme->makeLinkButton($revision,_("BackLinks"),_("BackLinks")) ?><?=$s?><?= $Theme->makeLinkButton($revision,_("RelatedChanges"),_("RelatedChanges")) ?>
<?php } ?>
<?php if (!empty($user) && $user->isSignedIn()) { ?>
<?=$s?><?= WikiLink(_("UserPreferences"),'button',_("Preferences")) ?>
<?php } ?>
<?php if (!empty($user)) { ?>
<?php
      /* Today's calendar page for the user, if the Calender subpage is defined. */
      $UserCalPageTitle = $user->getId() . SUBPAGE_SEPARATOR . _("Calendar");
      $dbi = $request->getDbh();
      if ($dbi->isWikiPage($UserCalPageTitle)) {
        $UserCalPageTodayTitle = $UserCalPageTitle . SUBPAGE_SEPARATOR . strftime("%Y-%m-%d", time());
        $UserCalPageTodayUrl = WikiURL($UserCalPageTodayTitle);
        ?>
<?=$s?><?= WikiLink($UserCalPageTodayUrl, "button", _("Today")) ?>
<?php } ?>
<?php } ?>
<?php if (!empty($user) && $user->isAdmin()) { ?>
<?=$s?><?= WikiLink(_("PhpWikiAdministration"), "button", _("Admin")) ?>
<?php } ?></div>
</form>
