<div id="frs-app"
     class="tlp-framed-vertically"
     ng-app="tuleap.frs"
     ng-controller="AppController as $ctrl"
>
    <div class="frs-init-data" ng-non-bindable
         data-release="{{ release_representation }}"
         data-platform-license-info="{{ platform_license_info }}"
         data-language="{{ language }}"
         data-custom-license-agreement="{{ custom_license_agreement }}"
    ></div>
    <div release class="release-view"></div>
</div>
