<div id="frs-app"
    ng-app="tuleap.frs"
    ng-controller="AppController as $ctrl"
    ng-init="$ctrl.init({{ release_representation }}, '{{ language }}')"
>
    <div release class="release-view"></div>
</div>
