/**
 * $Id: sidebar.css 1422 2005-04-12 13:33:49Z guerin $
 *
 * This incarnation of this stylesheet is a complete rewrite from the
 * ground up.
 * 
 * It renders excellent with Mozilla and very good with IE5.1Mac.
 * 
 * No floats are used, for older versions of ie (which apparently hang).
 *
 * OmniWeb is totally useless with this stylesheet.
 * This also has not yet been tested against NS4.
 * 
 */
@import url("../default/phpwiki.css");

/**
 * General settings
 */

div.wikitext {
  margin-left: 0.5em;
  /* "paper" borders */
  border-top:    1px solid #e8e6df;
  border-left:   1px solid #e8e6df;
  border-bottom: 1px solid #b2b2b2;
  border-right:  1px solid #b2b2b2;
}

/** some border colors
 ** to play with
  #d3d2c8;
  #e8e6df;
  #6d6a5c;
  #b3ae97;
 **/
div#logo img {
  /*  position: fixed; */
  left: 1ex;
  top:  1ex;
}
/*
div#clock {
  position: fixed;
  left: 0.7ex;
  top:  31ex;
}
div#calendar {
  position: fixed;
  left:  0.7ex;
  top:  31ex;
}
*/
h1 {
  position: fixed;
  top: 0;
  background: ivory;
  padding-top:    0.5ex;
  padding-bottom: 0.5ex;
  padding-left:   0.25em;
  width: 100%;
  border-bottom: 2px solid black;
}

h1 a.backlinks { text-decoration: none; }

/**
 * Common toolbar settings
 * Note that div.toolbar is used for other toolbars besides
 * #navbar and #actionbar, such as in editpage and removepage
 */
#navbar hr, #actionbar hr { display: none; }

#navbuttons, #actionbuttons, #signin { line-height: 2.4ex; }

/* Make the buttons as wide as the containing box */
#navbuttons a.wikiaction, #actionbuttons a.wikiaction, #signin a.wikiaction,
#navbuttons a.wikiadmin, #actionbuttons a.wikiadmin, #signin a.wikiadmin
{
  display: block;
  margin-bottom: 0.5ex;
  line-height: 100%;
  text-align: center;
  /* ie5.1mac ignores this! */
  width: 12em;
  max-width: 12em;

  border-top:  1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #999;
  border-right:  1px solid #999;
}

#navbuttons, #actionbuttons, #signin {
  color: black;
  background: white;
  text-align: left;
/*  position: fixed; */
  left:   0.5em;
  /* ie5.1 ignores max-width and sets the box
     width to the width of the whole page.
     ARGH! The buttons look so much better
     with max-width instead of width... */
  width: 12.5em;
  max-width: 12.5em;

  padding-left:  0.5em;
  padding-right: 0.5em;
  padding-top:    0.6ex;
  padding-bottom: 0.25ex;

  border-top:  1px solid #e8e6df;
  border-left: 1px solid #e8e6df;
  border-bottom: 1px solid #d3d2c8;
  border-right:  1px solid #e8e6df;
}
#navbuttons input { margin-bottom: 0.5ex; }


/**
 * Navigation links
 */
div#navbuttons:before {
  /* bonus for css2 browsers */
  display: block;
  /* content: "PhpWiki Navigation"; */ /* localise with dynamic css? */
  border-bottom: 2px solid black;
}
#navbuttons { top: 5.5ex; }

/**
 * Action links
 */
div#actionbuttons:before {
  /* bonus for css2 browsers */
  display: block;
  content: "Actions"; /* localise with dynamic css? */
}
/* div#actionbuttons { bottom: 10ex; } */

/**
 * Sign In
 */
/* div#signin { position: fixed; bottom: 0; } */
div#signin
{
 margin-bottom: 1ex;
}

/**
 * Last edited
 *
 * Really the only thing left in in #actionbar
   at this point is the date, everything else
   has been plucked out. */
p.editdate {
  background: white;
  padding: 0.25ex 0.5em;
  border-top:  1px solid #e8e6df;
  border-left: 1px solid #e8e6df;
  border-bottom: 1px solid #d3d2c8;
  border-right:  1px solid #e8e6df;

  margin-left:  0.5em;
  margin-right: 1em;
  margin-top:   0.5ex;
  margin-bottom: 0.5ex;
}

/*
div#actionbar {
  color: black;
  background: ivory;
  border-top: 1px solid #b2b2b2;
  width: auto;
  position: fixed;
  left:  13em;
  bottom: 0;
  margin: 0;
}
*/

/**
 * Other
 */
.debug {
  position: fixed;
  left: 0.5em;
  top: 42ex;
  width: 13em;
  max-width: 13em; /* ie ignores this */
}

/*
div#xhtml-validator { display: none; }
 */

div#xhtml-validator {
  position: fixed;
  right: 0.75em;
  top: 1ex;
}

.clear-floats {
  clear: both;
}

/* Black Links (not yet working) */
div.box-title a:visited, div.box-title a:link
{
  text-decoration: none;
  color: black;
}

/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
