<h1 class="tlp-framed-horizontally">{{ title }}</h1>

<nav class="tlp-tabs">
    <a
        href="index.php"
        class="tlp-tab {{# frequencies_tab_active }}tlp-tab-active{{/ frequencies_tab_active }}"
    >{{ frequencies_tab_label }}</a>
    <a
        href="disk_usage.php"
        class="tlp-tab {{# disk_usage_tab_active }}tlp-tab-active{{/ disk_usage_tab_active }}"
    >{{ disk_usage_tab_label }}</a>
    <a
        href="project_quota.php"
        class="tlp-tab {{# project_quota_tab_active }}tlp-tab-active{{/ project_quota_tab_active }}"
    >{{ project_quota_tab_label }}</a>
    <a
        href="services_usage.php"
        class="tlp-tab {{# service_usage_tab_active }}tlp-tab-active{{/ service_usage_tab_active }}"
    >{{ service_usage_tab_label }}</a>
</nav>
