<h1 class="tlp-framed-horizontally">{{ title }}</h1>

<nav class="tlp-tabs">
    <a
        href="index.php"
        class="tlp-tab {{# frequencies_tab_active }}tlp-tab-active{{/ frequencies_tab_active }}"
    >{{ frequencies_tab_label }}</a>
    <div class="tlp-tab {{# disk_usage_tab_active }}tlp-tab-active{{/ disk_usage_tab_active }}">
        {{ disk_usage_tab_label }} <i class="fa fa-caret-down"></i>
        <nav class="tlp-tab-menu">
            <span class="tlp-tab-menu-title">{{ disk_usage_services_menu_span_label }}</span>
            <a href="disk_usage.php?menu=services" class="tlp-tab-menu-item">{{ disk_usage_services_menu_label }}</a>
            <a href="disk_usage.php?menu=projects" class="tlp-tab-menu-item">{{ disk_usage_projects_menu_label }}</a>
            <span class="tlp-tab-menu-title">{{ disk_usage_global_menu_span_label }}</span>
            <a href="disk_usage.php?menu=global" class="tlp-tab-menu-item">{{ disk_usage_global_menu_label }}</a>
        </nav>
    </div>
    <div class="tlp-tab {{# project_quota_tab_active }}tlp-tab-active{{/ project_quota_tab_active }}">
        {{ project_quota_tab_label }} <i class="fa fa-caret-down"></i>
        <nav class="tlp-tab-menu">
            <a href="project_quota.php" class="tlp-tab-menu-item" >{{ all_project_quota_tab_label }}</a>
            <a href="project_over_quota.php" class="tlp-tab-menu-item" >{{ project_over_quota_tab_label }}</a>
        </nav>
    </div>
    <a
            href="data_export.php"
            class="tlp-tab {{# data_export_tab_active }}tlp-tab-active{{/ data_export_tab_active }}"
    >{{ data_export_tab_label }}</a>
</nav>
