[Unit]
Description=Install and run Tuleap
After=network.target
After=network-online.target
After=default.target

[Service]
User=root
Type=oneshot
StandardOutput=journal+console
ExecStart=/run.sh

[Install]
WantedBy=default.target