<span class="tracker-changeset-xml-import">
    {{# dgettext }}
        tuleap-tracker | Imported in xml by <a href="%s">%s</a> on %s | {{ profil_url }} | {{ user_name }} | {{ imported_on }}
    {{/ dgettext }}
</span>
