$url_base: "../images/account-confirmation/account-registration-feedback-background-";

#account-confirmation-header {
    background-position: center top;
    background-image: url("#{$url_base}#{$color-name}.png");
    height: 336px;

    > h2 {
        margin: 0;
        padding: 280px 0 20px;
    }
}

#account-confirmation-content {
    i {
        color: $main;
    }

    #account-confirmation-fake-email-title {
        background-color: $main;
    }

    #account-confirmation-fake-email-button span {
        background-color: $main;
    }
}

#account-confirmation-redirect {
    a {
        letter-spacing: 0.03em;
        font-family: 'SourceSansPro', Arial;
        font-weight: 400;
        border-radius: 4px;
        background-color: $main;
        background-image: -moz-linear-gradient(top, $main, $main);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, $main, $main);
        background-image: -webkit-linear-gradient(top, $main, $main);
        background-image: -o-linear-gradient(top, $main, $main);
        background-image: linear-gradient(to bottom, $main, $main);
        background-repeat: repeat-x;
        border-color: $main $main #002a80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
}