%badge-colors {
    &.tlp-badge-inca-silver {
        border: 1px solid $inca_silver;
        background: transparent;
        color: $inca_silver;
    }

    &.tlp-badge-chrome-silver {
        border: 1px solid $chrome_silver;
        background: transparent;
        color: $chrome_silver;
    }

    &.tlp-badge-fiesta-red {
        border: 1px solid $fiesta_red;
        background: transparent;
        color: $fiesta_red;
    }

    &.tlp-badge-teddy-brown {
        border: 1px solid $teddy_brown;
        background: transparent;
        color: $teddy_brown;
    }

    &.tlp-badge-clockwork-orange {
        border: 1px solid $clockwork_orange;
        background: transparent;
        color: $clockwork_orange;
    }

    &.tlp-badge-red-wine {
        border: 1px solid $red_wine;
        background: transparent;
        color: $red_wine;
    }

    &.tlp-badge-acid-green {
        border: 1px solid $acid_green;
        background: transparent;
        color: $acid_green;
    }

    &.tlp-badge-army-green {
        border: 1px solid $army_green;
        background: transparent;
        color: $army_green;
    }

    &.tlp-badge-sherwood-green {
        border: 1px solid $sherwood_green;
        background: transparent;
        color: $sherwood_green;
    }

    &.tlp-badge-ocean-turquoise {
        border: 1px solid $ocean_turquoise;
        background: transparent;
        color: $ocean_turquoise;
    }

    &.tlp-badge-daphne-blue {
        border: 1px solid $daphne_blue;
        background: transparent;
        color: $daphne_blue;
    }

    &.tlp-badge-lake-placid-blue {
        border: 1px solid $lake_placid_blue;
        background: transparent;
        color: $lake_placid_blue;
    }

    &.tlp-badge-deep-blue {
        border: 1px solid $deep_blue;
        background: transparent;
        color: $deep_blue;
    }

    &.tlp-badge-plum-crazy {
        border: 1px solid $plum_crazy;
        background: transparent;
        color: $plum_crazy;
    }

    &.tlp-badge-peggy-pink {
        border: 1px solid $peggy_pink;
        background: transparent;
        color: $peggy_pink;
    }

    &.tlp-badge-flamingo-pink {
        border: 1px solid $flamingo_pink;
        background: transparent;
        color: $flamingo_pink;
    }
}
