.main {
    padding: 0;
    @media screen and (max-width: 880px) {
        padding: $navbar-height 0 0 0;
    }

    @media screen and (max-width: 650px) {
        padding: $navbar-height * 2 0 0 0;
    }

    #feedback ul {
        margin: 12px;
    }

    .breadcrumb {
        $step-background: #ffffff;
        $step-color: #838383;
        $step-border: #e3e3e3;
        $step-border-chevron: #d5d5d5;
        $step-active-color: $main;
        $step-active-border: transparentize($main, .1);
        $step-clicked-background: $main;
        $step-clicked-border: $main;
        $step-clicked-color: #ffffff;

        display: flex;
        padding: 15px;
        background: #f0f1f8;
        list-style: none;

        > li {
            position: relative;
            margin: 0 0 0 -2px;

            > a {
                display: block;
                position: relative;
                height: 33px;
                padding: 0 10px 0 30px;
                transition: padding-right 150ms, border 150ms;
                border: 1px solid $step-border;
                border-left-color: transparent;
                background: $step-background;
                color: $step-color;
                font-family: 'SourceSansPro', 'Helvetica Neue', Arial, sans-serif;
                font-size: 13px;
                line-height: 33px;
                text-decoration: none;
                text-shadow: none;

                &::after {
                    position: absolute;
                    top: 0;
                    right: -16px;
                    width: 33px;
                    height: 33px;
                    transform: rotate(-45deg) scale(.73);
                    transition: box-shadow 150ms;
                    border-radius: 50px 0 0;
                    background: $step-background;
                    box-shadow: 1.3px 1.3px 0 $step-border-chevron;
                    content: '';
                    z-index: 1;
                }
            }

            &:first-child > a {
                margin: 0;
                padding-left: 20px;
                border-left-color: $step-border;
            }

            &:last-child > a {
                border: 1px solid $step-active-border;
                border-left-color: transparent;
                color: $step-active-color;

                &::after {
                    box-shadow: 1.3px 1.3px 0 $step-active-border;
                }
            }

            &:only-child > a {
                border: 1px solid $step-active-border;
            }

            &:hover {
                > a {
                    border: 1px solid $step-active-border;
                    color: $step-active-color;

                    &::after {
                        box-shadow: 1.3px 1.3px 0 $step-active-border;
                    }

                    &:active {
                        border: 1px solid $step-clicked-border;
                        background: $step-clicked-background;
                        color: $step-clicked-color;

                        &::after {
                            background: $step-clicked-background;
                            box-shadow: 1.3px 1.3px 0 $step-clicked-border;
                        }
                    }
                }
            }
        }
    }

    .toolbar.nav-pills {
        margin: 0;
        padding: 15px 20px 0;
        border: 0;
        background: #f0f1f8;
        font-family: 'SourceSansPro', 'Helvetica Neue', Arial, sans-serif;
        font-size: 13px;

        li > a {
            margin: 0 30px 15px 0;
            padding: 0;
            background: none;
            color: $medium-grey;
            font-weight: normal;
        }

        li > a:hover, li > a:focus {
            color: $dark-grey;
            font-weight: normal;
            background: none;
        }
    }

    .breadcrumb + .toolbar.nav-pills {
        padding: 0 20px;
    }

    .content {
        padding: 12px 12px 150px;
    }
}
