/* scss-lint:disable SelectorFormat */
#footer_debug_separator {
    margin-top: 50px;
    padding-top: 24px;
    padding-bottom: 1em;
    background: #ffffff url('../images/debug_gradient.png') top left repeat-x;
    color: #333333;
}

#footer_debug {
    margin-top: 10px;
}

#footer_debug_content {
    padding: 10px;
    background: #ebebeb;
    color: #333333;

    fieldset legend {
        padding-left: 1em;
        color: #333333;
    }

    td {
        color: #333333;
    }

    pre {
        color: #404040;
    }
}
