footer {
    font-size: 0.8em;
    width: 100%;
    height: $footer-height;
    padding: 0;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    background: #fcfcfc;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #fcfcfc 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #fcfcfc 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff',GradientType=0 );
}

#footer_debug_separator {
    background: white url(../images/debug_gradient.png) top left repeat-x;
    color:#333;
    margin-top: 50px;
    padding-top: 24px;
    padding-bottom: 1em;
}

#footer_debug {
    margin-top: 10px;
}

#footer_debug_content {
    background: #EBEBEB;
    padding: 10px;
    color: #333333;

    fieldset legend {
        color: #333333;
        padding-left: 1em;
    }
    td {
        color: #333333;
    }
    pre {
        color: #404040;
    }
}
