&.homepage {
    .main {
        a {
            color: $main;
        }

        overflow-x: hidden;

        #feedback {
            position: absolute;
        }

        .content {
            padding: 0;

            .homepage-head-cta {
                background: url('../images/homepage/header-background.png') no-repeat top center;
                min-height: 752px;
                border-bottom: 3px solid $main;

                &.with-news {
                    min-height: 834px;
                }

                > .head {
                    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 100%);
                    border-bottom: 1px solid rgba(204, 204, 204, 0.25);
                    min-height: 350px;
                    text-align: center;

                    img {
                        margin: 70px auto 40px;
                    }

                    p {
                        font-family: 'SourceSansPro', Arial;
                        font-size: 1.5em;
                        line-height: 1.8em;
                        font-weight: 300;
                        letter-spacing: 0.03em;
                        padding: 0 100px;
                    }
                }

                > .cta {
                    padding: 80px 0 0;

                    h3 {
                        margin-top: 0;
                        font-size: 2em;
                        color: #262626;
                        letter-spacing: 0.02em;
                        font-weight: 300;
                        margin: 0 0 20px;
                        font-family: 'SourceSansPro', Arial;
                    }

                    .homepage-discover {
                        box-sizing: border-box;
                        height: 325px;
                        background: url(../images/homepage/discover-awesomeness-screenshots.png) no-repeat bottom;
                        text-align: center;
                    }

                    .homepage-news {
                        font-family: 'SourceSansPro', Arial;

                        .news {
                            margin: 0 0 30px;

                            h4 {
                                margin: 0 0 10px;
                                font-weight: 300;
                                font-size: 1.4em;
                            }

                            hr {
                                display: none;
                            }

                            small {
                                margin: 10px 0 0
                            }
                        }

                        div:last-child {
                            display: none;
                        }
                    }

                    .statistics {
                        margin-top: 20px;
                        min-height: 263px;
                        text-align: center;
                        font-size: 1.6em;
                        line-height: 2em;
                        font-family: 'SourceSansPro', Arial;

                        > p {
                            margin-top: 30px;
                            font-weight: 300;

                            > span {
                                display: block;
                                font-weight: bold;
                                font-size: 2.4em;

                                &.nb-projects {
                                    color: #4195C8;
                                }

                                &.nb-users {
                                    color: #67AD46;
                                }
                            }
                        }
                    }

                    .sign-in {
                        > .input-prepend {
                            width: 100%;
                            position: relative;
                            height: 40px;

                            > .add-on {
                                position: absolute;
                                top: 0;
                                z-index: 2;
                                height: 24px;
                                width: 24px;
                                padding-top: 10px;

                                i {
                                    font-size: 1.1em;
                                    color: #666666;
                                }
                            }

                            > input {
                                width: 100%;
                                position: absolute;
                                z-index: 1;
                                border-radius: 4px;
                                padding-left: 44px;
                                box-sizing: border-box;
                                height: 40px;
                            }
                        }

                        > button[type=submit] {
                            width: 100%;
                            letter-spacing: 0.03em;
                            font-family: 'SourceSansPro', Arial;
                            font-weight: 300;
                            border-radius: 4px;
                            background-color: $main;
                            background-image: -moz-linear-gradient(top, lighten($main, 10%), $main);
                            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(lighten($main, 10%)), to($main));
                            background-image: -webkit-linear-gradient(top, lighten($main, 10%), $main);
                            background-image: -o-linear-gradient(top, lighten($main, 10%), $main);
                            background-image: linear-gradient(to bottom, lighten($main, 10%), $main);
                            background-repeat: repeat-x;
                            border-color: $main $main #002a80;
                            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
                            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
                        }

                        > .lost-password {
                            text-align: center;
                            display: block;
                            margin: 10px 0;
                            font-size: 0.9em;
                        }

                        > .sign-in-or-line {
                            border-bottom: 1px solid #D8D8D8;
                            display: inline-block;
                            width: 42.5%;
                        }

                        > .sign-in-or {
                            text-align: center;
                            display: inline-block;
                            position: relative;
                            top: 3px;
                            width: 15%;
                            color: #BFBFBF;
                            font-size: 0.9em;
                        }

                        > .sign-in-register {
                            text-align: center;
                            display: block;
                            margin: 10px 0;
                            font-size: 0.9em;
                        }
                    }

                    .welcome-back {
                        .avatar {
                            margin: 70px auto 20px;
                        }

                        h3 {
                            text-align: center;
                        }
                    }
                }
            }

            > .homepage-discover {
                box-sizing: border-box;
                height: 593px;
                background-image: url(../images/homepage/discover-awesomeness-screenshots.png), url(../images/homepage/discover-awesomeness-background.png), url(../images/homepage/discover-awesomeness-background-gradient.png);
                background-position: center bottom, center top, left bottom;
                background-repeat: no-repeat, no-repeat, repeat-x;
                background-color: #FBFBFB;
                border-bottom: 1px solid #ECECEC;
                text-align: center;

                h2 {
                    font-weight: 300;
                    margin: 120px 0 0;
                    font-size: 3em;
                    font-family: 'SourceSansPro', Arial;
                }
            }

            > .homepage-features .feature {
                margin: 0 0 150px;
                font-family: 'SourceSansPro', Arial;

                &:first-child {
                    margin: 150px 0 150px;
                }

                &:last-child {
                    margin: 0;
                }

                .hiddden {
                    opacity: 0;
                }

                .visible {
                    opacity: 1;
                }

                .screenshot {
                    min-height: 454px;
                    background-repeat: no-repeat;
                    background-position: left top;
                    padding: 0;

                    &:not(.offset1) {
                        direction: rtl;
                    }

                    > img {
                        max-width: none;
                    }
                }

                .screenshot-right, .screenshot-left {
                    -webkit-animation-duration: 0.5s;
                }

                h3 {
                    font-size: 3em;
                    font-weight: 300;
                    letter-spacing: 0.01em;
                    line-height: 1.1em;
                    margin: 0 0 30px;
                }

                p {
                    font-size: 1.1em;
                    margin: 0 0 20px;
                }

                img {
                    margin: 0 0 30px;
                }

                a > i {
                    font-size: 0.8em;
                    margin: 0 2px 0 0;
                }

                ul {
                    margin: 0 0 10px 20px;

                    > li {
                        margin: 0 0 10px;

                        &:last-child {
                            margin: 0 0 40px;
                        }
                    }
                }
            }
        }
    }

    footer {
        margin-top: 200px;
        border: 0;
        border-top: 3px solid $main;
        background: #F7F7F7;
    }

    &.FlamingParrot_Blue,
    &.FlamingParrot_DarkBlue {
        .feature ul {
            list-style-image: url(../images/homepage/bullet-blue.png);
        }
    }

    &.FlamingParrot_Red,
    &.FlamingParrot_DarkRed {
        .feature ul {
            list-style-image: url(../images/homepage/bullet-red.png);
        }
    }

    &.FlamingParrot_Orange,
    &.FlamingParrot_DarkOrange {
        .feature ul {
            list-style-image: url(../images/homepage/bullet-orange.png);
        }
    }

    &.FlamingParrot_Green,
    &.FlamingParrot_DarkGreen {
        .feature ul {
            list-style-image: url(../images/homepage/bullet-green.png);
        }
    }

    &.FlamingParrot_BlueGrey,
    &.FlamingParrot_DarkBlueGrey {
        .feature ul {
            list-style-image: url(../images/homepage/bullet-bluegrey.png);
        }
    }

    &.FlamingParrot_Purple,
    &.FlamingParrot_DarkPurple {
        .feature ul {
            list-style-image: url(../images/homepage/bullet-purple.png);
        }
    }
}