$login-background-url-base: "../images/login/login-background-";

&.login-page {
    background: url("#{$login-background-url-base}#{$color-name}.png") no-repeat center top, linear-gradient(#FFFFFF 0%, #F5F5F5 75%);

    #login-box {
        #login-help:hover, #login-help:active {
            color: $main;
        }

        > form {
            > button {
                background-color: $main;
                background-image: linear-gradient(to bottom, lighten($main, 10%), $main);
                background-repeat: repeat-x;
                border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            }

            #login-lost-password {
                color: $main;
            }
        }
    }
}
