$login-background-url-base: "../images/login/login-background-";

&.login-page {
    background: url("#{$login-background-url-base}#{$color-name}.png") no-repeat center top, linear-gradient(#FFFFFF 0%, #F5F5F5 75%);

    #login-box {
        #login-help:hover, #login-help:active {
            color: $main;
        }

        > form {
            #login-lost-password {
                color: $main;
            }
        }
    }
}
