$nav-dropdown-content-border-radius: 3px;
$history-dropdown-spacing: 20px;
$history-dropdown-ui-border-light: #f3f3f3;
$history-dropdown-ui-dimmed: #747474;
$history-dropdown-item-text-color: #333333;

.nav-dropdown-content-title {
    padding: 10px;
    border-top-left-radius: $nav-dropdown-content-border-radius;
    border-top-right-radius: $nav-dropdown-content-border-radius;
    background-color: $main;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: normal;
    text-align: center;
    cursor: initial;
}

#nav-dropdown-content-user-history {
    max-width: none;
}

#nav-dropdown-content-user-history-empty {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    color: transparentize($main, .8);

    &.shown {
        display: flex;
    }

    > .empty-history-icon {
        margin: 0 0 15px;
        font-size: 40px;
    }

    > .empty-history-description {
        font-size: 22px;
    }
}

#nav-dropdown-content-user-history-error-message-fetch,
#nav-dropdown-content-user-history-error-message-clear {
    display: none;
    width: 510px;
    margin: $history-dropdown-spacing;
    font-size: 16px;
    white-space: normal;

    &.shown {
        display: block;
    }
}

#nav-dropdown-content-user-history-loading {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    background: url("#{$tuleap-common-theme-basepath}images/tuleap-spinner.gif") no-repeat center center;

    &.shown {
        display: block;
    }
}

#nav-dropdown-content-user-history-content {
    display: none;
    flex-direction: column;
    width: 550px;
    max-height: 70vh;
    overflow-y: auto;

    &.shown {
        display: flex;
    }
}

#nav-dropdown-content-user-history-clear {
    display: none;
    justify-content: center;
    padding: $history-dropdown-spacing;
    border-top: 1px solid $history-dropdown-ui-border-light;

    &.shown {
        display: flex;
    }
}

.history-item {
    display: flex;
    position: relative;
    flex: 1 0 auto;
    align-items: center;
    padding: 10px 10px 10px $history-dropdown-spacing;
    border-bottom: 1px solid $history-dropdown-ui-border-light;
    color: $history-dropdown-item-text-color;
    text-decoration: none;

    &:last-child {
        border-bottom: 0;
    }

    &:focus-within,
    &:hover {
        background-color: transparentize($main, .9);
        cursor: pointer;

        &.history-item-with-quicklinks {
            > .history-item-project {
                display: none;
            }

            > .history-item-links {
                display: flex;
            }
        }
    }
}

.history-item-description {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 10px $history-dropdown-spacing 10px 0;
}

.history-item-description-badge {
    margin: 0 5px 0 0;
}

.history-item-description-icon {
    margin: 0 5px 0 0;
    font-size: 20px;
    line-height: 23px;
}

.history-item-description-title {
    max-width: 200px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.history-item-links {
    display: none;
    font-size: 16px;
    line-height: 18px;
}

.history-item-links-link {
    display: flex;
    padding: 10px;
    transition: color 100ms ease-in-out;
    color: $history-dropdown-ui-dimmed;

    &:hover {
        transition: color 100ms ease-in-out;
        color: $main;
    }
}

.history-item-project {
    margin: 0 10px 0 0;
    max-width: 150px;
    color: $history-dropdown-ui-dimmed;
    text-align: right;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
}

.history-item-project-icon {
    margin: 0 3px 0 0;
    white-space: normal;
}

.history-item.inca-silver > .history-item-description > .history-item-description-icon {
    color: $inca_silver;
}

.history-item.chrome-silver > .history-item-description > .history-item-description-icon {
    color: $chrome_silver;
}

.history-item.fiesta-red > .history-item-description > .history-item-description-icon {
    color: $fiesta_red;
}

.history-item.teddy-brown > .history-item-description > .history-item-description-icon {
    color: $teddy_brown;
}

.history-item.clockwork-orange > .history-item-description > .history-item-description-icon {
    color: $clockwork_orange;
}

.history-item.red-wine > .history-item-description > .history-item-description-icon {
    color: $red_wine;
}

.history-item.acid-green > .history-item-description > .history-item-description-icon {
    color: $acid_green;
}

.history-item.army-green > .history-item-description > .history-item-description-icon {
    color: $army_green;
}

.history-item.sherwood-green > .history-item-description > .history-item-description-icon {
    color: $sherwood_green;
}

.history-item.ocean-turquoise > .history-item-description > .history-item-description-icon {
    color: $ocean_turquoise;
}

.history-item.daphne-blue > .history-item-description > .history-item-description-icon {
    color: $daphne_blue;
}

.history-item.lake-placid-blue > .history-item-description > .history-item-description-icon {
    color: $lake_placid_blue;
}

.history-item.deep-blue > .history-item-description > .history-item-description-icon {
    color: $deep_blue;
}

.history-item.plum-crazy > .history-item-description > .history-item-description-icon {
    color: $plum_crazy;
}

.history-item.peggy-pink > .history-item-description > .history-item-description-icon {
    color: $peggy_pink;
}

.history-item.flamingo-pink > .history-item-description > .history-item-description-icon {
    color: $flamingo_pink;
}
