.search-bar {
    background: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;

    form .input-append {
        input {
            color: $main;
        }

        button {
            background: $main;
            color: #FFFFFF;
            transition: background 0.1s linear;

            &:hover {
                transition: background 0.1s linear;
                background: lighten($main, 3%);
            }
        }
    }
}

.additional-search-tabs {
    li {
        > a {
            color: #777;

            &:hover {
                color: $main;
                box-shadow: inset 0 -2px 0 $main;
            }
        }

        &.active {
            > a {
                color: $main;
                box-shadow: inset 0 -2px 0 $main;
            }
        }
    }
}

.search-panes {
    .search-pane {
        .search-pane-header {
            border-color: $main;
            color: $main;
        }

        .search-pane-body {
            ul {
                li {
                    a, span {
                        &.active {
                            text-decoration: none;
                            color: $main;
                        }
                    }
                }
            }
        }
    }
}

#search-results {
    ul li a {
        color: $main;

        &:hover {
            color: $dark-main;
        }
    }
}
