.sidebar-nav {
    background: $sidebar-background;
    font-family: 'SourceSansPro', 'Helvetica Neue', Arial, sans-serif;
    position: fixed;
    height: calc(100vh - #{$navbar-height});
    width: $sidebar-width;
    max-width: $sidebar-width;
    overflow: hidden;
    z-index: 1000;
    @media screen and (max-width: 880px) {
        padding: $navbar-height 0 0;
    }

    @media screen and (max-width: 650px) {
        padding: $navbar-height * 2 0 0;
    }

    .jspDrag {
        width: 9px;
        border-radius: 0;
        background: lighten($sidebar-background, 13%);
    }

    .jspPane {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    a.project-title {
        width: $sidebar-width;
        color: $white;
        text-align: center;
        font-size: 1.6em;
        line-height: 1.5em;
        box-shadow: inset 0 -7px 30px -10px darken($sidebar-background, 5%);
        margin: 0 0 20px 0;
        padding: 10px 0;
        display: block;

        &:hover {
            text-decoration: none;
            box-shadow: inset 0 -10px 30px -10px darken($sidebar-background, 7%);
        }

        i {
            font-size: 0.7em;
            color: $grey;
            margin-right: 5px;
        }
    }

    li > a {
        display: block;
        width: $sidebar-width;
        padding: 7px 12px 7px 10px;
        border-left: 3px solid transparent;
        color: transparentize(#ffffff, .3);
        text-shadow: none;
        box-sizing: border-box;
    }

    .nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
        background: none;
        font-weight: normal;
        color: lighten($grey, 25%);
        border-left: 3px solid $main;
        background: darken($sidebar-background, 3%) url('../images/sidebar_active.png') right center no-repeat;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background: none;
        border-left: 3px solid darken($sidebar-background, 3%);
        background: darken($sidebar-background, 3%);
    }

    i.sidebar-collapse {
        flex: 0 0 auto;
        color: $grey;
        background: darken($sidebar-background, 5%);
        font-size: 1em;
        display: block;
        text-align: center;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 10px auto;
        border-radius: 50%;
        padding: 8px 2px 0 0;
        cursor: pointer;

        &.icon-chevron-right {
            margin: 10px 8px;
            padding: 8px 0 0 0;
        }

        &:hover {
            color: lighten($grey, 10%);
            background: darken($sidebar-background, 3%);
        }
    }
}

.sidebar-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 auto;
    width: $sidebar-width;
    padding: 33px 0 20px 0;
    height: 75px;
    text-align: center;
    color: lighten($sidebar-background, 20%);

    > .admin-sidebar-tuleap {
        margin: 0 0 10px;
        fill: lighten($sidebar-background, 20%);
    }

    p {
        font-size: 0.8em;
        margin: 0;

        a {
            color: lighten($sidebar-background, 20%);

            &:hover {
                opacity: .7;
                text-decoration: none;
            }
        }
    }
}
