.sidebar-nav {
    background: $sidebar-background;
    font-family: 'SourceSansPro', 'Helvetica Neue', Arial, sans-serif;
    position: fixed;
    height: calc(100vh - #{$navbar-height});
    width: $sidebar-width;
    max-width: $sidebar-width;
    overflow: hidden;
    z-index: 1000;
    @media screen and (max-width: 880px) {
        padding: $navbar-height 0 0;
    }

    @media screen and (max-width: 650px) {
        padding: $navbar-height * 2 0 0;
    }

    .jspDrag {
        width: 9px;
        border-radius: 0;
        background: lighten($sidebar-background, 13%);
    }

    .jspPane {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    a.project-title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
        transition: background 100ms;
        background: darken($sidebar-background, 2%);
        color: transparentize(#ffffff, .2);
        font-size: 22px;
        line-height: 26px;
        text-decoration: none;

        &:hover {
            background: darken($sidebar-background, 4%);
        }

        i {
            margin-right: 10px;
            color: $grey;
            font-size: 16px;
        }
    }

    li > a {
        display: flex;
        position: relative;
        align-items: center;
        width: $sidebar-width;
        height: $navbar-height;
        padding: 0 0 0 12px;
        border-left: 3px solid transparent;
        color: transparentize(#ffffff, .2);
        text-shadow: none;
        box-sizing: border-box;

        > i {
            -webkit-font-smoothing: antialiased;
        }
    }

    .nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
        font-weight: normal;
        color: lighten($grey, 25%);
        border-left: 3px solid $main;
        background: darken($sidebar-background, 2%);

        &::before {
            position: absolute;
            top: 50%;
            right: 0;
            width: 0;
            height: 0;
            transform: translateY(-50%);
            border-width: 10px 10px 10px 0;
            border-style: solid;
            border-color: transparent $main-background transparent transparent;
            content: '';
        }
    }

    .nav > li > a:hover, .nav > li > a:focus {
        border-left: 3px solid transparent;
        background: darken($sidebar-background, 2%);
    }

    i.sidebar-collapse {
        flex: 0 0 auto;
        color: transparentize(#ffffff, .3);
        background: darken($sidebar-background, 2%);
        font-size: 1em;
        display: block;
        text-align: center;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        margin: 20px auto;
        border-radius: 50%;
        padding: 8px 2px 0 0;
        cursor: pointer;

        &.fa-chevron-right {
            padding: 8px 0 0;
        }

        &:hover {
            color: lighten($grey, 10%);
            background: darken($sidebar-background, 4%);
        }
    }
}

.sidebar-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 auto;
    width: $sidebar-width;
    padding: 33px 0 20px 0;
    height: 75px;
    text-align: center;
    color: lighten($sidebar-background, 15%);

    > .admin-sidebar-tuleap {
        margin: 0 0 8px;
        fill: lighten($sidebar-background, 15%);
    }

    p {
        font-size: 12px;
        margin: 0;

        a {
            color: lighten($sidebar-background, 15%);
            text-decoration: none;

            &:hover {
                color: $main;
            }
        }
    }
}
