&.homepage {

    .main {
        position: relative;

        #feedback {
            position: absolute;
        }

        .content {
            padding: 0;

            > .homepage-headline {
                background: #FEFEFE;
                border-bottom: 1px solid #F6F6F6;
                text-align: center;
                -moz-box-sizing: border-box;
                     box-sizing: border-box;
                height: 340px;
                max-height: 340px;

                img {
                    margin: 50px auto;
                }

                p {
                    font-family: 'SourceSansPro', Arial;
                    font-size: 1.5em;
                    line-height: 1.5em;
                }
            }
        }
    }

    footer {
        margin-top: 200px;
        border: 0;
        border-top: 3px solid @main;
        background: #F7F7F7;
    }
}