.search-bar {
    background: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

#search-accordion {
    .accordion-group {
        .accordion-toggle {
            color: @orange;
            &:hover { color: @dark-orange; }
        }

        .accordion-inner {
            border-top: 2px solid @orange;
        }
    }
}