.search-bar {
    background: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

.search-panes {
    .search-pane {
        .search-pane-header {
            border-color: @main;
            color: @main;
        }
    }
}

#search-results {
    ul li a {
        color: @main;

        &:hover { color: @dark-main; }
    }
}
