#search-accordion {
    .accordion-group {
        .accordion-toggle {
            color: @orange;
            &:hover { color: @dark-orange; }
        }

        .accordion-inner {
            border-top: 2px solid @orange;
        }
    }
}