{{# gettext }}Hello,{{/ gettext }}

{{# project_name }}
{{# gettext }}
    %1$s invited you to register to %2$s and join the project %3$s. |
    {{ from_user_real_name }} |
    {{ instance_name }} |
    {{ project_name }}
{{/ gettext }}
{{/project_name}}
{{^ project_name }}
{{# gettext }}
    %1$s invited you to register to %2$s. |
    {{ from_user_real_name }} |
    {{ instance_name }}
{{/ gettext }}
{{/ project_name }}
{{# resent_user_real_name }}

{{# gettext }}
    You may have seen the invitation before but %s just sent you a reminder to join. |
    {{ resent_user_real_name }} |
{{/ gettext }}
{{/ resent_user_real_name }}


To sign up:
{{ register_url }}

{{# has_custom_message }}
{{# gettext }}
    Message from %s: |
    {{ from_user_real_name }}
{{/ gettext }}

> {{ custom_message }}
{{/has_custom_message}}


{{# gettext }}Best regards,{{/ gettext }}

{{# gettext }}The %s team. | {{ instance_name }}{{/ gettext }}
