<h1 class="project-administration-title">{{ title }}</h1>

<div class="tlp-framed">
    <section class="tlp-pane">
        <form class="tlp-pane-container" action="/plugins/svn/?group_id={{ project_id }}&action=save-admin-groups" method="POST">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    <i class="fas fa-users tlp-pane-title-icon" aria-hidden="true"></i>
                    {{ admin_groups }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                <p>{{ admin_groups_description }}</p>

                <div class="tlp-form-element">
                    <label class="tlp-label" for="admin_groups">{{ admin_groups_label }}</label>
                    <select class="tlp-select tlp-select-adjusted" id="admin_groups" name="admin_groups[]" multiple  data-test="svn-admin-group-select">
                        {{# ugroups }}
                            <option value="{{ id }}" {{# selected }}selected{{/ selected }}>{{ name }}</option>
                        {{/ ugroups }}
                    </select>
                </div>
            </section>
            <section class="tlp-pane-section tlp-pane-section-submit">
                <input type="hidden" name="group_id" value="{{ project_id }}">
                {{{ csrf_input }}}
                <button type="submit" class="tlp-button-primary" data-test="svn-admin-save">
                    <i class="far fa-save tlp-button-icon" aria-hidden="true"></i>
                    {{# dgettext }}tuleap-svn | Save settings{{/ dgettext }}
                </button>
            </section>
        </form>
    </section>
</div>
