<h1 class="project-administration-title">{{ title }}</h1>

{{# has_migrate_from_core }}
    <nav class="tlp-tabs">
        <a href="{{ admin_groups_url }}" class="tlp-tab">{{# dgettext }} tuleap-svn | Administrators {{/ dgettext }}</a>
        <a href="{{ migrate_from_core_url }}" class="tlp-tab tlp-tab-active">{{# dgettext }} tuleap-svn | Migrate from core {{/ dgettext }}</a>
    </nav>
{{/ has_migrate_from_core }}

<div class="tlp-framed">
    <section class="tlp-pane">
        <form class="tlp-pane-container" action="{{ update_url }}" method="POST" id="migrate-from-core-form">
        {{{ csrf_input }}}
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">
                <i class="fas fa-gears tlp-pane-title-icon" aria-hidden="true"></i>
                {{# dgettext }} tuleap-svn | Migrate from core {{/ dgettext }}
            </h1>
            <section class="tlp-pane-section">
                <p>{{# dgettext }} tuleap-svn | This form allows to transfer the management of subversion repository from the `Subversion` service to this plugin. {{/ dgettext }}</p>
                <p>{{# dgettext }} tuleap-svn | This migration is done in place. All settings are transferred and, more important <strong>the subversion url</strong> ({{ svn_url }}) <strong>will not change</strong>.{{/ dgettext }}</p>
                <p>{{# dgettext }} tuleap-svn | However you will notice that:{{/ dgettext }}</p>
                <ul>
                    <li>{{# dgettext }} tuleap-svn | the commit email format is different.{{/ dgettext }}</li>
                    <li>{{# dgettext }} tuleap-svn | `SVN Query`, `My SVN commits` as well as SVN widgets are gone.{{/ dgettext }}</li>
                </ul>
                <p>{{# dgettext }} tuleap-svn | Once you switch the repository is immediately visible in the plugin interface with a <span class="tlp-badge-secondary tlp-badge-outline">Core</span> label. The hooks are replaced by a background job so the email format as well as new settings might take a few minutes to be applied.{{/ dgettext }}</p>
                <div class="tlp-form-element">
                    <label class="tlp-label" for="migrate-from-core-button">{{# dgettext }} tuleap-svn | Migrate from core {{/ dgettext }}</label>
                    <div class="tlp-switch">
                        <input type="checkbox" id="migrate-from-core-button" class="tlp-switch-checkbox" {{# already_migrated }}checked disabled{{/ already_migrated }}>
                        <label for="migrate-from-core-button" class="tlp-switch-button" aria-hidden></label>
                    </div>
                </div>
            </section>
        </div>
        </form>
    </section>
</div>
