    <ul class="nav nav-tabs">
        <li {{# admin_groups_active }}class="active"{{/ admin_groups_active }}>
            <a href="{{ admin_groups_url }}">{{ admin_groups }}</a>
        </li>
    </ul>
