#
# Increase PHP max execution time for the export
# database because it can last a long time
# (L. Julliard 2003-02-07)
#
<IfModule mod_php3.c>
php3_max_execution_time "1800"
</IfModule>

<IfModule mod_php4.c>
php_value max_execution_time "1800"
</IfModule>

<IfModule sapi_apache2.c>
php_value max_execution_time "1800"
</IfModule>
