<p>{{ label }}</p>
<select class="facet" multiple name="facets[{{ identifier }}][]" data-placeholder="{{ placeholder }}">
{{# values }}
    <option value="{{ value }}" {{ selected }}>{{ label }} ({{ count }})</option>
{{/ values }}
</select>