<h1>Full Text Search</h1>
<form name="fts_query" method="get" action="?func=search">
    <p>Enter the terms you are looking for
        <input type="text" name="query" value="{{terms}}" />
        <input type="submit" />
    </p>
</form>

{{#has_results}}

<p>{{result_count}} document(s) match:
    {{#search_results}}
    <div class="fts_result">
        <div class="fts_title">
            <a href="{{url}}">{{item_title}}</a> - {{project_name}}
        </div>
        <div class="fts_highlight">{{highlight}}...</div>
        <div>Permissions: {{permissions}}</div>
    </div>    
    {{/search_results}}
</p>

<p>Query took {{elapsed_time}}s</p>

{{/has_results}}
