<div class="container-fluid">
    <form name="fts_query" method="get" action="/search/">
        <input type="hidden" name="type_of_search" value="fulltext" />
        <div class="row">
            <div class="span12">
                <input type="text" name="words" value="{{terms}}" size="30" />
                <input type="submit" value="{{search_label}}" />
            </div>
        </div>
        <br />
    {{> search-results}}
</div>