#account-confirmation-email {
    margin: 12px;
    padding: 12px;
}

#account-confirmation-header h2 {
    padding: 0 0 50px;
    font-size: 38px;
    font-weight: 300;
    line-height: 43px;
    text-align: center;
}

#account-confirmation-content {
    position: relative;
    padding: 80px 0 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;

    p:first-child {
        margin: 0 0 50px;
    }

    i {
        display: inline-block;
        position: relative;
        top: -3px;
        transform: rotate(20deg);
    }

    #account-confirmation-envelope {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 50%;
        width: 424px;
        height: 200px;
        margin-left: -211px;
    }

    #account-confirmation-fake-email {
        width: 400px;
        margin: auto;
        padding-top: 40px;
    }

    #account-confirmation-fake-email-title {
        width: 100%;
        height: 50px;
        background-color: #006dcc;
    }

    #account-confirmation-fake-email-button {
        padding-bottom: 40px;

        span {
            padding: 5px 12px;
            border-radius: 5px;
            background-color: #006dcc;
            color: #ffffff;
        }
    }
}

#account-confirmation-thanks {
    padding: 70px 0 30px;
    font-size: 23px;
    font-weight: 300;
    text-align: center;
}

#account-confirmation-redirect {
    padding: 50px 0 100px;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}

.confirmation-user {
    font-weight: 400;
}

.thumbnail-fake-email,
.caption-fake-email {
    padding: 0;
}

.caption-fake-email p {
    margin: 30px 15px;
    font-size: 15px;
}

.caption-fake-email h3 {
    font-size: 20px;
}

.envelope-animation {
    transform: translateY(-40px);
    transform-origin: 50% 50%;
    animation: envelope_animation ease-out 2.2s;
    animation-iteration-count: 1;
}

@keyframes envelope_animation {
    0% {
        transform: translate(0, 0);
    }

    70% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -40px);
    }
}
