/* stylelint-disable selector-class-pattern, selector-id-pattern */
.onglet {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    padding: 3px;
    border: 1px solid #000000;
    cursor: pointer;
}

.onglet_0 {
    border-bottom: 1px solid #000000;
    background: #bbbbbb;
}

.onglet_1 {
    padding-bottom: 4px;
    border-bottom: 0 solid #000000;
    background: #dddddd;
}

.contenu_onglet {
    display: none;
    margin-top: -1px;
    padding: 5px;
    border: 1px solid #000000;
    background-color: #dddddd;
}

.contenu_onglet_center {
    text-align: center;
}

.contenu_onglet_table {
    width: 40%;
    margin: 0 auto;
}

.site_admin_user_status_A,
.site_admin_user_status_R,
.site_admin_user_status_S,
.site_admin_user_status_D,
.site_admin_user_status_P,
.site_admin_user_status_V,
.site_admin_user_status_W {
    margin: 1em;
    padding-left: 1em;
    border: 1px solid #000000;
}

.site_admin_user_status_A {
    background-color: #00aa00;
}

.site_admin_user_status_R {
    background-color: #ddff55;
}

.site_admin_user_status_D {
    background-color: #ffaa00;
}

.site_admin_user_status_S {
    background-color: #0000ff;
}

.site_admin_project_status_A {
    padding-left: 1em;
    background-image: url('#{$tuleap-common-theme-basepath}images/ic/tick.png');
}

.site_admin .widget {
    margin-bottom: 20px;
}

.site_admin .user_name_search,
.site_admin .group_name_search {
    width: auto;
}

.admin_delegation {
    font-family: monospace;
}

.admin_group_members,
.admin_delegation {
    /* LESS/Bootstrap: .well; */
    display: inline-block;
    min-height: 20px;
    margin-bottom: 1em;
    padding: 19px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.admin_group_members > ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.admin-permissions {
    width: auto;
    min-width: 960px;

    > tbody > tr > td {
        vertical-align: middle;
    }
}

.table_header_sort {
    display: block;
    width: 100%;
    color: #000000;
    text-decoration: none !important;
}

#admin-homepage {
    max-width: 960px;

    > button[type=submit] {
        margin: 10px 0 0;
    }

    > section {
        margin: 30px 0 20px;

        > h3 {
            margin: 30px 0 0;
        }
    }
}

.admin-headline {
    box-sizing: border-box;
    width: 100%;
}

#admin-headline-select-language {
    width: auto;
}
/* stylelint-enable */
