.autocompleter-users-and-ugroups-dropdown {
    .select2-highlighted .autocompleter-icon-group {
        color: #ffffff;
    }

    .select2-result-label {
        display: flex;
        align-items: center;
    }
}

.autocompleter-users-and-ugroups-dropdown,
.autocompleter-users-and-ugroups-input {
    .autocompleter-icon-group {
        margin: 0 5px 0 0;
        color: #666666;
    }

    .autocompleter-avatar {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 4px 0 0;
    }

    .select2-search-choice > div {
        display: flex;
        align-items: center;
        min-height: 15px;
    }

    .select2-choices {
        border: 1px solid #cccccc;
        border-radius: 4px;
        background-image: none;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
}
