.milestone-burndown {
    .axis {
        path,
        line {
            stroke: #000000;
            fill: none;
        }
    }

    .line {
        fill: none;

        &.abscissas,
        &.ordinates {
            stroke-width: 1px;
            stroke: #cecece;
            shape-rendering: crispEdges;
        }

        &.ideal {
            stroke-width: 1px;
            stroke-dasharray: 5, 5;
            stroke: #cecece;
        }

        &.actual {
            stroke-width: 4px;
            stroke: #000000;
        }
    }

    .circle {
        &.actual {
            stroke-width: 3px;
            stroke: #000000;
            fill: #ffffff;
        }
    }
}
