.milestone-burndown {
    .axis {
        path,
        line {
            fill: none;
            stroke: #000;
        }
    }

    .line {
        fill: none;

        &.abscissas, &.ordinates {
            stroke: #CECECE;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }

        &.ideal {
            stroke: #CECECE;
            stroke-dasharray: 5, 5;
            stroke-width: 1px;
        }

        &.actual {
            stroke: #000;
            stroke-width: 4px;
        }
    }

    .circle {
        &.actual {
            stroke: #000;
            stroke-width: 3px;
            fill: white;
        }
    }
}
