.diff .context {
    color: #666;
}

.diff .added,
.diff .final {
    background: #dfd;
}

.diff .deleted,
.diff .original {
    background: #fdd;
}

.diff .added ins,
.diff .final ins {
    color: #090;
    text-decoration: none;
    font-weight: bold;
}

.diff .deleted del,
.diff .original del {
    color: #c00;
    font-weight: bold;
}
