/* stylelint-disable selector-class-pattern */
.dropdown_panel {
    z-index: 10000;
    border: thick solid #cccccc;
    background: #f7f7f7;
    box-shadow: 0 2px 10px #cccccc;
}

.dropdown_panel tr td {
    padding: 4px;
    white-space: nowrap;
}

.dropdown_panel tr td ul {
    margin: 0;
    padding: 4px;
    padding-left: 4px;
    list-style-type: none;
}

.dropdown_panel label {
    display: inline;
}
/* stylelint-enable */
