.lists_users_autocomplete { /* stylelint-disable-line selector-class-pattern */
    max-height: 200px;
    overflow: auto;
    border: 1px solid #cccccc;
    background: #ffffff;
}

.lists_users_autocomplete ul { /* stylelint-disable-line selector-class-pattern */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.lists_users_autocomplete ul li { /* stylelint-disable-line selector-class-pattern */
    padding: 0 4px 4px;
}

.lists_users_autocomplete ul li.selected { /* stylelint-disable-line selector-class-pattern, selector-no-qualifying-type */
    background-color: #ffffbb;
}
