/* stylelint-disable-next-line selector-class-pattern */
.lists_users_autocomplete {
    max-height: 200px;
    overflow: auto;
    border: 1px solid #cccccc;
    background: #ffffff;
}

/* stylelint-disable-next-line selector-class-pattern */
.lists_users_autocomplete ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.lists_users_autocomplete ul li {
    padding: 0 4px 4px;
}

/* stylelint-disable-next-line selector-class-pattern, selector-no-qualifying-type */
.lists_users_autocomplete ul li.selected {
    background-color: #ffffbb;
}
