/* stylelint-disable selector-class-pattern, selector-no-qualifying-type */
.news_date {
    color: #999999;
}

.news blockquote {
    margin: 0 0 18px;
    padding: 0 0 0 15px;
    border-left: 5px solid #eeeeee;
}

.news blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.5px;
}

.news blockquote small {
    display: block;
    color: #999999;
    line-height: 18px;
}

.news blockquote small::before {
    content: '\2014 \00A0';
}

.news blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    float: right;
    border-right: 5px solid #eeeeee;
    border-left: 0;
}

.news blockquote.pull-right p,
.news blockquote.pull-right small {
    text-align: right;
}

.news q::before,
.news q::after,
.news blockquote::before,
.news blockquote::after {
    content: '';
}

.news hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

#display_news_table { /* stylelint-disable-line selector-id-pattern */
    max-width: 960px;
}

.news_italic_text {
    font-style: italic;
}

.news_item_title {
    width: 100%;
}
/* stylelint-enable */
