/* stylelint-disable-next-line selector-class-pattern */
.password_strategy {
    margin-left: 1em;
}

/* stylelint-disable-next-line selector-class-pattern */
.password_validator_ok {
    color: #72b321;
}

/* stylelint-disable-next-line selector-class-pattern */
.password_validator_ko {
    color: #444444;
}

.password-strategy-bad {
    color: #e42d2d;
    font-weight: bold;
}

.password-strategy-good {
    color: #72b321;
    font-weight: bold;
}

.robustness {
    &.good > .password-strategy-bad {
        display: none;
    }

    &.bad > .password-strategy-good {
        display: none;
    }
}
