.password_strategy { /* stylelint-disable-line selector-class-pattern */
    margin-left: 1em;
}

.password_validator_ok { /* stylelint-disable-line selector-class-pattern */
    color: #72b321;
}

.password_validator_ko { /* stylelint-disable-line selector-class-pattern */
    color: #444444;
}

.password-strategy-bad {
    color: #e42d2d;
    font-weight: bold;
}

.password-strategy-good {
    color: #72b321;
    font-weight: bold;
}

.robustness {
    &.good > .password-strategy-bad {
        display: none;
    }

    &.bad > .password-strategy-good {
        display: none;
    }
}
