#permission-delegation {
    .tabbable {
        margin: 40px 0 0;

        .nav {
            min-width: 140px;

            li:last-child {
                padding: 20px 0;
                text-align: center;
            }
        }

        .tab-content {
            max-width: 1100px;

            h2 {
                margin: 0;
                line-height: 20px;
            }

            h3 {
                margin: 30px 0 15px;
                line-height: 20px;
            }

            .description {
                margin: 20px 0 0;
                font-size: .9em;
            }

            .no-permission,
            .no-user {
                margin: 30px 0;
                color: #bbbbbb;
                font-size: .9em;
                font-style: italic;
                text-align: center;
            }

            .table {
                th:first-child,
                td:first-child {
                    width: 30px;
                    text-align: center;
                }

                td {
                    vertical-align: middle;
                }

                input[type='checkbox'] {
                    margin: 0 0 3px;
                }

                img {
                    width: 30px;
                    border: 2px solid #ffffff;
                    border-radius: 50%;
                }
            }

            .table-actions {
                .left-actions {
                    float: left;
                    text-align: left;

                    /* stylelint-disable selector-max-compound-selectors, max-nesting-depth */
                    input[type='text'] {
                        width: 180px;
                    }
                    @media screen and (max-width: 1150px) {
                        input[type='text'] {
                            width: 110px;
                        }
                    }
                    /* stylelint-enable */
                }

                .right-actions {
                    float: right;
                    text-align: right;
                }
            }
        }
    }

    .no-group {
        margin: 30px 0 0;
    }
}

#add-group-modal {
    textarea {
        box-sizing: border-box;
        width: 100%;
        height: 150px;
    }
}

#add-permissions-modal {
    input[type='checkbox'] {
        margin: 0 5px;
    }
}
