$url-base: '#{$tuleap-common-theme-basepath}images/project-registration-feedback-background.png';

#project-confirmation-header {
    height: 336px;
    background-image: url($url-base);
    background-position: center top;

    h2 {
        margin: 0;
        padding: 345px 0 50px;
        font-size: 38px;
        font-weight: 300;
        text-align: center;
    }
}

#project-confirmation-content {
    padding: 80px 0 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;

    i {
        display: inline-block;
        position: relative;
        top: -8px;
        left: 8px;
        transform: rotate(20deg);
    }
}

#project-confirmation-thanks {
    padding: 70px 0 30px;
    font-size: 23px;
    font-weight: 300;
    text-align: center;
}

#project-confirmation-redirect {
    padding: 50px 0 100px;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}
