#register-form {
    position: relative;
    box-sizing: border-box;
    width: 380px;
    margin: 70px auto;
    padding: 30px;
    border: 1px solid #ededed;
    border-radius: 4px;
    background: #ffffff;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 30px;
        right: 20px;
        bottom: 10px;
        left: 20px;
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    }

    .popover {
        font-size: .9em;
    }

    h2 {
        margin: 10px 0 50px;
        font-size: 40px;
        font-weight: 100;
        line-height: normal;
        text-align: center;
    }

    form {
        margin: 0;

        .placeholder {
            color: #aaaaaa;
        }

        .fields {
            margin: 0 auto 30px;
        }

        label {
            margin: 0 0 15px;

            .label-help {
                display: block;
                margin-top: 5px;
                color: #aaaaaa;
                font-size: .8em;
                font-style: italic;
                line-height: 1.4em;
            }
        }

        textarea,
        input[type='text'],
        input[type='email'],
        input[type='password'] {
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            margin: 0 auto 10px;
        }

        .input-prepend {
            width: 100%;

            input[type='text'] {
                box-sizing: border-box;
                width: 90%;
            }

            .add-on {
                box-sizing: border-box;
                width: 10%;
                height: 40px;
                padding: 9px 10px;
            }
        }

        select {
            display: block;
            width: 100%;
            height: 40px;
            margin: 0 auto 10px;
            padding: 8px 5px;
        }

        input[type='submit'] {
            display: block;
            box-sizing: border-box;
            width: 100%;
            margin: 40px 0 10px;
            padding: 15px 5px;
            font-size: 20px;
            line-height: normal;
        }

        .mandatory {
            margin: 0;
            color: #e69494;
            font-size: 12px;
            text-align: center;
        }
    }
}

.robustness > .password-strategy-good {
    display: none;
}
