/* stylelint-disable-next-line selector-class-pattern */
.searchAsYouType {
    border: 1px solid #cccccc; /* stylelint-disable-line declaration-block-no-duplicate-properties */
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: var(--tlp-medium-radius);
    background: #ffffff;
    box-shadow: var(--tlp-flyover-shadow);

    ul {
        margin: 0;
        padding: 5px 0;
        list-style: none;

        /* stylelint-disable selector-no-qualifying-type */
        li {
            padding: 5px 10px;
            font-size: 0.9em;
            cursor: pointer;

            &.selected {
                background: #0081c2;
                color: #ffffff;
            }
        }
        /* stylelint-enable */
    }
}
