.svn_commit_details { /* stylelint-disable-line selector-class-pattern */
    padding: 1em;
    border: 1px solid #808080;
}

.svn_commit_details .avatar { /* stylelint-disable-line selector-class-pattern */
    float: left;
}

.svn_commit_message { /* stylelint-disable-line selector-class-pattern */
    padding-left: 64px; /* maybe too much if there is no avatar */
}

.svn_commit_author { /* stylelint-disable-line selector-class-pattern */
    font-weight: bold;
}

/* stylelint-disable selector-no-qualifying-type, selector-class-pattern */
textarea.not_resizable {
    resize: none;

    &[readonly] {
        cursor: inherit;
    }
}
/* stylelint-enable */

#access_file_container { /* stylelint-disable-line selector-id-pattern */
    display: inline-block;
}

#current_access_file_container { /* stylelint-disable-line selector-id-pattern */
    display: inline-block;
    margin-right: 10px;
}

#old_access_file_form { /* stylelint-disable-line selector-id-pattern */
    visibility: hidden;
}

#old_access_file_container { /* stylelint-disable-line selector-id-pattern */
    display: inline-block;

    > h3 > select {
        position: relative;
        top: 3.5px;
    }

    .empty_version { /* stylelint-disable-line selector-class-pattern */
        color: #bbbbbb;
        font-style: italic;
        text-align: center;
    }
}

#immutable-tags {
    max-width: 1200px;

    label {
        color: #555555;
        font-weight: 600;
    }

    .empty-state {
        word-break: break-word;
    }
}

#immutable-tags-path,
#immutable-tags-whitelist {
    box-sizing: border-box;
    width: 100%;
}

.immutable-tags-comment {
    margin-bottom: 25px;
}

.immutable-tags-examples > h4,
.immutable-tags-structure > h4 {
    margin-bottom: 5px;
    color: #555555;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.immutable-tags-examples {
    > .impacted-svn,
    > #immutable-tags-console {
        > :not(.empty-state) {
            display: inherit;
        }

        > .empty-state {
            display: none;
        }
    }

    &.empty {
        > .impacted-svn,
        > #immutable-tags-console {
            > :not(.empty-state) {
                display: none;
            }

            > .empty-state {
                display: inherit;
            }
        }
    }
}

#immutable-tags-tree {
    height: 300px;
    overflow-y: auto;
    box-shadow: none;
    font-family: 'Courier';
    font-size: 12px;
    line-height: 20px;

    .label {
        position: relative;
        padding-right: 18px;
        transition: opacity linear .07s;
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;

        &::after {
            content: '\f0a4'; // fa-hand-o-right
            position: absolute;
            top: 2px;
            right: -17px;
            transition: opacity linear .07s;
            opacity: 0;
            color: #222222;
            font-family: 'Font Awesome 5 Free';
            font-size: 13px;
        }

        &.active::after,
        &:hover::after {
            opacity: .8;
        }
    }

    .children {
        padding-left: 20px;
    }

    > #loading {
        color: #666666;
    }
}

.parent-of-immutable,
.parent-of-whitelist {
    > .children > .tag {
        &:not(.parent-of-whitelist):not(.parent-of-immutable) {
            display: none;

            &.immutable,
            &.whitelist {
                display: block;

                /* stylelint-disable selector-no-qualifying-type, max-nesting-depth, selector-max-compound-selectors */
                > .children > div {
                    display: none;

                    &:first-child {
                        display: block;

                        > .children {
                            display: none;
                        }
                    }

                    &.parent-of-immutable,
                    &.parent-of-whitelist,
                    &:last-child {
                        display: block;
                    }
                }
                /* stylelint-enable */
            }
        }
    }
}

.tag {
    > .label {
        &:not(.active) {
            background: transparent;
            color: #333333;
            text-shadow: none;

            &.label-success::before {
                content: '\f058'; // fa-check-circle
                color: #468847;
                font-size: 16px;
            }

            &.label-important::before {
                content: '\f057'; // fa-times-circle
                right: 2px;
                color: #b94a48;
                font-size: 16px;
            }
        }
    }

    > .label-important::before,
    > .label-success::before {
        content: '\f00c'; // fa-check
        position: absolute;
        top: 1px;
        right: 2px;
        font-family: 'Font Awesome 5 Free';
        font-size: 13px;
        font-weight: 900;
    }

    > .label-important::before {
        content: '\f00d'; // fa-remove
        right: 4px;
    }
}

#immutable-tags-console {
    height: 300px;
    overflow-y: auto;
    background: #222222;
    box-shadow: none;

    &.whitelist-not-in-immutable {
        .update-command {
            display: none;
        }
    }

    /* stylelint-disable selector-no-qualifying-type */
    div {
        color: #cccccc;
        font-family: 'Courier New';
        font-size: 12px;

        &.text-success {
            color: #58b359;
        }

        &.text-danger {
            color: #da5353;
        }
    }
    /* stylelint-enable */
}

.exceeds_max_number_of_folders { /* stylelint-disable-line selector-class-pattern */
    opacity: .2;
}

.svn-intro-warning {
    margin-bottom: 15px;
}

.svn-intro-command-intro {
    margin-bottom: 15px;
}

.svn-intro-command {

    margin-bottom: 15px;

    > pre {
        margin-bottom: 0;
    }

    > .help-block {
        font-size: .9em;
    }
}
