/* stylelint-disable-next-line selector-class-pattern */
.svn_commit_details {
    padding: 1em;
    border: 1px solid #808080;
}

/* stylelint-disable-next-line selector-class-pattern */
.svn_commit_details .avatar {
    float: left;
}

/* stylelint-disable-next-line selector-class-pattern */
.svn_commit_message {
    padding-left: 64px; /* maybe too much if there is no avatar */
}

/* stylelint-disable-next-line selector-class-pattern */
.svn_commit_author {
    font-weight: bold;
}

.svn-intro-command {
    margin-bottom: 15px;

    > pre {
        margin-bottom: 0;
    }

    > .help-block {
        font-size: 0.9em;
    }
}
