th.resize-handle-active { /* stylelint-disable-line selector-no-qualifying-type */
    cursor: e-resize;
}

div.resize-handle { /* stylelint-disable-line selector-no-qualifying-type */
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    border-right: 1px dashed #1e90ff;
    cursor: e-resize;
}

th.drop-over { /* stylelint-disable-line selector-no-qualifying-type */
    background-color: #eeeef0;
}
