/* TextboxList CSS */
*:first-child + html div.holder {
    padding-bottom: 2px;
}

* html div.holder {
    padding-bottom: 2px;
}

/* ie7 and below */

div.holder *, div.autocomplete * {
    font: 11px "Lucida Grande", "Verdana";
}

/* DIV holder */
div.holder {
    background-color: white;
    width: 500px;
    margin: 0;
    border: 1px solid #CCC;
    overflow: hidden;
    min-height: 25px;
    padding: 4px 5px 0;
    cursor: text;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

div.holder a {
    float: left;
    margin: 0 5px 4px 0;
}

div.holder a.bit {
    text-decoration: none;
    color: black;
    z-index: 900;
}

div.holder a.bit:active, div.holder a.bit:focus {
    outline: none;
}

div.holder a.bit-box {
    border-radius: 3px;
    border: 1px solid #CAD8F3;
    background: #DEE7F8;
    padding: 2px 15px 3px 4px;
    padding-right: 15px;
    position: relative;
}

div.holder a.bit-box-focus {
    border-color: #598BEC;
    background: #598BEC;
    color: #fff;
}

div.holder a.bit-input input {
    width: 150px;
    margin: 0;
    border: none;
    outline: 0;
    height: 20px;
    box-shadow: none;
    padding: 2px 0 2px;
}

/* no left/right padding here please */
div.holder a.bit-input input.smallinput {
    width: 20px;
}

div.holder a.bit-hover {
    background: #BBCEF1;
    border: 1px solid #6D95E0;
}

div.holder a.bit-box-focus {
    border-color: #598BEC;
    background: #598BEC;
    color: #fff;
}

div.holder a.bit-box a.closebutton {
    position: absolute;
    right: 0;
    top: 5px;
    display: block;
    width: 7px;
    height: 7px;
    font-size: 1px;
    background: url("#{$tuleap-common-theme-basepath}images/ic/textboxlist-close.gif");
}

div.holder a.bit-box a.closebutton:hover {
    background-position: 7px;
}

div.holder a.bit-box a.closebutton:active {
    outline: none
}

div.holder a.bit-box-focus a.closebutton, div.holder a.bit-box-focus a.closebutton:hover {
    background-position: bottom;
}

/* Autocompleter CSS */
div.textboxlist-auto {
    display: none;
    position: absolute;
    width: 512px;
    background: #eee;
    z-index: 1000;
}

div.textboxlist-auto .default {
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px;
}

div.textboxlist-auto ul {
    display: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

div.textboxlist-auto ul li {
    padding: 5px 12px;
    z-index: 1000;
    cursor: pointer;
    margin: 0;
    list-style-type: none;
    border: 1px solid #ccc;
    border-width: 0 1px 1px;
}

div.textboxlist-auto ul li em {
    font-weight: bold;
    font-style: normal;
    background: #ccc;
}

div.textboxlist-auto ul li.auto-focus {
    background: #4173CC;
    color: #fff;
}

div.textboxlist-auto ul li.auto-focus em {
    background: none;
}

input.inputMessage {
    color: #ccc;
    font-size: 11px;
}
