/* stylelint-disable selector-id-pattern, selector-class-pattern */
#tracker_toolbar_generic,
#tracker_toolbar_specific {
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: bold;
}

#tracker_toolbar_generic {
    float: left;
}

#tracker_toolbar_specific {
    float: right;
}

#tracker_toolbar_clear {
    clear: both;
}

#tracker_toolbar_tracker_name {
    font-size: 1.3em;
}

/* Disable boostrap fixed size of input area (enforced by tracker config) */
#artifact_section_details input,
textarea {
    width: auto;
}

.followup_comment {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.followup_comment_title {
    float: left;
}

.followup_comment_title_user {
    color: #999999;
    font-size: 1.1em;
    font-weight: bold;
}

.followup_comment_title_edited_user {
    color: #999999;
    font-weight: bold;
}

.followup_comment_title_date {
    color: #666666;
    font-size: .95em;
}

.followup_comment_title_toolbar {
    text-align: right;
}

.followup_comment_content {
    margin-bottom: 1em;
    padding: .5em 1em .5em 3em;
    border-bottom: 1px solid #cccccc;
}

.followup_comment_content blockquote {
    margin: 0;
    padding-left: .5em;
    border-left: 2px solid #008000;
    background-color: #fffff0;
}

.followup_comment_content blockquote blockquote {
    border-left: 2px solid #ff0000;
}

.followup_comment_content blockquote blockquote blockquote {
    border-left: 2px solid #0000ff;
}

.followup_comment_content pre {
    max-width: 1024px;
    margin: 0;
    padding: .5em;
    overflow: auto;
    border: 1px solid #d2d2d2;
    background: none repeat scroll 0 0 #fffff0;
}

#tv3-mail-reminders {
    div.tv3-mail-reminder { /* stylelint-disable-line selector-no-qualifying-type */
        margin: 0;
        padding-bottom: 10px;
    }
}
/* stylelint-enable */
