label[for="edit[lock]"],
label[for="edit[minor_edit]"],
label[for="useOldMarkup"] {
    display: inline;
}

input[type="checkbox"][id="edit[locked]"],
input[type="checkbox"][id="edit[minor_edit]"],
input[type="checkbox"][id="useOldMarkup"] {
    margin: 0 0 0 4px;
}
