/* stylelint-disable-next-line selector-class-pattern, selector-no-qualifying-type */
table.ServiceMenu {
    width: 100%;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* stylelint-disable-next-line selector-class-pattern, selector-no-qualifying-type */
ul.ServiceMenu {
    margin-top: 0;
    padding: 0;
    list-style-type: none;
}

/* stylelint-disable-next-line selector-class-pattern, selector-no-qualifying-type */
ul.ServiceMenu li {
    display: inline;
    font-weight: bold;
}

/* stylelint-disable-next-line selector-class-pattern, selector-no-qualifying-type */
ul.ServiceMenu li.current {
    font-weight: bold;
}

.service-wiki .toolbar label {
    display: inline !important;
    font-weight: bold;
}

.service-wiki .wikitext {
    width: auto;
}

.service-wiki .wiki-dl-table {
    border-collapse: separate;
    border-width: thin;
    border-style: outset;
}

.service-wiki h1 {
    font-size: 2em;
}

.service-wiki h2 {
    font-size: 1.5em;
}

.service-wiki h3 {
    font-size: 1.17em;
}

.service-wiki h4 {
    font-size: 1.07em;
}

.service-wiki td {
    text-align: left;
    vertical-align: top;
}

/* stylelint-disable-next-line selector-class-pattern, selector-no-qualifying-type */
.service-wiki .ServiceMenu td:nth-child(2) {
    text-align: right;
}

.service-docman h1 {
    font-size: 2em;
}

.service-docman h2 {
    font-size: 1.5em;
}

.service-docman h3 {
    font-size: 1.17em;
}

.service-docman .docman-create-doctype {
    font-weight: bold;
}

/* stylelint-disable-next-line selector-class-pattern, selector-no-qualifying-type, selector-id-pattern */
.service-docman #plugin_docman_report_form_global input.text_field {
    margin-bottom: 0;
}

.service-docman .docman-create-news-option {
    display: inline;
    padding-left: .5em;
}

.service-admin table select {
    width: auto;
}

/* stylelint-disable-next-line selector-id-pattern */
.service-wiki #UserPreferencesPlugin td input {
    display: block;
}

label[for='edit[lock]'],
label[for='edit[minor_edit]'],
label[for='useOldMarkup'] {
    display: inline;
}

input[type=checkbox][id='edit[locked]'],
input[type=checkbox][id='edit[minor_edit]'],
input[type=checkbox][id='useOldMarkup'] {
    margin: 0 0 0 4px;
}
