$h1-color: #333333;
$h2-color: #444444;
$h3-color: #888888;
h1 {
    margin: 20px 0;
    color: $h1-color;

    &:first-child {
        margin: 0 0 20px;
    }
    > small {
        color: lighten($h1-color, 40%);
    }
}

h2 {
    color: $h2-color;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;

    > small {
        color: lighten($h2-color, 40%);
    }
}

h3 {
    font-size: 15px;
    font-weight: 600;
    color: $h3-color;
    text-transform: uppercase;
    margin: 20px 0 10px;

    > small {
        padding: 0 0 0 5px;
        color: $h3-color;
        font-size: 12px;
        text-transform: none;
    }
}
