<h1>SOAP API</h1>
<p>You can access this platform using its SOAP API.</p>

<div class="alert alert-info">You can also use a Command-Line Interface client based on the API.
  <a href="/downloads/Tuleap_CLI.zip"><i class="icon-download-alt"></i> Download</a> or read its <a href="/documentation/cli/html/en_US/">documentation</a>.
</div>

<p>More informations available in the <a href="https://tuleap.net/wiki/index.php?group_id=101&pagename=HowToUseTuleapSoapApi">documentation</a> on Tuleap.net.</p>
<h2>All end points</h2>
{{#end_points}}
<h3>{{title}} - v{{version}}</h3>
<ul>
    <li><a href="{{changelog}}">ChangeLog</a></li>
    <li><a href="{{wsdl_viewer}}">WSDL Documentation</a></li>
    <li><a href="{{wsdl}}">WSDL</a></li>
</ul>
{{{description}}}
{{/end_points}}

