<div class="user-preferences">
    <h1 class="user-preferences-title">
        {{# gettext }}Preferences{{/ gettext }}
    </h1>
    <div class="user-preferences-container">
        {{> user-account-tabs }}

        <div class="user-preferences-section">
            <section class="tlp-pane">
                <form class="tlp-pane-container" action="/plugins/git/account/gerrit/ssh" method="post">
                    <div class="tlp-pane-header">
                        <h1 class="tlp-pane-title">{{# gettext }}SSH keys{{/ gettext }}</h1>
                    </div>
                    <section class="tlp-pane-section">
                        {{# csrf_token }}
                            {{> csrf_token_input }}
                        {{/ csrf_token }}

                        <p>{{# dgettext }} tuleap-git | You can use the following button to force push your <a href="%s">ssh keys</a> to following gerrit servers:| {{ keys_tokens_url }}{{/ dgettext }}</p>
                        <ul>
                            {{# gerrit_servers }}
                            <li><a href="{{ base_url }}/#/settings/ssh-keys">{{ base_url }}</a></li>
                            {{/ gerrit_servers }}
                        </ul>
                    </section>
                    <section class="tlp-pane-section tlp-pane-section-submit user-preferences-section-submit">
                        <input type="submit"
                               class="tlp-button-primary"
                               title="{{# dgettext }} tuleap-git | Push SSH keys to remote servers{{/ dgettext }}"
                               value="{{# dgettext }} tuleap-git | Manually push SSH keys{{/ dgettext }}"/>
                    </section>
                </form>
            </section>

            <section class="tlp-pane">
                <form class="tlp-pane-container" action="/plugins/git/account/gerrit/groups" method="post">
                    <div class="tlp-pane-header">
                        <h1 class="tlp-pane-title">{{# dgettext }} tuleap-git | Projects and groups membership{{/ dgettext }}</h1>
                    </div>
                    <section class="tlp-pane-section">
                        {{# csrf_token }}
                            {{> csrf_token_input }}
                        {{/ csrf_token }}

                        <p>{{# dgettext }} tuleap-git | In order to make sure I have the correct access on Gerrit, it can be necessary to update my group and project membership.{{/ dgettext }}</p>
                        <p>{{# dgettext }} tuleap-git | You may need to log into Gerrit first.{{/ dgettext }}</p>
                    </section>
                    <section class="tlp-pane-section tlp-pane-section-submit user-preferences-section-submit">
                        <input type="submit" class="tlp-button-primary" value="{{# gettext }}Update{{/ gettext }}"/>
                    </section>
                </form>
            </section>
        </div>
    </div>
</div>
