[gerrit]
	basePath = git
	canonicalWebUrl = http://gerrit.tuleap-aio-dev.docker:8080
[database]
	type = h2
	database = db/ReviewDB
[index]
	type = LUCENE
[auth]
  type = ldap
  gitBasicAuth = true
  gitBasicAuthPolicy = LDAP
[ldap]
    server = ldap://ldap
    accountBase = ou=people,dc=tuleap,dc=local
    groupBase = ou=groups,dc=tuleap,dc=local
    accountFullName = cn
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.191.b12-1.el7_6.x86_64/jre
    javaOptions = -Djava.security.egd=file:/dev/./urandom
[receive]
	enableSignedPush = false
[noteDb "changes"]
	autoMigrate = true
