body {
    padding-top: 60px;
}
.navbar {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background:        -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f2f2f2));
    background: -webkit-linear-gradient(white 0%, #f2f2f2 100%);
    background:    -moz-linear-gradient(white 0%, #f2f2f2 100%);
    background:      -o-linear-gradient(white 0%, #f2f2f2 100%);
    background:         linear-gradient(white 0%, #f2f2f2 100%);
    z-index: 1000;
}
.navbar .nav > li {
    float: left;
    padding-right: 1em;
}
.navbar .nav {
    float: left;
}
.navbar .nav.pull-right {
    float: right;
}
.navbar .brand {
    padding: 0;
    float: left;
}
.navbar-search {
    float: left;
}
body {
    background: #EFF5F8 url(../images/bg-repeat-top.png) 0px 40px repeat-x;
}
.logged-in {
    color: #666;
}
.content.well {
    background: white;
}
.breadcrumb {
    margin: 20px 20px 18px;
}
.sidebar > .well {
    background-color: white;
}
.footer {
    background-color: #EEE;
    min-width: 940px;
    padding: 30px 0;
    text-shadow: 0 1px 0 white;
    border-top: 1px solid #E5E5E5;
    -webkit-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .025);
    -moz-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .025);
}


.content h1 a {
    /* color: white; /**/
    color: #404040;
}
/*
.content h2 {
    color: #DA5A14;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.05em;
    padding-top: 0.25em;
    margin-bottom: 0.7em;
    margin-top: 1em;
}

.content h3 {
}
    */
.content li {
    color: #404040;
}
nav.tools {
    margin-top: 1em;
    position:relative;
    float: right;
    right:-30px;
    z-index:2;
}
nav.tools ul, nav.tools ol { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
nav.tools > div.ribbon-right {
    padding-bottom: 9px;
    margin-bottom: 2px;
    background: url(images/ribbon-corner_right.png) bottom right no-repeat;
}
nav.tools > div.ribbon-right > div{
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .15);
    padding: 0.5em 1em;
    padding-right:24px;
    background: #fff;
}
body nav.tools > div.ribbon-right li {
    float: none;
}
nav.tools .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #EEE;
    border-bottom: 1px solid white;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar ul > li > a {
    display: block;
    line-height: 2em;
    padding-left: 1em;
}
.sidebar ul > li {
    border: 1px solid transparent;
}
.sidebar ul > li:hover, 
.sidebar ul > li.active  {
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}
.sidebar ul > li > a:hover,
.sidebar ul > li.active > a {
    text-decoration:none;
    background-repeat: no-repeat;
    background-image: url(images/arrow.png);
    background-position: center right;
}
ul.service-actions li {
    padding-left: 0.5em;
}
.docman_item_menu ul li a {
    padding-right: 1em;
    padding-left: 24px;
    background-repeat:no-repeat;
    background-position:2px 1px;
}       
.docman_item_option_id_info {
    font-size:0.8em;
    padding-right: 1em;
    background-repeat:no-repeat;
    background-position:2px 1px;
    text-align: right;
}

.docman_item_option_details {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/item-details.png');
}
.docman_item_option_newdocument {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/document-new.png');
}
.docman_item_option_newfolder {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/folder-new.png');
}
.docman_item_option_newversion {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/file-newversion.png');
}
/*
* For an unknown reason, adding <p> or <span> in .docman_item_menu breaks the 
* randering of the whole menu. The only solution I found is to repeat the rule
* just for move.
*/
.docman_item_option_move {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/item-move.png');
}
.docman_item_option_history {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/history.png');
}
.docman_item_option_notifications {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/notifications.png');
}
.docman_item_option_permissions {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/permissions.png');
}
.docman_item_option_delete {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/delete.png');
}
.docman_item_option_update {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/file-newversion.png');
}

.docman_item_option_copy {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/copy.png');
}

.docman_item_option_cut {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/cut.png');
}

.docman_item_option_paste {
    display: inline;
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/paste.png');
}

.docman_item_option_approval {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/approval.png');
}

.docman_item_option_lock_add {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/lock_add.png');
}

.docman_item_option_lock_del {
    background-image:url('https://tuleap.net/plugins/docman/themes/default/images/ic/lock_delete.png');
}
#docman_browse_viewas input {
    width: auto;
}

.editdate {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    color: #666;
    font-size:8pt;
    margin-bottom:0;
}

a.login {
    color: white;
    font-weight: bold;
}


#footer_debug {
    background: black;
    padding: 1em;
    margin: 1em;
    border:medium solid #0F0;
    color: #0F0;
}
#footer_debug fieldset legend {
    color: #0F0;
    padding-left: 1em;
}
#footer_debug td {
    color: #0F0;
}
#footer_debug pre {
    color: #404040;
}

/*
.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}
.thumbnails:before, .thumbnails:after {
  display: table;
  content: "";
}
.thumbnails:after {
  clear: both;
}
.thumbnails > li {
  float: left;
  margin: 0 0 18px 20px;
}
*/
.widget {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
a.widget:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.widget > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.widget .caption {
  padding: 9px;
}
.widget {
    margin-bottom: 1em;
}

.homepage .main.container-fluid {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
