<div class="main container-fluid">
    <div class="row-fluid">
        <div class="span2">
            {{> sidebar}}
        </div>
        <div class="span10 well">
            {{> breadcrumbs}}
            {{> toolbar}}