                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
                                                <div class="footer container">
                                                    <div class="row-fluid">
                                                        <div class="span3">
                                                            <h3>About</h3>
                                                <ul class="unstyled">
                                                    <li>Powered by <a href="https://tuleap.net/?utm_source=forge&amp;utm_medium=forge&amp;utm_campaign=forge" target="_blank">Tuleap</a> version 6.6.99.37.</li>
                                                    <li>Copyright © 2011-2013 <a href="http://www.enalean.com/?utm_source=forge&amp;utm_medium=forge&amp;utm_campaign=forge" target="_blank">Enalean</a>.</li>
                                                </ul>
                                                        </div>
                                                        <div class="span3">
                                                            <h3>Tuleap Links</h3>
                                                <ul class="unstyled">
                                                    <li>
                                                        <a href="http://www.tuleap.com/?utm_source=forge&amp;utm_medium=forge&amp;utm_campaign=forge">Website</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://www.tuleap.net/?utm_source=forge&amp;utm_medium=forge&amp;utm_campaign=forge">Community</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://tuleap.com/blog?utm_source=forge&amp;utm_medium=forge&amp;utm_campaign=forge">Blog</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/TuleapEnalean">Follow @TuleapEnalean</a>
                                                    </li>
                                                </ul>
                                                        </div>
                                                        <div class="span3">
                                                            <h3>API</h3>
                                                <ul class="unstyled">
                                                    <li>Tuleap provides a <a href="/soap/index.php">SOAP&nbsp;API</a>.
                                                    </li>
                                                </ul>
                                                        </div>
                                                        <div class="span3">
                                                            <h3>Need help?</h3>
                                                <ul class="unstyled">
                                                    <li>Access <a href="/site/">documentation</a>
                                                    </li>
                                                    <li><a href="/contact.php">Contact us</a></li>
                                                </ul>
                                                        </div>
                                                    </div>
                                                </div>
        </footer>
    </div>
</div>

{{#isInDebugMode}}
    {{{debugMode}}}
{{/isInDebugMode}}

{{{javascriptElements}}}

</body>
</html>