{{#hasSidebar}}
    <div class="well sidebar-nav">
        <div style="text-align:center">
            <h5>{{projectName}}</h5>
        </div>
        <ul class="nav nav-list">
            {{#sidebar}}
                <li {{#enabled}}class="active"{{/enabled}}>
                    <a href="{{{link}}}">{{{label}}}</a>
                </li>
            {{/sidebar}}
        </ul>
    </div>
{{/hasSidebar}}