<h1>{{ captcha_title }}</h1>
<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">{{ captcha_configuration }}</h1>
        </div>

        <section class="tlp-pane-section">
            <p>
                <a href="https://www.google.com/recaptcha/admin">{{ obtain_keys }}</a>.
            </p>
            <form method="POST">
                {{# csrf_token }}
                    {{> csrf_token_input }}
                {{/ csrf_token }}
                <div class="tlp-form-element">
                    <label for="site_key" class="tlp-label">{{ site_key_label }} <i class="fa fa-asterisk"></i></label>
                    <input id="site_key" type="text" name="site_key" value="{{ site_key }}" class="tlp-input" required size="50">
                </div>
                <div class="tlp-form-element">
                    <label for="secret_key" class="tlp-label">{{ secret_key_label }} <i class="fa fa-asterisk"></i></label>
                    <input id="secret_key" type="text" name="secret_key" value="{{ secret_key }}" class="tlp-input" required size="50">
                </div>
                <div class="tlp-pane-section-submit">
                    <button class="tlp-button-primary" type="submit">
                        <i class="fa fa-save tlp-button-icon"></i> {{ save_settings }}
                    </button>
                </div>
            </form>
        </section>
    </div>
</section>