location ^~ /plugins/%name%/ {
    alias /usr/share/tuleap/plugins/%name%/www/;

    if (!-f $request_filename) {
        rewrite ^ /index.php last;
    }

    location ^~ /plugins/%name%/assets/ {
        expires max;
    }
}
