#graph-page {
    padding: 20px;
    box-sizing: border-box;
    height: 100%;

    #graph-title {
        margin: 0 0 30px;
    }

    #graph-container {
        position: relative;
        height: 85%;

        .loader-graph {
            position: absolute;
            left: 50%;
        }

        #graph-utils {
            position: absolute;

            button {
                width: 40px;
            }
        }
    }
}