<div class="user-preferences">
    <h1 class="user-preferences-title">
        {{# gettext }}Preferences{{/ gettext }}
    </h1>
    <div class="user-preferences-container">
        {{> user-account-tabs }}

        <div class="user-preferences-section">
            <section class="tlp-pane">
                <div class="tlp-pane-container" >
                    <div class="tlp-pane-header">
                        <h1 class="tlp-pane-title">{{# dgettext }}tuleap-oauth2_server | OAuth2 Apps{{/ dgettext }}</h1>
                    </div>
                    <section class="tlp-pane-section">
                        <p>{{# dgettext }}
                            tuleap-oauth2_server |
                            This is a list of OAuth2 apps you have authorized access to Tuleap on your behalf.
                        {{/ dgettext }}</p>

                        <table class="tlp-table">
                            <thead>
                            <tr>
                                <th>{{# dgettext }}tuleap-oauth2_server | App{{/ dgettext }}</th>
                                <th>{{# dgettext }}tuleap-oauth2_server | Project{{/ dgettext }}</th>
                                <th>{{# dgettext }}tuleap-oauth2_server | Scopes{{/ dgettext }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{^ has_apps }}
                                <tr>
                                    <td colspan="4" class="tlp-table-cell-empty">
                                        {{# dgettext }}tuleap-oauth2_server | You did not authorize any OAuth2 App yet.{{/ dgettext }}
                                    </td>
                                </div>
                            {{/ has_apps }}
                            {{# has_apps }}

                                    {{# apps }}
                                        <tr>
                                            <td>{{ name }}</td>
                                            <td>{{ project_name }}</td>
                                            <td class="oauth2-server-revoke-authorization-scopes">
                                                {{# scopes }}
                                                    <span class="tlp-badge-secondary oauth2-server-revoke-authorization-scope tlp-tooltip tlp-tooltip-top" data-tlp-tooltip="{{ description }}">{{ name }}</span>
                                                {{/ scopes }}
                                            </td>
                                            <td class="tlp-table-cell-actions">
                                                <button
                                                        type="button"
                                                        class="tlp-button-danger tlp-button-small tlp-button-outline oauth2-server-revoke-authorization-button"
                                                        data-app-id="{{ id }}"
                                                        data-app-name="{{ name }}"
                                                >
                                                    <i class="tlp-button-icon fa fa-trash-o"></i> {{# dgettext }}tuleap-oauth2_server | Revoke authorization{{/ dgettext }}
                                                </button>
                                            </td>
                                        </tr>
                                    {{/ apps }}
                            {{/ has_apps }}
                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>
{{> accounts-app-revoke-modal }}
