<div class="tlp-framed-horizontally">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    <i class="fa fa-globe tlp-pane-title-icon"></i>
                    {{# dgettext }}tuleap-oauth2_server | OAuth2 Apps{{/ dgettext }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                {{# last_created_app }}
                    <div class="tlp-alert-success">
                        <p>
                            {{# dgettext }}
                                tuleap-oauth2_server |
                                Your new app %s has been created, make sure to copy the following secret. You won't be able to see it again! |
                                {{ client_id }}
                            {{/ dgettext }}
                        </p>
                        <p><strong>{{ client_secret }}</strong></p>
                    </div>
                {{/ last_created_app }}
                <div class="tlp-table-actions">
                    <button
                        type="button"
                        class="tlp-button-primary tlp-table-actions-element"
                        data-target-modal-id="oauth2-server-add-client-modal"
                        id="oauth2-server-add-client-button"
                    >
                        <i class="fa fa-plus tlp-button-icon"></i> {{# dgettext }}tuleap-oauth2_server | Add an App{{/ dgettext }}
                    </button>
                </div>
                <table class="tlp-table">
                    <thead>
                    <tr>
                        <th>{{# dgettext }}tuleap-oauth2_server | App name{{/ dgettext }}</th>
                        <th>{{# dgettext }}tuleap-oauth2_server | Application (client) ID{{/ dgettext }}</th>
                        <th>{{# dgettext }}tuleap-oauth2_server | Redirect endpoint{{/ dgettext }}</th>
                        <th>{{# dgettext }}tuleap-oauth2_server | Force PKCE usage?{{/ dgettext }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# apps }}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ client_id }}</td>
                            <td>{{ redirect_endpoint }}</td>
                            <td>{{# use_pkce }}<i class="fa fa-check"></i>{{/ use_pkce }}</td>
                            <td class="tlp-table-cell-actions">
                                <button
                                    class="tlp-button-danger tlp-button-outline oauth2-server-delete-client-button"
                                    data-app-id="{{ id }}"
                                    data-app-name="{{ name }}"
                                >
                                    <i class="fa fa-trash-o tlp-button-icon"></i>
                                    {{# dgettext }}tuleap-oauth2_server | Delete{{/ dgettext }}
                                </button>
                            </td>
                        </tr>
                    {{/ apps }}
                    {{^ apps }}
                        <tr>
                            <td colspan="4" class="tlp-table-cell-empty">
                                {{# dgettext }}tuleap-oauth2_server | No App have been defined yet. Start by adding one. {{/ dgettext }}
                            </td>
                        </tr>
                    {{/apps}}
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</div>
{{> app-add-modal }}
{{> app-delete-modal }}
