<div class="tlp-framed-horizontally">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    <i class="fa fa-globe tlp-pane-title-icon"></i>
                    {{# dgettext }}tuleap-oauth2_server | OAuth2 Apps{{/ dgettext }}
                </h1>
            </div>
            {{> app-admin }}
        </div>
    </section>
</div>
