<div class="tlp-framed-horizontally">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    <i class="fa fa-globe tlp-pane-title-icon"></i>
                    {{# dgettext }}tuleap-oauth2_server | OAuth2 Apps{{/ dgettext }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                <div class="tlp-table-actions">
                    <button type="button" class="tlp-button-primary tlp-table-actions-element" id="oauth2-server-add-client-button">
                        <i class="fa fa-plus tlp-button-icon"></i> {{# dgettext }}tuleap-oauth2_server | Add an App{{/ dgettext }}
                    </button>
                </div>
                <table class="tlp-table">
                    <thead>
                    <tr>
                        <th>{{# dgettext }}tuleap-oauth2_server | App name{{/ dgettext }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# apps }}
                        <tr>
                            <td>{{ name }}</td>
                            <td class="tlp-table-cell-actions">
                                <button
                                    class="tlp-button-danger tlp-button-outline oauth2-server-delete-client-button"
                                    data-app-id="{{ id }}"
                                    data-app-name="{{ name }}"
                                >
                                    <i class="fa fa-trash-o tlp-button-icon"></i>
                                    {{# dgettext }}tuleap-oauth2_server | Delete{{/ dgettext }}
                                </button>
                            </td>
                        </tr>
                    {{/ apps }}
                    {{^ apps }}
                        <tr>
                            <td colspan="2" class="tlp-table-cell-empty">
                                {{# dgettext }}tuleap-oauth2_server | No App have been defined yet. Start by adding one. {{/ dgettext }}
                            </td>
                        </tr>
                    {{/apps}}
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</div>
<form
    id="oauth2-server-add-client-modal"
    class="tlp-modal"
    role="dialog"
    aria-labelledby="oauth2-server-add-modal-label"
    action="{{ add_client_url }}"
    method="post"
>
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="oauth2-server-add-modal-label">
            <i class="fa fa-plus tlp-modal-title-icon"></i> {{# dgettext }}tuleap-oauth2_server | Add an App{{/ dgettext }}
        </h1>
        <div class="tlp-modal-close"
             data-dismiss="modal"
             aria-label="{{# dgettext }}tuleap-oauth2_server | Close{{/dgettext}}"
        >&times;</div>
    </div>
    <div class="tlp-modal-body">
        <div class="tlp-form-element">
            <label for="oauth2-server-add-modal-app-name" class="tlp-label">{{# dgettext }}tuleap-oauth2_server | App name {{/ dgettext }} <i class="fa fa-asterisk"></i></label>
            <input
                type="text"
                class="tlp-input"
                id="oauth2-server-add-modal-app-name"
                name="name"
                placeholder="{{# dgettext }}tuleap-oauth2_server | My REST API consumer App{{/ dgettext }}"
                required
            >
        </div>
    </div>
    <div class="tlp-modal-footer">
        <button type="reset" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{# dgettext }}tuleap-oauth2_server | Cancel {{/ dgettext }}
        </button>
        <button type="submit" class="tlp-button-primary tlp-modal-action">
            <i class="fa fa-plus tlp-button-icon"></i>
            {{# dgettext }}tuleap-oauth2_server | Add an App {{/ dgettext }}
        </button>
    </div>
</form>
{{> app-delete-modal }}
