<h1>{{ title }}</h1>

<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h2 class="tlp-pane-title">
                <i class="tlp-pane-title-icon fa fa-list"></i>
                {{ description_fields_header }}
            </h2>
        </div>
        <section class="tlp-pane-section">
            <div class="tlp-table-actions">
                <button type="button" id="add-description-field-button" class="tlp-button-primary tlp-table-actions-element">
                    <i class="tlp-button-icon fa fa-plus"></i> {{ btn_add_field }}
                </button>

                {{> add_description_field_modal }}
            </div>
            <table class="tlp-table">
                <thead>
                    <tr>
                        <th>{{ name_header }}</th>
                        <th>{{ description_header }}</th>
                        <th>{{ require_header }}</th>
                        <th>{{ type_header }}</th>
                        <th
                            class="tlp-table-cell-numeric tlp-tooltip tlp-tooltip-right"
                            data-tlp-tooltip="{{ rank_tooltip }}"

                        >{{ rank_header }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{# description_fields }}
                    <tr>
                        <td class="siteadmin-description-fields-name-row">
                            <a href="desc_fields_edit.php?update_fields_desc_id={{ id }}">
                                {{ name }}
                            </a>
                        </td>
                        <td class="siteadmin-description-fields-description-row">{{{ purified_description }}}</td>
                        <td>{{ required }}</td>
                        <td>{{ type }}</td>
                        <td class="tlp-table-cell-numeric">{{ rank_on_screen }}</td>
                        <td class="tlp-table-cell-actions">
                            <button
                                type="button"
                                class="tlp-button-primary tlp-button-small tlp-button-outline tlp-table-cell-actions-button"
                            >
                                <i class="tlp-button-icon fa fa-pencil"></i> {{ edit_btn }}
                            </button>
                            <button
                                type="button"
                                class="tlp-button-danger tlp-button-small tlp-button-outline tlp-table-cell-actions-button"
                            >
                                <i class="tlp-button-icon fa fa-trash-o"></i> {{ delete_btn }}
                            </button>
                        </td>
                    </tr>
                    {{/ description_fields }}
                    {{^ description_fields }}
                        <tr>
                            <td colspan="6" class="tlp-table-cell-empty">
                                {{ no_description_fields }}
                            </td>
                        </tr>
                    {{/ description_fields }}
                </tbody>
            </table>
        </section>
    </div>
</section>
