<button
    type="button"
    class="tlp-button-outline tlp-button-primary"
    id="project-admin-ugroup-add-ldap-binding"
    data-target-modal-id="project-admin-ugroup-ldap-binding-modal"
>
    <i class="fa fa-link tlp-button-icon"></i>
    {{ title }}
</button>
