<?php
/**
 * GitPHP Project config file
 *
 * Copy this example file to config/projects.conf.php
 *
 * @author Christopher Han <xiphux@gmail.com>
 * @copyright Copyright (c) 2010 Christopher Han
 * @package GitPHP
 * @subpackage Config
 */


/*
 * git_projects
 * List of projects
 *
 * There are several ways to list projects:
 *
 * 1. Array of projects
 */
//$git_projects = array(
//	'gentoo.git'
//	'core/fbx.git',
//	'php/gitphp.git',
//	'php/mdb.git',
//	'php/xxcache.git',
//	'websites/bth.git',
//);


/*
 * 2. Path to file with list of projects
 * Points to a flat file with a list of projects,
 * one on each line. Can also read Gitosis project lists.
 */
//$git_projects = '/git/projectlist.txt';

/*
 * 3. Path to scm-manager repositories.xml file
 * Points to the repository config file used by the scm-manager
 * program.  In order for this to work, the projectroot for GitPHP
 * must be the same as the git repository directory configured
 * in scm-manager
 */
//$git_projects = '~/.scm/config/repositories.xml';

/*
 * 4. Leave commented to read all projects in the project root
 */


/*
 * git_projects_settings
 *
 * This is used to specify override settings for individual projects.
 * This is an array, where each key is the project, and the value is an
 * array of settings.  This can be used with any of the project list
 * methods above.
 *
 * The settings array can have the following key/value settings:
 *
 * 'category': the category for the project.
 *
 * 'owner': the owner of the project.  This overrides the actual owner
 *
 * 'description': the description of the project.  This overrides the 
 *		  description in the project's description file
 *
 * 'cloneurl': the full clone url of the project.  This overrides the
 *	       clone URL setting in the config for this project.
 *	       This can also be an empty string to override the global
 *             clone url to say that only this project has no clone url.
 *
 * 'pushurl': the full push url of the project.  This overrides the
 *	      push URL setting in the config for this project.
 *	      This can also be an empty string to override the global
 *	      push url to say that only this project has no push url.
 *
 * 'bugpattern': the bug number pattern of the project.  This overrides
 *		 the bug pattern setting in the config for this project.
 *		 This can also be an empty string to override the global
 *		 bug pattern to say that only this project has no bug
 *		 pattern.
 *
 * 'bugurl': the bug url for this project.  This overrides the bug url
 *	     setting in the config for this project.  This can also be
 *	     an empty string to override the global bug url to say that
 *	     only this project has no bug url.
 *
 * 'compat': whether this project runs in compatibility mode.  (true/false)
 *	     This overrides the compat setting in the config for this project.
 *	     Compatibility mode relies more on the git executable for loading
 *	     data, at the expense of performance.  Use if you are having
 *	     trouble loading data for this project.
 *
 * 'website': the website url for the project.
 */
//$git_projects_settings['php/gitphp.git'] = array(
//	'category' => 'PHP',
//	'description' => 'GitPHP, a web-based git repository browser in PHP',
//	'owner' => 'Christopher Han',
//	'cloneurl' => 'http://git.xiphux.com/php/gitphp.git',
//	'pushurl' => '',
//	'bugpattern' => '/#([0-9]+)/',
//	'bugurl' => 'http://mantis.xiphux.com/view.php?id=${1}',
//	'compat' => false,
//	'website' => 'http://xiphux.com/programming/gitphp/'
//);
//$git_projects_settings['gentoo.git'] = array(
//	'description' => 'Gentoo portage overlay',
//	'compat' => true
//);
//$git_projects_settings['core/fbx.git'] = array(
//	'description' => 'FBX music player',
//	'category' => 'Core'
//);
//$git_projects_settings['php/mdb.git'] = array(
//	'category' => 'PHP',
//	'description' => 'MDB: Media Database',
//	'cloneurl' => '',
//	'pushurl' => ''
//);
