<h2>{{{ page_title }}}</h2>
<div id="admin-system-events">
    <ul class="nav nav-tabs" id="system-events-tabs">
    {{# queue_links }}
        <li {{# active }} class="active" {{/ active }}>
            <a href="{{ href }}">
                {{ label }}
            </a>
        </li>
    {{/ queue_links }}
    </ul>

    <form action="" method="POST">
        {{{ token_input }}}
        <fieldset>
            <legend id="system_events_filter" class="{{ system_events_filter_classname }}">Filter:</legend>
            <strong>Status:</strong>
            <input type="hidden" name="filter_status[]" value="{{ status_none_label }}" />
            <br />

            {{# status }}

            <label class="checkbox inline">
                <input type="checkbox"
                        name="filter_status[]"
                        value="{{ label }}"
                        id="filter_{{ label }}"
                        {{# checked }} checked="checked" {{/ checked }}
                         />
                {{ label }}
            </label>

            {{/ status }}

            <hr/>
            <strong>Types:</strong>
            <div class="row-fluid">
                {{{ selectbox }}}
            </div>
            <hr/>
            <p>
                <input type="submit" name="filter" class="btn" value="{{ btn_submit_label }}" />
            </p>
        </fieldset>

        {{{ events }}}

        <h3>{{ notification_title }}</h3>

        {{{ send_mail_section_title }}}

        {{^ has_follower }}
            <em>{{ nobody_label }}</em>
        {{/ has_follower }}

        <table class="table table-striped table-bordered">
            <thead>
            <tr><th>emails</th><th>listen</th><th>&nbsp;</th></tr>
            </thead>
            <tbody>

            {{# system_event_followers }}
                <tr valign="top"><td>
                {{# edit }}
                    <textarea name="followers[{{ id }}][emails]" rows="4" cols="40">
                        {{ email }}
                    </textarea>
                {{/ edit }}

                {{^ edit }}
                    {{ email }}
                {{/ edit }}

                </td><td>

                {{# edit }}
                    <select name="followers[{{ id }}][types][]" size="5" multiple="multiple">
                    {{# types-selected }}
                        <option value="{{ label }}" {{# selected }} selected="selected" {{/ selected }}>
                            {{ label }}
                        </option>
                    {{/ types-selected }}
                    </select>
                {{/ edit }}

                {{^ edit }}
                    {{ types }}
                {{/ edit }}

                </td><td>

                {{# edit }}
                    <input type="submit" class="btn btn-primary" name="save" value="{{ btn_submit_label }}" />
                    <input type="submit" class="btn" name="cancel" value="{{ btn_cancel_label }}" />
                {{/ edit }}

                {{^ edit }}
                    <a href="?edit={{ id }}&queue={{ queue }}">{{{ edit_icon }}}</a>
                {{/ edit }}

                <a class="remove_followers" href="?queue={{ queue }}&delete={{ id }}" data-message="{{ js_content }}"> {{{ cross_icon }}} </a>
                </td></tr>

                {{/ system_event_followers }}

                {{^ request_is_edit }}
                    <tr valign="top"><td>
                    <textarea name="new_followers[emails]" id="new_followers_email" rows="4" cols="40" placeholder="{{ default_new_followers_email }}"></textarea>
                    </td><td>
                    <select name="new_followers[types][]" size="5" multiple="multiple">
                        {{# status_new_followers }}
                            <option value="{{ label }}"> {{ label }} </option>
                        {{/ status_new_followers }}
                    </select>
                    </td><td>
                    <input type="submit" class="btn" value="{{ btn_submit_label }}" />
                    </td></tr>'
                {{/ request_is_edit }}

            </tbody>
        </table>
    </form>
</div>
