<section class="tlp-framed-vertically">

<h1 class="tlp-framed-horizontally">{{ title }}</h1>

<div id="admin-system-events">
    <nav class="tlp-tabs">
        <a href="/admin/system_events/" class="tlp-tab tlp-tab-active">{{ events_label }}</a>
        <a href="/admin/system_events/notifications.php" class="tlp-tab">{{ notifications_label }}</a>
    </nav>

    <section class="tlp-framed-horizontally" id="systemevents">
        {{# search }}
            <section class="tlp-pane" id="systemevents-filter">
                <div class="tlp-pane-container">
                    <div class="tlp-pane-header">
                        <h1 class="tlp-pane-title">
                            <i class="fa fa-search tlp-pane-title-icon"></i> {{ filter_label }}
                        </h1>
                    </div>
                    <form action="" method="GET" class="tlp-pane-section">
                        <div class="tlp-form-element">
                            <label class="tlp-label" for="status">{{ queue_label }}</label>
                            <select class="tlp-select" id="status" name="queue">
                                {{# queues }}
                                    <option value="{{ value }}" {{# checked }}selected{{/ checked }}>
                                        {{ label }}
                                    </option>
                                {{/ queues }}
                            </select>
                        </div>

                        <div class="tlp-form-element">
                            <label class="tlp-label" for="status">{{ status_label }}</label>
                            <select class="tlp-select" id="status" name="filter_status[]" multiple size="6">
                                {{# status }}
                                    <option value="{{ value }}" {{# checked }}selected{{/ checked }}>
                                        {{ label }}
                                    </option>
                                {{/ status }}
                            </select>
                        </div>

                        <div class="tlp-form-element">
                            <label class="tlp-label" for="types">{{ types_label }}</label>
                            <select class="tlp-select" id="types" name="filter_type[]" multiple size="10">
                                {{# types }}
                                    <option value="{{ value }}" {{# checked }}selected{{/ checked }} title="{{ label }}">
                                        {{ label }}
                                    </option>
                                {{/ types }}
                            </select>
                        </div>

                        <button type="submit" name="filter" class="tlp-button-primary tlp-button-wide">
                            <i class="fa fa-search tlp-button-icon"></i> {{ search_label }}
                        </button>
                    </form>
                </div>
            </section>
        {{/search}}

        <section class="tlp-pane" id="systemevents-results">
            <div class="tlp-pane-container">
                <div class="tlp-pane-header">
                    <h1 class="tlp-pane-title">
                        <i class="fa fa-flag tlp-pane-title-icon"></i> {{ title }}
                    </h1>
                </div>
                <section class="tlp-pane-section">
                    <table class="tlp-table">
                        <thead>
                            <tr>
                                <th>{{ type_label }}</th>
                                <th>{{ status_label }}</th>
                                <th>{{ parameters_label }}</th>
                                <th class="tlp-table-cell-numeric systemevents-time">{{ created_at }}</th>
                                <th class="tlp-table-cell-numeric systemevents-time">{{ start_at }}</th>
                                <th class="tlp-table-cell-numeric systemevents-time">{{ end_at }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        {{# sections }}
                            <tbody>
                                <tr>
                                    <td class="tlp-table-cell-section" colspan="7">{{ label }}</td>
                                </tr>
                            </tbody>
                            <tbody>
                                {{# events }}
                                    <tr>
                                        <td>
                                            {{# namespace }}
                                                <div class="systemevents-namespace">{{ namespace }}</div>
                                            {{/ namespace }}
                                            {{ type }}
                                        </td>
                                        <td>
                                            <div class="tlp-badge-{{ badge }}
                                                {{^ status_need_attention }}tlp-badge-outline{{/ status_need_attention }}"
                                            >
                                                {{ status }}
                                            </div>
                                        </td>
                                        <td class="systemevents-parameters">
                                            {{{ purified_parameters }}}
                                        </td>
                                        <td class="tlp-table-cell-numeric">
                                            <span class="tlp-tooltip tlp-tooltip-top"
                                                  data-tlp-tooltip="{{ create_date }}"
                                            >
                                                {{ create_time }}
                                            </span>
                                        </td>
                                        <td class="tlp-table-cell-numeric">
                                            <span class="tlp-tooltip tlp-tooltip-top"
                                                  data-tlp-tooltip="{{ start_date }}"
                                            >
                                            {{ start_time }}
                                            </span>
                                        </td>
                                        <td class="tlp-table-cell-numeric">
                                            <span class="tlp-tooltip tlp-tooltip-top"
                                                  data-tlp-tooltip="{{ end_date }}"
                                            >
                                            {{ end_time }}
                                            </span>
                                        </td>
                                        <td class="tlp-table-cell-actions">
                                            <button type="button"
                                                class="tlp-button-primary tlp-button-outline tlp-button-small tlp-table-cell-actions-button systemevents-display-edit-modal"
                                                data-modal-id="systemevents-details-modal-{{ id }}"
                                            >
                                                <i class="fa fa-list tlp-button-icon"></i> {{ details_label }}
                                            </button>

                                            {{> modal-details-system-event }}
                                        </td>
                                    </tr>
                                {{/ events }}
                            </tbody>
                        {{/ sections }}
                        {{^ has_events }}
                            <tbody>
                                <tr>
                                    <td colspan="5" class="tlp-table-cell-empty">
                                        {{ empty_state }}
                                    </td>
                                </tr>
                            </tbody>
                        {{/ has_events }}
                    </table>
                    {{# has_events }}
                        {{# pagination }}
                            {{> pagination }}
                        {{/ pagination }}
                    {{/ has_events }}
                </section>
            </div>
        </section>
    </section>
</div>

</section>
