#pull-requests-header {
    padding: 5px 15px;
    background: #FAFAFA;
    border-top: 2px solid #AAA;
    border-bottom: 1px solid #EEE;

    > h2 {
        display: inline-block;
    }

    > .ui-select-container {
        display: inline-block;
        position: relative;
        top: -4px;
        left: 10px;

        .ui-select-toggle {
            width: 100%;
            box-sizing: border-box;
            padding-right: 25px;
        }

        &.ui-select-bootstrap > .ui-select-choices {
            margin-top: -20px;
            width: 800px;
        }

        .id {
            display: inline-block;
            width: 23px;
            color: #AAA;
        }
    }

    > .loading {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 0 0 15px;
        background: url('loader-mini.gif') no-repeat center center;
    }
}
