<div class="tlp-framed-horizontally">
    {{# can_display_selector }}
        <div class="tlp-dropdown git-repository-branch-tag-selector">
            <button
                type="button"
                id="git-repository-branch-tag-selector-button"
                class="tlp-button-primary tlp-button-outline"
                title="{{# dgettext }}tuleap-git | Select a branch or tag{{/ dgettext }}"
                data-is-undefined="{{# is_undefined }}1{{/ is_undefined }}"
                data-committer-epoch="{{ committer_epoch }}"
                data-repository-id="{{ repository_id }}"
                data-repository-url="{{ repository_url }}"
            >
                {{# is_undefined }}<em>{{/ is_undefined }}
                    {{ head_name }}
                {{# is_undefined }}</em>{{/ is_undefined }}
                <i class="fa fa-caret-down tlp-button-icon-right"></i>
            </button>
        </div>
    {{/ can_display_selector }}
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title"><i class="tlp-pane-title-icon fa fa-files-o"></i> Files</h1>
            </div>
            <section class="tlp-pane-section">
