<form class="tlp-modal" id="webauthn-name-modal"
      role="dialog" aria-labelledby="modal-title">
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="modal-title">
            {{# dgettext }} tuleap-webauthn | Adding a new passkey {{/ dgettext }}
        </h1>
        <button class="tlp-modal-close" type="button" data-dismiss="modal"
                aria-label="{{# dgettext }} tuleap-webauthn | Close {{/ dgettext }}">
            <i class="fa-solid fa-xmark tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>
    <div class="tlp-modal-body">
        <div class="tlp-alert-danger user-preferences-hidden" id="webauthn-add-error"></div>
        <div class="tlp-form-element">
            <label class="tlp-label" for="webauthn-name-input">
                {{# dgettext }} tuleap-webauthn | Name {{/ dgettext }}
                <i class="fa-solid fa-asterisk" aria-hidden="true"></i>
            </label>
            <input type="text" class="tlp-input" id="webauthn-name-input" name="name" data-test="name-modal-input"
                   placeholder="{{# dgettext }} tuleap-webauthn | My key {{/ dgettext }}" required />
        </div>
        {{# csrf_token_add }}
            {{> csrf_token_input }}
        {{/ csrf_token_add }}
    </div>
    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{# dgettext }} tuleap-webauthn | Cancel {{/ dgettext }}
        </button>
        <button class="tlp-button tlp-button-primary" type="submit" data-test="name-modal-button">
            <i class="fa-solid fa-circle-notch fa-spin tlp-button-icon user-preferences-hidden" aria-hidden="true"
               id="webauthn-modal-add"></i>
            {{# dgettext }} tuleap-webauthn | Add passkey {{/ dgettext }}
        </button>
    </div>
</form>
