<h1>{{admin_title}}</h1>

<h2>{{permissions_title}}</h2>

<p>{{permissions_pitch}}</p>

{{#some_usergroups_exists}}
<p>{{{permissions_create_modify}}}</p>

<form id="proftpd_admin_permissions" name="proftpd_admin_permissions" method="POST" action="{{admin_action}}">
    <input type="hidden" name="group_id" value="{{project_id}}" />
    <input type="hidden" name="controller" value="admin" />
    <input type="hidden" name="action" value="save" />
    <table>
        <thead>
            <tr>
                <td>{{readers_header}}</td>
                <td>{{writers_header}}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{#readers_selector}}{{> selectbox}}{{/readers_selector}}</td>
                <td>{{#writers_selector}}{{> selectbox}}{{/writers_selector}}</td>
            </tr>
        </tbody>
    </table>

    <p><input type="submit" name="save" class="btn" value="{{submit}}" /></p>
</form>
{{/some_usergroups_exists}}
{{^some_usergroups_exists}}
<p class="text-warning">{{{permissions_create}}}</p>
{{/some_usergroups_exists}}