<div class="sftp_directory_listing">
    <ul class="nav nav-pills">
            <li class="{{^ is_in_subdirectory }}active{{/ is_in_subdirectory }}">
                <a href="{{ nav_url }}">{{ project_name }}</a>
            </li>
        {{# parent_directories }}
            <li>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ nav_url }}{{ path_to_part }}">{{ path_part_name }}</a>
            </li>
        {{/ parent_directories }}
        {{# is_in_subdirectory }}
            <li>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">
                <a href="">{{ current_directory }}</a>
            </li>
        {{/ is_in_subdirectory }}
    </ul>

    <h2>{{ current_directory }}</h2>
    <table>
        <thead>
            <tr>
                <td>{{ file_column_name }}</td>
                <td>{{ size_column_name }}</td>
                <td>{{ date_added_column_name }}</td>
            </tr>
        </thead>
        <tbody>
            {{# folder_list }}
                <tr>
                    <td>
                        <i class="fa fa-folder"></i> <a href="{{ current_directory_url }}{{ getName }}">{{ getName }}</a>
                    </td>
                    <td>{{ getSize }}</td>
                    <td>{{ getLastModifiedDate }}</td>
                </tr>
            {{/ folder_list }}
            {{# file_list }}
                <tr>
                    <td>
                        <i class="far fa-file-alt"></i> <a href="{{ current_directory_url }}{{ getName }}">{{ getName }}</a>
                    </td>
                    <td>{{ getSize }}</td>
                    <td>{{ getLastModifiedDate }}</td>
                </tr>
            {{/ file_list }}
        </tbody>
    </table>
</div>
