<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title"> {{# dgettext }} tuleap-proftpd | (S)FTP Browser permissions {{/ dgettext }}</h1>
        </div>

        <section class="tlp-pane-section">
            <table class="tlp-table permission-per-group-table">
                <thead>
                <tr class="permission-per-group-double-column-table">
                    <th> {{# dgettext }} tuleap-proftpd | Permission {{/ dgettext }}</th>
                    <th> {{# dgettext }} tuleap-proftpd | Granted groups {{/ dgettext }}</th>
                </tr>
                </thead>
                <tbody>
                {{# permissions }}
                    <tr>
                        <td><a href="{{ admin_quick_link }}">{{ name }}</a></td>
                        <td>
                            {{# groups }}
                                <span class="
                                        {{# is_project_admin }}tlp-badge-danger tlp-badge-outline{{/ is_project_admin }}
                                    {{# is_static }}tlp-badge-primary tlp-badge-outline{{/ is_static }}
                                    {{# is_custom }}tlp-badge-secondary{{/ is_custom }}
                                    ">{{ name }}</span>
                            {{/ groups }}
                        </td>
                    </tr>
                {{/ permissions }}
                {{^ has_permissions }}
                    <tr>
                        <td colspan="2" class="tlp-table-cell-empty">
                            {{# dgettext }} tuleap-proftpd | {{ user_group_name }} has no permission for (S)FTPD Browser {{/ dgettext }}
                        </td>
                    </tr>
                {{/ has_permissions }}
                </tbody>
            </table>
        </section>
    </div>
</section>
