</head>
<body class="{{# body_class }} {{ . }}{{/ body_class }}"
      data-user-locale="{{ user_locale }}"
      data-user-id="{{ user_id }}"
{{# user_dark_mode }}
      data-user-dark-mode="{{ user_dark_mode }}"
{{/ user_dark_mode }}
>
    {{> browser-unsupported }}
    {{> skip-to-main-link }}
    {{> help-dropdown }}
    {{> platform-banner }}
    {{> invite-buddies-modal }}

    {{{ notifications_placeholder }}}
