</head>
<body class="{{# body_class }} {{ . }}{{/ body_class }}" data-user-locale="{{ user_locale }}" data-user-id="{{ user_id }}">
    {{> help-dropdown }}
    {{> platform-banner }}
    {{> invite-buddies-modal }}

    {{{ notifications_placeholder }}}
