<div class="modal hide fade" role="dialog" aria-labelledby="browser-deprecation-modal-label" aria-hidden="true" id="browser-deprecation-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 id="browser-deprecation-modal-label">
            {{ title }}
        </h2>
    </div>
    <div class="modal-body">
        {{ message }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{{# gettext }}Ok, got it{{/ gettext }}</button>
    </div>
</div>
