<!DOCTYPE HTML>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <meta name="apple-mobile-web-app-title" content="Tuleap" />
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/common/images/favicon/{{ favicon_variant }}/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" sizes="48x48" href="/themes/common/images/favicon/{{ favicon_variant }}/favicon.ico" />
    <link rel="icon" type="image/png" sizes="96x96" href="/themes/common/images/favicon/{{ favicon_variant }}/favicon-96x96.png" />
    <link rel="icon" type="image/svg+xml" sizes="any" href="/themes/common/images/favicon/{{ favicon_variant }}/favicon.svg" />
    <link rel="manifest" href="/themes/common/images/favicon/{{ favicon_variant }}/site.webmanifest" />
    <meta name="main-color" content="{{ variant_color_code }}">

    {{> open-graph }}
