<!DOCTYPE HTML>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/themes/common/images/favicon/{{ favicon_variant }}/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/themes/common/images/favicon/{{ favicon_variant }}/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/themes/common/images/favicon/{{ favicon_variant }}/favicon.svg" sizes="any" />
    <link rel="icon" href="/themes/common/images/favicon/{{ favicon_variant }}/favicon.ico" />
    <link rel="manifest" href="/themes/common/images/favicon/{{ favicon_variant }}/site.webmanifest" />
    <meta name="main-color" content="{{ variant_color_code }}">

    {{> open-graph }}
