<div id="keyboard-navigation-help-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>{{ shortcut_list }}</h2>
    </div>
        <div class="modal-body">
            <div class="row-fluide">
                <div class="span6">
                    <div>
                        <h3>{{ sidebar_title }}</h3>
                    </div>
                    <div>
                        <span class="shortcut">s</span>
                        : {{ sidebar_move }}
                    </div>
                    <div>
                        <span class="shortcut">p then h</span>
                        : {{ sidebar_dashboard }}
                    </div>
                    <div>
                        <span class="shortcut">p then a</span>
                        : {{ sidebar_agiledashboard }}
                    </div>
                    <div>
                        <span class="shortcut">p then p</span>
                        : {{ sidebar_homepage }}
                    </div>
                    <div>
                        <span class="shortcut">p then d</span>
                        : {{ sidebar_docman }}
                    </div>
                    <div>
                        <span class="shortcut">p then m</span>
                        : {{ sidebar_mediawiki }}
                    </div>
                    <div>
                        <span class="shortcut">p then w</span>
                        : {{ sidebar_wiki }}
                    </div>
                    <div>
                        <span class="shortcut">p then t</span>
                        : {{ sidebar_tracker }}
                    </div>
                    <div>
                        <span class="shortcut">p then g</span>
                        : {{ sidebar_git }}
                    </div>
                    <div>
                        <span class="shortcut">p then s</span>
                        : {{ sidebar_svn }}
                    </div>
                    <div>
                        <span class="shortcut">p then c</span>
                        : {{ sidebar_cvs }}
                    </div>
                    <div>
                        <span class="shortcut">p then f</span>
                        : {{ sidebar_file }}
                    </div>
                    <div>
                        <span class="shortcut">p then b</span>
                        : {{ sidebar_forum }}
                    </div>
                    <div>
                        <span class="shortcut">p then n</span>
                        : {{ sidebar_news }}
                    </div>
                    <div>
                        <span class="shortcut">p then l</span>
                        : {{ sidebar_mail }}
                    </div>
                </div>
                <div class="span6">
                    <div>
                        <h3>{{ navbar }}</h3>
                    </div>
                    <div>
                        <span class="shortcut">g then h</span>
                        : {{ homepage }}
                    </div>
                    <div>
                        <span class="shortcut">g then m</span>
                        : {{ personnal_page }}
                    </div>
                    <div>
                        <span class="shortcut">g then p</span>
                        : {{ projects }}
                    </div>
                    <div>
                        <span class="shortcut">g then a</span>
                        : {{ account }}
                    </div>
                    <br/>
                    <div>
                        <h3>{{ and_more }}</h3>
                    </div>
                    <div>
                        <span class="shortcut">Esc</span>
                        : {{ blur }}
                    </div>
                    <div>
                        <span class="shortcut">?</span>
                        : {{ shortcut_helper }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tips">
            {{ tips }}
        </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ close }}</button>
    </div>
</div>