<ul class="nav pull-right header-navbar-container-user-nav">
    {{# new_dropdown }}
        {{# has_sections }}
            <li id="nav-dropdown-new" class="dropdown navbar-new-dropdown">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown" data-shortcut-create>
                    <i class="fa fa-plus nav-dropdown-new-icon" aria-hidden="true"></i>
                    {{# gettext }}New{{/gettext}}
                </button>
                <ul class="dropdown-menu pull-right">
                    {{# sections }}
                        <li class="divider"></li>
                        <li>
                            <div class="nav-dropdown-content-item-title">{{ label }}</div>
                        </li>
                        {{# links }}
                            <li>
                                <a href="{{ url }}" class="nav-dropdown-content-item" data-shortcut-create-option>
                                    <i class="fa fa-fw {{ icon }} nav-dropdown-content-user-link-icon" aria-hidden="true"></i>
                                    {{ label }}
                                </a>
                            </li>
                        {{/ links }}
                    {{/ sections }}
                </ul>
            </li>
        {{/ has_sections }}
    {{/ new_dropdown }}

    {{# switch_to }}
        <li>
            <button type="button" data-toggle="modal" id="switch-to-button" data-target="#switch-to-modal">
                <i class="fa fa-search nav-switch-to-icon" aria-hidden="true"></i>
                {{# gettext }}Switch to...{{/ gettext }}
            </button>
        </li>
    {{/ switch_to }}

    {{# user_is_logged_in }}
        {{> navbar-user-logged-in }}
    {{/ user_is_logged_in }}
    {{^ user_is_logged_in }}
        <li>
            <a id="navbar-user-login" href="{{ login_url }}">
                {{ include_menu_login_text }}
            </a>
        </li>
        {{# display_new_user }}
        <li>
            <a href="/account/register.php">
                {{ include_menu_new_user_text }}
            </a>
        </li>
        {{/ display_new_user }}
    {{/ user_is_logged_in }}
</ul>
