<div class="navbar navbar-fixed-top">
    {{# has_motd }}<div class="motd">{{{ motd }}}</div>{{/ has_motd }}
    <a id="navbar-logo" href="/" aria-label="{{ homepage_label }}"><div class="logo"></div></a>
    <div class="navbar-inner">
        <div class="container-fluid header-navbar-container">
            <ul class="nav header-navbar-container-project-nav">
                {{# current_project_navbar_info }}
                    <li class="current-project">
                        <a href="{{ project_link }}"
                           class="project-title"
                           id="header-navbar-project-title"
                           title="{{ project_name }}"
                           data-content="{{ project_privacy }}"
                        >
                            {{# are_restricted_users_allowed }}
                                {{# project_is_public }}
                                    <i class="fa fa-unlock"></i>
                                {{/ project_is_public }}
                                {{# project_is_public_incl_restricted }}
                                    <i class="fa fa-tlp-unlock-plus-r"></i>
                                {{/ project_is_public_incl_restricted }}
                                {{# project_is_private }}
                                    <i class="fa fa-lock"></i>
                                {{/ project_is_private }}
                                {{# project_is_private_incl_restricted }}
                                    <i class="fa fa-tlp-lock-plus-r"></i>
                                {{/ project_is_private_incl_restricted }}
                            {{/ are_restricted_users_allowed }}
                            {{^ are_restricted_users_allowed }}
                                {{# project_is_public }}
                                    <i class="fa fa-unlock"></i>
                                {{/ project_is_public }}
                                {{^ project_is_public }}
                                    <i class="fa fa-lock"></i>
                                {{/ project_is_public }}
                            {{/ are_restricted_users_allowed }}

                            {{ project_name }}
                        </a>
                        {{# has_project_banner }}
                            <span id="current-project-banner-bullhorn"
                                  {{# project_banner_is_visible }}class="bullhorn-to-banner"{{/ project_banner_is_visible }}
                                  {{^ project_banner_is_visible }}class="project-banner-hidden"{{/ project_banner_is_visible }}
                            >
                                <a href="#" aria-labelledby="current-project-banner-message"><i class="fa fa-bullhorn"></i></a>
                            </span>
                        {{/has_project_banner}}
                        {{# has_project_flags }}
                            <span class="current-project-nav-flag"
                                  title="{{# project_flags }}{{ label }} {{/ project_flags }}"
                                  data-title="{{ project_flags_title }}"
                                  data-project-flags="{{ json_encoded_project_flags }}"
                            >
                                {{# glyph }}project-shield{{/ glyph }}
                                <span class="current-project-nav-flag-labels">
                                    {{# project_flags }}
                                        <span class="current-project-nav-flag-label">{{ label }}</span>
                                    {{/ project_flags }}
                                </span>
                            </span>
                        {{/ has_project_flags }}
                    </li>
                {{/ current_project_navbar_info }}

                {{# navbar_items }}
                    {{# is_projects }}
                        {{> navbar-projects }}
                    {{/ is_projects }}
                    {{# is_admin }}
                        {{> navbar-item-admin }}
                    {{/ is_admin }}
                    {{# is_link }}
                        {{> navbar-item-link }}
                    {{/ is_link }}
                    {{# is_dropdown }}
                        {{> navbar-item-dropdown }}
                    {{/ is_dropdown }}
                {{/ navbar_items }}
            </ul>
            {{> navbar-user-navigation }}
        </div>
    </div>
</div>
