<li class="user-menu">
    <a id="navbar-user-navigation" href="/my/" class="username">
        <img class="user-avatar" src="{{ user_avatar }}" />
        <div class="user-infos">
            <span class="user-infos-real-name">{{ user_real_name }}</span>
            <span class="user-infos-login-name">{{ user_login_name }}</span>
        </div>
    </a>
</li>
<li>
    <button
        title="{{ history }}"
        id="nav-dropdown-user-history"
        class="nav-form-button dropdown-toggle"
        data-toggle="dropdown"
    >
        <i class="icon fa fa-clock-o"></i>
    </button>
    {{> navbar-history }}
</li>
<li>
    <a id="navbar-user-settings" href="/account/" title="{{ my_account_label }}">
        <i class="fa fa-cog"></i>
    </a>
</li>
<li>
    <form
            class="nav-form"
            action="/account/logout"
            method="POST"
    >
        {{# logout_csrf }}
            {{> csrf_token_input }}
        {{/ logout_csrf }}
        <button
                class="nav-form-button"
                type="submit"
                title="{{ logout_label }}"
                data-test="user_logout"
        >
            <i class="icon fa fa-power-off nav-form-button-icon"></i>
        </button>
    </form>
</li>
