<div class="navbar navbar-fixed-top">
    {{# has_motd }}<div class="motd">{{{ motd }}}</div>{{/ has_motd }}
    <a id="navbar-logo" href="/" aria-label="{{ homepage_label }}"><div class="logo"></div></a>
    <div class="navbar-inner">
        <div class="container-fluid header-navbar-container">
            <ul class="nav header-navbar-container-project-nav">
                {{# is_super_user }}
                    <li class="admin ">
                        <a class="admin-link" href="/admin/">
                            {{# gettext }}Administration{{/ gettext }}
                        </a>
                    </li>
                {{/ is_super_user }}
            </ul>
            {{> navbar-user-navigation }}
        </div>
    </div>
</div>
