{{# has_motd }}
    <div class="motd">{{{ motd }}}</div>
{{/ has_motd }}

<header class="{{# should_logo_be_displayed }}full-width{{/ should_logo_be_displayed }}">
    <div class="header-container">
        {{# should_logo_be_displayed }}
            {{> logo }}
        {{/ should_logo_be_displayed }}

        <div class="header-container-spacer"></div>

        {{# is_super_user }}
            <a class="btn admin-link" href="/admin/" aria-label="{{# gettext }}Administration{{/ gettext }}">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </a>
        {{/ is_super_user }}

        {{> navbar-new-nav }}

        {{# switch_to }}
            <button type="button" data-toggle="modal" id="switch-to-button" data-target="#switch-to-modal" class="btn">
                <i class="fa fa-random btn-icon" aria-hidden="true"></i>
                {{# gettext }}Projects...{{/ gettext }}
            </button>
        {{/ switch_to }}

        {{> navbar-user-nav }}
    </div>
</header>
