$btn-default-color: #F8F8F8;

.btn {
    i {
        margin: 0 10px 0 0;
    }
    &.btn-lg {
        i {
            margin: 0 12px 0 0;
        }
    }
    &.btn-sm {
        i {
            margin: 0 8px 0 0;
        }
    }
    &.btn-xs {
        i {
            margin: 0 4px 0 0;
        }
    }

    &.btn-default {
        background: $btn-default-color;
        border-color: $main-color;
        color: darken($main-color, 3%);

        &:hover {
            background: darken($btn-default-color, 5%);
        }
        &.active {
            background: darken($btn-default-color, 12%);
            box-shadow: inset 0 2px 4px transparentize(#000000, 0.2);
        }
    }

    &.btn-primary {
        background: $main-accent-color;
        border-color: darken($main-accent-color, 7%);
        color: #FFFFFF;

        &:hover {
            background: darken($main-accent-color, 5%);
        }
        &.active {
            background: darken($main-accent-color, 10%);
            box-shadow: inset 0 2px 4px transparentize(#000000, 0.2);
        }
    }

    &.btn-warning {
        background: $color-warning;
        border-color: darken($color-warning, 7%);
        color: #FFFFFF;

        &:hover {
            background: darken($color-warning, 5%);
        }
        &.active {
            background: darken($color-warning, 10%);
            box-shadow: inset 0 2px 4px transparentize(#000000, 0.2);
        }
    }

    &.btn-danger {
        background: $color-error;
        border-color: darken($color-error, 7%);
        color: #FFFFFF;

        &:hover {
            background: darken($color-error, 5%);
        }
        &.active {
            background: darken($color-error, 10%);
            box-shadow: inset 0 2px 4px transparentize(#000000, 0.2);
        }
    }
}

.dropdown-menu > li {
    &:not(.disabled) > a {
        color: $main-accent-color;
    }

    i {
        margin: 0 8px 0 0;
    }
}

.btn-group.open > .dropdown-toggle {
    &.btn-default {
        border-color: $main-color;
    }
    &.btn-primary {
        background: darken($main-accent-color, 10%);
    }
}
