/* UI colors */
$color-link: #1F8BCA;
$color-info: #4DB3D0;
$color-success: #58B359;
$color-warning: #F5B849;
$color-error: #DA5353;

/* FlamingParrot colors */
$color-theme-orange: #F79514;
$color-theme-accent-orange: #1593C4;
$color-theme-dark-orange: #F36100;
$color-theme-accent-dark-orange: #67AF45;
$color-theme-blue: #1593C4;
$color-theme-accent-blue: #F79514;
$color-theme-green: #67AF45;
$color-theme-accent-green: #F79514;
$color-theme-bluegrey: #5B6C79;
$color-theme-accent-bluegrey: #F79514;
$color-theme-purple: #79558A;
$color-theme-accent-purple: #67AF45;
$color-theme-red: #BD2626;
$color-theme-accent-red: #1593C4;

/* Color swatches */
$color-swatch-inca-silver: #767676;
$color-swatch-chrome-silver: #A5A5A5;
$color-swatch-fiesta-red: #DC2F2F;
$color-swatch-teddy-brown: #9B6542;
$color-swatch-clockwork-orange: #FF9400;
$color-swatch-red-wine: #9E1919;
$color-swatch-acid-green: #92C71E;
$color-swatch-army-green: #7F9A42;
$color-swatch-sherwood-green: #28C43A;
$color-swatch-ocean-turquoise: #28C4A0;
$color-swatch-daphne-blue: #0FD8D8;
$color-swatch-lake-placid-blue: #33C0EA;
$color-swatch-deep-blue: #2B6CDC;
$color-swatch-plum-crazy: #890DE1;
$color-swatch-peggy-pink: #E10DCB;
$color-swatch-flamingo-pink: #FF87C4;
$color-swatch-inca-silver-secondary: #EEEEEE;
$color-swatch-chrome-silver-secondary: #FAFAFA;
$color-swatch-fiesta-red-secondary: #FFDFDF;
$color-swatch-teddy-brown-secondary: #F9EBE1;
$color-swatch-clockwork-orange-secondary: #FFF0DC;
$color-swatch-red-wine-secondary: #F7E8E8;
$color-swatch-acid-green-secondary: #ECF4D9;
$color-swatch-army-green-secondary: #E5F2C8;
$color-swatch-sherwood-green-secondary: #E9FFEB;
$color-swatch-ocean-turquoise-secondary: #D3FCF2;
$color-swatch-daphne-blue-secondary: #E3FFFF;
$color-swatch-lake-placid-blue-secondary: #DFF5FF;
$color-swatch-deep-blue-secondary: #DEEAFF;
$color-swatch-plum-crazy-secondary: #F3E2FF;
$color-swatch-peggy-pink-secondary: #FFE9FD;
$color-swatch-flamingo-pink-secondary: #FFF2F8;

#colors {
    th {
        font-size: 11px;
        font-weight: 600;
        color: #888;
        padding: 7px 0;

        &.code {
            width: 100px;
        }
    }

    tr.color {
        &.link {
            div {
                background: $color-link;
            }
        }
        &.info {
            div {
                background: $color-info;
            }
        }
        &.success {
            div {
                background: $color-success;
            }
        }
        &.warning {
            div {
                background: $color-warning;
            }
        }
        &.error {
            div {
                background: $color-error;
            }
        }

        &.theme-orange {
            .main-color {
                background: $color-theme-orange;
            }
            .accent-color {
                background: $color-theme-accent-orange;
            }
        }
        &.theme-dark-orange {
            .main-color {
                background: $color-theme-dark-orange;
            }
            .accent-color {
                background: $color-theme-accent-dark-orange;
            }
        }
        &.theme-blue {
            .main-color {
                background: $color-theme-blue;
            }
            .accent-color {
                background: $color-theme-accent-blue;
            }
        }
        &.theme-green {
            .main-color {
                background: $color-theme-green;
            }
            .accent-color {
                background: $color-theme-accent-green;
            }
        }
        &.theme-bluegrey {
            .main-color {
                background: $color-theme-bluegrey;
            }
            .accent-color {
                background: $color-theme-accent-bluegrey;
            }
        }
        &.theme-purple {
            .main-color {
                background: $color-theme-purple;
            }
            .accent-color {
                background: $color-theme-accent-purple;
            }
        }
        &.theme-red {
            .main-color {
                background: $color-theme-red;
            }
            .accent-color {
                background: $color-theme-accent-red;
            }
        }

        &.swatch.inca-silver {
            div {
                background: $color-swatch-inca-silver-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-inca-silver;
            }
        }
        &.swatch.chrome-silver {
            div {
                background: $color-swatch-chrome-silver-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-chrome-silver;
            }
        }
        &.swatch.fiesta-red {
            div {
                background: $color-swatch-fiesta-red-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-fiesta-red;
            }
        }
        &.swatch.teddy-brown {
            div {
                background: $color-swatch-teddy-brown-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-teddy-brown;
            }
        }
        &.swatch.clockwork-orange {
            div {
                background: $color-swatch-clockwork-orange-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-clockwork-orange;
            }
        }
        &.swatch.red-wine {
            div {
                background: $color-swatch-red-wine-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-red-wine;
            }
        }
        &.swatch.acid-green {
            div {
                background: $color-swatch-acid-green-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-acid-green;
            }
        }
        &.swatch.army-green {
            div {
                background: $color-swatch-army-green-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-army-green;
            }
        }
        &.swatch.sherwood-green {
            div {
                background: $color-swatch-sherwood-green-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-sherwood-green;
            }
        }
        &.swatch.ocean-turquoise {
            div {
                background: $color-swatch-ocean-turquoise-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-ocean-turquoise;
            }
        }
        &.swatch.daphne-blue {
            div {
                background: $color-swatch-daphne-blue-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-daphne-blue;
            }
        }
        &.swatch.lake-placid-blue {
            div {
                background: $color-swatch-lake-placid-blue-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-lake-placid-blue;
            }
        }
        &.swatch.deep-blue {
            div {
                background: $color-swatch-deep-blue-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-deep-blue;
            }
        }
        &.swatch.plum-crazy {
            div {
                background: $color-swatch-plum-crazy-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-plum-crazy;
            }
        }
        &.swatch.peggy-pink {
            div {
                background: $color-swatch-peggy-pink-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-peggy-pink;
            }
        }
        &.swatch.flamingo-pink {
            div {
                background: $color-swatch-flamingo-pink-secondary;
                box-shadow: inset 0 0 0 3px $color-swatch-flamingo-pink;
            }
        }

        > td {
            vertical-align: middle;
            padding: 5px 10px 5px 0;
            font-size: 15px;
            position: relative;

            div, .main-color {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            .accent-color {
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                bottom: 0px;
                right: 8px;
                border: 3px solid #FFFFFF;
            }

            &.name {
                width: 190px;
            }

            &.code, &.variable {
                font-family: "Courier";
                color: $color-info;
                font-size: 13px;
            }
        }
    }
}