[Unit]
Description=Restart Meilisearch server for Tuleap on configuration change
Documentation=https://docs.tuleap.com

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl try-restart tuleap-meilisearch.service
