.main {
    padding: 0;
    @media screen and (max-width: 880px) {
        padding: $navbar-height 0 0 0;
    }

    @media screen and (max-width: 650px) {
        padding: $navbar-height * 2 0 0 0;
    }

    #feedback ul {
        margin: 12px;
    }

    .toolbar.nav-pills {
        margin: 0;
        padding: 15px 20px 0;
        border: 0;
        border-bottom: 1px solid darken($main-background, 5%);
        background: $main-background;
        font-family: 'SourceSansPro', 'Helvetica Neue', Arial, sans-serif;
        font-size: 13px;

        li > a {
            margin: 0 30px 15px 0;
            padding: 0;
            background: none;
            color: $medium-grey;
            font-weight: normal;
        }

        li > a:hover, li > a:focus {
            color: $dark-grey;
            font-weight: normal;
            background: none;
        }
    }

    .breadcrumb + .toolbar.nav-pills {
        padding: 0 20px;
    }

    .content {
        padding: 12px 12px 150px;
    }
}
