/* stylelint-disable selector-class-pattern */
.feedback_error,
.feedback_warning,
.feedback_info,
.feedback_debug {
    margin: 10px 0;
    padding: 20px;
    border-left: 5px solid transparent;
    border-radius: 3px;
    list-style: none;

    h4 {
        margin: 0 0 20px;
    }
}

.feedback_error {
    border-left-color: $tlp-ui-danger;
    background: desaturate(lighten(mix($white, $tlp-ui-danger, 25%), 23%), 15%);
    color: darken($tlp-ui-danger, 15%);
}

.feedback_warning {
    border-left-color: $tlp-ui-warning;
    background: desaturate(lighten(mix($white, $tlp-ui-warning, 20%), 23%), 15%);
    color: saturate(darken($tlp-ui-warning, 30%), 10%);
}

.feedback_info {
    border-left-color: $tlp-ui-info;
    background: desaturate(lighten(mix($white, $tlp-ui-info, 25%), 23%), 15%);
    color: darken($tlp-ui-info, 30%);
}

.feedback_debug {
    display: none;
}
/* stylelint-enable */
