// scss-lint:disable SelectorFormat
.feedback_error,
.feedback_warning,
.feedback_info,
.feedback_debug {
    margin: 10px 0;
    padding: 20px;
    border-left: 5px solid transparent;
    border-radius: 3px;
    list-style: none;

    h4 {
        margin: 0 0 20px;
    }
}

.feedback_error {
    border-left-color: $ui-color-danger;
    background: transparentize($ui-color-danger, .9);
    color: $ui-color-danger;
}

.feedback_warning {
    border-left-color: $ui-color-warning;
    background: transparentize($ui-color-warning, .9);
    color: darken($ui-color-warning, 10%);
}

.feedback_info {
    border-left-color: $ui-color-info;
    background: transparentize($ui-color-info, .9);
    color: darken($ui-color-info, 30%);
}

.feedback_debug {
    display: none;
}
