#project-confirmation-content {
    p > i {
        color: var(--tlp-main-color);
    }
}

#project-confirmation-redirect {
    a {
        border-radius: var(--tlp-medium-radius);
        border-color: var(--tlp-main-color) var(--tlp-main-color) #002a80;
        background-color: var(--tlp-main-color);
        background-image: linear-gradient(to bottom, var(--tlp-main-color), var(--tlp-main-color));
        background-repeat: repeat-x;
        font-weight: 400;
        letter-spacing: 0.03em;
    }
}
