.search-bar {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background: #f5f5f5;

    form .input-append {
        input {
            color: $main;
        }

        button {
            transition: background .1s linear;
            background: $main;
            color: #ffffff;

            &:hover {
                transition: background .1s linear;
                background: lighten($main, 3%);
            }
        }
    }
}

.additional-search-tabs {
    li {
        > a {
            color: #777777;

            &:hover {
                box-shadow: inset 0 -2px 0 $main;
                color: $main;
            }
        }

        &.active {
            > a { /* stylelint-disable-line selector-no-qualifying-type */
                box-shadow: inset 0 -2px 0 $main;
                color: $main;
            }
        }
    }
}

.search-panes {
    .search-pane {
        .search-pane-header {
            border-color: $main;
            color: $main;
        }

        .search-pane-body {
            ul {
                li {
                    /* stylelint-disable selector-max-compound-selectors, max-nesting-depth, selector-no-qualifying-type */
                    a,
                    span {
                        &.active {
                            color: $main;
                            text-decoration: none;
                        }
                    }
                    /* stylelint-enable */
                }
            }
        }
    }
}

#search-results {
    ul li a {
        color: $main;

        &:hover {
            color: $dark-main;
        }
    }
}
