.search-bar {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background: #f5f5f5;

    form .input-append {
        input {
            color: var(--tlp-main-color);
        }

        button {
            transition: background 0.1s linear;
            background: var(--tlp-main-color);
            color: #ffffff;

            &:hover {
                transition: background 0.1s linear;
                background: var(--tlp-main-color-lighter-90);
            }
        }
    }
}

.additional-search-tabs {
    li {
        > a {
            color: #777777;

            &:hover {
                box-shadow: inset 0 -2px 0 var(--tlp-main-color);
                color: var(--tlp-main-color);
            }
        }

        /* stylelint-disable-next-line selector-no-qualifying-type */
        &.active {
            > a {
                box-shadow: inset 0 -2px 0 var(--tlp-main-color);
                color: var(--tlp-main-color);
            }
        }
    }
}

.search-panes {
    .search-pane {
        .search-pane-header {
            border-color: var(--tlp-main-color);
            color: var(--tlp-main-color);
        }

        .search-pane-body {
            ul {
                li {
                    /* stylelint-disable selector-max-compound-selectors, max-nesting-depth, selector-no-qualifying-type */
                    a,
                    span {
                        &.active {
                            color: var(--tlp-main-color);
                            text-decoration: none;
                        }
                    }
                    /* stylelint-enable */
                }
            }
        }
    }
}

#search-results {
    ul li a {
        color: var(--tlp-main-color);

        &:hover {
            color: var(--tlp-main-color-darker-10);
        }
    }
}
