.priora {
    background-color: #dadada;
}

.priorb {
    background-color: #dad0d0;
}

.priorc {
    background-color: #dacaca;
}

.priord {
    background-color: #dac0c0;
}

.priore {
    background-color: #dababa;
}

.priorf {
    background-color: #dab0b0;
}

.priorg {
    background-color: #daaaaa;
}

.priorh {
    background-color: #da9090;
}

.priori {
    background-color: #da8a8a;
}

#artifacts_result > table {
    border-collapse: separate;
    border-spacing: 1px;

    th.boxtitle {
        background-color: #f1f1f1;
    }
}

.boxhighlight {
    background-color: #ffe0db;
    color: #333333;
    text-align: left;
}