$border: 1px solid #e9e9e9;
$border-radius: var(--tlp-large-radius);

.widget {
    border: 0;

    form {
        margin: 0;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .widget_titlebar {
        padding: 8px 12px 10px;
        border-top: $border;
        border-right: $border;
        border-bottom: 1px solid var(--tlp-main-color);
        border-left: $border;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background: #ffffff;
        color: var(--tlp-main-color);
        font-weight: 400;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .widget_content {
        padding: 12px;
        border-top: 1px solid var(--tlp-main-color);
        border-right: $border;
        border-bottom: $border;
        border-left: $border;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        font-size: 0.9em;
    }
}
