<div class="tlp-framed-vertically">
    <h1 class="tlp-framed-horizontally">{{# dgettext }} tuleap-svn | Subversion {{/ dgettext }}</h1>

    <nav class="tlp-tabs">
        <a class="tlp-tab {{# is_cache_pane_active }} tlp-tab-active {{/ is_cache_pane_active }}" href="?pane=cache">
            {{# dgettext }} tuleap-svn |Authentication cache{{/ dgettext }}
        </a>
    </nav>

    <div class="tlp-framed-horizontally">
        {{# is_cache_pane_active }}
            {{> authentication-cache-settings }}
        {{/ is_cache_pane_active }}
    </div>
</div>
