body.account-maintenance .content {
    padding: 0px;
}

h3.account-title {
    font-size: 1.2em;

    i.help-button {
        vertical-align: initial;
    }
}

#account-maintenance {
    padding-left: 25px;

    > div {
        margin-bottom: 35px;
    }

    h4 {
        color: #666;
        font-size: 14px;
        text-transform: uppercase;
    }
}

#account-third-party-applications {
    > div {
        margin-bottom: 35px;
    }
}

.user-real-name-change {
    font-weight: normal;
}

.user-username {
    font-size: 1.4em;
    font-weight: bold;
    color: grey;
    display: block;
}

#account-access-keys {
    border: 0;
}

#account-shell .ssh-keys-table,
#account-svn-tokens .svn-tokens-table,
.access-keys-table {
    width: 100%;

    > tbody > tr > td {
        &:first-child {
            width: 20px;
            text-align: center;

            > input {
                margin: 0;
            }
        }
    }
}

.svn-generated-token, .generated-access-key {
    font-weight: bold;
}

.access-keys-accesses-warning {
    cursor: help;
}

#svn-tokens-generate-modal, #access-keys-generate-modal {
    .modal-body {
        > p {
            margin: 0 0 20px;
        }

        > textarea {
            width: 100%;
            box-sizing: border-box;
        }
    }
}

.user-info-label {
    color: grey;
}

.table-label {
    text-align: right;
    padding-right: 10px;
}

#user-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 0;

    > .avatar {
        width: 100px;
        height: 100px;
    }
}

.user-avatar-change {
    margin: 10px 0 0;
    white-space: nowrap;
}

.change-avatar-modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 5px;

    > .avatar {
        width: 100px;
        height: 100px;
    }

    &.change-avatar-modal-content-preview > .avatar {
        background: #ffffff;
    }
}

.change-avatar-modal-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 20px;
}

.change-avatar-modal-actions-select {
    position: relative;
    margin: 0 0 10px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

body input[type=file].change-avatar-modal-actions-select-file {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    opacity: 0;
    cursor: pointer;
}

.first-user-info {
    display: flex;
    padding: 15px 0 0;
}

.user-info-table {
    margin-top: 30px;
}

#account-preferences {
    background-color: #F6F6F6;
    padding-left: 25px;

    border-left: solid 1px #EBEBEB;

    > h2 {
        padding-top: 15px;
    }

    > form {
        > hr {
            margin-right: 25px;
            border-color: #EBEBEB;
        }

        > fieldset {
            margin-bottom: 15px;

            > label {
                margin-bottom: 10px;
            }
        }

        select {
            margin: 0;
        }
    }
}

#account-email-settings {
    > p {
        margin: 0;
    }
}

.table-content-centered {
    display: inline;
    vertical-align: middle;
}

.button-centered {
    text-align: center;
}

.control-label.user-account-label {
    display: block;
    text-align: right;
    color: #9B9B9B;
}

.control-group.user-account-group {
    margin: 0;
}

.form-horizontal.account-form {
    > fieldset > .control-group {

        > label.control-label {
            padding-top: 0;
            width: 170px;
        }

        > .controls {
            margin-left: 190px;
        }
    }
}

#user-info-separation {
    margin-bottom: 30px;
}

i.help-button {
    font-size: 1.3em;
    vertical-align: middle;
    color: #C2C2C2;
    text-decoration: none
}

.select-user-preferences {
    width: 80%;
    max-width: 206px;
}

@-webkit-keyframes bounce-picker {
    0% {
        -webkit-transform: scale(0.75);
    }

    50% {
        -webkit-transform: scale(1);
    }

    75% {
        -webkit-transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce-picker {
    0% {
        transform: scale(0.75);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.theme_picker_container {
    margin-left: 3px;
    cursor: pointer;
    display: inline-block;
    background: #373737;
    height: 20px;

    > .theme_variant {
        display: block;
        border-left: 20px solid;
        border-bottom: 20px solid;
    }

    &.checked {
        height: 16px;
        border: 2px solid #0088cd;
        animation: bounce-picker 400ms ease-out;
        -webkit-animation: bounce-picker 400ms ease-out;

        > .theme_variant {
            border-left-width: 16px;
            border-bottom-width: 16px;
        }

    }
}

@import "../../../FlamingParrot/css/utils/picker";

#theme_variant_group {
    display: none;

    > label {
        font-size: 0.8em;
    }
}

#theme_variant_list {
    padding-top: 5px;
}

[data-ssh_key_value] {
    word-break: break-all;
    cursor: pointer;
}

.account-maintenance > .wrapper {
    min-height: initial;
}
