body.account-maintenance .content {
    padding: 0px;
}

h3.account-title {
    font-size: 1.2em;

    i.help-button {
        vertical-align: initial;
    }
}

#account-maintenance {
    padding-left: 25px;

    > div {
        margin-bottom: 35px;
    }

    h4 {
        color: #666;
        font-size: 14px;
        text-transform: uppercase;
    }
}

#account-third-party-applications {
    > div {
        margin-bottom: 35px;
    }
}

.user-username {
    font-size: 1.4em;
    font-weight: bold;
    color: grey;
    display: block;
}

.user-info-label {
    color: grey;
}

.table-label {
    text-align: right;
    padding-right: 10px;
}

.first-user-info {
    display: flex;
    padding: 15px 0 0;
}

.user-info-table {
    margin-top: 30px;
}

#account-email-settings {
    > p {
        margin: 0;
    }
}

.table-content-centered {
    display: inline;
    vertical-align: middle;
}

#user-info-separation {
    margin-bottom: 30px;
}

i.help-button {
    font-size: 1.3em;
    vertical-align: middle;
    color: #C2C2C2;
    text-decoration: none
}

.account-maintenance > .wrapper {
    min-height: initial;
}
