$inca_silver: #767676;
$chrome_silver: #A5A5A5;
$fiesta_red: #DC2F2F;
$teddy_brown: #9B6542;
$clockwork_orange: #FF9400;
$red_wine: #9E1919;
$acid_green: #92C71E;
$army_green: #7F9A42;
$sherwood_green: #28C43A;
$ocean_turquoise: #28C4A0;
$daphne_blue: #0FD8D8;
$lake_placid_blue: #33C0EA;
$deep_blue: #2B6CDC;
$plum_crazy: #890DE1;
$peggy_pink: #E10DCB;
$flamingo_pink: #FF87C4;

$inca_silver_secondary: #EEEEEE;
$chrome_silver_secondary: #FAFAFA;
$fiesta_red_secondary: #FFDFDF;
$teddy_brown_secondary: #F9EBE1;
$clockwork_orange_secondary: #FFF0DC;
$red_wine_secondary: #F7E8E8;
$acid_green_secondary: #ECF4D9;
$army_green_secondary: #E5F2C8;
$sherwood_green_secondary: #E9FFEB;
$ocean_turquoise_secondary: #D3FCF2;
$daphne_blue_secondary: #E3FFFF;
$lake_placid_blue_secondary: #DFF5FF;
$deep_blue_secondary: #DEEAFF;
$plum_crazy_secondary: #F3E2FF;
$peggy_pink_secondary: #FFE9FD;
$flamingo_pink_secondary: #FFF2F8;