.dropdown_panel {
    background: #F7F7F7;
    border: thick solid #ccc;
    z-index: 10000;
    -webkit-box-shadow: 0px 2px 10px #ccc;
    -moz-box-shadow: 0px 2px 10px #ccc;
    box-shadow: 0px 2px 10px #ccc;
}

.dropdown_panel tr td {
    white-space: nowrap;
    padding: 4px;
}

.dropdown_panel tr td ul {
    margin: 0px;
    padding-left: 4px;
    list-style-type: none;
    padding: 4px;
}

.dropdown_panel label {
    display: inline;
}
