.feedback_error, .feedback_warning, .feedback_info, .feedback_debug {
    padding: 12px;
    margin: 12px 0;
    list-style: none;
    border: 1px solid;
    border-radius: 4px;
}

.feedback_error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.feedback_warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.feedback_info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.feedback_debug {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
    font-family: monospace;
    display: none;
}
