.frs_filename_col {
    width: 44%;
}

.frs_size_col {
    width: 8%;
}

.frs_downloads_col {
    width: 8%;
}

.frs_architecture_col {
    width: 8%;
}

.frs_filetype_col {
    width: 8%;
}

.frs_date_col {
    width: 8%;
}

.frs_md5sum_col {
    width: 8%;
}

.frs_user_col {
    width: 8%;
}

td.frs_comment {
    font-size: 0.9em;
    padding-left: 20px;
}

fieldset.package {
    margin-bottom: 20px;
}

fieldset.package legend {
    font-size: larger;
    padding-right: 10px;
}

#frs_form select,
#frs_form input {
    width: auto;
}

.release {
    background-color: #D1CEC4;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-top: 1px;
}

.release_date {
    width: 10%;
    text-align: right;
}

table.release tr td img {
    vertical-align: bottom;
}

.files_table {
    margin-bottom: 20px;
}

#files_body td {
    padding: 5px;
}

#files_body td input[type="file"] {
    margin: 2px 0 0 0;
    line-height: 0;
    padding: 7px 2px;
}

.frs_permissions {
    display: flex;
}

.frs_permissions_read {
    margin: 0 20px 0 0;
}
