#layout-manager {
    border: 1px solid #666;
    padding: 0px 5px;
    background: white;
    margin: 10px;
}

table.layout-manager-row {
    width: 100%;
    text-align: center;
}

td.layout-manager-column {
    border: 1px solid #9b9;
    height: 100px;
    vertical-align: top;
    background: white;
    position: relative;
}

div.layout-manager-row-add,
td.layout-manager-column-add {
    background: #f6f6f6;
    color: #c6c6c6;
    font-size: 0.8em;
    text-align: center;
}

div.layout-manager-row-add {
    margin: 5px 5px;
}

div.layout-manager-row-add_hover,
td.layout-manager-column-add_hover {
    background: #dde;
    cursor: pointer;
    color: black;
}

td.layout-manager-column-add_hover {
    background: #ded;
}

td.layout-manager-column-add {
    vertical-align: middle;
    width: 8px;
}

div.layout-manager-column-remove {
    padding: 0em 0.5em 0.5em 0.5em;
    font-size: 0.8em;
    color: #ccc;
    float: right;
}

div.layout-manager-column-remove_hover {
    color: red;
    cursor: pointer;
}

.layout-manager-column-width {
    padding-top: 2.5em;
}

.layout-manager-chooser {
    vertical-align: top
}

.layout-manager-chooser td {
    padding: 10px 4px;
}

.layout-manager-chooser_selected {
    background: #f0f0f0;
}
