@media only screen and (max-width: 480px) {
    body, table, td, p, a, li, blockquote {
        -webkit-text-size-adjust: none !important
    }
    body {
        width: 100% !important;
        min-width: 100% !important
    }
    td[id=bodyCell] {
        padding: 10px !important
    }
    table.kmMobileHide {
        display: none !important
    }
    table[class=kmTextContentContainer] {
        width: 100% !important
    }
    table[class=kmBoxedTextContentContainer] {
        width: 100% !important
    }
    td[class=kmImageContent] {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
    img[class=kmImage] {
        width: 100% !important
    }
    td.kmMobileStretch {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
    table[class=kmSplitContentLeftContentContainer],
    table[class=kmSplitContentRightContentContainer],
    table[class=kmColumnContainer],
    td[class=kmVerticalButtonBarContentOuter] table[class=kmButtonBarContent],
    td[class=kmVerticalButtonCollectionContentOuter] table[class=kmButtonCollectionContent],
    table[class=kmVerticalButton],
    table[class=kmVerticalButtonContent] {
        width: 100% !important
    }
    td[class=kmButtonCollectionInner] {
        padding-left: 9px !important;
        padding-right: 9px !important;
        padding-top: 9px !important;
        padding-bottom: 0 !important;
        background-color: transparent !important
    }
    td[class=kmVerticalButtonIconContent],
    td[class=kmVerticalButtonTextContent],
    td[class=kmVerticalButtonContentOuter] {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 9px !important
    }
    table[class=kmSplitContentLeftContentContainer] td[class=kmTextContent],
    table[class=kmSplitContentRightContentContainer] td[class=kmTextContent],
    table[class=kmColumnContainer] td[class=kmTextContent],
    table[class=kmSplitContentLeftContentContainer] td[class=kmImageContent],
    table[class=kmSplitContentRightContentContainer] td[class=kmImageContent] {
        padding-top: 9px !important
    }
    td[class="rowContainer kmFloatLeft"],
    td[class="rowContainer kmFloatLeft firstColumn"],
    td[class="rowContainer kmFloatLeft lastColumn"] {
        float: left;
        clear: both;
        width: 100% !important
    }
    table[id=templateContainer],
    table[class=templateRow] {
        max-width: 600px !important;
        width: 100% !important
    }
    h1 {
        font-size: 40px !important;
        line-height: 130% !important
    }
    h2 {
        font-size: 32px !important;
        line-height: 130% !important
    }
    h3 {
        font-size: 24px !important;
        line-height: 130% !important
    }
    h4 {
        font-size: 18px !important;
        line-height: 130% !important
    }
    td[class=kmTextContent] {
        font-size: 14px !important;
        line-height: 130% !important
    }
    td[class=kmTextBlockInner] td[class=kmTextContent] {
        padding-right: 18px !important;
        padding-left: 18px !important
    }
    table[class="kmTableBlock kmTableMobile"] td[class=kmTableBlockInner] {
        padding-left: 9px !important;
        padding-right: 9px !important
    }
    table[class="kmTableBlock kmTableMobile"] td[class=kmTableBlockInner] [class=kmTextContent] {
        font-size: 14px !important;
        line-height: 130% !important;
        padding-left: 4px !important;
        padding-right: 4px !important
    }
}