.one_step_project {
    margin-top: 20px;
}

.container.one_step_project {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.container.one_step_project p {
    margin: 10px 0;
    line-height: 20px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

form.one_step_project {
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

h1.one_step_project {
    font-size: 36px;
}

h2.one_step_project {
    font-size: 31.5px;
}

h5.one_step_project {
    font-size: 14px;
    line-height: 20px;
}

h1.one_step_project, h2.one_step_project, h3.one_step_project {
    line-height: 40px;
}

h1.one_step_project, h2.one_step_project, h3.one_step_project, h4.one_step_project, h5.one_step_project, h6.one_step_project {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    /*margin: 10px 0;*/
    text-rendering: optimizelegibility;
}

.one_step_project_templates {
    width: 100%;
    margin-bottom: 3em;
}

.one_step_project_choose_template {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #dddddd;
    border-top: none;
}

.one_step_project_choose_template:nth-child(odd) {
    background-color: #f9f9f9;
}

.one_step_project_choose_template:first-child {
    border-top: 1px solid #dddddd;
}

.one_step_project_choose_template:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.one_step_project_choose_template:last-child {
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}

.container.one_step_project input,
.container.one_step_project button,
.container.one_step_project select,
.container.one_step_project textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container.one_step_project span.mandatory_field {
    color: red;
}
