.password_strategy {
    margin-left: 1em;
}

.password_validator_ok {
    color: #72B321;
}

.password_validator_ko {
    color: #444444;
}

.password-strategy-bad {
    color: #E42D2D;
    font-weight: bold;
}

.password-strategy-good {
    color: #72B321;
    font-weight: bold;
}
