#project_history_form {

    #history_search_title {
        font-weight: bold;
    }

    #history_search_fields {
        margin: 20px 0;

        .search-fields-row {
            margin: 0 0 20px;
            overflow: auto;

            > span {
                float: left;
                padding-right: 20px;

                > label {
                    font-weight: bold;
                }
            }
        }

        #sub_events_box {
            display: none;
            width: 420px;
            height: 115px;
        }
    }
}

#project_info_form {

    .alert {
        display: inline-block;
        max-width: 960px;
    }

}

#truncated-emails {
    margin: 0 0 35px;

    > p.has-services {
        padding-left: 21px;

        > i.icon-level-up {
            margin-right: 5px;
        }
    }
}

.project-admin-import-user-submit {
    display: block;
    margin-top: 20px;
}