.pc_checkbox, .pc_radiobutton {
    background-position: 3px center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    padding-left: 24px;
}

.pc_focus {
    border: 1px dotted #000;
}
