.project_privacy_private, .project_privacy_public {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 2px 1px;
}

.project_privacy_private {
    background-image: url("#{$tuleap-common-theme-basepath}images/ic/lock.png");
}

.project_privacy_public {
    background-image: url("#{$tuleap-common-theme-basepath}images/ic/lock-unlock.png");
}
