.pc_checkbox, .pc_radiobutton {
    background-position: 3px center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    padding-left: 24px;
}

.pc_check_unchecked {
    background-image: url(../images/ic/check_off.gif);
}

.pc_check_checked {
    background-image: url(../images/ic/check_on.gif);
}

.pc_radio_unchecked {
    background-image: url(../images/ic/radio_off.gif);
}

.pc_radio_checked {
    background-image: url(../images/ic/radio_on.gif);
}

.pc_check_checked_disabled {
    background-image: url(../images/ic/check_off_disabled.gif);
}

.pc_check_unchecked_disabled {
    background-image: url(../images/ic/check_on_disabled.gif);
}

.pc_radio_checked_disabled {
    background-image: url(../images/ic/radio_off_disabled.gif);
}

.pc_radio_unchecked_disabled {
    background-image: url(../images/ic/radio_on_disabled.gif);
}

.pc_focus {
    border: 1px dotted #000;
}
