.rte_toggle {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-image: url("#{$tuleap-common-theme-basepath}images/ic/rte.png");
    float: left;
}

.rte_clear {
    clear: both;
}

#mail_message {
    width: auto;
}

#mail_message_label {
    margin-bottom: 0.5em;
}
