.searchAsYouType {
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);

    ul {
        margin: 0;
        padding: 5px 0;
        list-style: none;

        li {
            font-size: 0.9em;
            padding: 5px 10px;
            cursor: pointer;

            &.selected {
                background: #0081C2;
                color: #FFF;
            }
        }
    }
}
