.svn_commit_details {
    border: 1px solid gray;
    padding: 1em;
}

.svn_commit_details .avatar {
    float: left;
}

.svn_commit_message {
    padding-left: 64px; /* maybe too much if there is no avatar */
}

.svn_commit_author {
    font-weight: bold;
}

textarea.not_resizable {
    &[readonly] {
        cursor: inherit;
    }

    resize: none;
}

#access_file_container {
    display: inline-block;
}

#current_access_file_container {
    display: inline-block;
    margin-right: 10px;
}

#old_access_file_form {
    visibility: hidden;
}

#old_access_file_container {
    display: inline-block;

    > h3 > select {
        position: relative;
        top: 3.5px;
    }

    .empty_version {
        font-style: italic;
        color: #BBBBBB;
        text-align: center;
    }
}

#immutable-tags {
    max-width: 1200px;

    label {
        font-weight: 600;
        color: #555;
    }

    .empty-state {
        word-break: break-word;
    }
}

#immutable-tags-path, #immutable-tags-whitelist {
    width: 100%;
    box-sizing: border-box;
}

.immutable-tags-comment {
    margin-bottom: 25px;
}

.immutable-tags-examples > h4,
.immutable-tags-structure > h4 {
    color: #555;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.immutable-tags-examples {
    > .impacted-svn,
    > #immutable-tags-console {
        > :not(.empty-state) {
            display: inherit;
        }
        > .empty-state {
            display: none;
        }
    }

    &.empty {
        > .impacted-svn,
        > #immutable-tags-console {
            > :not(.empty-state) {
                display: none;
            }
            > .empty-state {
                display: inherit;
            }
        }
    }
}

#immutable-tags-tree {
    height: 300px;
    overflow-y: auto;
    font-family: "Courier";
    font-size: 12px;
    box-shadow: none;
    line-height: 20px;

    .label {
        cursor: pointer;
        font-weight: normal;
        font-size: 12px;
        padding-right: 18px;
        transition: opacity linear 0.07s;
        position: relative;

        &:after {
            content: '\f0a4'; // fa-hand-o-right
            font-family: FontAwesome;
            font-size: 13px;
            position: absolute;
            right: -17px;
            top: 2px;
            color: #222;
            opacity: 0;
            transition: opacity linear 0.07s;
        }

        &.active:after,
        &:hover:after {
            opacity: 0.8;
        }
    }

    .children {
        padding-left: 20px;
    }

    > #loading {
        color: #666;
    }
}

.parent-of-immutable,
.parent-of-whitelist {
    > .children > .tag {

        &:not(.parent-of-whitelist):not(.parent-of-immutable) {
            display: none;

            &.immutable,
            &.whitelist {
                display: block;

                > .children > div {
                    display: none;

                    &:first-child {
                        display: block;

                        > .children {
                            display: none;
                        }
                    }

                    &.parent-of-immutable,
                    &.parent-of-whitelist,
                    &:last-child {
                        display: block;
                    }
                }
            }
        }
    }
}

.tag {

    > .label {

        &:not(.active) {
            background: transparent;
            text-shadow: none;
            color: #333333;

            &.label-success:before {
                content: '\f058'; // fa-check-circle
                color: #468847;
                font-size: 16px;
            }

            &.label-important:before {
                content: '\f057'; // fa-times-circle
                color: #b94a48;
                font-size: 16px;
                right: 2px;
            }
        }
    }

    > .label-important:before,
    > .label-success:before {
        content: '\f00c'; // fa-check
        font-family: FontAwesome;
        font-size: 13px;
        position: absolute;
        right: 2px;
        top: 1px;
    }

    > .label-important:before {
        content: '\f00d'; // fa-remove
        right: 4px;
    }
}

#immutable-tags-console {
    height: 300px;
    overflow-y: auto;
    background: #222;
    box-shadow: none;

    &.whitelist-not-in-immutable {
        .update-command {
            display: none;
        }
    }

    div {
        font-family: "Courier New";
        font-size: 12px;
        color: #CCC;

        &.text-success {
            color: #58B359;
        }

        &.text-danger {
            color: #DA5353;
        }
    }
}

.exceeds_max_number_of_folders {
    opacity: 0.2;
}

.svn-intro-warning {
    margin-bottom: 15px;
}

.svn-intro-command-intro {
    margin-bottom: 15px;
}

.svn-intro-command {
    > pre {
        margin-bottom: 0px;
    }

    > .help-block {
        font-size: 0.9em;
    }

    margin-bottom: 15px;
}
