#s2id_timezone {
    width: 270px;
    height: 40px;

    &.select2-container {
        .select2-choice {
            padding-top: 5px;
            padding-bottom: 5px;

            div b {
                background-position-y: 5px;
            }
        }
    }
    &.select2-dropdown-open .select2-choice div b {
        background-position-y: 5px;
    }
}

body:not(.register-page) #s2id_timezone {
    margin-bottom: 10px;
}