h3.toggler,
h3.toggler-noajax,
h3.toggler-hide,
h3.toggler-hide-noajax {
    padding-bottom: 1em;
    margin-bottom: 0;
}

.toggler-noajax, .toggler-hide-noajax,
.toggler, .toggler-hide {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px;
    cursor: pointer;
}

.toggler,
.toggler-noajax {
    background-image: url("#{$tuleap-common-theme-basepath}images/ic/toggle_minus.png");
}

.toggler-hide,
.toggler-hide-noajax {
    background-image: url("#{$tuleap-common-theme-basepath}images/ic/toggle_plus.png");

    ~ * {
        display: none;
    }
}
