@charset "UTF-8";

.emptyPlaceMarker {
    background: transparent;
    border: 2px dashed #CCC;
    border-radius: 4px;
}

.widget {
    margin-bottom: 20px;
    border: 1px solid #bcbcad;
}

.widget_content {
    clear: both;
    background: #FFF;
    padding: 0.5em;
}

.widget_titlebar {
    background: #E0DDD2 url(../images/widget-header.png) left top repeat-x;
    font-weight: bold;
    text-align: left;

    color: #555;
    height: 18px;
    padding-left: 40px;
    padding-right: 4px;
}

.widget_titlebar_title {
    float: left;
}

.widget_titlebar_close,
.widget_titlebar_rss,
.widget_titlebar_prefs,
.widget_titlebar_minimize,
.widget_titlebar_maximize {
    float: right;
    margin-left: 10px;

    a, button {
        color: lighten(#CCC, 5%);

        &:hover {
            color: #AAA;
            text-decoration: none;
        }
    ;
    }
}

.add-widget-to-dashboard {
    margin: 5px 20px 0;
    color: #747474;
    white-space: nowrap;
}

.widget_my_projects {
    width: 100%;
}

.widget_my_projects_first_public {
    border-top: 1px solid #bcbcad;
}

.widget_my_projects_privacy {
    width: 1%;
}

.widget_my_projects_project_name {
    width: 50%;
    padding-left: 0.5em;
}

.widget_my_projects_actions {
    padding-left: 0.5em;
    text-align: left;
    font-size: smaller;
}

.widget_my_projects_remove {
    min-width: 20px;
    text-align: right;
}

.widget_my_projects_legend {
    border-top: 1px solid #bcbcad;
}

.widget_my_projects_legend_title {
    padding-right: 1em;
}

.widget_my_projects_legend span.project_privacy_private {
    padding-right: 1em;
}

.mass-mail-form-label {
    display: block;
    font-weight: bold;
}

.mass-mail-form {
    width: 500px;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

.delete-project-member {
    width: 20px;
}
