@charset "UTF-8";
.layout_manager_customize {
    margin-bottom: 20px;
}

.emptyPlaceMarker {
    background: transparent;
    border: 2px dashed #CCC;
    border-radius: 4px;
}

.widget {
    margin-bottom: 20px;
    border: 1px solid #bcbcad;
}

.widget_content {
    clear: both;
    background: #FFF;
    padding: 0.5em;
}

.widget_preferences {
    background: #E0DDD2;
    border-bottom: 1px solid #bcbcad;
}

.widget_preferences form {
    margin: 0;
}

.widget_titlebar {
    background: #E0DDD2 url(../images/widget-header.png) left top repeat-x;
    font-weight: bold;
    text-align: left;

    color: #555;
    height: 18px;
    padding-left: 40px;
    padding-right: 4px;
}

.widget_titlebar_handle {
    cursor: move;
}

.widget_titlebar_title {
    float: left;
}

.widget_titlebar_close,
.widget_titlebar_rss,
.widget_titlebar_prefs,
.widget_titlebar_minimize,
.widget_titlebar_maximize {
    float: right;
    margin-left: 10px;

    a, button {
        color: lighten(#CCC, 5%);

        &:hover {
            color: #AAA;
            text-decoration: none;
        }
    ;
    }
}

.widget_toolbar {
    list-style-type: none;
    margin-left: 0;
    padding-bottom: 6px;
    padding-left: 1em;
    border-bottom: 1px solid gray;
}

.widget_toolbar li a:link,
.widget_toolbar li a:visited,
.widget_toolbar li a:active {
    text-decoration: none;
}

.widget_toolbar li {
    display: inline;
    padding-left: 1em;
}

.widget_toolbar li a:hover {
    padding-bottom: 2px;
    border-bottom: 4px solid gray;
    color: gray;
}

.widget_toolbar li.current a {
    padding-bottom: 2px;
    border-bottom: 4px solid #333;
    color: #333;
}

#widget-content-categ {
    padding: 10px;
}

.add-widget-to-dashboard {
    margin: 5px 20px 0;
    color: #747474;
    white-space: nowrap;
}

#widget-categories {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;
}

#widget-categories li.selected {
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#widget-categories li.selected a:after {
    content: ' »';
}

#widget-categories li a span {
    padding-right: 1em;
}

.widget-preview {
    background: transparent url('../images/widget-preview.png') top left no-repeat;
    padding-left: 138px;
    width: 550px;
    min-height: 128px;
}

.widget-preview-bookmarks {
    background-image: url('../images/widget-preview-favorites.png');
}

.widget-preview-mymonitoredfp-fr_FR {
    background-image: url('../images/widget-preview-monitored_files-fr_FR.png');
}

.widget-preview-mymonitoredfp-en_US {
    background-image: url('../images/widget-preview-monitored_files-en_US.png');
}

.widget-preview-mymonitoredforums-fr_FR {
    background-image: url('../images/widget-preview-monitored_forums-fr_FR.png');
}

.widget-preview-mymonitoredforums-en_US {
    background-image: url('../images/widget-preview-monitored_forums-en_US.png');
}

.widget-preview-myartifacts-fr_FR,
.widget-preview-myartifacts-en_US {
    background-image: url('../images/widget-preview-my_artifacts.png');
}

.widget-preview-myprojects-fr_FR {
    background-image: url('../images/widget-preview-my_projects-fr_FR.png');
}

.widget-preview-myprojects-en_US {
    background-image: url('../images/widget-preview-my_projects-en_US.png');
}

.widget-preview-mybookmarks-fr_FR {
    background-image: url('../images/widget-preview-my_bookmarks-fr_FR.png');
}

.widget-preview-mybookmarks-en_US {
    background-image: url('../images/widget-preview-my_bookmarks-en_US.png');
}

.widget-preview-myadmin-fr_FR {
    background-image: url('../images/widget-preview-my_admin-fr_FR.png');
}

.widget-preview-myadmin-en_US {
    background-image: url('../images/widget-preview-my_admin-en_US.png');
}

.widget-preview-mylatestsvncommits-fr_FR {
    background-image: url('../images/widget-preview-my_latest_svn_commits-fr_FR.png');
}

.widget-preview-mylatestsvncommits-en_US {
    background-image: url('../images/widget-preview-my_latest_svn_commits-en_US.png');
}

.widget-preview-projectlatestfilereleases-fr_FR {
    background-image: url('../images/widget-preview-latest_file_releases-fr_FR.png');
}

.widget-preview-projectlatestfilereleases-en_US {
    background-image: url('../images/widget-preview-latest_file_releases-en_US.png');
}

.widget-preview-projectlatestsvncommits-fr_FR {
    background-image: url('../images/widget-preview-project_latest_svn_commits-fr_FR.png');
}

.widget-preview-projectlatestsvncommits-en_US {
    background-image: url('../images/widget-preview-project_latest_svn_commits-en_US.png');
}

.widget-preview-projectlatestnews-fr_FR {
    background-image: url('../images/widget-preview-project_latest_news-fr_FR.png');
}

.widget-preview-projectlatestnews-en_US {
    background-image: url('../images/widget-preview-project_latest_news-en_US.png');
}

.widget-preview-projectpublicareas-fr_FR {
    background-image: url('../images/widget-preview-project_public_areas-fr_FR.png');
}

.widget-preview-projectpublicareas-en_US {
    background-image: url('../images/widget-preview-project_public_areas-en_US.png');
}

.widget-preview-projectdescription-fr_FR {
    background-image: url('../images/widget-preview-project_description-fr_FR.png');
}

.widget-preview-projectdescription-en_US {
    background-image: url('../images/widget-preview-project_description-en_US.png');
}

.widget-preview-projectclassification-fr_FR {
    background-image: url('../images/widget-preview-project_classification-fr_FR.png');
}

.widget-preview-projectclassification-en_US {
    background-image: url('../images/widget-preview-project_classification-en_US.png');
}

.widget-preview-projectmembers-fr_FR {
    background-image: url('../images/widget-preview-project_members-fr_FR.png');
}

.widget-preview-projectmembers-en_US {
    background-image: url('../images/widget-preview-project_members-en_US.png');
}

.widget-preview-mysystemevent-fr_FR {
    background-image: url('../images/widget-preview-mysystemevent-fr_FR.png');
}

.widget-preview-mysystemevent-en_US {
    background-image: url('../images/widget-preview-mysystemevent-en_US.png');
}

.widget-preview-myimageviewer-en_US,
.widget-preview-projectimageviewer-en_US,
.widget-preview-myimageviewer-fr_FR,
.widget-preview-projectimageviewer-fr_FR {
    background-image: url('../images/widget-preview-imageviewer.png');
}

.widget-preview-myrss-en_US,
.widget-preview-projectrss-en_US,
.widget-preview-myrss-fr_FR,
.widget-preview-projectrss-fr_FR {
    background-image: url('../images/widget-preview-rss.png');
}

.widget-preview-projectsvnstats-en_US,
.widget-preview-projectsvnstats-fr_FR {
    background-image: url('../images/widget-preview-project_svn-stats.png');
}

.widget_my_projects {
    width: 100%;
}

.widget_my_projects_first_public {
    border-top: 1px solid #bcbcad;
}

.widget_my_projects_privacy {
    width: 1%;
}

.widget_my_projects_project_name {
    width: 50%;
    padding-left: 0.5em;
}

.widget_my_projects_actions {
    padding-left: 0.5em;
    text-align: left;
    font-size: smaller;
}

.widget_my_projects_remove {
    min-width: 20px;
    text-align: right;
}

.widget_my_projects_legend {
    border-top: 1px solid #bcbcad;
}

.widget_my_projects_legend_title {
    padding-right: 1em;
}

.widget_my_projects_legend span.project_privacy_private {
    padding-right: 1em;
}

.mass-mail-form-label {
    display: block;
    font-weight: bold;
}

.mass-mail-form {
    width: 500px;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

.delete-project-member {
    width: 20px;
}
