body.account-maintenance .content {
    padding: 0px;
}

h3.account-title {
    font-size: 1.2em;
}

#account-maintenance {
    padding-left: 25px;

    > div {
        margin-bottom: 35px;
    }
}

.user-personnal-info {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding-top: 16px;
}

.user-real-name {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 10px 0 0;
    vertical-align: inherit;
}

.user-username {
    font-size: 1.5em;
    font-weight: bold;
    color: grey;
    display: block;
    margin-top: 15px;
}

#account-shell {
    > div {
        margin-bottom: 10px;
    }
}

#user-ssh-keys-action {
    > a {
        margin-right: 15px;
    }
}

.user-info-label {
    color: grey;
}

.table-label {
    text-align: right;
    padding-right: 10px;
}

#user-avatar {
    margin-right: 40px;
    padding-top: 19px;
}

.first-user-info {
    padding-top: 15px;
}

.user-info-table {
    margin-top : 30px;
}

#account-preferences {
    background-color: #F6F6F6;
    padding-left: 25px;

    border-left: solid 1px #EBEBEB;

    > h2 {
        padding-top: 15px;
    }

    > form {
        > hr {
            margin-right: 25px;
            border-color: #EBEBEB;
        }
    }

}