/* {{{ Avatars */
div.avatar {
    background: white url(/themes/common/images/avatar_default.png) 0px 0px no-repeat;
    background-size: cover;
    width:52px;
    height:52px;
    border:1px solid #ccc;
}
div.avatar > img {
    margin: 1px;
}
/* }}} */