/* {{{ Cross References */
ul.cross_reference_list {
    list-style-type: none;
    padding-left: 0;
}

ul.cross_reference_list li {
    line-height: 30px;
}

td.forum_reference_separator {
    border-top: thin dotted grey;
    padding-top: 10px;
}

.delete_ref {
    padding-left: 4px;
}

.delete_ref img {
    vertical-align:middle;
}
/* }}} */