/* {{{ Lab feature */
.lab_features {
    background:   no-repeat url('../images/ic/flask.png') 4px 2px;
    padding-left: 20px;
}

#account_preferences_lab_features ul {
    margin-left:0;
    padding-left:0;
    list-style-type:none;
}

#account_preferences_lab_features tr {
    vertical-align: top;
}
.account_preferences_lab_feature_title {
    font-weight: bold;
    margin-top: 0;
}
#account_preferences_lab_features td img {
    -moz-box-shadow: 0 0 8px 0px #888;
    -webkit-box-shadow: 0 0  8px 0px #888;
    box-shadow: 0 0  8px 0px #888;
    margin-right: 1em;
    margin-bottom: 1em;
}
/* }}} */