/* {{{ Password validator */
.password_strategy {
    margin-left: 1em;
}
.password_validator_ok,
.password_validator_ko {
    background:transparent url(../images/ic/tick.png) left top no-repeat;
    padding-left:20px;
}
.password_validator_ko {
    background-image:url(../images/ic/cross.png);
}
.password_strategy_bad {
    color:red;
    font-weight:bold;
}
.password_strategy_good {
    color:green;
    font-weight:bold;
}
/* }}} */