#register-form {
    position: relative;
    width: 445px;
    margin: 70px auto;
    border-radius: 4px;
    background: #FFF;
    border: 1px solid #ECECEC;

    .popover {
        font-size: 0.9em;
    }

    h2 {
        border-bottom: 1px dashed #E8E8E8;
        padding: 22px;
        text-align: center;
    }

    form {
        padding: 30px 40px 50px;

        .placeholder {
            color: #AAA;
        }

        .fields {
            margin: 0 auto 30px;
            width: 270px;
        }

        label {
            margin: 0 0 15px 0;

            .label-help {
                font-size: 0.8em;
                color: #AAA;
                display: block;
                font-style: italic;
                line-height: 1.4em;
                margin-top: 5px;
            }
        }

        input[type="text"], input[type="email"], input[type="password"] {
            height: 30px;
            width: 256px;
            margin: 0 auto 10px;
        }

        input[type="email"] {
            margin-bottom: 4px;
        }

        .input-prepend {
            input[type="text"] {
                width: 219px;
            }

            .add-on {
                padding: 9px 10px;
            }
        }

        textarea {
            width: 256px;
            margin: 0 auto 10px;
        }

        select {
            height: 40px;
            padding: 8px 5px;
            width: 270px;
            margin: 0 auto 10px;
            display: block;
        }

        input[type="submit"] {
            height: 55px;
            width: 270px;
            margin: 40px auto 0;
            display: block;
            font-size: 1.2em;
        }

        .mandatory {
            color: #E69494;
            text-align: center;
            font-size: 0.8em;
        }

        .legal {
            margin: 30px 0 0 0;
            color: #AAA;
            text-align: center;
            font-size: 0.8em;
        }
    }
}

#register-email-suggestion {
    color: #aaaaaa;
    text-align: right;
    font-size: 0.9em;

    > a.suggested-email {
        cursor: pointer;
    }
}

.robustness > .password_strategy_good {
    display: none;
}
