@accordion-width: 200px;

body.search-page .content {
    padding: 0px;
}

body.search-page {
    .navbar-search, .header_searchbox {
        display: none;
    }
}

.search-bar {
    padding: 18px 20px 16px @accordion-width + 15 + 30 + 15;

    form {
        margin: 0;

        .input-append {
            margin: 0;

            input {
                font-size: 16px;
            }

            .btn {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
}

#search-accordion {
    float: left;
    margin: 0 30px 50px 0;
    min-width: 200px;
    height: 100%;
    padding: 15px;

    .accordion-group {
        border: 1px solid #e9e9e9;
        background-color: #FFFFFF;

        .accordion-toggle {
            color: #222;

            &:hover { color: #333; text-decoration: none; }
        }

        .accordion-inner {
            border-top: 2px solid #333;
        }
    }
}

.search-results {
    float: left;
    padding: 15px 0;
    min-width: 32px;
    min-height: 32px;

    &.loading {
        background: url('../images/tuleap-spinner.gif') no-repeat center center;
    }
}