/* {{{ searchAsYouType */
.searchAsYouType {
    background:white;
}
.searchAsYouType ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
.searchAsYouType ul li.selected {
    background:#eef;
}
/* }}}*/