.svn_commit_details {
    border: 1px solid gray;
    padding: 1em;
}
.svn_commit_details .avatar {
    float: left;
}
.svn_commit_message {
    padding-left: 64px; /* maybe too much if there is no avatar */
}
.svn_commit_author {
    font-weight: bold;
}

textarea.not_resizable {
    &[readonly] {
        cursor: inherit;
    }

    resize: none;
}

#access_file_container {
    display: inline-block;
}

#current_access_file_container {
    display: inline-block;
    margin-right: 10px;
}

#old_access_file_form {
    visibility: hidden;
}

#old_access_file_container {
    display: inline-block;

    > h3 > select {
        position: relative;
        top: 3.5px;
    }

    .empty_version {
        font-style: italic;
        color: #BBBBBB;
        text-align: center;
    }
}

.immutable-tags-comment {
    margin-bottom: 15px;
}

.immutable-tags-option {
    > div > div {

        > textarea {
            width: 100%;
        }

        > label {
            font-weight: 600;
            color: #555;
        }
    }
}