/* {{{ svn */
.svn_commit_details {
    border: 1px solid gray;
    padding: 1em;
}
.svn_commit_details .avatar {
    float: left;
}
.svn_commit_message {
    padding-left: 64px; /* maybe too much if there is no avatar */
}
.svn_commit_author {
    font-weight: bold;
}
/* }}} */