/* {{{ System Events */
.table td.system_event_status_NEW    ,
.table td.system_event_status_RUNNING,
.table td.system_event_status_DONE   ,
.table td.system_event_status_WARNING,
.table td.system_event_status_ERROR
{
    font-weight:bold;
    color:white;
    text-align:center;
}
td.system_event_status_NEW     { background-color: gray !important; }
td.system_event_status_RUNNING { background-color: blue !important; }
td.system_event_status_DONE    { background-color: green !important; }
td.system_event_status_WARNING { background-color: orange !important; }
td.system_event_status_ERROR   { background-color: red !important; }

/* }}} */