<p>
    {{# dgettext }}
        tuleap-pullrequest |
        <a href="%s">%s</a> commented on <a href="%s">#%s</a>: %s in %s: |
        {{ change_user_profile_url }} |
        {{ change_user_display_name }} |
        {{ pull_request_url }} |
        {{ pull_request_id }} |
        {{ pull_request_title }} |
        {{ file_path }}
    {{/ dgettext }}
</p>
<pre style="color:#555"><code>{{ code_context }}</code></pre>
<p>
    {{{ purified_and_formatted_inline_comment }}}
</p>
