<option value="" class="dashboard-widget-content-cross-tracker-please-choose-option">{{ please_choose_label }}</option>
{{# trackers.length }}
    {{# trackers }}
        <option value="{{ id }}" {{# disabled }}disabled="disabled"{{/ disabled }}>{{ label }}</option>
    {{/ trackers }}
{{/ trackers.length }}
