<div class="crossref-tooltip-header-prefix-icon
    {{# is_empty }}
        crossref-tooltip-header-prefix-circle-firemist-silver
    {{/ is_empty }}
    {{# is_link }}
        crossref-tooltip-header-prefix-circle-flamingo-pink
    {{/ is_link }}
    {{# is_audio }}
        crossref-tooltip-header-prefix-circle-lake-placid-blue
    {{/ is_audio }}
    {{# is_video }}
        crossref-tooltip-header-prefix-circle-ocean-turquoise
    {{/ is_video }}
    {{# is_image }}
        crossref-tooltip-header-prefix-circle-graffiti-yellow
    {{/ is_image }}
    {{# is_text }}
        crossref-tooltip-header-prefix-circle-inca-silver
    {{/ is_text }}
    {{# is_code }}
        crossref-tooltip-header-prefix-circle-daphne-blue
    {{/ is_code }}
    {{# is_archive }}
        crossref-tooltip-header-prefix-circle-plum-crazy
    {{/ is_archive }}
    {{# is_pdf }}
        crossref-tooltip-header-prefix-circle-fiesta-red
    {{/ is_pdf }}
    {{# is_document }}
        crossref-tooltip-header-prefix-circle-deep-blue
    {{/ is_document }}
    {{# is_presentation }}
        crossref-tooltip-header-prefix-circle-clockwork-orange
    {{/ is_presentation }}
    {{# is_spreadsheet }}
        crossref-tooltip-header-prefix-circle-sherwood-green
    {{/ is_spreadsheet }}
    {{# is_folder }}
        crossref-tooltip-header-prefix-circle-inca-silver
    {{/ is_folder }}
">
    {{# is_empty }}
        <i class="far fa-file"></i>
    {{/ is_empty }}
    {{# is_link }}
        <i class="fa fa-link"></i>
    {{/ is_link }}
    {{# is_audio }}
        <i class="far fa-file-audio"></i>
    {{/ is_audio }}
    {{# is_video }}
        <i class="far fa-file-video"></i>
    {{/ is_video }}
    {{# is_image }}
        <i class="far fa-file-image"></i>
    {{/ is_image }}
    {{# is_text }}
        <i class="far fa-file-alt"></i>
    {{/ is_text }}
    {{# is_code }}
        <i class="far fa-file-code"></i>
    {{/ is_code }}
    {{# is_archive }}
        <i class="far fa-file-archive"></i>
    {{/ is_archive }}
    {{# is_pdf }}
        <i class="far fa-file-pdf"></i>
    {{/ is_pdf }}
    {{# is_document }}
        <i class="far fa-file-word"></i>
    {{/ is_document }}
    {{# is_presentation }}
        <i class="far fa-file-powerpoint"></i>
    {{/ is_presentation }}
    {{# is_spreadsheet }}
        <i class="far fa-file-excel"></i>
    {{/ is_spreadsheet }}
    {{# is_folder }}
        <i class="fa fa-folder"></i>
    {{/ is_folder }}
</div>
<div>{{ title }}</div>
