{{# icon }}
    <div class="crossref-tooltip-header-prefix-icon crossref-tooltip-header-prefix-circle-{{ getColor }}">
        <i class="{{ getIcon }}" aria-hidden="true"></i>
    </div>
{{/ icon }}
<div>{{ title }}</div>
