{{# icon }}
    <div class="crossref-tooltip-header-prefix-icon crossref-tooltip-header-prefix-circle-{{ color }}">
        <i class="{{ icon }}" aria-hidden="true"></i>
    </div>
{{/ icon }}
<div>{{ title }}</div>
