<form id="modal-add-bot" class="tlp-modal" role="dialog" aria-labelledby="modal-big-content-label" method="POST"
      action="{{ create_bot_url }}">
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    {{# project_id }}
        <input type="hidden" name="project_id" value="{{ project_id }}">
    {{/ project_id }}
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="modal-big-content-label">
            {{# dgettext }} tuleap-botmattermost | Add bot {{/ dgettext }}
        </h1>
        <button class="tlp-modal-close" type="button" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>
    <div class="tlp-modal-body">
        <div class="tlp-form-element">
            <label class="tlp-label" for="bot-mattermost-name">
                {{# dgettext }} tuleap-botmattermost | Bot name {{/ dgettext }} <i class="fa fa-asterisk"></i>
            </label>
            <input id="bot-mattermost-name" data-test="bot-mattermost-name" type="text" class="tlp-input" name="bot_name"
                   placeholder="{{# dgettext }} tuleap-botmattermost | Bot name... {{/ dgettext }}" required>
        </div>
        <div class="tlp-form-element">
            <label class="tlp-label" for="bot-mattermost-webhook-url">
                {{# dgettext }} tuleap-botmattermost | Webhook URL {{/ dgettext }} <i class="fa fa-asterisk"></i>
            </label>
            <input id="bot-mattermost-webhook-url" data-test="bot-mattermost-webhook-url" type="url" class="tlp-input" name="webhook_url"
                   placeholder="{{# dgettext }} tuleap-botmattermost | https://... {{/ dgettext }}" required pattern="https?://.+">
        </div>
        <div class="tlp-form-element">
            <label class="tlp-label" for="bot-mattermost-avatar-url">
                {{# dgettext }} tuleap-botmattermost | Avatar URL {{/ dgettext }}
            </label>
            <input id="bot-mattermost-avatar-url" type="url" class="tlp-input" name="avatar_url"
                   placeholder="{{# dgettext }} tuleap-botmattermost | https://... {{/ dgettext }}" pattern="https?://.+">
        </div>
    </div>
    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{# dgettext }} tuleap-botmattermost | Cancel {{/ dgettext }}
        </button>
        <button type="submit" data-test="add-bot-button" class="tlp-button-primary tlp-modal-action">
            <i class="fa fa-plus tlp-button-icon"></i> {{# dgettext }} tuleap-botmattermost | Add bot {{/ dgettext }}
        </button>
    </div>
</form>
