<div id="modal-delete-bot-{{ bot_id }}" class="tlp-modal tlp-modal-danger" role="dialog"
     aria-labelledby="modal-simple-content-label-{{ bot_id }}">
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="modal-simple-content-label-{{ bot_id }}">
            {{# dgettext }} tuleap-botmattermost | Delete bot {{/ dgettext }}
        </h1>
        <button class="tlp-modal-close" type="button" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>
    <div class="tlp-modal-body">
        <p>{{# dgettext }} tuleap-botmattermost | You are about to remove a bot. Please confirm your action. {{/ dgettext }}</p>
    </div>
    <div class="tlp-modal-footer">
        <form method="POST" action="{{ delete_bot_url }}">
            {{# csrf_token }}
                {{> csrf_token_input }}
            {{/ csrf_token }}
            <input type="hidden" name="bot_id" value="{{ bot_id }}">
            <button type="button" class="tlp-button-danger tlp-button-outline tlp-modal-action" data-dismiss="modal">
                {{# dgettext }} tuleap-botmattermost | Cancel {{/ dgettext }}
            </button>
            <button type="submit" class="tlp-button-danger tlp-button-action tlp-modal-action" data-test="confirm-bot-delete">
                <i class="fa fa-trash-o tlp-button-icon"></i> {{# dgettext }} tuleap-botmattermost | Delete {{/ dgettext }}
            </button>
        </form>
    </div>
</div>
