<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="SHORTCUT ICON" href="{{ imgroot }}favicon.ico">
        <link rel="stylesheet" type="text/css" href="/themes/common/tlp/dist/tlp-blue.min.css" />
    </head>
    <body>