<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ imgroot }}favicon.ico">

        {{# stylesheets }}
            <link rel="stylesheet" type="text/css" href="{{ . }}">
        {{/ stylesheets }}
    </head>
    <body>
        {{> navbar }}
