{{# navbar_presenter }}
<header>
    <div class="header-container">
        <a href="/" id="logo"></a>

        {{> navbar-global-nav }}
    </div>

    <div class="header-container">
        {{> navbar-search }}

        {{> navbar-user-nav }}
    </div>
</header>
{{/ navbar_presenter }}
