<div class="nav-dropdown-content-items-lists">
    {{# items }}
        <div class="nav-dropdown-content-item">
            <a href="{{ link }}" class="nav-dropdown-content-item-name">
                {{ label }}
            </a>
        </div>
    {{/ items }}
</div>
