<div class="nav-dropdown-content-projects-adaptable">
    <div class="nav-dropdown-content-projects-filter">
        <input id="nav-dropdown-content-projects-filter-projects"
            type="search"
            class="tlp-search tlp-search-small"
            placeholder="{{ filter }}">
        <a href="/softwaremap/trove_list.php" class="tlp-button-primary tlp-button-outline tlp-button-small">
            <i class="fa fa-list tlp-button-icon"></i> {{ browse_all }}
        </a>
    </div>
    <div class="nav-dropdown-content-projects-lists">
        {{# has_projects_user_admins }}
            <div class="nav-dropdown-content-projects-list-title">
                {{ projects_user_admins_title }}
            </div>
            <div class="nav-dropdown-content-projects-list">
                {{# projects_user_admins }}
                    <div class="nav-dropdown-content-projects-list-project">
                        <a href="{{ project_uri }}" class="nav-dropdown-content-projects-list-project-name">
                            {{# is_private }}
                                <i class="fa fa-lock nav-dropdown-content-projects-list-project-name-access"></i>
                            {{/ is_private }}
                            {{^ is_private }}
                                <i class="fa fa-unlock nav-dropdown-content-projects-list-project-name-access"></i>
                            {{/ is_private }}
                            {{ project_name }}
                        </a>
                        <a href="{{ project_config_uri }}" class="nav-dropdown-content-projects-list-project-config"><i class="fa fa-cog"></i></a>
                    </div>
                {{/ projects_user_admins }}
            </div>
        {{/ has_projects_user_admins }}
        {{# has_projects_user_belongs }}
            <div class="nav-dropdown-content-projects-list-title">
                {{ projects_user_belongs_title }}
            </div>
            <div class="nav-dropdown-content-projects-list">
                {{# projects_user_belongs }}
                    <div class="nav-dropdown-content-projects-list-project">
                        <a href="{{ project_uri }}" class="nav-dropdown-content-projects-list-project-name">
                            {{# is_private }}
                                <i class="fa fa-lock nav-dropdown-content-projects-list-project-name-access"></i>
                            {{/ is_private }}
                            {{^ is_private }}
                                <i class="fa fa-unlock nav-dropdown-content-projects-list-project-name-access"></i>
                            {{/ is_private }}
                            {{ project_name }}
                        </a>
                    </div>
                {{/ projects_user_belongs }}
            </div>
        {{/ has_projects_user_belongs }}
    </div>
    <div class="nav-dropdown-content-projects-new">
        <a href="/project/register.php" class="tlp-button-primary">
            <i class="fa fa-plus tlp-button-icon"></i> {{ add_project }}
        </a>
    </div>
</div>
