{{# navbar_presenter }}
<header>
    <div class="header-container">
        <a href="/" id="logo"></a>

        {{> navbar-global-nav }}
    </div>

    {{# display_search_and_user_nav }}
        <div class="header-container">
            {{> navbar-search }}

            {{> navbar-user-nav }}
        </div>
    {{/ display_search_and_user_nav }}
</header>
{{/ navbar_presenter }}
