<section class="tlp-pane {{ getAdditionalClass }}">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title"><i class="tlp-pane-title-icon fa {{ getIcon }}"></i> {{ getTitle }}</h1>
        </div>
        {{{ getContent }}}
    </div>
</section>
