<section class="tlp-pane">
    <div class="tlp-pane-header">
        <h1 class="tlp-pane-title">{{ getTitle }}</h1>
    </div>
    <section class="tlp-pane-section ">
        {{{ getContent }}}
    </section>
</section>
