<div class="project-sidebar-header">
    <div class="project-sidebar-header-name">
        <div class="project-title-container">
            <a href="{{ project_link }}" id="sidebar-dashboard" class="project-sidebar-title">
                    <span class="project-sidebar-title-icon" aria-hidden="true">{{ project_icon }}</span>
                {{ project_name }}
            </a>
            <span class="project-title-spacer"></span>
            {{# has_administration_link }}
                <a href="{{ administration_link }}" class="project-administration-link"
                   data-test="project-administration-link">
                    <i class="fas fa-cog project-administration-link-icon"
                       title="{{# gettext }}Project administration{{/ gettext }}"></i>
                </a>
            {{/ has_administration_link }}
        </div>
        {{# privacy }}
            {{> sidebar/project-privacy }}
        {{/ privacy }}
    </div>
    {{# has_project_banner }}
        <button type="button" aria-labelledby="current-project-banner-message"
                class="project-sidebar-banner-button"
                id="current-project-banner-bullhorn"
                title="{{# gettext }}Show project announcement{{/ gettext }}"
        >
                    <span class="project-sidebar-banner-button-icon">
                        <i class="fas fa-bullhorn" aria-hidden="true"></i>
                    </span>
            <span class="project-sidebar-banner-button-label">
                {{# gettext }}Project announcement{{/ gettext }}
            </span>
        </button>
    {{/ has_project_banner }}
    {{# has_project_flags }}
        <div class="project-sidebar-project-flags"
             id="project-sidebar-project-flags"
             data-title="{{# ngettext }}Project flag | Project flags | {{ nb_project_flags }}{{/ngettext}}"
             data-project-flags="{{ json_encoded_project_flags }}"
        >
            <div class="project-sidebar-project-flags-icon">
                {{# glyph }}project-shield{{/ glyph }}
            </div>
            <span class="project-sidebar-project-flags-labels">
                {{# project_flags }}
                    <span class="project-sidebar-project-flags-label">{{ label }}</span>
                {{/ project_flags }}
            </span>
        </div>
        <section class="tlp-popover project-sidebar-project-flags-popover" id="project-sidebar-project-flags-popover">
            <div class="tlp-popover-arrow"></div>
            <div class="tlp-popover-body">
                {{# project_flags }}
                    <div class="current-project-nav-flag-popover-flag">
                        {{# glyph }}project-shield{{/ glyph }}
                        <h2 class="current-project-nav-flag-popover-content-title">
                            {{ label }}
                        </h2>
                        {{# description }}
                            <p class="current-project-nav-flag-popover-content-description">
                                {{ description }}
                            </p>
                        {{/ description }}
                    </div>
                {{/ project_flags }}
            </div>
        </section>
    {{/ has_project_flags }}
    {{# linked_projects }}
        <div class="project-sidebar-linked-projects" id="project-sidebar-linked-projects">
                    <span class="project-sidebar-linked-projects-title">
                        {{# is_in_children_projects_context }}
                            <span class="project-sidebar-linked-projects-icon">
                                <i class="fas fa-fw fa-tlp-project-boxes" aria-hidden="true"></i>
                            </span>
                        {{/ is_in_children_projects_context }}
                        {{^ is_in_children_projects_context }}
                            <span class="project-sidebar-linked-projects-icon">
                                <i class="fas fa-fw fa-level-up-alt fa-flip-horizontal project-sidebar-linked-projects-icon-parent" aria-hidden="true"></i>
                            </span>
                        {{/ is_in_children_projects_context }}
                        <span class="project-sidebar-linked-projects-label">
                            {{ label }}
                        </span>
                    </span>
            <ul class="project-sidebar-linked-projects-list" data-test="nav-bar-linked-projects">
                {{# projects }}
                    <li class="project-sidebar-linked-projects-item">
                        <a href="{{ href }}" class="project-sidebar-linked-projects-item-link">
                            {{# icon }}
                                <span class="project-sidebar-linked-projects-item-icon" aria-hidden="true">{{ icon }}</span>
                            {{/ icon }}
                            {{^ icon }}
                                <i class="project-sidebar-linked-projects-item-icon fas fa-archive"
                                aria-hidden="true"
                                ></i>
                            {{/ icon }}
                            <span class="project-sidebar-linked-projects-item-name">
                                {{ name }}
                            </span>
                        </a>
                    </li>
                {{/ projects }}
            </ul>
        </div>
        <section class="tlp-popover project-sidebar-linked-projects-popover" id="project-sidebar-linked-projects-popover">
            <div class="tlp-popover-arrow"></div>
            <div class="tlp-popover-header">
                {{# is_in_children_projects_context }}<i class="fas fa-fw fa-tlp-project-boxes" aria-hidden="true"></i>{{/ is_in_children_projects_context }}
                {{^ is_in_children_projects_context }}<i class="fas fa-fw fa-level-up-alt fa-flip-horizontal project-sidebar-linked-projects-icon-parent" aria-hidden="true"></i>{{/ is_in_children_projects_context }}
                <h1 class="tlp-popover-title">
                    {{ label }}
                </h1>
            </div>
            <div class="tlp-popover-body">
                <ul class="project-sidebar-linked-projects-list-popover">
                    {{# projects }}
                        <li class="project-sidebar-linked-projects-item">
                            <div class="project-sidebar-linked-projects-item-link">
                                {{# icon }}
                                    <span class="project-sidebar-linked-projects-item-icon" aria-hidden="true">{{ icon }}</span>
                                {{/ icon }}
                                {{^ icon }}
                                    <i class="project-sidebar-linked-projects-item-icon fas fa-archive"
                                    aria-hidden="true"
                                    ></i>
                                {{/ icon }}
                                {{ name }}
                            </div>
                        </li>
                    {{/ projects }}
                </ul>
            </div>
        </section>
    {{/ linked_projects }}
</div>
