<div class="tlp-framed-vertically"
     id="document-tree-view"
     data-project-id="{{ project_id }}"
     data-project-name="{{ project_name }}"
     data-user-is-admin="{{ user_is_admin }}"
>
</div>