<div class="tlp-framed-vertically"
     id="document-tree-view"
     data-project-id="{{ project_id }}"
     data-project-name="{{ project_name }}"
     data-user-is-admin="{{ user_is_admin }}"
     data-user-can-create-wiki="{{ user_can_create_wiki }}"
     data-max-files-dragndrop="10"
     data-max-size-upload="{{ max_size_upload }}"
>
</div>
