<div id="document-tree-view"
     data-project-id="{{ project_id }}"
     data-root-id="{{ root_id }}"
     data-project-name="{{ project_name }}"
     data-project-public-name="{{ project_public_name }}"
     data-project-url="{{ project_url }}"
     data-user-is-admin="{{ user_is_admin }}"
     data-user-can-create-wiki="{{ user_can_create_wiki }}"
     data-user-can-delete-item="{{ user_can_delete_item }}"
     data-max-files-dragndrop="{{ max_files_dragndrop }}"
     data-max-size-upload="{{ max_size_upload }}"
     data-embedded-are-allowed="{{ embedded_are_allowed }}"
     data-is-item-status-property-used="{{ is_item_status_metadata_used }}"
     data-is-obsolescence-date-property-used="{{ is_obsolescence_date_metadata_used }}"
     data-forbid-writers-to-update="{{ forbid_writers_to_update }}"
     data-forbid-writers-to-delete="{{ forbid_writers_to_delete }}"
     data-csrf-token-name="{{ csrf_token_name }}"
     data-csrf-token="{{ csrf_token }}"
     data-warning-threshold="{{ warning_threshold }}"
     data-max-archive-size="{{ max_archive_size }}"
     data-is-changelog-displayed-after-dnd="{{ is_changelog_displayed_after_dnd }}"
     data-relative-dates-display="{{ relative_dates_display }}"
     data-privacy="{{ privacy }}"
     data-project-flags="{{ project_flags }}"
     data-project-icon="{{ project_icon }}"
     data-criteria="{{ criteria }}"
     data-columns="{{ columns }}"
     data-filename-pattern="{{ filename_pattern }}"
     data-is-filename-pattern-enforced="{{ is_filename_pattern_enforced }}"
     data-can-user-switch-to-old-ui="{{ can_user_switch_to_old_ui }}"
     data-should-display-history-in-document="{{ should_display_history_in_document }}"
     data-should-display-source-column="{{ should_display_source_column }}"
     data-create-new-item-alternatives="{{ create_new_item_alternatives }}"
>
</div>
