<li id="staticvalue_{{ id }}"
    class="tracker-admin-one-list-field"
    data-value_id="{{ id }}">
    {{^ is_custom_value }}
        {{# is_none_value }}
            <span class="tracker-admin-none-spacing"></span>
        {{/ is_none_value }}
        {{^ is_none_value }}
        <span class="tracker-admin-bindvalue_grip">
            <img src="/themes/FlamingParrot/images/ic/grip.png"
                 alt="/themes/FlamingParrot/images/ic/grip.png"/>
        </span>
        {{/ is_none_value }}
        <span class="tracker-admin-bindvalue_decorator">
            {{# decorator }}
                {{> colorpicker/colorpicker-mount-point }}
            {{/ decorator }}
        </span>
    {{/ is_custom_value }}
    <span class="tracker-admin-bindvalue_actions">
        <label class="tracker_admin_static_value_hide_checkbox">
            <input type="checkbox"
                   name="bind[edit{{# is_custom_value }}_custom{{/ is_custom_value }}][{{ id }}][is_hidden]"
                   {{^ is_hidden }}checked="checked"{{/ is_hidden }}
                   {{^ value_can_be_hidden }}disabled="disabled"{{/ value_can_be_hidden }}
            />
            {{# value_can_be_hidden }}
            <img
                class="static_value_img_not_checked"
                src="/themes/FlamingParrot/images/ic/eye-half.png"
                title="{{# dgettext }}tuleap-tracker | Show the value{{/ dgettext }}"
                alt="{{# dgettext }}tuleap-tracker | Show the value{{/ dgettext }}"
            />
            <img
                class="static_value_img_checked"
                src="/themes/FlamingParrot/images/ic/eye.png"
                title="{{# dgettext }}tuleap-tracker | Hide the value{{/ dgettext }}"
                alt="{{# dgettext }}tuleap-tracker | Hide the value{{/ dgettext }}"
            />
            {{/ value_can_be_hidden }}
            {{^ value_can_be_hidden }}
                <img
                    src="/themes/FlamingParrot/images/ic/eye--exclamation-hidden.png"
                    {{# is_none_value }}
                    title="{{# dgettext }}tuleap-tracker | “None” value cannot be hidden{{/ dgettext }}"
                    alt="{{# dgettext }}tuleap-tracker | “None” value cannot be hidden{{/ dgettext }}"
                    {{/ is_none_value }}
                    {{^ is_none_value }}
                    title="{{# dgettext }}tuleap-tracker | You cannot hide this value since it is used in a semantic, in workflow, in transitions or in field dependency{{/ dgettext }}"
                    alt="{{# dgettext }}tuleap-tracker | You cannot hide this value since it is used in a semantic, in workflow, in transitions or in field dependency{{/ dgettext }}"
                    {{/ is_none_value }}
                />
            {{/ value_can_be_hidden }}
        </label>
        {{^ is_custom_value }}
            {{# value_can_be_deleted }}
                <label class="tracker_admin_static_value_delete_checkbox">
                    <input type="checkbox"
                           name="bind[delete][{{id}}]"
                           value="1"
                    />
                    <img
                        class="static_value_img_not_checked"
                        src="/themes/FlamingParrot/images/ic/cross.png"
                        title="{{# dgettext }}tuleap-tracker | Delete the value{{/ dgettext }}"
                        alt="{{# dgettext }}tuleap-tracker | Delete the value{{/ dgettext }}"
                    />
                    <img
                        class="static_value_img_checked"
                        src="/themes/FlamingParrot/images/ic/cross-button.png"
                        title="{{# dgettext }}tuleap-tracker | Keep the value{{/ dgettext }}"
                        alt="{{# dgettext }}tuleap-tracker | Keep the value{{/ dgettext }}"
                    />
                </label>
            {{/ value_can_be_deleted }}
            {{^ value_can_be_deleted }}
                <img src="/themes/FlamingParrot/images/ic/cross-disabled.png"
                     alt="/themes/FlamingParrot/images/ic/cross-disabled.png"/>
            {{/ value_can_be_deleted }}
        {{/ is_custom_value }}
    </span>
    <span class="tracker-admin-bindvalue_label">
        <input type="text" name="bind[edit{{# is_custom_value }}_custom{{/ is_custom_value }}][{{ id }}][label]"
               {{# is_custom_value }}class="input-custom-value"{{/ is_custom_value }}
               required value="{{ label }}" data-value-id="{{ id }}"/>
        {{^ is_custom_value }}
          <textarea name="bind[edit][{{ id }}][description]" class="tracker-admin-bindvalue_description_field"
                    placeholder="{{# dgettext }}tuleap-tracker | Enter description... {{/ dgettext }}"
                    cols="50" rows="3">{{description}}</textarea>
        {{/ is_custom_value }}
    </span>
</li>
