<div id="tracker-admin-new-layout" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3>{{# dgettext }} tuleap-tracker | New tracker administration{{/ dgettext }}</h3>
    </div>
    <div class="modal-body">
        <p>{{# dgettext }} tuleap-tracker | Welcome to the new tracker administration menu.{{/ dgettext }}</p>
        <p>{{# dgettext }} tuleap-tracker | We redesigned the tracker administration navigation to improve efficiency with most commonly used features highlighted.{{/ dgettext }}</p>
        <p>{{# dgettext }} tuleap-tracker | The navigation is now done with the tabs at the top of the page.{{/ dgettext }}</p>
        <p>{{# dgettext }} tuleap-tracker | We hope this change will be smooth enough!{{/ dgettext }}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{# dgettext }} tuleap-tracker | Got it{{/ dgettext }}</button>
    </div>
</div>
