<li id="staticvalue_{{ id }}"
    class="{{# is_hidden }}tracker_admin_static_value_hidden{{/ is_hidden }} tracker-admin-one-list-field"
    data-value_id="{{ id }}">
    {{^ is_custom_value }}
        {{# is_none_value }}
            <span class="tracker-admin-none-spacing"></span>
        {{/ is_none_value }}
        {{^ is_none_value }}
        <span class="tracker-admin-bindvalue_grip">
            <img src="/themes/FlamingParrot/images/ic/grip.png"
                 alt="/themes/FlamingParrot/images/ic/grip.png"/>
        </span>
        {{/ is_none_value }}
        <span class="tracker-admin-bindvalue_decorator">
            {{# decorator }}
                {{> colorpicker/colorpicker-mount-point }}
            {{/ decorator }}
        </span>
    {{/ is_custom_value }}
    <span class="tracker-admin-bindvalue_actions">
        {{# value_can_be_hidden }}
            <input type="checkbox"
                   name="bind[edit{{# is_custom_value }}_custom{{/ is_custom_value }}][{{ id }}][is_hidden]"
                   {{^ is_hidden }}checked="checked"{{/ is_hidden }}
                   class="tracker_admin_static_value_hidden_chk"/>
        {{/ value_can_be_hidden }}
        <img src="/themes/FlamingParrot/images/ic/eye{{ image_hidden_prefix }}.png" alt="{{ image_hidden_alt }}"
             title="{{ image_hidden_title }}"/>
        {{^ is_custom_value }}
            {{# value_can_be_deleted }}
                <a title="{{# dgettext }}tuleap-tracker | Delete the value{{/ dgettext }}" href="{{ delete_url }}">
                <img src="/themes/FlamingParrot/images/ic/cross.png" alt="/themes/FlamingParrot/images/ic/cross.png"/>
            </a>
            {{/ value_can_be_deleted }}
            {{^ value_can_be_deleted }}
                <img src="/themes/FlamingParrot/images/ic/cross-disabled.png"
                     alt="/themes/FlamingParrot/images/ic/cross-disabled.png"/>
            {{/ value_can_be_deleted }}
        {{/ is_custom_value }}
    </span>
    <span class="tracker-admin-bindvalue_label">
        <input type="text" name="bind[edit{{# is_custom_value }}_custom{{/ is_custom_value }}][{{ id }}][label]"
               {{# is_custom_value }}class="input-custom-value"{{/ is_custom_value }}
               required value="{{ label }}" data-value-id="{{ id }}"/>
        {{^ is_custom_value }}
            <textarea name="bind[edit][{{ id }}][description]" class="tracker-admin-bindvalue_description_field"
                      placeholder="{{# dgettext }}tuleap-tracker | Enter description... {{/ dgettext }}"
                      cols="50" rows="3">
            </textarea>
        {{/ is_custom_value }}
    </span>
</li>
