{{# can_be_defined }}
    <h2 class="almost-tlp-title">{{ hierarchy_title }}</h2>
    <div id="tracker-admin-current-full-hierarchy">
        <h3>{{ current_full_hierarchy_title }}</h3>
        {{# hierarchy }}
            <ul class="tracker-hierarchy tracker-hierarchy-admin">{{> tracker-node}}</ul>
        {{/ hierarchy }}
    </div>
    <div class="tracker-admin-hierarchy-edit-form">
        <h3>{{ edit_children_title }}</h3>
        {{# tracker_used_in_trigger_rules_names }}
        <div class="feedback_warning">
            {{# dngettext }}
                tuleap-tracker |
                The tracker %s is implicated in cross-tracker triggers. You will not be able to remove this tracker from the hierarchy until the triggers implicating it are removed. |
                The trackers %s are implicated in cross-tracker triggers. You will not be able to remove those trackers from the hierarchy until the triggers implicating them are removed. |
                {{ tracker_used_in_trigger_rules_nb }} |
                {{ . }}
            {{/ dngettext }}
            <a href="{{ getTrackerUrl }}/?tracker={{ getTrackerId }}&func=admin-workflow-triggers">
            {{# dgettext }} tuleap-tracker | Go to the administration of the cross-tracker triggers. {{/ dgettext }}
            </a>
        </div>
        {{/ tracker_used_in_trigger_rules_names }}
        <form method="post"
              action="{{ getTrackerUrl }}/?tracker={{ getTrackerId }}&func=admin-hierarchy-update">
            <select
                    class="tracker-admin-hierarchy-edit-children"
                    name="children[]"
                    multiple="multiple"
            >
                {{# getPossibleChildren }}
                    <option value="{{ id }}"{{ selected }}>{{ name }}</option>
                {{/ getPossibleChildren }}
            </select>
            <p>
                <input type="submit" class="btn" value="{{ getSubmitLabel }}">
            </p>
        </form>
    </div>
{{/ can_be_defined }}

{{^ can_be_defined }}
    <div id="tracker-admin-hierarchy-disabled">
        <p class="tracker-admin-hierarchy-content">{{ disabled_hierarchy_title }}</p>
        <p class="tracker-admin-hierarchy-content tracker-admin-hierarchy-description">{{ disabled_hierarchy_description }}</p>
    </div>
{{/ can_be_defined }}
