<tr class="{{ html_classes }}" >
    <td>{{{ direct_link_to_artifact }}}</td>
    <td>{{ project_public_name }}</td>
    <td>{{ tracker_name }}</td>
    <td>{{ artifact_title }}</td>
    <td>{{ artifact_status }}</td>
    <td>{{ artifact_last_update_date }}</td>
    <td>{{{ artifact_submitter }}}</td>
    <td>{{{ artifact_assignees }}}</td>
</tr>
