<select class="{{ select_classes }}" name="{{ select_name }}">
    <option value=""></option>
    {{# natures }}
        <option value="{{ shortname }}">{{ forward_label }}</option>
    {{/ natures }}
</select>
