        {{> artifactlink-nature-table-head }}
        <tbody>
        {{# artifact_links }}
            {{> artifactlink-nature-table-row }}
        {{/ artifact_links }}
        </tbody>
    </table>
</div>
