<select class="{{ select_classes }}" name="{{ select_name }}">
    <option value=""></option>
    {{# natures }}
        <option {{# is_selected }}selected{{/ is_selected }} value="{{ shortname }}">{{ forward_label }}</option>
    {{/ natures }}
</select>
