<div class="tracker-form-element-artifactlink-trackerpanel">
<h2 class="tracker-form-element-artifactlink-nature_{{ tracker_id }}">{{ nature_label }}</h2>
<table class="tracker_report_table table" id="{{ table_id }}">
<thead>
    <th class="tracker_report_table_unlink">
        <input
            type="checkbox"
            title="{{ mass_unlink_title }}"
            class="tracker-artifact-link-mass-unlink"
            disabled
        >
    </th>
    <th>{{ id_label }}</th>
    <th>{{ project_label }}</th>
    <th>{{ tracker_label }}</th>
    <th>{{ summary_label }}</th>
    <th>{{ status_label }}</th>
    <th>{{ last_update_label }}</th>
    <th>{{ submitted_by_label }}</th>
    <th>{{ assigned_to_label }}</th>
</thead>
