{{# has_warning }}
    <div class='feedback_warning tlp-alert-warning'>{{ warning }}</div>
{{/ has_warning }}

{{^ has_warning }}
    <div id="burndown-chart"
         data-burndown="{{ data_burndown }}"
         data-locale="{{ locale }}"
    ></div>
{{/ has_warning }}
