{{#hasFields}}
<div class="card-details">
    <div class="toggler-noajax">
        <i class="icon-caret-right fa fa-caret-right"></i><i class="icon-caret-down fa fa-caret-down"></i> {{details}}
    </div>
    <div>
        <table>
            {{#getFields}}
                {{{getField}}}
            {{/getFields}}
        </table>
    </div>
</div>
{{/hasFields}}
