{{#getData}}
<li class="planning-draggable {{class}}" id="art-{{id}}">
    <div class="card">
        {{> card-actions}}
        {{title}}
        &nbsp;
    </div>
    {{#hasChildren}}
        {{> cards}}
    {{/hasChildren}}
</li>
{{/getData}}
