{{#getData}}
<li class="planning-draggable {{class}}" id="art-{{id}}">
    <div class="card">
        <div class="card-actions">{{{link}}}</div>
        {{title}}
    </div>
    {{#hasChildren}}
        {{> cards}}
    {{/hasChildren}}
</li>
{{/getData}}
