{{#getCardPresenter}}
<div class="card {{# getBackgroundColorName }}card-style-{{ getBackgroundColorName }}{{/ getBackgroundColorName }}"
     style="background-color: {{getAccentColor}};"
     data-artifact-id="{{getId}}"
>
    <div class="card-container">
        {{> card-actions}}
        <a href="#" class="toggle-collapse">+</a>
        <div class="card-title">{{getTitle}}</div>
        {{> card-details}}
        <div class="card-accessibility"></div>
    </div>
</div>
{{/getCardPresenter}}
