<div class="artifact-event-popup">
    <p class="artifact-event-popup-title">{{author_updated}}</p>
    <div class="artifact-event-popup-content">
        {{{comment}}}
        <hr />
        {{{diff}}}
    </div>
    <div class="artifact-event-popup-actions">
        <button class="btn btn-small" href="#">{{got_it}}</button>
    </div>
</div>
