<div class="artifact-event-popup">
    <p class="artifact-event-popup-title">{{author_updated}}</p>
    <div class="artifact-event-popup-content">
        {{{comment}}}
        <hr />
        {{{diff}}}
        <p>What do you want to do?</p>
    </div>
    <div class="artifact-event-popup-actions">
        <button class="btn btn-small" href="#">Review changes</button>
        <button class="btn btn-small btn-danger" href="#">Nevermind!</button>
    </div>
</div>