<div id="masschange-page">
    <h3>{{ masschange_info_title }}</h3>

    <div class="masschange_artifact_ids">
        {{ changing_items }}

        {{# masschange_aids }}
            <a href="{{ tracker_base_url }}/?aid={{ . }}">#{{ . }} </a>
        {{/ masschange_aids }}
    </div>

    <form id="masschange_form" enctype="multipart/form-data" action="" method="POST">

        <input type="hidden" name="func" value="update-masschange-aids">
        {{# masschange_aids }}
            <input type="hidden" name="masschange_aids[]" value="{{ . }}" />
        {{/ masschange_aids }}

        <div class="masschange-notifications">
            <label class="checkbox" for="masschange-unsubscribe-option">
                {{ unsubscribe_label }}
                <input type="checkbox" id ="masschange-unsubscribe-option" name="masschange-unsubscribe-option" value="unsubscribe" />
            </label>

            <label class="checkbox" for="masschange-notify-option">
                {{ notification_label }}
                <input type="checkbox" id="masschange-notify-option" name="notify" value="ok" />
            </label>
        </div>

        {{# has_external_actions }}
        <div class="masschange-external-actions">
            {{# external_actions }}
                {{{ . }}}
            {{/ external_actions }}
        </div>
        {{/ has_external_actions }}

        <h3>{{ artifact_fields_title }}</h3>

            {{{ form_elements }}}

        <h3>{{ add_comment }}</h3>

        <textarea wrap="soft" rows="12" cols="80" name="artifact_masschange_followup_comment" id="artifact_masschange_followup_comment">{{ default_comment }}</textarea>
        <br />

        <input class="btn btn-primary masschange-submit" type="submit" value="{{ masschange_submit }}"/>
    </form>

    {{{ javascript_rules }}}
</div>
