<h2 class="almost-tlp-title">{{# dgettext }}tuleap-tracker | General settings{{/ dgettext }}</h2>
<form name="form1" method="POST" action="{{ action_url }}" id="tracker-settings">
    <input type="hidden" name="update" value="1">
    <input type="hidden" name="instantiate_for_new_projects" value="0">

    <label for="tracker-name">{{ tracker_name_label }} <font color="red">*</font></label>
    <input id="tracker-name" type="text" name="name" value="{{ tracker_name }}" required>

    <label for="tracker-description">{{ tracker_description_label }}</label>
    <textarea id="tracker-description" name="description" rows="3" cols="50">{{ tracker_description }}</textarea>

    <label for="tracker-shortname">{{ tracker_shortname_label }} <font color="red">*</font></label>
        <input id="tracker-shortname"
               type="text"
               name="item_name"
               required
               value="{{ tracker_shortname }}"
               {{^ has_excessive_shortname_length }} maxlength="{{ max_tracker_length }}" {{/ has_excessive_shortname_length }}
        />

    <label>{{ tracker_color_label }} <font color="red">*</font></label>
    {{> tracker-color-settings }}

    <label class="checkbox">
        <input
            type="checkbox"
            name="instantiate_for_new_projects"
            value="1"
            {{# is_instatiate_for_new_projects }} checked {{/ is_instatiate_for_new_projects }}
            {{# cannot_configure_instantiate_for_new_projects }} Disabled {{/ cannot_configure_instantiate_for_new_projects }} />
        {{ tracker_instantiate_label }}
    </label>


    <label class="checkbox"><input
        type="checkbox"
        name="log_priority_changes"
        value="1"
        {{# is_log_priority_changes }} checked {{/ is_log_priority_changes }} />
        {{ tracker_log_priority_changes }}
    </label>

    {{# enable_insecure_emailgateway }}
        <label class="checkbox">
            <input
                type="checkbox"
                name="enable_emailgateway"
                value="1"
                {{# is_emailgateway_used }} checked {{/ is_emailgateway_used }} />
            {{ tracker_emailgateway }}
        </label>

        {{^ is_insecure_emailgateway_properly_configured }}
            <ul class="unstyled alert alert-warning" style="margin-left: 1em; display: inline-block; margin: 5px 20px;">
                <li><i class="fa fa-check"></i> {{ reply_possible }}</li>
                <li class="text-error"><i class="fa fa-times"></i> {{{ create_not_possible }}}</li>
                <ul class="unstyled" style="margin-left: 1em;">
                    {{# is_semantic_configured_for_insecure_emailgateway }}
                        <li><i class="fa fa-check"></i> {{ semantic_ok }}</li>
                    {{/ is_semantic_configured_for_insecure_emailgateway }}
                    {{^ is_semantic_configured_for_insecure_emailgateway }}
                        <li class="text-error"><i class="fa fa-times"></i> {{ semantic_ko }}</li>
                    {{/ is_semantic_configured_for_insecure_emailgateway }}

                    {{# are_required_fields_configured_for_insecure_emailgateway }}
                        <li><i class="fa fa-check"></i> {{ required_ok }}</li>
                    {{/ are_required_fields_configured_for_insecure_emailgateway }}
                    {{^ are_required_fields_configured_for_insecure_emailgateway }}
                        <li class="text-error"><i class="fa fa-times"></i> {{ required_ko }}</li>
                    {{/ are_required_fields_configured_for_insecure_emailgateway }}
                </ul>
            </ul>
        {{/ is_insecure_emailgateway_properly_configured }}
    {{/ enable_insecure_emailgateway }}

    <label for="tracker-submit-instructions">{{ submit_instructions_label }}</label>
    <textarea id="tracker-submit-instructions" name="submit_instructions" rows="3" cols="50">{{ submit_instructions }}</textarea>
    <div class="help">{{ html_tags }}</div>

    <label for="tracker-browse-instructions">{{ browse_instructions_label }}</label>
    <textarea id="tracker-browse-instructions" name="browse_instructions" rows="3" cols="50">{{ browse_instructions }}</textarea>
    <div class="help">{{ html_tags }}</div>

    <div class="submit-bar">
        <input type="submit" class="btn btn-large btn-primary" value="{{ submit_button }}" />
    </div>
</form>
