<div class="workflow_rules">
    <h3> {{triggers_title}}</h3>
    <p class="help">
        {{triggers_definition}}
    </p>
    <div id="triggers_existing">
    </div>
    <form method="post" action="{{triggers_form_action}}" id="triggers_form" style="display:none;">
        {{{triggers_synch_token}}}
        <p class="add_new_trigger" style="float: left;">
            <span id="add_new_trigger_title" class="trigger_link">
                <i class="icon-plus"></i>
                <span>
                    {{triggers_add_new}}
                </span>
                {{> triggers-create-new}}
            </span>
        </p>
    </form>
    <p id="triggers_no_children" style="display:none" class="alert alert-info">{{no_children}}</p>
</div>