<table style="display: none" id="trigger_triggering_fields_template">
    <tbody>
        <tr class="trigger_triggering_field" data-trigger-condition-initial="false">
            <td class="trigger_condition_selector">
                <span class="trigger_condition_artifact_operator_updater"></span>
            </td>
            <td>
                {{# dgettext }} tuleap-tracker | of type{{/ dgettext }}
                <select class="trigger_triggering_field_child_tracker_name">
                    <option selected="selected" value="">{{# dgettext }} tuleap-tracker | select child tracker name{{/ dgettext }}</option>
                </select>
                <span class="trigger_triggering_have_field"></span>
                <select class="trigger_triggering_field_child_tracker_field_name">
                    <option selected="selected" value="">{{# dgettext }} tuleap-tracker | select child tracker field{{/ dgettext }}</option>
                </select>
                {{# dgettext }} tuleap-tracker | set to{{/ dgettext }}
                <select class="trigger_triggering_field_child_tracker_field_value">
                    <option selected="selected" value="">{{# dgettext }} tuleap-tracker | select value{{/ dgettext }}</option>
                </select>
                <img border="0" alt="remove" src="/themes/common/images/ic/cross.png" class="trigger_triggering_field_remove">
            </td>
        </tr>
    </tbody>
</table>
<div style="display: none" id="trigger_quantity_template">
    {{# dgettext }} tuleap-tracker | When{{/ dgettext }} <select id="trigger_condition_quantity">
    </select>
</div>
