{{> trigger-condition-template}}
<div id="trigger_create_new">
    <div>
        {{new_trigger_condition_list_intro}}
    </div>
    <br>
    <table >
        <tbody id="trigger_condition_list">
        </tbody>
    </table>
    <div>
        <span id="trigger_add_condition" class="trigger_link">
            <i class="icon-plus"></i>
        </span>
    </div>
    <br />
    {{new_trigger_target_intro}} 
    <select id="trigger_condition_field_name">
        <option selected="selected" value="">{{new_trigger_select_target_field_name}}</option>
    </select>
    {{equals}}
    <select id="trigger_condition_field_value">
        <option selected="selected" value="">{{new_trigger_select_target_field_value}}</option>
    </select>
    <p>
        <input type="button" value="{{triggers_submit}}" id="trigger_submit_new" />
        <span id="trigger_add_cancel" class="trigger_link">{{cancel}}</span>
    </p>
</div>