<div class="workflow_rules">
    <h3> {{triggers_title}}</h3>
    <p class="help">
        {{triggers_definition}}
    </p>
    <form method="post" action="{{triggers_form_action}}">
        {{{triggers_synch_token}}}
        <p class="add_new_trigger">
            <span id="add_new_trigger_title" class="trigger_link">
                <i class="icon-plus"></i>
                <span>
                    {{triggers_add_new}}
                </span>
                {{> triggers-create-new}}
            </span>
        </p>
    </form>
</div>