<p>{{# dgettext }}
    tuleap-tracker_functions |
    Tuleap function failed for artifact #%s |
    {{ artifact_id }}
{{/ dgettext }}</p>
<p>{{# dgettext }}
    tuleap-tracker_functions |
    Execution date: %s |
    {{ execution_date }}
{{/ dgettext }}</p>
<p>{{# dgettext }}
    tuleap-tracker_functions |
    %sSee details%s |
    <a href="{{ tracker_admin }}"> | </a>
{{/ dgettext }}</p>
