<tr>
    <th>{{# gettext }}License Approval: {{/ gettext }}</th>
    <td>
        <select name="package[approve_license]">
            {{# . }}
                <option value="{{ value }}" {{# is_selected }}selected{{/ is_selected }}>{{ label }}</option>
            {{/ . }}
        </select>
    </td>
</tr>
