/**
 * $Id$
 *
 */
@import url("phpwiki.css");


/**
 * General settings
 */
body {
  padding-top: 9ex;
  padding-bottom: 9ex;
}


/**
 * Common toolbar settings
 * Note that div.toolbar is used for other toolbars besides
 * #navbar and #actionbar, such as in editpage and removepage
 */
div#header, div#footer {
  background: ivory;
  margin: 0px;
  padding: 0px;
  position: fixed;
  left:  0px;
  right: 0px;
  padding-top:    1ex;
  padding-bottom: 1ex;
  padding-left:  1em;
  padding-right: 1em;
}
hr.toolbar {
  display: none;
}


/**
 * Navbar
 */
div#header {
  top: 0px;
  padding-top: 1.5ex;
  border-bottom: 1px solid #b2b2b2;
}
div#navbuttons {
  padding-bottom: 1ex;
}


/**
 * Actionbar
 */
div#footer {
  border-top: 1px solid #b2b2b2;
  /* kludge for Mozilla */
    bottom: -1ex;
    padding-bottom: 0ex;
}
div#actionbuttons {
  /* For IE5.1Mac, workaround the Mozilla kludge */
  padding-bottom: 1ex;
}
p.editdate { margin-bottom: 0.5ex; }


/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
