<div
    id="plan-iterations-app"
    class="empty-state-page"
    data-program-flags="{{ program_flags }}"
>
    <p class="empty-state-text">
        {{# dgettext }} tuleap-program_management | Nothing to see here for the moment {{/ dgettext }}
    </p>
</div>
