<div id="program-management-app"
     data-project-name="{{ project_name }}"
     data-project-short-name="{{ project_short_name }}"
     data-project-privacy="{{ project_privacy }}"
     data-project-flags="{{ project_flags }}"
     data-program-id="{{ program_id }}"
     data-user-with-accessibility-mode="{{ user_has_accessibility_mode }}"
     data-can-create-program-increment="{{ can_create_program_increment }}"
     data-has-plan-permissions="{{ has_plan_permissions }}"
     data-program-increment-tracker-id="{{ program_increment_tracker_id }}"
     data-program-increment-label="{{ program_increment_label }}"
     data-program-increment-sub-label="{{ program_increment_sub_label }}"
     data-is-iteration-tracker-defined="{{ is_iteration_tracker_defined }}"
     data-iteration-label="{{ iteration_label }}"
     data-is-program-admin="{{ is_program_admin }}"
     data-is-configured="{{ is_configured }}"
     data-project-icon="{{ project_icon }}"
></div>
