<div id="artidoc-mountpoint"
     data-title="{{ title }}"
     data-item-id="{{ item_id }}"
     data-project-id="{{ project_id }}"
     data-can-user-edit-document="{{ can_user_edit_document }}"
     data-selected-tracker="{{ selected_tracker }}"
     data-allowed-trackers="{{ allowed_trackers }}"
     data-selected-fields="{{ selected_readonly_fields }}"
     data-upload-max-size="{{ upload_max_size }}"
     data-pdf-templates="{{ pdf_templates }}"
     data-relative-date-display="{{ relative_date_display }}"
     data-can-user-display-versions="{{ can_user_display_versions }}"
></div>
