<select size="8" multiple name="ugroups[]">
    {{# user_groups }}
        <option value="{{ id }}" {{# selected }} selected="selected" {{/ selected }}> {{ name }} </option>
    {{/ user_groups }}
</select>
<p>{{{ package_permission_information }}}</p>
