<div>
    <h1 class="project-administration-title">{{ title_frs_administration }}</h1>
    {{# sections }}
        <div class="main-project-tabs">
            <nav class="tlp-tabs">
                <a class="tlp-tab {{# permissions_active }}tlp-tab-active{{/ permissions_active }}"
                    href="{{ permissions_url }}"
                >
                    {{ permissions }}
                </a>
                <a class="tlp-tab {{# processors_active }}tlp-tab-active{{/ processors_active }}"
                   href="{{ processors_url }}"
                >
                    {{ processors }}
                </a>
                <a class="tlp-tab {{# license_agreements_active }}tlp-tab-active{{/ license_agreements_active }}"
                   href="{{ license_agreements_url }}"
                   data-test="license-agreements"
                >
                    {{# gettext }}License Agreements{{/ gettext }}
                </a>
            </nav>
        </div>
    {{/ sections }}
</div>
