<table class="tlp-table">
    <thead>
        <tr>
            <th>{{ link_label }}</th>
            <th>{{ date_label }}</th>
            <th>{{ owner_label }}</th>
        </tr>
    </thead>
    <tbody>
        {{# links_list}}
            <tr>
                <td><a href="{{ link }}">{{ displayed_link }}</a></td>
                <td>{{ release_time }}</td>
                <td>{{ owner }}</td>
            </tr>
        {{/ links_list }}
    </tbody>
</table>
