<h2>{{ uploaded_links_label }}</h2>

{{# has_existing_links }}
    <table class="tlp-table frs-release-links-table">
        <thead>
        <tr>
            <th>{{ delete_label }}</th>
            <th class="frs-release-links-table-link">{{ link_label }}</th>
        </tr>
        </thead>
        <tbody>
        {{# existing_links }}
            <tr>
                <td><input name="release_links_to_delete[]" value="{{ link_id }}" type="checkbox"></td>
                <td><a href="{{ link }}">{{ displayed_link }}</a> </td>
            </tr>
        {{/ existing_links }}
        </tbody>
    </table>
{{/ has_existing_links }}

<table class="tlp-table frs-release-links-table frs-release-add-link-table-hidden" id="frs-release-add-link-table">
    <thead>
    <tr>
        <th>{{ name_label }}</th>
        <th class="frs-release-links-table-link">{{ link_label }}</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<p>
    <button type="button"
            class="tlp-button-primary tlp-button-outline"
            id="frs-release-add-link-table-button"
    >{{ add_link_label }}</button>
</p>
