<h1 class="pdftemplate-admin-title">
    {{# dgettext }} tuleap-pdftemplate | PDF Template {{/ dgettext }}
</h1>

{{> navigation }}

<div class="tlp-framed-horizontally">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    <i class="tlp-pane-title-icon fa-solid fa-list" aria-hidden="true"></i>
                    {{# dgettext }} tuleap-pdftemplate | Images {{/ dgettext }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                <p>
                    {{# dgettext }} tuleap-pdftemplate | Images uploaded here can be used inside PDF templates. {{/ dgettext }}
                    {{# dgettext }} tuleap-pdftemplate | This can be used to include a logo, or a background image. {{/ dgettext }}
                </p>
                <div class="tlp-table-actions">
                    <button type="button" disabled class="tlp-button-primary">
                        <i class="fa-solid fa-upload tlp-button-icon" aria-hidden="true"></i>
                        {{# dgettext }} tuleap-pdftemplate | Upload image {{/ dgettext }}
                    </button>
                </div>
                <table class="tlp-table">
                    <thead>
                    <tr>
                        <th>{{# dgettext }} tuleap-pdftemplate | Name {{/ dgettext }}</th>
                        <th>
                            {{# dgettext }} tuleap-pdftemplate | Size {{/ dgettext }}
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="3" class="tlp-table-cell-empty">
                            Under construction
                        </td>
                    </tr>
            </section>
        </div>
    </section>
</div>
