<div class="empty-state-page">
    <div class="empty-state-illustration">
        {{> svg-permission-denied }}
    </div>

    <div class="empty-state-text-with-small-text">
        {{# gettext }}You have a restricted user account.{{/ gettext }}
        <div class="empty-state-text-small">
            {{# gettext }}You cannot access to this page.{{/ gettext }}
        </div>
    </div>

    <a class="tlp-button-primary tlp-button-large" href="/my/">
        <i class="fa fa-reply tlp-button-icon"></i> {{# gettext }}Go to my home page{{/ gettext }}
    </a>
</div>
