<section class="empty-state-page">
    <div class="empty-state-illustration">
        {{> svg-suspended-project }}
    </div>

    <h1 class="empty-state-title">
        {{ error_message }}
    </h1>
    <p class="empty-state-text">
        {{ custom_message }}
    </p>

    <a class="empty-state-action tlp-button-primary tlp-button-outline" href="/my/">
        <i class="fa fa-reply tlp-button-icon"></i> {{# gettext }}Go to my home page{{/ gettext }}
    </a>
</section>
