#modified-files {
    padding: 0 15px;
    margin: 0 0 50px;

    > h3 {
        margin-bottom: 5px;

        > .badge {
            position: relative;
            top: -1px;
        }
    }

    > .modified-files {
        max-height: 229px;
        overflow-y: auto;

        > table {
            margin: 0;

            tr {
                cursor: pointer;

                > td {
                    white-space: nowrap;

                    &.loading {
                        height: 16px;
                        background: url('loader-mini.gif') no-repeat center center;
                    }

                    &.file {
                        width: 100%;
                        font-size: 13px;

                        .status {
                            display: inline-block;
                            width: 26px;
                            text-align: center;
                            font-weight: 600;

                            &.status-A {
                                color: #58b359;
                            }
                            &.status-M {
                                color: #f5b849;
                            }
                            &.status-D {
                                color: #da5353;
                            }
                        }
                    }

                    &.changes {
                        min-width: 50px;

                        &.lines-added {
                            text-align: right;
                        }
                    }

                }
            }
        }
    }
}
