<?php

// ReviewBoard url
$reviewboard_site = "http://localhost";

// Login of ReviewBoard administrator
$admin_user = "admin";

// Password of ReviewBoard administrator
$admin_pwd = "siteadmin";

// Admin mail
$admin_mail = "admin@root";

?>