/* 
 * $Id$
 *
 * phpwiki-modern-heavy.css
 *
 * This is stuff which should be in phpwiki-modern.css, but which breaks NS4.
 */

/* Hide the elements we put in just to get around NS4 bugs. */
div.br { display: none; }

/* This break NS4, but is necessary for IE4. */
div.wikitext { width: auto; }

/* Link icons */
img.linkicon { vertical-align: middle; }
img.rssicon  { vertical-align: baseline; }

/****************************************************************
 **
 ** Diff Output
 **
 *****************************************************************/
.diff .block div { position: relative; padding-left: 1.5em; } 
.diff .prefix    { position: absolute; left: 0.5em; top: 0; }

