{{# content }}
    <div id="nav-dropdown-{{ id }}" class="nav-dropdown {{ additional_classes }}">
        <span class="nav-dropdown-link" data-nav-dropdown-content-id="nav-dropdown-content-{{ id }}">
            <i class="{{ icon }} nav-link-icon"></i>
            <span class="nav-link-text">{{ label }}</span>
            <i class="fa fa-caret-down nav-link-icon-dropdown"></i>
        </span>

        {{> navbar/dropdown-menu-item/content/content }}
    </div>
{{/ content }}
