<IfModule mod_php3.c>
<Files projects>
ForceType application/x-httpd-php3
</Files>
<Files users>
ForceType application/x-httpd-php3
</Files>
<Files foundry>
ForceType application/x-httpd-php3
</Files>
</IfModule>

<IfModule mod_php4.c>
<Files projects>
ForceType application/x-httpd-php
</Files>
<Files users>
ForceType application/x-httpd-php
</Files>
<Files foundry>
ForceType application/x-httpd-php
</Files>
</IfModule>
