<div class="user-preferences">
    <h1 class="user-preferences-title">
        {{# gettext }}Preferences{{/ gettext }}
    </h1>
    <div class="user-preferences-container">
        {{> user-account-tabs }}

        <div class="user-preferences-section">
            {{# ssh_keys_presenter }}
                {{> ssh-keys }}
            {{/ ssh_keys_presenter }}

            {{# access_key_presenter }}
                {{> access-keys }}
            {{/ access_key_presenter }}

            {{# svn_tokens_presenter }}
                {{> svn-tokens }}
            {{/ svn_tokens_presenter }}
        </div>
    </div>
</div>
