<div class="user-preferences">
    <h1 class="user-preferences-title">
        {{# gettext }}Preferences{{/ gettext }}
    </h1>
    <div class="user-preferences-container">
        {{> user-account-tabs }}

        <div class="user-preferences-section">
            {{# user_can_change_password }}
                {{> security/password }}
            {{/ user_can_change_password }}

            {{> security/session }}

            {{> security/access }}
        </div>
    </div>
</div>
