{{# has_svn_tokens }}
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">{{# gettext }}SVN tokens{{/ gettext }}</h1>
            </div>
            <section class="tlp-pane-section">
                <p class="tlp-alert-info">
                    {{# gettext }}Creating new SVN tokens is no more possible, personal access keys should be used instead.{{/ gettext }}
                </p>
                <p>
                    {{# gettext }}You can use SVN tokens as a replacement for your password on projects selected by the administrator.{{/ gettext }}
                </p>

                <form action="/account/svn_token/revoke" method="post">
                    {{# csrf_token }}
                        {{> csrf_token_input }}
                    {{/ csrf_token }}

                    <div class="tlp-table-actions">
                        <button type="submit"
                                id="button-revoke-svn-tokens"
                                data-test="button-revoke-svn-tokens"
                                name="revoke-svn-tokens"
                                class="tlp-button-danger tlp-button-outline tlp-table-actions-element"
                                disabled
                        >
                            <i class="tlp-button-icon far fa-trash-alt"></i> {{# gettext }}Revoke selected SVN token{{/ gettext }}
                        </button>
                    </div>

                    <table class="tlp-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="svn-tokens-header">{{# gettext }}Generated on{{/ gettext }}</th>
                            <th class="svn-tokens-header">{{# gettext }}Last used on{{/ gettext }}</th>
                            <th class="svn-tokens-header">{{# gettext }}Last used by{{/ gettext }}</th>
                            <th class="svn-tokens-header">{{# gettext }}Comment{{/ gettext }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{# svn_tokens }}
                            <tr data-test="user-prefs-svn-token">
                                <td class="svn-token-checkbox-cell" data-test="user-prefs-revoke-svn-token-checkbox">
                                    <input type="checkbox" name="svn-tokens-selected[]" value="{{ id }}"/>
                                </td>
                                <td class="svn-token-date">{{ generated_date }}</td>
                                <td class="svn-token-date">{{ last_used_on }}</td>
                                <td>{{ last_used_by }}</td>
                                <td>{{ comment }}</td>
                            </tr>
                        {{/ svn_tokens }}
                        </tbody>
                    </table>
                </form>
            </section>
        </div>
    </section>
{{/ has_svn_tokens }}