<?php // -*-html-*-
rcs_id('$Id$');

if (empty($FORMNAME))
    $FORMNAME = 'signin';
else
    $NOFORM = true;
?>
<?php if (empty($NOFORM)) { ?>
  <form method="post" action="<?=$request->getURLtoSelf()?>" accept-charset="<?=CHARSET?>" name="<?=$FORMNAME?>">
  <?= HiddenInputs($request->getArgs(), false, array('auth')) ?>
<?php } ?>
<?php 
if ($user->isAuthenticated()) {
    $Sep = $Theme->getButtonSeparator();
    $SignOutB = $Theme->makeButton(_("Sign Out"), "javascript:SignOut();", 'wikiaction');
?>
  <?= fmt("Authenticated as %s", WikiLink($user->getAuthenticatedId(), 'auto')) ?>
<?php } else { ?>
    <?php
    $SignInInput = HTML::input(array('type' => 'text',
				     'name' => "auth[userid]",
				     'size' => 12,
				     'maxlength' => 256,
				     'onchange' => "SignIn(this.form,false);"));
    $SignInInput->addTooltip(_("Enter your UserId to sign in"));
    $userid = $user->getId();
    if ($user->isSignedIn()) 
      echo sprintf(_("You are signed but not authenticated as %s. "), 
		   asXml(HTML::a(array(
				       'href'=>'#',
				       'title' => sprintf(_("Click to authenticate as %s"),$userid),
				       'onclick'=>'SignIn(document.forms["'.$FORMNAME.'"],"'.$userid.'");'),
				 $userid)));
?>

  <script type="text/javascript"> <!--
     function SignIn(form,userid) {
      <?php if (defined('EDITING_POLICY') and $request->_dbi->isWikiPage(EDITING_POLICY)) { ?>
      if (window.focus) {
        window.open('<?= WikiUrl(EDITING_POLICY) ?>',<!-- url -->
                    'PleaseReadThisFirst',<!-- window name -->
                    'width=600,height=430,scrollbars=yes,resizable=yes,toolbar=yes');
      }
      <?php } ?>
      if (userid) {
        form.elements["auth[userid]"].value = userid;
      }
      form.submit();
    }
    //-->
  </script>
  <?= Button("submit:auth[login]", _("Sign in as:"), 'wikiaction')?>
  <?= $SignInInput ?>
  <noscript>
    <?= Button("submit:auth[login]", _("Sign in as:"), 'wikiaction')?>
  </noscript>

<?php } ?>

<?php if (empty($NOFORM)) { ?>
  </form>
<?php } ?>
