{{# is_passed }}<span class="label label-success" title="Passed">Passed</span>{{/ is_passed }}
{{# is_failed }}<span class="label label-important" title="Failed">Failed</span>{{/ is_failed }}
{{# is_not_run }}<span class="label" title="Not run">Not run</span>{{/ is_not_run }}
{{# is_not_completed }}<span class="label label-info" title="Not completed">Not completed</span>{{/ is_not_completed }}
