{{# help_dropdown }}
    <div class="tlp-dropdown help-dropdown">
        <button type="button" aria-label="{{# gettext }}Help{{/ gettext }}" id="help" class="tlp-button-primary tlp-button-outline">
            <i class="fa fa-question" aria-hidden="true"></i>
        </button>
        <div class="tlp-dropdown-menu tlp-dropdown-menu-top tlp-dropdown-menu-right" role="menu">
            {{# main_items }}
                <a href="{{ link }}" class="help-dropdown-link dropdown-item tlp-dropdown-menu-item" role="menuitem">
                    <i class="tlp-dropdown-menu-item-icon fa fa-fw fa-life-saver"></i>{{ title }}
                </a>
            {{/ main_items }}
            <span class="tlp-dropdown-menu-separator" role="separator"></span>
            <span class="tlp-dropdown-menu-item-alt tlp-text-muted">
                {{# footer_items }}
                    <a href="{{ link }}" role="menuitem">{{ title }}</a>
                {{/ footer_items }}
                <a href="#" role="menuitem" id="help-dropdomn-shortcuts">{{# gettext }}Shortcuts{{/ gettext }}</a>
            </span>
        </div>
    </div>
{{/ help_dropdown }}

<div id="help-modal-shortcuts"
     class="tlp-modal"
     role="dialog"
     aria-labelledby="help-modal-shortcuts-label"
>
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="help-modal-shortcuts-label">{{# gettext }}Keyboard shortcuts{{/ gettext }}</h1>
        <div class="tlp-modal-close" tabindex="0" role="button" data-dismiss="modal" aria-label="{{# gettext }}Close{{/ gettext }}">
            &times;
        </div>
    </div>
    <div class="tlp-modal-body">
        <p><code>?</code> {{# gettext }}Open this window{{/ gettext }}</p>
        <p><code>c</code> {{# gettext }}Open "+ New" dropdown{{/ gettext }}</p>
    </div>
    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{# gettext }}Close{{/ gettext }}
        </button>
    </div>
</div>
