{{# is_there_at_least_one_pull_request }}
    <a href="{{ action_url }}" class="nb-pull-request-badge badge" title="{{ nb_pull_request_badge }}">{{ nb_pull_request_badge }}</a>
{{/ is_there_at_least_one_pull_request }}
{{^ is_there_at_least_one_pull_request }}
    <span class="nb-pull-request-badge badge">{{ nb_pull_request_badge }}</span>
{{/ is_there_at_least_one_pull_request }}