<h2>{{ title }}</h2>
<form action="" method="POST">
    <input type="hidden" name="action" value="admin-update" />
    <label class="control-label" for="campaign_id">{{ campaigns }}</label>
    <input type="text" name="campaign_tracker_id" id="campaign_id" value="{{ campaign_tracker_id }}" placeholder="{{ placeholder }}" />
    <div>
        <button type="submit" class="btn btn-primary">{{ submit }}</button>
    </div>
</form>