<fieldset class="tracker_artifact_fieldset">
    <div class="tracker_artifact_fieldset_content timesheeting-from">
        {{# user_can_add_time }}
            <a class="btn btn-primary timesheeting-add-button" href="#timesheeting-add-time-modal" data-toggle="modal">
                <i class="icon-plus"></i> {{# dgettext }} tuleap-timesheeting | Add {{/ dgettext }}
            </a>
        {{/ user_can_add_time }}
        <table class="table">
            <thead>
                <tr>
                    <th>{{# dgettext }} tuleap-timesheeting | Steps {{/ dgettext }}</th>
                    <th>{{# dgettext }} tuleap-timesheeting | Time {{/ dgettext }}</th>
                    <th>{{# dgettext }} tuleap-timesheeting | Date {{/ dgettext }}</th>
                </tr>
            </thead>
            <tbody>
                {{# times }}
                    <tr>
                        <td>{{ step }}</td>
                        <td>{{ time }}</td>
                        <td>{{ day }}</td>
                    </tr>
                {{/ times }}

                {{^ times }}
                    <tr>
                        <td class="table-cell-empty" colspan="3">
                            {{# dgettext }} tuleap-timesheeting | No times saved {{/ dgettext }}
                        </td>
                    </tr>
                {{/ times }}
            </tbody>
        </table>
    </div>

    {{# user_can_add_time }}
        {{> timesheeting-add-modal }}
    {{/ user_can_add_time }}
</fieldset>