<fieldset class="tracker_artifact_fieldset">
    <legend title="Timesheeting" class="toggler-noajax">
        <table>
            <tr>
                <td class="tracker_artifact_fieldset_title">Timesheeting</td>
            </tr>
        </table>
    </legend>
    <div class="tracker_artifact_fieldset_content">
        <p class="timesheeting-empty">{{ empty_content }}</p>
    </div>
</fieldset>