{{^ is_properly_configured }}
    <div class="alert alert-info"><strong>{{ misconfigured_title }}</strong> {{ misconfigured_message }}</div>
    <img src="yuno.jpg" />
{{/ is_properly_configured }}
{{# is_properly_configured }}
    <div id="testing-app" ng-app="testing" ng-controller="TestingCtrl" ng-init="init({{ project_id }}, {{ current_user }}, '{{ lang }}')">
        <div ncy-breadcrumb></div>
        <ui-view></ui-view>
    </div>
    <script src="scripts/angular/bin/assets/testing.js"></script>
{{/ is_properly_configured }}