{{^ is_properly_configured }}
    <div class="alert alert-info"><strong>{{ misconfigured_title }}</strong> {{ misconfigured_message }}</div>
    <img src="yuno.jpg" />
{{/ is_properly_configured }}
{{# is_properly_configured }}
    <div id="testing-app" ng-app="testing" ng-controller="TestingCtrl" ng-init="init('{{ node_server_address }}', {{ project_id }}, '{{ lang }}')">
        <div ncy-breadcrumb></div>
        <ui-view></ui-view>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="scripts/angular/bin/assets/testing.js"></script>
{{/ is_properly_configured }}