<div class="tlp-framed-vertically">
    <div class="tlp-framed-horizontally">
        <div class="empty-page">
            {{^ is_user_admin }}
                <span class="empty-page-text">
                    {{ config_is_not_fully_set_up }}
                    <br>
                    {{ come_back_later }}
                </span>
            {{/ is_user_admin}}

            {{# is_user_admin }}
                <span class="empty-page-text">
                    {{ config_is_not_fully_set_up }}
                    <br>
                    {{ help_message_config_not_fully_set_up }}
                </span>
                <form action="" method="POST">
                    {{# csrf_token }}
                        {{> csrf_token_input }}
                    {{/ csrf_token }}
                    <button type="submit" class="tlp-button-primary tlp-button-primary-large">
                    <input type="hidden" name="action" value="create-config" />
                        <i class="fa fa-play tlp-button-icon"></i>
                        {{ start_testmanagement }}
                    </button>
                </form>
            {{/is_user_admin}}
        </div>
    </div>
</div>
