<div id="admin-config-bot-delete-{{ id }}"
    class="modal hide fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="admin-config-bot-delete-title"
    aria-hidden="true"
>

    <div class="modal-header modal-header-error">
        <a role="button" class="close" data-dismiss="modal">×</a>
        <h3 id="modal-repository-delete-title">
            <i class="fa fa-trash-o"></i> {{ modal_delete_title }}</h3>
    </div>

    <div class="modal-body">
        <p>{{ modal_delete_content }}</p>
    </div>

    <div class="modal-footer">
        <form method="POST" action="/plugins/botmattermost_git/?action=delete_bot">
            {{# csrf_token }}
                {{> csrf_token_input }}
            {{/ csrf_token }}
            <input type="hidden" name="group_id" value="{{ project_id }}" />
            <input type="hidden" name="repository_id" value="{{ repository_id }}" />

            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ button_close }}</button>
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> {{ button_delete }}</button>
        </form>
    </div>

</div>
