<textarea id="field_new_action_0_{{ id }}"
    name="artifact[{{ id }}][description][]"
    rows="10"
    cols="50"
    data-format="{{ default_format }}"
    data-format-name="artifact[{{ id }}][description_format][]"
></textarea>
