{{# steps }}
    <div class="ttm-definition-step">
        <div class="ttm-definition-step-rank">{{ rank }}</div>
        <div class="ttm-definition-step-description">
            <input type="hidden" name="artifact[{{ field_id }}][id][]" value="{{ id }}">
            <textarea id="field_new_description_{{ rank }}_{{ field_id }}"
                name="artifact[{{ field_id }}][description][]"
                rows="10"
                cols="50"
                data-format="{{ description_format }}"
                data-format-name="artifact[{{ field_id }}][description_format][]"
            >{{ raw_description }}</textarea>
        </div>
    </div>
{{/ steps }}
{{^ steps }}
    <input type="hidden" name="artifact[{{ field_id }}][id][]" value="0">
    <textarea id="field_new_description_0_{{ field_id }}"
        name="artifact[{{ field_id }}][description][]"
        rows="10"
        cols="50"
        data-format="{{ default_format }}"
        data-format-name="artifact[{{ field_id }}][description_format][]"
    ></textarea>
{{/ steps }}