{{=<% %>=}}
<script src="scripts/angular/bin/assets/testing.js"></script>
<div ng-app="testing">
    <div ng-controller="campaign-list-controller" ng-cloak="">
        <div ng-init="init(<% campaign_tracker_id %>)"></div>
        {{ list }}
    </div>
</div>