<div class="tlp-framed">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    {{# dgettext }}tuleap-tracker_cce | Automated custom code execution{{/ dgettext }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                <p>Not yet implemented</p>
            </section>
        </div>
    </section>
</div>
