{{# has_at_least_one_action }}
    <div class="tracker-artifact-actions btn-group">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="icon-reorder"
               id="tracker-artifact-action-icon"
            ></i> {{# dgettext }} tuleap-tracker | Actions {{/ dgettext }}
            <span class="caret" id="tracker-action-icon"></span>
        </a>
        <ul class="dropdown-menu pull-right" id="tracker-action-button-section">
            {{> action-buttons/original-email }}
            {{> action-buttons/copy-artifact }}
            {{> action-buttons/move-artifact }}
            {{> action-buttons/graph-dependencies }}
            {{# divider }}
                <li class="divider" id="tracker-move-artifact-divider"></li>
            {{/ divider }}
            {{> action-buttons/mail-notifications }}
        </ul>
    </div>

    {{# should_load_modal }}
        <div id="move-artifact-modal"
             data-tracker-id="{{ tracker_id }}"
             data-tracker-name="{{ tracker_name }}"
             data-tracker-color="{{ tracker_color }}"
             data-artifact-id="{{ artifact_id }}"
        ></div>
    {{/ should_load_modal }}
{{/ has_at_least_one_action }}
