{{# has_at_least_one_action }}
    <div class="tracker-artifact-actions btn-group">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-test="tracker-artifact-actions">
            <i class="fa fa-bars"
               id="tracker-artifact-action-icon"
            ></i> {{# dgettext }} tuleap-tracker | Actions {{/ dgettext }}
            <span class="caret" id="tracker-action-icon"></span>
        </a>
        <ul class="dropdown-menu pull-right" id="tracker-action-button-section">
            {{> action-buttons/original-email }}
            {{> action-buttons/copy-artifact }}
            {{> action-buttons/move-artifact-button }}

            {{# has_at_least_one_additional_action }}
                <li class="divider"></li>
            {{/ has_at_least_one_additional_action }}

            {{# additional_buttons }}
                {{> action-buttons/additional-action-button }}
            {{/ additional_buttons }}

            {{# divider }}
                <li class="divider"></li>
            {{/ divider }}
            {{> action-buttons/mail-notifications }}
        </ul>
    </div>

    {{# should_load_modal }}
        {{> action-buttons/move-artifact-modal }}
    {{/ should_load_modal }}
{{/ has_at_least_one_action }}
