{{# artifact_copy_button_presenter }}
    <a role="menuitem" class="tlp-dropdown-menu-item" title="{{ title }}" href="{{ url }}" data-test="artifact-copy-button">
        <i class="tlp-dropdown-menu-item-icon fa-regular fa-fw fa-clone" aria-hidden="true"></i> {{ label }}
    </a>
{{/ artifact_copy_button_presenter }}
