{{# artifact_copy_button_presenter }}
    <li>
        <a class="btn tracker-action-button" title="{{ title }}" href="{{ url }}" data-test="artifact-copy-button">
            <i class="fa fa-fw fa-clone"></i> {{ label }}
        </a>
    </li>
{{/ artifact_copy_button_presenter }}
