{{# artifact_notifications_button_presenter }}
    <a class="tlp-dropdown-menu-item"
       role="menuitem"
       title="{{ title }}"
       href="{{ url }}"
       data-test="notifications-button"
    >
        <i class="tlp-dropdown-menu-item-icon fa-regular fa-fw {{ icon }}" aria-hidden="true"></i> {{ label }}
    </a>
{{/ artifact_notifications_button_presenter }}
