{{# artifact_move_button_presenter }}
    <li>
        <a class="btn tracker-action-button {{# hasError }}disabled{{/ hasError}}"
            id="tracker-action-button-move"
            data-test="tracker-action-button-move"
            {{# hasError }}title="{{ errors_content }}"{{/ hasError }}
        >
            <i class="fa fa-fw fa-long-arrow-right"></i>
            {{ label }}
        </a>
    </li>
{{/ artifact_move_button_presenter }}
