{{# artifact_move_button_presenter }}
    <a class="tlp-dropdown-menu-item {{# hasError }}tlp-dropdown-menu-item-disabled{{/ hasError}}"
       role="menuitem"
       id="tracker-action-button-move"
       data-test="tracker-action-button-move"
       {{# hasError }}title="{{ errors_content }}"{{/ hasError }}
    >
        <i class="tlp-dropdown-menu-item-icon fa-solid fa-fw fa-long-arrow-alt-right" aria-hidden="true"></i>
        {{ label }}
    </a>
{{/ artifact_move_button_presenter }}
