{{# artifact_original_email_button_presenter }}
    <li>
        <a class="tracker-action-button artifact-incoming-mail-button" data-raw-email="{{ raw_email }}">
            <i class="fa-fw far fa-envelope"></i> {{ label }}
        </a>
    </li>
{{/ artifact_original_email_button_presenter }}
