<h1>All Tests</h1>
<div class="results-elapsed-time">Time taken: {{elapsed-time}} seconds</div>
<div class="results-passes">
    1/1 test cases complete: <strong>3</strong> passes, <strong>0</strong>
    fails and <strong>0</strong> exceptions.
</div>