<h1 class="tlp-framed-horizontally">{{# gettext }}Project settings{{/ gettext }}</h1>

{{# navbar }}
<nav class="tlp-tabs">
    <a href="/admin/project-creation/moderation" class="tlp-tab {{# moderation_is_active }}tlp-tab-active{{/ moderation_is_active }}">{{# gettext }}Moderation{{/ gettext }}</a>
    <a href="/admin/project-creation/templates" class="tlp-tab {{# templates_is_active }}tlp-tab-active{{/ templates_is_active }}">{{# gettext }}Templates{{/ gettext }}</a>
    <a href="/admin/project-creation/webhooks" class="tlp-tab {{# webhooks_is_active }}tlp-tab-active{{/ webhooks_is_active }}">{{# gettext }}Webhooks{{/ gettext }}</a>
    <a href="/admin/project-creation/fields" class="tlp-tab {{# fields_is_active }}tlp-tab-active{{/ fields_is_active }}">{{# gettext }}Fields{{/ gettext }}</a>
    {{# are_trove_categories_enabled }}
    <a href="/admin/project-creation/categories" class="tlp-tab {{# categories_is_active }}tlp-tab-active{{/ categories_is_active }}">{{# gettext }}Categories{{/ gettext }}</a>
    {{/ are_trove_categories_enabled }}
    <a href="/admin/project-creation/visibility" class="tlp-tab {{# visibility_is_active }}tlp-tab-active{{/ visibility_is_active }}" data-test="project-visibility">{{# gettext }}Visibility{{/ gettext }}</a>
    <a href="/admin/project-creation/widgets" class="tlp-tab {{# widgets_is_active }}tlp-tab-active{{/ widgets_is_active }}">{{# gettext }}Widgets{{/ gettext }}</a>
</nav>
{{/ navbar }}
