<i class="fas fa-fw siteadmin-projectlist-result-project-access-icon
  {{# is_wide_open }}fa-tlp-unlock-plus-r{{/ is_wide_open }}
  {{# is_open }}fa-lock-open{{/ is_open }}
  {{# is_closed }}fa-lock{{/ is_closed }}
  {{# is_closed_incl_restricted }}fa-tlp-lock-plus-r{{/ is_closed_incl_restricted }}">
</i> {{ access }} {{# is_incl_restricted }} {{ incl_restricted_label }} {{/ is_incl_restricted }}
