{{# has_warning }}
    <div class='feedback_warning tlp-alert-warning'>{{ warning }}</div>
{{/ has_warning }}

{{^ has_warning }}
    <div id="burnup-chart" data-burnup="{{ burnup_data }}" data-locale="{{ user_locale }}" data-mode="{{ burnup_mode }}"></div>

    {{# can_burnup_be_regenerated }}
        <a class="btn chart-cache-button-generate" data-toggle="modal" href="#burnup-generate">
            {{# dgettext }} tuleap-agiledashboard | Force cache regeneration {{/ dgettext }}
        </a>
        <div class="modal hide fade" tabindex="-1"
             role="dialog"
             id="burnup-generate"
             aria-labelledby="burnup-generate-modal-title"
        >
            <div class="modal-header">
                <h3>{{# dgettext }} tuleap-agiledashboard | Force cache regeneration {{/ dgettext }}</h3>
            </div>
            <div class="modal-body">
                {{# dgettext }} tuleap-agiledashboard | Do you really want to force burnup cache regeneration? The burnup will be unavailable for a few minutes if you do. {{/ dgettext }}
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{# gettext }}Cancel{{/ gettext }}</button>
                <a class="btn btn-primary" href="/plugins/agiledashboard/?group_id={{ project_id }}&aid={{ artifact_id }}&action=burnup-cache-generate">
                    {{# dgettext }} tuleap-agiledashboard | Force cache regeneration {{/ dgettext }}
                </a>
            </div>
        </div>
    {{/ can_burnup_be_regenerated }}
{{/ has_warning }}
