<?php  // -*-html-*-
/* $Id: frame-footer.tmpl,v 1.2 2004/06/14 11:26:51 rurban Exp $
 *
 * This template is responsible mainly for the outer level <html> stuff.
 */
printf("<?xml version=\"1.0\" encoding=\"%s\"?>\n", CHARSET);
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?= Template('head') ?>
<body>
<hr class="printer" noshade="noshade" />
<p class="editdate"><?= $WikiTheme->getLastModifiedMessage($revision) ?></p>
<?= Template('bottom') ?>
</body>
</html>