{{# labels }}
    <span class="labeled-item-configuration-label tlp-badge-primary {{# is_outline }} tlp-badge-outline {{/ is_outline }} tlp-badge-{{ color }}">
         <i class="fa fa-tags"></i> {{ name }}
    </span>
{{/ labels }}
