<div class="labeled-items-widget">
    <labeled-items-list
        data-labels-id="{{ selected_labels_id }}"
        data-project-id="{{ project_id }}"
        data-locale="{{ locale }}"
    ></labeled-items-list>
</div>
