<div class="siteadmin-user-details-row">
    <div class="tlp-property siteadmin-user-details-row-field">
        <label class="tlp-label"> {{# dgettext }} tuleap-openidconnectclient | Connected OpenID Connect providers{{/ dgettext }} </label>
        <p>
            {{ provider_names }}
        </p>
    </div>
</div>
