@import "../../../../../../../src/www/themes/common/css/utils/colors";

.artifact-links-graph-modal {
    max-height: 70vh;
    height: 70vh;
}

.graph {
    display: block;
    height: 100%;
    max-height: 100%;
}

.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

circle {
    stroke-width: 2px;
    cursor: pointer;
    transition: stroke-width linear 0.05s;

    &:hover {
        stroke-width: 5px;
    }

    &.inca_silver {
        stroke: darken($inca_silver, 20%);
    }
    &.chrome_silver {
        stroke: darken($chrome_silver, 20%);
    }
    &.fiesta_red {
        stroke: darken($fiesta_red, 20%);
    }
    &.teddy_brown {
        stroke: darken($teddy_brown, 20%);
    }
    &.clockwork_orange {
        stroke: darken($clockwork_orange, 20%);
    }
    &.red_wine {
        stroke: darken($red_wine, 20%);
    }
    &.acid_green {
        stroke: darken($acid_green, 20%);
    }
    &.army_green {
        stroke: darken($army_green, 20%);
    }
    &.sherwood_green {
        stroke: darken($sherwood_green, 20%);
    }
    &.ocean_turquoise {
        stroke: darken($ocean_turquoise, 20%);
    }
    &.daphne_blue {
        stroke: darken($daphne_blue, 20%);
    }
    &.lake_placid_blue {
        stroke: darken($lake_placid_blue, 20%);
    }
    &.deep_blue {
        stroke: darken($deep_blue, 20%);
    }
    &.plum_crazy {
        stroke: darken($plum_crazy, 20%);
    }
    &.peggy_pink {
        stroke: darken($peggy_pink, 20%);
    }
    &.flamingo_pink {
        stroke: darken($flamingo_pink, 20%);
    }
}

text {
    cursor: pointer;
    font: 12px sans-serif;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.loader-node {
    visibility: hidden;
    position: absolute;
    left: 50%;
}

#artifact-links-graph-utils {
    position: absolute;

    button {
        width: 40px;
    }
}

.overlay {
    fill: none;
    pointer-events: all;
}

.graph-label {
    opacity: 0.8;

    .ref-name {
        fill: #FFF;
        font-weight: bold;
        text-shadow: none;
    }

    &:hover {
        text-decoration: none;

        > text:not(.ref-name) {
            text-decoration: underline;
        }
    }
}

.inca_silver {
    fill: $inca_silver;
}

.chrome_silver {
    fill: $chrome_silver;
}

.fiesta_red {
    fill: $fiesta_red;
}

.teddy_brown {
    fill: $teddy_brown;
}

.clockwork_orange {
    fill: $clockwork_orange;
}

.red_wine {
    fill: $red_wine;
}

.acid_green {
    fill: $acid_green;
}

.army_green {
    fill: $army_green;
}

.sherwood_green {
    fill: $sherwood_green;
}

.ocean_turquoise {
    fill: $ocean_turquoise;
}

.daphne_blue {
    fill: $daphne_blue;
}

.lake_placid_blue {
    fill: $lake_placid_blue;
}

.deep_blue {
    fill: $deep_blue;
}

.plum_crazy {
    fill: $plum_crazy;
}

.peggy_pink {
    fill: $peggy_pink;
}

.flamingo_pink {
    fill: $flamingo_pink;
}
