.test-campaigns-header {
    display: flex;
    align-items: flex-end;
    margin: 0 0 $tlp-spacing * 2;
}

.test-campaigns-header-title {
    margin: 0;
}

.new-campaign-button {
    margin: 0 0 0 $tlp-spacing;
}

.test-campaigns-header-spacer {
    flex: 1 1 auto;
}

.test-campaigns-search {
    flex: 0 0 25%;
}

.tlp-pane-container {
    overflow-y: auto;

    &.test-campaign-title-container {
        flex: 0 0 25%;
        justify-content: center;

        .test-campaign-title {
            margin: 0;
            font-size: 22px;
        }
    }
}

.test-campaign-progression-container {
    flex: 1 1 auto;
    justify-content: center;

    > .tlp-pane-section {
        display: table;
        width: 100%;
    }
}

.test-campaign-progression {
    display: table-row;
    text-align: center;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;

    > div:first-child {
        border-radius: 10px 0 0 10px;
    }
    > div:last-child {
        border-radius: 0 10px 10px 0;
    }
    > div:only-child {
        border-radius: 10px;
    }


    > .tests-passed {
        display: table-cell;
        padding: 2px;
        background: $tlp-ui-success;
        color: $tlp-ui-white;
    }
    > .tests-failed {
        display: table-cell;
        padding: 2px;
        background: $tlp-ui-danger;
        color: $tlp-ui-white;
    }
    > .tests-blocked {
        display: table-cell;
        padding: 2px;
        background: $tlp-ui-info;
        color: $tlp-ui-white;
    }
    > .tests-notrun {
        display: table-cell;
        padding: 2px;
        background: $tlp-ui-dimmed;
        color: $tlp-ui-white;
    }
}

.test-campaign-actions {
    flex: 0 0 auto;
    justify-content: center;
}

.no-campaign-info {
    display: flex;
    justify-content: center;
}

.load-closed-campaigns {
    display: flex;
    justify-content: center;
}

.edit-campaign-label-input,
.edit-campaign-job-url-input {
    max-width: 500px;
}

.edit-campaign-job-token-input {
    max-width: 300px;
}

.edit-campaign-tests-list-actions-spacer-small {
    flex: 0 0 1%;
}

.edit-campaign-tests-search-container {
    flex: 1 1 25%;
}

.edit-campaign-tests-list {
    table-layout: fixed;

    .tlp-table-cell-section {
        position: relative;
    }

    tbody > tr {
        cursor: pointer;
    }
}

.edit-campaign-tests-list-header {
    &.check {
        width: 2.25em;
    }
    &.id {
        width: 3.5em;
    }
}

.edit-campaign-tests-list-section-check {
    line-height: 1.1em;
    vertical-align: bottom;
}

.edit-campaign-tests-list-section-label {
    position: absolute;
    left: 2em;
}

.edit-campaign-tests-list-test {
    &.added {
        color: $tlp-ui-success;
    }
    &.removed {
        color: $tlp-swatch-chrome-silver;
        text-decoration: line-through;
    }
}

.edit-campaign-footer {
    justify-content: space-between;
}

.edit-campaign-tests-diff {
    margin-right: auto;
    align-self: center;

    > [class*="tlp-badge-"]:not(:last-child) {
        margin: 0 10px 0 0;
    }
}

.feedback-info:last-child,
.feedback-error:last-child,
.feedback-success:last-child {
    margin: 0 0 $tlp-spacing;
}
