<div id="testmanagement-app"
     ng-app="testmanagement"
     ng-controller="TestManagementCtrl"
>
    <div class="testmanagement-init-data" ng-non-bindable
         data-nodejs-server="{{ nodejs_server }}"
         data-project-id="{{ project_id }}"
         data-project-url="{{ project_url }}"
         data-project-public-name="{{ project_name }}"
         data-tracker-ids="{{ tracker_ids }}"
         data-issue-tracker-config="{{ issue_tracker_config }}"
         data-language="{{ lang }}"
         data-current-user="{{ current_user }}"
         data-current-milestone="{{ current_milestone }}"
         data-ttm-admin-url="{{ ttm_admin_url }}"
         data-ttm-admin-label="{{# gettext }}Administration{{/ gettext }}"
         data-is-list-picker-enabled="{{ is_list_picker_enabled }}"
    ></div>

    <div id="testmanagement-breadcrumb" class="breadcrumb-container">
        {{> breadcrumbs/breadcrumbs-privacy }}
        <div ncy-breadcrumb></div>
    </div>
    <ui-view></ui-view>
</div>
