<div class="ttm-definition-steps">
    {{^ steps }}
        {{{ purified_no_value_label }}}
    {{/ steps }}
    {{# steps }}
        <div class="ttm-definition-step ttm-definition-step-readonly" data-test="readonly-step">
            <div class="tlp-badge-rounded tlp-badge-secondary">{{ rank }}</div>
            <div class="ttm-definition-step-description">
                {{{ purified_description }}}
                {{# purified_expected_results }}
                    <section class="ttm-definition-step-expected" data-test="expected-results">
                        <i class="fa-solid fa-arrow-turn-up fa-rotate-90" aria-hidden="true"></i>
                        <div>
                            <div class="ttm-definition-step-expected-edit-title">
                                {{# dgettext }}tuleap-testmanagement | Expected results{{/ dgettext }}
                            </div>
                            {{{ purified_expected_results }}}
                        </div>
                    </section>
                {{/ purified_expected_results }}
            </div>
        </div>
    {{/ steps }}
</div>
