<div class="ttm-execution-steps">
    {{^ steps }}
        {{{ purified_no_value_label }}}
    {{/ steps }}
    {{# steps }}
        <div class="ttm-execution-step">
            {{# step }}
                <div class="tlp-badge-rounded tlp-badge-secondary">{{ rank }}</div>
                <div class="ttm-execution-step-description">
                    {{{ purified_description }}}
                    {{# purified_expected_results }}
                        <div class="ttm-execution-step-expected">
                            <i class="fa-solid fa-arrow-turn-up fa-rotate-90" aria-hidden="true"></i>
                            <div>
                                <div class="ttm-definition-step-expected-edit-title">
                                    {{# dgettext }}tuleap-testmanagement | Expected results{{/ dgettext }}
                                </div>
                                {{{ purified_expected_results }}}
                            </div>
                        </div>
                    {{/ purified_expected_results }}
                </div>
            {{/ step }}
            <div class="ttm-execution-step-status">
                <span class="label">{{ status }}</span>
            </div>
        </div>
    {{/ steps }}
</div>
