<div class="testplan-root">
    {{> test-plan/milestone-header }}

    <section class="tlp-framed-horizontally">
        <div class="empty-page">
            <div class="empty-page-text-with-small-text">
                {{# dgettext }} tuleap-testmanagement | Your browser is not supported.{{/ dgettext }}
                <div class="empty-page-small-text">
                    {{# dgettext }} tuleap-testmanagement | We recommend the latest version of Firefox, Chrome, or Edge.{{/ dgettext }}
                </div>
            </div>
        </div>
    </section>
</div>
