<div id="baseline-container"
     data-project-id="{{ project_id }}"
     data-project-public-name="{{ project_public_name }}"
     data-project-short-name="{{ project_short_name }}"
     data-project-icon="{{ project_icon }}"
     data-project-url="{{ project_url }}"
     data-privacy="{{ privacy }}"
     data-project-flags="{{ project_flags }}"
     data-is-admin="{{ is_admin }}"
     data-admin-url="{{ admin_url }}"
>
</div>
