$tooltip-background-color: darken($main-color, 34%);

.tooltip {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.2px;

    &.fade.in {
        opacity: 1;
    }

    .tooltip-inner {
        background: $tooltip-background-color;
        border-radius: 3px;
        padding: 7px 12px;
    }

    &.top .tooltip-arrow {
        border-top-color: $tooltip-background-color;
    }
    &.right .tooltip-arrow {
        border-right-color: $tooltip-background-color;
    }
    &.bottom .tooltip-arrow {
        border-bottom-color: $tooltip-background-color;
    }
    &.left .tooltip-arrow {
        border-left-color: $tooltip-background-color;
    }
}