<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
             <h1 class="tlp-pane-title">{{ title }}</h1>
        </div>
        <form class="tlp-pane-section" method="POST" action="/plugins/git/?group_id={{ project_id }}" data-test="repository-general-settings-form">
            {{# csrf_token }}
                {{> csrf_token_input }}
            {{/ csrf_token }}
            <input type="hidden" id="action" name="action" value="edit-general-settings" />
            <input type="hidden" name="pane" value="{{ pane_identifier }}" />
            <input type="hidden" id="repo_id" name="repo_id" value="{{ repository_id }}" />

            <div class="tlp-form-element">
                <label class="tlp-label" for="repo_desc">{{ repository_description_label }}</label>
                <textarea class="tlp-textarea" id="repo_desc" name="repo_desc" data-test="repository-description">{{ description }}</textarea>
            </div>

            {{# have_branches }}
                <div class="tlp-form-element">
                    <label class="tlp-label" for="repo-default-branch">{{# dgettext }} tuleap-git | Default branch {{/ dgettext }}</label>
                    <select name="repo-default-branch" id="repo-default-branch" class="tlp-select tlp-select-adjusted">
                        {{# available_branches }}
                            <option value="{{ branch_name }}" {{# is_default_branch }} selected="selected" {{/ is_default_branch }}>{{ branch_name }}</option>
                        {{/ available_branches }}
                    </select>
                </div>
            {{/ have_branches }}

            <div class="tlp-form-element">
                <label class="tlp-label tlp-checkbox">
                    <input type="hidden" name="allow-artifact-closure" value="0" />
                    <input type="checkbox" name="allow-artifact-closure" value="1" {{# allow_artifact_closure }}checked{{/ allow_artifact_closure }}>
                    {{# dgettext }} tuleap-git | Allow artifact closure{{/ dgettext }}
                </label>
                <p class="tlp-text-info">
                    {{# dgettext }}
                        tuleap-git |
                        If selected, artifacts of this project can be closed with commit messages from the repository.
                    {{/ dgettext }}
                </p>
            </div>

            <div class="tlp-pane-section-submit">
                <input type="submit" name="save" class="tlp-button-primary" value="{{ save_label }}" data-test="save-settings-button"/>
            </div>
        </form>
    </div>
</section>
