<div id="modal-logs-{{ id }}"
    class="modal hide fade hook-logs-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="hook-logs-modal-title-{{ id }}"
    aria-hidden="true"
>
    <div class="modal-header">
        <a role="button" class="close" data-dismiss="modal">×</a>
        <h3 id="hook-logs-modal-title-{{ id }}">{{ logs_for }}</h3>
    </div>

    <div class="modal-body">
        <table class="table hook-logs">
            <thead>
                <tr>
                    <th>{{ modal_logs_time_label }}</th>
                    <th>{{ modal_logs_info_label }}</th>
                </tr>
            </thead>
            <tbody>
                {{# hooklogs }}
                    <tr>
                       <td class="hook-log-date">{{ time }}</td>
                       <td>
                           {{{ purified_information }}}
                       </td>
                    </tr>
                {{/ hooklogs }}
                {{^ hooklogs }}
                    <tr>
                        <td class="table-cell-empty" colspan="2">
                            {{ empty_logs }}
                        </td>
                    </tr>
                {{/ hooklogs }}
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">{{ btn_close }}</button>
    </div>
</div>
