<div id="modal-logs-{{ id }}"
    class="tlp-modal"
    role="dialog"
    aria-labelledby="hook-logs-modal-title-{{ id }}"
>
    <div class="tlp-modal-header">
        <h1 id="hook-logs-modal-title-{{ id }}" class="tlp-modal-title" >{{ logs_for }}</h1>
        <button class="tlp-modal-close" type="button" data-dismiss="modal" aria-label="{{# dgettext }} tuleap-git | Close {{/ dgettext }}">
            <i class="fa-solid fa-xmark tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>

    <div class="tlp-modal-body">
        <table class="tlp-table">
            <thead>
                <tr>
                    <th>{{ modal_logs_time_label }}</th>
                    <th>{{ modal_logs_info_label }}</th>
                </tr>
            </thead>
            <tbody>
                {{# hooklogs }}
                    <tr>
                       <td>{{ time }}</td>
                       <td>
                           {{{ purified_information }}}
                       </td>
                    </tr>
                {{/ hooklogs }}
                {{^ hooklogs }}
                    <tr>
                        <td class="table-cell-empty" colspan="2">
                            {{ empty_logs }}
                        </td>
                    </tr>
                {{/ hooklogs }}
            </tbody>
        </table>
    </div>

    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal" aria-hidden="true">{{ btn_close }}</button>
    </div>
</div>
