<h2>{{ title }}</h2>

<form id="mail_prefix_form" action="/plugins/git/" method="POST">
    <input type="hidden" id="action" name="action" value="mail" />
    <input type="hidden" name="pane" value="{{ identifier }}" />
    <input type="hidden" id="group_id" name="group_id" value="{{ repository_project_id }}" />
    <input type="hidden" id="repo_id" name="repo_id" value="{{ repository_id }}" />

    <label for="mail_prefix">{{ mail_prefix_label }}</label>
    <input name="mail_prefix" id="mail_prefix" class="plugin_git_mail_prefix" type="text" value="{{ mail_prefix }}" />

    <h3>{{ notified_mails_title }}</h3>

    {{# has_notifications }}
        <table id="git-notification-mail-list" class="table table-bordered">
            <thead>
                <tr>
                    <th><i class="icon-trash"></i></th>
                    <th class="git-notification-mail-list-people">{{ notified_people }}</th>
                </tr>
            </thead>
            <tbody>
            {{# groups_to_be_notified }}
                <tr>
                    <td>
                    </td>
                    <td>
                        <i class="icon-group git-notification-mail-list-group-icon"></i>
                        {{ label }}
                    </td>
                </tr>
            {{/ groups_to_be_notified }}
            {{# users_to_be_notified }}
                <tr>
                    <td>
                        <input type="checkbox" name="remove_user[]" value="{{ user_id }}" />
                    </td>
                    <td class="git-notification-mail-list-user">
                        <div
                            class="avatar git-notification-mail-list-user-avatar"
                        >{{# has_avatar }}<img src="{{ avatar_url }}" />{{/ has_avatar }}</div>
                        {{ label }}
                    </td>
                </tr>
            {{/ users_to_be_notified }}
            {{# list_of_mails }}
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" name="remove_mail[]" value="{{ mail }}" title="delete" />
                        </label>
                    </td>
                    <td>{{ mail }}</td>
                </tr>
            {{/ list_of_mails }}
            </tbody>
        </table>
    {{/ has_notifications }}

    <label for="add_mail">{{ add_mail_title }}</label>
    <textarea id="add_mail" name="add_mail" class="text"></textarea>
    <p class="help-block">{{ add_mail_msg }}</p>
    <input type="submit" class="btn" value="{{ btn_submit }}" />
</form>
