<section class="tlp-pane">
    <div class="tlp-pane-container">
        <div class="tlp-pane-header">
            <h1 class="tlp-pane-title">
                {{# icon }}
                    <i class="tlp-pane-title-icon {{ . }}" aria-hidden="true"></i>
                {{/ icon }}
                {{ label }}
            </h1>
        </div>
        {{# sections }}
            <section class="tlp-pane-section-for-cards">
                {{# label }}
                    <h2 class="tlp-pane-subtitle">{{ . }}</h2>
                {{/ label }}
                {{# cross_references }}
                    <div class="tlp-card-container" id="{{ id }}">
                        <a
                            class="tlp-card tlp-card-selectable cross-reference tracker-cross-reference-card {{# can_delete }}tracker-cross-reference-card-deletable{{/ can_delete }}"
                            href="{{ url }}"
                        >
                            {{# title_badge }}
                                <span class="tlp-badge-{{ color }} tlp-badge-outline tracker-cross-reference-title-badge">
                                    {{ label }}
                                </span>
                            {{/ title_badge }}

                            <span class="tracker-cross-reference-title">
                                {{ title }}
                            </span>

                            {{# additional_badges }}
                                <span class="tlp-badge-secondary tlp-badge-outline tracker-cross-reference-additional-badge">
                                    {{ label }}
                                </span>
                            {{/ additional_badges }}
                        </a>
                        {{# can_delete }}
                            <a
                                class="tracker-cross-reference-delete-link delete_ref"
                                href='{{ delete_url }}'
                                onClick="return delete_ref('{{ id }}', '{{# dgettext }}tuleap-tracker | Delete the reference?{{/ dgettext }}');"
                                title="{{# dgettext }}tuleap-tracker | Delete{{/ dgettext }}"
                            >
                                <i class="far fa-trash-alt" aria-hidden="true"></i>
                            </a>
                        {{/ can_delete }}
                    </div>
                {{/ cross_references }}
            </section>
        {{/ sections }}
    </div>
</section>
