<h1>{{# dgettext }} tuleap-api_explorer | API Explorer {{/ dgettext }}</h1>

<p>{{# dgettext }} tuleap-api_explorer | The recommended way to interact with Tuleap is to leverage on the REST
    API. REST API has broad test coverage in Tuleap developers test suite and
    there is a large number of end points. Modern features (Kanban, Scrum Planning,
    etc) are using those APIs.{{/ dgettext }}</p>

<p>{{# dgettext }} tuleap-api_explorer
    | You can <a href="%s">get started</a> from the documentation.
    | /doc/en/user-guide/integration/rest.html {{/ dgettext }}<p>

<div id="api-explorer"></div>
