[Unit]
Description=The PHP FastCGI Process Manager for MediaWiki Tuleap
Documentation=https://docs.tuleap.org
After=tuleap.service
PartOf=tuleap.service
Conflicts=php82-php-fpm.service

[Service]
Type=notify
ExecStart=/opt/remi/php82/root/usr/sbin/php-fpm --nodaemonize --fpm-config /usr/share/tuleap/plugins/mediawiki_standalone/etc/php-fpm/mediawiki-tuleap.conf
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=tuleap.service
