<div class="planning-tracker-actions">
    <a id="planning-tracker-actions-menu_handle" href="#">Add new...</a>
    <ul class="dropdown_panel" id="planning-tracker-actions-menu">
        {{#backlogArtifactTypes}}
            <li class="planning-tracker-artifact-type">
                <a href="{{creationUrl}}">{{name}}</a>
            </li>
        {{/backlogArtifactTypes}}
    </ul>
</div>
