<div class="card-actions">
    <a id="card-actions-menu_handle" class="direct-link-to-artifact" href="{{{destination_link}}}">{{destination_xref}}</a>
    <ul class="dropdown_panel" id="card-actions-menu">
        <!-- li>
            <a href="{{{destination_link}}}">Edit</a>
            <hr style="border:0px; border-top:1px solid #ccc;"/>
        </li -->
        {{#backlogArtifactTypes}}
            <li>
                <a href="{{creationUrl}}">Add {{name}}</a>
            </li>
        {{/backlogArtifactTypes}}
    </ul>
</div>
