{{# global_nav_presenter }}
    {{# dropdown_menu_item_presenters }}
        {{> navbar/dropdown-menu-item/dropdown-menu-item }}
    {{/ dropdown_menu_item_presenters }}

    {{# menu_item_presenters }}
        {{> navbar/menu-item/menu-item }}
    {{/ menu_item_presenters }}
{{/ global_nav_presenter }}
