<a href="{{ link }}"
    class="
        {{# should_logo_be_displayed }}nav-link{{/ should_logo_be_displayed }}
        {{^ should_logo_be_displayed }}tlp-button-secondary tlp-button-outline{{/ should_logo_be_displayed }}
    "
    title="{{ label }}"
    {{# additional_attributes }} {{ . }}{{/ additional_attributes }}
>
    <span class="nav-link-text">{{ label }}</span>
</a>
