{{# navbar_presenter }}
<header>
    {{# has_motd }}
        <div class="header-motd">{{{ motd }}}</div>
    {{/ has_motd }}
    <div class="header-container">
        <div class="header-nav">
            <a href="/" id="logo" aria-label="{{ homepage_label }}"></a>

            {{> navbar/current-project-nav }}

            {{> navbar/global-nav }}
        </div>

        <div class="header-nav">
            {{> navbar/search }}

            {{> navbar/join-community }}

            {{> navbar/user-nav }}
        </div>
    </div>
</header>
{{/ navbar_presenter }}
