{{# navbar_presenter }}
{{# has_motd }}
    <div class="motd">{{{ motd }}}</div>
{{/ has_motd }}
<header class="{{# should_logo_be_displayed }}full-width{{/ should_logo_be_displayed }}">
    <div class="header-container">
        {{# should_logo_be_displayed }}
            {{> logo }}
        {{/ should_logo_be_displayed }}

        <div class="header-container-spacer"></div>

        {{# is_super_user }}
            <a href="/admin/" class="tlp-button-danger tlp-button-round tlp-button-outline go-to-admin" aria-label="{{# gettext }}Administration{{/ gettext }}" data-test="platform-administration-link">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </a>
        {{/ is_super_user }}

        {{> navbar/new-nav }}

        {{# switch_to }}
            <button type="button" class="tlp-button-secondary tlp-button-outline" id="switch-to-button" data-target-modal-id="switch-to-modal">
                <i class="fa fa-random tlp-button-icon" aria-hidden="true"></i>
                {{# gettext }}Projects...{{/ gettext }}
            </button>
        {{/ switch_to }}

        {{> navbar/user-nav }}
    </div>
</header>
{{/ navbar_presenter }}
