<form
    method="POST"
    action="{{ edit_url }}"
    class="tlp-modal"
    role="dialog"
    id="artifact-timetracking-edit-time-{{ id }}"
    aria-labelledby="timetracking-edit-time-modal-{{ id }}"
>
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="timetracking-edit-time-modal-{{ id }}">
            {{# dgettext }} tuleap-timetracking | Edit time {{/ dgettext }}
        </h1>
        <button type="button" class="tlp-modal-close" data-dismiss="modal" aria-label="{{# gettext }}Close{{/ gettext }}">
            <i class="fa-solid fa-xmark tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>

    <div class="tlp-modal-body">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}

        <input type="hidden" name="time-id" value="{{ id }}">

        <div class="tlp-form-element">
            <label class="tlp-label" for="edit-input-step">{{# dgettext }} tuleap-timetracking | Step {{/ dgettext }}</label>
            <input type="text" id="edit-input-step" name="timetracking-edit-time-step" value="{{ step }}" class="tlp-input" size="15">
        </div>

        <div class="tlp-form-element">
            <label class="tlp-label" for="artifact-timetracking-edit-date-picker">
                {{# dgettext }} tuleap-timetracking | Date {{/ dgettext }}
                <i class="fa-solid fa-asterisk" aria-hidden="true"></i>
            </label>
            <div class="tlp-form-element tlp-form-element-prepend">
                <span class="tlp-prepend"><i class="fa-solid fa-calendar-days" aria-hidden="true"></i></span>
                <input type="text" id="artifact-timetracking-edit-date-picker" class="tlp-input" size="11" value="{{ day }}" data-test="timetracking-edit-row-date" required>
            </div>
        </div>

        <div class="tlp-form-element">
            <label class="tlp-label" for="edit-input-time">
                {{# dgettext }} tuleap-timetracking | Time {{/ dgettext }}
                <i class="fa-solid fa-asterisk" aria-hidden="true"></i>
            </label>
            <input type="text"
                   id="edit-input-time"
                   class="tlp-input"
                   name="timetracking-edit-time-time"
                   data-test="timetracking-edit-row-time"
                   placeholder="{{# dgettext }} tuleap-timetracking | hh:mm {{/ dgettext }}"
                   pattern="{{ pattern }}"
                   size="4"
                   required
                   value="{{ time }}"
            >
        </div>
    </div>

    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{# gettext }}Close{{/ gettext }}
        </button>
        <button type="submit"
               class="tlp-button-primary tlp-modal-action"
               name="timetracking-edit-time"
               data-test="timetracking-edit-time"
        >{{# dgettext }} tuleap-timetracking | Edit time {{/ dgettext }}</button>
    </div>
</form>
