<form
    method="POST"
    action="{{ add_url }}"
    class="tlp-modal"
    role="dialog"
    id="timetracking-add-time-modal"
    aria-labelledby="timetracking-add-time-modal-title"
>
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="timetracking-add-time-modal-title">
            {{# dgettext }} tuleap-timetracking | Add a new time {{/ dgettext }}
        </h1>
        <button type="button" class="tlp-modal-close" data-dismiss="modal" aria-label="{{# gettext }}Close{{/ gettext }}">
            <i class="fa-solid fa-xmark tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>

    <div class="tlp-modal-body">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}

        <div class="tlp-form-element">
            <label class="tlp-label" for="input-step">{{# dgettext }} tuleap-timetracking | Step {{/ dgettext }}</label>
            <input
                type="text"
                id="input-step"
                name="timetracking-new-time-step"
                class="tlp-input"
                data-test="timetracking-new-row-step"
                size="15"
            >
        </div>

        <div class="tlp-form-element">
            <label class="tlp-label" for="artifact-timetracking-date-picker">
                {{# dgettext }} tuleap-timetracking | Date {{/ dgettext }}
                <i class="fa-solid fa-asterisk" aria-hidden="true"></i>
            </label>
            <div class="tlp-form-element tlp-form-element-prepend">
                <span class="tlp-prepend"><i class="fa-solid fa-calendar-days" aria-hidden="true"></i></span>
                <input type="text" id="artifact-timetracking-add-date-picker" class="tlp-input" size="11" value="{{ default_date_value }}" required>
            </div>
        </div>

        <div class="tlp-form-element">
            <label class="tlp-label" for="input-time">
                {{# dgettext }} tuleap-timetracking | Time {{/ dgettext }}
                <i class="fa-solid fa-asterisk" aria-hidden="true"></i>
            </label>
            <input type="text"
                   id="input-time"
                   class="tlp-input"
                   name="timetracking-new-time-time"
                   data-test="timetracking-new-row-time"
                   placeholder="{{# dgettext }} tuleap-timetracking | hh:mm {{/ dgettext }}"
                   pattern="{{ pattern }}"
                   size="4"
                   required
            >
        </div>
    </div>

    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-primary tlp-button-outline tlp-modal-action" data-dismiss="modal">{{# gettext }}Close{{/ gettext }}</button>
        <button type="submit"
               class="tlp-button-primary tlp-modal-action"
               name="timetracking-add-time"
               data-test="timetracking-add-time"
        >{{# dgettext }} tuleap-timetracking | Add time {{/ dgettext }}</button>
    </div>
</form>
