<IfModule mod_php4.c>
<Files uploads>
ForceType application/x-httpd-php
</Files>
</IfModule>

<IfModule sapi_apache2.c>
<Files uploads>
 AcceptPathInfo on
 SetOutputFilter PHP
 SetInputFilter PHP
</Files>
</IfModule>
