<ul class="nav nav-tabs">
  <li><a href="/plugins/testing/?group_id=1&resource=campaign">Campaigns</a></li>
  <li class="active"><a href="/plugins/testing/?group_id=1&resource=requirement">Requirements</a></li>
</ul>
<p>
    <a href="/plugins/testing/?group_id=1&resource=requirement&action=new" class="btn"><i class="icon-plus"></i> Create new requirement</a>
</p>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>N°</th>
            <th>Exigence</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/plugins/testing/?group_id=1&resource=requirement&action=show&id=123">1.1.1.23</a></td>
            <td>Field accepts numeric data entry</td>
            <td>7</td>
        </tr>
            <td><a href="/plugins/testing/?group_id=1&resource=requirement&action=show&id=123">1.1.1.24</a></td>
            <td>Field only accepts dates before the current date</td>
            <td>3</td>
        </tr>
        </tr>
            <td><a href="/plugins/testing/?group_id=1&resource=requirement&action=show&id=123">1.1.1.25</a></td>
            <td>Screen can print on-screen data to the printer</td>
            <td>4</td>
        </tr>
        <tr>
            <td><a href="/plugins/testing/?group_id=1&resource=requirement&action=show&id=123">1.1.2.1</a></td>
            <td>Data must be entered before a request can approved</td>
            <td>6</td>
        </tr>
            <td><a href="/plugins/testing/?group_id=1&resource=requirement&action=show&id=123">1.1.2.2</a></td>
            <td>Clicking the Approve Button moves the request to the Approval Workflow</td>
            <td>4</td>
        </tr>
        </tr>
            <td><a href="/plugins/testing/?group_id=1&resource=requirement&action=show&id=123">1.2.1.32</a></td>
            <td>All personnel using the system will be trained according to internal SOP AA-101</td>
            <td>4</td>
        </tr>
        </tr>
            <td>…</td>
            <td>…</td>
            <td>…</td>
        </tr>
    </tbody>
</table>
