[Unit]
Description=Tuleap git system events
Documentation=https://docs.tuleap.org

[Service]
Type=simple
User=codendiadm
ExecStart=/usr/bin/tuleap process-system-event git

[Install]
WantedBy=multi-user.target
