[Unit]
Description=Tuleap git system events
Documentation=https://docs.tuleap.org

[Timer]
OnCalendar=*:*:00
RandomizedDelaySec=1min
Unit=tuleap-process-system-events-git.service

[Install]
WantedBy=timers.target
