/**
 * $Id: phpwiki-topbottombars.css 1422 2005-04-12 13:33:49Z guerin $
 *
 */
@import url("phpwiki.css");


/**
 * General settings
 */
body {
  padding-top: 9ex;
  padding-bottom: 9ex;
}


/**
 * Common toolbar settings
 * Note that div.toolbar is used for other toolbars besides
 * #navbar and #actionbar, such as in editpage and removepage
 */
div#header, div#footer {
  background: ivory;
  margin: 0px;
  padding: 0px;
  position: fixed;
  left:  0px;
  right: 0px;
  padding-top:    1ex;
  padding-bottom: 1ex;
  padding-left:  1em;
  padding-right: 1em;
}
hr.toolbar {
  display: none;
}

p.editdate { margin-bottom: 0.5ex; }


/* For emacs users
 *
 * Local Variables:
 * mode: c
 * c-file-style: cc-mode
 * End:
 */
