<?xml version='1.0'?>
<phpunit bootstrap="bootstrap.php" verbose="true" colors="auto"
         failOnRisky="true" beStrictAboutChangesToGlobalState="true" beStrictAboutTestsThatDoNotTestAnything="true">
    <php>
        <ini name="date.timezone" value="Europe/Paris"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>../../src/common/Dashboard/Dashboard.php</file>
            <directory suffix=".php">../../src/common/frs/PermissionsPerGroup</directory>
            <directory suffix=".php">../../src/common/password/</directory>
            <directory suffix=".php">../../plugins/proftpd/include</directory>
            <directory suffix=".php">../../plugins/crosstracker/include</directory>
            <directory suffix=".php">../../plugins/agiledashboard/include/</directory>
            <directory suffix=".php">../../plugins/git/include/Git/PermissionsPerGroup</directory>
            <directory suffix=".php">../../plugins/dynamic_credentials/include/</directory>
            <directory suffix=".php">../../plugins/velocity/include/</directory>
            <directory suffix=".php">../../plugins/create_test_env/include/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Core Tests">
            <directory>common</directory>
        </testsuite>
        <testsuite name="Plugins">
            <directory>../../plugins/*/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>
