<?xml version='1.0'?>
<phpunit bootstrap="bootstrap.php" verbose="true" colors="auto"
         failOnRisky="true" beStrictAboutChangesToGlobalState="true" beStrictAboutTestsThatDoNotTestAnything="true">
    <php>
        <ini name="date.timezone" value="Europe/Paris"/>
        <ini name="memory_limit" value="256M" /><!-- Needed for code coverage generation in PHP 5.6 -->
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>../../src/common/Dashboard/Dashboard.php</file>
            <file>../../src/common/include/LoaderScheduler.php</file>
            <file>../../src/common/include/CookieManager.class.php</file>
            <file>../../plugins/git/include/Git/HTTP/HTTPAccessControl.php</file>
            <file>../../plugins/tracker/include/Tracker/FormElement/Tracker_FormElement_Field_Numeric.class.php</file>
            <file>../../plugins/tracker/include/Tracker/XML/Exporter/ChangesetValue/ChangesetValuePermissionsOnArtifactXMLExporter.class.php</file>
            <file>../../plugins/tracker/include/Tracker/XML/Updater/MoveChangesetXMLUpdater.php</file>
            <file>../../plugins/tracker/include/Tracker/Action/BeforeMoveArtifact.php</file>
            <file>../../plugins/tracker/include/Tracker/Action/MoveStatusSemanticChecker.php</file>
            <file>../../plugins/tracker/include/Tracker/Action/MoveTitleSemanticChecker.php</file>
            <file>../../plugins/tracker/include/Tracker/Action/MoveDescriptionSemanticChecker.php</file>
            <file>../../plugins/tracker/include/Tracker/Action/MoveContributorSemanticChecker.php</file>
            <directory suffix=".php">../../src/common/user</directory>
            <directory suffix=".php">../../src/common/frs/PermissionsPerGroup</directory>
            <directory suffix=".php">../../src/common/Password/</directory>
            <directory suffix=".php">../../src/common/ForgeAccess/</directory>
            <directory suffix=".php">../../src/common/Webhook/</directory>
            <directory suffix=".php">../../src/common/session/</directory>
            <directory suffix=".php">../../plugins/pluginsadministration/include</directory>
            <directory suffix=".php">../../plugins/proftpd/include</directory>
            <directory suffix=".php">../../plugins/crosstracker/include</directory>
            <directory suffix=".php">../../plugins/agiledashboard/include/</directory>
            <directory suffix=".php">../../plugins/tracker/include/Tracker/FormElement/Field/ListFields</directory>
            <directory suffix=".php">../../plugins/git/include/Git/PermissionsPerGroup</directory>
            <directory suffix=".php">../../plugins/git/include/GitPHP/git/</directory>
            <directory suffix=".php">../../plugins/dynamic_credentials/include/</directory>
            <directory suffix=".php">../../plugins/velocity/include/</directory>
            <directory suffix=".php">../../plugins/create_test_env/include/</directory>
            <directory suffix=".php">../../plugins/timetracking/include/</directory>
            <directory suffix=".php">../../plugins/pullrequest/include/</directory>
            <directory suffix=".php">../../plugins/mfa/include/</directory>
            <directory suffix=".php">../../plugins/captcha/include/</directory>
            <directory suffix=".php">../../plugins/tracker/include/Tracker/Artifact/Changeset/</directory>
            <directory suffix=".php">../../plugins/cardwall/include/Cardwall</directory>
            <directory suffix=".php">../../plugins/admindelegation/include</directory>
            <directory suffix=".php">../../plugins/bugzilla_reference/include/Bugzilla</directory>
            <directory suffix=".php">../../plugins/hudson/include/</directory>
            <directory suffix=".php">../../plugins/archivedeleteditems/include/</directory>
            <directory suffix=".php">../../plugins/forumml/include/</directory>
            <directory suffix=".php">../../plugins/crosstracker/include/CrossTracker</directory>
            <directory suffix=".php">../../plugins/hudson_svn/include</directory>
            <directory suffix=".php">../../plugins/label/include</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Core Tests">
            <directory>common</directory>
        </testsuite>
        <testsuite name="Plugins">
            <directory>../../plugins/*/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>
