<?php // -*-html-*-
rcs_id('$Id: browse.tmpl,v 1.26 2004/12/10 03:05:58 rurban Exp $');
?>

<?php if ($revision and !$revision->isCurrent()) { ?>
  <p><strong><?=_("Note:")?></strong>
     <?=_("You are viewing an old revision of this page.")?>
  <?= Button('browse', _("View the current version"), $page)?>.
  </p>
<?php } ?>
<?php if (!empty($redirected)) { ?>
  <p><?= $redirected ?></p>
<?php } ?>

<?=$CONTENT?>

<div id="footer"><?php // for top & bottom toolbars stylesheet ?>
  <?=Template('browse-footer')?>
</div>
