<?php
rcs_id('$Id: dialog.tmpl,v 1.5 2004/06/14 11:26:52 rurban Exp $');
/* 
 * A "popup" dialog.  (Though it doesn't pop up yet.)
 */
printf("<?xml version=\"1.0\" encoding=\"%s\"?>\n", CHARSET);
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?=CHARSET?>" />
<meta name="robots" content="noindex, nofollow" />
<meta name="generator" content="phpWiki" />
<meta name="PHPWIKI_VERSION" content="<?=PHPWIKI_VERSION?>" />
<base href="<?=PHPWIKI_BASE_URL?>" />
<?= $WikiTheme->getCSS() ?>
<title><?=WIKI_NAME . ' - ' . _("Dialog")?></title>
</head>
<body>
<div class="dialog">
<h1><?=$HEADER?></h1>

<div class="message"><?=$CONTENT?></div>
<p class="buttons"><?=$BUTTONS?></a></p>
</div>
</body>
<?php
if (defined('DEBUG') and DEBUG) {
    printf("<!-- phpwiki source: \n%s-->\n", $RCS_IDS);
}
?>
</html>
