<?php // -*-html-*- ?>
<!-- $Id: savepage.tmpl,v 1.10 2004/12/10 03:05:58 rurban Exp $ -->
<?php
    $signatureURL = $WikiTheme->getImageURL('signature');
?>
<p><?=fmt("Thank you for editing %s.", WikiLink($page))?> 
<?=_("Your careful attention to detail is much appreciated.")?></p>

<?php if (!empty($WARNINGS)) { ?>
  <p><strong><?=_("Warning!")?></strong> <?= $WARNINGS ?></p>
<?php } ?>

<?php if ($signatureURL) { ?>
  <p><img src="<?=$signatureURL?>" id="signature" /></p>
<?php } ?>

<?php if (!empty($LOCK_CHANGED_MSG)) { ?>
  <p><?=$LOCK_CHANGED_MSG?></p>
<?php } ?>

<hr noshade="noshade" />
<?= Template('browse') ?>
