{{# has_additional_panes }}
    <div class="tlp-framed-horizontally project-admin-permission-per-group">

        <section class="tlp-pane permission-per-group-search-section">
            <div class="tlp-pane-container">
                <div class="tlp-pane-header">
                    <h1 class="tlp-pane-title"><i class="fa fa-search tlp-pane-title-icon"></i>
                        {{# gettext }}Search{{/ gettext }}</h1>
                </div>
                <section class="tlp-pane-section">
                    <form>
                        <input type="hidden" value="{{ group_id }}" name="group_id">
                        <div class="tlp-form-element">
                            <label class="tlp-label" for="group">{{# gettext }}Group{{/ gettext }}</label>
                            <select id="group" name="group" class="tlp-select">
                                <option value="">{{# gettext }}All groups{{/ gettext }}</option>
                                {{# groups }}
                                    <option value="{{ id }}" {{# is_selected }}
                                            selected="selected" {{/ is_selected }}>{{ name }}</option>
                                {{/ groups }}
                            </select>
                        </div>
                        <div class="tlp-form-element">
                            <button type="submit" class="tlp-button-primary tlp-button-wide">
                                <i class="fa fa-search tlp-button-icon"></i>{{# gettext }}Search{{/ gettext }}
                            </button>
                        </div>
                    </form>
                </section>
            </div>
        </section>
        <section class="permission-per-group-result-section">

            {{# additional_panes }}
                {{{ . }}}
            {{/ additional_panes }}
        </section>
    </div>
{{/ has_additional_panes }}

{{^ has_additional_panes }}
    <section class="empty-page">
        <div class=" empty-page-text">
            {{# gettext }}This project doesn't use any services with permissions.{{/ gettext }}
        </div>
    </section>
{{/ has_additional_panes }}
