<form method="POST"
      action="/project/{{ project_id }}/admin/user-group/{{ id }}/remove"
      class="tlp-modal tlp-modal-medium-sized tlp-modal-danger user-group-remove-member-modal"
      role="dialog"
      id="project-admin-remove-user-from-group-modal"
      aria-labelledby="project-admin-remove-user-from-group-modal-title"
>
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="project-admin-remove-user-from-group-modal-title">
            <i class="fa fa-trash-o tlp-modal-title-icon"></i>
            {{# gettext }}Remove group member{{/ gettext }}
        </h1>
        <div class="tlp-modal-close" tabindex="0" role="button" data-dismiss="modal" aria-label="{{# gettext }}Close{{/ gettext }}">
            &times;
        </div>
    </div>
    <div class="tlp-modal-body remove-user-from-group-modal-text">
        <input type="hidden" name="remove_user" id="project-admin-remove-user-from-group-modal-user-id">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        <p id="project-admin-remove-user-from-group-modal-description"></p>
    </div>
    <div class="tlp-modal-footer">
        <button type="reset" class="tlp-button-danger tlp-button-outline tlp-modal-action" data-dismiss="modal">
            {{# gettext }}Cancel{{/ gettext }}
        </button>
        <button
            type="submit"
            class="tlp-button-danger tlp-button-outline tlp-modal-action"
            name="remove-from-ugroup"
            value="remove-from-ugroup-and-project"
            id="project-admin-remove-user-from-group-modal-remove-from-project"
        >
            <i class="fa fa-trash-o tlp-button-icon"></i> {{# gettext }}Remove from this group and project{{/ gettext }}
        </button>
        <button type="submit" class="tlp-button-danger tlp-modal-action" name="remove-from-ugroup" value="remove-from-ugroup-only">
            <i class="fa fa-trash-o tlp-button-icon"></i> {{# gettext }}Remove from this group{{/ gettext }}
        </button>
    </div>
</form>
