<div class="tlp-framed">
    <p>
         <a href="/project/{{ project_id }}/admin/references" class="back-to-references">
            <i class="fa-solid fa-arrow-left-long" aria-hidden="true"></i>
            {{# gettext }}Back to references{{/ gettext }}
         </a>
    </p>

    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">{{# gettext }}Create a new reference pattern{{/ gettext }}</h1>
            </div>

            <section class="tlp-pane-section">
                <form name="form_create" method="POST" action="">
                    {{# csrf_token }}
                        {{> csrf_token_input }}
                    {{/ csrf_token }}
                     <input type="hidden" name="action" VALUE="do_create">
                     <div class="tlp-form-element">
                         <label class="tlp-label" for="keyword">
                              {{# gettext }}Keyword{{/ gettext }} <i class="fa-solid fa-asterisk" aria-hidden="true"></i>
                         </label>
                         <input type="text" required id="keyword" name="keyword" size="25" maxlength="25" class="tlp-input" data-test="add-reference-keyword-input">

                     </div>
                     <div class="tlp-form-element">
                        <label class="tlp-label" for="description">
                             {{# gettext }}Description{{/ gettext }}
                        </label>
                        <input type="text" id="description" name="description" size="70" maxlength="255" class="tlp-input">
                    </div>
                    <div class="tlp-form-element">
                        <label class="tlp-label" for="nature">
                             {{# gettext }}Nature{{/ gettext }}
                        </label>
                        <select name="nature" id="nature" class="tlp-select tlp-select-adjusted">
                            {{#natures}}
                                <option value="{{ nature_key }}"> {{ nature_label }}</option>
                            {{/natures}}
                        </select>
                    </div>
                    <div class="tlp-form-element">
                        <label class="tlp-label" for="link">
                             {{# gettext }}Link{{/ gettext }}<i class="fa-solid fa-asterisk" aria-hidden="true"></i>
                        </label>
                        <input required type="text" name="link" size="70" maxlength="255" class="tlp-input" data-test="add-reference-link-input">
                        <p class="tlp-text-info">
                               <i class="fa-regular fa-life-ring" aria-hidden="true"></i>
                               {{# gettext }}
                                  See %sreference pattern configuration%s for usage |
                                  <a href="/doc/{{ short_locale }}/user-guide/project-admin.html#reference-pattern-configuration"> |
                                  </a>
                               {{/ gettext }}
                        </p>
                    </div>
                    {{# is_super_user_in_default_template }}
                        <div class="tlp-form-element">
                            <label class="tlp-label" for="services">
                                 {{# gettext }}Bound to service{{/ gettext }}
                            </label>
                            <select name="service_short_name" id="services" class="tlp-select tlp-select-adjusted">
                                {{# services_reference }}
                                    <option value="{{ service_key }}"> {{ service_label }}</option>
                                {{/ services_reference }}
                            </select>
                        </div>
                        <div class="tlp-form-element">
                            <label class="tlp-label" for="scope">
                                 {{# gettext }}Scope{{/ gettext }}
                            </label>
                            {{# gettext }}System{{/ gettext }}
                            <input type="hidden" name="scope" VALUE="S">
                        </div>
                    {{/ is_super_user_in_default_template }}
                    {{^ is_super_user_in_default_template }}
                        <input type="hidden" name="service_short_name" VALUE="100">
                        <input type="hidden" name="scope" VALUE="P">
                    {{/ is_super_user_in_default_template }}
                    <div class="tlp-form-element">
                        <label class="tlp-label">
                            <input type="checkbox" name="is_used" checked>
                            {{# gettext }}Enabled{{/ gettext }}
                        </label>
                    </div>
                    {{# is_super_user_in_default_template }}
                        <div class="tlp-form-element">
                            <label class="tlp-label" for="force" title="{{# gettext }}Force reference pattern creation{{/ gettext }}">
                                <input type="checkbox" name="force" id="force">
                                {{# gettext }}Bypass filters{{/ gettext }}
                            </label>
                        </div>
                    {{/ is_super_user_in_default_template }}

                    <div class="tlp-pane-section-submit">
                        <button type="submit" class="tlp-button-primary" name="create" data-test="add-reference-create-button">
                             {{# gettext }}Create{{/ gettext }}
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </section>
</div>
