<div class="tlp-framed-horizontally">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <div class="tlp-pane-title">
                    {{# gettext }}Manage references{{/ gettext }}
                </div>
            </div>
            <section class="tlp-pane-section">
                <div class="tlp-table-actions">
                    <div class="tlp-table-actions">
                        <a href="{{ create_reference_url }}" class="tlp-button-primary tlp-table-actions-element">
                            <i class="tlp-button-icon fa fa-plus"></i>
                            {{^ is_template_project }}
                                {{# gettext }}New project reference{{/ gettext }}
                            {{/ is_template_project }}
                            {{# is_template_project }}
                                {{# gettext }}New system reference{{/ gettext }}
                            {{/ is_template_project }}
                        </a>
                    </div>
                </div>

                <table data-test="table-test" class="tlp-table">
                    <thead>
                        {{# is_template_project }}
                            <th>{{# gettext }}Reference ID{{/ gettext }}</th>
                        {{/ is_template_project }}
                        {{^ is_template_project }}
                            <th>{{# gettext }}Keyword{{/ gettext }}</th>
                        {{/ is_template_project }}
                        <th>{{# gettext }}Description{{/ gettext }}</th>
                        <th>{{# gettext }}Nature{{/ gettext }}</th>
                        <th>{{# gettext }}Status{{/ gettext }}</th>
                        {{# is_template_project }}
                            <th>{{# gettext }}Scope{{/ gettext }}</th>
                            <th>{{# gettext }}Bound to service{{/ gettext }}</th>
                        {{/ is_template_project }}
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tlp-table-cell-section" colspan="8"> {{# gettext }}Project references{{/ gettext }}</td>
                        </tr>
                        {{^ has_project_references }}
                            <tr>
                                <td colspan="8" class="tlp-table-cell-empty">
                                    {{# gettext }}There is no project references{{/ gettext }}
                                </td>
                            </tr>
                        {{/ has_project_references }}
                        {{# has_project_references }}
                            {{# project_references }}
                                {{> reference-pattern-row }}
                            {{/ project_references }}
                        {{/ has_project_references }}
                        <tr>
                            <td class="tlp-table-cell-section" colspan="8"> {{# gettext }}System references{{/ gettext }}</td>
                        </tr>
                        {{^ has_system_references }}
                            <tr>
                                <td colspan="8" class="tlp-table-cell-empty">
                                    {{# gettext }}There is no system references{{/ gettext }}
                                </td>
                            </tr>
                        {{/ has_system_references }}
                        {{# has_system_references }}
                            {{# system_references }}
                                {{> reference-pattern-row }}
                            {{/ system_references }}
                        {{/ has_system_references }}
                        {{# has_external_references }}
                            <tr>
                                <td class="tlp-table-cell-section" colspan="8"> {{# gettext }}External references{{/ gettext }}</td>
                            </tr>
                            {{# has_external_references }}
                                {{> external-system-references }}
                            {{/ has_external_references }}
                        {{/ has_external_references }}
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</div>

{{# has_warning_messages }}
    <div class="tlp-alert-warning">
        {{# warning_messages }} {{ . }} {{/ warning_messages }}
    </div>
{{/ has_warning_messages }}
