<p><h2>{{ page_title }}</h2></p>

<p>
    <h3>{{# gettext }}New reference pattern{{/ gettext }}</h3>
    <a href="{{ create_reference_url }}">{{# gettext }}Create a new reference pattern{{/ gettext }}</a>
<p>

{{# has_external_references }}
    {{> external-system-references }}
{{/ has_external_references }}

<h3>{{# gettext }}Manage system reference patterns{{/ gettext }}</h3>

<table data-test="table-test" width="100%" border="0" cellspacing="1" cellpadding="2">
	<tbody>
        <tr class="boxtable">
            {{> reference-table-header }}
            {{# is_template_project }}
                <td class="boxtitle">{{# gettext }}Delete{{/ gettext }}</td>
            {{/ is_template_project }}
        </tr>
        {{# system_references }}
            {{> reference-pattern-row }}
        {{/ system_references }}
    </tbody>
</table>

<h3>{{# gettext }}Manage project reference patterns{{/ gettext }}</h3>

<table data-test="table-test" width="100%" border="0" cellspacing="1" cellpadding="2">
	<tbody>
        <tr class="boxtable">
            {{> reference-table-header }}
            <td class="boxtitle">{{# gettext }}Delete{{/ gettext }}</td>
        </tr>
        {{# project_references }}
            {{> reference-pattern-row }}
        {{/ project_references }}
    </tbody>
</table>

{{# has_warning_messages }}
    <div class="alert">
        {{# warning_messages }} {{ . }} {{/ warning_messages }}
    </div>
{{/ has_warning_messages }}
