{{# is_template_project }}
    <td class="boxtitle">{{# gettext }}Reference ID{{/ gettext }}</td>
{{/ is_template_project }}
{{^ is_template_project }}
    <td class="boxtitle">{{# gettext }}Keyword{{/ gettext }}</td>
{{/ is_template_project }}
<td class="boxtitle">{{# gettext }}Description{{/ gettext }}</td>
<td class="boxtitle">{{# gettext }}Nature{{/ gettext }}</td>
<td class="boxtitle">{{# gettext }}Status{{/ gettext }}</td>
{{# is_template_project }}
    <td class="boxtitle">{{# gettext }}Scope{{/ gettext }}</td>
    <td class="boxtitle">{{# gettext }}Bound to service{{/ gettext }}</td>
{{/ is_template_project }}