#!/bin/bash
#
# chkconfig: 2345 20 80
# description: some startup script

. /etc/rc.d/init.d/functions

RETVAL=0
prog="tuleap-realtime"
SUPERVISORD=/usr/bin/supervisord
LOCKFILE=/var/lock/subsys/tuleap-realtime
PID_FILE=/var/run/supervisord.pid
OPTIONS="${OPTIONS--c /etc/tuleap-realtime.conf}"
LOG_FILE=$(grep -Po "(?<=^logfile).*" /etc/tuleap-realtime.conf | cut -d '=' -f 2 | xargs)

start()
{
        echo -n $"Starting $prog: "
        $SUPERVISORD $OPTIONS --pidfile $PID_FILE
        sleep 1s
        if [ $(ps aux | grep -v grep | grep 'server.js' | wc -l) -le 0 ]; then
                RETVAL=1
                killproc -p $PID_FILE -d 10 $SUPERVISORD
                failure
                echo
                echo $(tail -1 $LOG_FILE | head -1)
        else
                RETVAL=0
                success
                echo
                touch $LOCKFILE
        fi
        return $RETVAL
}

stop()
{
        echo -n $"Stopping $prog: "
        killproc -p $PID_FILE -d 10 $SUPERVISORD
        RETVAL=$?
        echo
        [ $RETVAL -eq 0 ] && rm -rf $LOCKFILE $PID_FILE
}

case "$1" in
        start)
                start
                ;;
        stop)
                stop
                ;;
        restart)
                stop
                start
                ;;
        condrestart)
                if status -p $PID_FILE $SUPERVISORD >&/dev/null; then
                        stop
                        start
                fi
                ;;
        status)
                status -p $PID_FILE $SUPERVISORD
                if [ $(ps aux | grep -v grep | grep 'server.js' | wc -l) -gt 0 ]; then
                    echo $prog is running...
                else
                    echo $prog is stopped
                fi
                ;;
        *)
                echo $"Usage: $0 {start|stop|restart|condrestart|status}"
                RETVAL=1
esac
exit $RETVAL