
module cvs 1.0;

require {
	type var_lock_t;
	type lib_t;
	type user_home_dir_t;
	type httpd_sys_content_t;
	type user_home_t;
	type cvs_t;
	type var_lib_t;
	class lnk_file read;
	class dir { search read create write getattr rmdir remove_name add_name };
	class file { read create unlink getattr execute_no_trans };
}

#============= cvs_t ==============
allow cvs_t httpd_sys_content_t:dir { read search };
allow cvs_t lib_t:file execute_no_trans;
allow cvs_t user_home_dir_t:dir search;
allow cvs_t user_home_t:dir search;
allow cvs_t var_lib_t:dir search;
allow cvs_t var_lock_t:dir { search read create write getattr rmdir remove_name add_name };
allow cvs_t var_lock_t:file { create unlink };
