<button class="btn btn-mini toggle-diff">
    <i class="fa fa-caret-right" ></i> {{# dgettext }} tuleap-tracker |Show diff{{/ dgettext }}
</button>

<div class="diff follow-up-diff">{{{ purified_formatted_diff }}}</div>
