<div class="dashboard-widget-content-cross-tracker-writing-mode cross-tracker-hide">
    <div class="dashboard-widget-content-cross-tracker-error dashboard-widget-content-cross-tracker-too-many-selected-error">
        <div class="tlp-alert-danger">
            {{ too_many_trackers_selected_error }}
        </div>
    </div>

    <div class="dashboard-widget-content-cross-tracker-form">
        <div class="dashboard-widget-content-cross-tracker-form-projects tlp-form-element">
            <label class="tlp-label" for="project">{{ project_label }} <i class="fa fa-asterisk"></i></label>
            <select class="dashboard-widget-content-cross-tracker-form-projects-input tlp-select" id="project" name="project">
            </select>
        </div>
        <div class="dashboard-widget-content-cross-tracker-form-trackers tlp-form-element">
            <label class="tlp-label" for="tracker">{{ tracker_label }} <i class="fa fa-asterisk"></i></label>
            <div class="tlp-form-element tlp-form-element-append">
                <select class="dashboard-widget-content-cross-tracker-form-trackers-input tlp-select" id="tracker" name="tracker">
                </select>
                <button type="button"
                        class="dashboard-widget-content-cross-tracker-form-trackers-add tlp-append tlp-append tlp-button-primary tlp-button-outline tlp-button"
                >
                    <i class="fa fa-plus tlp-button-icon"></i> {{ add_button_label }}
                </button>
            </div>
        </div>
    </div>
    <div class="dashboard-widget-content-cross-tracker-form-trackers-selected"></div>

    <div class="dashboard-widget-content-cross-tracker-writing-mode-actions">
        <button class="tlp-button-primary tlp-button-outline tlp-button-small dashboard-widget-content-cross-tracker-writing-mode-actions-cancel">{{ cancel }}</button>
        <button class="tlp-button-primary tlp-button-small dashboard-widget-content-cross-tracker-writing-mode-actions-search">{{ search }}</button>
    </div>
    <script class="dashboard-widget-content-cross-tracker-form-trackers-placeholder" type="x-tmpl-mustache">
        {{=<% %>=}}
            <option value="" class="dashboard-widget-content-cross-tracker-please-choose-option"><% please_choose_label %></option>
            {{# trackers.length }}
                {{# trackers }}
                    <option value="{{ id }}" {{# disabled }}disabled="disabled"{{/ disabled }}>{{ label }}</option>
                {{/ trackers }}
            {{/ trackers.length }}
        <%={{ }}=%>
    </script>
    <span class="tracker-selector-error dashboard-widget-content-cross-tracker-errormessage">{{ could_not_fetch_list_of_trackers_error }}</span>
    <span class="project-selector-error dashboard-widget-content-cross-tracker-errormessage">{{ could_not_fetch_list_of_projects_error }}</span>
</div>