{{# cross_tracker_presenter }}
    <div id="dashboard-widget-content-cross-tracker">
        <div class="empty-pane">
            <p class="empty-pane-text">
                {{ nothing_selected }}
            </p>
        </div>
    </div>
{{/ cross_tracker_presenter }}