{{# cross_tracker_presenter }}
    <div class="widget-cross-tracker"
         ng-controller="MainController"
         ng-init="init(
                '{{ language }}',
                {{ user_id }}
            )"
    >
        <empty-state></empty-state>
    </div>
{{/ cross_tracker_presenter }}