@import "colors";

#executions {

    #no-current-execution, #current-execution {
        box-sizing: border-box;
    }

    #no-current-execution {
        padding: 20% 30px 0;
        text-align: center;
        font-size: 2em;
        font-weight: 300;
        letter-spacing: 0.03em;
        line-height: 1.2em;
        color: #CCC;
    }

    #stack-execution {
        height: 100%;
        margin: 30px;
        perspective: 1000px;
        perspective-origin: 50% -150px;
        list-style: none;

        > li {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            box-sizing: border-box;
            background: rgba(255, 255, 255, 1);
        }

        #current-execution {
            display: flex;
            flex-direction: column;
            z-index: 4;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        #stack-first {
            display: none;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -33, 1);
            z-index: 2;
            background-color: #C3C3C3;
        }

        #stack-second {
            display: none;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -70, 1);
            z-index: 1;
            background-color: #D8D8D8;
        }

        #current-execution-title {
            color: #FFFFFF;

            > h2 {
                margin: 0;
                padding: 15px 10px;
                font-weight: 300;
                font-size: 22px;
                letter-spacing: 0.03em;
                line-height: 30px;
                background: $notrun;
                border-radius: 4px 4px 0 0;

                > #show-artifact-links-graph-modal {
                    position: relative;
                    top: 10px;
                    float: right;
                    cursor: pointer;
                    transition: opacity linear 0.07s;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                > #edit-artifact {
                    position: relative;
                    top: 4px;
                    margin-right: 5px;
                    float: right;
                    transition: opacity linear .07s;
                    color: #ffffff;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                &.passed {
                    background: $passed;
                    transition: all 0.08s linear;
                }

                &.failed {
                    background: $failed;
                    transition: all 0.08s linear;
                }

                &.blocked {
                    background: $blocked;
                    transition: all 0.08s linear;
                }
            }
        }

        #current-execution-last-execution {
            padding: 8px;
            font-size: 15px;
            font-weight: 400;
            color: #FFF;
            text-align: center;

            &.passed {
                background: lighten($passed, 15%);
                transition: all 0.08s linear;

                .read-more {
                    background: -moz-linear-gradient(top, rgba(88, 179, 89, 0) 0%, rgba(88, 179, 89, 1) 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(88, 179, 89, 0)), color-stop(100%, rgba(88, 179, 89, 1)));
                    background: -webkit-linear-gradient(top, rgba(88, 179, 89, 0) 0%, rgba(88, 179, 89, 1) 100%);
                    background: -o-linear-gradient(top, rgba(88, 179, 89, 0) 0%, rgba(88, 179, 89, 1) 100%);
                    background: -ms-linear-gradient(top, rgba(88, 179, 89, 0) 0%, rgba(88, 179, 89, 1) 100%);
                    background: linear-gradient(to bottom, rgba(88, 179, 89, 0) 0%, rgba(88, 179, 89, 1) 100%);
                }
            }

            &.failed {
                background: lighten($failed, 15%);
                transition: all 0.08s linear;

                .read-more {
                    background: -moz-linear-gradient(top, lighten(rgba(218, 83, 83, 0), 15%) 0%, lighten(rgba(218, 83, 83, 1), 15%) 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten(rgba(218, 83, 83, 0), 15%)), color-stop(100%, lighten(rgba(218, 83, 83, 1), 15%)));
                    background: -webkit-linear-gradient(top, lighten(rgba(218, 83, 83, 0), 15%) 0%, lighten(rgba(218, 83, 83, 1), 15%) 100%);
                    background: -o-linear-gradient(top, lighten(rgba(218, 83, 83, 0), 15%) 0%, lighten(rgba(218, 83, 83, 1), 15%) 100%);
                    background: -ms-linear-gradient(top, lighten(rgba(218, 83, 83, 0), 15%) 0%, lighten(rgba(218, 83, 83, 1), 15%) 100%);
                    background: linear-gradient(to bottom, lighten(rgba(218, 83, 83, 0), 15%) 0%, lighten(rgba(218, 83, 83, 1), 15%) 100%);
                }
            }

            &.blocked {
                background: lighten($blocked, 15%);
                transition: all 0.08s linear;

                .read-more {
                    background: -moz-linear-gradient(top, rgba(88, 180, 206, 0) 0%, rgba(88, 180, 206, 1) 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(88, 180, 206, 0)), color-stop(100%, rgba(88, 180, 206, 1)));
                    background: -webkit-linear-gradient(top, rgba(88, 180, 206, 0) 0%, rgba(88, 180, 206, 1) 100%);
                    background: -o-linear-gradient(top, rgba(88, 180, 206, 0) 0%, rgba(88, 180, 206, 1) 100%);
                    background: -ms-linear-gradient(top, rgba(88, 180, 206, 0) 0%, rgba(88, 180, 206, 1) 100%);
                    background: linear-gradient(to bottom, rgba(88, 180, 206, 0) 0%, rgba(88, 180, 206, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
                }
            }

            img {
                position: relative;
                top: -1px;
                width: 13px;
                height: 13px;
                margin: 0 5px;
            }

            #last-execution-comment {
                margin: 20px 0 0;
                font-size: 12px;
                max-height: 60px;
                position: relative;
                overflow-y: hidden;
                transition: max-height 0.3s;

                .read-more {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    height: 25px;
                    width: 100%;
                    transition: all 0.3s;
                }

                &:hover {
                    max-height: 1000px;

                    .read-more {
                        bottom: -25px;
                    }
                }
            }
        }

        #current-execution-description {
            padding: 10px;
            flex: 1 1 auto;
            font-size: 0.9em;
            color: #444;
            overflow-y: auto;
            box-sizing: border-box;
        }

        #current-execution-result {
            form {
                margin: 0;
                padding: 10px;
                box-sizing: border-box;
                border-top: 1px solid #E5E5E5;

                > div {
                    display: flex;
                    align-items: center;

                    textarea {
                        width: 100%;
                        height: 30px;
                        box-sizing: border-box;
                        transition: all 100ms ease-in-out;

                        &:not(:focus) {
                            border: 1px solid #DCDCDC;
                        }

                        &:focus {
                            height: 100px;
                        }
                    }
                }

                #result-choices {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    box-sizing: border-box;
                    padding: 10px;

                    .btn-circle {

                        &.btn-xl {
                            width: 70px;
                            height: 70px;
                            padding: 10px 16px;
                            font-size: 24px;
                            border-radius: 35px;
                        }

                        &.btn-default {
                            background-image: linear-gradient(to bottom, #E0E0E0, #BBBBBB);
                        }

                        &.btn-default:hover {
                            background-position: 0 0;
                            background-image: linear-gradient(to bottom, #dbdbdb, #bababa);
                        }

                        &:focus {
                            outline: 0;
                        }
                    }
                }
            }
        }
    }
}