#executions {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: row;
    background: #f0f1f8;
    box-sizing: border-box;

    > div.ng-scope {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .alert-error {
        top: 0;
        right: 0;
        position: absolute;
        box-sizing: border-box;
        transition: all;

        &.ng-enter {
            -webkit-animation: fadeIn 0.2s;
            -moz-animation: fadeIn 0.2s;
            -ms-animation: fadeIn 0.2s;
            animation: fadeIn 0.2s;
        }
        &.ng-leave {
            -webkit-animation: fadeOut 0.2s;
            -moz-animation: fadeOut 0.2s;
            -ms-animation: fadeOut 0.2s;
            animation: fadeOut 0.2s;
        }
    }
}

.hide-toolbar {
    display: none;
}
