#execution-presences {
    padding: 0;
    border-bottom: 1px solid;

    .execution-presence {
        display: flex;
        justify-content: space-between;
        margin: 1px 0 0;
        border-bottom: 1px solid #F3F3F3;

        & > .presence-avatar {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%;
            min-width: 25%;
            max-width: 85%;
            min-height: 50px;

            & > .avatar-information {
                display: flex;
                align-items: center;

                & > img {
                    margin: 0 10px 0 0;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                }

                & > .avatar-names {
                    display: flex;
                    flex-direction: column;
                    min-width: 0;

                    & > span {
                        padding: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    & > .avatar-real-name {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 400;
                    }

                    & > .avatar-user-name {
                        font-weight: 400;
                        font-size: 13px;
                        opacity: 0.7;
                    }
                }
            }

            & > .avatar-score {
                padding-left: 10px;
                font-size: 34px;
            }
        }
    }

    #execution-presences-podium-firsts {
        border-bottom: 3px solid #E7E7E7;
        color: #FFFFFF;

        & > .execution-presence {
            position: relative;
            overflow: hidden;

            & > .presence-avatar {
                background: rgba(88, 179, 89, 0.8);
            }

            & > i {
                position: absolute;
                bottom: -22px;
                max-width: 15%;
                opacity: 0.7;
            }
        }

        :nth-child(1) > i {
            right: -19px;
            font-size: 85px;
            color: gold;
        }

        :nth-child(2) > i {
            right: -20px;
            font-size: 75px;
            color: silver;
        }

        :nth-child(3) > i {
            right: -21px;
            font-size: 65px;
            color: #DAA46F;
        }

        :last-child {
            border-bottom: 0;
        }
    }

    #execution-presences-podium-lasts {
        color: #FFFFFF;

        & > .execution-presence {

            & > .presence-avatar {
                background: rgba(77, 179, 208, 0.79);
            }
        }

        :last-child {
            border-bottom: 0;
        }
    }
}
