@import "colors";

#execution-utils {
    height: 80px;
    box-sizing: border-box;
    background: #f0f1f8;
    padding: 5px 12px;

    #execution-utils-information {
        display: flex;
        align-items: center;
        height: 50%;

        #execution-utils-campaign {
            display: flex;
            align-items: center;

            h1 {
                margin-right: 10px;
                font-size: 30px;
                font-weight: 400;
            }
        }

        #execution-utils-avatars {
            position: relative;
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            & > .execution-avatar {
                position: relative;

                & > img {
                    margin: 0 5px 0 0;
                    border-radius: 50%;
                }

                & > .presence-score {
                    padding: 1px 5px;
                    position: absolute;
                    right: 0;
                    font-size: 10px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 15px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -khtml-border-radius: 50%;
                    -moz-border-radius: 50%;
                    color: #fff;
                }

                & > .presence-score.ng-animate {
                    -webkit-animation: bounceIn 0.3s;
                    -moz-animation: bounceIn 0.3s;
                    -ms-animation: bounceIn 0.3s;
                    animation: bounceIn 0.3s;
                }
            }

            & > .execution-avatar:nth-child(1) {
                .presence-score {
                    top: -6px;
                    right: -1px;
                }
                > img {
                    width: 30px;
                    height: 30px;
                }
            }

            & > .execution-avatar:nth-child(2) {
                .presence-score {
                    top: -9px;
                    right: -1px;
                }
                > img {
                    width: 25px;
                    height: 25px;
                }
            }

            & > .execution-avatar:nth-child(4) {
                padding-left: 20px;
            }

            & > .execution-avatar:nth-child(n+7) {
                display: none;
            }

            & > .execution-avatar:not(:nth-child(1)):not(:nth-child(2)) {
                .presence-score {
                    top: -11px;
                    right: -2px;
                }

                & > img {
                    width: 20px;
                    height: 20px;
                }
            }

            #more-avatars {
                position: relative;
                padding-right: 10px;
                cursor: pointer;

                & > i {
                    padding: 5px;
                    font-size: 10px;
                }
            }
        }
    }

    #execution-utils-progress-bar {
        display: flex;
        flex: 1 1 auto;
        min-width: 30%;
        margin-top: 10px;

        > div {
            position: relative;
            text-align: center;
            color: white;
            font-weight: bold;
            padding: 4px;
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            height: 7px;
            line-height: 7px;

            &.sense-of-progress-failed {
                background: linear-gradient(to bottom, lighten($failed, 5%), $failed);
            }

            &.sense-of-progress-blocked {
                background: linear-gradient(to bottom, lighten($blocked, 5%), $blocked);
            }

            &.sense-of-progress-passed {
                background: linear-gradient(to bottom, lighten($passed, 5%), $passed);
            }

            &.sense-of-progress-notrun {
                background: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                color: #888;
            }

            &:first-child {
                border-radius: 4px 0 0 4px;
            }

            &:last-child {
                border-radius: 0 4px 4px 0;
            }

            &:only-child {
                border-radius: 4px;
            }
        }
    }
}

#executions {

    #executions-pane {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        background: #FFFFFF;
        overflow: hidden;

        #execution-filter {
            flex: 0 1 auto;
            padding: 15px 12px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
            z-index: 2;
            background: #FCFCFC;

            form {
                margin: 0;
            }

            #filter {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                > div {
                    flex: 1;
                    padding: 0 2px;
                }

                input {
                    width: 100%;
                    height: 30px;
                    box-sizing: border-box;
                    margin: 0;
                }

                select {
                    width: 100%;
                }

                .btn-group > label {
                    position: relative;
                    width: 25%;
                    height: 29px;
                    box-sizing: border-box;

                    > img {
                        max-width: auto;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin: -9px 0 0 -8px;
                    }
                }
            }
        }

        #execution-list {
            overflow-y: auto;

            .category {
                padding-left: 10px;
                font-weight: bold;
                background-color: #DDD;
                text-transform: uppercase;
                font-size: 0.8em;
            }

            .execution-item {
                display: block;
                color: #333;
                text-decoration: none;
                cursor: pointer;
                padding: 0;
                transition: all 0.1s;

                & > .execution-item-content {
                    display: table;
                    width: 100%;
                    border-bottom: 1px solid #DDD;
                    line-height: 1.9em;

                    & > .execution-item-content-title {
                        display: table-cell;
                        margin-right: 5px;
                        padding: 8px;
                        font-size: 0.9em;

                        & > span > .avatar {
                            margin: 0 5px 0 0;
                            border-radius: 50%;
                            width: 24px;
                            height: 24px;

                            &.ng-enter {
                                -webkit-animation: bounceIn 0.3s;
                                -moz-animation: bounceIn 0.3s;
                                -ms-animation: bounceIn 0.3s;
                                animation: bounceIn 0.3s;
                            }
                        }

                        & > .execution-item-content-id {
                            margin-right: 10px;
                            letter-spacing: 0.05em;
                        }
                    }
                }

                &:last-child {
                    & > .execution-item-content {
                        border-bottom: none;
                    }
                }

                &.notrun {
                    border-left: 8px solid #EEE;
                }

                &.passed {
                    border-left: 8px solid $passed;
                    color: $passed;

                    & > .execution-item-content {
                        background: url('status-passed-color.png') no-repeat right 10px center;
                    }
                }

                &.failed {
                    border-left: 8px solid $failed;
                    color: $failed;

                    & > .execution-item-content {
                        background: url('status-failed-color.png') no-repeat right 10px center;
                    }
                }

                &.blocked {
                    border-left: 8px solid $blocked;
                    color: $blocked;

                    & > .execution-item-content {
                        background: url('status-blocked-color.png') no-repeat right 10px center;
                    }
                }

                &:hover, &.active {
                    background-color: #F5F5F5;
                }
            }
        }
    }

    .in {
        -webkit-animation: fadeIn 0.2s ease;
        -moz-animation: fadeIn 0.2s ease;
        -ms-animation: fadeIn 0.2s ease;
        animation: fadeIn 0.2s ease;
    }
}
