@passed: #468847;  /* badge-success */
@failed: #b94a48;   /* badge-important */
@blocked: #3a87ad; /* badge-info */

.category {
    padding-left: 10px;
    font-weight: bold;
    background-color: #DDD;
    text-transform: uppercase;
    font-size: 0.8em;
}
.execution-list {
    & > .execution-item {
        border-bottom: 1px solid #DDD;

        & > .execution-item-content {
            border-left: 4px solid white;
            padding: 8px 15px;

            &.passed {
                border-left-color: @passed;
                color: @passed;
            }

            &.failed {
                border-left-color: @failed;
                color: @failed;
            }

            &.blocked {
                border-left-color: @blocked;
                color: @blocked;
            }
        }
    }
}