@passed: #468847;  /* badge-success */
@failed: #b94a48;   /* badge-important */
@blocked: #3a87ad; /* badge-info */

#executions {
    height: 100%;
    max-width: 1200px;

    #executions-pane {
        height: 100%;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);

        h1 {
            padding: 5px 12px 10px;
        }

        #execution-filter {
            padding: 0 12px;
            margin: 0 0 10px;

            .row-fluid {
                margin: 0 0 10px;
            }

            input {
                margin: 0;
            }

            select {
                width: 100%;
            }

            .btn-group > label {
                width: 25%;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }

        .category {
            padding-left: 10px;
            font-weight: bold;
            background-color: #DDD;
            text-transform: uppercase;
            font-size: 0.8em;
        }
        .execution-list {
            & > .execution-item {
                border-bottom: 1px solid #DDD;

                & > .execution-item-content {
                    border-left: 4px solid white;
                    margin: 0 5px 0 0;
                    padding: 8px 20px 8px 7px;

                    &.passed {
                        border-left-color: @passed;
                        color: @passed;
                        background: url('status-passed-color.png') no-repeat right center;
                    }

                    &.failed {
                        border-left-color: @failed;
                        color: @failed;
                        background: url('status-failed-color.png') no-repeat right center;
                    }

                    &.blocked {
                        border-left-color: @blocked;
                        color: @blocked;
                        background: url('status-blocked-color.png') no-repeat right center;
                    }
                }
            }
        }
    }

    #current-execution {
        background: #FCFCFC;
    }
}