@passed: #58B359;  /* badge-success */
@passed-rgb: '88,179,89';  /* badge-success */
@failed: #DA5353;  /* badge-important */
@failed-rgb: '218,83,83';  /* badge-important */
@blocked: #58B4CE; /* badge-info */
@blocked-rgb: '88,180,206'; /* badge-info */
@notrun: #AAAAAA;

#executions {
    height: 100%;
    width: 100%;
    background: #FCFCFC;

    > div.ng-scope {
        height: 100%;
    }

    #executions-pane {
        float: left;
        height: 100%;
        width: 40%;
        background: #FFFFFF;

        #execution-list {
            height: 100%;
            overflow: auto;

            h1 {
                padding: 5px 12px 10px;
            }

            #execution-filter {
                padding: 0 12px;
                margin: 0 0 10px;

                .row-fluid {
                    margin: 0 0 10px;
                }

                input {
                    margin: 0;
                }

                select {
                    width: 100%;
                }

                .btn-group > label {
                    position: relative;
                    width: 25%;
                    height: 29px;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    > img {
                        max-width: auto;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin: -9px 0 0 -8px;
                    }
                }

                @media screen and (max-width: 1060px) {
                    .row-fluid {
                        margin: 0;
                    }

                    [class*="span"] {
                        float: none;
                        width: 100%;
                        margin: 0 0 10px;
                    }
                }
            }

            .sens-of-progress {
                width: 100%;

                > tbody > tr > td {
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    padding: 4px;
                    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);

                    &.sens-of-progress-failed {
                        background: linear-gradient(to bottom, lighten(@failed, 5%), @failed);
                    }

                    &.sens-of-progress-blocked {
                        background: linear-gradient(to bottom, lighten(@blocked, 5%), @blocked);
                    }

                    &.sens-of-progress-passed {
                        background: linear-gradient(to bottom, lighten(@passed, 5%), @passed);
                    }

                    &.sens-of-progress-notrun {
                        background: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                        color: #888;
                    }

                    &:first-child {
                        border-radius: 4px 0 0 4px;
                    }

                    &:last-child {
                        border-radius: 0 4px 4px 0;
                    }
                }
            }

            .category {
                padding-left: 10px;
                font-weight: bold;
                background-color: #DDD;
                text-transform: uppercase;
                font-size: 0.8em;
            }

            .execution-item {
                display: block;
                color: #333;
                text-decoration: none;
                cursor: pointer;
                padding: 0;
                transition: all 0.1s;

                & > .execution-item-content {
                    display: table;
                    width: 100%;
                    border-bottom: 1px solid #DDD;
                    line-height: 1.9em;

                    & > .execution-item-content-title {
                        display: table-cell;
                        margin-right: 5px;
                        padding: 8px;
                        font-size: 0.9em;

                        & > .avatar {
                            margin: 0 5px 0 0;
                            border-radius: 50%;
                            width: 24px;
                            height: 24px;

                            &.ng-enter {
                                -webkit-animation: bounceIn 0.3s;
                                -moz-animation: bounceIn 0.3s;
                                -ms-animation: bounceIn 0.3s;
                                animation: bounceIn 0.3s;
                            }

                            &.ng-leave {
                                -webkit-animation: fadeOut 0.15s;
                                -moz-animation: fadeOut 0.15s;
                                -ms-animation: fadeOut 0.15s;
                                animation: fadeOut 0.15s;
                            }
                        }

                        & > .execution-item-content-id {
                            margin-right: 10px;
                            letter-spacing: 0.05em;
                        }
                    }

                    & > .execution-item-content-environment {
                        display: table-cell;
                        width: 100px;
                        padding: 0 32px 0 0;
                        vertical-align: middle;
                        text-align: right;
                        font-size: 0.7em;
                        color: #999;
                        letter-spacing: -0.03em;
                    }
                }

                &:last-child {
                    & > .execution-item-content {
                        border-bottom: none;
                    }
                }

                &.notrun {
                    border-left: 8px solid #EEE;
                }

                &.passed {
                    border-left: 8px solid @passed;
                    color: @passed;

                    & > .execution-item-content {
                        background: url('status-passed-color.png') no-repeat right 10px center;
                    }
                }

                &.failed {
                    border-left: 8px solid @failed;
                    color: @failed;

                    & > .execution-item-content {
                        background: url('status-failed-color.png') no-repeat right 10px center;
                    }
                }

                &.blocked {
                    border-left: 8px solid @blocked;
                    color: @blocked;

                    & > .execution-item-content {
                        background: url('status-blocked-color.png') no-repeat right 10px center;
                    }
                }

                &:hover, &.active {
                    background-color: #F5F5F5;
                }
            }
        }
    }

    .in {
        -webkit-animation: fadeIn 0.2s ease;
        -moz-animation: fadeIn 0.2s ease;
        -ms-animation: fadeIn 0.2s ease;
        animation: fadeIn 0.2s ease;
    }

    #no-current-execution, #current-execution {
        float: left;
        height: 100%;
        min-height: 100%;
        width: 60%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #no-current-execution {
        padding: 20% 30px 0;
        text-align: center;
        font-size: 2em;
        font-weight: 300;
        letter-spacing: 0.03em;
        line-height: 1.2em;
        color: #CCC;
    }

    .alert-error {
        float: left;
        position: relative;
        margin: 2% 2%;
        z-index: 1;
        width: 56%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: all;

        &.ng-enter {
            -webkit-animation: fadeIn 0.2s;
            -moz-animation: fadeIn 0.2s;
            -ms-animation: fadeIn 0.2s;
            animation: fadeIn 0.2s;
        }
        &.ng-leave {
            -webkit-animation: fadeOut 0.2s;
            -moz-animation: fadeOut 0.2s;
            -ms-animation: fadeOut 0.2s;
            animation: fadeOut 0.2s;
        }
    }

    #current-execution {
        position: relative;
        background: #FFFFFF;

        #current-execution-title {
            color: #FFFFFF;

            > h2 {
                margin: 0;
                padding: 10px;
                font-weight: 300;
                font-size: 1.8em;
                letter-spacing: 0.05em;
                background: @notrun;

                > #show-artifact-links-graph-modal {
                    position: relative;
                    top: 10px;
                    float: right;
                    cursor: pointer;
                    transition: opacity linear 0.07s;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                > #edit-artifact {
                    margin-right: 10px;
                    position: relative;
                    top: 8px;
                    float: right;
                    cursor: pointer;
                    transition: opacity linear 0.07s;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                &.passed {
                    background: @passed;
                    transition: all 0.08s linear;
                }

                &.failed {
                    background: @failed;
                    transition: all 0.08s linear;
                }

                &.blocked {
                    background: @blocked;
                    transition: all 0.08s linear;
                }
            }
        }

        #current-execution-last-execution {
            &.passed {
                background: lighten(@passed, 15%);
                transition: all 0.08s linear;

                .read-more {
                    background: -moz-linear-gradient(top,  rgba(88,179,89,0) 0%, rgba(88,179,89,1) 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,179,89,0)), color-stop(100%,rgba(88,179,89,1)));
                    background: -webkit-linear-gradient(top,  rgba(88,179,89,0) 0%,rgba(88,179,89,1) 100%);
                    background: -o-linear-gradient(top,  rgba(88,179,89,0) 0%,rgba(88,179,89,1) 100%);
                    background: -ms-linear-gradient(top,  rgba(88,179,89,0) 0%,rgba(88,179,89,1) 100%);
                    background: linear-gradient(to bottom,  rgba(88,179,89,0) 0%,rgba(88,179,89,1) 100%);
                }
            }

            &.failed {
                background: lighten(@failed, 15%);
                transition: all 0.08s linear;

                .read-more {
                    background: -moz-linear-gradient(top,  lighten(rgba(218,83,83,0), 15%) 0%, lighten(rgba(218,83,83,1), 15%) 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(rgba(218,83,83,0), 15%)), color-stop(100%,lighten(rgba(218,83,83,1), 15%)));
                    background: -webkit-linear-gradient(top,  lighten(rgba(218,83,83,0), 15%) 0%,lighten(rgba(218,83,83,1), 15%) 100%);
                    background: -o-linear-gradient(top,  lighten(rgba(218,83,83,0), 15%) 0%,lighten(rgba(218,83,83,1), 15%) 100%);
                    background: -ms-linear-gradient(top,  lighten(rgba(218,83,83,0), 15%) 0%,lighten(rgba(218,83,83,1), 15%) 100%);
                    background: linear-gradient(to bottom,  lighten(rgba(218,83,83,0), 15%) 0%,lighten(rgba(218,83,83,1), 15%) 100%);
                }
            }

            &.blocked {
                background: lighten(@blocked, 15%);
                transition: all 0.08s linear;

                .read-more {
                    background: -moz-linear-gradient(top,  rgba(88,180,206,0) 0%, rgba(88,180,206,1) 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,180,206,0)), color-stop(100%,rgba(88,180,206,1)));
                    background: -webkit-linear-gradient(top,  rgba(88,180,206,0) 0%,rgba(88,180,206,1) 100%);
                    background: -o-linear-gradient(top,  rgba(88,180,206,0) 0%,rgba(88,180,206,1) 100%);
                    background: -ms-linear-gradient(top,  rgba(88,180,206,0) 0%,rgba(88,180,206,1) 100%);
                    background: linear-gradient(to bottom,  rgba(88,180,206,0) 0%,rgba(88,180,206,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
                }
            }

            padding: 20px 10px;
            font-size: 1.4em;
            font-weight: 300;
            color: #FFF;
            text-align: center;

            img {
                position: relative;
                top: -1px;
                margin: 0 10px;
            }

            #last-execution-comment {
                margin: 20px 0 0;
                font-size: 0.7em;
                max-height: 60px;
                position: relative;
                overflow-y: hidden;
                transition: max-height 0.3s;

                .read-more {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    height: 25px;
                    width: 100%;
                    transition: all 0.3s;
                }

                &:hover {
                    max-height: 1000px;

                    .read-more {
                        bottom: -25px;
                    }
                }
            }
        }

        #current-execution-description {
            padding: 10px;
            font-size: 0.9em;
            color: #444;
            overflow-y: auto;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        #current-execution-result {
            height: 160px;
            background: rgba(255,255,255,0.9);

            form {
                padding: 10px;
                margin: 0;
                height: 100%;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                border-top: 1px solid #E5E5E5;

                textarea {
                    width: 78%;
                    height: 100%;
                    margin: 0;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                #result-choices {
                    float: right;
                    width: 20%;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    > button {
                        display: block;
                        width: 100%;
                        margin: 0 0 5px;
                        padding: 8px 19px;
                    }
                }
            }
        }
    }
}
