@import 'global-variables';
@import 'angular-artifact-modal/index';
@import 'includes/colors';
@import 'includes/socket';
@import 'includes/artifact-links-graph';
@import 'includes/graph';
@import 'includes/campaign';
@import 'includes/execution-list';
@import 'includes/presence';

.loader {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 26px;
}
