@import 'includes/colors';
@import 'includes/socket';
@import 'includes/artifact-links-graph';
@import 'includes/graph';
@import 'includes/campaign';

.loader {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 26px;
}
