<?xml version="1.0" encoding="UTF-8"?>
<XMI xmi.version="1.0">
  <XMI.header>
    <XMI.documentation>
      <XMI.exporter>JSDoc XMI Export</XMI.exporter>
      <XMI.exporterVersion>0.1</XMI.exporterVersion>
    </XMI.documentation>
    <XMI.metamodel xmi.name="UML" xmi.version="1.3"/>
  </XMI.header>
  <XMI.content>
    <Model_Management.Model xmi.id="xmi.1" xmi.uuid="10-0-0-5-3605f878:101c2e18bff:-8000">
      <Foundation.Core.ModelElement.name>JSDoc</Foundation.Core.ModelElement.name>
      <Foundation.Core.ModelElement.isSpecification xmi.value="false"/>
      <Foundation.Core.GeneralizableElement.isRoot xmi.value="false"/>
      <Foundation.Core.GeneralizableElement.isLeaf xmi.value="false"/>
      <Foundation.Core.GeneralizableElement.isAbstract xmi.value="false"/>
      <Foundation.Core.Namespace.ownedElement>
        
        <!-- BEGIN PACKAGES -->
        <TMPL_LOOP NAME="packages">      

          <TMPL_IF NAME="name">
            <Model_Management.Package 
              xmi.id="<TMPL_VAR NAME="packageid">" 
              xmi.uuid="<TMPL_VAR NAME="packageuuid">">
            <Foundation.Core.ModelElement.name><TMPL_VAR NAME="name"></Foundation.Core.ModelElement.name>
            <Foundation.Core.ModelElement.isSpecification xmi.value="false"/>
            <Foundation.Core.GeneralizableElement.isRoot xmi.value="false"/>
            <Foundation.Core.GeneralizableElement.isLeaf xmi.value="false"/>
            <Foundation.Core.GeneralizableElement.isAbstract xmi.value="false"/>
            <Foundation.Core.ModelElement.namespace>
              <Foundation.Core.Namespace xmi.idref="xmi.1"/>
            </Foundation.Core.ModelElement.namespace>

          </TMPL_IF>

            <!-- BEGIN CLASS DESCRIPTIONS -->
            <TMPL_LOOP NAME="classes"> 
              <TMPL_IF NAME="package">   
                <Foundation.Core.Namespace.ownedElement>
              </TMPL_IF>

              <!-- BEGIN CLASS -->
              <Foundation.Core.Class 
                  xmi.id="<TMPL_VAR NAME=classid>" 
                  xmi.uuid="<TMPL_VAR NAME=classuuid>">

                <!-- CLASS NAME -->
                <Foundation.Core.ModelElement.name><!-- TMPL_VAR NAME="classname" --></Foundation.Core.ModelElement.name>
                <Foundation.Core.ModelElement.visibility 
                    xmi.value="<TMPL_VAR NAME=classvisibility>"/>
                <Foundation.Core.ModelElement.isSpecification xmi.value="false"/>
                <Foundation.Core.GeneralizableElement.isRoot xmi.value="false"/>
                <Foundation.Core.GeneralizableElement.isLeaf xmi.value="false"/>
                <Foundation.Core.GeneralizableElement.isAbstract xmi.value="false"/>
                <Foundation.Core.Class.isActive xmi.value="false"/>
                <Foundation.Core.ModelElement.namespace>
                  <Foundation.Core.Namespace xmi.idref="xmi.1"/>
                </Foundation.Core.ModelElement.namespace>

                <!-- BEGIN REFERENCE TO INHERITANCE -->
                <TMPL_IF NAME="generalizationid">
                <Foundation.Core.GeneralizableElement.generalization>
                  <Foundation.Core.Generalization 
                      xmi.idref="<TMPL_VAR NAME=generalizationid >"/>
                </Foundation.Core.GeneralizableElement.generalization>
                </TMPL_IF>

                <TMPL_LOOP NAME="specializationids">
                <Foundation.Core.GeneralizableElement.specialization>
                  <Foundation.Core.Generalization 
                      xmi.idref="<TMPL_VAR NAME=specializationid >"/>
                </Foundation.Core.GeneralizableElement.specialization>
                </TMPL_LOOP>
                <!-- END REFERENCE TO INHERITANCE -->

                <Foundation.Core.Classifier.feature>

                <!-- BEGIN ATTRIBUTES -->
                <TMPL_LOOP NAME="attributes">

                  <!-- BEGIN ATTRIBUTE -->
                  <Foundation.Core.Attribute 
                      xmi.id="<TMPL_VAR NAME=attributeid>" 
                      xmi.uuid="<TMPL_VAR NAME=attributeuuid>">
                    <Foundation.Core.ModelElement.name><!-- TMPL_VAR NAME="attributename" --></Foundation.Core.ModelElement.name>
                    <Foundation.Core.ModelElement.visibility xmi.value="<TMPL_VAR NAME=attributevisibility>"/>
                    <Foundation.Core.ModelElement.isSpecification xmi.value="false"/>
                    <Foundation.Core.Feature.ownerScope 
                        xmi.value="<TMPL_VAR NAME=ownerscope>"/>
                    <!--Foundation.Core.StructuralFeature.multiplicity>
                      <Foundation.Data_Types.Multiplicity xmi.id="xmi.5">
                        <Foundation.Data_Types.Multiplicity.range>
                          <Foundation.Data_Types.MultiplicityRange xmi.id="xmi.6">
                            <Foundation.Data_Types.MultiplicityRange.lower>1</Foundation.Data_Types.MultiplicityRange.lower>
                            <Foundation.Data_Types.MultiplicityRange.upper>1</Foundation.Data_Types.MultiplicityRange.upper>
                          </Foundation.Data_Types.MultiplicityRange>
                        </Foundation.Data_Types.Multiplicity.range>
                      </Foundation.Data_Types.Multiplicity>
                    </Foundation.Core.StructuralFeature.multiplicity-->
                    <Foundation.Core.StructuralFeature.changeability xmi.value="changeable"/>
                    <Foundation.Core.StructuralFeature.targetScope xmi.value="instance"/>
                    <Foundation.Core.Feature.owner>
                    <Foundation.Core.Classifier 
                        xmi.idref="<TMPL_VAR NAME=classid>"/>
                    </Foundation.Core.Feature.owner>
                    <Foundation.Core.StructuralFeature.type>
                      <Foundation.Core.Classifier 
                          xmi.idref="<TMPL_VAR NAME=typeid>"/>
                    </Foundation.Core.StructuralFeature.type>
                    <!--Foundation.Core.ModelElement.taggedValue>
                      <Foundation.Extension_Mechanisms.TaggedValue xmi.id="xmi.8">
                        <Foundation.Extension_Mechanisms.TaggedValue.tag>transient</Foundation.Extension_Mechanisms.TaggedValue.tag>
                        <Foundation.Extension_Mechanisms.TaggedValue.value>false</Foundation.Extension_Mechanisms.TaggedValue.value>
                        <Foundation.Extension_Mechanisms.TaggedValue.modelElement>
                          <Foundation.Core.ModelElement xmi.idref="xmi.4"/>
                        </Foundation.Extension_Mechanisms.TaggedValue.modelElement>
                      </Foundation.Extension_Mechanisms.TaggedValue>
                      <Foundation.Extension_Mechanisms.TaggedValue xmi.id="xmi.9">
                        <Foundation.Extension_Mechanisms.TaggedValue.tag>volatile</Foundation.Extension_Mechanisms.TaggedValue.tag>
                        <Foundation.Extension_Mechanisms.TaggedValue.value>false</Foundation.Extension_Mechanisms.TaggedValue.value>
                        <Foundation.Extension_Mechanisms.TaggedValue.modelElement>
                          <Foundation.Core.ModelElement xmi.idref="xmi.4"/>
                        </Foundation.Extension_Mechanisms.TaggedValue.modelElement>
                      </Foundation.Extension_Mechanisms.TaggedValue>
                    </Foundation.Core.ModelElement.taggedValue-->
                  </Foundation.Core.Attribute>
                  <!-- END ATTRIBUTE -->

                </TMPL_LOOP>
                <!-- END ATTRIBUTES -->

                <!-- BEGIN METHODS -->
                <TMPL_LOOP NAME="methods">

                  <!-- BEGIN METHOD -->
                  <Foundation.Core.Operation 
                      xmi.id="<TMPL_VAR NAME=methodid>" 
                      xmi.uuid="<TMPL_VAR NAME=methoduuid>">
                          
                      <Foundation.Core.ModelElement.name><!-- TMPL_VAR NAME="methodname" --></Foundation.Core.ModelElement.name>
                    <Foundation.Core.ModelElement.visibility 
                        xmi.value="<TMPL_VAR NAME=methodvisibility>"/>
                    <Foundation.Core.ModelElement.isSpecification xmi.value="false"/>
                    <Foundation.Core.Feature.ownerScope 
                        xmi.value="<TMPL_VAR NAME=ownerscope>"/>
                    <Foundation.Core.BehavioralFeature.isQuery xmi.value="false"/>
                    <Foundation.Core.Operation.concurrency xmi.value="sequential"/>
                    <Foundation.Core.Operation.isRoot xmi.value="false"/>
                    <Foundation.Core.Operation.isLeaf xmi.value="false"/>
                    <Foundation.Core.Operation.isAbstract xmi.value="false"/>
                    <Foundation.Core.Feature.owner>
                      <Foundation.Core.Classifier 
                          xmi.idref="<TMPL_VAR NAME=classid>"/>
                    </Foundation.Core.Feature.owner>
                    <Foundation.Core.BehavioralFeature.parameter>

                      <!-- BEGIN RETURN TYPE -->
                      <Foundation.Core.Parameter 
                          xmi.id="<TMPL_VAR NAME=returnid>" 
                          xmi.uuid="<TMPL_VAR NAME=returnuuid>">
                        <Foundation.Core.ModelElement.name>return</Foundation.Core.ModelElement.name>
                        <Foundation.Core.ModelElement.isSpecification xmi.value="false"/>
                        <Foundation.Core.Parameter.kind xmi.value="return"/>
                        <!--Foundation.Core.Parameter.behavioralFeature>
                          <Foundation.Core.BehavioralFeature xmi.idref="xmi.10"/>
                        </Foundation.Core.Parameter.behavioralFeature-->
                        <Foundation.Core.Parameter.type>
                          <Foundation.Core.Classifier 
                              xmi.idref="<TMPL_VAR NAME=returntypeid>"/>
                        </Foundation.Core.Parameter.type>
                      </Foundation.Core.Parameter>
                      <!-- END RETURN TYPE -->

                    </Foundation.Core.BehavioralFeature.parameter>
                  </Foundation.Core.Operation>
                  <!-- END METHOD -->
                
                </TMPL_LOOP>
                <!-- END METHODS -->

                </Foundation.Core.Classifier.feature>
              </Foundation.Core.Class>
              <!-- END CLASS --> 
           
              <TMPL_IF NAME="package">   
                </Foundation.Core.Namespace.ownedElement>
              </TMPL_IF>

            </TMPL_LOOP>
            <!-- END CLASS DESCRIPTIONS -->

            <TMPL_IF name="name">
            </Model_Management.Package>
            </TMPL_IF>

      </TMPL_LOOP>
      <!-- END PACKAGES -->

      <!-- BEGIN DATATYPE DESCRIPTIONS -->
      <TMPL_LOOP name="datatypes">

        <!-- BEGIN DATATYPE --> 
        <Foundation.Core.DataType 
            xmi.id="<TMPL_VAR NAME=datatypeid>" 
            xmi.uuid="<TMPL_VAR NAME=datatypeuuid>">

          <Foundation.Core.ModelElement.name><!-- TMPL_VAR NAME="datatypename" --></Foundation.Core.ModelElement.name>
          <Foundation.Core.ModelElement.isSpecification xmi.value="false"/>
          <Foundation.Core.GeneralizableElement.isRoot xmi.value="false"/>
          <Foundation.Core.GeneralizableElement.isLeaf xmi.value="false"/>
          <Foundation.Core.GeneralizableElement.isAbstract xmi.value="false"/>
          <Foundation.Core.ModelElement.namespace>
            <Foundation.Core.Namespace xmi.idref="xmi.1"/>
          </Foundation.Core.ModelElement.namespace>
        </Foundation.Core.DataType>
        <!-- END DATATYPE --> 

      </TMPL_LOOP>
      <!-- END DATATYPE DESCRIPTIONS -->


      <!-- BEGIN GENERALIZATIONS -->
      <TMPL_LOOP NAME="generalizations">
        <!-- BEGIN GENERALIZATION -->
        <Foundation.Core.Generalization 
            xmi.id="<TMPL_VAR NAME=generalizationid >" 
            xmi.uuid="<TMPL_VAR NAME=generalizationuuid >" >

          <Foundation.Core.ModelElement.isSpecification xmi.value="false"/>
          <Foundation.Core.ModelElement.namespace>
            <Foundation.Core.Namespace xmi.idref="xmi.1"/>
          </Foundation.Core.ModelElement.namespace>
          <Foundation.Core.Generalization.child>
            <Foundation.Core.GeneralizableElement 
                xmi.idref="<TMPL_VAR NAME=generalizationchild >"/>
          </Foundation.Core.Generalization.child>
          <Foundation.Core.Generalization.parent>
            <Foundation.Core.GeneralizableElement 
                xmi.idref="<TMPL_VAR NAME=generalizationparent >"/>
          </Foundation.Core.Generalization.parent>
        </Foundation.Core.Generalization>
        <!-- END GENERALIZATION --> 
      </TMPL_LOOP>
      <!-- END GENERALIZATIONS -->

      </Foundation.Core.Namespace.ownedElement>
    </Model_Management.Model>
  </XMI.content>
</XMI>
