<div class="testplan-root">
    {{> milestone-header }}

    <section class="tlp-framed-horizontally">
        <div class="empty-state-page">
            <div class="empty-state-text-with-small-text">
                {{# dgettext }} tuleap-testplan | Your browser is not supported.{{/ dgettext }}
                <div class="empty-state-text-small">
                    {{# dgettext }} tuleap-testplan | We recommend the latest version of Firefox, Chrome, or Edge.{{/ dgettext }}
                </div>
            </div>
        </div>
    </section>
</div>
