<div class="testplan-root">
    {{> milestone-header }}

    <section class="tlp-framed-horizontally">
        <div class="empty-page">
            <div class="empty-page-text-with-small-text">
                {{# dgettext }} tuleap-testplan | Your browser is not supported.{{/ dgettext }}
                <div class="empty-page-small-text">
                    {{# dgettext }} tuleap-testplan | Edge Legacy is not supported, please upgrade to the latest version.{{/ dgettext }}
                </div>
            </div>
        </div>
    </section>
</div>
