<div class="testplan-root">
    {{> milestone-header }}

    <div id="test-plan"
         data-project-id="{{ project_id }}"
         data-milestone-id="{{ milestone_id }}"
         data-milestone-title="{{ milestone_title }}"
         data-user-can-create-campaign="{{ user_can_create_campaign }}"
    ></div>
</div>
