{{# has_other_semantics }}
    <div class="alert alert-info">
        {{# dngettext }}
            tuleap-tracker |
            The semantic %s is used. It will be automatically displayed at the beginning of the tooltip. |
            The following semantics are used: %s. They will be automatically displayed at the beginning of the tooltip. |
            {{ nb_other_semantics }} |
            {{ comma_separated_other_semantics }}
        {{/ dngettext }}
    </div>
{{/ has_other_semantics }}

{{^ has_used_fields }}
    {{# dgettext }}tuleap-tracker | There isn't any fields in the tooltip yet.{{/ dgettext }}
{{/ has_used_fields }}
{{# has_used_fields }}
    {{# dgettext }}tuleap-tracker | The following fields will be displayed in the tooltip:{{/ dgettext }}
    <blockquote>
        <table>
            {{# used_fields }}
                <tr>
                     <td>
                         {{ label }}
                     </td>
                    <td>
                        <form method="post" id="tracker-semantic-removal-action" action="{{ form_url }}">
                            {{# csrf_token }}
                                {{> csrf_token_input }}
                            {{/ csrf_token }}
                            <input type="hidden" name="remove" value="{{ id }}">
                            <button type="submit" class="btn btn-link">
                                <img src="{{ cross_img }}" alt="{{# dgettext }}tuleap-tracker | Remove the field from the tooltip{{/ dgettext }}">
                            </button>
                        </form>
                    </td>
                </tr>
            {{/ used_fields }}
        </table>
    </blockquote>
{{/ has_used_fields }}

{{# has_options }}
    <form method="post" action="{{ form_url }}">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        <p>
            {{# dgettext }}tuleap-tracker | Add a field to the tooltip:{{/ dgettext }}
            <select name="field">
                {{{ options }}}
            </select>
            <input type="submit" name="add-field" value="{{# gettext }}Submit{{/ gettext }}">
        </p>
    </form>
{{/ has_options }}
{{^ has_options }}
    <em>
        {{# dgettext }}tuleap-tracker | There isn't anymore fields left to add to the tooltip{{/ dgettext }}
    </em>
{{/ has_options }}

<p>
    <a href="{{ tracker_admin_semantic_url }}">
        «
        {{# dgettext }}tuleap-tracker | go back to semantic overview{{/ dgettext }}
    </a>
</p>
