<p>
    {{# semantic_status_is_defined }}
        {{^ has_selected_values }}
            {{# dgettext }}tuleap-tracker | Artifacts cannot be considered <strong>done</strong> because there is no value selected for this semantic.{{/ dgettext }}
        {{/ has_selected_values }}

        {{# has_selected_values }}
            {{# dgettext }}
                    tuleap-tracker
                    | An artifact is considered to be <strong>done</strong> when its field %s will have one of the following closed values:
                    | {{ semantic_status_field_label }}
            {{/ dgettext }}
            <ul>
                {{# selected_values }}
                    <li class="tracker-semantic-selected-value">{{ label }}</li>
                {{/ selected_values }}
            </ul>
        {{/ has_selected_values }}
    {{/ semantic_status_is_defined }}

    {{^ semantic_status_is_defined }}
        {{# dgettext }}tuleap-tracker | An artifact could be considered <strong>done</strong> only if a semantic status is defined.{{/ dgettext }}
    {{/ semantic_status_is_defined }}
</p>
{{# has_external_service_used }}
    <p>{{# dgettext }}tuleap-tracker | This semantic will be used in:{{/ dgettext }}</p>
    <ul>
        {{# external_services }}
            <li><strong>{{ getServiceName }}</strong> ({{ getDescription }})</li>
        {{/ external_services }}
    </ul>
{{/ has_external_service_used }}
