<li{{{classes}}}>
    <label for="{{prefix}}[{{name}}]" class="checkbox"><input type="checkbox" name="{{prefix}}[{{name}}]" id="{{prefix}}[{{name}}]" value="{{value}}" {{{checked}}}/>
    {{{title}}}</label>
    <ul{{{id}}}{{{classes}}}>
    {{#children}}
        {{> testsSuitesHTML}}
    {{/children}}
    </ul>
</li>