<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Unit Tests - Tuleap</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/plugins/tests/themes/default/css/style.css" />
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>

        <script type="text/javascript" src="/scripts/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="jquery-hotkeys/jquery.hotkeys.js"></script>
        <script>
        jQuery(document).bind('keyup', 's', function() {
            jQuery('#modal-settings').modal();
        });
        jQuery(document).bind('keyup', 'r', function() {
            $('run-test').submit();
        });
        </script>
        <script type="text/javascript" src="/scripts/prototype/prototype.js"></script>
        <script type="text/javascript" src="/plugins/tests/scripts/testsUnitView.js"></script>
    </head>
    <body class="main_body_row">
        <form id="run-test" action="" method="post">
            <div id="modal-settings" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Settings</h3>
              </div>
              <div class="modal-body">
                <div class="control-group">
                    <div class="controls">
                      <label class="checkbox inline">
                        <input type="checkbox" name="show_pass" value="1" {{show_pass_checked}}/>
                        Show pass
                      </label>
                      <label class="checkbox inline">
                        <input type="checkbox" name="cover_code" value="1" {{cover_code_checked}}/>
                        Code coverage
                      </label>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Order</label>
                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio" id="order_normal" name="order" value="normal" {{order_normal_checked}} />
                            Normal
                        </label>
                        <label class="radio inline">
                            <input type="radio" id="order_random" name="order" value="random" {{order_random_checked}} />
                            Random
                        </label>
                        <label class="radio inline">
                            <input type="radio" id="order_invert" name="order" value="invert" {{order_invert_checked}} />
                            Revert
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                    <a href="#" data-dismiss="modal" class="btn btn-primary">Save changes</a>
                  </div>
                </div>
            </div>

            <div class="navbar navbar navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container-fluid">
                  <a class="brand" href="#"><img src="logo.png" />  Unit Tests</a>
                  <input type="submit" value="Run !" class="btn btn-primary" />
                  <ul class="nav pull-right">
                    <li class="active"><a href="mocha/">PHP test suite</a></li>
                    <li><a href="mocha/">Javascript test suite</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="testsRunner">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span3 testsControl" style="overflow:scroll">
                            <fieldset>
                                <legend>Test Cases Selection</legend>
                                <div class="well">
                                {{#navigator}}
                                    <ul id="menu" class="menu">
                                        {{> testsSuitesHTML}}
                                    </ul>
                                {{/navigator}}
                                </div>
                            </fieldset>
                        </div>
                        <div class="span9">
                            <div class="shortcuts muted">Shortcuts: <code>r</code> run test. <code>s</code> edit settings.</div>
                            {{{results}}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
