<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content-type="text/html" charset="UTF-8" />
        <title>Unit Tests - Tuleap</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
        <script type="text/javascript" src="/scripts/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="jquery-hotkeys/jquery.hotkeys.js"></script>
        <script>
        jQuery(document).bind('keyup', 's', function() {
            jQuery('#modal-settings').modal();
        });
        jQuery(document).bind('keyup', 'r', function() {
            $('run-test').submit();
        });
        </script>
        <script type="text/javascript" src="/scripts/prototype/prototype.js"></script>
        <script type="text/javascript" src="/scripts/scriptaculous/scriptaculous.js"></script>
        <script type="text/javascript" src="/plugins/tests/scripts/testsUnitView.js"></script>
    </head>
    <body class="main_body_row">
        <form id="run-test" action="" method="post">
            <div id="modal-settings" class="modal hide fade">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Settings</h3>
              </div>
              <div class="modal-body">
                <input type="checkbox" id="show_pass" name="show_pass" value="1" {{show_pass_checked}}/>
                <label for="show_pass">Show pass</label>
                <input type="checkbox" id="cover_code" name="cover_code" value="1" {{cover_code_checked}}/>
                <label for="cover_code">Code coverage</label>
                <br />
                Order:
                <div class="btn-group" data-toggle="buttons-radio">
                    <input type="radio" id="order_normal" name="order" value="normal" {{order_normal_checked}} />
                    <label for="order_normal">Normal</label>
                    <input type="radio" id="order_random" name="order" value="random" {{order_random_checked}} />
                    <label for="order_random">Random</label>
                    <input type="radio" id="order_invert" name="order" value="invert" {{order_invert_checked}} />
                    <label for="order_invert">Revert</label>
                  </div>
                  <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                    <a href="#" data-dismiss="modal" class="btn btn-primary">Save changes</a>
                  </div>
                </div>
            </div>
            <div class="testsRunner">
                <div class="testsLauncher">
                    <div id="submit_panel"><input type="submit" value="Run !" /></div>
                </div>
                <div class="testsResult">
                    <fieldset>
                        <legend>Results</legend>
                        {{{results}}}
                    </fieldset>
                </div>
                <div class="testsControl">
                    <fieldset>
                        <legend>Tests</legend>
                        {{#navigator}}
                            <ul id="menu" class="menu">
                                {{> testsSuitesHTML}}
                            </ul>
                        {{/navigator}}
                    </fieldset>
                </div>
            </tr>
        </table>
     </form>
    </body>
</html>
