<div class="tlp-modal contact-support-modal" role="dialog" aria-labelledby="contact-support-modal-label">
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="contact-support-modal-label">
            {{# gettext }}Help{{/ gettext }}
        </h1>
        <button class="tlp-modal-close" type="button" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>
    <div class="tlp-modal-body">
        {{{ help_page_content }}}

        {{# form_presenter }}
            {{> form-burning-parrot }}
        {{/ form_presenter }}
    </div>
</div>
