#execution-timer {
    > .input-append {
        margin-left: 5px;

        > button:focus {
            outline: 0;
        }

        input[type="text"] {
            width: 65px;
            margin: 0;
        }
    }
}