<p>
    {{# semantic_status_is_defined }}
        {{# dgettext }}tuleap-agiledashboard | An artifact will be considered <strong>done</strong> when at least one of the status closed values will be selected.{{/ dgettext }}
    {{/ semantic_status_is_defined }}

    {{^ semantic_status_is_defined }}
        {{# dgettext }}tuleap-agiledashboard | An artifact could be considered <strong>done</strong> only if a semantic status is defined.{{/ dgettext }}
    {{/ semantic_status_is_defined }}
</p>
