{{^ semantic_status_is_defined }}
    <div id="tracker-semantic-disabled">
        <p class="tracker-semantic-content">{{# dgettext }}tuleap-agiledashboard | Tracker semantic done{{/ dgettext }}</p>
        <p class="tracker-semantic-content tracker-semantic-description">
            {{# dgettext }}tuleap-agiledashboard | The semantic done cannot be defined because the semantic status is not defined.{{/ dgettext }}
        </p>
    </div>
{{/ semantic_status_is_defined }}

{{# semantic_status_is_defined }}
    <form method="POST" action="#">
        <p>{{# dgettext }}tuleap-agiledashboard | The selected values will defined the artifact as done:{{/ dgettext }}</p>
        <select name="done_values[{{ tracker_id }}]" multiple="multiple" disabled="disabled">
        {{# closed_values }}
            <option>{{ label }}</option>
        {{/closed_values}}
        </select>
        <a class="tracker-semantic-admin-go-back" href="{{ go_back_url }}">&laquo; {{# dgettext }}tuleap-agiledashboard | Go back to semantic overview{{/ dgettext }}</a>
    </form>
{{/ semantic_status_is_defined }}