<section class="tlp-pane-section siteadmin-homepage-statistics-section-last siteadmin-homepage-statistics-section-graph siteadmin-homepage-statistics-section-last">
    <div class="tlp-property">
        <div id="siteadmin-homepage-browsers-stats" class="siteadmin-homepage-pie-chart" data-statistics="{{ statistics }}"></div>
    </div>
</section>
<div class="tlp-pane-spacer"></div>
<section class="tlp-pane-section">
    <a href="/doc/{{ short_locale }}/user-guide/misc.html#which-browser-should-i-use-to-browse-tuleap" class="tlp-button-primary tlp-button-outline tlp-button-wide">
        {{# gettext }}View recommended browsers{{/gettext}}
    </a>
</section>
