<IfModule mod_php3.c>
<Files stats_graph.png>
ForceType application/x-httpd-php3
</Files>
</IfModule>

<IfModule mod_php4.c>
<Files stats_graph.png>
ForceType application/x-httpd-php
</Files>
</IfModule>