<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         backupGlobals="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="assert.exception" value="1"/>
        <ini name="date.timezone" value="Europe/Paris"/>
        <ini name="memory_limit" value="2048M" /> <!-- This needs to be quite permissive to be able to generate coverage report -->
    </php>
    <coverage includeUncoveredFiles="false">
    </coverage>
    <testsuites>
        <testsuite name="Core Tests">
            <directory>.</directory>
        </testsuite>
        <testsuite name="Plugins">
            <directory>../../plugins/*/tests/unit</directory>
        </testsuite>
        <testsuite name="CodingStandard">
            <directory>../phpcs/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
