<div>
    <h4>{{# dgettext }}tuleap-agiledashboard | Explicit backlog actions{{/ dgettext }}</h4>
    <label class="radio" for="explicit-backlog-masschange-action-unchanged">
        <input type="radio" id="explicit-backlog-masschange-action-unchanged" name="masschange-action-explicit-backlog" value="unchanged" checked/>
        {{# dgettext }}tuleap-tracker | Unchanged{{/ dgettext }}
    </label>
    <label class="radio" for="explicit-backlog-masschange-action-add">
        <input type="radio" id="explicit-backlog-masschange-action-add" name="masschange-action-explicit-backlog" value="add"/>
         {{add_to_top_backlog}}
    </label>
    <label class="radio" for="explicit-backlog-masschange-action-remove">
        <input type="radio" id="explicit-backlog-masschange-action-remove" name="masschange-action-explicit-backlog" value="remove"/>
         {{remove_to_top_backlog}}
    </label>
</div>
