<!--
/**
 * Copyright (c) Xerox Corporation, Codendi Team, 2001-2009. All rights reserved
 *
 * This file is a part of Codendi.
 *
 * Codendi is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Codendi is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Codendi. If not, see <http://www.gnu.org/licenses/>.
 */
-->
<!-- 

This file will be copied at the installation into the 
/etc/codendi/documentation/cli/xml directory and 
the values between %% will be changed by the ones given
during the installation procedure.
This is to customize the content of the Codendi User Guide

For instance:

<!ENTITY SYS_DEFAULT_DOMAIN "my.domain.here">
etc...
-->
<!ENTITY SYS_DEFAULT_DOMAIN "%sys_default_domain%">

<!-- 
Redefine here (with the blank string "") the chapters you don't want to be included in the book (and only these ones) 
Don't put the SYSTEM keyword after the ENTITY because it is for files. So as "" is not a file, this would cause an error

For instance:
<!ENTITY ChapterVersionControlWithCVS "">
etc...
-->
