<div id="nav-dropdown-content-{{ id }}" class="nav-dropdown-content nav-dropdown-content-hidden">
    <div class="arrow-up nav-dropdown-content-arrow-up"></div>
    <div class="nav-dropdown-content-title">
        {{ label }}
    </div>

    {{# is_history }}
        {{> navbar-content-history }}
    {{/ is_history }}
</div>
