<?php // -*-html-*-
rcs_id('$Id$');
?>
<body<?= $Theme->getMoreAttr('body') ?>>

<div id="header"><?php // for top-and-bottom toolbars style sheet ?>
  <?= Template('top') ?>
</div>
<?= $CONTENT ?>
<?= Template('bottom') ?>
</body>
