<?php // -*-html-*-
rcs_id('$Id: body.tmpl,v 1.35 2004/12/19 18:28:59 rurban Exp $');
?>
<body<?= $WikiTheme->getMoreAttr('body') ?>>

<div id="header">
  <?= Template('top') ?>
</div>
<div id="content">
<?= $CONTENT ?>
</div>
<?= Template('bottom') ?>
</body>
