<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.xerox.xrce.codex.jri"
   name="CodeX Java Remote Interface Plug-in"
   version="1.0.2"
   provider-name="Xerox Corporation"
   >

   <runtime>
      <library name="jri.jar">
         <export name="*"/>
      </library>
      <library name="lib/axis.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-discovery-0.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging-1.0.4.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxrpc.jar">
         <export name="*"/>
      </library>
      <library name="lib/saaj.jar">
         <export name="*"/>
      </library>
      <library name="lib/wsdl4j-1.5.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/xerces.jar">
         <export name="*"/>
      </library>
      <library name="lib/activation.jar">
         <export name="*"/>
      </library>
      <library name="lib/mail.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
   </requires>

  


</plugin>
