/* {{{ FONTS */
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansPro-Regular.ttf.woff') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Light.eot');
    src: url('../fonts/SourceSansPro-Light.ttf.woff') format('truetype');
    font-weight: 100;
}
/* }}} */