<h1 class="pdftemplate-admin-title">
    {{# dgettext }} tuleap-pdftemplate | PDF Template {{/ dgettext }}
</h1>

{{> navigation }}

<div class="tlp-framed-horizontally">
    <section class="tlp-pane">
        <form method="post" action="{{ save_url }}" class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    <i class="tlp-pane-title-icon {{ icon }}" aria-hidden="true"></i>
                    {{ title }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                {{# csrf }}
                    {{> csrf_token_input }}
                {{/ csrf }}

                <p>
                    <a href="{{ index_url }}" class="pdftemplate-admin-back-link">
                        <i class="fa-solid fa-arrow-left-long pdftemplate-admin-back-link-icon" aria-hidden="true"></i><!--
                        -->{{# dgettext }} tuleap-pdftemplate | Return to templates list {{/ dgettext }}
                    </a>
                </p>

                {{# template }}
                    {{# is_update }}
                        {{> template-metadata }}
                    {{/ is_update }}

                    {{> template-form-elements }}
                {{/ template }}
            </section>

            <section class="tlp-pane-section tlp-pane-section-submit">
                <button type="submit" class="tlp-button-primary">
                    <i class="fa-solid fa-save tlp-button-icon" aria-hidden="true"></i>
                    {{# dgettext }} tuleap-pdftemplate | Save {{/ dgettext }}
                </button>

                <button type="button" class="tlp-button-primary tlp-button-outline" id="pdftemplate-print-preview">
                    <i class="fa-regular fa-file-pdf tlp-button-icon" aria-hidden="true"></i>
                    {{# dgettext }} tuleap-pdftemplate | Preview {{/ dgettext }}
                </button>

                <div id="pdftemplate-print-preview-fake-document" class="pdftemplate-print-preview-fake-document">
                    {{> print-preview-fake-document }}
                </div>
            </section>
        </form>
        <div class="tlp-pane-container pdftemplate-admin-template-images">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title">
                    {{# dgettext }} tuleap-pdftemplate | Images gallery {{/ dgettext }}
                </h1>
            </div>
            <section class="tlp-pane-section">
                {{# has_images }}
                    <div class="pdftemplate-admin-template-images-gallery">
                        {{# images }}
                            <copy-to-clipboard
                                value="{{ href }}"
                                class="pdftemplate-admin-template-image-copy tlp-tooltip tlp-tooltip-left"
                                data-tlp-tooltip="{{# dgettext }} tuleap-pdftemplate | Copy image URL to clipboard {{/ dgettext }}"
                                data-tlp-tooltip-copied="{{# dgettext }} tuleap-pdftemplate | Image URL copied ! {{/ dgettext }}"
                            >
                                <div class="tlp-card tlp-card-selectable pdftemplate-admin-template-image-wrapper">
                                    <img src="{{ href }}" alt="{{ filename }}" class="pdftemplate-admin-template-image">
                                    <i class="fa-solid fa-copy pdftemplate-admin-template-image-copy-icon" role="img"></i>
                                </div>
                            </copy-to-clipboard>
                        {{/ images }}
                    </div>
                    <p class="tlp-text-muted">
                        {{# dgettext }}
                            tuleap-pdftemplate |
                            Images can be used in the template by copy pasting their URL.
                        {{/ dgettext }}

                        {{# dgettext }}
                            tuleap-pdftemplate |
                            You can add or remove images in the %simages library%s. |
                            <a href="{{ images_url }}"> |
                            </a>
                        {{/ dgettext }}
                    </p>
                {{/ has_images }}
                {{^ has_images }}
                    <div class="empty-state-pane">
                        <div class="empty-state-illustration">
                            {{> svg-empty-state-tumbleweed }}
                        </div>
                        <p class="empty-state-text">
                            {{# dgettext }}
                                tuleap-pdftemplate |
                                Your library is empty.
                            {{/ dgettext }}

                            {{# dgettext }}
                                tuleap-pdftemplate |
                                You can add or remove images in the %simages library%s. |
                                <a href="{{ images_url }}"> |
                                </a>
                            {{/ dgettext }}
                        </p>
                    </div>
                {{/ has_images }}
            </section>
        </div>
    </section>
</div>
