<div class="tlp-form-element">
    <label class="tlp-label" for="input-label">
        {{# dgettext }} tuleap-pdftemplate | Label {{/ dgettext }}
        <i class="fa-solid fa-asterisk" aria-hidden="true"></i>
    </label>
    <input
        type="text"
        id="input-label"
        name="label"
        value="{{ label }}"
        class="tlp-input"
        required
        placeholder="{{# dgettext }} tuleap-pdftemplate | Technical documentation {{/ dgettext }}"
    >
</div>

<div class="tlp-form-element">
    <label class="tlp-label" for="input-description">
        {{# dgettext }} tuleap-pdftemplate | Description {{/ dgettext }}
    </label>
    <textarea
        id="input-description"
        name="description"
        class="tlp-textarea"
    >{{ description }}</textarea>
</div>

<div class="tlp-form-element">
    <label for="input-header-content" class="tlp-label">
        {{# dgettext }} tuleap-pdftemplate | Header {{/ dgettext }}
    </label>
    <textarea
        id="input-header-content"
        name="header-content"
        rows="2"
        class="tlp-textarea"
    >{{ header_content }}</textarea>
</div>

<div class="tlp-form-element">
    <label for="input-footer-content" class="tlp-label">
        {{# dgettext }} tuleap-pdftemplate | Footer {{/ dgettext }}
    </label>
    <textarea
        id="input-footer-content"
        name="footer-content"
        rows="2"
        class="tlp-textarea"
    >{{ footer_content }}</textarea>
</div>

<div class="tlp-form-element">
    <label class="tlp-label" for="input-style">
        {{# dgettext }} tuleap-pdftemplate | General styling {{/ dgettext }}
    </label>
    <textarea
        id="input-style"
        name="style"
        class="tlp-textarea"
        rows="20"
    >{{ style }}</textarea>
</div>
