<div class="tlp-form-element">
    <label class="tlp-label" for="input-label">
        {{# dgettext }} tuleap-pdftemplate | Label {{/ dgettext }}
        <i class="fa-solid fa-asterisk" aria-hidden="true"></i>
    </label>
    <input
        type="text"
        id="input-label"
        name="label"
        value="{{ label }}"
        class="tlp-input"
        required
        placeholder="{{# dgettext }} tuleap-pdftemplate | Technical documentation {{/ dgettext }}"
    >
</div>

<div class="tlp-form-element">
    <label class="tlp-label" for="input-description">
        {{# dgettext }} tuleap-pdftemplate | Description {{/ dgettext }}
    </label>
    <textarea
        id="input-description"
        name="description"
        class="tlp-textarea"
    >{{ description }}</textarea>
</div>

<div class="tlp-form-element">
    <label for="input-title-page-content" class="tlp-label">
        {{# dgettext }} tuleap-pdftemplate | Cover page {{/ dgettext }}
    </label>
    <textarea
        id="input-title-page-content"
        name="title-page-content"
        rows="2"
        class="tlp-textarea"
    >{{ title_page_content }}</textarea>
    <p class="tlp-text-info">
        {{# dgettext }} tuleap-pdftemplate | The cover page, or title page, is the first page of the document.{{/ dgettext }}

        {{# dgettext }} tuleap-pdftemplate | It is generally used to display metadata about the document (document title), and can be enhanced with logo or background images.{{/ dgettext }}

        {{# dgettext }} tuleap-pdftemplate | Variables can be used. {{/ dgettext }}
        <span class="pdftemplate-admin-popover-trigger"
              data-target-popover-id="input-title-page-content-popover"
              data-placement="right"
              data-trigger="hover"
        >
                    <i class="fa-solid fa-circle-question" role="img"></i>
                </span>
    </p>

    <section id="input-title-page-content-popover" class="tlp-popover pdftemplate-admin-popover">
        {{> variables-popover }}
    </section>
</div>

<div class="tlp-form-element">
    <label for="input-header-content" class="tlp-label">
        {{# dgettext }} tuleap-pdftemplate | Header {{/ dgettext }}
    </label>
    <textarea
        id="input-header-content"
        name="header-content"
        rows="2"
        class="tlp-textarea"
    >{{ header_content }}</textarea>
    <p class="tlp-text-info">
        {{# dgettext }} tuleap-pdftemplate | The header is displayed at the top of every pages of the document.{{/ dgettext }}

        {{# dgettext }} tuleap-pdftemplate | Variables can be used. {{/ dgettext }}
        <span class="pdftemplate-admin-popover-trigger"
              data-target-popover-id="input-header-content-popover"
              data-placement="right"
              data-trigger="hover"
        >
            <i class="fa-solid fa-circle-question" role="img"></i>
        </span>
    </p>

    <section id="input-header-content-popover" class="tlp-popover pdftemplate-admin-popover">
        {{> variables-popover }}
    </section>
</div>

<div class="tlp-form-element">
    <label for="input-footer-content" class="tlp-label">
        {{# dgettext }} tuleap-pdftemplate | Footer {{/ dgettext }}
    </label>
    <textarea
        id="input-footer-content"
        name="footer-content"
        rows="2"
        class="tlp-textarea"
    >{{ footer_content }}</textarea>
    <p class="tlp-text-info">
        {{# dgettext }} tuleap-pdftemplate | The footer is displayed at the bottom of every pages of the document.{{/ dgettext }}

        {{# dgettext }} tuleap-pdftemplate | Variables can be used. {{/ dgettext }}
        <span class="pdftemplate-admin-popover-trigger"
              data-target-popover-id="input-footer-content-popover"
              data-placement="right"
              data-trigger="hover"
        >
            <i class="fa-solid fa-circle-question" role="img"></i>
        </span>
    </p>

    <section id="input-footer-content-popover" class="tlp-popover pdftemplate-admin-popover">
        {{> variables-popover }}
    </section>
</div>

<div class="tlp-form-element pdftemplate-admin-readonly-editor">
    <label class="tlp-label" for="input-default-style">
        {{# dgettext }} tuleap-pdftemplate | Default styling {{/ dgettext }}
    </label>
    <textarea
        id="input-default-style"
        class="tlp-textarea"
        rows="20"
    >{{ default_style }}</textarea>
    <p class="tlp-text-info">
        {{# dgettext }} tuleap-pdftemplate | Default CSS rules that are used to shape the style of the document.{{/ dgettext }}

        {{# dgettext }} tuleap-pdftemplate | Interpretation of those rules will depend on the browser used to generate the document.{{/ dgettext }}
    </p>
</div>

<div class="tlp-form-element">
    <label class="tlp-label" for="input-style">
        {{# dgettext }} tuleap-pdftemplate | General styling {{/ dgettext }}
    </label>
    <textarea
        id="input-style"
        name="style"
        class="tlp-textarea"
        rows="20"
    >{{ style }}</textarea>
    <p class="tlp-text-info">
        {{# dgettext }} tuleap-pdftemplate | CSS rules that will override the default ones above.{{/ dgettext }}

        {{# dgettext }} tuleap-pdftemplate | This is where you can apply your company design policy.{{/ dgettext }}
    </p>
</div>
