<tr>
    <td><a href="{{ repository_admin_url }}">{{ repository_name }}</a></td>
    <td colspan="2"></td>
    <td>
        {{# readers }}
            <span class="{{# is_project_admin }}tlp-badge-danger tlp-badge-outline{{/ is_project_admin }}
                {{# is_static }}tlp-badge-primary tlp-badge-outline{{/ is_static }}
                {{# is_custom }}tlp-badge-secondary{{/ is_custom }}
            ">{{ name }}</span>
        {{/ readers }}
    </td>
    <td>
        {{# writers }}
            <span class="{{# is_project_admin }}tlp-badge-danger tlp-badge-outline{{/ is_project_admin }}
                {{# is_static }}tlp-badge-primary tlp-badge-outline{{/ is_static }}
                {{# is_custom }}tlp-badge-secondary{{/ is_custom }}
            ">{{ name }}</span>
        {{/ writers }}
    </td>
    <td>
        {{# rewinders }}
            <span class="{{# is_project_admin }}tlp-badge-danger tlp-badge-outline{{/ is_project_admin }}
                {{# is_static }}tlp-badge-primary tlp-badge-outline{{/ is_static }}
                {{# is_custom }}tlp-badge-secondary{{/ is_custom }}
            ">{{ name }}</span>
        {{/ rewinders }}
    </td>
</tr>
