<label class="git-repository-clone-label tlp-label"
       for="git-repository-clone-dropdown-button">
    {{# dgettext }}tuleap-git | Clone or download:{{/ dgettext }}
</label>
<div class="tlp-form-element tlp-form-element-prepend tlp-dropdown git-repository-clone-form-element">
    <button class="tlp-button-primary tlp-button-outline tlp-prepend"
            id="git-repository-clone-dropdown-button"
            type="button"
    >
        <span id="git-repository-clone-button-text">{{ selected_url_label }}</span>
        <i class="fa fa-sort tlp-button-icon-right"></i>
    </button>
    <input type="text"
           class="tlp-input"
           id="git-repository-clone-input"
           value="{{ selected_url }}"
    >
    <div class="tlp-dropdown-menu" role="menu">
        <span class="tlp-dropdown-menu-title" role="menuitem"
    >{{# dgettext }}tuleap-git | Clone{{/ dgettext }}</span>
        {{# clone_url_presenters }}
            {{> repository/clone-bar-url }}
        {{/ clone_url_presenters }}
    </div>
</div>

