<a href="javascript:;"
   class="tlp-dropdown-menu-item git-repository-clone-transport"
   role="menuitem"
   data-url="{{ url }}"
>
    {{# is_selected }}<i class="fa fa-check tlp-dropdown-menu-item-icon"
        id="git-repository-clone-selected-icon"
    ></i>
    {{/ is_selected }}{{ label }}
</a>
