<div class="tlp-framed">
    <span class="git-repository-path">{{ repository_path }}</span>
    <h1 class="git-repository-name">{{ repository_name }}</h1>
    {{# parent_repository_presenter }}
        <div class="git-repository-parent">
            {{# dgettext }}
                tuleap-git
                | Forked from %s
                | <a href="{{ parent_repository_url }}">{{ parent_repository_name }}</a>
            {{/ dgettext }}
        </div>
    {{/ parent_repository_presenter }}
    {{# gerrit_status_presenter }}
        {{> repository/gerrit-status }}
    {{/ gerrit_status_presenter }}
    <div class="git-repository-actions">
        <div id="git-repository-actions-main-buttons"
             data-repository-id="{{ repository_id }}"
             data-is-migrated-to-gerrit="{{ is_migrated_to_gerrit }}"
            {{# parent_repository_presenter }}
                data-parent-repository-id="{{ parent_repository_id }}"
                data-parent-repository-name="{{ parent_repository_name }}"
            {{/ parent_repository_presenter }}
        ></div>
        <div class="git-repository-actions-spacer"></div>
        {{# clone_presenter }}
            {{> repository/clone-bar }}
        {{/ clone_presenter }}
        {{# user_is_admin }}
            <a href="{{ repository_admin_url }}"
               class="tlp-button-primary tlp-button-outline git-repository-actions-button"
               role="button"
            >
                <i class="fa fa-cog tlp-button-icon"></i> {{# dgettext }}tuleap-git | Settings{{/ dgettext }}
            </a>
        {{/ user_is_admin }}
    </div>
</div>

<div class=" tlp-framed">
    <section class="tlp-pane">
        <div class="tlp-pane-container">
            <div class="tlp-pane-header">
                <h1 class="tlp-pane-title"><i class="tlp-pane-title-icon fa fa-files-o"></i> Files</h1>
            </div>
            <section class="tlp-pane-section">
