<div class="tracker-artlink-add-parent">
    <label for="link-with-parent-select">
    {{# dgettext }} tuleap-tracker | Select a parent {{/ dgettext }}
    </label>
    <select id="link-with-parent-select" name="{{ form_name_prefix }}[parent][]">
        <option value=""></option>
        {{# can_create }}
            <optgroup label="{{# dgettext }} tuleap-tracker | Creation {{/ dgettext}}">
                <option value="{{ create_new_parent_value }}">{{# dgettext }} tuleap-tracker | Create a new {{ parent_label }} {{/ dgettext }}</option>
            </optgroup>
        {{/ can_create }}
        {{# possible_parents_categories }}
            <optgroup label="{{ category }}">
            {{# possible_parents }}
                <option value="{{ id }}" {{# selected }}selected{{/ selected }}>{{ xref }} - {{ title }}</option>
            {{/ possible_parents }}
            </optgroup>
        {{/ possible_parents_categories }}
    </select>
</div>
