<ul class="nav nav-tabs">
  <li><a href="/plugins/testing/?group_id=1&resource=requirement">Requirements</a></li>
  <li class="active"><a href="/plugins/testing/?group_id=1&resource=campaign">Campaigns</a></li>
  <li><a href="/plugins/testing/?group_id=1&resource=report">Reports</a></li>
</ul>
<h2>New test campaign</h2>
<form action="{{ create_uri }}" method="POST">
    <p>
        <label for="name">Name</label>
        <input type="text" name="campaign[name]" id="name" required />
    </p>
    <p>
        <label>Release</label>
        <select name="campaign[release]">
            <option value="">-- Please select a release</option>
            {{# list_of_releases }}
            <option value="{{ id }}">{{ name }}</option>
            {{/ list_of_releases }}
        </select>
    </p>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#Testcases" data-toggle="tab">Test cases</a></li>
            <li class=""><a href="#Exigences" data-toggle="tab">Requirements</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="Testcases">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="16"></th>
                            <th>Identifier</th>
                            <th>Test case</th>
                            <th>Nb of linked requirements</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# list_of_test_cases }}
                        <tr>
                            <td><input type="checkbox" name="test_cases[]" value="{{ id }}" /></td>
                            <td>{{ id }}</td>
                            <td>{{ name }}</td>
                            <td>{{ nb_of_requirements }}</td>
                        </tr>
                        {{/ list_of_test_cases }}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="Exigences">
                <p>Automatically select all tests belonging to selected requirements</p>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="16"></th>
                            <th>N°</th>
                            <th>Requirement</th>
                            <th>Nb of linked test cases</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# list_of_requirements }}
                        <tr>
                            <td><input type="checkbox" name="requirements[]" value="{{ id }}" /></td>
                            <td>{{ id }}</td>
                            <td>{{ name }}</td>
                            <td>{{ nb_of_tests }}</td>
                        </tr>
                        {{/ list_of_requirements }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create new campaign</button>
        <a class="btn" href="/plugins/testing/?group_id=1">Cancel</a>
    </div>
</form>
