<ul class="nav nav-tabs">
  <li class="active"><a href="/plugins/testing/?group_id=1&resource=campaign">Campaigns</a></li>
  <li><a href="/plugins/testing/?group_id=1&resource=requirement">Requirements</a></li>
</ul>

<h2><a href="/plugins/testing/?group_id=1&resource=campaign&action=show&id=123">Tuleap 6.3 / PHP 5.3</a> »
    Reports
</h2>

<h3>Pie chart pass/fail</h3>
<canvas id="myChart" width="200" height="200"></canvas>

<script type="text/javascript">
    var ctx = $("myChart").getContext("2d");
    var myNewChart = new Chart(ctx).Pie([{value:193, color: '#5bb75b'}, {value:10, color: '#da4f49'}],{animation: false});
</script>

<h3>Tracability matrix</h3>
<table class="matrix table table-bordered table-striped">
    <tbody>
        <tr>
            <th scope="col" width="85px">Requirement Identifiers</th>
            <th scope="col" width="25px">
                <small>Reqs Tested</small>
            </th>
            <th scope="col" width="25px">REQ1 UC 1.1</th>
            <th scope="col" width="25px">REQ1 UC 1.2</th>
            <th scope="col" width="25px">REQ1 UC 1.3</th>
            <th scope="col" width="25px">REQ1 UC 2.1</th>
            <th scope="col" width="25px">REQ1 UC 2.2</th>
            <th scope="col" width="25px">REQ1 UC 2.3.1</th>
            <th scope="col" width="25px">REQ1 UC 2.3.2</th>
            <th scope="col" width="25px">REQ1 UC 2.3.3</th>
            <th scope="col" width="25px">REQ1 UC 2.4</th>
            <th scope="col" width="25px">REQ1 UC 3.1</th>
            <th scope="col" width="25px">REQ1 UC 3.2</th>
            <th scope="col" width="25px">REQ1 TECH 1.1</th>
            <th scope="col" width="25px">REQ1 TECH 1.2</th>
            <th scope="col" width="25px">REQ1 TECH 1.3</th>
        </tr>
        <tr>
            <th>Test Cases</th>
            <td>321</td>
            <td>3</td>
            <td>2</td>
            <td>3</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <th>
                <small>Tested Implicitly</small>
            </th>
            <td>77</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.1.1</th>
            <td>1</td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.1.2</th>
            <td>2</td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.1.3</th>
            <td>2</td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.1.4</th>
            <td>1</td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.1.5</th>
            <td>2</td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-fail"><i class="icon-remove"></i></td>
            <td></td>
        </tr>
        <tr>
            <th>1.1.6</th>
            <td>1</td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.1.7</th>
            <td>1</td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.2.1</th>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.2.2</th>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.2.3</th>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-fail"><i class="icon-remove"></i></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.3.1</th>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.3.2</th>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.3.3</th>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.3.4</th>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>1.3.5</th>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>etc.…</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>5.6.2</th>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="matrix-pass"><i class="icon-ok"></i></td>
        </tr>
    </tbody>
</table>
