<ul class="nav nav-tabs">
  <li><a href="/plugins/testing/?group_id=1&resource=requirement">Requirements</a></li>
  <li class="active"><a href="/plugins/testing/?group_id=1&resource=campaign">Campaigns</a></li>
  <li><a href="/plugins/testing/?group_id=1&resource=report">Reports</a></li>
</ul>

<h2>{{# campaign }}<a href="{{ show_uri }}">{{ name }}</a> » {{/ campaign }}
    Reports
</h2>

<h3>Pie chart pass/fail</h3>
<canvas id="myChart" width="200" height="200"></canvas>

<script type="text/javascript">
    var ctx = $("myChart").getContext("2d");
    var myNewChart = new Chart(ctx).Pie([{value:193, color: '#5bb75b'}, {value:10, color: '#da4f49'}],{animation: false});
</script>

<h3>Tracability matrix</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Requirement</th>
            <th>Test Case</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        {{# matrix }}
        <tr>
            {{# requirement }}
            <td rowspan="{{ nb_of_tests }}">{{ name }}</th>
            {{/ requirement }}
            {{# testexecution }}
            <td>{{ name }}</td>
            <td>{{> label-status }}</td>
            {{/ testexecution }}
        </tr>
        {{/ matrix }}
    </tbody>
</table>
