<div
        id="siteadmin-config-providers-modal-create-azure"
        class="tlp-modal siteadmin-config-providers-update-modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="siteadmin-config-providers-modal-create-title"
        aria-hidden="true"
>
    <div class="tlp-modal-header">
        <h1
                id="siteadmin-config-providers-modal-create-title"
                class="tlp-modal-title"
        >
            <i class="fa fa-plus tlp-modal-title-icon"></i> {{ add_new_provider }}
        </h1>
        <div
                class="tlp-modal-close"
                data-dismiss="modal"
                aria-label="Close"
        >&times;</div>
    </div>
    <form method="post">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        <input type="hidden" name="action" value="create-azure-provider">
        <div class="tlp-modal-body">
            {{> administration-providers-create-form-begining}}
            <div id="siteadmin-config-providers-modal-create-azure"
                 class="tlp-form-element">
                <div class="tlp-form-element" id="tenant_id_container">
                    <label class="tlp-label" for="tenant_id">
                        {{ tenant_id }} <i class="fa fa-asterisk"></i>
                    </label>
                    <input
                            type="text"
                            class="tlp-input"
                            id="tenant_id"
                            name="tenant_id"
                            required
                    >
                </div>
            </div>
            {{> administration-providers-create-form-ending}}
        </div>
    </form>
</div>
