<div class="container text-center">
    <div class="row-fluid">
        <h2 id="login-title">{{ link_page_title }}</h2>
        <span>{{ link_page_header }}</span>
    </div>
</div>

<div class="container login">
    <div class="row-fluid">
        <div class="login-tuleap">
            <h3>{{ link_login_with_tuleap }}</h3>
            <form action="?action=link-existing" method="post" name="form_login" autocomplete="off">
                <input type="hidden" name="link_id" value="{{ link_id }}">
                <input type="hidden" name="return_to" value="{{ return_to }}">

                <div class="control-group">
                    <label class="control-label" for="loginname">{{ account_login_name }}</label>
                    <div class="controls">
                        <input type="text" id="loginname" name="loginname" autofocus>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password">{{ account_login_password }}</label>
                    <div class="controls">
                        <input type="password" id="password" name="password">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="login" value="{{ account_login_login_btn }}" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>