<div id="login-box">
    <a id="login-help" href="mailto:{{ help_email }}?Subject={{ help_subject }}">
        <span>{{ need_help }}</span>
        <i class="fa fa-question-circle"></i>
    </a>

    <h1>{{ account_login_login_with_tuleap }}</h1>

    <div id="login-intro">
        {{{ login_intro }}}
    </div>

    <div id="login-openid-providers">
        <div id="login-openid-providers-list">
            <!--
            {{# providers }}
            --><a href="{{ authorization_request_uri }}" class="btn {{# color }}btn-primary {{ color }}{{/ color }} provider-button">{{# icon }}<i class="fa fa-{{ icon }}"></i> {{/ icon }}{{ name }}</a><!--
            {{/ providers }}
            -->
        </div>
    </div>
</div>
