<?php // -*-html-*-
rcs_id('$Id: body.tmpl 1422 2005-04-12 13:33:49Z guerin $');
?>

<body>
<div id="header">
<?= Template('top') ?>
</div>

<div id="content">
<?= $CONTENT ?>
</div>
</body>
</html>

