<?php // -*-html-*-
  rcs_id('$Id: browse-footer.tmpl 1422 2005-04-12 13:33:49Z guerin $');
  /**
     *	Changes by Sabri LABBENE
     *	All of the current template elements were removed
     *	to fit "Wiki pages full screen display" needs.
     */
?>
