<?php // -*-html-*-
rcs_id('$Id: browse.tmpl 1422 2005-04-12 13:33:49Z guerin $');
?>

<?php if (! $revision->isCurrent()) { ?>
  <p><strong><?=_("Note:")?></strong>
     <?=_("You are viewing an old revision of this page.")?>
  <?= Button('browse', _("View the current version"), $page)?>.
  </p>
<?php } ?>
<?php if (!empty($redirected)) { ?>
  <p><?= $redirected ?></p>
<?php } ?>

<?=$CONTENT?>

