This note gives you some tips to get started.

You need to know a few things:

* The base unit of Tuleap is the Project.
* It's a kind of workspace where you will find various tools called Services (eg 'git', 'documentation', 'tracking').
* Everything is done in a Project in Tuleap so you might need to create or join one do something useful here.

When you are lost, you can get help from [Documentation](/doc/en/index.html) or [Tuleap Community](https://www.tuleap.org/tuleap-community). You can also look for [Pro
Support](https://www.tuleap.org/tuleap-community/professional-partners).

{{# site_name_is_not_tuleap }}
{{ site_name }} is {{ sys_long_org_name }} name of Tuleap.
{{/ site_name_is_not_tuleap }}
