<h1 data-test="git-administration-page">{{ git_admin }}</h1>

<div class="tabbable">
    <ul class="nav nav-tabs git-admin-tabs">
        <li>
            <a href="/plugins/git/?action=admin-gerrit-templates&group_id={{ project_id }}">{{ tab_gerrit_templates }}</a>
        </li>
        <li>
            <a href="/plugins/git/?action=admin-git-admins&group_id={{ project_id }}">{{ tab_git_admins }}</a>
        </li>
        {{# are_mirrors_defined }}
            <li>
                <a href="/plugins/git/?action=admin-mass-update&group_id={{ project_id }}">{{ tab_mass_update }}</a>
            </li>
        {{/ are_mirrors_defined }}
        <li>
            <a href="/plugins/git/?action=admin-default-settings&group_id={{ project_id }}">{{ tab_template_settings }}</a>
        </li>
        {{# external_pane_presenters }}
            <li {{# isActive }}class="active"{{/ isActive }}>
                <a href="{{ getUrl }}">{{ getPaneName }}</a>
            </li>
        {{/ external_pane_presenters }}
    </ul>

    <div class="git-administration-jenkins-server">

        <h2>Jenkins</h2>
        <p class="git-jenkins-administration-desc">
            {{# dgettext }} tuleap-hudson_git | Configuration of Jenkins servers that will be triggered at each push in any repository of the project. {{/ dgettext }}
        </p>

        <button
            type="button"
            class="btn btn-primary add-jenkins-server-btn"
            data-toggle="modal"
            data-target="#modal-add-jenkins-server"
        >
            <i class="fa fa-plus"></i> {{# dgettext }} tuleap-hudson_git | Add a Jenkins server{{/ dgettext }}
        </button>

        <table class="table hooks-list">
            <thead>
            <tr>
                <th>{{# dgettext }} tuleap-hudson_git | Jenkins URL{{/ dgettext }}</th>
                <th>{{# dgettext }} tuleap-hudson_git | Actions{{/ dgettext }}</th>
            </tr>
            </thead>
            <tbody>
            {{# jenkins_server_presenters }}
                <tr>
                    <td>
                        {{ jenkins_server_url }}
                    </td>
                    <td class="action-buttons">
                        <a role="button" data-toggle="modal" href="#modal-logs-{{ jenkins_server_id }}">
                            <i class="fa fa-list"></i> {{# dgettext }} tuleap-hudson_git | Logs{{/ dgettext }}
                        </a>
                        <a href="javascript:;"
                           class="remove-jenkins-server"
                           data-toggle="popover"
                           data-trigger="click"
                           data-placement="left"
                           data-html="true"
                           data-popover-id="remove-{{ jenkins_server_id }}-popover"
                        >
                            <i class="fa fa-trash-o"></i> {{# dgettext }} tuleap-hudson_git | Remove{{/ dgettext }}
                        </a>

                        {{> modal-logs }}
                        {{> popover-remove-jenkins-server }}
                    </td>
                </tr>
            {{/ jenkins_server_presenters }}
            {{^ jenkins_server_presenters }}
            <tr>
                <td class="table-cell-empty" colspan="2">
                    {{# dgettext }} tuleap-hudson_git | No Jenkins server configured yet.{{/ dgettext }}
                </td>
            </tr>
            {{/ jenkins_server_presenters }}
            </tbody>
        </table>
    </div>

    {{> modal-add-jenkins-server }}
</div>
