<form action="/plugins/hudson_git/jenkins_server/delete"
      method="POST"
      id="modal-remove-{{ jenkins_server_id }}"
      aria-labelledby="modal-remove-{{ jenkins_server_id }}-title"
      class="tlp-modal tlp-modal-danger"
      role="dialog"
>
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title" id="modal-remove-{{ jenkins_server_id }}-title">
            {{# dgettext }} tuleap-hudson_git | Delete Jenkins server{{/ dgettext }}
        </h1>

        <button class="tlp-modal-close" type="button" data-dismiss="modal" aria-label="{{# gettext }}Close{{/ gettext }}">
            <i class="fa-solid fa-xmark tlp-modal-close-icon" aria-hidden="true"></i>
        </button>
    </div>

    <div class="tlp-modal-body">
        <p>{{# dgettext }} tuleap-hudson_git | You are about to remove the Jenkins server. Please confirm your action.{{/ dgettext }}</p>

        <div class="tlp-property">
            <label class="tlp-label">
                {{# dgettext }} tuleap-hudson_git | Jenkins server{{/ dgettext }}
            </label>
            <p>{{ jenkins_server_url }}</p>
        </div>
        {{# csrf_delete }}
            {{> csrf_token_input }}
        {{/ csrf_delete }}

        <input type="hidden" name="jenkins_server_id" value="{{ jenkins_server_id }}"/>
    </div>
    <div class="tlp-modal-footer">
        <button type="button" class="tlp-button-danger tlp-button-outline tlp-modal-action" data-dismiss="modal">{{# dgettext }} tuleap-hudson_git | Cancel{{/ dgettext }}</button>
        <button type="submit" class="tlp-button-danger tlp-modal-action">{{# dgettext }} tuleap-hudson_git | Confirm deletion{{/ dgettext }}</button>
    </div>
</form>
