<div id="remove-{{ jenkins_server_id }}-popover" class="remove-hook-popover">
    <form action="/plugins/hudson_git/jenkins_server/delete" method="POST">
        <p>{{# dgettext }} tuleap-hudson_git | You are about to remove the Jenkins server. Please confirm your action.{{/ dgettext }}</p>

        {{# csrf_delete }}
            {{> csrf_token_input }}
        {{/ csrf_delete }}

        <input type="hidden" name="jenkins_server_id" value="{{ jenkins_server_id }}"/>

        <div class="remove-jenkins-server-confirm-actions">
            <button type="button" class="btn btn-small btn-default dismiss-popover">{{# dgettext }} tuleap-hudson_git | Cancel{{/ dgettext }}</button>
            <button type="submit" class="btn btn-small btn-danger">{{# dgettext }} tuleap-hudson_git | Confirm deletion{{/ dgettext }}</button>
        </div>
    </form>
</div>
