<span class="vue-colorpicker-mount-point"
    data-input-name="{{ input_name }}"
    data-input-id="{{ input_id }}"
    data-current-color="{{ current_color }}"
    data-is-switch-disabled="{{ is_switch_disabled }}"
    data-is-old-palette-enabled="{{ is_old_palette_enabled }}"
></span>
