<form action="/project/admin/labels.php?group_id={{ project_id }}"
      method="POST"
      class="tlp-modal"
      id="project-label-edit-{{ id }}"
      role="dialog"
>
    {{# csrf_token }}
        {{> csrf_token_input }}
    {{/ csrf_token }}
    <input type="hidden" name="action" value="edit">
    <input type="hidden" name="id" value="{{ id }}">
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title">
            <i class="fa fa-pencil tlp-modal-title-icon"></i> {{ edit_title }}
        </h1>
        <div class="tlp-modal-close" tabindex="0" role="button" data-dismiss="modal" aria-label="{{ cancel }}">×</div>
    </div>
    {{> label-modal-form }}
</form>
