<form action="/project/admin/labels.php?group_id={{ project_id }}"
      method="POST"
      class="tlp-modal"
      id="project-label-edit-{{ id }}"
      role="dialog"
>
    <div class="tlp-modal-header">
        <h1 class="tlp-modal-title">
            <i class="fa fa-pencil tlp-modal-title-icon"></i> {{ edit_title }}
        </h1>
        <div class="tlp-modal-close" data-dismiss="modal" aria-label="{{ cancel }}">×</div>
    </div>
    <div class="tlp-modal-body">
        {{# csrf_token }}
            {{> csrf_token_input }}
        {{/ csrf_token }}
        <input type="hidden" name="action" value="edit">
        <input type="hidden" name="id" value="{{ id }}">
        <div class="tlp-form-element">
            <label class="tlp-label" for="name-{{ id }}">{{ name_label }} <i class="fa fa-asterisk"></i></label>
            <input type="text"
                   class="tlp-input project-label-edit-name"
                   id="name-{{ id }}"
                   name="name"
                   placeholder="Emergency"
                   value="{{ name }}"
                   data-original-value="{{ name }}"
                   data-target-warning-id="project-label-edit-warning-{{ id }}"
                   data-target-cancel-id="project-label-edit-footer-cancel-{{ id }}"
                   data-target-save-id="project-label-edit-footer-save-{{ id }}"
                   data-warning-message="{{ warning_message }}"
                   required>
        </div>

        <div class="project-label-edit-options">
            <div class="tlp-form-element">
                <label class="tlp-label" for="color-{{ id }}">{{ color_label }} <i class="fa fa-asterisk"></i></label>
                <select
                    class="tlp-select project-label-color-selector"
                    id="color-{{ id }}"
                    name="color"
                >
                    {{# colors_presenters }}
                        <option value="{{ color }}" {{# is_selected }}selected{{/ is_selected }}></option>
                    {{/ colors_presenters }}
                </select>
            </div>

            <div class="tlp-form-element project-label-edit-style">
                <label class="tlp-label" for="color-{{ id }}">{{ style_label }} <i class="fa fa-asterisk"></i></label>
                <div class="tlp-form-element project-label-edit-style-options">
                    <label class="tlp-label tlp-radio">
                        <input type="radio" name="is_outline" value="0" {{^ is_outline }}checked{{/ is_outline }}> {{ plain }}
                    </label>
                    <label class="tlp-label tlp-radio project-label-edit-style-option-outline">
                        <input type="radio" name="is_outline" value="1" {{# is_outline }}checked{{/ is_outline }}> {{ outline }}
                    </label>
                </div>
            </div>
        </div>

        <div class="tlp-alert-warning project-label-edit-warning" id="project-label-edit-warning-{{ id }}">
        </div>
    </div>
    <div class="tlp-modal-footer project-label-edit-footer">
        <button type="reset"
                class="tlp-button-primary tlp-button-outline tlp-modal-action"
                id="project-label-edit-footer-cancel-{{ id }}"
                data-dismiss="modal"
        >
            {{ cancel }}
        </button>
        <button type="submit"
                class="tlp-button-primary tlp-modal-action"
                id="project-label-edit-footer-save-{{ id }}"
        >
            <i class="fa fa-save tlp-button-icon"></i> {{ save }}
        </button>
    </div>
</form>
